Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

DOTMART-122: remove migration trial option from onboarding checkout (#109119)
  client/landing/stepper/declarative-flow/flows/site-migration-flow/site-migration-flow.ts
  client/landing/stepper/declarative-flow/flows/site-migration-flow/test/site-migration-flow.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-upgrade-plan/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-upgrade-plan/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-upgrade-plan/test/index.tsx
Owners: none

Remove domains/suggestions-pp feature flag (#109142)
  client/lib/domains/suggestions/index.ts
Owners: none

Help Center: Track route changes in CIAB admin to update resources (#109124)
  apps/help-center/help-center-ciab-admin.js
Owners: none

Reader: Fix ReaderFeedHeader not showing on large screens
  client/blocks/reader-feed-header/index.jsx
  client/blocks/reader-feed-header/style.scss
  client/reader/feed-stream/index.jsx
  client/reader/site-stream/index.jsx
  client/reader/stream/index.jsx
  client/reader/stream/site-feed-sidebar/index.jsx
Owners: @Automattic/loop

Guard base cache publishing to default-branch TeamCity builds (#109128)
  .teamcity/_self/projects/WebApp.kt
Owners: none

Dashboard: Filter CIAB domains listing (#109017)
  client/dashboard/app-ciab/index.tsx
  client/dashboard/app-dotcom/index.tsx
  client/dashboard/app/context.tsx
  client/dashboard/app/router/domains.ts
  client/dashboard/app/router/emails.tsx
  client/dashboard/app/router/sites.tsx
  client/dashboard/domains/dataviews/bulk-actions-progress-notice.tsx
  client/dashboard/domains/dataviews/fields.tsx
  client/dashboard/domains/domain/index.tsx
  client/dashboard/domains/index.tsx
  client/dashboard/emails/choose-domain/index.tsx
  client/dashboard/emails/index.tsx
  client/dashboard/sites/domains/index.tsx
  client/dashboard/sites/overview-domains-card/index.tsx
  client/dashboard/sites/settings-site-visibility/privacy-form.tsx
  client/dashboard/sites/site-change-address-modal/content.tsx
  client/dashboard/sites/site-launch-button/index.tsx
  packages/api-core/src/domains/fetchers.ts
  packages/api-queries/src/domain-transfer.ts
  packages/api-queries/src/domains.ts
  packages/api-queries/src/site-address-change.ts
  packages/api-queries/src/site-domains.ts
Owners: @Automattic/lego

A4A: Remove requirements for BD system for referring Pressable Premium plans. (#109072)
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/premier-agency-hosting/pressable-plan-section/index.tsx
  client/a8c-for-agencies/sections/marketplace/pressable-overview/plan-selection/filter.tsx
Owners: none

Key webpack persistent cache by build flavor and config inputs (#109129)
  client/webpack.config.js
Owners: none

Prime the base image webpack cache for the common production build flavor (#109146)
  .teamcity/settings.kts
  Dockerfile.base
Owners: none

Redirect paid plugins to plans page before checkout (#109015)
  client/my-sites/plans-features-main/hooks/use-generate-action-callback.ts
  client/my-sites/plans-features-main/hooks/use-generate-action-hook.tsx
  client/my-sites/plans-features-main/hooks/use-plan-type-destination-callback.ts
  client/my-sites/plans-features-main/index.tsx
  client/my-sites/plans/controller.jsx
  client/my-sites/plans/main.jsx
  client/my-sites/plugins/plugin-details-CTA/CTA-button.jsx
  client/my-sites/plugins/plugin-details-CTA/usps.tsx
Owners: none

Reader: Migrate the useReadFeedSearchQuery and useReadFeedQuery to use the new api-core api-queries structure (#109111)
  client/blocks/reader-feed-item/index.tsx
  client/reader/site-subscriptions-manager/not-found-site-subscriptions.tsx
  client/reader/site-subscriptions-manager/unsubscribed-feeds-search-list/index.tsx
  packages/api-core/src/index.ts
  packages/api-core/src/read-feeds/fetchers.ts
  packages/api-core/src/read-feeds/index.ts
  packages/api-core/src/read-feeds/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/read-feed.ts
  packages/data-stores/src/reader/index.ts
  packages/data-stores/src/reader/queries/index.ts
  packages/data-stores/src/reader/queries/test/use-read-feed-search-query.tsx
  packages/data-stores/src/reader/queries/use-read-feed-query.ts
  packages/data-stores/src/reader/queries/use-read-feed-search-query.ts
Owners: @Automattic/loop

Revert "Redirect paid plugins to plans page before checkout (#109015)" (#109152)
  client/my-sites/plans-features-main/hooks/use-generate-action-callback.ts
  client/my-sites/plans-features-main/hooks/use-generate-action-hook.tsx
  client/my-sites/plans-features-main/hooks/use-plan-type-destination-callback.ts
  client/my-sites/plans-features-main/index.tsx
  client/my-sites/plans/controller.jsx
  client/my-sites/plans/main.jsx
  client/my-sites/plugins/plugin-details-CTA/CTA-button.jsx
  client/my-sites/plugins/plugin-details-CTA/usps.tsx
Owners: none

Survicate: Fire CES survey events after purchase, cancellation, and refund (#109090)
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/me/purchases/cancel-purchase/index.tsx
  client/me/purchases/remove-purchase/index.jsx
  client/my-sites/checkout/checkout-thank-you/pending/index.tsx
  packages/survicate/src/index.ts
  packages/survicate/src/invoke-event.ts
  packages/survicate/src/test/invoke-event.test.ts
Owners: @Automattic/lego

Make `Build base images` publish deterministic `latest` tags (#109151)
  .teamcity/settings.kts
Owners: none

Prime both production webpack cache flavors in `Dockerfile.base` (#109156)
  Dockerfile.base
Owners: none

Build Base Image: Increase timeout (#109159)
  .teamcity/settings.kts
Owners: none

Replace custom webpack read-only cache plugin with `cache.readonly` (#109158)
  build-tools/webpack/readonly-cache-plugin.js
  client/webpack.config.js
Owners: none

cleanup 1 (#109160)
  client/components/seo/meta-title-editor/title-builder.js
  client/dashboard/emails/utils/get-product-slug-for-provider-and-interval.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-already-wpcom/types.ts
  client/my-sites/earn/customers/customer/customer-stats.tsx
  client/signup/steps/hosting-decider/hosting-flow-forking-ctas.tsx
  packages/image-studio/src/store/actions.ts
Owners: @Automattic/lego

Remove A4A "Building sites for customers?" banner from /sites (#109133)
  client/sites/components/sites-dashboard-banners-manager.tsx
  client/sites/components/sites-dashboard-banners/use-a8c-for-agencies-sites-banner.tsx
  client/sites/components/sites-dashboard.tsx
  client/sites/components/test/sites-dashboard-banners-manager.test.tsx
Owners: none

Dashboard: OAuth-aware auth for Woo hostnames (take 2) (#109135)
  client/dashboard/app/auth/index.tsx
  client/dashboard/app/auth/oauth-callback.ts
  client/dashboard/app/boot.tsx
  client/dashboard/section.ts
  client/server/render/index.js
  config/_shared.json
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  config/development.json
Owners: @Automattic/lego

A4A: Add dedicated TeamCity build config for A4A E2E tests (#109140)
  .teamcity/_self/projects/WebApp.kt
Owners: none

Image Studio: Fix dropdown menu hidden behind modal overlay (#109100)
  packages/image-studio/src/components/style.scss
Owners: none

WPCOM Gutenberg RTC: Introduce wpcom-gutenberg-rtc app (#109167)
  apps/wpcom-gutenberg-rtc/README.md
  apps/wpcom-gutenberg-rtc/package.json
  apps/wpcom-gutenberg-rtc/src/index.ts
  apps/wpcom-gutenberg-rtc/src/providers/pinghub/README.md
  apps/wpcom-gutenberg-rtc/src/providers/pinghub/index.ts
  apps/wpcom-gutenberg-rtc/src/providers/pinghub/pinghub-bridge.ts
  apps/wpcom-gutenberg-rtc/src/providers/pinghub/pinghub-manager.ts
  apps/wpcom-gutenberg-rtc/src/providers/pinghub/pinghub-provider.ts
  apps/wpcom-gutenberg-rtc/src/sync-types.ts
  apps/wpcom-gutenberg-rtc/src/types.d.ts
  apps/wpcom-gutenberg-rtc/tsconfig.json
  apps/wpcom-gutenberg-rtc/webpack.config.js
  yarn.lock
Owners: none

Remove google-transfer flow (#108388)
  client/assets/images/customer-home/illustration--task-google-domain-owners-mobile.svg
  client/assets/images/customer-home/illustration--task-google-domain-owners.svg
  client/assets/images/domains/pick-google-domain.png
  client/data/site-profiler/types.ts
  client/landing/stepper/declarative-flow/flows/google-transfer/README.md
  client/landing/stepper/declarative-flow/flows/google-transfer/google-transfer.ts
  client/landing/stepper/declarative-flow/internals/components/google-domains-transfer-instructions/index.tsx
  client/landing/stepper/declarative-flow/internals/components/google-domains-transfer-instructions/style.scss
  client/landing/stepper/declarative-flow/internals/components/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-transfer-domains/domain-code-pair.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-transfer-domains/faqs.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-transfer-domains/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-transfer-domains/styles.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-transfer-intro/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-transfer-intro/intro.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-transfer-intro/styles.scss
  client/landing/stepper/declarative-flow/registered-flows.ts
  client/landing/stepper/declarative-flow/test/deprecated-flows.tsx
  client/landing/stepper/utils/flow-redirect-handler.ts
  client/my-sites/checkout/src/components/checkout-main-content.tsx
  client/my-sites/checkout/src/components/google-transfers-copy.tsx
  client/my-sites/customer-home/cards/constants.js
  client/my-sites/customer-home/cards/tasks/google-domain-owners/index.jsx
  client/my-sites/customer-home/cards/tasks/google-domain-owners/style.scss
  client/my-sites/customer-home/locations/card-components.ts
  client/my-sites/domains/domain-management/list/bulk-all-domains.tsx
  client/my-sites/domains/domain-management/list/bulk-site-domains.tsx
  client/my-sites/domains/domain-management/list/google-domain-owner-banner.tsx
  client/my-sites/domains/domain-management/list/style.scss
  client/site-profiler/components/heading-information/index.tsx
  client/site-profiler/components/heading-information/status-cta-info.tsx
  client/site-profiler/components/heading-information/status-info.tsx
  client/site-profiler/hooks/use-define-conversion-action.ts
  packages/onboarding/src/utils/flows.ts
Owners: @Automattic/dotcom-stepper, @Automattic/shilling

Calypso apps: Build wpcom-gutenberg-rtc on teamcity (#109168)
  .teamcity/_self/projects/WPComPlugins.kt
Owners: none

Help Center: Route CIAB users to production Zendesk (#109150)
  apps/help-center/config.js
Owners: none

Update `smooch` to latest (#109080)
  packages/help-center/package.json
  packages/odie-client/package.json
  yarn.lock
Owners: @Automattic/t-rex

Remove onHover animation from the Floating AI Chat (#109086)
  client/package.json
  packages/agents-manager/package.json
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-history/index.tsx
  packages/agents-manager/src/components/support-guide/index.tsx
  packages/agents-manager/src/components/support-guides/index.tsx
  packages/image-studio/package.json
  packages/odie-client/package.json
  yarn.lock
Owners: none

wpcom-gutenberg-rtc: Fix external yjs dependency (#109169)
  apps/wpcom-gutenberg-rtc/webpack.config.js
Owners: none

Partner Branding: detect partner from domain and redirect URLs (#108924)
  client/blocks/login/login-form.jsx
  client/lib/partner-branding.tsx
  client/lib/test/partner-branding.tsx
  client/login/magic-login/index.jsx
  client/login/magic-login/test/index.test.jsx
  client/login/wp-login/index.jsx
  client/signup/steps/user/index.jsx
Owners: none

Smooch fixes (#109144)
  packages/odie-client/src/components/notices/use-connection-status-notice.tsx
  packages/odie-client/src/hooks/use-create-zendesk-conversation.ts
Owners: none

pre-commit-hook: replace deleted apps/phpcs.xml with WordPress standard (#109075)
  bin/pre-commit-hook.js
Owners: none

Theme Showcase: Add sectioned recommended layout for modern showcase (#109153)
  client/my-sites/themes/banners-modern/style.scss
  client/my-sites/themes/collections/collection-definitions.tsx
  client/my-sites/themes/collections/use-theme-collection.ts
  client/my-sites/themes/index.node.js
  client/my-sites/themes/index.web.js
  client/my-sites/themes/sections-modern/recommended-sections.tsx
  client/my-sites/themes/sections-modern/style.scss
  client/my-sites/themes/sections-modern/test/recommended-sections.test.tsx
  client/my-sites/themes/sections-modern/test/theme-section.test.tsx
  client/my-sites/themes/sections-modern/theme-section-header.tsx
  client/my-sites/themes/sections-modern/theme-section.tsx
  client/my-sites/themes/test/logged-out.jsx
  client/my-sites/themes/theme-showcase.jsx
  client/my-sites/themes/theme-showcase.scss
Owners: none

Help Center: Remove unused FeatureFlagContext (#DOTCOM-16285) (#109172)
  packages/help-center/src/components/help-center-container.tsx
  packages/help-center/src/contexts/FeatureFlagContext.tsx
  packages/help-center/src/types.ts
Owners: @Automattic/t-rex

Help Center: Offer premium support to CIAB users (#109155)
  packages/help-center/src/components/help-center-content.tsx
  packages/help-center/src/components/help-center-smooch.tsx
  packages/help-center/src/components/notices.tsx
  packages/help-center/src/feature-config/presets.ts
  packages/help-center/src/feature-config/types.ts
Owners: @Automattic/t-rex

Theme Showcase: Limit themes returned by useThemeCollection to query.number (#109174)
  client/my-sites/themes/collections/use-theme-collection.ts
Owners: none

Cleanup: Remove 6 unreferenced files (#109173)
  client/dashboard/components/full-screen-overlay/index.tsx
  client/dashboard/components/full-screen-overlay/style.scss
  client/dashboard/emails/components/no-domains-available-empty-state.tsx
  client/dashboard/emails/components/no-emails-available-empty-state.tsx
  client/dashboard/sites/domains/placeholder.tsx
  client/dashboard/sites/overview/trend-comparizon-badge.tsx
Owners: @Automattic/lego

Fix Activity Log capitalization on Cloud.jetpack.com when backups enabled (#109132)
  client/my-sites/activity/activity-log-v2/index.tsx
Owners: none

Adjust Stats display in Billing History. Fixes Linear: JETH-9313 (#108574)
  client/dashboard/me/billing-history/utils.tsx
  client/dashboard/utils/purchase.ts
  client/me/purchases/billing-history/utils.tsx
Owners: @Automattic/lego, @Automattic/shilling

Theme Showcase: Modernize collection view header and theme list padding (#109180)
  client/my-sites/themes/collections/theme-collection-view-header.scss
  client/my-sites/themes/hero-modern/style.scss
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
