Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Dashboard: Make Logs accessible to sites with Jetpack critical errors (#110174)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/critical-error/index.tsx
  client/dashboard/sites/logs-activity/dataviews/actions.tsx
  client/dashboard/sites/logs/index.tsx
  client/dashboard/sites/site/notices.tsx
  client/dashboard/utils/site-jetpack-critical-error.ts
  client/sites/overview/components/critical-error/index.tsx
  client/sites/v2/site-overview/router.tsx
Owners: @Automattic/lego

Add AGENTS.md for dark-mode in dashboard and @package/ui (#110183)
  client/dashboard/AGENTS.md
  packages/ui/AGENTS.md
  packages/ui/CLAUDE.md
Owners: @Automattic/lego

CI: refactor AI PR-review workflows + add @claude /review (#110179)
  .github/prompts/general-pr-review.md
  .github/workflows/a4a-pr-review.yml
  .github/workflows/dashboard-pr-review.yml
  .github/workflows/pr-review-on-ping.yml
  .github/workflows/pr-review.yml
Owners: none

Omnibar: refactor rendering logic to utilize meta (#110185)
  client/dashboard/app/omnibar/index.tsx
  packages/omnibar/src/components/omnibar-home.tsx
  packages/omnibar/src/components/omnibar-menu.tsx
  packages/omnibar/src/components/omnibar-node.tsx
  packages/omnibar/src/components/omnibar-site.tsx
  packages/omnibar/src/components/omnibar-user.tsx
  packages/omnibar/src/components/omnibar.scss
  packages/omnibar/src/types/index.ts
  packages/omnibar/src/types/omnibar.ts
  packages/omnibar/src/utils/admin-bar.tsx
Owners: @Automattic/lego

Dashboard: Add PHP logs link to critical error screens (#110187)
  client/dashboard/sites/critical-error/index.tsx
  client/dashboard/utils/site-jetpack-critical-error.ts
  client/sites/overview/components/critical-error/index.tsx
Owners: @Automattic/lego

CI: fix AI review auto-fire and turn limit (#110186)
  .github/workflows/a4a-pr-review.yml
  .github/workflows/dashboard-pr-review.yml
  .github/workflows/pr-review.yml
Owners: none

Reader: On This Day `month` / `day` query params (#110192)
  client/reader/on-this-day/get-stream-key.ts
  client/reader/on-this-day/index.tsx
  client/reader/on-this-day/main.tsx
  client/state/data-layer/wpcom/read/streams/index.js
Owners: @Automattic/loop

Omnibar: construct user info node (#110195)
  packages/omnibar/src/components/omnibar-user.scss
  packages/omnibar/src/components/omnibar-user.tsx
  packages/omnibar/src/utils/admin-bar.tsx
Owners: none

CI: switch AI review auto-fire to pull_request, fix self-cancellation (#110194)
  .github/prompts/a4a-pr-review.md
  .github/prompts/dashboard-pr-review.md
  .github/prompts/general-pr-review.md
  .github/workflows/a4a-pr-review.yml
  .github/workflows/dashboard-pr-review.yml
  .github/workflows/pr-review-on-ping.yml
  .github/workflows/pr-review.yml
Owners: none

Handling of html5_v03 format in ad-preview (#110191)
  client/my-sites/promote-post-i2/components/ad-preview/index.tsx
  client/my-sites/promote-post-i2/components/campaign-item-details/index.tsx
  client/my-sites/promote-post-i2/components/campaign-item-details/style.scss
Owners: none

CI: fix workflow parse error from inlined prompt's literal expression (#110203)
  .github/workflows/pr-review.yml
Owners: none

[RSM-1196] Fix dashboard dark mode notices and icons (#110193)
  client/dashboard/app/_dark-theme.scss
  client/dashboard/components/logs-activity/activity-event.scss
  client/dashboard/components/notice/icons.tsx
  client/dashboard/me/profile-gravatar/edit-gravatar.tsx
  client/dashboard/me/profile-gravatar/index.tsx
  client/dashboard/me/profile-gravatar/style.scss
Owners: @Automattic/lego

Fix badge hardcoded colors (#110197)
  client/dashboard/app/_dark-theme.scss
  client/dashboard/sites/logs/dataviews/style.scss
  packages/ui/src/badge/style.module.scss
Owners: @Automattic/lego

CI: pin AI review to the triggering PR number (#110208)
  .github/workflows/pr-review.yml
Owners: none

E2E: Wait for Froms modal to close rather than doing a 1s timeout (#110159)
  packages/calypso-e2e/src/lib/pages/feedback-inbox-page.ts
Owners: none

Omnibar: support SSR (#110209)
  client/dashboard/app/boot.tsx
  client/dashboard/app/omnibar/index.tsx
  client/dashboard/app/omnibar/omnibar.tsx
  client/dashboard/app/omnibar/style.scss
  client/document/index.jsx
  packages/omnibar/package.json
  packages/omnibar/src/components/omnibar-user.tsx
  packages/omnibar/src/style.scss
Owners: @Automattic/lego

Reader: redirect /reader/users/me to current user's profile (#110165)
  client/reader/index.ts
  client/reader/user-profile/controller.tsx
  client/reader/user-profile/test/controller.test.tsx
Owners: @Automattic/loop

CI: harden AI review workflows per @taipeicoder review (#110214)
  .github/workflows/a4a-pr-review.yml
  .github/workflows/dashboard-pr-review.yml
  .github/workflows/pr-review-on-ping.yml
  .github/workflows/pr-review.yml
Owners: none

wpcom-block-editor: Attach delegate tracking listeners to canvas iframe (#110188)
  apps/wpcom-block-editor/src/wpcom/features/tracking.js
Owners: none

wpcom-block-ediotr: Track core/missing block actions (#110189)
  apps/wpcom-block-editor/src/wpcom/features/tracking/delegate-event-tracking.js
  apps/wpcom-block-editor/src/wpcom/features/tracking/wpcom-block-editor-missing-block-action-click.js
Owners: none

Add calendar dark mode (#110217)
  client/dashboard/components/date-range-picker/style.scss
  packages/ui/src/calendar/styles.module.scss
Owners: @Automattic/lego

Add dark mode repository colors (#110212)
  client/dashboard/components/code-highlighter/style.scss
  client/dashboard/sites/deployments-list/branch-display.tsx
  client/dashboard/sites/settings-repositories/dataviews/fields.tsx
  client/dashboard/sites/settings-repositories/owner-display.tsx
  client/dashboard/sites/settings-repositories/target-dir-display.tsx
  client/dashboard/sites/settings-repositories/workflow-validation-list.tsx
Owners: @Automattic/lego

Fix: plan card hardcoded colors (#110221)
  client/dashboard/components/stat/style.scss
Owners: @Automattic/lego

Fix audio block showing 0:00 duration in Reader (#110201)
  client/lib/post-normalizer/rule-content-disable-autoplay.js
  client/lib/post-normalizer/test/index.js
Owners: none

Reader: switch achievements grid to /read/achievements/:user (#110205)
  client/data/reader/use-achievements-query.ts
  client/reader/user-profile/views/achievements/achievements-grid/anniversary-achievement.tsx
  client/reader/user-profile/views/achievements/achievements-grid/generic-achievement.tsx
  client/reader/user-profile/views/achievements/achievements-grid/index.tsx
  client/reader/user-profile/views/achievements/achievements-grid/site-based-achievement.tsx
  client/reader/user-profile/views/achievements/achievements-grid/user-based-achievement.tsx
  client/reader/user-profile/views/achievements/index.tsx
  client/reader/user-profile/views/achievements/utils.ts
  packages/api-core/src/index.ts
  packages/api-core/src/me-trophies/fetchers.ts
  packages/api-core/src/me-trophies/types.ts
  packages/api-core/src/read-achievements/fetchers.ts
  packages/api-core/src/read-achievements/index.ts
  packages/api-core/src/read-achievements/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/me-trophies.ts
  packages/api-queries/src/read-achievements.ts
Owners: @Automattic/loop

Performance: register performance/apm feature flag (#110228)
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

Onboarding: fix post-checkout-onboarding flow getting stuck on loading page (#110172)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/post-checkout/post-checkout-onboarding.tsx
  client/landing/stepper/hooks/use-marketplace-theme-products.ts
  client/state/products-list/selectors/get-products-list.ts
  client/state/themes/theme-utils.ts
  packages/api-core/src/products/fetchers.ts
  packages/api-core/src/products/types.ts
  packages/api-queries/src/products.ts
Owners: none

Onboarding: track post-checkout setup errors via Tracks (#110233)
  client/landing/stepper/declarative-flow/internals/steps-repository/post-checkout/post-checkout-onboarding.tsx
Owners: none

Upgrade Node.js from 22.9.0 to 24.15.0 (#110139)
  .circleci/config.yml
  .nvmrc
  Dockerfile
  Dockerfile.base
  Dockerfile.cache-seed
  Dockerfile.toolchain
  package.json
  packages/calypso-color-schemes/package.json
  packages/calypso-config/package.json
  packages/calypso-e2e/package.json
  packages/components/package.json
  packages/eslint-plugin-wpcalypso/package.json
  packages/jest-circus-allure-reporter/package.json
  packages/wp-babel-makepot/Dockerfile
  yarn.lock
Owners: none

Omnibar: fix body height when omnibar is present (#110211)
  client/dashboard/app/root/style.scss
Owners: @Automattic/lego

Tests: fix IDR currency tests for Node 24 ICU (#110237)
  packages/components/src/plan-price/test/index.tsx
  packages/format-currency/test/index.ts
Owners: none

Revert "Omnibar: fix body height when omnibar is present (#110211)" (#110236)
  client/dashboard/app/root/style.scss
Owners: @Automattic/lego

AI Review: skip review when PR edits AGENTS.md or CLAUDE.md (#110238)
  .github/workflows/pr-review.yml
Owners: none

A4A: Include estimated transactions in WooPayments dashboard (#110101)
  client/a8c-for-agencies/sections/woopayments/lib/site-data.ts
  client/a8c-for-agencies/sections/woopayments/lib/test/site-data.test.ts
Owners: none

Fixup errors from the async-transform removal (#110245)
  client/devdocs/controller.js
  client/reader/atmosphere/controller.tsx
  client/reader/mastodon/controller.tsx
  client/reader/on-this-day/controller.jsx
  client/reader/onboarding/gate.tsx
Owners: @Automattic/loop

Add `fix-e2e-tests` skill (#110116)
  .claude/skills/fix-e2e-tests/SKILL.md
  .claude/skills/fix-e2e-tests/setup-token.sh
  .gitignore
Owners: none

Add a workflow that adds a comment when e2e tests fail (#110190)
  .github/workflows/e2e-failure-comment.yml
Owners: none

Omnibar: polish styles (#110250)
  packages/omnibar/src/components/omnibar-menu.tsx
  packages/omnibar/src/components/omnibar-site.tsx
  packages/omnibar/src/components/omnibar-user.scss
  packages/omnibar/src/components/omnibar-user.tsx
  packages/omnibar/src/components/omnibar.scss
  packages/omnibar/src/utils/admin-bar.tsx
Owners: none

Stepper: Remove redundant designSetup old-slug mapping (#110234)
  client/landing/stepper/declarative-flow/helpers/get-step-old-slug.ts
Owners: @Automattic/dotcom-stepper

E2E: Replace fixed timeouts in Forms tests with explicit waits (#110216)
  packages/calypso-e2e/src/lib/pages/feedback-inbox-page.ts
  test/e2e/specs/published-content/forms__submissions.ts
Owners: none
