Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Omnibar: radically enable it on development envs (#110328)
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/development.json
  test/e2e/specs/dashboard/dashboard__rum-tracking.spec.ts
Owners: none

Load .env via dotenv in server and Playwright (#109963)
  client/server/config/index.js
  package.json
  packages/calypso-e2e/src/env-variables.ts
  test/e2e/load-env.ts
  test/e2e/package.json
  test/e2e/playwright.config.ts
  yarn.lock
Owners: none

Omnibar: migrate to @wordpress/ui (#110329)
  packages/omnibar/package.json
  packages/omnibar/src/components/omnibar-menu.tsx
  packages/omnibar/src/components/omnibar-node.tsx
  packages/omnibar/src/components/omnibar-responsive-menu.scss
  packages/omnibar/src/components/omnibar-responsive-menu.tsx
  packages/omnibar/src/components/omnibar-site.tsx
  packages/omnibar/src/components/omnibar-user.tsx
  packages/omnibar/src/components/omnibar.scss
  yarn.lock
Owners: none

Omnibar: support nested menu items in New in mobile (#110332)
  packages/omnibar/package.json
  packages/omnibar/src/components/omnibar-menu.tsx
  packages/omnibar/src/components/omnibar-site.tsx
  packages/omnibar/src/components/omnibar.scss
  yarn.lock
Owners: none

Fix AI tools footer border (#110309)
  client/dashboard/sites/settings-ai-tools/style.scss
Owners: @Automattic/lego

Image Studio: add post-editor sidebar panel for one-click video clip generation (#110181)
  packages/image-studio/package.json
  packages/image-studio/src/abilities/index.ts
  packages/image-studio/src/abilities/update-canvas-video.test.ts
  packages/image-studio/src/abilities/update-canvas-video.ts
  packages/image-studio/src/assets/video/styles/informative.webp
  packages/image-studio/src/assets/video/styles/promotional.webp
  packages/image-studio/src/components/generate-layout/index.tsx
  packages/image-studio/src/components/generate-layout/style.scss
  packages/image-studio/src/components/index.tsx
  packages/image-studio/src/components/style-picker/index.test.tsx
  packages/image-studio/src/components/style-picker/index.tsx
  packages/image-studio/src/components/style.scss
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.test.tsx
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.tsx
  packages/image-studio/src/extensions/feature-clip-sidebar.scss
  packages/image-studio/src/extensions/index.test.ts
  packages/image-studio/src/extensions/index.ts
  packages/image-studio/src/hooks/use-image-studio-suggestions.test.ts
  packages/image-studio/src/hooks/use-image-studio-suggestions.ts
  packages/image-studio/src/store/index.ts
  packages/image-studio/src/stores/video-studio/index.test.ts
  packages/image-studio/src/stores/video-studio/index.ts
  packages/image-studio/src/utils/agent-config.ts
  packages/image-studio/src/utils/client-context.test.ts
  packages/image-studio/src/utils/client-context.ts
  packages/image-studio/src/utils/tool-provider.test.ts
  packages/image-studio/src/utils/tool-provider.ts
  yarn.lock
Owners: none

[RSM] agents-manager: Add `supportsSplitScreen` provider capability (#110246)
  apps/agents-manager/jetpack-ai-sidebar.js
  apps/agents-manager/jetpack-ai-sidebar.provider.mjs
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/agent-dock/style.scss
  packages/agents-manager/src/components/agents-manager.tsx
  packages/agents-manager/src/hooks/use-agent-layout-manager/index.tsx
  packages/agents-manager/src/styles/variables.scss
  packages/agents-manager/src/utils/__tests__/load-external-providers.test.ts
  packages/agents-manager/src/utils/load-external-providers.ts
  packages/data-stores/src/agents-manager/actions.ts
  packages/data-stores/src/agents-manager/reducer.ts
  packages/data-stores/src/agents-manager/selectors.ts
  packages/data-stores/src/agents-manager/test/reducer.test.ts
  packages/jetpack-ai-sidebar/src/index.ts
Owners: none

Add Help Center dark mode (#110302)
  client/dashboard/app/_dark-theme.scss
  client/dashboard/app/dark-theme/utils/_mixins.scss
  packages/help-center/src/components/_mixins.scss
  packages/help-center/src/components/back-button.scss
  packages/help-center/src/components/help-center-content.scss
  packages/help-center/src/components/help-center-footer.scss
  packages/help-center/src/components/help-center-header.scss
  packages/help-center/src/components/help-center-notice.scss
  packages/help-center/src/components/help-center-support-chat-message.scss
  packages/help-center/src/styles.scss
  packages/odie-client/src/components/attachment-preview/style.scss
  packages/odie-client/src/components/message/style.scss
  packages/odie-client/src/style.scss
  packages/support-articles/src/components/help-center-article/help-center-article.scss
  packages/support-articles/src/components/help-center-feedback-form/help-center-feedback-form.scss
Owners: @Automattic/lego, @Automattic/t-rex

Reader ATmosphere: author feed filter tabs (Posts/Replies/Media) (#110306)
  client/reader/atmosphere/author-profile-panel.tsx
  client/reader/atmosphere/author-profile-tabs.tsx
  client/reader/atmosphere/test/author-profile-panel.test.tsx
  client/reader/atmosphere/test/author-profile-tabs.test.tsx
  client/reader/atmosphere/test/author-profile-view.test.tsx
  packages/api-core/src/reader-atmosphere/__tests__/fetchers.test.ts
  packages/api-core/src/reader-atmosphere/__tests__/query-keys.test.ts
  packages/api-core/src/reader-atmosphere/fetchers.ts
  packages/api-core/src/reader-atmosphere/query-keys.ts
  packages/api-core/src/reader-atmosphere/types.ts
  packages/api-queries/src/__tests__/reader-atmosphere.test.tsx
  packages/api-queries/src/reader-atmosphere.ts
Owners: @Automattic/loop

Dashboard: one-way WordPress beta opt-out for restricted sites (#110330)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/features.ts
  client/dashboard/sites/settings-wordpress/beta-opt-out-button.tsx
  client/dashboard/sites/settings-wordpress/beta-program-notice.tsx
  client/dashboard/sites/settings-wordpress/index.tsx
  client/dashboard/sites/settings-wordpress/summary.tsx
  client/dashboard/sites/settings-wordpress/test/index.test.tsx
Owners: @Automattic/lego

Reader: Migrate related posts data fetching to React Query (READ-377) (#110334)
  client/components/data/query-reader-related-posts/index.jsx
  client/components/data/with-reader-related-posts/index.tsx
  client/components/data/with-reader-related-posts/test/index.test.tsx
  client/components/related-posts/index.jsx
  client/state/reader/action-types.ts
  client/state/reader/reducer.ts
  client/state/reader/related-posts/actions.js
  client/state/reader/related-posts/reducer.js
  client/state/reader/related-posts/selectors.js
  client/state/reader/related-posts/test/actions.js
  client/state/reader/related-posts/test/reducer.js
  client/state/reader/related-posts/test/selectors.js
  client/state/reader/related-posts/utils.js
  packages/api-core/src/index.ts
  packages/api-core/src/read-related-posts/fetchers.ts
  packages/api-core/src/read-related-posts/index.ts
  packages/api-core/src/read-related-posts/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/read-related-posts.ts
Owners: @Automattic/loop

Reader Mastodon: in-app author profile + author feed (CM-635) (#110315)
  client/reader/AGENTS.md
  client/reader/atmosphere/author-profile-panel.tsx
  client/reader/atmosphere/test/author-profile-header.test.tsx
  client/reader/mastodon/author-profile-panel.tsx
  client/reader/mastodon/author-profile-view.tsx
  client/reader/mastodon/controller.tsx
  client/reader/mastodon/error-projection.ts
  client/reader/mastodon/index.tsx
  client/reader/mastodon/profile-errors.ts
  client/reader/mastodon/route.ts
  client/reader/mastodon/test/author-profile-panel.test.tsx
  client/reader/mastodon/test/controller.test.tsx
  client/reader/mastodon/test/route.test.ts
  client/reader/mastodon/thread-panel.tsx
  client/reader/mastodon/timeline-panel.tsx
  client/reader/social/AGENTS.md
  client/reader/social/author-profile-header.tsx
  client/reader/social/author-profile-panel.tsx
  client/reader/social/components/feed-list/feed-list-empty.tsx
  client/reader/social/components/post-card/analytics-context.tsx
  client/reader/social/components/post-card/post-card-body.tsx
  client/reader/social/components/post-card/post-card-header.tsx
  client/reader/social/components/post-card/sanitize-post-html.ts
  client/reader/social/components/post-card/test/post-card-body.test.tsx
  client/reader/social/components/post-card/test/sanitize-post-html.test.ts
  client/reader/social/index.ts
  client/reader/social/mappers/mastodon.ts
  client/reader/social/profile-header-skeleton.tsx
  client/reader/social/style.scss
  client/reader/social/test/author-profile-header.test.tsx
  client/reader/social/types.ts
  client/sections.js
  packages/api-core/src/reader-mastodon/__tests__/fetchers.test.ts
  packages/api-core/src/reader-mastodon/__tests__/query-keys.test.ts
  packages/api-core/src/reader-mastodon/__tests__/types.test.ts
  packages/api-core/src/reader-mastodon/fetchers.ts
  packages/api-core/src/reader-mastodon/query-keys.ts
  packages/api-core/src/reader-mastodon/types.ts
  packages/api-queries/src/__tests__/reader-mastodon.test.tsx
  packages/api-queries/src/reader-mastodon.ts
Owners: @Automattic/loop

Performance: enable/disable APM toggle on the Backend page (#110257)
  client/dashboard/sites/performance/backend/enable-apm-callout.tsx
  client/dashboard/sites/performance/backend/index.tsx
  client/dashboard/sites/performance/backend/test/index.test.tsx
  packages/api-core/src/index.ts
  packages/api-core/src/site-hosting-apm/index.ts
  packages/api-core/src/site-hosting-apm/mutators.ts
  packages/api-core/src/site/fetchers.ts
  packages/api-core/src/site/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/site-apm.ts
Owners: @Automattic/lego

Reader: migrate QueryReaderPost fetch to React Query (READ-383) (#110339)
  client/components/data/query-reader-post/index.jsx
  client/components/data/query-reader-post/index.tsx
  client/components/data/query-reader-post/test/index.test.tsx
  client/reader/post-key.js
  client/state/reader/posts/actions.js
  client/state/reader/posts/test/actions.js
  packages/api-core/src/index.ts
  packages/api-core/src/read-post/fetchers.ts
  packages/api-core/src/read-post/index.ts
  packages/api-core/src/read-post/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/read-post.ts
Owners: @Automattic/loop

Cancel/Remove: open Help Center chat from Contact Us link (#110344)
  client/dashboard/me/billing-purchases/cancel-purchase/confirm-checkbox.tsx
  client/me/purchases/cancel-purchase/index.tsx
Owners: @Automattic/lego

Updating comments around card co-branding in checkout (#110223)
  client/a8c-for-agencies/sections/purchases/payment-methods/payment-method-add/credit-card-fields/credit-card-element-field.tsx
  client/jetpack-cloud/sections/partner-portal/credit-card-fields/credit-card-element-field.tsx
  client/my-sites/checkout/src/payment-methods/credit-card/credit-card-number-field.tsx
Owners: @Automattic/shilling

Fix dark mode dashboard edge cases (#110335)
  apps/notifications/src/app/note-list/dataviews-overrides.scss
  apps/notifications/src/app/note/index.tsx
  apps/notifications/src/app/templates/body.tsx
  apps/notifications/src/app/templates/gridicons.tsx
  apps/notifications/src/app/templates/test/gridicons.tsx
  apps/notifications/src/panel/templates/gridicons.tsx
  client/dashboard/components/logs-activity/activity-actor.scss
  client/dashboard/sites/backups/style.scss
  client/dashboard/sites/logs-activity/dataviews/style.scss
Owners: @Automattic/lego

[RSM-1680] Improve Dashboard snackbar dark mode styling (#110301)
  client/dashboard/app/snackbars/index.tsx
  client/dashboard/app/snackbars/style.scss
  client/dashboard/app/snackbars/test/index.tsx
Owners: @Automattic/lego

Move dark mode selector to environment-badge (#110342)
  client/components/environment-badge/index.jsx
  client/dashboard/.eslintrc.js
  client/dashboard/app/color-scheme/index.tsx
  client/dashboard/app/responsive-sidebar/sidebar.tsx
  client/dashboard/app/responsive-sidebar/theme-switcher.scss
  client/dashboard/app/responsive-sidebar/theme-switcher.tsx
  client/document/index.jsx
  client/document/test/loading-placeholder.test.tsx
  client/lib/color-scheme/index.ts
  client/lib/color-scheme/test/index.test.ts
  client/lib/dark-mode-helper/index.tsx
  client/lib/dark-mode-helper/style.scss
  client/lib/load-dev-helpers/index.js
  client/lib/load-dev-helpers/test/index.test.js
  client/server/pages/index.js
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-stage.json
Owners: @Automattic/lego

Purchases: legacy intent=remove calls DELETE for non-refundable purchases (#110345)
  client/me/purchases/cancel-purchase/index.tsx
Owners: none

Reader Mastodon: author-feed filter tabs (CM-629) (#110337)
  client/reader/mastodon/author-profile-panel.tsx
  client/reader/mastodon/author-profile-tabs.tsx
  client/reader/mastodon/test/author-profile-panel.test.tsx
  client/reader/mastodon/test/author-profile-tabs.test.tsx
  client/reader/social/author-profile-panel.tsx
  client/reader/social/author-profile-tabs.tsx
  client/reader/social/index.ts
  client/reader/social/test/author-profile-tabs.test.tsx
  client/reader/social/test/use-tab-slug.test.ts
  client/reader/social/use-tab-slug.ts
  packages/api-core/src/reader-mastodon/__tests__/fetchers.test.ts
  packages/api-core/src/reader-mastodon/__tests__/query-keys.test.ts
  packages/api-core/src/reader-mastodon/__tests__/types.test.ts
  packages/api-core/src/reader-mastodon/fetchers.ts
  packages/api-core/src/reader-mastodon/query-keys.ts
  packages/api-core/src/reader-mastodon/types.ts
  packages/api-queries/src/__tests__/reader-mastodon.test.tsx
  packages/api-queries/src/reader-mastodon.ts
Owners: @Automattic/loop

e2e tests: Fix new post flows (#110350)
  packages/calypso-e2e/src/lib/pages/editor-page.ts
  packages/calypso-e2e/src/lib/pages/posts-page.ts
  test/e2e/specs/blocks/shared/block-smoke-testing.ts
  test/e2e/specs/editor/editor__post-advanced-flow.ts
Owners: none

Reader social: make inner post-card links clickable (#110349)
  client/reader/atmosphere/test/timeline-panel.test.tsx
  client/reader/social/AGENTS.md
  client/reader/social/components/post-card/index.tsx
  client/reader/social/components/post-card/post-card-embed-quote.tsx
  client/reader/social/components/post-card/post-card-header.tsx
  client/reader/social/components/post-card/post-card-link.tsx
  client/reader/social/components/post-card/sanitize-post-html.ts
  client/reader/social/components/post-card/style.scss
  client/reader/social/components/post-card/test/index.test.tsx
  client/reader/social/components/post-card/test/post-card-body.test.tsx
  client/reader/social/components/post-card/test/post-card-embed-quote.test.tsx
  client/reader/social/components/post-card/test/post-card-header.test.tsx
  client/reader/social/components/post-card/test/sanitize-post-html.test.ts
  client/reader/social/profile-card.tsx
  client/reader/social/test/profile-card.test.tsx
Owners: @Automattic/loop

Renewal pricing: add new EN/USD experiment assignment (#110325)
  client/my-sites/plans-features-main/hooks/test/use-renewal-price-experiment.ts
  client/my-sites/plans-features-main/hooks/use-renewal-price-experiment.ts
  packages/plans-grid-next/src/components/shared/header-price/index.tsx
  packages/plans-grid-next/src/hooks/data-store/get-renewal-pricing-text.ts
  packages/plans-grid-next/src/types.ts
Owners: @Automattic/martech

Reader - onboarding rsm - Initialize new interests step. (#110230)
  client/data/reader/use-reader-interest-tags.ts
  client/reader/discover/components/tags-navigation/index.tsx
  client/reader/onboarding-rsm/interests-modal/get-pack-blogs.ts
  client/reader/onboarding-rsm/interests-modal/index.tsx
  client/reader/onboarding-rsm/interests-modal/style.scss
  client/reader/onboarding-rsm/interests-modal/test/get-pack-blogs.test.ts
  client/reader/onboarding-rsm/interests-modal/test/topic-group-card.test.tsx
  client/reader/onboarding-rsm/interests-modal/topic-group-card/index.tsx
  client/reader/onboarding-rsm/interests-modal/topic-group-card/style.scss
  client/reader/onboarding-rsm/interests-modal/topic-groups.tsx
Owners: @Automattic/loop

Reader Mastodon: hashtag tag feeds (CM-638) (#110358)
  client/reader/mastodon/author-profile-panel.tsx
  client/reader/mastodon/controller.tsx
  client/reader/mastodon/index.tsx
  client/reader/mastodon/route.ts
  client/reader/mastodon/style.scss
  client/reader/mastodon/tag-feed-panel.tsx
  client/reader/mastodon/tag-feed-tabs.tsx
  client/reader/mastodon/tag-feed-view.tsx
  client/reader/mastodon/test/controller.test.tsx
  client/reader/mastodon/test/route.test.ts
  client/reader/mastodon/test/tag-feed-panel.test.tsx
  client/reader/mastodon/test/tag-feed-tabs.test.tsx
  client/reader/mastodon/test/tag-feed-view.test.tsx
  client/reader/mastodon/thread-panel.tsx
  client/reader/mastodon/timeline-panel.tsx
  client/reader/social/author-profile-panel.tsx
  client/reader/social/components/post-card/analytics-context.tsx
  client/reader/social/components/post-card/post-card-body.tsx
  client/reader/social/components/post-card/sanitize-post-html.ts
  client/reader/social/components/post-card/test/post-card-body.test.tsx
  client/reader/social/components/post-card/test/sanitize-post-html.test.ts
  client/reader/stats/index.ts
  client/reader/stats/test/index.test.ts
  client/sections.js
  packages/api-core/src/reader-mastodon/__tests__/fetchers.test.ts
  packages/api-core/src/reader-mastodon/__tests__/query-keys.test.ts
  packages/api-core/src/reader-mastodon/__tests__/types.test.ts
  packages/api-core/src/reader-mastodon/fetchers.ts
  packages/api-core/src/reader-mastodon/query-keys.ts
  packages/api-core/src/reader-mastodon/types.ts
  packages/api-queries/src/__tests__/reader-mastodon.test.tsx
  packages/api-queries/src/reader-mastodon.ts
Owners: @Automattic/loop

Stepper: Re-ship account step slider variant for Woo referrer (#110118)
  client/blocks/signup-form/signup-form-social-first.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-01.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-01@2x.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-02.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-02@2x.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-03.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-03@2x.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-04.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-04@2x.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/pattern-01.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/pattern-02.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/slide1.svg
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/slide2.jpg
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/slide3.svg
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/style.scss
Owners: none

Stepper: Plans step copy + refund notice for Woo hosting solutions (#110235)
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/unified-plans-step.tsx
  client/my-sites/plans-features-main/components/plans-page-subheader.tsx
  client/my-sites/plans-features-main/index.tsx
  client/my-sites/plans-features-main/style.scss
  packages/plans-grid-next/src/components/plan-logo.tsx
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans.tsx
  packages/plans-grid-next/src/hooks/data-store/use-highlight-labels.ts
Owners: @Automattic/martech

Reader social: route every @-mention surface in-app via data-id (#110361)
  client/reader/atmosphere/test/thread-header.test.tsx
  client/reader/atmosphere/thread-header.tsx
  client/reader/mastodon/thread-header.tsx
  client/reader/social/AGENTS.md
  client/reader/social/author-profile-header.tsx
  client/reader/social/components/post-card/post-card-body.tsx
  client/reader/social/components/post-card/sanitize-post-html.ts
  client/reader/social/components/post-card/test/post-card-body.test.tsx
  client/reader/social/components/post-card/test/sanitize-post-html.test.ts
  client/reader/social/profile-card.tsx
  client/reader/social/test/author-profile-header.test.tsx
  client/reader/social/test/profile-card.test.tsx
Owners: @Automattic/loop

A4A Hosting: remove expired Pressable promo offer from hero section (#110357)
  client/a8c-for-agencies/components/a4a-pressable-offer/index.tsx
  client/a8c-for-agencies/components/a4a-pressable-offer/style.scss
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hero-section/index.tsx
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hero-section/style.scss
Owners: none

Reader ATmosphere: in-app Bluesky tag-feed surface (#110363)
  client/reader/atmosphere/author-profile-panel.tsx
  client/reader/atmosphere/controller.tsx
  client/reader/atmosphere/error-projection.ts
  client/reader/atmosphere/index.tsx
  client/reader/atmosphere/route.ts
  client/reader/atmosphere/tag-feed-panel.tsx
  client/reader/atmosphere/tag-feed-view.tsx
  client/reader/atmosphere/test/controller.test.tsx
  client/reader/atmosphere/test/route.test.ts
  client/reader/atmosphere/test/tag-feed-panel.test.tsx
  client/reader/atmosphere/test/tag-feed-view.test.tsx
  client/reader/atmosphere/thread-panel.tsx
  client/reader/atmosphere/timeline-panel.tsx
  packages/api-core/src/reader-atmosphere/__tests__/errors.test.ts
  packages/api-core/src/reader-atmosphere/__tests__/fetchers.test.ts
  packages/api-core/src/reader-atmosphere/errors.ts
  packages/api-core/src/reader-atmosphere/fetchers.ts
  packages/api-core/src/reader-atmosphere/index.ts
  packages/api-core/src/reader-atmosphere/query-keys.ts
  packages/api-core/src/reader-atmosphere/types.ts
  packages/api-core/src/reader-atmosphere/validation.ts
  packages/api-queries/src/reader-atmosphere.ts
Owners: @Automattic/loop

Remove "$10K for you" from Welcome tour Migrations title (A4A-2551) (#110307)
  client/a8c-for-agencies/components/hoc/with-onboarding-tour/hooks/use-onboarding-tour-sections.tsx
Owners: none

Skill: Capture lessons from the subscription-details migration (#110370)
  .claude/skills/calypso-react-query-migration/SKILL.md
Owners: none

Update the WooPayments page in the Welcome tour (A4A-2552) (#110311)
  client/a8c-for-agencies/components/hoc/with-onboarding-tour/hooks/use-onboarding-tour-sections.tsx
Owners: none

Reader: migrate Following stream to React Query (READ-485) (#110369)
  client/state/data-layer/wpcom/read/streams/index.js
  client/state/data-layer/wpcom/read/streams/test/index.js
  client/state/reader/streams/actions.js
  client/state/reader/streams/migrated-stream-types.ts
  client/state/reader/streams/normalize.ts
  client/state/reader/streams/test/actions.js
  client/state/reader/streams/test/normalize.js
  client/state/reader/streams/test/reducer.js
  packages/api-core/src/index.ts
  packages/api-core/src/read-streams/fetchers.ts
  packages/api-core/src/read-streams/index.ts
  packages/api-core/src/read-streams/types.ts
  packages/api-queries/src/__tests__/read-streams.test.tsx
  packages/api-queries/src/index.ts
  packages/api-queries/src/read-streams.ts
Owners: @Automattic/loop

Reader ATmosphere likes frontend (CM-625) (#110356)
  client/reader/AGENTS.md
  client/reader/atmosphere/author-profile-panel.tsx
  client/reader/atmosphere/tag-feed-panel.tsx
  client/reader/atmosphere/test/author-profile-panel.test.tsx
  client/reader/atmosphere/test/tag-feed-panel.test.tsx
  client/reader/atmosphere/test/thread-panel.test.tsx
  client/reader/atmosphere/test/timeline-panel.test.tsx
  client/reader/atmosphere/thread-panel.tsx
  client/reader/atmosphere/thread-tree/index.tsx
  client/reader/atmosphere/thread-tree/test/index.test.tsx
  client/reader/atmosphere/thread-tree/test/thread-node.test.tsx
  client/reader/atmosphere/thread-tree/thread-node.tsx
  client/reader/atmosphere/timeline-panel.tsx
  client/reader/social/AGENTS.md
  client/reader/social/components/post-card/index.tsx
  client/reader/social/components/post-card/like-button.scss
  client/reader/social/components/post-card/like-button.tsx
  client/reader/social/components/post-card/post-card-counts.tsx
  client/reader/social/components/post-card/test/like-button.test.tsx
  client/reader/social/components/post-card/test/post-card-counts.test.tsx
  client/reader/social/mappers/atmosphere.ts
  client/reader/social/types.ts
  client/reader/social/utils/rkey-from-uri.ts
  client/reader/social/utils/test/rkey-from-uri.test.ts
  packages/api-core/src/reader-atmosphere/__tests__/fetchers.test.ts
  packages/api-core/src/reader-atmosphere/constants.ts
  packages/api-core/src/reader-atmosphere/errors.ts
  packages/api-core/src/reader-atmosphere/fetchers.ts
  packages/api-core/src/reader-atmosphere/index.ts
  packages/api-core/src/reader-atmosphere/types.ts
  packages/api-queries/src/__tests__/reader-atmosphere.test.tsx
  packages/api-queries/src/reader-atmosphere.ts
Owners: @Automattic/loop

Reader: show locked and secret achievements (#110371)
  client/data/reader/test/use-achievements-query.test.tsx
  client/data/reader/use-achievements-query.ts
  client/reader/user-profile/views/achievements/achievements-grid/achievement-card.tsx
  client/reader/user-profile/views/achievements/achievements-grid/index.tsx
  client/reader/user-profile/views/achievements/achievements-grid/locked-achievement-card.tsx
  client/reader/user-profile/views/achievements/achievements-grid/secret-achievement-card.tsx
  client/reader/user-profile/views/achievements/achievements-grid/style.scss
  client/reader/user-profile/views/achievements/achievements-grid/test/achievement-card.test.tsx
  client/reader/user-profile/views/achievements/achievements-grid/test/index.test.tsx
  client/reader/user-profile/views/achievements/index.tsx
  client/reader/user-profile/views/achievements/test/index.test.tsx
  client/reader/user-profile/views/achievements/test/utils.test.ts
  client/reader/user-profile/views/achievements/utils.ts
  packages/api-core/src/read-achievements/types.ts
Owners: @Automattic/loop

Cancel/Remove: cancel plan before showing survey (#110353)
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-header-title.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancellation-main-content.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancellation-pre-survey-content.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/get-confirmation-copy.ts
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/plan-product-revert-content.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/test/get-confirmation-copy.ts
  client/dashboard/me/billing-purchases/cancel-purchase/test/use-cancel-mutation-on-confirm.test.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/use-cancel-mutation-on-confirm.ts
  client/me/purchases/cancel-purchase/index.tsx
Owners: @Automattic/lego

Purchases & Domains: rename status column to "Renewal/Expiry" (#110047)
  client/dashboard/me/billing-purchases/dataviews.tsx
  client/me/purchases/purchases-list-in-dataviews/purchases-data-field.tsx
  client/my-sites/domains/domain-management/dataviews/use-fields.tsx
Owners: @Automattic/lego

fix: classify Reader Mastodon errors arriving on .code (wpcom/v2 wire shape) (#110376)
  packages/api-core/src/reader-mastodon/__tests__/errors.test.ts
  packages/api-core/src/reader-mastodon/__tests__/fetchers.test.ts
  packages/api-core/src/reader-mastodon/errors.ts
Owners: none
