Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

MSD: Remove OmnibarHeader (#109517)
  client/dashboard/app/omnibar-header/index.tsx
  client/dashboard/app/responsive-sidebar/index.tsx
  client/dashboard/app/root/index.tsx
Owners: @Automattic/lego

Stats: Add percentage-based Y-axis baseline for subscriber chart (#109481)
  client/my-sites/stats/components/line-chart/index.tsx
  client/my-sites/stats/stats-subscribers-chart-section/index.tsx
Owners: none

MSD Sidebar: Reduce sidebar back arrow icon size (#109593)
  client/dashboard/components/sidebar/sidebar-back-button.tsx
Owners: @Automattic/lego

A4A-2321: build and hydrate the Partner Directory lead matching form (#109568)
  client/a8c-for-agencies/components/stat/index.tsx
  client/a8c-for-agencies/components/stat/style.scss
  client/a8c-for-agencies/data/partner-directory/use-lead-matching-profile.ts
  client/a8c-for-agencies/data/partner-directory/use-submit-lead-matching-profile.ts
  client/a8c-for-agencies/sections/agency-tier/overview-content/influenced-revenue.tsx
  client/a8c-for-agencies/sections/partner-directory/components/hooks/use-form-selectors.ts
  client/a8c-for-agencies/sections/partner-directory/components/languages-selector.tsx
  client/a8c-for-agencies/sections/partner-directory/components/minimum-budget-selector.tsx
  client/a8c-for-agencies/sections/partner-directory/components/token-field-selector.tsx
  client/a8c-for-agencies/sections/partner-directory/controller.tsx
  client/a8c-for-agencies/sections/partner-directory/lead-matching/hooks/use-lead-matching-form-validation.ts
  client/a8c-for-agencies/sections/partner-directory/lead-matching/hooks/use-lead-matching-form.ts
  client/a8c-for-agencies/sections/partner-directory/lead-matching/hooks/use-submit-form.ts
  client/a8c-for-agencies/sections/partner-directory/lead-matching/index.tsx
  client/a8c-for-agencies/sections/partner-directory/lead-matching/options.ts
  client/a8c-for-agencies/sections/partner-directory/lead-matching/style.scss
  client/a8c-for-agencies/sections/partner-directory/lead-matching/test/validation.test.ts
  client/a8c-for-agencies/sections/partner-directory/lib/available-languages.ts
  client/a8c-for-agencies/sections/partner-directory/lib/test/available-languages.test.ts
  client/a8c-for-agencies/sections/partner-directory/partner-directory.tsx
  client/a8c-for-agencies/sections/partner-directory/types.ts
  client/a8c-for-agencies/sections/partner-directory/utils/map-application-form-data.ts
  client/a8c-for-agencies/sections/partner-directory/utils/test/map-lead-matching-form-data.test.ts
  client/state/a8c-for-agencies/types.ts
Owners: none

MSD: Extract shared staging site logic into useStagingSite hook (#109488)
  client/dashboard/components/environment/index.tsx
  client/dashboard/sites/site-sidebar/index.tsx
  client/dashboard/sites/site/environment-switcher-dropdown.tsx
  client/dashboard/sites/site/environment-switcher.tsx
  client/dashboard/sites/site/sidebar-environment-switcher.scss
  client/dashboard/sites/site/sidebar-environment-switcher.tsx
  client/dashboard/sites/site/use-staging-site.ts
  client/webpack.config.js
Owners: @Automattic/lego

MSD: Add focus-visible styles to omnibar (#109640)
  client/dashboard/app/interim-omnibar/style.scss
Owners: @Automattic/lego

Switch CSS chunk filenames from contenthash to chunkhash (#109592) (#109642)
  client/webpack.config.js
Owners: none

MSD: Fix Reader link on notifications/emails page (#109639)
  client/dashboard/me/notifications-emails/index.tsx
Owners: @Automattic/lego

Base image: Fix Sentry uploads by installing ca-certificates (#109646)
  Dockerfile
  client/webpack.config.js
Owners: none

MSD Plugins: Sanitize plugin author to prevent security risks (#109418)
  client/dashboard/plugins/manage/components/plugin-sites.tsx
  client/dashboard/plugins/manage/components/test/plugin-sites.test.tsx
  client/dashboard/utils/is-web-url.ts
  client/dashboard/utils/test/is-web-url.ts
Owners: @Automattic/lego

Monetize: Migrate header to admin-ui Page (#109628)
  client/my-sites/earn/main.tsx
  client/my-sites/earn/style.scss
Owners: none

Add wooai variant for Agents Manager (#109271)
  apps/agents-manager/agents-manager-wooai.js
  apps/agents-manager/webpack.config.js
Owners: none

Add /setup/art-domain flow for promotional .art domain checkout (#109603)
  client/landing/stepper/declarative-flow/flows/artpromo/artpromo.ts
  client/landing/stepper/declarative-flow/registered-flows.ts
  packages/onboarding/src/utils/flows.ts
  packages/shopping-cart/src/types.ts
Owners: @Automattic/shilling

MSD: Fix mobile sidebar scroll-to-top issue (#109650)
  client/dashboard/app/interim-omnibar/style.scss
  client/dashboard/app/responsive-sidebar/sidebar.scss
  client/dashboard/app/responsive-sidebar/style.scss
  client/dashboard/app/root/style.scss
Owners: @Automattic/lego

Traffic: Migrate header to admin-ui Page (#109627)
  client/my-sites/marketing/controller.js
  client/sites/marketing/traffic/style.scss
  client/sites/marketing/traffic/traffic.js
Owners: none

MSD: Update Logs/Scan page titles to match sidebar when omnibar is enabled (#109651)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/logs/index.tsx
  client/dashboard/sites/scan/index.tsx
Owners: @Automattic/lego

MSD: Use SidebarMenuSwitcherItem for domain sidebar (#109556)
  client/dashboard/domains/domain-sidebar/domain-switcher-item.tsx
  client/dashboard/domains/domain-sidebar/index.tsx
  client/dashboard/domains/domain-switcher/index.tsx
  client/dashboard/domains/domain-switcher/style.scss
  client/dashboard/domains/domain/index.tsx
  client/dashboard/domains/domain/style.scss
Owners: @Automattic/lego

MSD: Replace sidebar logo with WordPress.com wordmark (#109648)
  client/dashboard/app-dotcom/logo.tsx
  client/dashboard/app/responsive-sidebar/sidebar.scss
Owners: @Automattic/lego

Allow premium domains in the .art promo too (#109657)
  client/landing/stepper/declarative-flow/flows/artpromo/artpromo.ts
Owners: none

Reader: Hide not permitted actions for password protected posts (#109474)
  client/blocks/comments/comment-actions.jsx
  client/blocks/comments/helper.jsx
  client/blocks/comments/post-comment-list.jsx
  client/blocks/conversation-follow-button/helper.js
  client/blocks/reader-full-post/action-bar.jsx
  client/blocks/reader-full-post/index.jsx
  client/blocks/reader-post-actions/index.jsx
  client/blocks/reader-post-options-menu/reader-post-ellipsis-menu.jsx
  client/blocks/reader-share/helper.jsx
  client/reader/like-helper.jsx
  client/reader/post/capabilities/index.ts
  client/reader/post/capabilities/test/index.ts
  client/reader/stream/index.jsx
Owners: @Automattic/loop

Checkout: Add Tracks event when contact validation fails (#109631)
  client/my-sites/checkout/src/lib/contact-validation.tsx
Owners: @Automattic/shilling

Allow changing to lower plan tiers from free plan (#109660)
  client/my-sites/plans-features-main/index.tsx
Owners: none

Store Sandbox: persist ticket in localStorage for OAuth environments (#109533)
  client/lib/store-sandbox-helper/index.tsx
Owners: none

Docker Image: Inline refresh: Fix race conditions (#109665)
  .teamcity/_self/projects/WebApp.kt
  .teamcity/settings.kts
Owners: none

Update baseline-browser-mapping: 2.10.10 -> 2.10.11 (#109667)
  yarn.lock
Owners: none

MSD: Extract hosting dashboard opt-in to preferences sub-page (#109654)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/hosting-dashboard/index.tsx
  client/dashboard/me/preferences-new-hosting-dashboard/index.tsx
  client/dashboard/me/preferences/index.tsx
Owners: @Automattic/lego

E2E: Fix Image Compare block test for client-side media processing (#109453)
  packages/calypso-e2e/src/lib/blocks/block-flows/image-compare.ts
  packages/calypso-e2e/src/lib/blocks/block-flows/tiled-gallery.ts
Owners: none

Fix link style in stats upgrade notice (#109428)
  client/my-sites/stats/stats-notices/style.scss
Owners: none

Checkout: redesign for UI experiment (#109253)
  client/layout/masterbar/checkout.tsx
  client/layout/masterbar/style.scss
  client/my-sites/checkout/src/components/checkout-main-content.tsx
  client/my-sites/checkout/src/components/checkout-main.tsx
  client/my-sites/checkout/src/components/contact-details-container.tsx
  client/my-sites/checkout/src/components/cost-overrides-list.tsx
  client/my-sites/checkout/src/components/ie-fallback.ts
  client/my-sites/checkout/src/components/item-variation-picker/variant-radio-price.tsx
  client/my-sites/checkout/src/components/tax-fields.tsx
  client/my-sites/checkout/src/components/wp-checkout-order-review.tsx
  client/my-sites/checkout/src/components/wp-checkout-order-summary.tsx
  client/my-sites/checkout/src/hooks/use-checkout-ui-redesign-experiment.ts
Owners: @Automattic/shilling

Inline Refresh: Revert (#109675)
  .teamcity/_self/projects/WebApp.kt
  .teamcity/settings.kts
  Dockerfile
  bin/print-cache-seed-key.sh
Owners: none

print-cache-seed-key.sh: Temporarily re-add (#109678)
  bin/print-cache-seed-key.sh
Owners: none

Add a skip to pending when purchase is marked confirmed (#109562)
  client/my-sites/checkout/src/hooks/use-purchase-order.tsx
  client/my-sites/checkout/src/lib/upi-processor.ts
  client/my-sites/checkout/src/test/upi-processor.ts
Owners: @Automattic/shilling

Block Notes: Fixes the domain name for i18n of block notes strings (#109108)
  packages/block-notes/src/components/mention-autocomplete/index.tsx
  packages/block-notes/src/components/subscriptions/index.tsx
  packages/block-notes/src/components/thinking-indicator/index.tsx
  packages/block-notes/types/wordpress.d.ts
Owners: none

Revert "FORNO-196: Differentiate Image Studio tracking events by platform pre…" (#109655)
  packages/image-studio/src/utils/tracking.test.ts
  packages/image-studio/src/utils/tracking.ts
Owners: none

Block notes tracking: Re-aligns the block notes tracking prefix to jetpack_big_sky_* (#109683)
  packages/block-notes/src/utils/tracking.test.ts
  packages/block-notes/src/utils/tracking.ts
Owners: none

Agents Manager: Rename test files, fix test command, and simplify useAgentConfig (#109680)
  packages/agents-manager/AGENTS.md
  packages/agents-manager/src/components/__tests__/agents-manager.test.tsx
  packages/agents-manager/src/components/__tests__/feedback-input.test.tsx
  packages/agents-manager/src/hooks/use-agent-config.ts
Owners: none

Add complimentary memberships support alongside gifts (#109630)
  client/blocks/reader-site-subscription/details.tsx
  client/landing/subscriptions/components/site-subscriptions-list/site-subscription-row.tsx
  client/my-sites/subscribers/components/gift-modal/gift-modal.tsx
  client/my-sites/subscribers/components/remove-comp-modal/remove-comp-modal.tsx
  client/my-sites/subscribers/components/remove-comp-modal/test/remove-comp-modal.test.tsx
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
  client/my-sites/subscribers/components/subscriber-details/subscriber-details.tsx
  client/my-sites/subscribers/hooks/use-subscription-plans.ts
  client/my-sites/subscribers/main.tsx
  client/my-sites/subscribers/types/index.ts
  client/state/action-types.ts
  client/state/data-layer/wpcom/sites/memberships/index.js
  client/state/memberships/comps/actions.js
  packages/data-stores/src/reader/types/index.ts
Owners: @Automattic/loop

MSD: consolidate plan/purchase upgrade url logic (#109384)
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/me/billing-purchases/purchase-settings/purchase-notice.tsx
  client/dashboard/sites/domains/primary-domain-selector.tsx
  client/dashboard/sites/overview-plan-card/index.tsx
  client/dashboard/sites/settings-plan/summary.tsx
  client/dashboard/sites/site-fields/index.tsx
  client/dashboard/utils/site-plan.ts
  client/dashboard/utils/site-url.ts
Owners: @Automattic/lego

MSD: Update Sites sidebar icon from copy to layout (#109688)
  client/dashboard/app/responsive-sidebar/sidebar.tsx
Owners: @Automattic/lego

MSD omnibar: fall back to slug when site name is empty (#109644)
  client/dashboard/app/interim-omnibar/interim-omnibar.tsx
Owners: @Automattic/lego
