Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Smart Dictation: cancel image generation without ending the session (#110595)
  packages/wpcom-smart-dictation/src/live-ai-assistant/index.tsx
  packages/wpcom-smart-dictation/src/live-ai-assistant/jetpack-ai-image.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/tool-definitions.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/tool-labels.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/tool-runner.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/use-realtime-session.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/tools/dictation-control-tool.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/tools/generate-image-tool/index.ts
Owners: none

Reader social sidebar: truncate long handles with ellipsis (#110677)
  client/reader/sidebar/social/social-account-menu-item.tsx
  client/reader/sidebar/social/style.scss
Owners: @Automattic/loop

Reader Social: add tooltips to PostCardCounts icon controls (#110679)
  client/reader/atmosphere/test/author-profile-panel.test.tsx
  client/reader/atmosphere/test/tag-feed-panel.test.tsx
  client/reader/atmosphere/test/thread-panel.test.tsx
  client/reader/atmosphere/use-atmosphere-like-action.ts
  client/reader/atmosphere/use-atmosphere-repost-action.ts
  client/reader/mastodon/test/use-mastodon-like-action.test.tsx
  client/reader/mastodon/test/use-mastodon-repost-action.test.tsx
  client/reader/mastodon/use-mastodon-like-action.ts
  client/reader/mastodon/use-mastodon-repost-action.ts
  client/reader/social/components/post-card/like-button.scss
  client/reader/social/components/post-card/like-button.tsx
  client/reader/social/components/post-card/post-card-counts.tsx
  client/reader/social/components/post-card/repost-button.scss
  client/reader/social/components/post-card/repost-button.tsx
  client/reader/social/components/post-card/test/like-button.test.tsx
  client/reader/social/components/post-card/test/post-card-counts.test.tsx
  client/reader/social/components/post-card/test/repost-button.test.tsx
Owners: @Automattic/loop

Fix remove flow: navigate to purchases list with dismissible notice (#110393)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/billing-purchases/index.tsx
  client/dashboard/me/billing-purchases/purchase-removed-notice.tsx
  client/me/purchases/cancel-purchase/index.tsx
  client/me/purchases/purchases-list-in-dataviews/index.tsx
  client/my-sites/purchases/subscriptions/subscriptions-content.tsx
  client/state/purchases/actions.js
  client/state/purchases/test/actions.js
Owners: @Automattic/lego, @Automattic/shilling

Reader Mastodon: handle hide_collections + partial-followers notice (CM-723) (#110681)
  client/reader/mastodon/followers-view.tsx
  client/reader/mastodon/following-view.tsx
  client/reader/mastodon/profile-collections-notice.tsx
  client/reader/mastodon/style.scss
  client/reader/mastodon/test/profile-collections-notice.test.tsx
  client/reader/social/account-list.tsx
  client/reader/social/index.ts
  packages/api-core/src/reader-mastodon/__tests__/types.test.ts
  packages/api-core/src/reader-mastodon/types.ts
  packages/api-queries/src/__tests__/reader-mastodon.test.tsx
  packages/api-queries/src/reader-mastodon.ts
Owners: @Automattic/loop

Renewal pricing: consolidate the way the discounts are presented (#110684)
  packages/plans-grid-next/src/index.tsx
  packages/plans-grid-next/src/lib/plan-pricing-utils.ts
  packages/plans-grid-next/src/lib/test/plan-pricing-utils.ts
Owners: @Automattic/martech

Reader Social: filter chips, date dividers, and stacking on Notifications tab (#110675)
  client/reader/atmosphere/notifications-panel.tsx
  client/reader/atmosphere/test/notifications-panel.test.tsx
  client/reader/mastodon/notifications-panel.tsx
  client/reader/mastodon/test/notifications-panel.test.tsx
  client/reader/social/AGENTS.md
  client/reader/social/components/notifications-list/date-bucket.ts
  client/reader/social/components/notifications-list/filter-bar.tsx
  client/reader/social/components/notifications-list/filter.ts
  client/reader/social/components/notifications-list/group-notifications.ts
  client/reader/social/components/notifications-list/index.tsx
  client/reader/social/components/notifications-list/stacked-notification.tsx
  client/reader/social/components/notifications-list/style.scss
  client/reader/social/components/notifications-list/test/date-bucket.test.ts
  client/reader/social/components/notifications-list/test/filter-bar.test.tsx
  client/reader/social/components/notifications-list/test/filter.test.ts
  client/reader/social/components/notifications-list/test/group-notifications.test.ts
  client/reader/social/components/notifications-list/test/index.test.tsx
  client/reader/social/components/notifications-list/test/stacked-notification.test.tsx
  client/reader/social/index.ts
  packages/api-core/src/index.ts
  packages/api-core/src/reader-atmosphere/__tests__/fetchers.test.ts
  packages/api-core/src/reader-atmosphere/__tests__/query-keys.test.ts
  packages/api-core/src/reader-atmosphere/fetchers.ts
  packages/api-core/src/reader-atmosphere/query-keys.ts
  packages/api-core/src/reader-mastodon/__tests__/fetchers.test.ts
  packages/api-core/src/reader-mastodon/__tests__/query-keys.test.ts
  packages/api-core/src/reader-mastodon/fetchers.ts
  packages/api-core/src/reader-mastodon/query-keys.ts
  packages/api-core/src/reader-social/index.ts
  packages/api-core/src/reader-social/notifications-filter.ts
  packages/api-queries/src/__tests__/reader-atmosphere.test.tsx
  packages/api-queries/src/__tests__/reader-mastodon.test.tsx
  packages/api-queries/src/reader-atmosphere.ts
  packages/api-queries/src/reader-mastodon.ts
Owners: @Automattic/loop

APM: Rework Backend Overview with side rail, area chart, and slow-requests bar list (#110558)
  client/dashboard/sites/performance/backend/backend-status.tsx
  client/dashboard/sites/performance/backend/backend-tabs.tsx
  client/dashboard/sites/performance/backend/index.tsx
  client/dashboard/sites/performance/backend/mock-data.ts
  client/dashboard/sites/performance/backend/overview/chart-slot.tsx
  client/dashboard/sites/performance/backend/overview/index.tsx
  client/dashboard/sites/performance/backend/overview/slow-requests-list.tsx
  client/dashboard/sites/performance/backend/test/index.test.tsx
  packages/api-core/src/site-hosting-apm/types.ts
Owners: @Automattic/lego

Update/reader onboard rsm styles and back button (#110682)
  client/reader/onboarding-rsm/index.tsx
  client/reader/onboarding-rsm/interests-modal/index.tsx
  client/reader/onboarding-rsm/interests-modal/style.scss
  client/reader/onboarding-rsm/interests-modal/topic-group-card/style.scss
  client/reader/onboarding-rsm/style.scss
  client/reader/onboarding-rsm/subscribe-modal/index.tsx
  client/reader/onboarding-rsm/subscribe-modal/style.scss
  client/reader/onboarding-rsm/test/index.test.tsx
  client/reader/onboarding-rsm/welcome-modal/index.tsx
  client/reader/onboarding-rsm/welcome-modal/style.scss
Owners: @Automattic/loop

DIFM: add multiple custom pages (#110066)
  client/signup/config/steps-pure.js
  client/signup/difm/components/BrowserView.tsx
  client/signup/difm/images/page-descriptions/add-custom-page.svg
  client/signup/difm/images/page-descriptions/custom-page.svg
  client/signup/difm/page-instances.ts
  client/signup/steps/page-picker/index.tsx
  client/signup/steps/website-content/section-generator.tsx
  client/signup/steps/website-content/section-types/contact-page-details.tsx
  client/signup/steps/website-content/section-types/custom-page-details.tsx
  client/signup/steps/website-content/section-types/default-page-details.tsx
  client/signup/steps/website-content/section-types/hooks/use-change-handlers.ts
  client/state/difm/assemblers.ts
  client/state/signup/progress/actions.js
  client/state/signup/steps/website-content/actions.ts
  client/state/signup/steps/website-content/hooks/use-get-website-content-query.ts
  client/state/signup/steps/website-content/test/reducer.ts
  client/state/signup/steps/website-content/types.ts
  packages/shopping-cart/src/types.ts
Owners: @Automattic/shilling

Convert component-file-picker to ESM module (#110662)
  client/components/file-picker/component-file-picker.js
Owners: none

Onboarding domain search: Refine the empty search input on mobile (#110625)
  packages/domain-search/src/components/search-bar/index.tsx
  packages/domain-search/src/components/search-form/index.tsx
  packages/domain-search/src/components/search-form/style.scss
  packages/domain-search/src/components/search-form/test/index.tsx
  packages/domain-search/src/page/style.scss
  packages/domain-search/src/ui/domain-search-controls/input.tsx
  packages/domain-search/src/ui/domain-search-controls/submit.scss
  packages/domain-search/src/ui/domain-search-controls/submit.tsx
Owners: none

Checkout: gate rsm_better_checkout experiment on large viewport (#110691)
  client/my-sites/checkout/src/components/item-variation-picker/index.tsx
  client/my-sites/checkout/src/hooks/test/use-rsm-better-checkout-experiment.ts
  client/my-sites/checkout/src/hooks/use-rsm-better-checkout-experiment.ts
Owners: @Automattic/shilling

A4A MCP: render settings as categorized sections with Enable all (#110661)
  client/a8c-for-agencies/data/mcp-ai/types.ts
  client/a8c-for-agencies/data/mcp-ai/use-save-mcp-settings.ts
  client/a8c-for-agencies/sections/ai-mcp/primary/available-tools/available-tools-content.tsx
  client/a8c-for-agencies/sections/ai-mcp/primary/style.scss
  config/a8c-for-agencies-horizon.json
Owners: none

A4A: Add agent studio section under Resources and tools (#110690)
  client/a8c-for-agencies/components/sidebar-menu/hooks/use-learn-menu-items.tsx
  client/a8c-for-agencies/components/sidebar-menu/lib/constants.ts
  client/a8c-for-agencies/lib/permission.ts
  client/a8c-for-agencies/sections/agent-studio/controller.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/overview/index.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/overview/overview-content.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/overview/style.scss
  client/a8c-for-agencies/sections/learn/index.ts
  client/sections.js
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

Reader user-profile: widen Achievements view with a responsive grid (#110653)
  client/reader/user-profile/index.tsx
  client/reader/user-profile/style.scss
  client/reader/user-profile/views/achievements/achievements-grid/style.scss
  client/reader/user-profile/views/achievements/style.scss
Owners: @Automattic/loop

Reader Fediverse: follow / unfollow button on the AP author profile (CM-718) (#110680)
  client/reader/fediverse/author-profile-panel.tsx
  client/reader/fediverse/followers-view.tsx
  client/reader/fediverse/following-view.tsx
  client/reader/fediverse/test/author-profile-panel.test.tsx
  client/reader/mastodon/author-profile-panel.tsx
  client/reader/mastodon/followers-view.tsx
  client/reader/mastodon/following-view.tsx
  client/reader/mastodon/test/author-profile-panel.test.tsx
  packages/api-core/src/reader-fediverse/types.ts
Owners: @Automattic/loop

Minor dark mode fixes (#110694)
  client/dashboard/sites/settings-crontab/index.tsx
  packages/help-center/src/components/help-center-support-chat-message.scss
  packages/support-articles/src/components/help-center-article/help-center-article.scss
Owners: @Automattic/lego, @Automattic/t-rex

Image Studio: richer suggestion chips, and Share button uses navigator.share only (#110693)
  packages/image-studio/src/hooks/use-generic-share/index.test.ts
  packages/image-studio/src/hooks/use-generic-share/index.ts
  packages/image-studio/src/hooks/use-video-clip-suggestions.test.ts
  packages/image-studio/src/hooks/use-video-clip-suggestions.ts
  packages/image-studio/src/utils/tracking.test.ts
  packages/image-studio/src/utils/tracking.ts
Owners: none

Domain search: fire 'Use a domain I own' Tracks on mobile empty state (#110699)
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
Owners: none

Improve themes dark mode support (#110552)
  apps/notifications/src/panel/boot/stylesheets/main.scss
  client/dashboard/app/color-scheme/index.tsx
  client/my-sites/theme/controller.jsx
  client/my-sites/theme/main.jsx
  client/my-sites/theme/style.scss
  client/my-sites/themes/_dark-mode.scss
  client/my-sites/themes/color-scheme-provider.jsx
  client/my-sites/themes/controller.jsx
  client/my-sites/themes/test/color-scheme-provider.test.jsx
  client/my-sites/themes/theme-showcase.jsx
  client/my-sites/themes/theme-showcase.scss
  packages/components/src/responsive-toolbar-group/dropdown-group.tsx
Owners: @Automattic/lego

APM: Add WordPress sub-tab; drop standalone Requests sub-tab (#110676)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/performance/backend/backend-status.tsx
  client/dashboard/sites/performance/backend/backend-tabs.tsx
  client/dashboard/sites/performance/backend/bar-list.tsx
  client/dashboard/sites/performance/backend/database/index.tsx
  client/dashboard/sites/performance/backend/external-requests/index.tsx
  client/dashboard/sites/performance/backend/index.tsx
  client/dashboard/sites/performance/backend/mock-data.ts
  client/dashboard/sites/performance/backend/overview/chart-slot.tsx
  client/dashboard/sites/performance/backend/overview/index.tsx
  client/dashboard/sites/performance/backend/overview/slow-requests-list.tsx
  client/dashboard/sites/performance/backend/request-detail/index.tsx
  client/dashboard/sites/performance/backend/requests/index.tsx
  client/dashboard/sites/performance/backend/slow-list.tsx
  client/dashboard/sites/performance/backend/test/index.test.tsx
  client/dashboard/sites/performance/backend/transactions/index.tsx
  client/dashboard/sites/performance/backend/utils.ts
  client/dashboard/sites/performance/backend/wordpress/index.tsx
  packages/api-core/src/site-hosting-apm/types.ts
Owners: @Automattic/lego

Reader Fediverse compose: media-trigger handoff to block editor (CM-726) (#110692)
  client/reader/fediverse/composer-config.tsx
  client/reader/fediverse/test/use-fediverse-composer-media.test.tsx
  client/reader/fediverse/use-fediverse-composer-media.tsx
  client/reader/social/composer/composer-overflow-handoff.tsx
  client/reader/social/composer/composer-provider.tsx
  client/reader/social/composer/test/composer-overflow-handoff.test.tsx
  client/reader/social/composer/use-save-draft-mutation.ts
Owners: @Automattic/loop

Fediverse: match account view header to Mastodon / ATmosphere (#110703)
  client/reader/fediverse/fediverse-account-view.tsx
  client/reader/fediverse/style.scss
Owners: @Automattic/loop

Login: align logo treatment with Create Account by dropping compactLogo override (#110597)
  client/login/wp-login/components/one-login-layout.tsx
Owners: none

Reader Social: link mentions in posts via data-handle (CM-725) (#110701)
  client/reader/social/components/post-card/analytics-context.tsx
  client/reader/social/components/post-card/post-card-body.tsx
  client/reader/social/components/post-card/sanitize-post-html.ts
  client/reader/social/components/post-card/test/post-card-body.test.tsx
  client/reader/social/components/post-card/test/sanitize-post-html.test.ts
  client/reader/social/profile-card.tsx
  client/reader/social/test/profile-card.test.tsx
Owners: @Automattic/loop

Inline site-dependency warnings on cancel/remove confirmation screen (#110176)
  client/dashboard/me/billing-purchases/AGENTS.md
  client/dashboard/me/billing-purchases/cancel-purchase/cancellation-main-content.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancellation-pre-survey-content.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/feature-list.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/test/cancellation-main-content.test.tsx
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/me/purchases/cancel-purchase/atomic-revert-changes.tsx
  client/me/purchases/cancel-purchase/index.tsx
  client/me/purchases/manage-purchase/index.tsx
Owners: @Automattic/lego, @Automattic/shilling

APM: Overview slow-requests card uses the shared SlowList component (#110706)
  client/dashboard/sites/performance/backend/overview/slow-requests-list.tsx
Owners: @Automattic/lego

Fix: dark mode SVG fill color (#110707)
  client/dashboard/plugins/scheduled-updates/index.tsx
Owners: @Automattic/lego

Fix cancel survey refresh redirecting to confirmation screen (#110477)
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/me/purchases/cancel-purchase/index.tsx
Owners: @Automattic/lego

Checkout: empty signup cart along with active cart on leave (#110689)
  client/my-sites/checkout/src/components/leave-checkout-modal.tsx
  client/my-sites/checkout/src/components/test/leave-checkout-modal.test.tsx
  packages/shopping-cart/README.md
  packages/shopping-cart/src/index.ts
  packages/shopping-cart/src/use-shopping-cart-manager-client.ts
Owners: @Automattic/shilling

APM: Show dashboard with Start capturing CTA in header (#110711)
  client/dashboard/sites/performance/backend/enable-apm-callout.tsx
  client/dashboard/sites/performance/backend/index.tsx
  client/dashboard/sites/performance/backend/subtitle.tsx
  client/dashboard/sites/performance/backend/test/index.test.tsx
Owners: @Automattic/lego

Reader achievements: add StreakBadge and an Activity Streak header row (#110708)
  client/assets/images/achievements/streak-badge-active.svg
  client/assets/images/achievements/streak-badge-frozen.svg
  client/assets/images/achievements/streak-badge-inactive.svg
  client/assets/images/achievements/streak-badge-longest-active.svg
  client/reader/components/achievements/streak-badge/index.tsx
  client/reader/components/achievements/streak-badge/style.scss
  client/reader/components/achievements/streak-badge/test/index.test.tsx
  client/reader/components/achievements/years-of-service-badge/style.scss
  client/reader/user-profile/views/achievements/activity-streak-pill/index.tsx
  client/reader/user-profile/views/achievements/activity-streak-pill/style.scss
  client/reader/user-profile/views/achievements/activity-streak-pill/test/index.test.tsx
  client/reader/user-profile/views/achievements/activity-streak/index.tsx
  client/reader/user-profile/views/achievements/activity-streak/style.scss
  client/reader/user-profile/views/achievements/activity-streak/test/index.test.tsx
  client/reader/user-profile/views/achievements/index.tsx
  client/reader/user-profile/views/achievements/style.scss
  client/reader/user-profile/views/achievements/test/index.test.tsx
  packages/api-core/src/read-achievements/types.ts
Owners: @Automattic/loop

Cancellation Features: add support for AB treatment (#110717)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/me/purchases/cancel-purchase/index.tsx
  packages/api-core/src/upgrades/fetchers.ts
  packages/api-queries/src/upgrades.ts
Owners: @Automattic/lego

Reader Social: shared <SocialAvatar> with onError fallback (#110702)
  client/reader/social/account-row.tsx
  client/reader/social/avatar.tsx
  client/reader/social/components/notifications-list/notification-item.tsx
  client/reader/social/components/notifications-list/stacked-notification.tsx
  client/reader/social/components/post-card/post-card-header.tsx
  client/reader/social/composer/triggers/timeline-compose-pill.tsx
  client/reader/social/index.ts
  client/reader/social/profile-card.tsx
  client/reader/social/style.scss
  client/reader/social/test/profile-card.test.tsx
  client/reader/social/test/social-avatar.test.tsx
Owners: @Automattic/loop

Purchases: Show 'Edit' label and refresh sidebar copy on VAT details page (#110132)
  client/me/purchases/controller.jsx
  client/me/purchases/vat-info/index.tsx
Owners: none

Rename Review Mediator to AI Editorial Review (#110673)
  packages/jetpack-ai-sidebar/package.json
  packages/jetpack-ai-sidebar/src/components/review-mediation.test.tsx
  packages/jetpack-ai-sidebar/src/components/review-mediation.tsx
  packages/jetpack-ai-sidebar/src/index.test.ts
  packages/jetpack-ai-sidebar/src/index.ts
  packages/jetpack-ai-sidebar/src/utils/tracking.test.ts
  packages/jetpack-ai-sidebar/src/utils/tracking.ts
  yarn.lock
Owners: none

Reader achievements: stop ActivityStreak tests breaking at midnight (#110725)
  client/reader/user-profile/views/achievements/activity-streak/test/index.test.tsx
Owners: @Automattic/loop

Extract dashboard date-range picker into package (#110712)
  client/dashboard/.eslintrc.js
  client/dashboard/sites/backups/index.tsx
  client/dashboard/sites/logs/index.tsx
  client/dashboard/sites/logs/test/index.test.tsx
  client/package.json
  packages/date-range-picker/README.md
  packages/date-range-picker/jest.config.js
  packages/date-range-picker/package.json
  packages/date-range-picker/src/button-stack.tsx
  packages/date-range-picker/src/date-inputs.tsx
  packages/date-range-picker/src/date-range-content.tsx
  packages/date-range-picker/src/date-range-picker.tsx
  packages/date-range-picker/src/datetime.ts
  packages/date-range-picker/src/index.ts
  packages/date-range-picker/src/presets-listbox.tsx
  packages/date-range-picker/src/style.scss
  packages/date-range-picker/src/test/date-range-picker.test.tsx
  packages/date-range-picker/src/test/utils.test.ts
  packages/date-range-picker/src/types.d.ts
  packages/date-range-picker/src/utils.ts
  packages/date-range-picker/tsconfig-cjs.json
  packages/date-range-picker/tsconfig.json
  yarn.lock
Owners: @Automattic/lego

A4A Agent studio: Add Projects (#110716)
  client/a8c-for-agencies/components/a4a-empty-state/index.tsx
  client/a8c-for-agencies/components/a4a-empty-state/style.scss
  client/a8c-for-agencies/components/a4a-intro-video-strip/index.tsx
  client/a8c-for-agencies/components/a4a-intro-video-strip/style.scss
  client/a8c-for-agencies/components/sidebar-menu/hooks/use-learn-menu-items.tsx
  client/a8c-for-agencies/components/sidebar-menu/lib/constants.ts
  client/a8c-for-agencies/lib/permission.ts
  client/a8c-for-agencies/sections/agent-studio/assets/posters/create-first-project.webp
  client/a8c-for-agencies/sections/agent-studio/assets/posters/generate-outputs.webp
  client/a8c-for-agencies/sections/agent-studio/assets/posters/what-is-agent-studio.webp
  client/a8c-for-agencies/sections/agent-studio/controller.tsx
  client/a8c-for-agencies/sections/agent-studio/data/agent-studio-service.ts
  client/a8c-for-agencies/sections/agent-studio/data/mock-agent-studio-service.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-agent-studio-project-outputs.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-agent-studio-project.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-agent-studio-projects.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-agent-studio-welcome-videos.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-create-agent-studio-project.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-delete-agent-studio-project.ts
  client/a8c-for-agencies/sections/agent-studio/lib/paths.ts
  client/a8c-for-agencies/sections/agent-studio/primary/overview/create-project-modal.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/overview/index.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/overview/overview-content.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/overview/style.scss
  client/a8c-for-agencies/sections/agent-studio/primary/project-detail/delete-project-dialog.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/project-detail/index.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/project-detail/project-detail-content.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/project-detail/style.scss
  client/a8c-for-agencies/sections/agent-studio/types.ts
  client/a8c-for-agencies/sections/learn/index.ts
  client/layout/hosting-dashboard/style.scss
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
