Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Add missing site error to my-sites controller onSelectedSiteAvailable (#109755)
  client/my-sites/controller.js
Owners: none

MSD: Reorganize Preferences into sub-pages with summary cards (#109744)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/blocked-sites/index.tsx
  client/dashboard/me/language/index.tsx
  client/dashboard/me/language/test/index.test.tsx
  client/dashboard/me/preferences-blocked-sites/index.tsx
  client/dashboard/me/preferences-defaults/index.tsx
  client/dashboard/me/preferences-language/index.tsx
  client/dashboard/me/preferences-language/test/index.test.tsx
  client/dashboard/me/preferences-privacy/index.tsx
  client/dashboard/me/preferences/index.tsx
  client/dashboard/me/privacy/usage-information-card.tsx
  client/dashboard/me/security/index.tsx
  client/dashboard/me/wordpress-defaults/index.tsx
Owners: @Automattic/lego

Use last child to set bottom spacing (#109782)
  client/me/style.scss
Owners: none

Remove ended account step experiment code (#109783)
  client/blocks/signup-form/signup-form-social-first.tsx
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-01.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-01@2x.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-02.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-02@2x.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-03.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-03@2x.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-04.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-04@2x.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/pattern-01.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/pattern-02.webp
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/slide1.svg
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/slide2.jpg
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/slide3.svg
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/use-account-creation-experiment.ts
Owners: none

A4A: Pass external-checkout flag to UPI pending redirect (#109763)
  client/my-sites/checkout/src/components/checkout-main.tsx
  client/my-sites/checkout/src/lib/upi-processor.ts
Owners: @Automattic/shilling

A4A: Refine lead matching draft sync and validation UX (#109682)
  client/a8c-for-agencies/components/form/field/index.tsx
  client/a8c-for-agencies/components/form/section/index.tsx
  client/a8c-for-agencies/sections/partner-directory/components/form-token-field-wrapper.tsx
  client/a8c-for-agencies/sections/partner-directory/components/minimum-budget-selector.tsx
  client/a8c-for-agencies/sections/partner-directory/lead-matching/hooks/use-lead-matching-form.ts
  client/a8c-for-agencies/sections/partner-directory/lead-matching/hooks/use-lead-matching-save-state.ts
  client/a8c-for-agencies/sections/partner-directory/lead-matching/hooks/use-submit-form.ts
  client/a8c-for-agencies/sections/partner-directory/lead-matching/index.tsx
  client/a8c-for-agencies/sections/partner-directory/lead-matching/style.scss
  client/a8c-for-agencies/sections/partner-directory/lead-matching/test/use-lead-matching-form.test.ts
  client/a8c-for-agencies/sections/partner-directory/lead-matching/test/use-lead-matching-save-state.test.ts
  client/a8c-for-agencies/sections/partner-directory/style.scss
  client/state/a8c-for-agencies/agency/actions.ts
  client/state/a8c-for-agencies/agency/test/actions.ts
  client/state/a8c-for-agencies/types.ts
Owners: none

A4A: Enable dev helper flags for A8C agencies (#109796)
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-stage.json
Owners: none

Complimentary Subscriptions: handle end_date and expiration (#109738)
  client/blocks/reader-site-subscription/details.tsx
  client/blocks/reader-site-subscription/helpers.tsx
  client/components/subscription-period-label/index.tsx
  client/my-sites/subscribers/components/comp-modal/comp-modal.tsx
  client/my-sites/subscribers/components/subscriber-details/subscriber-details.tsx
  client/my-sites/subscribers/hooks/use-subscription-plans.ts
  client/state/memberships/comps/actions.js
Owners: @Automattic/loop

Checkout: Revert using generic renewal route for all renewals (#109792)
  client/my-sites/checkout/index.js
Owners: none

Use checkoutType to determine checkout type in post-checkout (#109721)
  client/my-sites/checkout/checkout-thank-you/index.tsx
  client/my-sites/checkout/checkout-thank-you/pending/index.tsx
  packages/api-core/src/me-billing-history/types.ts
Owners: none

Route tweaks (#109799)
  client/me/index.js
  client/me/telegram/use-telegram-bot-widget.tsx
  client/telegram-connect/controller.js
  client/telegram-connect/index.js
Owners: none

Update site spec to 1.5.0 (#109804)
  config/_shared.json
Owners: none

MSD: Increase card density on account settings pages (#109788)
  client/dashboard/me/billing/index.tsx
  client/dashboard/me/notifications-comments/summary.tsx
  client/dashboard/me/notifications-emails/summary.tsx
  client/dashboard/me/notifications-extras/summary.tsx
  client/dashboard/me/notifications-sites/summary.tsx
  client/dashboard/me/notifications/index.tsx
  client/dashboard/me/preferences-ai-mcp/index.tsx
  client/dashboard/me/preferences-blocked-sites/index.tsx
  client/dashboard/me/preferences-defaults/index.tsx
  client/dashboard/me/preferences-language/index.tsx
  client/dashboard/me/preferences-new-hosting-dashboard/index.tsx
  client/dashboard/me/preferences-privacy/index.tsx
  client/dashboard/me/preferences/index.tsx
  client/dashboard/me/security-account-recovery/summary.tsx
  client/dashboard/me/security-connected-apps/summary.tsx
  client/dashboard/me/security-password/summary.tsx
  client/dashboard/me/security-social-logins/summary.tsx
  client/dashboard/me/security-ssh-key/summary.tsx
  client/dashboard/me/security-two-step-auth/summary.tsx
  client/dashboard/me/security/index.tsx
Owners: @Automattic/lego

Dashboard: Allow to change the WordPress version for sites with backup. (#109747)
  client/dashboard/app/router/sites.tsx
  client/dashboard/components/opt-in-survey/index.tsx
  client/dashboard/sites/features.ts
  client/dashboard/sites/overview/index.tsx
  client/dashboard/sites/overview/wp-version-notice.tsx
  client/dashboard/sites/settings-wordpress/index.tsx
  client/dashboard/sites/settings-wordpress/test/index.test.tsx
  client/dashboard/utils/wp-version.ts
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
  packages/api-core/src/me-preferences/types.ts
Owners: @Automattic/lego

Agents Manager: Fix wp-admin navigation ability issues (#109704)
  client/package.json
  packages/agents-manager/package.json
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/global.d.ts
  packages/agents-manager/src/hooks/use-conversation.ts
  packages/agents-manager/src/hooks/use-save-new-chat-route.ts
  packages/agents-manager/src/hooks/use-setup-custom-actions/README.md
  packages/agents-manager/src/hooks/use-setup-custom-actions/index.ts
  packages/agents-manager/src/utils/load-external-providers.ts
  packages/block-notes/package.json
  packages/image-studio/package.json
  packages/odie-client/package.json
  yarn.lock
Owners: none

turn on dolly telegram agent in prod (#109789)
  config/production.json
Owners: none

Add Recommended badge to CIAB Basic plan card (#109756)
  packages/plans-grid-next/src/components/features-grid/plan-headers.tsx
  packages/plans-grid-next/src/components/features-grid/style.scss
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans.tsx
  packages/plans-grid-next/src/hooks/data-store/use-title-badges.ts
  packages/plans-grid-next/src/types.ts
Owners: @Automattic/martech

Plans: Update CIAB plan card and comparison grid to match designs (#109717)
  packages/calypso-products/src/constants/features.ts
  packages/calypso-products/src/feature-group-plan-map.ts
  packages/calypso-products/src/features-list.tsx
  packages/calypso-products/src/plans-list.tsx
Owners: none

Plans: Update CIAB plan taglines and subheader copy (#109750)
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/unified-plans-step.tsx
  packages/calypso-products/src/plans-list.tsx
Owners: none

add breadcrumb to the domain contact info page (#109684)
  client/my-sites/domains/domain-management/edit-contact-info-page/index.tsx
  client/my-sites/domains/domain-management/edit-contact-info-page/test/edit-contact-info-page-content.test.tsx
  client/my-sites/domains/domain-management/edit-contact-info-page/types.tsx
Owners: none

Backup: block multisite unconditionally, matching Scan (#108864)
  client/a8c-for-agencies/sections/sites/features/jetpack/backup/controller.js
  client/jetpack-cloud/sections/agency-dashboard/sites-overview/site-expanded-content/backup-storage.tsx
  client/jetpack-cloud/sections/agency-dashboard/sites-overview/site-status-content/hooks/use-is-multisite-supported.ts
  client/my-sites/backup/controller.js
  client/my-sites/backup/multisite-no-backup-plan-switch.tsx
Owners: none

Stats: Use unified header via @wordpress/admin-ui Page component (#109786)
  client/components/jetpack-title/index.tsx
  client/my-sites/stats/components/stats-main/index.tsx
  client/my-sites/stats/hooks/use-stats-navigation-history.ts
  client/my-sites/stats/overview.jsx
  client/my-sites/stats/pages/insights/index.jsx
  client/my-sites/stats/pages/purchase/index.tsx
  client/my-sites/stats/pages/realtime/index.jsx
  client/my-sites/stats/pages/subscribers/index.tsx
  client/my-sites/stats/site.jsx
  client/my-sites/stats/stats-download-csv/index.jsx
  client/my-sites/stats/stats-download-csv/style.scss
  client/my-sites/stats/stats-email-detail/index.jsx
  client/my-sites/stats/stats-email-summary/index.jsx
  client/my-sites/stats/stats-post-detail/index.jsx
  client/my-sites/stats/style.scss
  client/my-sites/stats/summary/index.jsx
  client/my-sites/stats/wordads/index.jsx
Owners: none

Odyssey Stats: Fix wp-admin layout padding and sticky header (#109809)
  apps/odyssey-stats/src/styles/wp-admin.scss
Owners: none

Fix Help Center hydration mismatch in masterbar (#109543)
  client/dashboard/app/interim-omnibar/index.tsx
  client/dashboard/app/interim-omnibar/interim-omnibar.tsx
  client/layout/masterbar/logged-in.jsx
Owners: @Automattic/lego

Enable PostHog tracking in stage environment (#109673)
  config/dashboard-stage.json
  config/stage.json
Owners: none

Agents Manager: Bump agenttic packages to v0.1.58 (#109816)
  packages/agents-manager/package.json
  packages/block-notes/package.json
  packages/image-studio/package.json
  packages/odie-client/package.json
  yarn.lock
Owners: none

Agents Manager: Remove SILENT_TOOL_IDS workaround for set-processing-state (#109817)
  packages/agents-manager/src/utils/convert-tool-messages-to-components.ts
Owners: none

CIAB: Show notice when purchased domain is being set as primary (#109716)
  client/dashboard/app-ciab/translations.ts
  client/dashboard/components/pending-primary-domain-notice/index.tsx
  client/dashboard/components/pending-primary-domain-notice/test/index.test.tsx
  client/dashboard/domains/domain-overview/index.tsx
  client/dashboard/sites/domains/index.tsx
  client/dashboard/utils/domain.ts
  client/dashboard/utils/test/domain.js
  client/landing/stepper/declarative-flow/flows/domain/domain.ts
Owners: @Automattic/lego

Dashboard performance: hide page and device selectors when site is not public (#109774)
  client/hosting/performance/components/MobileHeader.tsx
  client/hosting/performance/site-performance.tsx
Owners: none

Dashboard Visibility Settings: Standardize site launch (#109742)
  client/dashboard/components/confetti.ts
  client/dashboard/sites/settings-site-visibility/index.tsx
  client/dashboard/sites/site-launch-button/index.tsx
  client/dashboard/sites/site-launch-celebration-modal/index.tsx
  client/dashboard/sites/site-launch-celebration-modal/styles.scss
  client/dashboard/sites/site-launch-celebration-modal/test/index.test.tsx
  package.json
  yarn.lock
Owners: @Automattic/lego

Dashboard: Site Performance: Standardize site launch (#109772)
  client/hosting/performance/site-performance.tsx
  client/signup/config/flows-pure.js
  client/signup/config/flows.js
  client/signup/main.jsx
Owners: none

Revert "Dashboard: Site Performance: Standardize site launch (#109772)" (#109818)
  client/hosting/performance/site-performance.tsx
  client/signup/config/flows-pure.js
  client/signup/config/flows.js
  client/signup/main.jsx
Owners: none

Site AI Tools: add Read/Write/Setup MCP sub-pages (#109734)
  client/dashboard/app/breadcrumbs/index.tsx
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/settings-ai-tools/index.tsx
  client/dashboard/sites/settings-ai-tools/read/index.tsx
  client/dashboard/sites/settings-ai-tools/setup/index.tsx
  client/dashboard/sites/settings-ai-tools/style.scss
  client/dashboard/sites/settings-ai-tools/summary.tsx
  client/dashboard/sites/settings-ai-tools/write/index.tsx
  client/me/mcp/main.jsx
  client/me/mcp/mcp-add-site.jsx
  client/me/mcp/mcp-sites.jsx
  client/me/mcp/utils.js
  client/sites/index.tsx
  client/sites/v2/site-settings/router.tsx
Owners: @Automattic/lego

Fix newsletter domain search not pre-populating with newsletter name (#109757)
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
Owners: none

Reader: Migrate useReadFeedSiteQuery to api-core/api-queries (#109802)
  client/blocks/reader-feed-item/index.tsx
  client/reader/stream/customer-council-banner.jsx
  packages/api-core/src/index.ts
  packages/api-core/src/read-sites/fetchers.ts
  packages/api-core/src/read-sites/index.ts
  packages/api-core/src/read-sites/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/read-site.ts
  packages/data-stores/src/reader/index.ts
  packages/data-stores/src/reader/queries/index.ts
  packages/data-stores/src/reader/queries/use-read-feed-site-query.ts
Owners: @Automattic/loop

Dashboard MCP: show 'Add to specific sites' when account MCP is disabled (#109819)
  client/dashboard/me/mcp/index.tsx
  client/dashboard/me/mcp/mcp-sites/index.tsx
Owners: @Automattic/lego

WP Beta Program: only allow Business plan or above (#109812)
  client/dashboard/sites/features.ts
  client/dashboard/utils/wp-version.ts
Owners: @Automattic/lego

Dashboard: Add compact variant to EmptyState.Wrapper (#109807)
  client/dashboard/components/empty-state/index.stories.tsx
  client/dashboard/components/empty-state/index.tsx
  client/dashboard/components/empty-state/style.scss
  client/dashboard/me/blocked-sites/index.tsx
Owners: @Automattic/lego

A4A: Enable checkout/stripe-upi on A4A production (#109825)
  config/a8c-for-agencies-production.json
Owners: none

MSD: Show version switch progress when changing WordPress version (#109795)
  client/dashboard/sites/settings-wordpress/beta-program-notice.tsx
  client/dashboard/sites/settings-wordpress/index.tsx
  client/dashboard/sites/settings-wordpress/latest-version-notice.tsx
  client/dashboard/sites/settings-wordpress/test/index.test.tsx
  client/dashboard/sites/settings-wordpress/use-version-switch.ts
  client/dashboard/sites/settings-wordpress/version-form.tsx
  client/dashboard/sites/settings-wordpress/version-switch-notice.tsx
  packages/api-core/src/site-hosting/fetchers.ts
  packages/api-core/src/site-hosting/mutators.ts
  packages/api-queries/src/site-wordpress-version.ts
Owners: @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
