Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Calypso Products: remove dead audience/short-description getters from PLANS_LIST (#111573)
  packages/calypso-products/src/plans-list.tsx
  packages/calypso-products/src/types.ts
Owners: none

Domain bundles: group bundle line items in the checkout order summary (#111469)
  client/my-sites/checkout/src/components/cost-overrides-list.tsx
  client/my-sites/checkout/src/components/test/cost-overrides-list.test.tsx
  packages/wpcom-checkout/src/checkout-line-items.tsx
Owners: @Automattic/shilling

Newsletter Tiers settings - Allow setting and editing a description field. (#111355)
  client/my-sites/earn/components/add-edit-plan-modal/index.tsx
  client/my-sites/earn/memberships/products-list.tsx
  client/my-sites/earn/memberships/style.scss
  client/my-sites/earn/memberships/test/products-list.tsx
  client/my-sites/earn/types.ts
  client/state/data-layer/wpcom/sites/memberships/index.js
Owners: none

A4A: Disable URL localization on licenses "Prepare for launch" link (#111576)
  client/a8c-for-agencies/sections/purchases/licenses/license-preview/license-actions.tsx
Owners: none

A4A Plugins: remove list layout from the plugins DataView (#111574)
  client/my-sites/plugins/plugins-list/plugins-list-dataviews.tsx
Owners: none

A4A Marketplace: remove tier-based discount coming soon messaging for BD (#111579)
  client/a8c-for-agencies/sections/marketplace/products-overview/discounts-coming-soon-message/index.tsx
  client/a8c-for-agencies/sections/marketplace/products-overview/discounts-coming-soon-message/style.scss
  client/a8c-for-agencies/sections/marketplace/products-overview/discounts-coming-soon-modal/index.tsx
  client/a8c-for-agencies/sections/marketplace/products-overview/discounts-coming-soon-modal/style.scss
  client/a8c-for-agencies/sections/marketplace/products-overview/product-action-panel/index.tsx
Owners: none

Blaze: redesign the advertising/Blaze page header (#111173)
  apps/blaze-dashboard/package.json
  apps/blaze-dashboard/src/app.scss
  apps/blaze-dashboard/src/components/generic-header/blaze-plugin-header/index.jsx
  apps/blaze-dashboard/src/components/generic-header/blaze-plugin-header/style.scss
  apps/blaze-dashboard/src/components/generic-header/index.jsx
  apps/blaze-dashboard/src/components/generic-header/jetpack-blaze-header/index.jsx
  apps/blaze-dashboard/src/components/generic-header/jetpack-blaze-header/style.scss
  apps/blaze-dashboard/src/pages/setup/main.jsx
  apps/blaze-dashboard/src/styles/wp-admin.scss
  apps/blaze-dashboard/webpack.config.js
  client/components/jetpack/jetpack-footer/index.tsx
  client/my-sites/promote-post-i2/components/blaze-page/index.tsx
  client/my-sites/promote-post-i2/components/campaign-item-details/index.tsx
  client/my-sites/promote-post-i2/components/campaign-item-details/style.scss
  client/my-sites/promote-post-i2/components/campaign-item-page/style.scss
  client/my-sites/promote-post-i2/main.tsx
  client/my-sites/promote-post-i2/style.scss
  yarn.lock
Owners: none

Domains: show group-level discount strikethrough on bundle line items (#111518)
  packages/mini-cart/test/mini-cart-line-items.tsx
  packages/wpcom-checkout/src/checkout-line-items.tsx
  packages/wpcom-checkout/test/bundle-line-item.tsx
  packages/wpcom-checkout/test/fixtures/bundle-cart.ts
Owners: @Automattic/shilling

Site Setup: return to Newsletter UI from importer back button for wp-admin-newsletter-ui ref (#111580)
  client/landing/stepper/declarative-flow/flows/site-setup-flow/site-setup-flow.ts
Owners: none

remove reader section from light blue header styles (#111590)
  packages/wpcom-template-parts/src/universal-header-navigation/style.scss
Owners: none

client/me: forward-compatible React 19 changes (#111584)
  client/me/purchases/billing-history/field-definitions.tsx
  client/me/purchases/billing-history/utils.tsx
  client/me/purchases/manage-purchase/index.tsx
  client/me/purchases/manage-purchase/purchase-meta-auto-renew-coupon-detail.tsx
  client/me/purchases/manage-purchase/purchase-meta-introductory-offer-detail.tsx
  client/me/purchases/manage-purchase/purchase-meta.tsx
  client/me/purchases/upcoming-renewals/test/upcoming-renewals-dialog.tsx
  client/me/purchases/vat-info/use-record-vat-events.ts
  client/me/security-2fa-backup-codes-list/index.jsx
Owners: @Automattic/shilling

client/sites: React 19 forward-compatible (behavior-preserving) (#111586)
  client/sites/components/panel-sidebar/index.tsx
  client/sites/hosting/controller.tsx
  client/sites/marketing/sharing/preview-button.jsx
  client/sites/marketing/sharing/preview-buttons.jsx
  client/sites/staging-site/hooks/use-site-sync-status.tsx
Owners: @Automattic/yolo

Login: migrate to React 19 scoped JSX namespace (#111585)
  client/login/magic-login/utils/heading-utils.tsx
  client/login/wp-login/components/one-login-footer.tsx
  client/login/wp-login/components/one-login-layout.tsx
Owners: none

@automattic/ui: move Stepper changelog entry to Unreleased and revert version to 1.0.2 (#111578)
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Owners: none

client/landing: React 19 forward-compatible (behavior-preserving) (#111570)
  client/landing/domains/index.jsx
  client/landing/stepper/declarative-flow/internals/components/step-route/index.tsx
  client/landing/stepper/declarative-flow/internals/components/step-route/test/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/handle-social-response.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/components/flow-card/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-instructions/steps/use-steps.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-ssh-share-access/steps/use-steps.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-picker/test/site-picker.tsx
  client/landing/subscriptions/components/feed-preview/index.tsx
  client/landing/subscriptions/components/settings/icons/unsubscribe-icon.tsx
  client/landing/subscriptions/components/virtualized-list/virtualized-list.tsx
  client/landing/subscriptions/index.tsx
Owners: @Automattic/dotcom-stepper

Dashboard: track sites list search and per-site quick actions (#111480)
  client/dashboard/sites/dataviews/actions.tsx
  client/dashboard/sites/dataviews/views.ts
  client/dashboard/sites/test/views.ts
Owners: @Automattic/lego

client/components: migrate function-component defaultProps to default params (React 19) (#111566)
  client/components/jetpack/videopress-iframe/index.tsx
  client/components/localized-moment/README.md
  client/components/navigation-header/index.tsx
  client/components/reviews-rating-stars/star.tsx
  client/components/site-offset/README.md
  client/components/ssh-key-card/index.tsx
Owners: @Automattic/i18n

client/components: migrate tests to @testing-library/react for React 19 (#111597)
  client/components/drop-zone/test/index.jsx
  client/components/forms/counted-textarea/test/index.jsx
  client/components/forms/multi-checkbox/test/index.jsx
  client/components/forms/range/test/index.jsx
  client/components/search/test/index.jsx
  client/components/section-nav/test/index.jsx
  client/components/track-input-changes/test/index.jsx
  client/components/videos-ui/test/video-player.jsx
Owners: none

Dashboard: remove icons from backup action buttons (#111496)
  client/dashboard/sites/backup-download/form.tsx
  client/dashboard/sites/backup-download/success.tsx
  client/dashboard/sites/backup-restore/form.tsx
  client/dashboard/sites/backup-restore/granular-form.tsx
  client/dashboard/sites/backups/backup-details.tsx
Owners: @Automattic/lego

Dashboard: only add A4A signup routing when on dashboard or a4a dev env (#111599)
  client/server/pages/index.js
Owners: none

Dashboard: fix unstable TanStack Query deps (#111488)
  client/dashboard/domains/dataviews/actions.tsx
  client/dashboard/domains/domain-dns/actions.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/domain-removal-flow.tsx
  client/dashboard/plugins/manage/index.tsx
  client/dashboard/plugins/scheduled-updates/hooks/use-create-schedules.ts
  client/dashboard/plugins/scheduled-updates/hooks/use-scheduled-updates.ts
  client/dashboard/sites/scan/hooks/use-fix-threats.ts
Owners: @Automattic/lego

client/components: migrate snapshot tests off react-test-renderer; drop stale findDOMNode mock (#111602)
  client/components/gsuite/gsuite-features/test/__snapshots__/index.js.snap
  client/components/gsuite/gsuite-features/test/__snapshots__/single-feature.js.snap
  client/components/gsuite/gsuite-features/test/index.js
  client/components/gsuite/gsuite-features/test/single-feature.js
  client/components/gsuite/gsuite-learn-more/test/__snapshots__/index.js.snap
  client/components/gsuite/gsuite-learn-more/test/index.js
  client/components/gsuite/gsuite-price/test/__snapshots__/index.js.snap
  client/components/gsuite/gsuite-price/test/index.js
  client/components/multiple-choice-question/test/__snapshots__/index.js.snap
  client/components/multiple-choice-question/test/index.js
  client/components/sticky-panel/test/index.js
Owners: @Automattic/jetpack-avalon

happy-blocks: fix mobile support nav dropdown causing horizontal scroll (#111606)
  apps/happy-blocks/block-library/search-card/style.scss
Owners: none

Update Site Spec to v1.10.0 (#111610)
  config/_shared.json
Owners: none

[e2e tests] Add Slack reply to GB announcement for new GB tests build (#111561)
  .teamcity/_self/projects/WPComTests.kt
Owners: none

Checkout: accept CNPJ alongside CPF for Brazilian taxpayer ID (#111464)
  client/lib/checkout/validation.js
  client/my-sites/checkout/src/lib/pix-automatico-processor.ts
  client/my-sites/checkout/src/lib/pix-processor.ts
  client/my-sites/checkout/src/payment-methods/pix.tsx
  packages/wpcom-checkout/src/processor-specific.ts
  packages/wpcom-checkout/test/processor-specific.ts
Owners: @Automattic/shilling

Help Center: refresh the messenger auth query on Smooch onInvalidAuth (#111571)
  packages/help-center/src/components/help-center-smooch.tsx
  packages/help-center/src/components/test/help-center-smooch.tsx
Owners: @Automattic/t-rex

Themes: Remove retained benefit feature (#111252)
  client/data/themes/use-tier-retained-benefits-query.ts
  client/state/themes/hooks/test/use-is-theme-allowed-on-site.tsx
  client/state/themes/hooks/use-is-theme-allowed-on-site.ts
  client/state/themes/hooks/use-theme-tier-for-theme.ts
Owners: none

client/components: migrate .jsx function-component defaultProps to default params (React 19) (#111609)
  client/components/domains/connect-domain-step/connect-domain-step-clipboard-button.jsx
  client/components/domains/connect-domain-step/connect-domain-step-login.jsx
  client/components/domains/contact-details-form-fields/custom-form-fieldsets/eu-address-fieldset.jsx
  client/components/domains/contact-details-form-fields/custom-form-fieldsets/uk-address-fieldset.jsx
  client/components/domains/contact-details-form-fields/custom-form-fieldsets/us-address-fieldset.jsx
  client/components/domains/use-my-domain/domain-input.jsx
  client/components/forms/form-tel-input/index.jsx
  client/components/gsuite/gsuite-features/index.jsx
  client/components/gsuite/gsuite-learn-more/index.jsx
  client/components/jetpack/daily-backup-status/action-buttons.jsx
  client/components/jetpack/jetpack-header/index.jsx
  client/components/multiple-choice-question/answer.jsx
  client/components/multiple-choice-question/index.jsx
  client/components/product-card/action.jsx
  client/components/vertical-menu/items/social-item.jsx
Owners: @Automattic/quake, @Automattic/jetpack-avalon

Add section property to Studio sync tracking event (#109572)
  client/landing/stepper/declarative-flow/flows/new-hosted-site-flow/new-hosted-site-flow.ts
Owners: none

Agents Manager: bundle @wordpress/ui instead of externalizing it (#111614)
  apps/agents-manager/webpack.config.js
Owners: none

Global Nav 2026: design hamburger SVG + collapse hidden app banner (#111605)
  packages/wpcom-template-parts/src/universal-header-navigation/index.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/style.scss
Owners: none

Checkout: Route partial failure orders to failed-purchases page (#109958)
  client/my-sites/checkout/checkout-thank-you/failed-purchase-details.tsx
  client/my-sites/checkout/checkout-thank-you/failed-purchase-page.tsx
  client/my-sites/checkout/checkout-thank-you/pending/index.tsx
  client/my-sites/checkout/checkout-thank-you/test/failed-purchase-page.tsx
  client/my-sites/checkout/src/lib/pending-page.ts
  packages/api-core/src/me-billing-history/fetchers.ts
  packages/api-core/src/me-billing-history/types.ts
  packages/api-queries/src/me-billing-history.ts
Owners: @Automattic/shilling

E2E: harden sitePublic fixture against token and activation propagation races (#111568)
  packages/calypso-e2e/src/types/rest-api-client.types.ts
  test/e2e/lib/pw-base.ts
  test/e2e/specs/shared/api-create-free-site.ts
  test/e2e/specs/shared/api-wait-for-account-propagation.ts
  test/e2e/specs/shared/index.ts
Owners: none

client/components: drop findDOMNode in section-nav; migrate docs-example defaultProps (React 19) (#111622)
  client/components/action-card/docs/example.jsx
  client/components/animate/docs/example.jsx
  client/components/back-button/docs/example.jsx
  client/components/diff-viewer/docs/example.jsx
  client/components/empty-content/docs/example.jsx
  client/components/section-nav/item.jsx
  client/components/section-nav/tabs.jsx
  client/components/textarea-autosize/docs/example.jsx
  client/components/vertical-nav/docs/example.jsx
Owners: none

Domains: wire the "Get bundle" CTA to add bundle members to the cart (#111519)
  client/components/domains/wpcom-domain-search/test/use-wpcom-domain-search-props.ts
  client/components/domains/wpcom-domain-search/use-wpcom-domain-search-cart.ts
  client/components/domains/wpcom-domain-search/use-wpcom-domain-search-props.ts
  packages/domain-search/src/components/bundle-card/index.tsx
  packages/domain-search/src/components/bundle-card/test/index.tsx
  packages/domain-search/src/page/results.tsx
  packages/domain-search/src/page/test/results.tsx
  packages/domain-search/src/page/types.ts
  packages/domain-search/src/test-helpers/factories/cart.ts
Owners: @Automattic/quake

MSD Emails: Add Titan Premium/Ultra product slugs and tier-aware product detection (#111536)
  client/dashboard/emails/types.ts
  client/dashboard/emails/utils/get-product-provider.ts
  client/dashboard/emails/utils/is-monthly-email-product.ts
  client/dashboard/emails/utils/titan-tiers.ts
  client/dashboard/me/billing-purchases/cancel-purchase/get-confirmation-copy.ts
  client/dashboard/utils/purchase.ts
  packages/api-core/src/constants.ts
Owners: @Automattic/lego

Nav 2026: raise the open nav above secondary navs and collapse the dropdown on close (#111625)
  packages/wpcom-template-parts/src/types.ts
  packages/wpcom-template-parts/src/universal-header-navigation/index.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/menu-items.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/style.scss
Owners: none

Dashboard Emails: Fix cold-load 500 on the add-mailbox page (#111629)
  client/dashboard/app/router/emails.tsx
  client/dashboard/emails/add-mailbox/index.tsx
Owners: @Automattic/lego

Domains: surface add-to-cart failures on the bundle suggestion card (#111523)
  packages/domain-search/src/components/bundle-card/bundle-card.stories.tsx
  packages/domain-search/src/components/bundle-card/index.tsx
  packages/domain-search/src/components/bundle-card/test/index.tsx
  packages/domain-search/src/hooks/use-is-current-mutation.ts
  packages/domain-search/src/page/results.tsx
  packages/domain-search/src/page/test/results.tsx
Owners: none
