Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Podcasting: update header & use Page component (#108878)
  client/my-sites/site-settings/podcasting-details/index.jsx
  client/my-sites/site-settings/podcasting-details/style.scss
  client/my-sites/site-settings/settings-podcast/controller.ts
Owners: none

Renewal pricing: update the rollout date (#109575)
  client/my-sites/plans-features-main/hooks/test/use-renewal-price-experiment.ts
  client/my-sites/plans-features-main/hooks/use-renewal-price-experiment.ts
Owners: none

TeamCity: Point default docker_image to toolchain (#109535)
  .teamcity/settings.kts
Owners: none

Update data/README.md (#109578)
  client/data/README.md
Owners: none

Dockerfile.toolchain: Automate builds on relevant trunk changes and weekly schedule (#109580)
  .teamcity/settings.kts
Owners: none

Docker Image: Add cache-seed key computation and staleness detection to builds (#109585)
  .teamcity/_self/projects/WebApp.kt
  .teamcity/settings.kts
  bin/print-cache-seed-key.sh
Owners: none

Update data/README.md (#109587)
  client/data/README.md
Owners: none

Update caniuse-lite 1.0.30001751 -> 1.0.30001781 (#109588)
  yarn.lock
Owners: none

PartnerBranding: Refactor partner branding detector naming across auth flows (#109561)
  client/components/connect-screen/stories/index.stories.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/index.tsx
  client/layout/logged-out.jsx
  client/lib/partner-branding.tsx
  client/lib/test/partner-branding.tsx
  client/login/magic-login/index.jsx
  client/login/magic-login/test/index.test.jsx
  client/login/wp-login/hooks/get-header-text.tsx
  client/login/wp-login/hooks/get-heading-subtext.tsx
  client/login/wp-login/hooks/test/get-heading-subtext.test.tsx
  client/login/wp-login/index.jsx
  client/my-sites/invites-unified/index.tsx
  client/my-sites/invites-unified/screens/accept-invite-screen.tsx
  client/my-sites/invites-unified/screens/email-mismatch-screen.tsx
  client/my-sites/invites-unified/screens/invite-screen-layout.tsx
  client/my-sites/invites-unified/screens/test/accept-invite-screen.test.tsx
  client/my-sites/invites-unified/screens/test/already-member-screen.test.tsx
  client/my-sites/invites-unified/screens/test/email-mismatch-screen.test.tsx
  client/my-sites/invites-unified/test/index.test.tsx
  client/my-sites/invites/controller.js
  client/my-sites/invites/invite-accept-logged-out/index.jsx
  client/my-sites/invites/invite-accept-logged-out/wp-logo.tsx
  client/my-sites/invites/invite-form-header-logged-out/index.jsx
  client/my-sites/invites/test/invite-accept-logged-out.jsx
  client/my-sites/invites/test/invite-form-header-logged-out.jsx
  client/signup/main.jsx
Owners: none

MSD: Remove ScrollLock from Switcher dropdown (#109548)
  client/dashboard/components/switcher/index.tsx
Owners: @Automattic/lego

MSD: Use omnibar-aware viewport breakpoints for Backups, Plugins, and Performance (#109539)
  client/dashboard/plugins/manage/index.tsx
  client/dashboard/sites/backups/index.tsx
  client/dashboard/sites/performance/constants.ts
  client/dashboard/sites/performance/core-metrics-chart.tsx
  client/dashboard/sites/performance/core-metrics-tabs.tsx
  client/dashboard/sites/performance/core-metrics.tsx
  client/dashboard/sites/performance/device-toggle.tsx
  client/dashboard/sites/performance/llm-notice.tsx
  client/dashboard/sites/performance/page-selector.tsx
  client/dashboard/sites/performance/performance-insight.tsx
  client/dashboard/sites/performance/performance-insights.tsx
Owners: @Automattic/lego

MSD Sidebar: Add expand/collapse animation to sidebar menu (#109538)
  client/dashboard/components/sidebar/sidebar-expandable-menu-item.scss
  client/dashboard/components/sidebar/sidebar-expandable-menu-item.tsx
Owners: @Automattic/lego

Dashboard: Hide SitePreview on SiteOverview when OmniBar flag on.
  client/dashboard/app-ciab/index.tsx
  client/dashboard/app-dotcom/index.tsx
  client/dashboard/app/context.tsx
  client/dashboard/sites/overview/index.tsx
  client/sites/v2/site-overview/router.tsx
Owners: @Automattic/lego

Switch CSS chunk filenames from contenthash to chunkhash (#109592)
  client/webpack.config.js
Owners: none

MSD: Bridge omnibar click handlers to dashboard app (#109537)
  client/dashboard/app/boot.tsx
  client/dashboard/app/interim-omnibar/click-handlers.ts
  client/dashboard/app/interim-omnibar/index.tsx
  client/dashboard/app/interim-omnibar/interim-omnibar.tsx
  client/dashboard/app/interim-omnibar/style.scss
  client/dashboard/app/notifications/index.tsx
  client/dashboard/app/root/index.tsx
  client/document/index.jsx
Owners: @Automattic/lego

Reader sidebar: Move upsell nudge below navigation menu (#109507)
  client/reader/sidebar/index.jsx
  client/reader/sidebar/reader-sidebar-nudges/index.jsx
Owners: @Automattic/loop

Agent Manager: Add currentScreen and selectedSiteId to client context (#108722)
  packages/agents-manager/src/utils/create-agent-config.ts
Owners: none

Theme Showcase: Launch modern logged-out redesign (#109601)
  client/my-sites/themes/hero-modern/index.tsx
  client/my-sites/themes/hero-modern/style.scss
  config/horizon.json
  config/production.json
  config/stage.json
Owners: none

MSD Sidebar: Fix expandable menu item overflow clipping focus outlines (#109596)
  client/dashboard/components/sidebar/sidebar-expandable-menu-item.scss
Owners: @Automattic/lego

Global expansion: Test adding a separate handling for the thank you page of the site-less paid media flow (#109482)
  client/my-sites/checkout/checkout-thank-you/index.tsx
  client/my-sites/checkout/checkout-thank-you/pending/index.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/plan-only.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/products/plan-product.tsx
  client/my-sites/checkout/controller.jsx
  client/my-sites/checkout/get-thank-you-page-url/index.ts
  client/my-sites/checkout/get-thank-you-page-url/test/get-thank-you-page-url.ts
  client/my-sites/checkout/src/test/pending-page.ts
Owners: @Automattic/shilling

MSD Sidebar: Add SidebarMenuSwitcherItem for SiteSwitcher (#109498)
  client/dashboard/app-ciab/index.tsx
  client/dashboard/app-dotcom/index.tsx
  client/dashboard/app/context.tsx
  client/dashboard/components/sidebar/index.tsx
  client/dashboard/components/sidebar/sidebar-menu-switcher-item.scss
  client/dashboard/components/sidebar/sidebar-menu-switcher-item.tsx
  client/dashboard/sites-ciab/site-switcher-v2/index.tsx
  client/dashboard/sites-ciab/site-switcher/index.tsx
  client/dashboard/sites/site-sidebar/index.tsx
  client/dashboard/sites/site-sidebar/site-switcher-item.tsx
  client/dashboard/sites/site-switcher-v2/base.scss
  client/dashboard/sites/site-switcher-v2/base.tsx
  client/dashboard/sites/site-switcher-v2/index.tsx
  client/dashboard/sites/site-switcher/base.tsx
  client/dashboard/sites/site-switcher/index.tsx
  client/dashboard/sites/site-switcher/types.ts
  client/dashboard/sites/site/index.tsx
Owners: @Automattic/lego

E2E: Fix flaky LOHP theme filter locator (#109607)
  packages/calypso-e2e/src/lib/pages/logged-out-themes-page.ts
  packages/calypso-e2e/src/lib/pages/themes-detail-page.ts
Owners: none

Renewal pricing: update the rollout date (#109591)
  client/my-sites/plans-features-main/hooks/test/use-renewal-price-experiment.ts
  client/my-sites/plans-features-main/hooks/use-renewal-price-experiment.ts
Owners: none

e2e: Fix Jetpack Settings smoke test (#109610)
  test/e2e/specs/jetpack/jetpack__dashboard-smoke.ts
Owners: none

Domains: Handle permission errors with proper UI instead of 500 (#109305)
  client/dashboard/app/logger/index.tsx
  client/dashboard/app/router/domains.ts
  client/dashboard/domains/domain/error.tsx
  client/dashboard/utils/domain-permissions.ts
Owners: @Automattic/lego

Add AGENTS.md and CLAUDE.md for Agents Manager (#109525)
  apps/agents-manager/AGENTS.md
  apps/agents-manager/CLAUDE.md
  apps/agents-manager/README.md
  packages/agents-manager/AGENTS.md
  packages/agents-manager/CLAUDE.md
Owners: none

feat: add Remove button to revoke complimentary subscriptions (#109390)
  client/my-sites/subscribers/components/remove-comp-modal/remove-comp-modal.tsx
  client/my-sites/subscribers/components/remove-comp-modal/style.scss
  client/my-sites/subscribers/components/remove-comp-modal/test/remove-comp-modal.test.tsx
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
  client/my-sites/subscribers/components/subscriber-details/styles.scss
  client/my-sites/subscribers/components/subscriber-details/subscriber-details.tsx
  client/my-sites/subscribers/hooks/use-subscription-plans.ts
  client/my-sites/subscribers/main.tsx
Owners: none

Forums: Reuse the same input and suggestions we have on support (#109396)
  apps/happy-blocks/block-library/search-card/index.php
  apps/happy-blocks/block-library/search-card/view-odie.js
  apps/happy-blocks/block-library/search-card/view.js
Owners: none

Change Claude action restrictions from 'automattor' to 'matticbot' (#109613)
  .github/workflows/claude.yml
Owners: none

clean up fillWidth review feedback (#109564)
  packages/grid/src/resolve-fill-widths.ts
  packages/grid/src/stories/grid-benchmark.stories.tsx
  packages/grid/src/stories/grid.stories.tsx
Owners: @youknowriad

Reader: Fix setState during render warning in ReaderOnboarding (#109604)
  client/reader/onboarding/index.tsx
Owners: @Automattic/loop

Docker Image: Publish refreshed cache-seed images inline from trunk app builds (#109590)
  .teamcity/_self/projects/WebApp.kt
  Dockerfile
Owners: none

add edge-case tests for resolveFillWidths (#109566)
  packages/grid/src/test/resolve-fill-widths.test.ts
Owners: @youknowriad

fix: Guard against empty messages array in `convertOdieChatToOdieConversation` (#109463)
  packages/odie-client/src/utils/chat-utils.ts
  packages/odie-client/src/utils/test/chat-utils.test.ts
Owners: none

A4A: Add missing Pressable 64GB storage addon plan data. (#109621)
  client/a8c-for-agencies/sections/marketplace/pressable-overview/lib/get-pressable-plan.ts
Owners: none

Podcasting: fix gap between masterbar and header (#109622)
  client/my-sites/site-settings/podcasting-details/style.scss
Owners: none

fix: Wrap unhandled `smooch.destroy` in `trycatch` and add logging (#109553)
  packages/help-center/src/components/help-center-smooch.tsx
  packages/help-center/src/components/test/help-center-smooch.tsx
Owners: @Automattic/t-rex

Extract shared admin-ui page layout mixin (#109624)
  client/components/jetpack-page-layout/_admin-ui-page.scss
  client/my-sites/site-settings/podcasting-details/style.scss
Owners: none

Update electron-to-chromium 1.5.238 -> 1.5.325 (#109617)
  yarn.lock
Owners: none

MSD: Replace React.Children manipulation with render prop in sidebar (#109536)
  client/dashboard/app/responsive-sidebar/sidebar.tsx
  client/dashboard/components/icons/index.tsx
  client/dashboard/components/sidebar/sidebar-expandable-menu-item.tsx
  client/dashboard/sites/site-sidebar/index.tsx
Owners: @Automattic/lego
