Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Quora tracking: Disable tracker init (#109033)
  client/lib/analytics/ad-tracking/load-tracking-scripts.js
Owners: none

Quora tracker: Disable Advertising bucket. (#109035)
  client/lib/analytics/tracker-buckets.ts
Owners: none

Image Studio: Use __i18n_text_domain__ for all translatable strings (#109013)
  packages/image-studio/src/components/header/index.tsx
  packages/image-studio/src/components/image-feedback-buttons/index.tsx
  packages/image-studio/src/components/index.tsx
  packages/image-studio/src/components/sidebar/index.tsx
  packages/image-studio/src/hooks/use-delete-permanently.ts
Owners: none

Image Studio: Persist metadata to attachment on canvas update (#109014)
  packages/image-studio/src/abilities/update-canvas-image.ts
  packages/image-studio/src/utils/tracking.ts
Owners: none

FORNO-224: Image Studio: Hide toolbar button when image block has a mismatched attachment (#108998)
  packages/image-studio/src/extensions/image-toolbar-extension.test.tsx
  packages/image-studio/src/extensions/image-toolbar-extension.tsx
Owners: none

A4A > Checkout: Implement referrals logo end-to-end flow (#108738)
  client/a8c-for-agencies/components/logo-file-upload/index.tsx
  client/a8c-for-agencies/components/logo-file-upload/style.scss
  client/a8c-for-agencies/lib/logo-file-validation.ts
  client/a8c-for-agencies/sections/marketplace/checkout/referral-logo.tsx
  client/a8c-for-agencies/sections/marketplace/checkout/request-client-payment.tsx
  client/a8c-for-agencies/sections/marketplace/checkout/style-v1.scss
  client/a8c-for-agencies/sections/marketplace/hooks/use-request-client-payment-mutation.ts
  client/state/a8c-for-agencies/agency/actions.ts
  client/state/a8c-for-agencies/types.ts
Owners: none

Infer siteSlug from route params in perf tracking (#109036)
  client/dashboard/app/performance-tracking.ts
  client/dashboard/sites/backups/index.tsx
  client/dashboard/sites/deployments-list/index.tsx
  client/dashboard/sites/domains/index.tsx
  client/dashboard/sites/hosting-feature-gated-with-callout/index.tsx
  client/dashboard/sites/logs/dataviews/index.tsx
  client/dashboard/sites/monitoring/index.tsx
  client/dashboard/sites/overview/index.tsx
  client/dashboard/sites/performance/index.tsx
  client/dashboard/sites/scan-active/index.tsx
  client/dashboard/sites/scan-history/index.tsx
  client/dashboard/sites/scan/index.tsx
  client/dashboard/sites/settings/index.tsx
Owners: @Automattic/lego

A4A: Fix Help center modal interaction overlaps. (#108318)
  client/a8c-for-agencies/components/a4a-confirmation-dialog/index.tsx
  client/a8c-for-agencies/components/a4a-info-modal/index.tsx
  client/a8c-for-agencies/components/a4a-modal/index.tsx
  client/a8c-for-agencies/components/a4a-themed-modal/index.tsx
  client/a8c-for-agencies/components/add-new-site-button/import-from-wpcom-modal/index.tsx
  client/a8c-for-agencies/components/guide-modal/index.tsx
  client/a8c-for-agencies/components/onboarding-tour-modal/index.tsx
  client/a8c-for-agencies/components/site-configurations-modal/index.tsx
  client/a8c-for-agencies/components/user-contact-support-modal-form/index.tsx
  client/a8c-for-agencies/components/user-feedback-modal-form/index.tsx
  client/a8c-for-agencies/hooks/use-minimize-help-center-on-mount.ts
  client/a8c-for-agencies/sections/marketplace/products-overview/discounts-coming-soon-modal/index.tsx
  client/a8c-for-agencies/sections/reports/example-report-modal/index.tsx
  client/jetpack-cloud/sections/partner-portal/license-lightbox/index.tsx
Owners: none

A4A: Fix Pressable premium plans referral button visibility (#108789)
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/premier-agency-hosting/pressable-plan-section/premium-plan-section.tsx
Owners: none

A4A: Disable Purchases and Dev site creation when agency is not yet approved. (#108748)
  client/a8c-for-agencies/sections/marketplace/checkout/checkout-v1.tsx
  client/a8c-for-agencies/sections/marketplace/checkout/index.tsx
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/common/hosting-plan-section/index.tsx
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/standard-agency-hosting/wpcom-plan-section/index.tsx
  client/a8c-for-agencies/sections/marketplace/shopping-cart/shopping-cart-menu/index.tsx
  client/a8c-for-agencies/sections/marketplace/shopping-cart/shopping-cart-menu/style.scss
  client/a8c-for-agencies/sections/migrations/primary/migrations-overview-v2/sections/migrations-hosting-options/index.tsx
  client/components/add-new-site/menu-item.tsx
  client/components/add-new-site/menu-items/a4a.tsx
Owners: none

Help Center: Fix empty search results spacing (#109023)
  packages/help-center/src/components/help-center-search-results.scss
Owners: @Automattic/t-rex

A4A: Add preview referral email modal (#109001)
  client/a8c-for-agencies/AGENTS.md
  client/a8c-for-agencies/components/logo-file-upload/index.tsx
  client/a8c-for-agencies/lib/logo-url-utils.ts
  client/a8c-for-agencies/sections/marketplace/checkout/hooks/use-referral-email-preview.ts
  client/a8c-for-agencies/sections/marketplace/checkout/referral-email-preview-modal.tsx
  client/a8c-for-agencies/sections/marketplace/checkout/referral-logo.tsx
  client/a8c-for-agencies/sections/marketplace/checkout/request-client-payment.tsx
  client/a8c-for-agencies/sections/marketplace/checkout/style-v1.scss
Owners: none

Update AI on logged out experiment (#109040)
  apps/happy-blocks/block-library/search-card/includes.php
  apps/happy-blocks/block-library/search-card/index.php
  apps/happy-blocks/block-library/support-content-footer/includes.php
Owners: none

Agents Manager: Use state wrapper instead of calypso_preferences for state endpoint (#109044)
  packages/agents-manager/src/utils/persist-agents-manager-state.ts
Owners: none

Fix the comparison grid for plan-upgrade flow when on Business (#108972)
  client/my-sites/plans-features-main/index.tsx
  packages/plans-grid-next/src/components/comparison-grid/index.tsx
  packages/plans-grid-next/src/types.ts
Owners: @Automattic/martech

Add custom schedule to Crons on Settings page (#108832)
  client/dashboard/sites/settings-crontab/crontab-form.tsx
  client/dashboard/sites/settings-crontab/index.tsx
  client/dashboard/sites/settings-crontab/parse-requested-schedule-for-backward-compatibility.ts
  client/dashboard/sites/settings-crontab/schedule-field.tsx
  client/dashboard/sites/settings-crontab/schedules.ts
  client/dashboard/sites/settings-crontab/test/parse-requested-schedule-for-backward-compatibility.test.ts
  client/dashboard/sites/settings-crontab/test/schedules.test.ts
  client/dashboard/sites/settings-crontab/types.ts
  packages/api-core/src/site-hosting-crontab/types.ts
Owners: @Automattic/lego

A4A: Fix marketplace slider persistence and oscillation (#108988)
  client/a8c-for-agencies/components/slider/index.tsx
  client/a8c-for-agencies/sections/marketplace/hooks/test/use-keyed-persistence.test.ts
  client/a8c-for-agencies/sections/marketplace/hooks/test/use-slider-persistence.test.ts
  client/a8c-for-agencies/sections/marketplace/hooks/use-keyed-persistence.ts
  client/a8c-for-agencies/sections/marketplace/hooks/use-slider-persistence.ts
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/premier-agency-hosting/pressable-plan-section/index.tsx
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/standard-agency-hosting/wpcom-plan-section/index.tsx
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/standard-agency-hosting/wpcom-plan-selector/slider.tsx
  client/a8c-for-agencies/sections/marketplace/pressable-overview/plan-selection/filter.tsx
Owners: none

e2e: Clean up stale like state before likes__post test (#109030)
  packages/calypso-e2e/src/rest-api-client.ts
  test/e2e/specs/published-content/likes__post.ts
Owners: none

e2e: Fix i18n editor test to locate title inside iframe (#109046)
  test/e2e/specs/i18n/i18n__editor.spec.ts
Owners: none

Fix VAT details link returning 404 on Jetpack Cloud (#109028)
  client/me/purchases/billing-history/receipt.tsx
Owners: @Automattic/shilling

AI settings: fix icon hover and remove Experimental section (#109029)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/settings-ai-assistant/ai-assistant-form.tsx
  client/dashboard/sites/settings-ai-assistant/index.tsx
  client/dashboard/sites/settings-ai-assistant/summary.tsx
  client/dashboard/sites/settings-ai-tools/summary.tsx
  client/dashboard/sites/settings/index.tsx
  client/dashboard/utils/site-type-feature-support.ts
  client/sites/v2/site-settings/router.tsx
  config/dashboard-development.json
  config/dashboard-stage.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: @Automattic/lego

Checkout: support multiple subscription IDs in /checkout/renew route (#109051)
  client/my-sites/checkout/src/hooks/use-prepare-products-for-cart.ts
Owners: @Automattic/shilling

Domains in MSD: Hide 'Attach to a site' card when transfer is not allowed (#109031)
  client/dashboard/app/router/me.tsx
  client/dashboard/domains/domain-overview/featured-card-site.tsx
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
Owners: @Automattic/lego

Dashboard: Show "Live" instead of "Public" for CIAB site visibility (#109048)
  client/dashboard/app-ciab/translations.ts
Owners: @Automattic/lego

TeamCity: Build Calypso Apps: Increase timeout to 12 minutes (#109059)
  .teamcity/_self/projects/WPComPlugins.kt
Owners: none

Add AI Chat breadcrumb in human chats (#108442)
  package.json
  packages/agents-manager/src/components/escalation-button/index.tsx
  packages/agents-manager/src/components/escalation-button/style.scss
  packages/agents-manager/src/components/zendesk-chat/style.scss
  packages/agents-manager/src/utils/convert-tool-message-to-component.ts
  packages/agents-manager/src/utils/test/convert-tool-message-to-component.test.ts
  packages/zendesk-client/src/use-managed-zendesk-chat.tsx
  test/packages/jest-preset.js
  yarn.lock
Owners: none

Remove unused selectors: areRecommendedThemesLoading, areTrendingThemesLoading (#109058)
  client/state/themes/selectors/are-recommended-themes-loading.js
  client/state/themes/selectors/are-trending-themes-loading.js
  client/state/themes/selectors/index.js
  client/state/themes/test/selectors.js
Owners: none

doesThemeBundleSoftwareSet: Remove unused selector (#109057)
  client/state/themes/selectors/does-theme-bundle-usable-software-set.js
  client/state/themes/selectors/index.js
Owners: none

Themes: remove unused trending themes Redux code (#109061)
  client/state/themes/action-types.js
  client/state/themes/actions/index.js
  client/state/themes/actions/trending-themes.js
  client/state/themes/reducer.js
  client/state/themes/selectors/get-trending-themes.js
  client/state/themes/selectors/index.js
Owners: none

Themes: remove unused recommended themes Redux code (#109063)
  client/state/themes/action-types.js
  client/state/themes/actions/index.js
  client/state/themes/actions/recommended-themes.js
  client/state/themes/reducer.js
  client/state/themes/selectors/get-recommended-themes.js
  client/state/themes/selectors/get-themes-for-query-ignoring-page.js
  client/state/themes/selectors/index.js
  client/state/themes/test/actions.js
  client/state/themes/test/reducer.js
  client/state/themes/test/selectors.js
Owners: none

Ad tracking: Enable the Quora Ads pixel (#109064)
  client/lib/analytics/ad-tracking/setup.js
  client/lib/analytics/tracker-buckets.ts
Owners: none

Add PostHog integration for CIAB (#108783)
  client/dashboard/.eslintrc.js
  client/dashboard/app-ciab/index.tsx
  client/dashboard/app/context.tsx
  client/dashboard/app/layout.tsx
  client/landing/stepper/declarative-flow/flows/ai-site-builder-spec/ai-site-builder-spec.ts
  client/landing/stepper/declarative-flow/flows/ai-site-builder/ai-site-builder.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/site-spec/index.tsx
  client/package.json
  config/_shared.json
  config/dashboard-production.json
  config/production.json
  packages/posthog/README.md
  packages/posthog/package.json
  packages/posthog/src/index.ts
  packages/posthog/tsconfig-cjs.json
  packages/posthog/tsconfig.json
  packages/tsconfig.json
  yarn.lock
Owners: @Automattic/lego

Hide app promo banner when user is already in a mobile app (#109056)
  client/login/magic-login/index.jsx
  client/state/oauth2-clients/reducer.js
  client/state/oauth2-clients/ui/test/selectors.js
Owners: none

Standardize Odyssey Stats header across all site types and environments (STATS-224) (#109037)
  apps/odyssey-stats/src/components/odyssey-formatted-header.tsx
  client/my-sites/stats/components/headers/page-header.tsx
  client/my-sites/stats/constants.ts
  client/my-sites/stats/modernized-layout-styles.scss
Owners: none

Image Studio: Increase padding between upgrade notice message and button (#109039)
  packages/image-studio/src/components/notice/style.scss
Owners: none

Stats: Hide tagline on summary/detail pages (#109071)
  client/my-sites/google-my-business/stats/index.js
  client/my-sites/stats/components/headers/page-header.tsx
  client/my-sites/stats/pages/insights/index.jsx
  client/my-sites/stats/pages/purchase/index.tsx
  client/my-sites/stats/pages/realtime/index.jsx
  client/my-sites/stats/pages/subscribers/index.tsx
  client/my-sites/stats/site.jsx
  client/my-sites/stats/wordads/index.jsx
Owners: none

A4A: Enable referral cobranded checkout flag and refine logo options (#109041)
  client/a8c-for-agencies/sections/marketplace/checkout/referral-logo.tsx
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

STATS-225: Fix tab underline width, gap, and alignment across Stats pages (#109070)
  apps/odyssey-stats/src/app.scss
  client/blocks/stats-navigation/style.scss
  client/my-sites/stats/summary/style.scss
Owners: none

MSD: Improve Claude bot reviewer prompt (#109074)
  .github/prompts/dashboard-pr-review.md
  client/dashboard/docs/i18n.md
Owners: @Automattic/lego

Agents Manager: Fix some issues for the ZD human support (#109073)
  packages/agents-manager/src/components/escalation-button/index.tsx
  packages/agents-manager/src/components/escalation-button/style.scss
  packages/agents-manager/src/components/zendesk-chat/style.scss
  packages/agents-manager/src/utils/convert-tool-message-to-component.ts
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
