Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Revert "Revert "Dashboard: Site Performance: Standardize site launch (#109772…" (#109820)
  client/hosting/performance/site-performance.tsx
  client/signup/config/flows-pure.js
  client/signup/config/flows.js
  client/signup/main.jsx
Owners: none

Revert "Revert "Revert "Dashboard: Site Performance: Standardize site launch …" (#109828)
  client/hosting/performance/site-performance.tsx
  client/signup/config/flows-pure.js
  client/signup/config/flows.js
  client/signup/main.jsx
Owners: none

A4A: Widen loading placeholder in sites dashboard table rows (#109830)
  client/a8c-for-agencies/sections/sites/sites-dashboard/sites-dataviews-style.scss
Owners: none

A4A: Fix Backup UI bugs. (#109700)
  client/a8c-for-agencies/sections/sites/sites-dashboard/style.scss
Owners: none

A4A: Remove dead code, stale comments, and unimplemented actions (#109329)
  client/a8c-for-agencies/components/items-dashboard/constants.ts
  client/a8c-for-agencies/components/pending-payment-notification/index.tsx
  client/a8c-for-agencies/components/pressable-usage-limit-notice/index.tsx
  client/a8c-for-agencies/components/sidebar-menu/hooks/use-referrals-menu-items.tsx
  client/a8c-for-agencies/sections/settings/index.tsx
  client/a8c-for-agencies/sections/sites/features/jetpack/backup/routes.ts
  client/a8c-for-agencies/sections/sites/features/jetpack/scan/routes.ts
  client/a8c-for-agencies/sections/team/primary/team-list/columns.tsx
Owners: none

Register Sources as action component (#109638)
  client/package.json
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/components/sources-display/style.scss
  packages/agents-manager/src/hooks/use-sources-action.ts
  packages/agents-manager/src/utils/__tests__/convert-tool-messages-to-components.test.ts
  packages/agents-manager/src/utils/convert-tool-messages-to-components.ts
  yarn.lock
Owners: none

Dockerfile: Simplify, only support seed and none modes, remove base mode (#109821)
  Dockerfile
Owners: none

Subscribers: Remove comp feature gate (#109831)
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
Owners: none

Revert "Subscribers: Remove comp feature gate" (#109836)
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
Owners: none

Subscribers: Remove comp feature gate — 2nd try (#109837)
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
Owners: none

Checkout pending: Remove "Learn more about renewals" link in message (#109835)
  client/my-sites/checkout/checkout-thank-you/pending/index.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only/test/index.tsx
  client/state/receipts/assembler.ts
  client/state/receipts/test/assembler.ts
  client/state/receipts/types.ts
  packages/api-core/src/me-billing-history/types.ts
  packages/wpcom-checkout/src/types.ts
Owners: @Automattic/shilling

Jetpack: add footer (#109765)
  client/components/jetpack/jetpack-footer/README.md
  client/components/jetpack/jetpack-footer/index.tsx
  client/components/jetpack/jetpack-footer/style.scss
  client/components/jetpack/jetpack-footer/types.ts
  client/my-sites/activity/activity-log/index.jsx
  client/my-sites/earn/main.tsx
  client/my-sites/site-settings/podcasting-details/index.jsx
  client/package.json
  client/sites/marketing/traffic/traffic.js
  yarn.lock
Owners: none

Fix flaky import E2E tests blocked by email verification gate (#109839)
  packages/calypso-e2e/src/lib/pages/import-content-page.ts
  packages/calypso-e2e/src/lib/pages/import-plans-page.ts
Owners: none

e2e: Fix intermittent slideshow block test crash (#109842)
  packages/calypso-e2e/src/lib/blocks/block-flows/slideshow.ts
Owners: none

Masterbar: async-load launch button to prevent Explat warnings (#109841)
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/masterbar-launch-button.tsx
Owners: none

Revert "Masterbar: async-load launch button to prevent Explat warnings" (#109845)
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/masterbar-launch-button.tsx
Owners: none

Remove grid view click override (#109801)
  packages/image-studio/src/index.tsx
Owners: none

Include attachment url in client context (#109492)
  packages/image-studio/src/utils/client-context.ts
Owners: none

MSD: Fix omnibar Reader link to point to wordpress.com (#109847)
  client/layout/masterbar/logged-in.jsx
Owners: none

Dashboard: Keep Help Center mounted after first open (#109844)
  client/dashboard/app/interim-omnibar/omnibar-help-center.tsx
Owners: @Automattic/lego

MSD Omnibar: implement last selected site (#109731)
  client/dashboard/app/interim-omnibar/index.tsx
  client/dashboard/app/interim-omnibar/interim-omnibar.tsx
  client/dashboard/app/router/sites.tsx
  packages/api-core/src/me-preferences/types.ts
  packages/api-queries/src/me-preferences.ts
Owners: @Automattic/lego

MSD: Use Modern color scheme for the interim omnibar (#109848)
  client/dashboard/app/interim-omnibar/style.scss
Owners: @Automattic/lego

Image Studio: Fix block editor crash when AMP plugin is active (#109851)
  packages/image-studio/src/extensions/generate-button-extension.test.tsx
  packages/image-studio/src/extensions/generate-button-extension.tsx
  packages/image-studio/src/extensions/image-toolbar-extension.test.tsx
  packages/image-studio/src/extensions/image-toolbar-extension.tsx
Owners: none

Fix Sources component click overlap (#109834)
  packages/agents-manager/src/components/sources-display/index.tsx
  packages/agents-manager/src/components/sources-display/style.scss
Owners: none

Emit ready event when Agents Manager actions API is populated (#109853)
  packages/agents-manager/src/global.d.ts
  packages/agents-manager/src/hooks/__tests__/use-setup-custom-actions.test.ts
  packages/agents-manager/src/hooks/use-setup-custom-actions/README.md
  packages/agents-manager/src/hooks/use-setup-custom-actions/index.ts
Owners: none

Agents Manager: Fix next-step button inheriting parent message actions (#109827)
  packages/agents-manager/src/utils/__tests__/convert-tool-messages-to-components.test.ts
  packages/agents-manager/src/utils/convert-tool-messages-to-components.ts
Owners: none

Agents Manager: Add zoom toggle action and fix copy action issues (#109764)
  packages/agents-manager/package.json
  packages/agents-manager/src/components/agent-dock/style.scss
  packages/agents-manager/src/components/copy-action-button/index.tsx
  packages/agents-manager/src/components/copy-action-button/style.scss
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/components/zoom-action-button/index.tsx
  packages/agents-manager/src/components/zoom-action-button/style.scss
  packages/agents-manager/src/hooks/use-checkpoint-action.ts
  packages/agents-manager/src/hooks/use-copy-action.ts
  packages/agents-manager/src/hooks/use-feedback-action.ts
  packages/agents-manager/src/hooks/use-zoom-action.ts
  packages/agents-manager/src/utils/canvas-zoom.ts
  packages/agents-manager/src/utils/unlock-private-apis.ts
  yarn.lock
Owners: none

Add Linear Release sync for Creators teams (#109467)
  .github/workflows/linear-release-creators.yml
Owners: none

Agents Manager: Fix TypeScript and lint errors in test files (#109850)
  packages/agents-manager/src/contexts/__tests__/AgentsManagerContext.test.tsx
  packages/agents-manager/src/hooks/__tests__/use-feedback-action.test.ts
  packages/agents-manager/src/utils/__tests__/is-editor-page.test.ts
  packages/agents-manager/tsconfig.json
Owners: none

Ref READ-432 Test Linear Release sync pipeline (#109860)
  client/reader/controller.js
Owners: @Automattic/loop

Add Personal and Premium plans to hosting flow (#109861)
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans.tsx
Owners: @Automattic/martech

Revert Linear Release sync test comment (#109863)
  client/reader/controller.js
Owners: @Automattic/loop

Subscribers: hide comp button in detail view when site has no paid plans (#109862)
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
  client/my-sites/subscribers/components/subscriber-details/test/subscriber-details.test.tsx
Owners: none

Forums: Fix suggestion button focus (#109867)
  apps/happy-blocks/block-library/search-card/style.scss
Owners: none

Bump @automattic/launchpad version (#109869)
  packages/launchpad/CHANGELOG.md
  packages/launchpad/package.json
Owners: none

Analytics Privacy: Move geo-privacy helpers into calypso-analytics (#109870)
  client/dashboard/app/analytics/country-code-cookie-gdpr.ts
  client/dashboard/app/analytics/tracking-preferences.ts
  client/lib/analytics/test/gpc-opt-out.js
  client/lib/analytics/utils/is-gpc-flag-set.ts
  client/lib/analytics/utils/should-see-cookie-banner.ts
  client/lib/analytics/utils/use-do-not-sell.ts
  packages/calypso-analytics/package.json
  packages/calypso-analytics/src/index.ts
  packages/calypso-analytics/src/utils/geo-privacy.ts
  packages/calypso-analytics/src/utils/get-tracking-prefs.ts
  packages/launchpad/package.json
Owners: @Automattic/lego

Newsletter importer: import comps as complimentary subscriptions (#109843)
  client/data/paid-newsletter/use-paid-newsletter-query.ts
  client/data/paid-newsletter/use-set-comp-plan-mutation.ts
  client/my-sites/importer/newsletter/subscribers/paid-subscribers/map-comp-plan.tsx
  client/my-sites/importer/newsletter/subscribers/paid-subscribers/map-plans.tsx
  client/my-sites/importer/newsletter/summary/subscribers.tsx
Owners: none

Reader: Rename RecommendedFeedsList component (#109547)
  client/blocks/reader-suggested-follows/dialog.jsx
  client/blocks/reader-suggested-follows/test/dialog.test.tsx
  client/components/gravatar-with-hovercards/recommended-blogs/index.jsx
  client/reader/recommended-feeds-list/index.tsx
  client/reader/sites-list/index.tsx
  client/reader/sites-list/site-item.tsx
  client/reader/sites-list/style.scss
  client/reader/sites-list/test/index.test.tsx
  client/reader/sites-list/test/site-item.test.tsx
  client/reader/user-profile/views/recommended-blogs.tsx
  client/reader/user-profile/views/sites/index.tsx
  client/reader/user-profile/views/sites/test/sites.test.tsx
  client/reader/user-profile/views/test/recommended-blogs.tsx
Owners: @Automattic/loop

Reader: Show top sites on user profile header (#109574)
  client/blocks/reader-subscription-list-item/index.jsx
  client/blocks/reader-suggested-follows/dialog.jsx
  client/blocks/reader-suggested-follows/index.jsx
  client/blocks/site-icon/style.scss
  client/components/gravatar-with-hovercards/recommended-blogs/index.jsx
  client/reader/recommended-sites/recommended-site.tsx
  client/reader/route/index.js
  client/reader/sites-list/index.tsx
  client/reader/sites-list/site-item.tsx
  client/reader/sites-list/test/site-item.test.tsx
  client/reader/stream/reader-list-followed-sites/item.jsx
  client/reader/user-profile/components/top-sites/index.tsx
  client/reader/user-profile/components/top-sites/style.scss
  client/reader/user-profile/components/top-sites/test/index.test.tsx
  client/reader/user-profile/components/user-profile-header/index.tsx
  client/reader/user-profile/components/user-profile-header/style.scss
  client/reader/user-profile/components/user-profile-header/test/index.tsx
  client/reader/user-profile/queries/use-user-sites-query.ts
  client/reader/user-profile/views/sites/index.tsx
  client/reader/user-profile/views/sites/test/sites.test.tsx
Owners: @Automattic/loop

Dashboard: Site Performance: Standardize site launch (#109829)
  client/dashboard/sites/site-launch-celebration-modal/index.tsx
  client/hosting/performance/site-performance.tsx
  client/signup/config/flows-pure.js
  client/signup/config/flows.js
Owners: @Automattic/lego
