Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Agents Manager: Fix picker-related styles (#108545)
  packages/agents-manager/src/hooks/use-agent-layout-manager/style.scss
Owners: none

Constrain check to plans (#108554)
  client/landing/stepper/declarative-flow/internals/steps-repository/post-checkout/post-checkout-onboarding.tsx
Owners: none

Server Cron Jobs: Add Learn More link to cron jobs (#108542)
  client/components/inline-support-link/context-links.js
  client/dashboard/sites/settings-crontab/index.tsx
Owners: @Automattic/lego

Reader: Add next/previous links to bottom of full post page (#108481)
  client/blocks/reader-full-post/index.jsx
  client/blocks/reader-full-post/post-navigation.scss
  client/blocks/reader-full-post/post-navigation.tsx
Owners: @Automattic/loop

Cron jobs: add Edit functionality (#108517)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/settings-crontab/crontab-form.tsx
  client/dashboard/sites/settings-crontab/edit-crontab.tsx
  client/dashboard/sites/settings-crontab/index.tsx
  packages/api-core/src/site-hosting-crontab/mutators.ts
  packages/api-queries/src/site-crontab.ts
Owners: @Automattic/lego

Server Cron Jobs: Make example commands more prominent (#108548)
  client/dashboard/sites/settings-crontab/crontab-form.tsx
Owners: @Automattic/lego

Show comment approval status more prominently (#108325)
  apps/notifications/src/app/templates/body.tsx
  apps/notifications/src/panel/helpers/notes.js
  apps/notifications/src/panel/templates/body.jsx
  apps/notifications/src/shared/pending-approval-badge.scss
  apps/notifications/src/shared/pending-approval-badge.tsx
Owners: none

Minimize top bar loading WordPress.com logo for Woo hosted (#108549)
  client/document/index.jsx
  client/document/test/loading-placeholder.test.tsx
  client/document/test/should-hide-woo-hosted-logo.test.js
  client/document/utils/should-hide-woo-hosted-logo.js
  client/landing/stepper/declarative-flow/internals/index.tsx
  client/my-sites/checkout/src/components/checkout-main-content.tsx
  client/my-sites/checkout/src/hooks/use-valid-checkout-back-url.ts
  client/my-sites/checkout/src/test/checkout-main.tsx
  client/my-sites/checkout/src/test/use-valid-checkout-back-url.tsx
  client/server/pages/index.js
  client/server/pages/test/index.js
  packages/onboarding/src/step-container-v2/wireframes/Loading/Loading.tsx
  packages/onboarding/src/step-container-v2/wireframes/Loading/test/Loading.test.tsx
Owners: @Automattic/dotcom-stepper, @Automattic/shilling, @Automattic/quake

Server Cron Jobs: Fix search to be able to search with dates (#108557)
  client/dashboard/sites/settings-crontab/index.tsx
Owners: @Automattic/lego

Update the doc link (#108563)
  client/components/inline-support-link/context-links.js
Owners: none

cron tab: remove feature flag (#108452)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/settings-crontab/summary.tsx
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-stage.json
  config/development.json
Owners: @Automattic/lego

Search card: Replace sparkle emoji with arrow-up SVG icon (#108562)
  apps/happy-blocks/block-library/search-card/index.php
  apps/happy-blocks/block-library/search-card/style.scss
Owners: none

Help Center: Fix global CSS specificity (#108567)
  apps/help-center/postcss.config.js
  packages/help-center/package.json
  packages/help-center/src/test/help-center-postcss-scoping.js
  yarn.lock
Owners: @Automattic/t-rex

MCP: add list of disabled sites (#108570)
  client/dashboard/me/mcp/index.tsx
  client/me/mcp/main.jsx
  client/me/mcp/utils.js
Owners: @Automattic/lego

MSD: Add empty state for searches with no results. (#108534)
  client/dashboard/components/dataviews/dataviews-empty-state-layout.tsx
  client/dashboard/emails/empty-mailboxes-state/index.tsx
  client/dashboard/emails/index.tsx
Owners: @Automattic/lego

MSD: add view persistence to Site Scan DataViews (#108495)
  client/dashboard/sites/scan-active/index.tsx
  client/dashboard/sites/scan-history/index.tsx
  client/dashboard/sites/scan/index.tsx
Owners: @Automattic/lego

Domains Table: Fix the unit test because of the expiry (#108582)
  packages/domains-table/src/test-utils.tsx
Owners: none

MSD: Replace msd dashboard type with dotcom (#108462)
  client/dashboard/domains/empty-domains-state/actions.tsx
  client/dashboard/utils/link.ts
Owners: @Automattic/lego

Reader: Clean feature flags (#108552)
  client/blocks/reader-post-actions/index.jsx
  client/lib/route/legacy-routes.ts
  client/lib/route/test/legacy-routes.js
  client/my-sites/customer-home/cards/features/reader/index.tsx
  client/reader/discover/components/navigation/index.tsx
  client/reader/discover/discover-stream.js
  client/reader/discover/helper/index.ts
  client/reader/discover/helper/test/index.test.ts
  client/reader/discover/index.node.js
  client/reader/discover/index.web.js
  client/reader/index.ts
  client/reader/stats/index.ts
  client/reader/stats/test/index.test.ts
  client/server/pages/index.js
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: @Automattic/loop

Reader: Add discovery-v3 feature flag
  client/reader/utils.ts
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: @Automattic/loop

Sites: Fix the border-raduis of DataViews on v1 (#108584)
  client/sites/v2/sites-list/style.scss
Owners: none

Agents Manager: Improve start over fallback wording (#108585)
  packages/agents-manager/src/components/unavailable-tool-message/index.tsx
Owners: none

Simplify calypso-client AI tool rules (#108586)
  .claude/rules/calypso-client.md
  .claude/rules/wordpress-imports.md
  .cursor/rules/calypso-client.mdc
  .cursor/rules/wordpress-imports.mdc
Owners: none

Playground blueprint bundle support (#108529)
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/components/playground-iframe/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/components/playground-setup/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/lib/blueprint.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/lib/constants.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/lib/import-playground.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/lib/initialize-playground.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/lib/resolve-blueprint-from-url.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/lib/resolve-remote-blueprint-standalone.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/lib/types.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/test/blueprint.tsx
  package.json
  yarn.lock
Owners: none

Notifications: Add fallback to getActions helper (#108594)
  apps/notifications/src/panel/helpers/notes.js
Owners: none

Add better button style (#108590)
  packages/help-center/src/components/help-center-header.scss
Owners: @Automattic/t-rex

CIAB: Add configurable font styles for partner branding (#108509)
  client/layout/logged-out.jsx
  client/lib/partner-branding.tsx
  client/login/wp-login/style.scss
Owners: none

Reader: Fix user profile tracking (#108547)
  client/reader/controller-helper.js
  client/reader/stats/index.ts
  client/reader/stats/test/index.test.ts
  client/reader/user-profile/controller.tsx
Owners: @Automattic/loop

Fix deployment list layout when Latest deployment badge is shown (#108560)
  client/dashboard/sites/deployments-list/dataviews/fields.tsx
Owners: @Automattic/lego

Cron Jobs: Make sure cron jobs don't display in old dashboard (#108598)
  client/dashboard/sites/settings-crontab/summary.tsx
Owners: @Automattic/lego

Add Blueprint new plans and save ID on data store (#108599)
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/components/playground-iframe/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/lib/blueprint.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/test/blueprint.tsx
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans.tsx
Owners: @Automattic/martech

Show nav search for front-page (#108589)
  apps/happy-blocks/block-library/search-card/index.php
  apps/happy-blocks/block-library/search-card/style.scss
Owners: none

A4A: Add support for Pressable Add-ons Sites products (#108457)
  client/a8c-for-agencies/sections/marketplace/constants.ts
  client/a8c-for-agencies/sections/marketplace/hooks/use-product-and-plans.tsx
  client/a8c-for-agencies/sections/marketplace/hooks/use-product-categories.ts
  client/a8c-for-agencies/sections/marketplace/lib/hosting.tsx
  client/a8c-for-agencies/sections/marketplace/lib/product-brand.tsx
  client/a8c-for-agencies/sections/marketplace/lib/product-filter.ts
  client/a8c-for-agencies/sections/marketplace/products-overview/hocs/with-product-lightbox.tsx
  client/a8c-for-agencies/sections/marketplace/products-overview/product-card/pressable-addons-custom-description/index.tsx
  client/a8c-for-agencies/sections/marketplace/products-overview/product-card/pressable-addons-custom-description/style.scss
  client/a8c-for-agencies/sections/marketplace/products-overview/product-filter/hooks/use-product-filter-options.tsx
  client/a8c-for-agencies/sections/marketplace/products-overview/product-listing/index.tsx
  client/assets/images/a8c-for-agencies/pressable-logo-color.svg
  client/jetpack-cloud/sections/partner-portal/hooks/index.tsx
  client/jetpack-cloud/sections/partner-portal/lib/get-product-short-title.ts
  client/jetpack-cloud/sections/partner-portal/license-lightbox/index.tsx
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

Onboarding: Fix domain name mismatch for new free sites (#108606)
  client/landing/stepper/declarative-flow/internals/steps-repository/create-site/index.tsx
  client/landing/stepper/hooks/use-create-site-hook.ts
  packages/onboarding/package.json
  packages/onboarding/src/cart/index.tsx
  packages/onboarding/src/cart/test/index.ts
  packages/onboarding/tsconfig.json
  yarn.lock
Owners: none

Jetpack Connect: Update `/authorize`components to use connect-screen components for unification (#108501)
  client/jetpack-connect/authorize.js
  client/jetpack-connect/disclaimer.jsx
  client/jetpack-connect/test/__snapshots__/authorize.js.snap
Owners: none

CIAB: Add partner branding system for signup page (#108320)
  client/blocks/signup-form/index.jsx
  client/blocks/signup-form/signup-form-social-first.tsx
  client/blocks/signup-form/social.jsx
  client/blocks/signup-form/test/signup-form-social-first.tsx
  client/blocks/signup-form/test/social.jsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/index.tsx
  client/lib/partner-branding.tsx
  client/lib/test/partner-branding.tsx
  client/signup/steps/user/index.jsx
Owners: none

Agents Manager: Restore agent ID and version query param override (#108561)
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/unified-ai-agent/index.tsx
  packages/agents-manager/src/utils/agent-session.ts
  packages/agents-manager/src/utils/create-agent-config.ts
Owners: none

Site deletions: Use new blocks_site_deletion property to determine deletion eligibility (#108526)
  client/dashboard/sites/site-delete-modal/index.tsx
  client/dashboard/sites/site-leave-modal/content-info.tsx
  packages/api-core/src/upgrades/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/site-purchases.ts
Owners: @Automattic/lego

CIAB: Don’t allow site address changes (#108565)
  client/dashboard/domains/dataviews/actions.tsx
  client/dashboard/sites/domains/index.tsx
Owners: @Automattic/lego

Hide Calypso opt-in banners behind feature flag (#108612)
  client/my-sites/navigation/index.jsx
  client/my-sites/plugins/sidebar/index.tsx
  client/sites/components/sites-dashboard-banners/use-dashboard-opt-in-banner.tsx
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: none
