Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Reader - onboarding rsm - add images to interests packs, animations to welcome. (#110373)
  client/assets/images/reader/onboarding/design.webp
  client/assets/images/reader/onboarding/food.webp
  client/assets/images/reader/onboarding/music.webp
  client/assets/images/reader/onboarding/photography.webp
  client/assets/images/reader/onboarding/science.webp
  client/assets/images/reader/onboarding/subscribed.webp
  client/assets/images/reader/onboarding/tech.webp
  client/assets/images/reader/onboarding/travel.webp
  client/reader/onboarding-rsm/interests-modal/index.tsx
  client/reader/onboarding-rsm/interests-modal/topic-groups.tsx
  client/reader/onboarding-rsm/welcome-modal/index.tsx
  client/reader/onboarding-rsm/welcome-modal/style.scss
Owners: @Automattic/loop

Reader / ATmosphere: Follow button on Bluesky author profile pages (#110375)
  client/reader/atmosphere/author-profile-panel.tsx
  client/reader/atmosphere/test/author-profile-panel.test.tsx
  client/reader/atmosphere/test/author-profile-view.test.tsx
  client/reader/social/follow-button.scss
  client/reader/social/follow-button.tsx
  client/reader/social/index.ts
  client/reader/social/test/follow-button.test.tsx
  packages/api-core/src/reader-atmosphere/__tests__/fetchers.test.ts
  packages/api-core/src/reader-atmosphere/fetchers.ts
  packages/api-core/src/reader-atmosphere/query-keys.ts
  packages/api-core/src/reader-atmosphere/types.ts
  packages/api-queries/src/__tests__/reader-atmosphere.test.tsx
  packages/api-queries/src/reader-atmosphere.ts
Owners: @Automattic/loop

MSD loader: Fix MSD loader (#110068)
  client/assets/stylesheets/shared/_loading.scss
  client/dashboard/app/loading-screen.scss
Owners: @Automattic/lego

Reader: link years-of-service badge to user achievements page (#110378)
  client/reader/components/achievements/author-achievement-badges/index.tsx
  client/reader/components/achievements/years-of-service-badge/index.tsx
  client/reader/components/achievements/years-of-service-badge/style.scss
Owners: @Automattic/loop

Reader / ATmosphere: repost interactions on Bluesky posts (#110384)
  client/reader/atmosphere/test/timeline-panel.test.tsx
  client/reader/components/icons/repost.jsx
  client/reader/social/AGENTS.md
  client/reader/social/components/post-card/post-card-counts.tsx
  client/reader/social/components/post-card/repost-button.scss
  client/reader/social/components/post-card/repost-button.tsx
  client/reader/social/components/post-card/test/post-card-counts.test.tsx
  client/reader/social/components/post-card/test/repost-button.test.tsx
  client/reader/social/utils/rkey-from-uri.ts
  client/reader/social/utils/test/rkey-from-uri.test.ts
  packages/api-core/src/reader-atmosphere/__tests__/fetchers.test.ts
  packages/api-core/src/reader-atmosphere/constants.ts
  packages/api-core/src/reader-atmosphere/fetchers.ts
  packages/api-core/src/reader-atmosphere/types.ts
  packages/api-queries/src/__tests__/reader-atmosphere.test.tsx
  packages/api-queries/src/reader-atmosphere.ts
Owners: @Automattic/loop

Remove flow: destructive buttons + intent-aware copy on survey and upsell steps (#110383)
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/components/marketing-survey/cancel-purchase-form/step-components/upsell-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/step-components/upsell-step.tsx
Owners: @Automattic/lego

Push notifications: replace require() with ESM import (#110395)
  client/state/push-notifications/actions.js
Owners: none

Dashboard: Open PHP logs pre-filtered to Fatal errors on Critical error screen (#110365)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/critical-error/index.tsx
  client/dashboard/sites/logs/dataviews/constants.ts
  client/dashboard/sites/logs/dataviews/fields.tsx
  client/dashboard/sites/logs/dataviews/index.tsx
  client/sites/overview/components/critical-error/index.tsx
Owners: @Automattic/lego

Notifications app: replace require() with ESM imports (#110396)
  apps/notifications/src/panel/Notifications.jsx
  apps/notifications/src/panel/comment-replies-cache/index.js
  apps/notifications/src/panel/rest-client/index.js
  apps/notifications/src/panel/templates/comment-reply-input.jsx
  apps/notifications/src/panel/templates/undo-list-item.jsx
  apps/notifications/src/standalone/index.jsx
Owners: none

Reader ATmosphere: reply composer (CM-644 / CM-655) (#110392)
  client/reader/atmosphere/atmosphere-account-view.tsx
  client/reader/atmosphere/atmosphere-thread-view.tsx
  client/reader/atmosphere/author-profile-panel.tsx
  client/reader/atmosphere/author-profile-view.tsx
  client/reader/atmosphere/composer/composer-footer.tsx
  client/reader/atmosphere/composer/composer-modal.tsx
  client/reader/atmosphere/composer/composer-pinned-context.tsx
  client/reader/atmosphere/composer/composer-provider.tsx
  client/reader/atmosphere/composer/composer-textarea.tsx
  client/reader/atmosphere/composer/grapheme-count.ts
  client/reader/atmosphere/composer/index.ts
  client/reader/atmosphere/composer/style.scss
  client/reader/atmosphere/composer/test/composer-footer.test.tsx
  client/reader/atmosphere/composer/test/composer-modal.test.tsx
  client/reader/atmosphere/composer/test/composer-pinned-context.test.tsx
  client/reader/atmosphere/composer/test/composer-provider.test.tsx
  client/reader/atmosphere/composer/test/composer-textarea.test.tsx
  client/reader/atmosphere/composer/test/grapheme-count.test.ts
  client/reader/atmosphere/connect-form.tsx
  client/reader/atmosphere/test/timeline-panel.test.tsx
  client/reader/atmosphere/thread-panel.tsx
  client/reader/atmosphere/timeline-panel.tsx
  client/reader/social/components/post-card/analytics-context.tsx
  client/reader/social/components/post-card/like-button.tsx
  client/reader/social/components/post-card/post-card-counts.tsx
  client/reader/social/components/post-card/repost-button.tsx
  client/reader/social/components/post-card/style.scss
  client/reader/social/components/post-card/test/post-card-counts.test.tsx
  client/reader/social/index.ts
  client/reader/social/mappers/atmosphere.ts
  client/reader/social/mappers/test/atmosphere.test.ts
  client/reader/social/types.ts
  packages/api-core/src/reader-atmosphere/__tests__/errors.test.ts
  packages/api-core/src/reader-atmosphere/__tests__/fetchers.test.ts
  packages/api-core/src/reader-atmosphere/constants.ts
  packages/api-core/src/reader-atmosphere/errors.ts
  packages/api-core/src/reader-atmosphere/fetchers.ts
  packages/api-core/src/reader-atmosphere/types.ts
  packages/api-queries/src/__tests__/reader-atmosphere.test.tsx
  packages/api-queries/src/reader-atmosphere.ts
Owners: @Automattic/loop

Me: convert profile controller require() to dynamic import() for ESM (#110397)
  client/me/controller.jsx
Owners: none

TimeSince: fix locale-dependent unit test; drop unused locale prop (#110399)
  packages/components/src/time-since/index.tsx
  packages/components/src/time-since/test/time-since.test.tsx
Owners: none

Hosting: don't wait for SFTP feature when plan doesn't grant it (#110340)
  client/sites/hosting/components/hosting-activation-button.tsx
Owners: none

Upgrade express-useragent to 2.x (#110398)
  client/lib/user-agent/index.js
  client/package.json
  client/server/boot/index.js
  client/server/middleware/test/unsupported-browser.test.ts
  client/server/middleware/unsupported-browser.js
  yarn.lock
Owners: none

Replace ineffective dynamic import of AppleIcon with static import (#110249)
  client/login/magic-login/magic-login-email/magic-login-email-icon.tsx
Owners: none

Fix hardcoded notification text color (#110351)
  client/dashboard/me/notifications-sites/site-preview/index.scss
Owners: @Automattic/lego

Fix: top bar logo hardcoded fill color (#110402)
  client/dashboard/app-dotcom/logo.tsx
  client/reader/components/header/logo.tsx
Owners: @Automattic/lego, @Automattic/loop

A4A: Add AI and MCP settings page under Resources and tools (#110219)
  client/a8c-for-agencies/components/sidebar-menu/hooks/use-learn-menu-items.tsx
  client/a8c-for-agencies/components/sidebar-menu/lib/constants.ts
  client/a8c-for-agencies/components/text-placeholder/index.tsx
  client/a8c-for-agencies/data/mcp-ai/types.ts
  client/a8c-for-agencies/data/mcp-ai/use-fetch-mcp-settings.ts
  client/a8c-for-agencies/data/mcp-ai/use-update-mcp-settings-mutation.ts
  client/a8c-for-agencies/lib/permission.ts
  client/a8c-for-agencies/sections/ai-mcp/controller.tsx
  client/a8c-for-agencies/sections/ai-mcp/primary/available-tools/available-tools-content.tsx
  client/a8c-for-agencies/sections/ai-mcp/primary/available-tools/index.tsx
  client/a8c-for-agencies/sections/ai-mcp/primary/overview/index.tsx
  client/a8c-for-agencies/sections/ai-mcp/primary/overview/overview-content.tsx
  client/a8c-for-agencies/sections/ai-mcp/primary/style.scss
  client/a8c-for-agencies/sections/learn/index.ts
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

Fix: remove black color from help center header (#110403)
  packages/help-center/src/components/help-center-header.scss
Owners: @Automattic/t-rex

A4A: add Connect agent page for AI and MCP setup (#110251)
  client/a8c-for-agencies/components/sidebar-menu/lib/constants.ts
  client/a8c-for-agencies/lib/permission.ts
  client/a8c-for-agencies/sections/ai-mcp/controller.tsx
  client/a8c-for-agencies/sections/ai-mcp/primary/connect-agent/agent-configs.tsx
  client/a8c-for-agencies/sections/ai-mcp/primary/connect-agent/connect-agent-content.tsx
  client/a8c-for-agencies/sections/ai-mcp/primary/connect-agent/index.tsx
  client/a8c-for-agencies/sections/ai-mcp/primary/overview/overview-content.tsx
  client/a8c-for-agencies/sections/ai-mcp/primary/style.scss
  client/a8c-for-agencies/sections/learn/index.ts
Owners: none

MCP settings: add sub-category dividers to Design card and route design tools correctly (#110318)
  client/dashboard/me/mcp/categories.ts
  client/dashboard/me/mcp/read/index.tsx
  client/dashboard/me/mcp/write/index.tsx
  client/dashboard/sites/settings-ai-tools/read/index.tsx
  client/dashboard/sites/settings-ai-tools/write/index.tsx
  client/me/mcp/tools-subpage.jsx
Owners: @Automattic/lego

Fix: chat loading screeen hardcoded white (#110405)
  packages/odie-client/src/components/message/style.scss
Owners: none

Cancel survey: update button copy for cancel intent (#110382)
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/components/marketing-survey/cancel-purchase-form/step-components/feedback-step.tsx
  client/components/marketing-survey/cancel-purchase-form/step-components/upsell-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/step-components/upsell-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
Owners: @Automattic/lego

Blogging prompt: decode HTML entities in prompt text (#110408)
  client/components/blogging-prompt-card/prompts-navigation.jsx
Owners: none

Reader: migrate Discover streams to React Query (READ-497) (#110372)
  client/state/data-layer/wpcom/read/streams/index.js
  client/state/data-layer/wpcom/read/streams/test/index.js
  client/state/reader/streams/actions.js
  client/state/reader/streams/migrated-stream-types.ts
  client/state/reader/streams/normalize.ts
  client/state/reader/streams/test/actions.js
  client/state/reader/streams/test/migrated-stream-types.ts
  client/state/reader/streams/test/normalize.js
  packages/api-core/src/read-streams/fetchers.ts
  packages/api-core/src/read-streams/types.ts
  packages/api-queries/src/read-streams.ts
Owners: @Automattic/loop

Reader ATmosphere: route thread + author-feed through authed PDS (#110409)
  client/reader/atmosphere/author-profile-panel.tsx
  client/reader/atmosphere/test/atmosphere-thread-view.test.tsx
  client/reader/atmosphere/test/author-profile-panel.test.tsx
  client/reader/atmosphere/test/author-profile-view.test.tsx
  client/reader/atmosphere/test/thread-panel.test.tsx
  client/reader/atmosphere/thread-panel.tsx
  packages/api-core/src/reader-atmosphere/__tests__/fetchers.test.ts
  packages/api-core/src/reader-atmosphere/__tests__/query-keys.test.ts
  packages/api-core/src/reader-atmosphere/fetchers.ts
  packages/api-core/src/reader-atmosphere/query-keys.ts
  packages/api-queries/src/__tests__/reader-atmosphere.test.tsx
  packages/api-queries/src/reader-atmosphere.ts
Owners: @Automattic/loop

Dashboard: use medium font weight for Add New Site option titles (#110281)
  client/dashboard/sites/add-new-site/menu-item.tsx
Owners: @Automattic/lego

Reader: render own posts feed under ATmosphere Profile tab (#110410)
  client/reader/atmosphere/author-profile-panel.tsx
  client/reader/atmosphere/author-profile-tabs.tsx
  client/reader/atmosphere/author-profile-view.tsx
  client/reader/atmosphere/profile-panel.tsx
  client/reader/atmosphere/test/author-profile-panel.test.tsx
  client/reader/atmosphere/test/author-profile-tabs.test.tsx
  client/reader/atmosphere/test/author-profile-view.test.tsx
  client/reader/atmosphere/test/profile-panel.test.tsx
Owners: @Automattic/loop

Reader: migrate remaining date-based streams to React Query (READ-485) (#110374)
  client/reader/on-this-day/index.tsx
  client/reader/onboarding-rsm/subscribe-modal/index.tsx
  client/reader/onboarding/subscribe-modal/index.tsx
  client/reader/recent/index.tsx
  client/state/data-layer/wpcom/read/streams/index.js
  client/state/data-layer/wpcom/read/streams/test/index.js
  client/state/reader/streams/actions.js
  client/state/reader/streams/migrated-stream-types.ts
  client/state/reader/streams/normalize.ts
  client/state/reader/streams/test/actions.js
  client/state/reader/streams/test/migrated-stream-types.ts
  packages/api-core/src/read-streams/fetchers.ts
  packages/api-queries/src/__tests__/read-streams.test.tsx
  packages/api-queries/src/read-streams.ts
Owners: @Automattic/loop

Reader: migrate Conversations stream to React Query (READ-496) (#110414)
  client/state/data-layer/wpcom/read/streams/index.js
  client/state/data-layer/wpcom/read/streams/test/index.js
  client/state/reader/streams/actions.js
  client/state/reader/streams/migrated-stream-types.ts
  client/state/reader/streams/test/actions.js
  client/state/reader/streams/test/migrated-stream-types.ts
  packages/api-core/src/read-streams/fetchers.ts
  packages/api-queries/src/__tests__/read-streams.test.tsx
  packages/api-queries/src/read-streams.ts
Owners: @Automattic/loop

Jetpack Connect signup: match the connector-flow styling from the login page (#110298)
  client/jetpack-connect/signup.jsx
  client/jetpack-connect/style.scss
  client/jetpack-connect/test/__snapshots__/signup.js.snap
  client/jetpack-connect/test/signup.js
Owners: none

Reader ATmosphere: standalone compose entry points (CM-655) (#110407)
  .gitignore
  client/reader/atmosphere/atmosphere-account-view.tsx
  client/reader/atmosphere/atmosphere-thread-view.tsx
  client/reader/atmosphere/author-profile-view.tsx
  client/reader/atmosphere/composer/composer-modal.tsx
  client/reader/atmosphere/composer/composer-provider.tsx
  client/reader/atmosphere/composer/index.ts
  client/reader/atmosphere/composer/style.scss
  client/reader/atmosphere/composer/test/composer-modal.test.tsx
  client/reader/atmosphere/composer/test/composer-pinned-context.test.tsx
  client/reader/atmosphere/composer/test/composer-provider.test.tsx
  client/reader/atmosphere/composer/triggers/compose-fab.tsx
  client/reader/atmosphere/composer/triggers/test/compose-fab.test.tsx
  client/reader/atmosphere/composer/triggers/test/timeline-compose-pill.test.tsx
  client/reader/atmosphere/composer/triggers/timeline-compose-pill.tsx
  client/reader/atmosphere/profile-panel.tsx
  client/reader/atmosphere/test/profile-panel.test.tsx
  client/reader/atmosphere/test/standalone-compose.test.tsx
  client/reader/atmosphere/test/timeline-panel.test.tsx
  client/reader/atmosphere/timeline-panel.tsx
  packages/api-core/src/reader-atmosphere/constants.ts
  packages/api-queries/src/__tests__/reader-atmosphere.test.tsx
  packages/api-queries/src/reader-atmosphere.ts
Owners: @Automattic/loop

Reader: highlight active ATmosphere/Mastodon connection row in sidebar (#110415)
  client/reader/sidebar/social/style.scss
Owners: @Automattic/loop

Reader: migrate Likes stream to React Query (READ-498) (#110416)
  client/state/data-layer/wpcom/read/streams/index.js
  client/state/data-layer/wpcom/read/streams/test/index.js
  client/state/reader/streams/actions.js
  client/state/reader/streams/migrated-stream-types.ts
  client/state/reader/streams/test/actions.js
  client/state/reader/streams/test/migrated-stream-types.ts
  packages/api-core/src/read-streams/fetchers.ts
  packages/api-queries/src/__tests__/read-streams.test.tsx
  packages/api-queries/src/read-streams.ts
Owners: @Automattic/loop

Reader: migrate Recommendations streams to React Query (READ-499) (#110420)
  client/reader/stream/index.jsx
  client/state/data-layer/wpcom/read/streams/index.js
  client/state/data-layer/wpcom/read/streams/test/index.js
  client/state/reader/streams/actions.js
  client/state/reader/streams/migrated-stream-types.ts
  client/state/reader/streams/normalize.ts
  client/state/reader/streams/test/actions.js
  client/state/reader/streams/test/migrated-stream-types.ts
  client/state/reader/streams/test/normalize.js
  packages/api-core/src/read-streams/fetchers.ts
  packages/api-queries/src/__tests__/read-streams.test.tsx
  packages/api-queries/src/read-streams.ts
Owners: @Automattic/loop

Purchases: replace refund eligibility notice test with split cancel/remove test (#110417)
  client/components/marketing-survey/cancel-purchase-form/domain-cancellation-survey.tsx
  client/components/marketing-survey/cancel-purchase-form/step-components/next-adventure-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-button.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancellation-main-content.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/confirm-checkbox.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/refund-eligibility-notice.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/use-is-split-cancel-remove-enabled.ts
  client/dashboard/me/billing-purchases/cancel-purchase/use-show-refund-eligibility-notice.ts
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/me/billing-purchases/purchase-settings/purchase-notice.tsx
  client/dashboard/utils/purchase.ts
  client/me/purchases/cancel-purchase/index.tsx
  client/me/purchases/manage-purchase/index.tsx
  client/me/purchases/manage-purchase/notices.tsx
  client/me/purchases/manage-purchase/purchase-meta-expiration.tsx
Owners: @Automattic/lego, @Automattic/shilling

e2e: Fix flaky pattern selector (#110425)
  packages/calypso-e2e/src/lib/components/editor-sidebar-block-inserter-component.ts
Owners: none

Purcahses: fix cancellation flow polish (#110389)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-button.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/confirm-checkbox.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/keep-subscription-button.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/style.scss
  client/me/purchases/cancel-purchase/index.tsx
  client/me/purchases/cancel-purchase/style.scss
  client/me/purchases/controller.jsx
Owners: @Automattic/lego

Podcast: move route from /podcasting to /settings/podcast (#110427)
  client/my-sites/podcast/components/welcome.tsx
  client/my-sites/podcast/hooks/use-access-gate.tsx
  client/my-sites/podcast/index.ts
  client/my-sites/podcast/main.tsx
  client/sections.js
Owners: none

Document Calypso dev server port and .env behaviour (#110444)
  AGENTS.md
Owners: none
