Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Odyssey Stats: fix wp-admin heading rendering (sticky header + section-title leak) (#111390)
  apps/odyssey-stats/src/styles/wp-admin.scss
Owners: none

Odyssey Stats: scope wp-admin section-title heading reset to period nav (#111394)
  apps/odyssey-stats/src/styles/wp-admin.scss
Owners: none

Earn: Fix unstyled Ads settings page (#111396)
  client/my-sites/earn/ads/form-settings.tsx
Owners: none

chore(deps): update dependency react-router to v6.30.4 [security] (#111358)
  yarn.lock
Owners: none

Domain bundles: typed mock fetcher + bundle card in search flow (domain-bundling flag) (#111329)
  client/components/domains/wpcom-domain-search/use-wpcom-domain-search-props.ts
  config/development.json
  config/horizon.json
  config/production.json
  config/wpcalypso.json
  packages/api-core/src/domain-suggestions/__tests__/fetchers.test.ts
  packages/api-core/src/domain-suggestions/fetchers.ts
  packages/api-queries/src/domains.ts
  packages/domain-search/src/hooks/test/use-suggestions-list.tsx
  packages/domain-search/src/hooks/use-suggestions-list.ts
  packages/domain-search/src/page/context.ts
  packages/domain-search/src/page/results.tsx
  packages/domain-search/src/page/types.ts
Owners: @Automattic/quake

chore(deps): update unit test packages (#111273)
  apps/happy-blocks/package.json
  client/package.json
  packages/agents-manager/package.json
  packages/block-notes/package.json
  packages/calypso-e2e/package.json
  packages/components/package.json
  packages/composite-checkout/package.json
  packages/content-research/package.json
  packages/date-range-picker/package.json
  packages/design-picker/package.json
  packages/design-preview/package.json
  packages/domain-search/package.json
  packages/domains-table/package.json
  packages/explat-client-react-helpers/package.json
  packages/i18n-utils/package.json
  packages/image-studio/package.json
  packages/jetpack-ai-calypso/package.json
  packages/mini-cart/package.json
  packages/onboarding/package.json
  packages/plans-grid-next/package.json
  packages/privacy-toolset/package.json
  packages/search/package.json
  packages/shopping-cart/package.json
  packages/sites/package.json
  packages/ui/package.json
  packages/wpcom-checkout/package.json
  yarn.lock
Owners: @Automattic/shilling, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/martech

E2E: add publish 404 diagnostics (#111401)
  packages/calypso-e2e/src/element-helper.ts
  packages/calypso-e2e/src/lib/pages/editor-page.ts
Owners: none

E2E: fix P2 default-block click race in IsolatedBlockEditorComponent (#111406)
  packages/calypso-e2e/src/lib/components/isolated-block-editor-component.ts
Owners: none

Plans: rely on server for upgrade availability (#111404)
  client/my-sites/checkout/src/hooks/product-variants.tsx
  client/my-sites/plans-features-main/hooks/test/use-check-plan-availability-for-purchase.ts
  client/state/selectors/can-upgrade-to-plan.ts
  client/state/selectors/test/can-upgrade-to-plan.js
  client/state/selectors/test/get-upgrade-plan-slug-from-path.js
  client/state/sites/plans/assembler.js
  packages/calypso-products/src/plans-list.tsx
  packages/calypso-products/src/types.ts
Owners: @Automattic/shilling

Domain bundles: group bundle-tagged line items in mini-cart and checkout (#111353)
  client/layout/masterbar/masterbar-cart/masterbar-cart-button.tsx
  client/my-sites/checkout/src/components/wp-order-review-line-items.tsx
  packages/mini-cart/jest.config.js
  packages/mini-cart/src/mini-cart-line-items.tsx
  packages/mini-cart/src/mini-cart.tsx
  packages/mini-cart/test/mini-cart-line-items.tsx
  packages/wpcom-checkout/src/checkout-line-items.tsx
  packages/wpcom-checkout/src/group-bundle-line-items.ts
  packages/wpcom-checkout/src/index.ts
  packages/wpcom-checkout/test/bundle-line-item.tsx
  packages/wpcom-checkout/test/fixtures/bundle-cart.ts
  packages/wpcom-checkout/test/group-bundle-line-items.ts
Owners: @Automattic/shilling

E2E: handle social sharing confirmation while publishing (#111411)
  packages/calypso-e2e/src/lib/components/editor-publish-panel-component.ts
Owners: none

Add dependency security alert playbook (#111414)
  .claude/skills/calypso-security-alerts/SKILL.md
  docs/dependency-management.md
  docs/dependency-security-alerts.md
Owners: none

Earn: migrate WordAds settings form to @wordpress/components (#111422)
  client/my-sites/earn/ads/form-settings.tsx
  client/my-sites/earn/ads/style.scss
Owners: none

Earn: fix navigation tab padding, mobile label, and dropdown styling (#111424)
  client/my-sites/earn/main.tsx
  client/my-sites/earn/style.scss
Owners: none

A4A-2644: Reorganize sidebar navigation to group Sites + Plugins + Reports (#111075)
  client/a8c-for-agencies/components/sidebar-menu/hooks/use-main-menu-items.tsx
Owners: none

Earn: organize WordAds settings into per-topic cards (#111429)
  client/my-sites/earn/ads/form-settings.tsx
  client/my-sites/earn/ads/style.scss
Owners: none

Desktop: remove redundant accelerators from Edit menu to fix Ctrl+A on Windows (#111343)
  desktop/app/lib/menu/edit-menu.js
Owners: none

Update the checkout AGENTS doc to include detail about retiring payme… (#111299)
  client/my-sites/checkout/AGENTS.md
Owners: none

Add 2026 Global Nav redesign with mobile drill-down menu (#111319)
  client/landing/subscriptions/components/subscription-manager-page/subscription-manager-page.tsx
  client/layout/index.jsx
  client/layout/logged-out.jsx
  client/layout/style.scss
  client/layout/use-nav-2026-props.ts
  client/my-sites/patterns/components/pattern-library/style.scss
  client/my-sites/patterns/style.scss
  client/my-sites/patterns/wrapper.tsx
  client/my-sites/plugins/search-box-header/style.scss
  client/my-sites/plugins/search-categories/style.scss
  client/my-sites/theme/style.scss
  client/my-sites/themes/filter-bar-modern/style.scss
  client/my-sites/themes/hero-modern/style.scss
  client/performance-profiler/controller.tsx
  config/development.json
  config/horizon.json
  config/wpcalypso.json
  packages/wpcom-template-parts/src/types.ts
  packages/wpcom-template-parts/src/universal-header-navigation/index.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/menu-items.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/app-banner.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/desktop-dropdown.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/hooks.ts
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/mobile-menu.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/taxonomy.ts
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/types.ts
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/use-isomorphic-layout-effect.ts
  packages/wpcom-template-parts/src/universal-header-navigation/style.scss
Owners: none

A4A: surface error when logo image cannot be decoded (#111386)
  client/a8c-for-agencies/components/logo-file-upload/index.tsx
  client/a8c-for-agencies/sections/partner-directory/agency-details/logo-picker.tsx
Owners: none

chore: prepare codebase for the TypeScript 6 upgrade (#111432)
  client/a8c-for-agencies/sections/sites/site-actions/use-site-actions.ts
  client/declarations.d.ts
  client/my-sites/domains/domain-management/domain-overview-pane/test/index.test.tsx
  packages/agents-manager/src/style-imports.d.ts
  packages/block-renderer/src/style-imports.d.ts
  packages/components/src/style-imports.d.ts
  packages/content-research/src/style-imports.d.ts
  packages/design-picker/src/style-imports.d.ts
  packages/design-preview/src/style-imports.d.ts
  packages/domain-search/src/style-imports.d.ts
  packages/domains-table/src/style-imports.d.ts
  packages/global-styles/src/style-imports.d.ts
  packages/help-center/src/style-imports.d.ts
  packages/image-studio/src/style-imports.d.ts
  packages/jest-circus-allure-reporter/.eslintrc.js
  packages/jetpack-ai-calypso/src/style-imports.d.ts
  packages/jetpack-ai-sidebar/src/style-imports.d.ts
  packages/language-picker/src/style-imports.d.ts
  packages/launchpad/src/style-imports.d.ts
  packages/odie-client/src/style-imports.d.ts
  packages/omnibar/src/style-imports.d.ts
  packages/onboarding/src/style-imports.d.ts
  packages/plans-grid-next/src/style-imports.d.ts
  packages/privacy-toolset/src/style-imports.d.ts
  packages/search/src/style-imports.d.ts
  packages/site-admin/src/style-imports.d.ts
  packages/subscriber/src/style-imports.d.ts
  packages/support-articles/src/style-imports.d.ts
  packages/verbum-block-editor/src/style-imports.d.ts
  packages/wpcom-template-parts/src/style-imports.d.ts
  packages/zendesk-client/src/style-imports.d.ts
Owners: @Automattic/t-rex, @Automattic/i18n, @Automattic/martech

Move render-phase side effects into effects/commit phase (#111337)
  client/components/crm-downloads/crm-downloads.tsx
  client/my-sites/earn/components/add-edit-plan-modal/index.tsx
  client/my-sites/plans/current-plan/jetpack-product-install/index.tsx
  client/notifications/index.jsx
  client/performance-profiler/pages/dashboard/index.tsx
Owners: none

Checkout: remove dLocal Netbanking payment method (SHILL-1970) (#111302)
  client/components/payment-logo/index.jsx
  client/components/payment-logo/style.scss
  client/dashboard/me/billing-purchases/payment-methods/translate-payment-method-names.ts
  client/lib/cart-values/index.ts
  client/lib/checkout/masking.js
  client/lib/checkout/validation.js
  client/my-sites/checkout/src/components/checkout-main.tsx
  client/my-sites/checkout/src/components/country-specific-payment-fields.tsx
  client/my-sites/checkout/src/hooks/use-create-payment-methods/index.tsx
  client/my-sites/checkout/src/lib/translate-cart.ts
  client/my-sites/checkout/src/payment-methods/netbanking.tsx
  client/my-sites/checkout/src/test/multi-partner-card-processor.tsx
  client/my-sites/checkout/src/test/netbanking.tsx
  packages/wpcom-checkout/src/payment-processor-countries-fields.ts
  packages/wpcom-checkout/src/processor-specific.ts
  packages/wpcom-checkout/src/translate-payment-method-names.ts
  packages/wpcom-checkout/src/types.ts
  static/images/upgrades/netbanking.svg
Owners: @Automattic/lego, @Automattic/shilling

Calypso Cancellation Flow: show "Remove and refund" notice by default and make flow disable auto-renew (#111410)
  client/dashboard/me/billing-purchases/cancel-purchase/use-is-split-cancel-remove-enabled.ts
  client/me/purchases/cancel-purchase/index.tsx
  client/me/purchases/cancel-purchase/test/which-top-notice.test.ts
  client/me/purchases/cancel-purchase/which-top-notice.ts
  client/me/purchases/manage-purchase/index.tsx
  client/me/purchases/manage-purchase/test/purchase-management-buttons.js
  packages/calypso-e2e/src/lib/flows/cancel-purchase-flow.ts
  packages/calypso-e2e/src/lib/pages/me/purchases-page.ts
Owners: @Automattic/lego, @Automattic/shilling

A4A Licenses: revoke WordPress.com plans in-app instead of redirecting to wordpress.com (#111301)
  client/a8c-for-agencies/components/a4a-feedback/churn-mechanism/cancel-license-feedback-modal.tsx
Owners: none

A4A Referrals: escape CSV fields against formula injection (#111324)
  client/a8c-for-agencies/sections/referrals/lib/generate-commissions-csv.ts
  client/a8c-for-agencies/sections/referrals/lib/test/generate-commissions-csv.ts
Owners: none

Revert "Calypso Cancellation Flow: show "Remove and refund" notice by default…" (#111438)
  client/dashboard/me/billing-purchases/cancel-purchase/use-is-split-cancel-remove-enabled.ts
  client/me/purchases/cancel-purchase/index.tsx
  client/me/purchases/cancel-purchase/test/which-top-notice.test.ts
  client/me/purchases/cancel-purchase/which-top-notice.ts
  client/me/purchases/manage-purchase/index.tsx
  client/me/purchases/manage-purchase/test/purchase-management-buttons.js
  packages/calypso-e2e/src/lib/flows/cancel-purchase-flow.ts
  packages/calypso-e2e/src/lib/pages/me/purchases-page.ts
Owners: @Automattic/lego, @Automattic/shilling

Plans: Add self-serve downgrades for expired plans (#111408)
  client/me/purchases/manage-purchase/index.tsx
  client/my-sites/plans-features-main/components/downgrade-confirmation-modal/index.tsx
  client/my-sites/plans-features-main/components/downgrade-confirmation-modal/style.scss
  client/my-sites/plans-features-main/hooks/use-generate-action-hook.tsx
  client/my-sites/plans-features-main/index.tsx
  client/my-sites/purchases/main.tsx
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  config/development.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
  packages/api-core/src/upgrades/fetchers.ts
  packages/api-queries/src/upgrades.ts
Owners: @Automattic/shilling

A4A: use ExternalLink for inline text links (#111106)
  client/a8c-for-agencies/sections/client/cancel-subscription-confirmation-dialog/index.tsx
  client/a8c-for-agencies/sections/marketplace/checkout/product-info.tsx
  client/a8c-for-agencies/sections/marketplace/checkout/request-client-payment.tsx
  client/a8c-for-agencies/sections/marketplace/checkout/style-v1.scss
  client/a8c-for-agencies/sections/marketplace/common/hosting-testimonials-section/index.tsx
  client/a8c-for-agencies/sections/marketplace/common/hosting-testimonials-section/style.scss
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/enterprise-agency-hosting/index.tsx
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/enterprise-agency-hosting/style.scss
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/premier-agency-hosting/index.tsx
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/premier-agency-hosting/pressable-plan-section/regular-plan-card-content.tsx
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/premier-agency-hosting/pressable-plan-section/style.scss
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/premier-agency-hosting/style.scss
  client/a8c-for-agencies/sections/marketplace/products-overview/product-card/woopayments-custom-description/index.tsx
  client/a8c-for-agencies/sections/migrations/primary/migrations-commissions/empty-state.tsx
  client/a8c-for-agencies/sections/migrations/primary/migrations-overview-v2/sections/migrations-faqs/index.tsx
  client/a8c-for-agencies/sections/migrations/primary/migrations-overview-v2/sections/migrations-faqs/style.scss
  client/a8c-for-agencies/sections/migrations/primary/migrations-overview-v2/sections/migrations-hosting-options/index.tsx
  client/a8c-for-agencies/sections/migrations/primary/self-migration-tool/migration-info.tsx
  client/a8c-for-agencies/sections/overview/body/products/index.tsx
  client/a8c-for-agencies/sections/partner-directory/agency-details/index.tsx
  client/a8c-for-agencies/sections/purchases/licenses/license-preview/index.tsx
  client/a8c-for-agencies/sections/referrals/primary/bank-details/index.tsx
  client/a8c-for-agencies/sections/referrals/primary/footer/index.tsx
  client/a8c-for-agencies/sections/referrals/primary/footer/style.scss
  client/a8c-for-agencies/sections/referrals/primary/referrals-overview/layout-body-content.tsx
  client/a8c-for-agencies/sections/referrals/referral-details/components/assigned-to.tsx
  client/a8c-for-agencies/sections/signup/agency-details-form/index.tsx
  client/a8c-for-agencies/sections/signup/signup-v2/components/multi-step-form/contact-form/index.tsx
  client/a8c-for-agencies/sections/signup/signup-v2/components/multi-step-form/contact-form/style.scss
  client/a8c-for-agencies/sections/signup/signup-v2/components/multi-step-form/personalization/index.tsx
  client/a8c-for-agencies/sections/sites/sites-dashboard/provisioning-site-notification.tsx
  client/a8c-for-agencies/sections/sites/sites-dataviews/hooks/use-get-site-errors.tsx
  client/a8c-for-agencies/sections/woopayments/primary/woopayments-overview/index.tsx
  client/a8c-for-agencies/sections/woopayments/primary/woopayments-overview/style.scss
Owners: none

Add/student plan calypso products plumbing (#111349)
  packages/calypso-products/src/constants/types.ts
  packages/calypso-products/src/constants/wpcom.ts
  packages/calypso-products/src/main.ts
  packages/calypso-products/src/plans-list.tsx
  packages/calypso-products/test/is-plan.js
  packages/calypso-products/test/plan-levels-match.js
  packages/calypso-products/test/plan-lookups.js
  packages/calypso-products/test/product-values.js
Owners: none

Purchase Settings: Add downgrade links (#111409)
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/unified-plans-step.tsx
  client/lib/purchases/index.ts
  client/me/purchases/manage-purchase/index.tsx
  client/my-sites/plans-features-main/components/plans-page-subheader.tsx
  client/my-sites/plans-features-main/hooks/use-generate-action-callback.ts
  client/my-sites/plans-features-main/hooks/use-generate-action-hook.tsx
  client/my-sites/plans-features-main/index.tsx
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans.tsx
  packages/plans-grid-next/src/types.ts
Owners: @Automattic/lego, @Automattic/shilling, @Automattic/martech

Calypso Cancellation Flow: show "Remove and refund" notice by default and make Cancel disable auto-renew (take 2) (#111441)
  client/dashboard/me/billing-purchases/cancel-purchase/use-is-split-cancel-remove-enabled.ts
  client/me/purchases/cancel-purchase/index.tsx
  client/me/purchases/cancel-purchase/refund-eligibility-notice.tsx
  client/me/purchases/cancel-purchase/test/which-top-notice.test.ts
  client/me/purchases/cancel-purchase/which-top-notice.ts
  client/me/purchases/manage-purchase/index.tsx
  client/me/purchases/manage-purchase/test/purchase-management-buttons.js
  packages/calypso-e2e/src/lib/flows/cancel-purchase-flow.ts
  packages/calypso-e2e/src/lib/pages/me/purchases-page.ts
Owners: @Automattic/lego, @Automattic/shilling

Port Dolly site editor context to Agents Manager (#111260)
  packages/agents-manager/package.json
  packages/agents-manager/src/components/agents-manager.tsx
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/global.d.ts
  packages/agents-manager/src/hooks/__tests__/custom-actions.test.ts
  packages/agents-manager/src/hooks/__tests__/use-agent-config.test.ts
  packages/agents-manager/src/hooks/__tests__/use-zoom-action.test.ts
  packages/agents-manager/src/hooks/custom-actions/index.ts
  packages/agents-manager/src/hooks/use-copy-action.ts
  packages/agents-manager/src/hooks/use-zoom-action.ts
  packages/agents-manager/src/utils/__tests__/convert-tool-messages-to-components.test.ts
  packages/agents-manager/src/utils/__tests__/create-agent-config.test.ts
  packages/agents-manager/src/utils/convert-tool-messages-to-components.ts
  packages/agents-manager/src/utils/create-agent-config.ts
  packages/agents-manager/src/utils/site-editor-context.ts
  packages/agents-manager/src/utils/tool-message-utils.ts
  yarn.lock
Owners: none

Plugin Management: standardize detail panel close to "X" icon (#111354)
  client/my-sites/plugins/plugins-dashboard/index.tsx
Owners: none

Checkout: add post-checkout downgrade notice from purchase settings (#111446)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/me/billing-purchases/purchase-settings/purchase-notice.tsx
  client/dashboard/utils/site-url.ts
  client/me/purchases/manage-purchase/index.tsx
  client/me/purchases/manage-purchase/notices.tsx
Owners: @Automattic/lego, @Automattic/shilling

Reader: Add docs about the Reader data migration (#111442)
  client/reader/AGENTS.md
  client/reader/data/README.md
Owners: @Automattic/loop

Reader: relocate tags data hook to client/reader/data/tags (#111443)
  client/components/bloganuary-header/index.tsx
  client/reader/data/tags/index.ts
  client/reader/data/tags/test/use-tags.test.tsx
  client/reader/data/tags/use-tags.ts
  client/reader/discover/discover-stream.jsx
  client/reader/onboarding-rsm/index.tsx
  client/reader/onboarding-rsm/interests-modal/index.tsx
  client/reader/onboarding-rsm/interests-modal/test/index.test.tsx
  client/reader/onboarding-rsm/subscribe-modal/test/use-subscribe-recommendations.test.tsx
  client/reader/onboarding-rsm/subscribe-modal/use-subscribe-recommendations.ts
  client/reader/onboarding-rsm/test/index.test.tsx
  client/reader/onboarding/index.tsx
  client/reader/onboarding/interests-modal/index.tsx
  client/reader/onboarding/subscribe-modal/index.tsx
  client/reader/search-stream/suggestion-provider.jsx
  client/reader/sidebar/reader-sidebar-tags/index.jsx
  client/reader/tag-stream/main.jsx
Owners: @Automattic/loop

Remove (basically dead) dashboard/v2 feature flag (#111426)
  client/dashboard/app/boot.tsx
  client/my-sites/plugins/hooks/use-is-marketplace-redesign-enabled.ts
  client/sites/components/site-preview-pane/constants.ts
  client/sites/overview/controller.tsx
  client/sites/v2/site-overview/controller.tsx
  client/state/dashboard/selectors/has-dashboard-forced-opt-in.ts
  client/state/dashboard/selectors/has-dashboard-opt-in.ts
  client/state/dashboard/selectors/is-dashboard-toggle-enabled.ts
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: @Automattic/lego

MSD: force opt-in toggle visibility via feature flag on stage (#111427)
  client/state/dashboard/selectors/is-dashboard-toggle-enabled.ts
  config/development.json
  config/horizon.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: none

A4A: Redesign agency tier cards as horizontal scroll row (#111351)
  client/a8c-for-agencies/sections/agency-tier/overview-content/constants.ts
  client/a8c-for-agencies/sections/agency-tier/overview-content/index.tsx
  client/a8c-for-agencies/sections/agency-tier/overview-content/style.scss
  client/a8c-for-agencies/sections/agency-tier/overview-content/tier-cards.tsx
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
