Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

CI Docker images: Skip full monorepo package builds (#109303)
  Dockerfile
  Dockerfile.base
  bin/build-packages-if-needed.sh
  bin/build-packages-web.sh
  bin/postinstall.sh
  package.json
Owners: none

Revert "Stats: Fix subscriber chart Y-axis to always start from zero (#109313)" (#109347)
  client/my-sites/stats/stats-subscribers-chart-section/index.tsx
Owners: none

update readme (#109346)
  client/data/README.md
Owners: none

Add mailing list category AI Tips (#109343)
  client/mailing-lists/main.jsx
Owners: none

icfy-stats: Skip downloading of playwright browsers (#109349)
  .github/workflows/icfy-stats.yml
Owners: none

Preserve Woo flow context when navigating from magic login to password login (#109143)
  client/lib/paths/login/index.js
  client/lib/paths/login/test/index.js
  client/login/magic-login/index.jsx
Owners: none

Stats: Replace Spinner from @automattic/components with @wordpress/components (#109351)
  client/my-sites/stats/pages/purchase/index.tsx
  client/my-sites/stats/pages/shared/page-loading.tsx
  client/my-sites/stats/stats-email-detail/index.jsx
  client/my-sites/stats/stats-email-top-row/top-card.jsx
  client/my-sites/stats/stats-module/placeholder.tsx
  client/my-sites/stats/stats-page-loader/stats-loader.tsx
  client/my-sites/stats/stats-subscribers-highlight-section/index.tsx
Owners: none

Domain Search: Show free subdomain option for .wordpress.com queries (#109314)
  packages/domain-search/src/components/search-bar/input.tsx
  packages/domain-search/src/components/skip-suggestion/index.tsx
  packages/domain-search/src/components/skip-suggestion/test/index.tsx
  packages/domain-search/src/helpers/index.ts
  packages/domain-search/src/helpers/is-wpcom-subdomain-query.ts
  packages/domain-search/src/hooks/use-suggestions-list.ts
  packages/domain-search/src/page/test/results.tsx
  packages/domain-search/src/ui/domain-search-skip-suggestion/index.tsx
Owners: none

Reader: Update user profile page header (#109194)
  client/reader/user-profile/components/user-profile-header/index.tsx
  client/reader/user-profile/components/user-profile-header/style.scss
  client/reader/user-profile/components/user-profile-header/test/index.tsx
Owners: @Automattic/loop

Reader: Add controls and preload metadata to video elements (#109336)
  client/lib/post-normalizer/rule-content-disable-autoplay.js
  client/lib/post-normalizer/test/index.js
Owners: none

Image Studio: fix icons and button styling on P2 and other host themes (#109338)
  packages/image-studio/src/components/index.tsx
  packages/image-studio/src/components/style.scss
Owners: none

Add WordPress.com site detection in migration flow (#108408)
  client/blocks/import/capture/capture-input.tsx
  client/blocks/import/capture/style.scss
  client/blocks/import/capture/test/index.tsx
  client/landing/stepper/declarative-flow/flows/site-migration-flow/site-migration-flow.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-already-wpcom/components/form/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-already-wpcom/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-already-wpcom/test/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-identify/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-identify/test/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-identify/test/test-utils/fixtures.ts
Owners: none

Fix hardcoded WooPayments plugin name on Jetpack Connect for WooDna (#109298)
  client/jetpack-connect/authorize.js
  client/jetpack-connect/woo-dna-config.js
Owners: none

Save Agents Manager state per site (#109282)
  apps/agents-manager/agents-manager-with-provider.js
  client/layout/agents-manager-loader.tsx
  packages/agents-manager/README.md
  packages/agents-manager/src/components/__tests__/AgentsManager.test.tsx
  packages/agents-manager/src/components/agents-manager.tsx
  packages/agents-manager/src/components/persistent-router.tsx
  packages/agents-manager/src/contexts/AgentsManagerContext.tsx
  packages/agents-manager/src/hooks/use-persisted-history.ts
  packages/agents-manager/src/hooks/use-save-new-chat-route.ts
  packages/data-stores/src/agents-manager/actions.ts
  packages/data-stores/src/agents-manager/reducer.ts
  packages/data-stores/src/agents-manager/resolvers.ts
  packages/data-stores/src/agents-manager/selectors.ts
  packages/data-stores/src/agents-manager/types.ts
  packages/data-stores/src/index.ts
Owners: none

AI-921: Use wpcom-workflow-unified_chat as default agent when useUnifiedExperience is true (#109320)
  packages/agents-manager/src/components/__tests__/AgentsManager.test.tsx
  packages/agents-manager/src/components/agents-manager.tsx
  packages/agents-manager/src/components/headless-agent-initializer.tsx
  packages/agents-manager/src/constants.ts
  packages/agents-manager/src/hooks/__tests__/use-agent-config.test.ts
  packages/agents-manager/src/hooks/use-agent-config.ts
  packages/agents-manager/src/utils/__tests__/process-tool-messages.test.ts
  packages/agents-manager/src/utils/create-agent-config.ts
  packages/agents-manager/src/utils/load-external-providers.ts
  packages/block-notes/src/agent-config.test.ts
  packages/block-notes/src/agent-config.ts
Owners: none

Revert "Add WordPress.com site detection in migration flow (#108408)" (#109358)
  client/blocks/import/capture/capture-input.tsx
  client/blocks/import/capture/style.scss
  client/blocks/import/capture/test/index.tsx
  client/landing/stepper/declarative-flow/flows/site-migration-flow/site-migration-flow.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-already-wpcom/components/form/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-already-wpcom/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-already-wpcom/test/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-identify/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-identify/test/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-identify/test/test-utils/fixtures.ts
Owners: none

Rename StatsDatePicker → StatsDateLabel and convert to functional component (#108854)
  client/my-sites/stats/overview.jsx
  client/my-sites/stats/site.jsx
  client/my-sites/stats/stats-date-label/date-label-drill/index.scss
  client/my-sites/stats/stats-date-label/date-label-drill/index.tsx
  client/my-sites/stats/stats-date-label/index.jsx
  client/my-sites/stats/stats-date-label/style.scss
  client/my-sites/stats/stats-date-picker/with-is-drilling-down-hook.tsx
  client/my-sites/stats/stats-email-detail/index.jsx
  client/my-sites/stats/stats-module/all-time-nav.jsx
  client/my-sites/stats/stats-module/index.jsx
  client/my-sites/stats/stats-period-navigation/index.jsx
  client/my-sites/stats/stats-period-navigation/style.scss
  client/my-sites/stats/stats-post-summary/index.jsx
  client/my-sites/stats/videopress-stats-module/index.jsx
  client/my-sites/stats/wordads/index.jsx
  client/my-sites/store/app/store-stats/index.js
  client/my-sites/store/app/store-stats/store-stats-period-nav/index.js
Owners: none

Launch Site Flow: Deemphasize free plan in plans step (#109331)
  client/signup/config/steps-pure.js
  client/signup/steps/domains/index.tsx
  packages/calypso-e2e/src/lib/components/index.ts
  packages/calypso-e2e/src/lib/components/launch-celebration-component.ts
  packages/calypso-e2e/src/lib/pages/plans-page.ts
  packages/calypso-e2e/src/lib/pages/signup/signup-pick-plan-page.ts
  test/e2e/lib/pw-base.ts
  test/e2e/specs/flows/start-launch-site__flows.spec.ts
Owners: @Automattic/quake

Help Center: Add MCP route to query mapping (#109359)
  packages/help-center/src/route-to-query-mapping.ts
Owners: @Automattic/t-rex

Add/migration wpcom detection (#109361)
  client/blocks/import/capture/capture-input.tsx
  client/blocks/import/capture/style.scss
  client/blocks/import/capture/test/index.tsx
  client/landing/stepper/declarative-flow/flows/site-migration-flow/site-migration-flow.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-already-wpcom/components/form/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-already-wpcom/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-already-wpcom/test/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-identify/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-identify/test/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-identify/test/test-utils/fixtures.ts
  test/e2e/specs/tools/import__sites-wordpress.spec.ts
Owners: none

Domain-Only Flow: Redirect to site home if the user chooses to create a site for the domain (#109364)
  client/signup/config/flows.js
Owners: none

Fire page view event when switching tabs within Calypso dashboard site settings (#109367)
  client/dashboard/app/analytics/super-props.ts
  client/dashboard/app/layout.tsx
  client/dashboard/components/page-view-tracker/index.tsx
Owners: @Automattic/lego

Image Studio: handle low credits warning notice from backend (#108986)
  packages/image-studio/src/abilities/update-canvas-image.ts
  packages/image-studio/src/components/index.tsx
  packages/image-studio/src/components/notice/index.tsx
  packages/image-studio/src/store/index.test.ts
  packages/image-studio/src/store/index.ts
Owners: none

ICFY: Skip full postinstall (#109366)
  .github/workflows/icfy-stats.yml
Owners: none

Fix conversation history when Unified is enabled (#109369)
  packages/agents-manager/src/hooks/use-conversation-list.ts
  packages/agents-manager/src/hooks/use-conversation.ts
Owners: none

Subscribers: Add gift subscription button to individual subscriber page (#109356)
  client/my-sites/subscribers/components/gift-modal/gift-modal.tsx
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
  client/my-sites/subscribers/components/subscriber-details/styles.scss
  client/my-sites/subscribers/components/subscriber-details/subscriber-details.tsx
  client/my-sites/subscribers/main.tsx
  client/state/memberships/gifts/actions.js
Owners: none

Launch Site: Only open celebration modal after re-fetching the site's domains (#109372)
  client/my-sites/customer-home/components/home-content/index.jsx
Owners: none

Checkout: do not compare renewal price to monthly in sidebar (#109371)
  client/my-sites/checkout/src/components/cost-overrides-list.tsx
  client/my-sites/checkout/src/components/wp-checkout-order-summary.tsx
  client/my-sites/checkout/utils/use-equivalent-monthly-totals.ts
Owners: @Automattic/shilling

Reader: Update recent dropdown menu (#109322)
  client/reader/sidebar/index.jsx
  client/reader/sidebar/reader-sidebar-recent/index.tsx
Owners: @Automattic/loop

Reader: Update app title on sidebar
  client/reader/components/header/style.scss
  client/reader/sidebar/index.jsx
  client/reader/sidebar/style.scss
Owners: @Automattic/loop

Clean up complimentary subscription modal styling (#109360)
  client/my-sites/earn/components/add-edit-coupon-modal/products-selector.tsx
  client/my-sites/subscribers/components/gift-modal/gift-modal.tsx
  client/my-sites/subscribers/components/gift-modal/style.scss
Owners: none

Reader User Profile: Update recommended tab UI (#109240)
  client/blocks/reader-suggested-follows/dialog.jsx
  client/blocks/reader-suggested-follows/recommended-feed/index.tsx
  client/blocks/reader-suggested-follows/recommended-feed/style.scss
  client/blocks/reader-suggested-follows/test/dialog.test.tsx
  client/components/gravatar-with-hovercards/recommended-blogs/index.jsx
  client/components/gravatar-with-hovercards/styles.scss
  client/reader/recommended-feed/index.tsx
  client/reader/recommended-feed/style.scss
  client/reader/recommended-feeds-list/index.tsx
  client/reader/recommended-feeds-list/recommended-feed-item.tsx
  client/reader/recommended-feeds-list/style.scss
  client/reader/recommended-feeds-list/test/recommended-feed-item.test.tsx
  client/reader/recommended-feeds-list/test/recommended-feeds-list.test.tsx
  client/reader/user-profile/style.scss
  client/reader/user-profile/views/recommended-blogs.tsx
  client/reader/user-profile/views/test/recommended-blogs.tsx
Owners: @Automattic/loop

Site Launch Standardization: Redirect back to wp-admin after completing the flow (#109340)
  client/signup/config/flows.js
  test/e2e/specs/onboarding/launch-site__wp-admin.spec.ts
  test/e2e/specs/shared/index.ts
  test/e2e/specs/shared/swap-base-url.ts
Owners: none

Reader User Profile: Show notice on subscribing/unsubscribing from recommended blogs (#109267)
  client/assets/stylesheets/shared/functions/_z-index.scss
  client/reader/recommended-feeds-list/recommended-feed-item.tsx
  client/reader/recommended-feeds-list/test/recommended-feed-item.test.tsx
Owners: @Automattic/loop

Revert "Add/migration wpcom detection (#109361)" (#109377)
  client/blocks/import/capture/capture-input.tsx
  client/blocks/import/capture/style.scss
  client/blocks/import/capture/test/index.tsx
  client/landing/stepper/declarative-flow/flows/site-migration-flow/site-migration-flow.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-already-wpcom/components/form/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-already-wpcom/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-already-wpcom/test/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-identify/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-identify/test/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-identify/test/test-utils/fixtures.ts
  test/e2e/specs/tools/import__sites-wordpress.spec.ts
Owners: none

webpack persistent cache: Try brotli compression (#109373)
  client/webpack.config.js
Owners: none

Dockerfile: add dedicated deps stage to cache yarn install across source-only changes (#109376)
  .teamcity/_self/projects/WebApp.kt
  Dockerfile
  bin/build-docker.js
  bin/check-docker-workspace-copy-globs.mjs
  package.json
Owners: none

Consistently show Woo logo on stepper screens when on my.woo.ai (#109352)
  client/dashboard/app-ciab/stepper-logo.tsx
  client/dashboard/app/routing.ts
  client/dashboard/app/stepper-logo.tsx
  client/document/index.jsx
  client/document/test/loading-placeholder.test.tsx
  client/document/test/should-hide-woo-hosted-logo.test.js
  client/document/utils/should-hide-woo-hosted-logo.js
  client/landing/stepper/declarative-flow/flows/woo-hosted-plans/woo-hosted-plans.ts
  client/landing/stepper/declarative-flow/internals/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/unified-plans-step.tsx
  client/layout/index.jsx
  client/layout/logged-out.jsx
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/logged-out.jsx
  client/my-sites/checkout/src/components/checkout-main-content.tsx
  client/my-sites/checkout/src/components/checkout-main.tsx
  client/server/pages/index.js
  client/server/pages/test/index.js
  packages/components/src/index.ts
  packages/onboarding/src/step-container-v2/wireframes/Loading/Loading.tsx
  packages/onboarding/src/step-container-v2/wireframes/Loading/test/Loading.test.tsx
Owners: @Automattic/lego, @Automattic/dotcom-stepper, @Automattic/shilling, @Automattic/quake

Domain Search: Show free subdomain option for .blog subdomain queries (#109353)
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
  packages/domain-search/src/components/skip-suggestion/index.tsx
  packages/domain-search/src/components/skip-suggestion/test/index.tsx
  packages/domain-search/src/helpers/index.ts
  packages/domain-search/src/helpers/is-free-subdomain-query.ts
  packages/domain-search/src/helpers/is-wpcom-subdomain-query.ts
  packages/domain-search/src/hooks/use-suggestions-list.ts
  packages/domain-search/src/page/context.ts
  packages/domain-search/src/page/test/results.tsx
  packages/domains-table/src/utils/is-free-url-domain-name.ts
Owners: none

Clean up setup site flow (#109365)
  client/layout/utils.ts
  client/lib/signup/step-actions/index.js
  client/my-sites/checkout/get-thank-you-page-url/index.ts
  client/signup/config/flows-pure.js
  client/signup/config/flows.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/config/steps.js
  client/signup/icons/index.tsx
  client/signup/processing-screen/index.tsx
  client/signup/steps/courses/footer.tsx
  client/signup/steps/courses/header.tsx
  client/signup/steps/courses/index.tsx
  client/signup/steps/courses/style.scss
  client/signup/steps/intent/index.tsx
  client/signup/steps/intent/intents.tsx
  client/signup/steps/intent/types.ts
  client/signup/steps/site-options/index.scss
  client/signup/steps/site-options/index.tsx
  client/signup/steps/starting-point/index.tsx
  client/signup/steps/starting-point/starting-point.tsx
  client/signup/steps/starting-point/types.ts
  client/signup/steps/store-features/index.scss
  client/signup/steps/store-features/index.tsx
  client/signup/steps/store-features/intents.tsx
  client/signup/steps/store-features/types.ts
  client/state/selectors/should-display-app-banner.ts
  client/state/signup/progress/reducer.js
Owners: @Automattic/shilling

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
