Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Add AGENTS.md files for Billing & Payments directories (#108838)
  AGENTS.md
  client/AGENTS.md
  client/dashboard/AGENTS.md
  client/dashboard/me/billing-purchases/AGENTS.md
  client/dashboard/me/billing-purchases/CLAUDE.md
  client/me/purchases/AGENTS.md
  client/me/purchases/CLAUDE.md
  client/my-sites/checkout/AGENTS.md
  client/my-sites/checkout/CLAUDE.md
Owners: @Automattic/lego

AGENTS.md: restructure root and client AGENTS.md (#108874)
  AGENTS.md
  client/AGENTS.md
  packages/image-studio/AGENTS.md
  packages/image-studio/CLAUDE.md
Owners: none

Add new Blueprint simple site flow page (#108361)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/blueprint/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/create-site/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/components/playground-setup/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/lib/import-blueprint.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/test/blueprint.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/test/index.tsx
  client/landing/stepper/declarative-flow/internals/steps.tsx
  client/landing/stepper/hooks/use-create-site-hook.ts
  packages/onboarding/src/cart/index.tsx
Owners: @Automattic/dotcom-stepper

Social: Fix E2E test following unified UI changes (#108875)
  test/e2e/specs/jetpack/social__editor-features.ts
Owners: none

Update plugin-compatibility.js for Audit Block Plugins Project - Group 2 (#108856)
  client/my-sites/plugins/plugin-compatibility.js
  client/my-sites/plugins/plugins-browser-item/test/index.jsx
Owners: none

Agents Manager: Self-mount when unified experience is enabled (#108826)
  apps/agents-manager/agents-manager-wp-admin.js
Owners: none

Update Agenttic package version and CSS cleanup (#108865)
  client/package.json
  package.json
  packages/agents-manager/package.json
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-dock/style.scss
  packages/agents-manager/src/components/agent-history/index.tsx
  packages/agents-manager/src/components/chat-header/index.tsx
  packages/agents-manager/src/components/chat-header/style.scss
  packages/agents-manager/src/components/conversation-history-view/style.scss
  packages/agents-manager/src/components/support-guide/index.tsx
  packages/agents-manager/src/components/support-guide/style.scss
  packages/agents-manager/src/components/support-guides/index.tsx
  packages/agents-manager/src/hooks/use-agent-layout-manager/README.md
  packages/image-studio/package.json
  packages/odie-client/package.json
  yarn.lock
Owners: none

Fix checkout ProductInfo for Pressable add-ons (#108862)
  client/a8c-for-agencies/sections/marketplace/checkout/product-info.tsx
Owners: none

Domain Flow: Add items to cart if picking the free plan through the escape hatch (#108877)
  client/landing/stepper/declarative-flow/flows/domain/domain.ts
  packages/calypso-e2e/src/lib/pages/plans-page.ts
  packages/calypso-e2e/src/lib/pages/signup/signup-pick-plan-page.ts
  test/e2e/specs/flows/setup-domain__flows.spec.ts
Owners: none

Help Center: Move CSAT to zendesk-client (#108712)
  packages/odie-client/src/components/message/feedback-form.tsx
  packages/odie-client/src/components/message/style.scss
  packages/zendesk-client/package.json
  packages/zendesk-client/src/components/csat-form.scss
  packages/zendesk-client/src/components/csat-form.tsx
  packages/zendesk-client/src/components/thumbs-down-icon.tsx
  packages/zendesk-client/src/components/thumbs-up-icon.tsx
  packages/zendesk-client/src/index.ts
  packages/zendesk-client/src/use-managed-zendesk-chat.tsx
Owners: none

MSD: use HStack with expanded={false} instead of width: auto (#108882)
  client/dashboard/README.md
  client/dashboard/components/environment/index.tsx
  client/dashboard/components/metadata-list/index.tsx
  client/dashboard/sites/deployments-list/branch-display.tsx
  client/dashboard/sites/deployments-list/dataviews/fields.tsx
  client/dashboard/sites/deployments-list/deployment-logs/deployment-logs-modal-content.tsx
  client/dashboard/sites/site/environment-switcher.tsx
Owners: @Automattic/lego

A4A > Migrations: Add Pressable promo window for migration tagging eligibility (#108893)
  client/a8c-for-agencies/sections/migrations/hooks/test/use-can-tag-sites-for-commission.test.ts
  client/a8c-for-agencies/sections/migrations/hooks/use-can-tag-sites-for-commission.ts
  client/a8c-for-agencies/sections/migrations/lib/constants.ts
Owners: none

Add wideLayout to Jetpack pages for 1040px max-width consistency (#108891)
  client/components/jetpack/threat-list-header/style.scss
  client/components/jetpack/upsell-switch/index.tsx
  client/jetpack-cloud/style.scss
  client/my-sites/activity/activity-log-v2/index.tsx
  client/my-sites/backup/backup-contents-page/index.tsx
  client/my-sites/backup/main.jsx
  client/my-sites/backup/rewind-flow/index.tsx
  client/my-sites/backup/wpcom-backup-upsell.tsx
  client/my-sites/backup/wpcom-upsell.tsx
  client/my-sites/jetpack-search/main.tsx
  client/my-sites/scan/history/index.tsx
  client/my-sites/scan/main.tsx
  client/my-sites/scan/wpcom-upsell.tsx
  client/my-sites/site-settings/podcasting-details/index.jsx
  client/my-sites/site-settings/settings-newsletter/main.tsx
  client/my-sites/subscribers/components/subscriber-data-views/style.scss
  client/my-sites/subscribers/components/subscriber-totals/style.scss
Owners: none

Agents Manager: Fix feedback-related styles (#108853)
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-dock/style.scss
  packages/agents-manager/src/components/chat-message-skeleton/style.scss
  packages/agents-manager/src/components/conversation-history-view/style.scss
  packages/agents-manager/src/components/conversation-list-item/style.scss
  packages/agents-manager/src/components/conversation-list-skeleton/style.scss
  packages/agents-manager/src/components/feedback-input/index.tsx
  packages/agents-manager/src/components/feedback-input/style.scss
  packages/agents-manager/src/hooks/use-feedback/index.ts
Owners: none

Agents Manager: Add message copy action (#108855)
  packages/agents-manager/README.md
  packages/agents-manager/src/components/agent-dock/style.scss
  packages/agents-manager/src/components/conversation-history-view/style.scss
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/contexts/AgentsManagerContext.tsx
  packages/agents-manager/src/contexts/test/AgentsManagerContext.test.tsx
  packages/agents-manager/src/hooks/use-copy-message/index.ts
  packages/agents-manager/src/hooks/use-feedback/index.ts
  packages/agents-manager/src/hooks/use-feedback/test/index.test.ts
  packages/agents-manager/src/utils/convert-tool-message-to-component.ts
Owners: none

Agents Manager: Fix the AI chat crash in the editor (#108879)
  packages/zendesk-client/src/util.tsx
Owners: none

Subscribers: remove the layout width restriction (#108895)
  client/my-sites/subscribers/components/subscriber-data-views/style.scss
Owners: none

Help Center: Replace legacy flags with product-based feature config (#108863)
  apps/help-center/async-help-center.js
  apps/help-center/help-center-gutenberg.js
  apps/help-center/help-center-wp-admin.js
  client/layout/help-center-loader.tsx
  client/layout/index.jsx
  packages/help-center/src/components/help-center-chat.tsx
  packages/help-center/src/components/help-center-content.tsx
  packages/help-center/src/components/help-center-header.tsx
  packages/help-center/src/components/help-center-more-resources.tsx
  packages/help-center/src/components/help-center-search-results.tsx
  packages/help-center/src/components/help-center-search.tsx
  packages/help-center/src/contexts/HelpCenterContext.tsx
  packages/help-center/src/feature-config/index.ts
  packages/help-center/src/feature-config/presets.ts
  packages/help-center/src/feature-config/types.ts
  packages/help-center/src/hooks/use-get-history-chats.ts
  packages/help-center/src/hooks/use-help-search-query.ts
Owners: @Automattic/t-rex

MSD: clean up dashboard docs and AGENTS.md (#108898)
  client/dashboard/AGENTS.md
  client/dashboard/README.md
  client/dashboard/docs/entry-points.md
  client/dashboard/docs/testing.md
  client/dashboard/docs/ui-components.md
Owners: @Automattic/lego

A4A-2153: split Pressable add-on visibility by marketplace mode (#108885)
  client/a8c-for-agencies/sections/marketplace/checkout/lib/has-active-referral-pressable-plan.ts
  client/a8c-for-agencies/sections/marketplace/checkout/lib/test/has-active-referral-pressable-plan.test.ts
  client/a8c-for-agencies/sections/marketplace/checkout/request-client-payment.tsx
  client/a8c-for-agencies/sections/marketplace/hooks/test/use-pressable-addon-visibility.test.ts
  client/a8c-for-agencies/sections/marketplace/hooks/use-pressable-addon-visibility.ts
  client/a8c-for-agencies/sections/marketplace/products-overview/hooks/use-product-and-plans-with-pressable-visibility.ts
  client/a8c-for-agencies/sections/marketplace/products-overview/product-filter/hooks/use-product-filter-options.tsx
  client/a8c-for-agencies/sections/marketplace/products-overview/product-listing/index.tsx
Owners: none

Add wideLayout to WPCOMBusinessAT for 1040px max-width consistency (#108900)
  client/components/jetpack/wpcom-business-at/index.tsx
Owners: none

Agents Manager: Fix feedback and copy action colors (#108899)
  packages/agents-manager/src/components/agent-dock/style.scss
Owners: none

MSD: clean up PR reviewer bot prompt (#108901)
  .github/prompts/dashboard-pr-review.md
  client/dashboard/docs/links.md
  packages/api-queries/README.md
Owners: @Automattic/lego

Add tagline to Stats header (STATS-217) (#108843)
  client/components/navigation-header/navigation-header.scss
  client/components/navigation-header/navigation-header.tsx
  client/my-sites/stats/components/headers/page-header.tsx
Owners: none

Help Center: Fix loading jankiness by coordinating content rendering (#108883)
  packages/help-center/src/components/help-center-search.tsx
  packages/help-center/src/components/placeholder-lines.scss
  packages/help-center/src/hooks/use-get-history-chats.ts
Owners: @Automattic/t-rex

Reader: Respect explicit featured image instead of content heuristics (#108888)
  client/blocks/reader-featured-image/style.scss
  client/blocks/reader-post-card/featured-images.jsx
  client/blocks/reader-post-card/style.scss
  client/state/reader/posts/normalization-rules.js
  client/state/reader/posts/test/normalization-rules.js
Owners: @Automattic/loop

Help Center: Add AI agent specs (AGENTS.md / CLAUDE.md) (#108886)
  AGENTS.md
  apps/help-center/AGENTS.md
  apps/help-center/CLAUDE.md
  packages/help-center/AGENTS.md
  packages/help-center/CLAUDE.md
Owners: @Automattic/t-rex

Domain suggestions: add CIAB suggestion vendor (#108905)
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
  client/lib/domains/suggestions/index.ts
  client/lib/domains/suggestions/test/index.ts
  packages/api-core/src/domain-suggestions/types.ts
Owners: none

Podcasting settings: redesign UX with toggle-based enable/disable (#108858)
  client/my-sites/site-settings/podcasting-details/index.jsx
  client/my-sites/site-settings/podcasting-details/style.scss
Owners: none

Invites: use connect-screen components in logged-out flow (#108881)
  client/blocks/signup-form/index.jsx
  client/blocks/signup-form/passwordless.jsx
  client/blocks/signup-form/style.scss
  client/blocks/signup-form/test/passwordless.jsx
  client/my-sites/invites/invite-accept-logged-out/index.jsx
  client/my-sites/invites/invite-accept-logged-out/style.scss
  client/my-sites/invites/invite-form-header-logged-out/index.jsx
  client/my-sites/invites/test/invite-form-header-logged-out.jsx
Owners: none

e2e: Fix Form block Name field variant change (#108914)
  packages/calypso-e2e/src/lib/blocks/block-flows/all-form-fields.ts
  packages/calypso-e2e/src/lib/blocks/block-flows/contact-form.ts
Owners: none

Bump agenttic package to v0.1.46 (#108918)
  client/package.json
  package.json
  packages/agents-manager/package.json
  packages/image-studio/package.json
  packages/odie-client/package.json
  yarn.lock
Owners: none

Domain-and-Plan Flow: Skip plan selection for users with qualifying plans (#108869)
  client/landing/stepper/declarative-flow/flows/domain-and-plan/domain-and-plan.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/task-definitions/domain/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/task-definitions/domain/test/index.ts
  client/my-sites/site-settings/fediverse-settings/WpcomFediverseSettingsSection.js
  test/e2e/specs/flows/setup-domain-and-plan__skip-plan.spec.ts
Owners: none

Fix plan ownership notice flicker on Woo Hosted plans page (#108889)
  client/my-sites/plans-features-main/components/plan-notice.tsx
Owners: none

Reader: Add generic component for "New Subscriptions" tabs (#108796)
  client/landing/subscriptions/components/site-subscriptions-list/styles/site-subscriptions-list.scss
  client/reader/components/icons/reddit-icon.jsx
  client/reader/components/icons/substack-icon.tsx
  client/reader/components/icons/tumblr-icon.tsx
  client/reader/components/icons/youtube-icon.tsx
  client/reader/controller.js
  client/reader/discover/discover-stream.js
  client/reader/discover/helper/index.ts
  client/reader/new-subscription/components/add-new/index.tsx
  client/reader/new-subscription/components/add-new/style.scss
  client/reader/new-subscription/components/add-reddit/index.tsx
  client/reader/new-subscription/components/add-reddit/style.scss
  client/reader/new-subscription/components/add-subscription-form/consts.tsx
  client/reader/new-subscription/components/add-subscription-form/index.tsx
  client/reader/new-subscription/components/add-subscription-form/style.scss
  client/reader/new-subscription/components/add-subscription-form/test/index.test.tsx
  client/reader/new-subscription/components/add-substack/index.tsx
  client/reader/new-subscription/components/add-tumblr/index.tsx
  client/reader/new-subscription/components/add-tumblr/style.scss
  client/reader/new-subscription/components/add-tumblr/test/index.test.tsx
  client/reader/new-subscription/components/add-youtube/index.tsx
  client/reader/new-subscription/components/add-youtube/style.scss
  client/reader/new-subscription/index.tsx
  client/reader/new-subscription/test/index.test.tsx
Owners: @Automattic/loop

MSD: make PR reviewer bot cite source (#108925)
  .github/prompts/dashboard-pr-review.md
Owners: none

MSD: prevent PR reviewer bot from listing recent PRs as it's not allowed (#108928)
  .github/prompts/dashboard-pr-review.md
Owners: none

Add AGENTS.md for Stats codebases (#108926)
  apps/odyssey-stats/AGENTS.md
  apps/odyssey-stats/CLAUDE.md
  client/my-sites/stats/AGENTS.md
  client/my-sites/stats/CLAUDE.md
Owners: none

MSD: Show correct name and URL fields for site redirects (#108851)
  client/dashboard/components/site-icon/index.tsx
  client/dashboard/sites/overview-site-fields/index.tsx
  client/dashboard/sites/site-fields/index.tsx
  client/dashboard/types/site.ts
  client/dashboard/utils/site-badge.ts
  client/dashboard/utils/site-name.ts
  client/dashboard/utils/site-url.ts
Owners: @Automattic/lego

Agents Manager: fix theme & plugin marketplace style (#108880)
  packages/agents-manager/src/components/agent-dock/style.scss
Owners: none
