Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

ACTLOG-45: Remove redundant IntroBanner from activity log (#108788)
  client/my-sites/activity/activity-log-banner/intro-banner.jsx
  client/my-sites/activity/activity-log-banner/intro-banner.scss
  client/my-sites/activity/activity-log-example/index.jsx
  client/my-sites/activity/activity-log/index.jsx
Owners: none

Dashboard: fix Jetpack site collisions via query cache listener (#108736)
  client/dashboard/app/router/root.tsx
  client/dashboard/me/profile-personal-details/test/index.test.tsx
  client/dashboard/me/profile-personal-details/update-username/test/index.test.tsx
  client/dashboard/sites/test/index.test.tsx
  client/dashboard/test-utils.tsx
  packages/api-core/src/me-sites/fetchers.ts
  packages/api-queries/src/__tests__/site-collision-listener.test.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/jetpack-site-collisions.ts
  packages/api-queries/src/query-client.ts
  packages/api-queries/src/site-collision-listener.ts
  packages/api-queries/src/utils.ts
Owners: @Automattic/lego

FORNO-202: Agents Manager - Include post content in Image Studio context (#108659)
  packages/image-studio/src/utils/client-context.ts
Owners: none

Stats: Show UTM parameter dropdown in empty state (#108818)
  client/my-sites/stats/features/modules/stats-utm/stats-module-utm.jsx
Owners: none

Stats: Retain custom date range when switching periods in summary view (#108819)
  client/my-sites/stats/stats-module/all-time-nav.jsx
Owners: none

MSD: Fix TypeError in getSiteFromCache() for paginated site queries (#108764)
  client/dashboard/app/analytics/super-props.ts
Owners: @Automattic/lego

Dashboard: add missing startSiteCollisionListener mock in preferences test (#108821)
  client/dashboard/me/preferences-default-landing/test/index.test.tsx
  client/dashboard/me/preferences-primary-site/test/index.test.tsx
Owners: @Automattic/lego

AGENTS.md: consolidate PR guidelines (#108822)
  .claude/rules/pr.md
  AGENTS.md
  CLAUDE.md
Owners: none

Split cancel from refund in MSD (#108752)
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-button.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancellation-full-text.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/refund-eligibility-notice.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/refund-information.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/types.ts
  client/dashboard/utils/purchase.ts
Owners: @Automattic/lego

AGENTS.md: pull PR review instructions to the action itself (#108824)
  .github/prompts/dashboard-pr-review.md
  client/dashboard/AGENTS.md
Owners: @Automattic/lego

Use dedicated endpoint for Agents Manager state (#108636)
  packages/agents-manager/src/hooks/use-persisted-history.ts
  packages/agents-manager/src/hooks/use-unified-ai-chat.ts
  packages/data-stores/src/agents-manager/actions.ts
  packages/data-stores/src/agents-manager/resolvers.ts
Owners: none

Newsletter Settings: fix general settings link pointing to writing settings (#108815)
  client/my-sites/site-settings/settings-newsletter/BylineSettings.tsx
Owners: none

[VGS-EBANX] Remove vgs-ebanx feature flag (#108046)
  client/my-sites/checkout/src/hooks/use-create-payment-methods/index.tsx
  client/my-sites/checkout/src/lib/multi-partner-card-processor.ts
  client/my-sites/checkout/src/payment-methods/credit-card/credit-card-fields.tsx
  client/my-sites/checkout/src/payment-methods/credit-card/credit-card-pay-button.tsx
  client/my-sites/checkout/src/payment-methods/credit-card/index.tsx
  client/my-sites/checkout/src/test/multi-partner-card-processor.tsx
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: @Automattic/shilling

CIAB Spec: Update version and fresher UI (#108816)
  client/lib/site-spec/utils.ts
  config/_shared.json
Owners: none

Sidebar: Add support for inline icons to the Calypso sidebar (#108751)
  client/layout/sidebar/item.jsx
  client/my-sites/sidebar/item.jsx
  client/my-sites/sidebar/style.scss
Owners: none

MSD: Accept redirect_to on change-payment-method route (#108759)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/billing-purchases/change-payment-method.tsx
Owners: @Automattic/lego

Plugins LP: Fix "Tele" → "Telex" typo (#108773)
  client/my-sites/plugins/plugins-banners/telex-banner/index.jsx
Owners: none

Reader: Fix infinite loading on Full Post View (#108833)
  client/state/reader/posts/selectors.js
  client/state/reader/posts/test/selectors.js
Owners: @Automattic/loop

Update Site Spec to 1.4.4 - z-index fixes and spacing (#108836)
  config/_shared.json
Owners: none

AGENTS: Add various test running instructions (#108840)
  AGENTS.md
Owners: none

Add Unicode preservation hook for Claude agents (#108717)
  CLAUDE.md
Owners: none

MSD: attempt to fix flaky dashboard tests by skipping site collision listener (#108829)
  client/dashboard/sites/test/index.test.tsx
  client/dashboard/test-utils.tsx
Owners: @Automattic/lego

Dashboard: Note US English spelling in copy guidelines (#108842)
  client/dashboard/docs/typography-and-copy.md
Owners: @Automattic/lego

Sites v1: Apply persistent view to the list layout of DataViews (#108630)
  client/dashboard/app/hooks/use-persistent-view.ts
  client/dashboard/sites-ciab/index.tsx
  client/dashboard/sites/dataviews/fields.tsx
  client/dashboard/sites/index.tsx
  client/sites/components/sites-dashboard.tsx
  client/sites/components/sites-dataviews/dataviews-fields/site-field.tsx
  client/sites/components/sites-dataviews/default-sites.tsx
  client/sites/components/sites-dataviews/index.tsx
  client/sites/components/sites-dataviews/p2-sites.tsx
  client/sites/components/sites-dataviews/use-site-status-groups.tsx
  client/sites/components/types.ts
  client/sites/hooks/use-tracks-event-on-filter-change.ts
Owners: @Automattic/lego

MSD: move canManageSite() check from beforeLoad to component itself (#108791)
  client/dashboard/sites/site/index.tsx
Owners: @Automattic/lego

Agents Manager: Fix inconsistent chat open state in RWD (#108660)
  packages/agents-manager/src/components/conversation-avatar/index.tsx
  packages/agents-manager/src/components/conversation-avatar/style.scss
  packages/agents-manager/src/hooks/use-agent-layout-manager/index.tsx
Owners: none

Agents Manager: Restore the last conversation for new chats (#108623)
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/hooks/use-admin-bar-integration/index.tsx
  packages/agents-manager/src/hooks/use-persisted-history.ts
  packages/agents-manager/src/hooks/use-save-new-chat-route.ts
  packages/agents-manager/src/utils/persist-agents-manager-state.ts
Owners: none

Agents Manager: use shouldLoadInlineHelp to exclude certain routes (#108772)
  client/layout/agents-manager-loader.tsx
  client/layout/index.jsx
Owners: none

Agents Manager: add disconnected variants (#108698)
  apps/agents-manager/agents-manager-ciab-disconnected.js
  apps/agents-manager/agents-manager-gutenberg-disconnected.js
  apps/agents-manager/agents-manager-wp-admin-disconnected.js
  apps/agents-manager/package.json
  apps/agents-manager/webpack.config.js
  packages/agents-manager/src/extension-types.ts
  packages/agents-manager/src/global.d.ts
  yarn.lock
Owners: none

Agents Managers: Improve components and styles architecture (#108696)
  packages/agents-manager/README.md
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-dock/fixes-jetpack.scss
  packages/agents-manager/src/components/agent-dock/fixes-woocommerce.scss
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/agent-dock/style.scss
  packages/agents-manager/src/components/agent-history/index.tsx
  packages/agents-manager/src/components/agents-manager.tsx
  packages/agents-manager/src/components/chat-header/style.scss
  packages/agents-manager/src/components/chat-message-skeleton/style.scss
  packages/agents-manager/src/components/conversation-history-view/index.tsx
  packages/agents-manager/src/components/conversation-history-view/style.scss
  packages/agents-manager/src/components/conversation-list-item/style.scss
  packages/agents-manager/src/components/conversation-list-skeleton/style.scss
  packages/agents-manager/src/components/feedback-input/style.scss
  packages/agents-manager/src/components/headless-agent-initializer.tsx
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/components/selected-block/style.scss
  packages/agents-manager/src/components/support-guide/index.tsx
  packages/agents-manager/src/components/support-guide/style.scss
  packages/agents-manager/src/components/support-guides/index.tsx
  packages/agents-manager/src/components/support-guides/style.scss
  packages/agents-manager/src/components/test/AgentsManager.test.tsx
  packages/agents-manager/src/components/unified-ai-agent/index.tsx
  packages/agents-manager/src/components/zendesk-chat/index.tsx
  packages/agents-manager/src/constants.ts
  packages/agents-manager/src/contexts/AgentsManagerContext.tsx
  packages/agents-manager/src/hooks/use-admin-bar-integration/style.scss
  packages/agents-manager/src/hooks/use-agent-layout-manager/index.tsx
  packages/agents-manager/src/hooks/use-conversation-list.ts
  packages/agents-manager/src/hooks/use-conversation.ts
  packages/agents-manager/src/hooks/use-feedback/index.ts
  packages/agents-manager/src/hooks/use-feedback/test/index.test.ts
  packages/agents-manager/src/index.ts
  packages/agents-manager/src/styles/animations.scss
  packages/agents-manager/src/styles/mixins.scss
  packages/agents-manager/src/styles/variables.scss
  packages/agents-manager/src/utils/agent-config.ts
Owners: none

ARC-1513: implement LoginPageWrapper with login parity primitives (#108813)
  client/components/connect-screen/action-buttons/index.tsx
  client/components/connect-screen/action-buttons/test/index.tsx
  client/components/connect-screen/login-page-wrapper/index.tsx
  client/components/connect-screen/login-page-wrapper/style.scss
  client/components/connect-screen/login-page-wrapper/test/index.tsx
  client/components/connect-screen/screen-layout/index.tsx
  client/components/connect-screen/stories/index.stories.tsx
Owners: none

Add already-member screen for the unified invite design (#108596)
  client/my-sites/invites-unified/controller.tsx
  client/my-sites/invites-unified/index.tsx
  client/my-sites/invites-unified/screens/accept-invite-screen.tsx
  client/my-sites/invites-unified/screens/already-member-screen.tsx
  client/my-sites/invites-unified/screens/style.scss
  client/my-sites/invites-unified/screens/test/already-member-screen.test.tsx
  client/my-sites/invites-unified/test/controller.test.tsx
  client/my-sites/invites-unified/test/index.test.tsx
  client/my-sites/invites-unified/types.ts
  client/my-sites/invites-unified/utils.ts
Owners: none

Add AGENTS.md and CLAUDE.md to Image Studio (#108808)
  AGENTS.md
  packages/image-studio/AGENTS.md
  packages/image-studio/CLAUDE.md
Owners: none

Always use current URL when redirecting back to checkout from login (#108868)
  client/my-sites/checkout/src/lib/contact-validation.tsx
Owners: @Automattic/shilling

Update number-formatters package to 1.1 (#108861)
  apps/blaze-dashboard/package.json
  apps/happy-blocks/package.json
  package.json
  packages/calypso-products/package.json
  packages/components/package.json
  packages/data-stores/package.json
  packages/mini-cart/package.json
  packages/plans-grid-next/package.json
  packages/wpcom-checkout/package.json
  yarn.lock
Owners: @Automattic/martech, @Automattic/shilling

Fix: Add loading indicator to Skip button on cancel purchase survey (#108867)
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/index.tsx
Owners: @Automattic/lego

Dashboard: Fix fullPage flag always false on site-list RUM recordings (#108846)
  client/dashboard/app/performance-tracking.ts
  client/dashboard/app/router/first-load-tracker.ts
  client/dashboard/app/router/root.tsx
  client/sites/v2/router.tsx
Owners: @Automattic/lego

STATS-218: Move module visibility toggle to end of StatsPeriodNavigation (#108844)
  client/my-sites/stats/site.jsx
  client/my-sites/stats/stats-period-navigation/index.jsx
Owners: none

FORNO-198: Image Studio – Add translation support to Agents Manager (#108644)
  apps/agents-manager/bin/merge-chunks-maps.js
  apps/agents-manager/package.json
  apps/agents-manager/webpack.config.js
  packages/image-studio/src/components/annotation-canvas/index.tsx
  packages/image-studio/src/components/aspect-ratio-picker/index.tsx
  packages/image-studio/src/components/canvas-controls/index.tsx
  packages/image-studio/src/components/canvas-controls/revision-navigator.tsx
  packages/image-studio/src/components/edit-layout/index.tsx
  packages/image-studio/src/components/generate-layout/index.tsx
  packages/image-studio/src/components/header/index.tsx
  packages/image-studio/src/components/image-actions-menu/index.tsx
  packages/image-studio/src/components/index.tsx
  packages/image-studio/src/components/sidebar/editable-field.tsx
  packages/image-studio/src/components/sidebar/file-details.tsx
  packages/image-studio/src/components/sidebar/index.tsx
  packages/image-studio/src/components/style-picker/index.tsx
  packages/image-studio/src/extensions/external-media-source-extension.tsx
  packages/image-studio/src/extensions/generate-button-extension.tsx
  packages/image-studio/src/extensions/image-toolbar-extension.tsx
  packages/image-studio/src/hooks/suggestions-data.ts
  packages/image-studio/src/hooks/use-revert-to-original.ts
  packages/image-studio/src/index.tsx
  packages/image-studio/src/utils/get-image-data.ts
  packages/image-studio/types/wordpress.d.ts
  yarn.lock
Owners: none

Agents Manager: fix hosting plans issue (#108857)
  packages/agents-manager/src/components/agent-dock/style.scss
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
