Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

APM: Polish response time breakdown tooltip (#110898)
  client/dashboard/sites/performance/backend/overview/chart-slot.tsx
  client/dashboard/sites/performance/backend/overview/index.tsx
Owners: @Automattic/lego

[RSM-3719] Fix themes dark universal header (#110922)
  packages/wpcom-template-parts/src/universal-header-navigation/index.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/style.scss
Owners: none

Fix dashboard button contrast (#110911)
  client/dashboard/app/_dark-theme.scss
  client/lib/color-scheme/dark-theme.scss
Owners: @Automattic/lego

Reader: link to new Social support doc from connection surfaces (#110929)
  client/reader/atmosphere/atmosphere-connect-view.tsx
  client/reader/connections/connections-new-view.tsx
  client/reader/connections/social-overview-view.tsx
  client/reader/mastodon/mastodon-connect-view.tsx
  client/reader/sidebar/reader-sidebar-connections/index.tsx
Owners: @Automattic/loop

Reader connections: add divider between What's hot and Your accounts (#110931)
  client/reader/connections/social-spotlight-skeleton.tsx
  client/reader/connections/social-spotlight.tsx
  client/reader/connections/style.scss
Owners: @Automattic/loop

Fix wp-admin sidebar customize ordering (#110935)
  client/layout/sidebar/expandable-heading.jsx
  client/layout/sidebar/expandable.jsx
  client/my-sites/sidebar/body.jsx
  client/my-sites/sidebar/customize/customize-mode.scss
  client/my-sites/sidebar/customize/dom-layout.ts
  client/my-sites/sidebar/customize/drag-drop.ts
  client/my-sites/sidebar/customize/keyboard-reorder.ts
  client/my-sites/sidebar/customize/move-menu.tsx
  client/my-sites/sidebar/customize/test/drag-drop.ts
  client/my-sites/sidebar/customize/test/menu-keyboard.tsx
  client/my-sites/sidebar/item.jsx
  client/my-sites/sidebar/menu.jsx
  client/my-sites/sidebar/use-site-menu-items.js
  client/my-sites/sidebar/utils/admin-sidebar-dev-mock.js
  client/my-sites/sidebar/utils/apply-layout-delta.ts
  client/my-sites/sidebar/utils/normalize-wpcom-admin-sidebar-host-links.ts
  client/my-sites/sidebar/utils/test/admin-sidebar-dev-mock.js
  client/my-sites/sidebar/utils/test/apply-layout-delta.ts
  client/my-sites/sidebar/utils/test/normalize-wpcom-admin-sidebar-host-links.ts
  client/state/data-layer/wpcom/sites/admin-menu/index.js
  client/state/data-layer/wpcom/sites/admin-menu/test/index.js
Owners: none

Reader Fediverse: hide reaction affordances until write endpoints land (#110932)
  client/reader/fediverse/author-profile-panel.tsx
  client/reader/fediverse/reactions-config.ts
  client/reader/fediverse/timeline-panel.tsx
  client/reader/social/author-profile-panel.tsx
  client/reader/social/components/post-card/index.tsx
  client/reader/social/components/post-card/post-card-counts.tsx
  client/reader/social/components/post-card/test/post-card-counts.test.tsx
  client/reader/social/index.ts
Owners: @Automattic/loop

Fix free site setup in release E2E flows (#110925)
  packages/calypso-e2e/src/rest-api-client.ts
  packages/calypso-e2e/src/test/rest-api-client.test.ts
  packages/calypso-e2e/src/types/rest-api-client.types.ts
  test/e2e/specs/flows/setup-domain__flows.spec.ts
  test/e2e/specs/flows/start-launch-site__flows.spec.ts
  test/e2e/specs/onboarding/launch-site__wp-admin.spec.ts
  test/e2e/specs/shared/api-create-free-site.ts
  test/e2e/specs/shared/index.ts
Owners: none

Reader connections: add "Your accounts" header above social grid (#110939)
  client/reader/connections/social-overview-view.tsx
  client/reader/connections/style.scss
Owners: @Automattic/loop

Reader connections: freeze What's hot strip after first load (#110940)
  client/reader/connections/social-spotlight.tsx
Owners: @Automattic/loop

Cancel: fire mutation on confirm for Jetpack/Akismet/domain registrations (#110893)
  client/me/purchases/cancel-purchase/index.tsx
Owners: none

Fix launch-site domain redirect E2E assertion (#110942)
  packages/calypso-e2e/src/lib/pages/plans-page.ts
  packages/calypso-e2e/src/lib/pages/signup/signup-pick-plan-page.ts
  test/e2e/specs/flows/start-launch-site__flows.spec.ts
Owners: none

Themes: Add an activation modal with basic vs. full setup choice (#110467)
  client/my-sites/theme/main.jsx
  client/my-sites/themes/_dark-mode.scss
  client/my-sites/themes/activation-modal.scss
  client/my-sites/themes/activation-modal.tsx
  client/my-sites/themes/iframe-preview-card.scss
  client/my-sites/themes/iframe-preview-card.tsx
  client/state/themes/actions/activate-theme.jsx
  client/state/themes/actions/activate.js
  client/state/themes/actions/theme-activated.js
  client/state/themes/selectors/index.js
  client/state/themes/selectors/should-show-activation-modal.ts
  client/types.ts
Owners: @Automattic/type-review

Purchases: Add interventions to cancel + remove flow (#110442)
  client/components/marketing-survey/cancel-purchase-form/get-solutions-for-reason.ts
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/components/marketing-survey/cancel-purchase-form/step-components/solution-cards-config.ts
  client/components/marketing-survey/cancel-purchase-form/step-components/solutions-cards-upsell-step.tsx
  client/components/marketing-survey/cancel-purchase-form/step-components/upsell-step.tsx
  client/components/marketing-survey/cancel-purchase-form/style.scss
  client/dashboard/app/router/me.tsx
  client/dashboard/components/summary-button-list/index.tsx
  client/dashboard/components/summary-button-list/style.scss
  client/dashboard/components/summary-button-list/types.ts
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/step-components/solutions-cards-upsell-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/get-solutions-for-reason.ts
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/style.scss
  client/dashboard/me/billing-purchases/purchase-settings/purchase-notice.tsx
  client/me/purchases/cancel-purchase/button.tsx
  client/me/purchases/cancel-purchase/index.tsx
  client/me/purchases/manage-purchase/notices.tsx
  client/state/purchases/actions.js
  config/dashboard-development.json
  config/development.json
  packages/api-core/src/constants.ts
Owners: @Automattic/lego, @Automattic/shilling

Renewal pricing: fix upsell card calculations (#110917)
  client/my-sites/checkout/src/components/checkout-sidebar-plan-upsell/index.tsx
  client/my-sites/checkout/src/components/test/checkout-sidebar-plan-upsell.test.tsx
Owners: @Automattic/shilling

Dashboard: Scope multisite backup/scan messaging to self-hosted Jetpack (#110887)
  client/dashboard/sites/overview-backup-card/index.tsx
  client/dashboard/sites/overview-scan-card/index.tsx
  client/dashboard/utils/site-type-feature-support.ts
Owners: @Automattic/lego

Add Jetpack AI Sidebar preview controls (#110864)
  packages/agents-manager/src/components/__tests__/agent-dock.test.tsx
  packages/agents-manager/src/components/__tests__/chat-header.test.tsx
  packages/agents-manager/src/components/__tests__/orchestrator-chat.test.tsx
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/chat-header/index.tsx
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/global.d.ts
  packages/agents-manager/src/utils/jetpack-ai-sidebar-preview.ts
  packages/agents-manager/src/utils/load-external-providers.ts
  packages/jetpack-ai-sidebar/src/components/review-mediation.tsx
  packages/jetpack-ai-sidebar/src/global.d.ts
  packages/jetpack-ai-sidebar/src/index.test.ts
  packages/jetpack-ai-sidebar/src/index.ts
  packages/jetpack-ai-sidebar/src/utils/block-actions.ts
Owners: none

Reader onboarding RSM - update curated blogs list (#110946)
  client/reader/onboarding-rsm/curated-blogs/creative-arts.tsx
  client/reader/onboarding-rsm/curated-blogs/industry.tsx
  client/reader/onboarding-rsm/curated-blogs/lifestyle.tsx
  client/reader/onboarding-rsm/curated-blogs/society.tsx
  client/reader/onboarding-rsm/curated-blogs/technology.tsx
  client/reader/onboarding-rsm/interests-modal/topic-groups.tsx
Owners: @Automattic/loop

Onboarding plans: redirect free plan selections to the choose page (re-land) (#110928)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  test/e2e/specs/onboarding/onboarding__write.ts
Owners: none

[RSM] Blog Talks Back: Add error message handling to Reader Chat (#110787)
  apps/agents-manager/__tests__/reader-chat.test.js
  apps/agents-manager/reader-chat.js
  packages/agents-manager/src/auth/calypso-auth-provider.ts
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/utils/__tests__/create-agent-config.test.ts
  packages/agents-manager/src/utils/__tests__/reader-chat-error-message.test.ts
  packages/agents-manager/src/utils/create-agent-config.ts
  packages/agents-manager/src/utils/reader-chat-error-message.ts
Owners: none

Plugin Compass: Frontend Tweaks (#110949)
  client/my-sites/plugins/marketplace-ai-experience/agent-provider.ts
  client/my-sites/plugins/plugin-compass-agent-loader.tsx
  client/my-sites/plugins/style.scss
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/hooks/use-empty-view-suggestions.ts
  packages/agents-manager/src/utils/is-plugin-compass-agent.ts
Owners: none

A4A: drop dead legacy commission compute from getEstimatedCommission (#110664)
  client/a8c-for-agencies/sections/referrals/consolidated-view/index.tsx
  client/a8c-for-agencies/sections/referrals/hooks/test/use-get-consolidated-payout-data.ts
  client/a8c-for-agencies/sections/referrals/hooks/use-get-consolidated-payout-data.ts
  client/a8c-for-agencies/sections/referrals/lib/get-estimated-commission.ts
  client/a8c-for-agencies/sections/referrals/lib/test/get-estimated-commission.ts
  client/a8c-for-agencies/sections/referrals/referrals-list/commissions-column.tsx
Owners: none

Dashboard: Fix workflow recipes link in Deployments tab (#110953)
  client/dashboard/sites/settings-repositories/advanced-workflow-style.tsx
  client/sites/deployments/components/deployment-style/advanced-workflow-style.tsx
Owners: @Automattic/lego

e2e: re-detect editor canvas iframe state instead of caching it (#110954)
  packages/calypso-e2e/src/lib/components/editor-component.ts
Owners: none

Marketing Tools: update SEO course CTA to "Watch the course" (#110955)
  client/sites/marketing/tools/marketing-features-data.ts
Owners: none

Dashboard: remove WpVersionNotice from site overview (#110956)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/overview/index.tsx
  client/dashboard/sites/overview/wp-version-notice.tsx
Owners: @Automattic/lego

Onboarding: align Help Center mobile sheet with the step top bar (#110830)
  packages/onboarding/src/step-container-v2/components/TopBar/TopBar.tsx
Owners: @Automattic/quake

Reader social: empty-state margin + drop sidebar learn-more link (#110950)
  client/reader/connections/style.scss
  client/reader/sidebar/reader-sidebar-connections/index.tsx
Owners: @Automattic/loop

Site launch celebration modal: improve test fixtures and assertions (#110874)
  client/dashboard/sites/site-launch-celebration-modal/test/index.test.tsx
Owners: @Automattic/lego

Help Center: resume open chat on Get help (#110767)
  packages/help-center/src/components/help-center-footer.tsx
Owners: @Automattic/t-rex

Reader social: convert composer overflow text to paragraph blocks (#110957)
  client/reader/social/composer/build-paragraph-blocks.ts
  client/reader/social/composer/composer-overflow-handoff.tsx
  client/reader/social/composer/test/build-paragraph-blocks.test.ts
Owners: @Automattic/loop

Image Studio: add Highlights video style (gated to a12s) (#110750)
  packages/image-studio/src/assets/video/styles/highlights.webp
  packages/image-studio/src/components/index.tsx
  packages/image-studio/src/components/style-picker/index.test.tsx
  packages/image-studio/src/components/style-picker/index.tsx
  packages/image-studio/src/hooks/use-video-clip-suggestions.test.ts
  packages/image-studio/src/hooks/use-video-clip-suggestions.ts
Owners: none

Admin sidebar: port public plugin parity fixes (#110961)
  client/my-sites/sidebar/customize/customize-mode.scss
  client/my-sites/sidebar/customize/index.tsx
  client/my-sites/sidebar/customize/move-menu.tsx
  client/my-sites/sidebar/customize/test/move-menu.tsx
  client/my-sites/sidebar/sidebar-group.jsx
  client/my-sites/sidebar/sidebar-group.scss
  client/my-sites/sidebar/style.scss
  client/my-sites/sidebar/test/sidebar-group.jsx
Owners: none

E2E: handle FSE template duplication prompt (#110962)
  packages/calypso-e2e/src/lib/pages/full-site-editor-page.ts
Owners: none

Update component toggle group control dark mode (#110959)
  client/dashboard/app/_dark-theme.scss
Owners: @Automattic/lego

Login: Last used login method badge (#110447)
  client/blocks/login/login-form.jsx
  client/blocks/login/login-form.scss
  client/blocks/login/social.jsx
  client/blocks/login/social.scss
  client/blocks/login/test/login-form.jsx
  client/blocks/login/test/social.jsx
  client/components/social-buttons/index.ts
  client/components/social-buttons/last-used-badge.tsx
  client/components/social-buttons/last-used-method.tsx
  client/components/social-buttons/login-method-impression.tsx
  client/components/social-buttons/magic-login.tsx
  client/components/social-buttons/qr-code.tsx
  client/components/social-buttons/style.scss
  config/development.json
Owners: none

APM: Use site locale for ms values in response time breakdown chart (#110930)
  client/dashboard/sites/performance/backend/overview/chart-slot.tsx
Owners: @Automattic/lego

Reader social: enable feature flag in production (#110960)
  config/production.json
Owners: none

APM: Show a prominent empty state when capturing is off (#110951)
  client/dashboard/sites/performance/backend/backend-empty-state.tsx
  client/dashboard/sites/performance/backend/index.tsx
  client/dashboard/sites/performance/backend/start-capturing-button.tsx
  client/dashboard/sites/performance/backend/test/index.test.tsx
  client/dashboard/sites/performance/backend/timeframe.ts
Owners: @Automattic/lego

Add dark mode agent guidance (#110964)
  client/dashboard/AGENTS.md
  client/my-sites/themes/AGENTS.md
  client/reader/AGENTS.md
  packages/ui/AGENTS.md
Owners: @Automattic/lego, @Automattic/loop
