Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

MCP: Fix badge icons on dashboard hub to match classic Calypso (AIINT-301) (#109518)
  client/dashboard/me/mcp/index.tsx
Owners: @Automattic/lego

Agents Manager: Fix route state race condition and remove cached conversation code (#109426)
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/chat-header/index.tsx
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/hooks/use-checkpoint-action.ts
  packages/agents-manager/src/hooks/use-conversation.ts
  packages/agents-manager/src/hooks/use-persisted-history.ts
  packages/agents-manager/src/utils/__tests__/convert-tool-messages-to-components.test.ts
  packages/agents-manager/src/utils/convert-tool-messages-to-components.ts
Owners: none

Filter malformed subscription renewal IDs (#109513)
  client/my-sites/checkout/src/hooks/use-prepare-products-for-cart.ts
Owners: @Automattic/shilling

Subscribers: simplify subscription type display for comps (#109515)
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
  client/my-sites/subscribers/hooks/use-subscription-plans.ts
Owners: none

A4A: add lead matching plumbing (#109516)
  client/a8c-for-agencies/AGENTS.md
  client/a8c-for-agencies/components/sidebar-menu/hooks/use-partner-directory-menu-items.ts
  client/a8c-for-agencies/lib/permission.ts
  client/a8c-for-agencies/sections/partner-directory/constants.ts
  client/a8c-for-agencies/sections/partner-directory/controller.tsx
  client/a8c-for-agencies/sections/partner-directory/lead-matching/index.tsx
  client/a8c-for-agencies/sections/partner-directory/lib/lead-matching-visibility.ts
  client/a8c-for-agencies/sections/partner-directory/partner-directory.tsx
  client/state/a8c-for-agencies/types.ts
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

Dockerfile: Add cache_mode=base|seed|none to the main app Docker build (#109485)
  .teamcity/_self/projects/WebApp.kt
  Dockerfile
  Dockerfile.cache-seed
  Dockerfile.toolchain
Owners: none

MCP: Use BigSkyLogo icon on me/preferences/mcp to match AI tools settings (#109522)
  client/dashboard/me/preferences-ai-mcp/index.tsx
Owners: @Automattic/lego

Dockerfile: Switch default cache mode from base to seed (#109528)
  .teamcity/_self/projects/WebApp.kt
Owners: none

Handle OAuth logout behaviors (#109399)
  client/dashboard/app/auth/index.tsx
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
Owners: @Automattic/lego

MSD: remove "available until" messaging from plan removal flows (#109532)
  client/dashboard/me/billing-purchases/cancel-purchase/feature-list.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/time-remaining-notice.tsx
Owners: @Automattic/lego

CIAB: Use Woo suffix in partner-branded auth titles (#109425)
  client/lib/partner-branding.tsx
  client/lib/test/partner-branding.tsx
  client/login/wp-login/index.jsx
  client/my-sites/invites-unified/screens/accept-invite-screen.tsx
  client/my-sites/invites-unified/screens/email-mismatch-screen.tsx
  client/my-sites/invites-unified/screens/invite-screen-layout.tsx
  client/my-sites/invites-unified/screens/test/accept-invite-screen.test.tsx
  client/my-sites/invites-unified/screens/test/already-member-screen.test.tsx
  client/my-sites/invites-unified/screens/test/email-mismatch-screen.test.tsx
  client/my-sites/invites-unified/test/index.test.tsx
  client/my-sites/invites/controller.js
  client/signup/main.jsx
Owners: none

MSD: Move omnibar margin-top from JS to CSS (#109497)
  client/dashboard/app/interim-omnibar/index.tsx
  client/dashboard/app/interim-omnibar/style.scss
Owners: @Automattic/lego

Use useRef instead of useMemo for initial path (#109487)
  client/dashboard/app/responsive-sidebar/sidebar.tsx
Owners: @Automattic/lego

MSD: Hide duplicate site URL in overview when omnibar is enabled (#109514)
  client/dashboard/sites/overview-site-fields/index.tsx
Owners: @Automattic/lego

MSD: Refactor Switcher to use renderItem and add Switcher.Item (#109509)
  client/dashboard/components/switcher/index.tsx
  client/dashboard/components/switcher/switcher-content.tsx
  client/dashboard/components/switcher/switcher-item.tsx
  client/dashboard/components/switcher/types.ts
  client/dashboard/domains/domain-switcher/index.tsx
  client/dashboard/domains/domain/index.tsx
  client/dashboard/plugins/manage/components/plugin-switcher.tsx
  client/dashboard/sites/site-switcher-v2/base.tsx
  client/dashboard/sites/site-switcher/base.tsx
Owners: @Automattic/lego

Revert "MSD: Refactor Switcher to use renderItem and add Switcher.Item (#109509)" (#109540)
  client/dashboard/components/switcher/index.tsx
  client/dashboard/components/switcher/switcher-content.tsx
  client/dashboard/components/switcher/switcher-item.tsx
  client/dashboard/components/switcher/types.ts
  client/dashboard/domains/domain-switcher/index.tsx
  client/dashboard/domains/domain/index.tsx
  client/dashboard/plugins/manage/components/plugin-switcher.tsx
  client/dashboard/sites/site-switcher-v2/base.tsx
  client/dashboard/sites/site-switcher/base.tsx
Owners: @Automattic/lego

E2E: Wait for calypso.live container readiness before running tests (#109316)
  bin/get-calypso-live-url.sh
  client/server/boot/index.js
Owners: none

Stripe UPI: enable in production (#109512)
  client/dashboard/me/billing-purchases/payment-methods/translate-payment-method-names.ts
  config/production.json
Owners: @Automattic/lego

Launch Site Flow Standardization: Add Calypso masterbar variations (#109433)
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/masterbar-launch-button.tsx
Owners: none

Plans page: fix display of current plan price when an introductory offer is active (#109529)
  packages/api-core/src/upgrades/types.ts
  packages/data-stores/src/plans/hooks/use-pricing-meta-for-grid-plans.ts
  packages/data-stores/src/plans/types.ts
  packages/data-stores/src/purchases/lib/assembler.ts
  packages/data-stores/src/purchases/types.ts
  packages/plans-grid-next/src/hooks/data-store/get-renewal-pricing-text.ts
Owners: @Automattic/martech

MSD: Refactor Switcher to use renderItem and add Switcher.Item (2nd try) (#109542)
  client/dashboard/components/switcher/index.tsx
  client/dashboard/components/switcher/switcher-content.tsx
  client/dashboard/components/switcher/switcher-item.tsx
  client/dashboard/components/switcher/types.ts
  client/dashboard/domains/domain-switcher/index.tsx
  client/dashboard/domains/domain/index.tsx
  client/dashboard/plugins/manage/components/plugin-switcher.tsx
  client/dashboard/sites/site-switcher-v2/base.tsx
  client/dashboard/sites/site-switcher/base.tsx
Owners: @Automattic/lego

Subscribers: Migrate header to @wordpress/admin-ui Page component (#109520)
  client/my-sites/subscribers/components/subscriber-data-views/style.scss
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
  client/my-sites/subscribers/components/subscriber-totals/style.scss
  client/my-sites/subscribers/components/subscribers-header/index.ts
  client/my-sites/subscribers/components/subscribers-header/subscribers-header.tsx
  package.json
  yarn.lock
Owners: none

MCP: Clean up connect AI agent setup page (#109501)
  client/dashboard/me/mcp/setup/index.tsx
  client/me/mcp/setup.jsx
  client/me/mcp/style.scss
Owners: @Automattic/lego

MSD: Use paste instead of type for long string in profile test (#109550)
  client/dashboard/me/profile-gravatar/test/index.test.tsx
Owners: @Automattic/lego

Reader full post - show entire featured image. (#109476)
  client/blocks/reader-featured-image/index.jsx
  client/blocks/reader-featured-image/style.scss
  client/blocks/reader-full-post/featured-image.jsx
  client/blocks/reader-full-post/index.jsx
  client/blocks/reader-full-post/style.scss
  client/blocks/reader-full-post/test/featured-image.jsx
Owners: @Automattic/loop

Add agentId support to agentsManagerData for host-level agent override (#109469)
  packages/agents-manager/src/global.d.ts
  packages/agents-manager/src/hooks/__tests__/use-agent-config.test.ts
  packages/agents-manager/src/hooks/use-agent-config.ts
Owners: none

MCP Settings: Icon, badge, copy, and UX updates (#109551)
  client/dashboard/me/mcp/index.tsx
  client/dashboard/me/mcp/setup/index.tsx
  client/dashboard/me/mcp/setup/style.scss
  client/me/mcp/hub-helpers.js
  client/me/mcp/main.jsx
  client/me/mcp/mcp-site-combobox.jsx
  client/me/mcp/mcp-sites.jsx
  client/me/mcp/setup.jsx
  client/me/mcp/style.scss
  client/me/sidebar/index.jsx
Owners: @Automattic/lego

MCP: Improve read/write permission list scannability (AIINT-299) (#109511)
  client/dashboard/me/mcp/categories.ts
  client/dashboard/me/mcp/read/index.tsx
  client/dashboard/me/mcp/write/index.tsx
  client/me/mcp/read-groups.js
  client/me/mcp/style.scss
  client/me/mcp/tools-subpage.jsx
Owners: @Automattic/lego

Add Claude integration in workflows (#109557)
  .github/workflows/claude.yml
Owners: none

Clearer staging warning (#109545)
  packages/odie-client/src/constants.tsx
Owners: none

DOTCOM-15915: Connection recovery for chat messages (#109416)
  packages/odie-client/src/components/notices/index.ts
  packages/odie-client/src/components/send-message-input/index.tsx
  packages/odie-client/src/components/send-message-input/use-attachment-handler.tsx
  packages/zendesk-client/src/index.ts
  packages/zendesk-client/src/types.ts
  packages/zendesk-client/src/use-connection-status-notice.tsx
  packages/zendesk-client/src/use-managed-zendesk-chat.tsx
Owners: none

Launch Site Flow Standardization: Add Calypso Launchpad variations (#109434)
  client/my-sites/customer-home/cards/launchpad/index.tsx
  client/my-sites/customer-home/cards/launchpad/pre-launch.tsx
  packages/launchpad/src/setup-actions.ts
  packages/launchpad/src/types.ts
Owners: none

e2e: Disable email notifications on form blocks during tests (#109530)
  packages/calypso-e2e/src/lib/blocks/block-flows/all-form-fields.ts
  packages/calypso-e2e/src/lib/blocks/block-flows/contact-form.ts
  packages/calypso-e2e/src/lib/blocks/block-flows/form-ai.ts
  packages/calypso-e2e/src/lib/blocks/block-flows/form-patterns.ts
  packages/calypso-e2e/src/lib/blocks/block-flows/shared/block-helpers.ts
Owners: none

Enable pricing experiment winning treatment (#109531)
  client/my-sites/plans-features-main/hooks/test/use-renewal-price-experiment.ts
  client/my-sites/plans-features-main/hooks/use-renewal-price-experiment.ts
Owners: none

Restrict Claude workflow to automattor (#109565)
  .github/workflows/claude.yml
Owners: none

Fix line item price showing wrong amount with stacked cost overrides (#109472)
  client/my-sites/checkout/src/components/cost-overrides-list.tsx
  packages/wpcom-checkout/src/checkout-line-items.tsx
  packages/wpcom-checkout/test/transformations.ts
Owners: @Automattic/shilling

Dockerfile.toolchain: Publish ci-e2e and ci-wpcom under their canonical names (#109534)
  .teamcity/settings.kts
Owners: none

Fix flaky `GravatarProfileSection: disables save when display name exceeds 250 characters` test (#109570)
  client/dashboard/me/profile-gravatar/test/index.test.tsx
Owners: @Automattic/lego

Reader: Update lists UI on user profile page (#109321)
  client/reader/list-stream/header.tsx
  client/reader/list-stream/index.jsx
  client/reader/list-stream/style.scss
  client/reader/user-profile/style.scss
  client/reader/user-profile/views/lists.scss
  client/reader/user-profile/views/lists.tsx
  client/reader/user-profile/views/test/lists.tsx
Owners: @Automattic/loop

Dockerfile.toolchain: Make sure ci-e2e downloads playwright browsers (#109571)
  Dockerfile.toolchain
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
