Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Launch Site Flow: Allow purchasing a domain if launching an Atomic site (#109923)
  client/lib/signup/step-actions/index.js
Owners: none

Launch Site Standardization: Send the user to the site home if launching from site visibility settings (#109921)
  client/dashboard/sites/settings-site-visibility/launch-form.tsx
  client/dashboard/sites/site-launch-button/index.tsx
Owners: @Automattic/lego

Launch Site Standardization: Fix visibility settings launch E2E tests (#109924)
  test/e2e/specs/onboarding/lifecycle__signup-onboarding-launch-cancel.ts
Owners: none

A4A-2379: Enable lead matching pilot for selected agencies (#109891)
  client/a8c-for-agencies/sections/partner-directory/lib/lead-matching-visibility.ts
  client/a8c-for-agencies/sections/partner-directory/lib/test/lead-matching-visibility.test.ts
  client/state/a8c-for-agencies/agency/actions.ts
  client/state/a8c-for-agencies/agency/test/actions.ts
Owners: none

Launch Site Flow: Mark siteSlug coming from query parameters as selected site (#109926)
  client/signup/controller.js
Owners: none

Dashboard: Disable view transitions on all redirects (#109727)
  client/dashboard/.eslintrc.js
  client/dashboard/app/router/domains.ts
  client/dashboard/app/router/emails.tsx
  client/dashboard/app/router/index.tsx
  client/dashboard/app/router/me.tsx
  client/dashboard/app/router/plugins.tsx
  client/dashboard/app/router/redirect.ts
  client/dashboard/app/router/root.tsx
  client/dashboard/app/router/sites.tsx
  client/dashboard/app/router/start-store.ts
Owners: @Automattic/lego

MSD: wire up unseen notification dot icon logic in interim omnibar (#109858)
  client/dashboard/app/interim-omnibar/interim-omnibar.tsx
  client/dashboard/app/interim-omnibar/omnibar-events.ts
  client/dashboard/app/interim-omnibar/omnibar-store.ts
  client/dashboard/app/notifications/index.tsx
Owners: @Automattic/lego

A4A: Fix siteless renewal showing error screen instead of checkout (#109907)
  client/me/purchases/manage-purchase/index.tsx
Owners: @Automattic/shilling

Enable dashboard/wp-beta-program in horizon (#109934)
  config/dashboard-horizon.json
Owners: none

MCP settings: add Tracks events across all MCP settings surfaces (#109822)
  client/dashboard/me/mcp/index.tsx
  client/dashboard/me/mcp/mcp-sites/index.tsx
  client/dashboard/me/mcp/read/index.tsx
  client/dashboard/me/mcp/write/index.tsx
  client/dashboard/sites/settings-ai-tools/index.tsx
  client/me/mcp/main.jsx
  client/me/mcp/read.jsx
  client/me/mcp/tools-subpage.jsx
  client/me/mcp/write.jsx
Owners: @Automattic/lego

Prevent customer chats from routing to staging Zendesk (#109910)
  packages/zendesk-client/src/util.tsx
  packages/zendesk-client/test/util.test.tsx
Owners: none

Fix flaky Pre-Release E2E Test: `specs/onboarding/signup__with-theme-premium.ts` (#109937)
  packages/calypso-e2e/src/lib/components/me/me-sidebar-component.ts
  packages/calypso-e2e/src/lib/pages/cart-checkout-page.ts
  test/e2e/specs/onboarding/signup__with-theme-premium.ts
  test/e2e/specs/shared/api-close-account.ts
Owners: none

Reader: Add AGENTS.md and expand README with route documentation (#109832)
  client/reader/AGENTS.md
  client/reader/CLAUDE.md
  client/reader/README.md
Owners: @Automattic/loop

Image Studio: increase prompt input limit to 1000 characters (FORNO-328) (#109938)
  packages/image-studio/src/components/index.tsx
Owners: none

Backup: add Jetpack footer to the WP.com page (#109886)
  client/components/jetpack/wpcom-business-at/index.tsx
  client/my-sites/backup/main.jsx
  client/my-sites/backup/wpcom-backup-upsell.tsx
  client/my-sites/backup/wpcom-upsell.tsx
Owners: none

Update the highlight pabels on onboarding-pm (#109942)
  packages/plans-grid-next/src/hooks/data-store/types.ts
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans-for-comparison-grid.ts
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans-for-features-grid.ts
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans.tsx
  packages/plans-grid-next/src/hooks/data-store/use-highlight-labels.ts
Owners: @Automattic/martech

Scan: add Jetpack footer to the WP.com page (#109888)
  client/my-sites/scan/main.tsx
  client/my-sites/scan/wpcom-atomic-transfer.tsx
  client/my-sites/scan/wpcom-scan-upsell.tsx
  client/my-sites/scan/wpcom-upsell.tsx
Owners: none

Add 48px padding to the plans grid to be closer to the onboarding flow (#109943)
  client/my-sites/plans-features-main/style.scss
Owners: none

E2E: fix flaky /users/new? response capture in signupWithEmail (#109941)
  packages/calypso-e2e/src/lib/components/editor-toolbar-component.ts
  packages/calypso-e2e/src/lib/pages/editor-page.ts
  packages/calypso-e2e/src/lib/pages/my-home-page.ts
  packages/calypso-e2e/src/lib/pages/plans-page.ts
  packages/calypso-e2e/src/lib/pages/signup/user-signup-page.ts
  test/e2e/specs/shared/api-delete-site.ts
Owners: none

Agents Manager: Implement support guides search (#109939)
  packages/agents-manager/package.json
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/support-guide/index.tsx
  packages/agents-manager/src/components/support-guides/index.tsx
  packages/agents-manager/src/components/support-guides/style.scss
  packages/agents-manager/src/hooks/use-help-search-query.ts
  yarn.lock
Owners: none

Signup: Add `skip_step_render` property to `calypso_signup_step_start` and `calypso_page_view` events (#109911)
  client/signup/config/steps-pure.js
  client/signup/controller.js
  client/signup/main.jsx
Owners: none

Fix tax label in dashboard billing history to show VAT/GST instead of Tax (#109840)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/billing-history/dataviews.tsx
  client/dashboard/me/billing-history/index.tsx
  client/dashboard/me/billing-history/receipt.tsx
Owners: @Automattic/lego

Site Launch Celebration Modal: Refetch data within Calypso when React Query data changes (#109955)
  client/dashboard/sites/performance/index.tsx
  client/dashboard/sites/settings-site-visibility/index.tsx
  client/dashboard/sites/settings-site-visibility/launch-form.tsx
  client/dashboard/sites/site-launch-button/index.tsx
  client/hosting/performance/site-performance.tsx
  client/my-sites/customer-home/celebrate-site-launch-modal/index.tsx
  client/my-sites/customer-home/celebrate-site-launch-modal/use-redux-site-with-query-client-launch-status-sync.ts
  client/my-sites/customer-home/celebrate-site-launch-modal/use-side-effects.ts
  client/sites/v2/site-settings/router.tsx
  client/state/selectors/is-unlaunched-site.js
Owners: @Automattic/lego

Dashboard: Enable WP beta activation for Simple Business+ sites (#109946)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/features.ts
  client/dashboard/sites/overview/wp-version-notice.tsx
  client/dashboard/sites/settings-wordpress/index.tsx
  client/dashboard/sites/settings-wordpress/summary.tsx
  client/dashboard/sites/settings-wordpress/test/index.test.tsx
  client/dashboard/utils/wp-version.ts
Owners: @Automattic/lego

Stats: Replace JetpackColophon with centralized JetpackFooter (#109929)
  apps/odyssey-stats/webpack.config.js
  client/components/jetpack/jetpack-footer/index.tsx
  client/components/jetpack/jetpack-footer/style.scss
  client/my-sites/stats/components/stats-main/index.tsx
  client/my-sites/stats/feedback/style.scss
  client/my-sites/stats/modernized-layout-styles.scss
  client/my-sites/stats/overview.jsx
  client/my-sites/stats/pages/insights/index.jsx
  client/my-sites/stats/pages/purchase/index.tsx
  client/my-sites/stats/pages/realtime/index.jsx
  client/my-sites/stats/pages/subscribers/index.tsx
  client/my-sites/stats/site.jsx
  client/my-sites/stats/stats-email-summary/index.jsx
  client/my-sites/stats/stats-post-detail/index.jsx
  client/my-sites/stats/summary/index.jsx
  client/my-sites/stats/wordads/index.jsx
Owners: none

Stats: Fix purchase page button selector and checklist spacing (#109953)
  client/my-sites/stats/stats-purchase/styles.scss
Owners: none

Dashboard: Show upsell on Settings > WordPress for sites below Business (#109961)
  client/dashboard/sites/features.ts
  client/dashboard/sites/settings-wordpress/index.tsx
  client/dashboard/sites/settings-wordpress/test/index.test.tsx
Owners: @Automattic/lego

JetpackFooter: Align menu structure and styles with upstream Jetpack component (#109962)
  client/components/jetpack/jetpack-footer/index.tsx
  client/components/jetpack/jetpack-footer/style.scss
Owners: none

Masterbar Item: Do not pass component-specific prop to HTML elements (#109945)
  client/layout/masterbar/item.tsx
  client/layout/masterbar/masterbar-launch-button.tsx
  packages/domain-search/src/components/unavailable-search-result/test/index.tsx
Owners: none

MSD Visibility Settings: Reset form state after site and settings refetch (#109956)
  client/dashboard/sites/settings-site-visibility/privacy-form.tsx
Owners: @Automattic/lego

Feature flag for reader saved feature (#109965)
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: none

Redux for saved feature (#109966)
  client/state/reader/action-types.ts
  client/state/reader/reducer.ts
  client/state/reader/saved/actions.ts
  client/state/reader/saved/local-storage.ts
  client/state/reader/saved/reducer.ts
  client/state/reader/saved/selectors.ts
  client/state/reader/saved/test/reducer.test.ts
  client/state/reader/saved/types.ts
Owners: @Automattic/loop

Left sidebar link and page for reader saved feature (#109970)
  client/reader/components/icons/saved-icon.jsx
  client/reader/saved-stream/controller.js
  client/reader/saved-stream/empty.tsx
  client/reader/saved-stream/index.js
  client/reader/saved-stream/main.tsx
  client/reader/saved-stream/style.scss
  client/reader/sidebar/index.jsx
  client/sections.js
Owners: @Automattic/loop

Clean up focused launchpad code (#109967)
  client/landing/stepper/declarative-flow/flows/build/build.ts
  client/landing/stepper/declarative-flow/flows/newsletter/newsletter.ts
  client/landing/stepper/declarative-flow/flows/start-writing/start-writing.ts
  client/landing/stepper/declarative-flow/flows/update-design/update-design.ts
  client/landing/stepper/declarative-flow/flows/write/write.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/index.tsx
  client/landing/stepper/hooks/use-record-signup-complete.ts
  client/my-sites/customer-home/cards/constants.js
  client/my-sites/customer-home/components/full-screen-launchpad.scss
  client/my-sites/customer-home/components/full-screen-launchpad.tsx
  client/my-sites/customer-home/components/home-content/index.jsx
  client/my-sites/customer-home/components/home-content/test/home-content.tsx
  client/my-sites/customer-home/controller.jsx
  client/sites-dashboard/components/sites-site-launch-nag.tsx
  client/state/selectors/should-show-launchpad-first.ts
  client/state/selectors/test/should-show-launchpad-first.ts
  test/e2e/specs/onboarding/lifecycle__signup-onboarding-launch-cancel.ts
  test/e2e/specs/onboarding/onboarding__focused-launchpad.ts
  test/e2e/specs/onboarding/onboarding__write.ts
Owners: none

Stubbed out Save button in reader cards (#109975)
  client/blocks/reader-post-actions/index.jsx
  client/blocks/reader-post-actions/style.scss
  client/blocks/reader-save-button/index.tsx
  client/blocks/reader-save-button/style.scss
  client/state/reader/saved/selectors.ts
  config/stage.json
Owners: @Automattic/loop

Dashboard: Gate canSwitchWordPressVersion behind wp-beta-program flag (#109968)
  client/dashboard/sites/features.ts
Owners: @Automattic/lego

Agents Manager: disable pointer when closing (#109102)
  packages/agents-manager/src/components/agent-dock/style.scss
  packages/agents-manager/src/hooks/__tests__/use-agent-layout-manager.test.tsx
  packages/agents-manager/src/hooks/use-agent-layout-manager/README.md
  packages/agents-manager/src/hooks/use-agent-layout-manager/index.tsx
Owners: none

A4A-2389: Hide payout notice on overview until agency has activity. (#109935)
  client/a8c-for-agencies/sections/overview/overview.tsx
  client/a8c-for-agencies/sections/referrals/common/missing-payment-settings-notice/test/use-has-commission-activity.ts
  client/a8c-for-agencies/sections/referrals/common/missing-payment-settings-notice/use-has-commission-activity.ts
Owners: none

E2E: Fix signup__with-theme-premium afterAll crash on missing bearer_token (#109964)
  test/e2e/specs/onboarding/signup__with-theme-premium.ts
Owners: none

A4A Migrations: point self-migration step to site-migration wizard (#109987)
  client/a8c-for-agencies/sections/migrations/primary/self-migration-tool/migration-info.tsx
Owners: none
