Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Reader: show pending posts immediately from poll cache (#112014)
  client/reader/stream/index.jsx
  client/reader/stream/test/use-stream-pending-posts.test.tsx
  client/reader/stream/use-stream-pending-posts.ts
Owners: @Automattic/loop

Bump agenttic to 0.1.72 (#112021)
  client/package.json
  packages/agents-manager/package.json
  packages/block-notes/package.json
  packages/image-studio/package.json
  packages/jetpack-ai-sidebar/package.json
  packages/odie-client/package.json
  yarn.lock
Owners: none

Migrate `packages/` to React 19 (forward-compatible) (#111965)
  client/dashboard/sites/settings-site-visibility/test/index.test.tsx
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/copy-action-button/index.tsx
  packages/api-queries/src/__tests__/read-site-recommendations.test.tsx
  packages/api-queries/src/__tests__/reader-atmosphere.test.tsx
  packages/api-queries/src/__tests__/reader-fediverse.test.tsx
  packages/api-queries/src/__tests__/reader-mastodon.test.tsx
  packages/calypso-jest/src/setup.js
  packages/calypso-paypal/src/index.tsx
  packages/calypso-stripe/src/index.tsx
  packages/components/src/breadcrumbs/index.tsx
  packages/components/src/horizontal-bar-list/stats-card.tsx
  packages/components/src/site-thumbnail/use-mshots-img.tsx
  packages/components/src/submenu-popover/index.tsx
  packages/components/src/tooltip/index.jsx
  packages/components/src/utils/element-rect.ts
  packages/composite-checkout/src/components/form-and-transaction-event-handler.ts
  packages/composite-checkout/src/components/payment-method-provider.tsx
  packages/composite-checkout/src/components/use-custom-property-for-height.tsx
  packages/design-picker/src/components/unified-design-picker.tsx
  packages/domain-search/src/hooks/use-click-outside.ts
  packages/domain-search/src/hooks/use-has-scrolled-to-end.ts
  packages/domain-search/src/hooks/use-typed-placeholder.ts
  packages/explat-client-react-helpers/src/index.tsx
  packages/help-center/src/components/help-center-container.tsx
  packages/help-center/src/components/help-center-gpt.tsx
  packages/image-studio/src/components/index.tsx
  packages/jetpack-ai-calypso/src/logo-generator/components/prompt.tsx
  packages/odie-client/src/components/message/jump-to-recent.tsx
  packages/odie-client/src/hooks/use-auto-scroll.ts
  packages/odie-client/src/hooks/use-get-combined-chat.ts
  packages/odie-client/src/hooks/use-help-center-chat-scroll.ts
  packages/onboarding/src/mshots-image/index.tsx
  packages/plans-grid-next/src/components/plan-type-selector/components/interval-type-toggle.tsx
  packages/subscriber/src/components/add-form/index.tsx
  packages/subscriber/src/components/upload-form/index.tsx
  packages/support-articles/src/hooks/use-help-center-article-scroll.tsx
  packages/verbum-block-editor/tsconfig.json
Owners: @Automattic/lego, @Automattic/shilling, @Automattic/experimentation-platform, @Automattic/t-rex, @Automattic/martech

Reader: restore inline achievements visibility toggle for all owners (#112026)
  client/reader/user-profile/views/achievements/achievements-settings/index.tsx
  client/reader/user-profile/views/achievements/index.tsx
  client/reader/user-profile/views/achievements/test/index.test.tsx
Owners: @Automattic/loop

Login: fix magic-link login for accounts with 2FA enabled (#112020)
  client/login/magic-login/handle-emailed-link-form.jsx
  client/login/magic-login/test/handle-emailed-link-form.test.jsx
Owners: none

Migrate virtual-list off @automattic/react-virtualized to @tanstack/react-virtual (#112025)
  client/blocks/taxonomy-manager/list.jsx
  client/components/virtual-list/index.jsx
Owners: none

Legacy contact: wire up the add contact form (#111669)
  client/dashboard/me/security-legacy-contact/index.tsx
  client/dashboard/me/security-legacy-contact/legacy-contact-form.tsx
  packages/api-core/src/me-legacy-contacts/index.ts
  packages/api-core/src/me-legacy-contacts/mutators.ts
  packages/api-queries/src/me-legacy-contacts.ts
Owners: @Automattic/lego

Notifications: surface Settings & Keyboard shortcuts as direct icons (#111977)
  apps/notifications/src/app/note-panel/actions.tsx
  apps/notifications/src/app/note-shortcuts/style.scss
  client/dashboard/app/notifications/index.tsx
  client/notifications/index.jsx
  client/reader/components/header/notifications/index.tsx
Owners: @Automattic/lego, @Automattic/loop

Notifications: rebalance comment action buttons & short-reply layout (#111975)
  apps/notifications/src/app/note/index.tsx
  apps/notifications/src/app/note/style.scss
  apps/notifications/src/app/style.scss
  apps/notifications/src/app/templates/action-button.jsx
  apps/notifications/src/app/templates/action-dropdown.tsx
  apps/notifications/src/app/templates/actions.jsx
  apps/notifications/src/app/templates/body.tsx
  apps/notifications/src/app/templates/button-trash.jsx
  apps/notifications/src/app/templates/test/action-placement.test.tsx
Owners: none

Legacy contact: add remove contact button with confirmation dialog (#111940)
  client/dashboard/me/security-legacy-contact/index.tsx
  client/dashboard/me/security-legacy-contact/remove-contact-dialog.tsx
  client/dashboard/me/security-legacy-contact/test/index.test.tsx
  packages/api-core/src/me-legacy-contacts/mutators.ts
  packages/api-queries/src/me-legacy-contacts.ts
Owners: @Automattic/lego

Lodash: replace xor() with a native symmetric difference (#112038)
  client/sites/marketing/sharing/options.jsx
  packages/calypso-eslint-overrides/lodash-restricted-imports.js
Owners: none

Dashboard: wrap untranslated createInterpolateElement/sprintf strings in __() (#112036)
  client/dashboard/sites/domains/primary-domain-selector.tsx
  client/dashboard/sites/performance/core-metrics-chart.tsx
Owners: @Automattic/lego

A4A MCP: present setup as a 3-step flow (#111914)
  client/dashboard/agency/resources/mcp/overview-content.tsx
  client/dashboard/agency/resources/mcp/style.scss
Owners: @Automattic/lego

Reader: use sentence case for sidebar menu labels (#112042)
  client/reader/sidebar/index.jsx
  client/reader/sidebar/reader-sidebar-connections/index.tsx
  client/reader/sidebar/reader-sidebar-recent/index.tsx
Owners: @Automattic/loop

e2e: open Link preview via the new "View previews" button (#111988)
  test/e2e/specs/editor/editor__post-basic-flow.ts
Owners: none

Calypso E2E: fix untracked failing specs: invite, advertising, dark-mode (TESTOPS-193) (#111958)
  packages/calypso-e2e/src/lib/pages/advertising-page.ts
  packages/calypso-e2e/src/lib/pages/blaze-campaign-page.ts
  packages/calypso-e2e/src/lib/pages/people-page.ts
  test/e2e/specs/color-scheme/dark-mode-surfaces.spec.ts
  test/e2e/specs/users/invite__new-user.spec.ts
Owners: none

Harden two flaky unit tests (TESTOPS-193) (#111962)
  client/dashboard/sites/test/index.test.tsx
  packages/webpack-inline-constant-exports-plugin/test/index.js
Owners: @Automattic/lego

Refine Jetpack AI Sidebar suggestions (#112015)
  packages/jetpack-ai-sidebar/src/index.test.ts
  packages/jetpack-ai-sidebar/src/index.ts
Owners: none

Lodash: replace get() with optional chaining (batch 2) (#112039)
  client/blocks/site-address-changer/index.jsx
  client/blocks/taxonomy-manager/list-item.jsx
  client/components/community-translator/utils.js
  client/components/domains/registrant-extra-info/uk-form.tsx
  client/components/domains/transfer-domain-step/index.jsx
  client/components/rewind-credentials-form/index.jsx
  client/components/seo-preview-pane/index.jsx
  client/components/title-format-editor/parser.js
  client/jetpack-connect/sso.jsx
  client/lib/signup/step-actions/index.js
  client/my-sites/domains/controller.jsx
  client/my-sites/invites/invite-accept-logged-out/index.jsx
  client/my-sites/migrate/step-source-select.jsx
  client/my-sites/people/people-profile/index.jsx
  client/my-sites/site-settings/manage-connection/jetpack-sync-panel/index.jsx
  client/my-sites/stats/stats-reach/index.jsx
  client/server/pages/index.js
  client/signup/steps/clone-start/index.jsx
  client/state/data-layer/wpcom-http/pipeline/remove-duplicate-gets/index.js
  client/state/data-layer/wpcom-http/pipeline/retry-on-failure/index.jsx
  client/state/data-layer/wpcom-http/utils.js
  client/state/data-layer/wpcom/sites/activity/from-api.js
  client/state/data-layer/wpcom/sites/automated-transfer/eligibility/index.js
  client/state/immediate-login/selectors.js
  client/state/imports/site-importer/actions.js
  client/state/login/actions/login-user-with-security-key.js
  client/state/memberships/subscribers/reducer.js
  client/state/signup/flow/selectors.js
  client/state/themes/utils.js
  client/state/ui/action-log/reducer.js
Owners: @Automattic/i18n, @Automattic/quake

Reader Spaces: wire the Discover tab to the /discover endpoint (#112006)
  client/reader/AGENTS.md
  client/reader/data/stream/build-query-params.js
  client/reader/data/stream/test/build-query-params.test.js
  client/reader/spaces/README.md
  client/reader/spaces/discover/placeholder.tsx
  client/reader/spaces/discover/style.scss
  client/reader/spaces/discover/test/placeholder.test.tsx
  client/reader/spaces/feed/components/states.tsx
  client/reader/spaces/feed/index.tsx
  client/reader/spaces/feed/test/index.test.tsx
  client/reader/spaces/test/view.test.tsx
  client/reader/spaces/view.tsx
  client/reader/stream/index.jsx
  packages/api-core/src/read-streams/fetchers.ts
  packages/api-queries/src/__tests__/read-streams.test.tsx
  packages/api-queries/src/read-streams.ts
Owners: @Automattic/loop

Jetpack AI Sidebar: dedupe shared block helpers (#112008)
  packages/jetpack-ai-sidebar/src/components/post-feedback.tsx
  packages/jetpack-ai-sidebar/src/components/review-mediation.tsx
  packages/jetpack-ai-sidebar/src/utils/block-actions.ts
  packages/jetpack-ai-sidebar/src/utils/blocks.ts
Owners: none

AGENTS: instruct agents to strip verbose code comments before pushing (#112045)
  AGENTS.md
Owners: none

Plugins upload: upsell Personal plan instead of Business (#112047)
  client/blocks/eligibility-warnings/hold-list.tsx
  client/blocks/eligibility-warnings/index.tsx
  client/blocks/eligibility-warnings/test/index.tsx
Owners: none

Nav 2026: gate dropdown trigger-offset at wide breakpoint (#112048)
  packages/wpcom-template-parts/src/universal-header-navigation/style.scss
Owners: none

Subscriptions: migrate VirtualizedList to @tanstack/react-virtual (#112028)
  client/landing/subscriptions/components/virtualized-list/virtualized-list.tsx
Owners: none

Remove dead Calypso taxonomy-manager (Categories/Tags) feature (#112031)
  client/blocks/taxonomy-manager/index.jsx
  client/blocks/taxonomy-manager/list-item.jsx
  client/blocks/taxonomy-manager/list.jsx
  client/blocks/taxonomy-manager/style.scss
  client/blocks/term-form-dialog/README.md
  client/blocks/term-form-dialog/index.jsx
  client/blocks/term-form-dialog/style.scss
  client/blocks/term-tree-selector/README.md
  client/blocks/term-tree-selector/add-term.jsx
  client/blocks/term-tree-selector/add-term.scss
  client/blocks/term-tree-selector/index.jsx
  client/blocks/term-tree-selector/no-results.jsx
  client/blocks/term-tree-selector/search.jsx
  client/blocks/term-tree-selector/search.scss
  client/blocks/term-tree-selector/terms.jsx
  client/blocks/term-tree-selector/terms.scss
  client/my-sites/sidebar/static-data/fallback-menu.js
  client/my-sites/sidebar/test/index.js
  client/my-sites/site-settings/settings-writing/index.js
  client/sections.js
  packages/data-stores/src/contextual-help/admin-sections.ts
  packages/help-center/src/route-to-query-mapping.ts
Owners: @Automattic/t-rex

Reader: migrate ReaderInfiniteStream to @tanstack/react-virtual (#112029)
  client/reader/components/reader-infinite-stream/index.jsx
Owners: @Automattic/loop

Agents Manager: AI & Help entry points in the block editor (#111999)
  apps/help-center/help-center-gutenberg.jsx
  packages/agents-manager/src/components/__tests__/agent-dock.test.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/agent-dock/style.scss
  packages/agents-manager/src/components/chat-header/index.tsx
  packages/agents-manager/src/components/editor-ai-chat-button/index.tsx
  packages/agents-manager/src/components/editor-ai-chat-button/style.scss
  packages/agents-manager/src/components/editor-help-center-button/index.tsx
  packages/agents-manager/src/hooks/use-admin-bar-integration/index.tsx
  packages/agents-manager/src/utils/__tests__/editor-entry-points.test.ts
  packages/agents-manager/src/utils/__tests__/is-editor-page.test.ts
  packages/agents-manager/src/utils/editor-entry-points.ts
  packages/agents-manager/src/utils/is-editor-page.ts
Owners: none

Help Center: hide Smooch crawler-SEO fallback link leaking into wp-admin (#111961)
  packages/help-center/src/styles.scss
Owners: @Automattic/t-rex

Reader Spaces: show the legacy layout as “Classic” to users (#111953)
  client/blocks/reader-post-actions/index.jsx
  client/blocks/reader-post-actions/style.scss
  client/reader/data/stream/build-query-params.js
  client/reader/data/stream/hooks/use-infinite-stream/index.ts
  client/reader/data/stream/test/build-query-params.test.js
  client/reader/spaces/colors.scss
  client/reader/spaces/create-modal/test/index.test.tsx
  client/reader/spaces/customize-modal/layout-tab.tsx
  client/reader/spaces/customize-modal/style.scss
  client/reader/spaces/customize-modal/test/index.test.tsx
  client/reader/spaces/feed/components/skeleton.tsx
  client/reader/spaces/feed/index.tsx
  client/reader/spaces/feed/layouts/board/index.tsx
  client/reader/spaces/feed/layouts/board/style.scss
  client/reader/spaces/feed/layouts/gallery/index.tsx
  client/reader/spaces/feed/layouts/gallery/style.scss
  client/reader/spaces/feed/layouts/magazine/index.tsx
  client/reader/spaces/feed/layouts/magazine/style.scss
  client/reader/spaces/feed/layouts/registry.ts
  client/reader/spaces/feed/layouts/standard-list/index.tsx
  client/reader/spaces/feed/layouts/standard-list/style.scss
  client/reader/spaces/feed/layouts/test/registry.test.ts
  client/reader/spaces/feed/layouts/test/skeleton.test.tsx
  client/reader/spaces/feed/layouts/test/standard-list.test.tsx
  client/reader/spaces/feed/layouts/types.ts
  client/reader/spaces/feed/style.scss
  client/reader/spaces/index.tsx
  client/reader/spaces/view.tsx
  packages/api-core/src/read-spaces/types.ts
Owners: @Automattic/loop

MCP: restructure MCP abilities into groups (#111954)
  client/me/mcp/categories.js
  client/me/mcp/group-intents.js
  client/me/mcp/groups.js
  client/me/mcp/main.jsx
  client/me/mcp/read-groups.js
  client/me/mcp/read.jsx
  client/me/mcp/style.scss
  client/me/mcp/test/categories.js
  client/me/mcp/test/group-intents.js
  client/me/mcp/test/groups.js
  client/me/mcp/test/utils.js
  client/me/mcp/tools-subpage.jsx
  client/me/mcp/utils.js
  client/me/mcp/write.jsx
  packages/api-core/src/me-settings/types.ts
Owners: none

Reader: Make settings tab public (#112051)
  client/reader/user-profile/components/user-profile-header/index.tsx
  client/reader/user-profile/views/achievements/achievements-settings/index.tsx
  client/reader/user-profile/views/achievements/index.tsx
  client/reader/user-profile/views/achievements/test/index.test.tsx
Owners: @Automattic/loop

Remove unused @automattic/react-virtualized dependency (#112049)
  client/landing/subscriptions/types.d.ts
  client/package.json
  client/reader/sidebar/spaces/test/index.test.tsx
  packages/calypso-build/webpack/util.js
  yarn.lock
Owners: @Automattic/loop

Reader - subscription management - disable filter and sort when irrelevant, add missing unsubscribed list heading text (#112023)
  client/landing/subscriptions/components/site-subscriptions-list/site-subscriptions-list-actions-bar.tsx
  client/landing/subscriptions/components/site-subscriptions-list/test/site-subscriptions-list-actions-bar.test.tsx
  client/landing/subscriptions/components/sort-controls/sort-controls.tsx
  client/reader/new-subscription/components/add-subscription-form/index.tsx
  client/reader/site-subscriptions-manager/not-found-site-subscriptions.tsx
  client/reader/site-subscriptions-manager/reader-site-subscriptions.tsx
  client/reader/site-subscriptions-manager/test/not-found-site-subscriptions.test.tsx
  client/reader/site-subscriptions-manager/unsubscribed-feeds-search-list/index.tsx
  client/reader/site-subscriptions-manager/unsubscribed-feeds-search-list/test/index.test.tsx
  packages/data-stores/src/reader/queries/test/use-site-subscriptions-query.tsx
  packages/data-stores/src/reader/queries/use-site-subscriptions-query.ts
Owners: @Automattic/loop

Plans paid tiers - add HStack to space badges. (#112057)
  client/my-sites/earn/memberships/products-list.tsx
Owners: none

Fix wrong 'switched to monthly billing' notice after plan downgrade (#112056)
  client/my-sites/plans-features-main/index.tsx
Owners: none

Lodash: replace get() with optional chaining (batch 3) (#112053)
  client/blocks/app-banner/index.jsx
  client/blocks/comments/post-comment.jsx
  client/blocks/comments/post-trackback.tsx
  client/blocks/reader-related-card/index.jsx
  client/blocks/reader-subscription-list-item/index.jsx
  client/components/auto-direction/index.jsx
  client/components/domains/contact-details-form-fields/index.jsx
  client/components/domains/map-domain-step/index.jsx
  client/components/gravatar/index.jsx
  client/lib/analytics/page-view-tracker/index.jsx
  client/lib/domains/check-domain-availability.js
  client/lib/domains/is-hsts-required.js
  client/lib/domains/mapped-domains.js
  client/lib/login/index.js
  client/lib/query-manager/post/index.js
  client/me/security-2fa-key/index.jsx
  client/me/social-login/service.jsx
  client/my-sites/activity/activity-log/index.jsx
  client/my-sites/google-my-business/location/index.jsx
  client/my-sites/google-my-business/stats/index.jsx
  client/my-sites/google-my-business/utils.js
  client/my-sites/migrate/section-migrate.jsx
  client/my-sites/migrate/step-import-or-migrate.jsx
  client/my-sites/people/people-list-item/index.tsx
  client/my-sites/people/people-section-nav/index.jsx
  client/my-sites/plugins/jetpack-plugins-setup/index.jsx
  client/my-sites/promote-post-i2/components/blaze-page-view-tracker/index.tsx
  client/my-sites/site-settings/seo-settings/form.jsx
  client/my-sites/site-settings/seo-settings/site-verification.jsx
Owners: @Automattic/loop, @Automattic/quake

Desktop: Default Windows signing to Azure Artifact Signing (#111902)
  .buildkite/commands/build-desktop-windows-nsis.ps1
  .buildkite/pipeline.yml
  desktop/bin/after_pack_hook.js
  desktop/bin/windows-sign.js
  desktop/bin/windows-signing-core.js
  desktop/electron-builder.json
  desktop/package.json
  desktop/test/unit/jest.config.js
  desktop/test/unit/windows-signing-core.test.js
Owners: none

Dashboard: track site URL click in Site Switcher (#112072)
  client/dashboard/sites/site-sidebar/site-switcher-item.tsx
Owners: @Automattic/lego

Agents Manager: Add opt-in regenerate action (#111068)
  packages/agents-manager/src/components/__tests__/orchestrator-chat.test.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/hooks/__tests__/use-regenerate-action.test.ts
  packages/agents-manager/src/hooks/use-regenerate-action.ts
  packages/agents-manager/src/utils/__tests__/load-external-providers.test.ts
  packages/agents-manager/src/utils/load-external-providers.ts
  packages/jetpack-ai-sidebar/src/index.ts
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
