Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Reader Mastodon: followers and following list views (frontend) (#110611)
  client/reader/AGENTS.md
  client/reader/mastodon/author-profile-panel.tsx
  client/reader/mastodon/controller.tsx
  client/reader/mastodon/followers-view.tsx
  client/reader/mastodon/following-view.tsx
  client/reader/mastodon/index.tsx
  client/reader/mastodon/profile-errors.ts
  client/reader/mastodon/route.ts
  client/reader/mastodon/test/profile-errors.test.ts
  client/reader/mastodon/test/route.test.ts
  client/reader/social/account-list.tsx
  client/reader/social/test/account-list.test.tsx
  client/sections.js
  packages/api-core/src/reader-mastodon/fetchers.ts
  packages/api-core/src/reader-mastodon/query-keys.ts
  packages/api-core/src/reader-mastodon/types.ts
  packages/api-queries/src/reader-mastodon.ts
Owners: @Automattic/loop

Add Smart Dictation tool to remove all blocks (#110623)
  packages/wpcom-smart-dictation/src/live-ai-assistant/index.tsx
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/tool-definitions.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/tool-labels.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/tool-runner.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/tools/editor-blocks-tool/index.ts
Owners: none

Reader social: show spinner on ATmosphere & Mastodon loading screens (#110627)
  client/reader/atmosphere/atmosphere-account-view.tsx
  client/reader/atmosphere/atmosphere-landing-view.tsx
  client/reader/atmosphere/atmosphere-thread-view.tsx
  client/reader/atmosphere/author-profile-view.tsx
  client/reader/atmosphere/tag-feed-view.tsx
  client/reader/mastodon/author-profile-view.tsx
  client/reader/mastodon/mastodon-account-view.tsx
  client/reader/mastodon/mastodon-landing-view.tsx
  client/reader/mastodon/mastodon-thread-view.tsx
  client/reader/mastodon/tag-feed-view.tsx
Owners: @Automattic/loop

Reader social: remove placeholder Settings tab from ATmosphere & Mastodon (#110628)
  client/reader/atmosphere/atmosphere-account-view.tsx
  client/reader/atmosphere/atmosphere-navigation.tsx
  client/reader/atmosphere/helper.ts
  client/reader/atmosphere/settings-panel.tsx
  client/reader/atmosphere/test/atmosphere-navigation.test.tsx
  client/reader/atmosphere/test/settings-panel.test.tsx
  client/reader/mastodon/helper.ts
  client/reader/mastodon/mastodon-account-view.tsx
  client/reader/mastodon/mastodon-navigation.tsx
  client/reader/mastodon/settings-panel.tsx
  client/reader/mastodon/test/mastodon-navigation.test.tsx
  client/reader/mastodon/test/settings-panel.test.tsx
  client/reader/social/AGENTS.md
  client/reader/stats/index.ts
  client/reader/stats/test/index.test.ts
Owners: @Automattic/loop

Review Mediation - Create review mediation component in AI sidebar (#110092)
  apps/agents-manager/jetpack-ai-sidebar.provider.mjs
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/agent-dock/style.scss
  packages/data-stores/src/agents-manager/actions.ts
  packages/jetpack-ai-sidebar/src/components/block-ref.test.tsx
  packages/jetpack-ai-sidebar/src/components/block-ref.tsx
  packages/jetpack-ai-sidebar/src/components/review-mediation.scss
  packages/jetpack-ai-sidebar/src/components/review-mediation.test.tsx
  packages/jetpack-ai-sidebar/src/components/review-mediation.tsx
  packages/jetpack-ai-sidebar/src/components/reviewer-chip.test.tsx
  packages/jetpack-ai-sidebar/src/components/reviewer-chip.tsx
  packages/jetpack-ai-sidebar/src/global.d.ts
  packages/jetpack-ai-sidebar/src/index.test.ts
  packages/jetpack-ai-sidebar/src/index.ts
  packages/jetpack-ai-sidebar/src/utils/block-actions.ts
  packages/jetpack-ai-sidebar/src/utils/tool-provider.ts
Owners: none

Image Studio: feature clip preview + share + Regenerate in the post sidebar (#110583)
  packages/image-studio/src/abilities/update-canvas-video.test.ts
  packages/image-studio/src/abilities/update-canvas-video.ts
  packages/image-studio/src/extensions/feature-clip-meta.ts
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.test.tsx
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.tsx
  packages/image-studio/src/extensions/feature-clip-sidebar.scss
  packages/image-studio/src/hooks/share-types.ts
  packages/image-studio/src/hooks/use-generic-share/index.ts
  packages/image-studio/src/hooks/use-reel-share/index.ts
Owners: none

Reader image carousel: keep long alt-text captions fully readable (#110630)
  packages/components/src/image-carousel/style.scss
Owners: none

Achievements: Enable the reader/achievements flag on all environments (#110638)
  config/production.json
  config/stage.json
Owners: none

Dashboard Domains: add pending registration notice on domain overview (#110589)
  client/dashboard/domains/domain-connection-setup/test/domain-connection-verification.test.tsx
  client/dashboard/domains/domain-forwarding/test/notice.test.tsx
  client/dashboard/domains/domain-overview/index.tsx
  client/dashboard/domains/domain-overview/pending-registration-notice.tsx
  client/dashboard/domains/domain-overview/test/actions.utils.test.ts
  client/dashboard/domains/domain-overview/test/settings.test.tsx
  client/lib/domains/resolve-domain-status.tsx
  client/my-sites/domains/domain-management/settings/index.tsx
  packages/api-core/src/domain/types.ts
  packages/domains-table/src/utils/resolve-domain-status.tsx
Owners: @Automattic/lego

APM: add Frontend/Backend tab fallback for legacy header-bar layout (#110515)
  client/dashboard/sites/performance/backend/index.tsx
  client/dashboard/sites/performance/frontend/index.tsx
  client/dashboard/sites/performance/performance-tabs.tsx
Owners: @Automattic/lego

Dashboard: Show dark mode controls in new dashboard (#110632)
  client/dashboard/app/router/me.tsx
  client/dashboard/app/router/test/me.test.tsx
  client/dashboard/components/dark-mode-announcement/index.tsx
  client/dashboard/components/dark-mode-announcement/test/index.test.tsx
  client/dashboard/me/preferences-appearance/index.tsx
  client/dashboard/me/preferences-appearance/test/index.test.tsx
  client/dashboard/me/preferences/index.tsx
Owners: @Automattic/lego

Charts: patch tooltip portal relocator to a no-op (#110550)
  .yarn/patches/@automattic-charts-npm-1.3.0-e188dc5003.patch
  package.json
  yarn.lock
Owners: none

Checkout: wire up Stripe EPS slug mappings and refresh EPS label (#110636)
  packages/wpcom-checkout/src/payment-methods/eps.tsx
  packages/wpcom-checkout/src/translate-payment-method-names.ts
  packages/wpcom-checkout/src/types.ts
  packages/wpcom-checkout/test/translate-payment-method-names.ts
Owners: @Automattic/shilling

Reader Social: add Blog about button to quote a post to a WordPress.com blog (#110641)
  client/reader/social/AGENTS.md
  client/reader/social/components/post-card/blog-about-button.tsx
  client/reader/social/components/post-card/blog-about-modal.tsx
  client/reader/social/components/post-card/build-embed-block.ts
  client/reader/social/components/post-card/post-card-counts.tsx
  client/reader/social/components/post-card/style.scss
  client/reader/social/components/post-card/test/blog-about-button.test.tsx
  client/reader/social/components/post-card/test/blog-about-modal.test.tsx
  client/reader/social/components/post-card/test/build-embed-block.test.ts
  client/reader/social/components/post-card/test/post-card-counts.test.tsx
  client/reader/social/composer/composer-config.tsx
  client/reader/social/composer/composer-overflow-handoff.scss
  client/reader/social/composer/composer-overflow-handoff.tsx
  client/reader/social/composer/test/composer-overflow-handoff.test.tsx
  client/reader/social/site-handoff/index.ts
  client/reader/social/site-handoff/site-handoff.scss
  client/reader/social/site-handoff/site-handoff.tsx
  client/reader/social/site-handoff/site-icon-thumb.tsx
  client/reader/social/site-handoff/test/site-handoff.test.tsx
  client/reader/social/site-handoff/use-handoff-mutation.ts
Owners: @Automattic/loop

E2E: Harden LOHP theme navigation wait (#110639)
  packages/calypso-e2e/src/lib/pages/logged-out-home-page.ts
Owners: none

Reader social: add Notifications tab for ATmosphere (#110635)
  client/reader/atmosphere/atmosphere-account-view.tsx
  client/reader/atmosphere/atmosphere-navigation.tsx
  client/reader/atmosphere/helper.ts
  client/reader/atmosphere/notifications-panel.tsx
  client/reader/atmosphere/test/atmosphere-account-view.test.tsx
  client/reader/atmosphere/test/atmosphere-navigation.test.tsx
  client/reader/atmosphere/test/notifications-panel.test.tsx
  client/reader/social/components/notifications-list/index.tsx
  client/reader/social/components/notifications-list/notification-item.tsx
  client/reader/social/components/notifications-list/style.scss
  client/reader/social/components/notifications-list/test/index.test.tsx
  client/reader/social/components/notifications-list/test/notification-item.test.tsx
  client/reader/social/index.ts
  packages/api-core/src/reader-atmosphere/__tests__/fetchers.test.ts
  packages/api-core/src/reader-atmosphere/__tests__/query-keys.test.ts
  packages/api-core/src/reader-atmosphere/__tests__/types.test.ts
  packages/api-core/src/reader-atmosphere/fetchers.ts
  packages/api-core/src/reader-atmosphere/query-keys.ts
  packages/api-core/src/reader-atmosphere/types.ts
  packages/api-queries/src/__tests__/reader-atmosphere.test.tsx
  packages/api-queries/src/reader-atmosphere.ts
Owners: @Automattic/loop

Subscription notice: replace anchor dismiss with Button (#110554)
  client/landing/subscriptions/components/notice/images/close.svg
  client/landing/subscriptions/components/notice/notice.tsx
  client/landing/subscriptions/components/notice/style.scss
Owners: none

Reader Fediverse: basic UI — sidebar entry, account chooser, account view (#110537)
  client/reader/AGENTS.md
  client/reader/components/icons/fediverse-icon.tsx
  client/reader/fediverse/author-profile-panel.tsx
  client/reader/fediverse/author-profile-view.tsx
  client/reader/fediverse/controller.tsx
  client/reader/fediverse/error-projection.ts
  client/reader/fediverse/fediverse-account-view.tsx
  client/reader/fediverse/fediverse-landing-view.tsx
  client/reader/fediverse/fediverse-navigation.tsx
  client/reader/fediverse/followers-view.tsx
  client/reader/fediverse/following-view.tsx
  client/reader/fediverse/helper.ts
  client/reader/fediverse/index.tsx
  client/reader/fediverse/profile-errors.ts
  client/reader/fediverse/profile-panel.tsx
  client/reader/fediverse/route.ts
  client/reader/fediverse/style.scss
  client/reader/fediverse/test/fediverse-landing-view.test.tsx
  client/reader/fediverse/test/fediverse-navigation.test.tsx
  client/reader/fediverse/test/followers-view.test.tsx
  client/reader/fediverse/test/profile-errors.test.ts
  client/reader/fediverse/timeline-panel.tsx
  client/reader/sidebar/index.jsx
  client/reader/sidebar/reader-sidebar-fediverse/index.tsx
  client/reader/social/index.ts
  client/reader/social/mappers/fediverse.ts
  client/reader/social/test/mappers-fediverse.test.ts
  client/sections.js
  packages/api-core/src/index.ts
  packages/api-core/src/reader-fediverse/__tests__/errors.test.ts
  packages/api-core/src/reader-fediverse/__tests__/query-keys.test.ts
  packages/api-core/src/reader-fediverse/errors.ts
  packages/api-core/src/reader-fediverse/fetchers.ts
  packages/api-core/src/reader-fediverse/index.ts
  packages/api-core/src/reader-fediverse/query-keys.ts
  packages/api-core/src/reader-fediverse/types.ts
  packages/api-queries/src/__tests__/reader-fediverse.test.tsx
  packages/api-queries/src/index.ts
  packages/api-queries/src/reader-fediverse.ts
Owners: @Automattic/loop

Reader Fediverse: defensively optional-chain data.connections in the landing view (#110646)
  client/reader/fediverse/fediverse-landing-view.tsx
Owners: @Automattic/loop

Reader onboarding rsm - use email verification banner on interests step (#110649)
  client/me/email-verification-banner/style.scss
  client/reader/onboarding-rsm/get-reload-step.ts
  client/reader/onboarding-rsm/index.tsx
  client/reader/onboarding-rsm/interests-modal/index.tsx
  client/reader/onboarding-rsm/interests-modal/style.scss
  client/reader/onboarding-rsm/interests-modal/test/index.test.tsx
  client/reader/onboarding-rsm/interests-modal/verificationNudge.tsx
  client/reader/onboarding-rsm/subscribe-modal/style.scss
  client/reader/onboarding-rsm/subscribe-modal/test/index.test.tsx
  client/reader/onboarding-rsm/subscribe-modal/verificationNudge.tsx
  client/reader/onboarding-rsm/test/get-reload-step.test.ts
  client/reader/onboarding-rsm/test/verificationNudge.test.tsx
  client/reader/onboarding-rsm/verificationNudge.tsx
Owners: @Automattic/loop

Pass email variant through cancel API for refund email A/B test (#110651)
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/me/purchases/cancel-purchase/index.tsx
  packages/api-core/src/upgrades/types.ts
Owners: @Automattic/lego

E2E: wait for checkout card fields before filling (#110654)
  packages/calypso-e2e/src/lib/pages/cart-checkout-page.ts
Owners: none

E2E: harden launch site domain escape hatch (#110655)
  packages/calypso-e2e/src/lib/components/domain-search-component.ts
  packages/calypso-e2e/src/lib/pages/plans-page.ts
Owners: none

Renewal pricing: add new NON-EN/USD experiment assignment (#110631)
  client/my-sites/plans-features-main/hooks/test/use-renewal-price-experiment.ts
  client/my-sites/plans-features-main/hooks/use-renewal-price-experiment.ts
Owners: none

E2E: restore release test readiness (#110656)
  packages/calypso-e2e/src/lib/components/domain-search-component.ts
  packages/calypso-e2e/src/lib/pages/cart-checkout-page.ts
Owners: none

Signup: clarify account creation error and add support link (#110640)
  client/blocks/signup-form/passwordless.jsx
  client/blocks/signup-form/test/passwordless.jsx
Owners: none

ExPlat SDK: add hash + bucket primitives (#110391)
  packages/explat-client/README.md
  packages/explat-client/THIRD_PARTY_NOTICES.md
  packages/explat-client/src/index.ts
  packages/explat-client/src/sdk/bucket.ts
  packages/explat-client/src/sdk/condition.ts
  packages/explat-client/src/sdk/evaluator.ts
  packages/explat-client/src/sdk/hash.ts
  packages/explat-client/src/sdk/index.ts
  packages/explat-client/src/sdk/test/bucket.ts
  packages/explat-client/src/sdk/test/cases.json
  packages/explat-client/src/sdk/test/condition.ts
  packages/explat-client/src/sdk/test/cross-runtime-vectors.ts
  packages/explat-client/src/sdk/test/evaluator.ts
  packages/explat-client/src/sdk/test/hash.ts
  packages/explat-client/src/sdk/types.ts
Owners: @Automattic/experimentation-platform

Onboarding domain search: surface "Use a domain I own" in top bar on mobile (#110624)
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/style.scss
Owners: none

Help Center: open inline chat images in a new tab (#110652)
  packages/odie-client/src/components/message/custom-a-link.tsx
Owners: none

Dashboard Domains: gate domain management routes while registration is pending (#110587)
  client/dashboard/app/router/domains.ts
  client/dashboard/domains/domain-connection-setup/test/domain-connection-verification.test.tsx
  client/dashboard/utils/domain-permissions.ts
  packages/api-core/src/domain/types.ts
Owners: @Automattic/lego

Reader Mastodon: add Notifications tab (#110644)
  client/reader/mastodon/helper.ts
  client/reader/mastodon/mastodon-account-view.tsx
  client/reader/mastodon/mastodon-navigation.tsx
  client/reader/mastodon/notifications-panel.tsx
  client/reader/mastodon/test/mastodon-account-view.test.tsx
  client/reader/mastodon/test/mastodon-navigation.test.tsx
  client/reader/mastodon/test/notifications-panel.test.tsx
  client/reader/social/components/notifications-list/index.tsx
  client/reader/social/components/notifications-list/notification-item.tsx
  packages/api-core/src/reader-mastodon/__tests__/fetchers.test.ts
  packages/api-core/src/reader-mastodon/__tests__/query-keys.test.ts
  packages/api-core/src/reader-mastodon/__tests__/types.test.ts
  packages/api-core/src/reader-mastodon/fetchers.ts
  packages/api-core/src/reader-mastodon/query-keys.ts
  packages/api-core/src/reader-mastodon/types.ts
  packages/api-queries/src/__tests__/reader-mastodon.test.tsx
  packages/api-queries/src/reader-mastodon.ts
Owners: @Automattic/loop

A4A Migrations: announce incentive end for agencies outside the new Pressable promo (#110650)
  client/a8c-for-agencies/sections/migrations/commissions-list/commission-columns.tsx
  client/a8c-for-agencies/sections/migrations/commissions-list/index.tsx
  client/a8c-for-agencies/sections/migrations/commissions-list/mobile-view.tsx
  client/a8c-for-agencies/sections/migrations/commissions-list/test/commission-columns.test.tsx
  client/a8c-for-agencies/sections/migrations/primary/migrations-commissions/incentive-ended-banner.tsx
  client/a8c-for-agencies/sections/migrations/primary/migrations-commissions/index.tsx
Owners: none

Reader Fediverse: slice 2 — standalone publish composer (#110637)
  client/reader/fediverse/composer-config.tsx
  client/reader/fediverse/composer-controls.tsx
  client/reader/fediverse/fediverse-account-view.tsx
  client/reader/fediverse/test/timeline-panel.test.tsx
  client/reader/fediverse/test/use-fediverse-composer-extras.test.tsx
  client/reader/fediverse/timeline-panel.tsx
  client/reader/fediverse/use-fediverse-composer-extras.tsx
  client/reader/fediverse/use-fediverse-composer-limit.ts
  client/reader/social/composer/composer-config.tsx
  client/reader/social/composer/composer-footer.tsx
  client/reader/social/composer/composer-modal.tsx
  client/reader/social/composer/composer-overflow-handoff.tsx
  client/reader/social/composer/composer-provider.tsx
  client/reader/social/composer/grapheme-count.ts
  client/reader/social/composer/index.ts
  client/reader/social/site-handoff/index.ts
  packages/api-core/src/reader-fediverse/__tests__/errors.test.ts
  packages/api-core/src/reader-fediverse/__tests__/fetchers.test.ts
  packages/api-core/src/reader-fediverse/constants.ts
  packages/api-core/src/reader-fediverse/errors.ts
  packages/api-core/src/reader-fediverse/fetchers.ts
  packages/api-core/src/reader-fediverse/index.ts
  packages/api-core/src/reader-fediverse/types.ts
  packages/api-queries/src/__tests__/reader-fediverse.test.tsx
  packages/api-queries/src/reader-fediverse.ts
Owners: @Automattic/loop

Image Studio: collapse video styles to a single Cinematic preset (#110665)
  packages/image-studio/src/assets/video/styles/cinematic.webp
  packages/image-studio/src/assets/video/styles/highlights-soon.webp
  packages/image-studio/src/assets/video/styles/informative.webp
  packages/image-studio/src/assets/video/styles/promotional.webp
  packages/image-studio/src/components/index.tsx
  packages/image-studio/src/components/notice/index.tsx
  packages/image-studio/src/components/notice/style.scss
  packages/image-studio/src/components/style-picker/index.test.tsx
  packages/image-studio/src/components/style-picker/index.tsx
  packages/image-studio/src/components/style.scss
  packages/image-studio/src/store/index.ts
  packages/image-studio/src/stores/video-studio/index.test.ts
  packages/image-studio/src/stores/video-studio/index.ts
  packages/image-studio/src/utils/client-context.test.ts
Owners: none

Image Studio: Confirmation dialog before sharing Reel to Instagram (#110634)
  packages/image-studio/src/components/generate-layout/share-reel-action/index.test.tsx
  packages/image-studio/src/components/generate-layout/share-reel-action/index.tsx
  packages/image-studio/src/components/reel-share-confirmation-dialog/index.test.tsx
  packages/image-studio/src/components/reel-share-confirmation-dialog/index.tsx
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.test.tsx
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.tsx
  packages/image-studio/src/hooks/use-reel-share/index.test.ts
  packages/image-studio/src/hooks/use-reel-share/index.ts
  packages/image-studio/src/utils/tracking.test.ts
  packages/image-studio/src/utils/tracking.ts
Owners: none

Reader: hide redundant "Follows you" badge on followers lists (#110670)
  client/reader/atmosphere/followers-view.tsx
  client/reader/fediverse/followers-view.tsx
  client/reader/mastodon/followers-view.tsx
  client/reader/social/AGENTS.md
  client/reader/social/account-row.tsx
  client/reader/social/test/account-row.test.tsx
Owners: @Automattic/loop

Reader Mastodon: visibility + content warning composer controls (CM-710) (#110667)
  client/reader/fediverse/composer-controls.tsx
  client/reader/fediverse/use-fediverse-composer-extras.tsx
  client/reader/mastodon/composer-config.tsx
  client/reader/mastodon/composer-controls.tsx
  client/reader/mastodon/test/use-mastodon-composer-extras.test.tsx
  client/reader/mastodon/use-mastodon-composer-extras.tsx
  client/reader/social/composer/index.ts
  client/reader/social/composer/use-visibility-cw-state.ts
  client/reader/social/composer/visibility-cw-controls.tsx
  packages/api-core/src/reader-mastodon/__tests__/fetchers.test.ts
  packages/api-core/src/reader-mastodon/fetchers.ts
  packages/api-core/src/reader-mastodon/types.ts
Owners: @Automattic/loop

BLIK: treat payment-confirmed as in-progress while polling (#110668)
  client/my-sites/checkout/src/lib/blik-processor.ts
  client/my-sites/checkout/src/test/blik-processor.ts
Owners: @Automattic/shilling

Reader: add activity streak display on achievements page (RSM-396) (#110666)
  client/data/reader/use-achievements-query.ts
  client/reader/user-profile/views/achievements/activity-streak-pill/index.tsx
  client/reader/user-profile/views/achievements/activity-streak-pill/style.scss
  client/reader/user-profile/views/achievements/activity-streak-pill/test/index.test.tsx
  client/reader/user-profile/views/achievements/index.tsx
  client/reader/user-profile/views/achievements/style.scss
  client/reader/user-profile/views/achievements/test/index.test.tsx
  packages/api-core/src/read-achievements/types.ts
Owners: @Automattic/loop

Reader: Fix prev/next x-post navigation (#110669)
  client/blocks/reader-full-post/index.jsx
  client/blocks/reader-full-post/post-navigation.tsx
  client/reader/stream/index.jsx
  client/reader/stream/test/fixtures/following-stream-response.json
  client/reader/stream/test/use-stream-post-key-selection.test.tsx
  client/reader/stream/use-stream-post-key-selection.ts
  client/reader/stream/use-stream-posts.ts
  packages/api-queries/src/read-streams.ts
Owners: @Automattic/loop
