Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Agents Manager: merge provider context and markdown exports (#111695)
  packages/agents-manager/src/utils/__tests__/load-external-providers.test.ts
  packages/agents-manager/src/utils/load-external-providers.ts
Owners: none

Enable post-expiry and within-refund-period downgrades (#111803)
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/production.json
Owners: none

Dashboard: gate auto-renew CTA behind domain state (#111840)
  client/dashboard/domains/dataviews/field-expiry.tsx
  client/dashboard/domains/dataviews/test/field-expiry.test.tsx
  client/dashboard/utils/domain.ts
  client/dashboard/utils/test/domain.js
Owners: @Automattic/lego

MSD Plans: restore vertical spacing between features in plan-upgrade flow (#111877)
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/style.scss
Owners: none

Populate tickets fields when escalating to ZD (#111878)
  packages/agents-manager/src/components/escalation-button/index.tsx
  packages/agents-manager/src/utils/convert-tool-messages-to-components.ts
  packages/zendesk-client/src/constants.ts
  packages/zendesk-client/src/use-managed-zendesk-chat.tsx
Owners: none

Update the copy on the checkout page (#111882)
  client/my-sites/checkout/src/components/checkout-pay-button-footer.tsx
Owners: @Automattic/shilling

Dashboard add payment method: Reduce Breadcrumbs to 3 levels (#111880)
  client/dashboard/me/billing-purchases/add-payment-method.tsx
Owners: @Automattic/lego

desktop: Bump version to 8.2.2 (#111881)
  desktop/package.json
Owners: none

composite-checkout: Render single payment method without radio button (#111884)
  client/dashboard/me/billing-purchases/style.scss
  packages/composite-checkout/src/components/checkout-payment-methods.tsx
  packages/composite-checkout/src/components/radio-button.tsx
  packages/composite-checkout/test/checkout.tsx
Owners: @Automattic/lego, @Automattic/shilling

Dashboard: add payment method: require country to be set (#111887)
  client/dashboard/components/tax-location-form.tsx
  client/dashboard/me/billing-purchases/payment-methods/credit-card-payment-method.tsx
Owners: @Automattic/lego

Agents Manager: Simplify agentsManagerData reading (#111853)
  packages/agents-manager/README.md
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/global.d.ts
  packages/agents-manager/src/hooks/use-unified-ai-chat.ts
  packages/agents-manager/src/index.ts
  packages/agents-manager/src/utils/__tests__/get-agents-manager-inline-data.test.ts
  packages/agents-manager/src/utils/get-agents-manager-inline-data.ts
  packages/agents-manager/src/utils/is-plugin-compass-agent.ts
  packages/agents-manager/src/utils/is-reader-chat-agent.ts
  packages/agents-manager/src/utils/load-external-providers.ts
Owners: none

Domains: Prevent enabling DNSSEC when NS records don't point to WordPress.com (#111886)
  client/dashboard/domains/domain-security/dnssec.tsx
  client/dashboard/domains/domain-security/index.tsx
  client/dashboard/domains/domain-security/notice.tsx
  client/dashboard/domains/domain-security/test/dnssec.test.tsx
  client/dashboard/domains/domain-security/test/notice.test.tsx
Owners: @Automattic/lego

Replace the translatable string (#111850)
  client/my-sites/site-settings/seo-settings/form.jsx
Owners: none

Dashboard: Make phone number country code field searchable (#111891)
  client/dashboard/components/phone-number-input/index.tsx
  client/dashboard/components/phone-number-input/style.scss
  client/dashboard/components/phone-number-input/test/index.test.tsx
Owners: @Automattic/lego

Lodash: replace isNumber(), findKey() and findIndex() with native equivalents (#111868)
  client/blocks/user-mentions/add.jsx
  client/components/forms/sortable-list/index.jsx
  client/components/jetpack/card/jetpack-product-card/display-price/paid.tsx
  client/components/product-card/price-group.jsx
  client/lib/post-normalizer/utils/is-featured-image-in-content.js
  client/my-sites/media-library/list.jsx
  client/my-sites/migrate/components/import-type-choice/index.jsx
  client/my-sites/plans/jetpack-plans/product-lightbox/payment-plan.tsx
  client/my-sites/plans/jetpack-plans/use-item-price.ts
  client/my-sites/store/app/store-stats/store-stats-chart/index.jsx
  client/my-sites/store/app/store-stats/store-stats-widget-list/index.jsx
  client/state/domains/dns/reducer.js
  client/state/domains/dns/test/reducer.js
  client/state/notification-settings/toggle-state.js
  client/state/plugins/installed/reducer.js
  client/state/posts/reducer.js
  packages/calypso-eslint-overrides/lodash-restricted-imports.js
  packages/components/src/product-icon/index.tsx
  packages/data-stores/src/subscriber/reducers.ts
Owners: @Automattic/nomado

Fix masterbar site badge alignment (#111863)
  client/layout/masterbar/style.scss
Owners: none

Agents Manager: resolve provider abilities live in multi-provider merge (#111832)
  packages/agents-manager/src/utils/__tests__/load-external-providers.test.ts
  packages/agents-manager/src/utils/load-external-providers.ts
Owners: none

Lodash: replace clone(), property(), range() and random() (#111897)
  client/blocks/term-tree-selector/terms.jsx
  client/components/infinite-list/test/scroll-helper.js
  client/components/line-chart/docs/example.jsx
  client/lib/analytics/ad-tracking/criteo.js
  client/lib/form-state/index.js
  client/lib/query-manager/index.js
  client/lib/query-manager/paginated/index.js
  client/my-sites/media-library/list.jsx
  client/my-sites/plugins/jetpack-plugins-setup/index.jsx
  client/reader/data/stream/build-query-params.js
  client/signup/main.jsx
  client/state/automated-transfer/eligibility/reducer.js
  client/state/data-layer/wpcom-http/pipeline/retry-on-failure/delays.js
  client/state/selectors/test/get-past-billing-transaction.js
  client/state/themes/actions/request-themes.js
  packages/calypso-eslint-overrides/lodash-restricted-imports.js
  packages/js-utils/src/index.ts
  packages/js-utils/src/random.ts
  packages/js-utils/src/range.ts
  packages/js-utils/src/test/random.ts
  packages/js-utils/src/test/range.ts
  packages/js-utils/src/test/to-finite.ts
  packages/js-utils/src/to-finite.ts
Owners: @Automattic/loop

Emails: use sentence case for Add email forwarder title (#111898)
  client/dashboard/app/router/emails.tsx
Owners: @Automattic/lego

Fix backup actions popover (#111903)
  client/components/forms/form-button/index.jsx
  client/components/forms/form-button/test/index.jsx
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/src/popover/index.jsx
Owners: none

Notifications: add achievements notifications toggle to /me/notifications (#111894)
  client/me/notification-settings/achievements-notification-settings/index.tsx
  client/me/notification-settings/achievements-notification-settings/style.scss
  client/me/notification-settings/achievements-notification-settings/test/index.test.tsx
  client/me/notification-settings/main.jsx
Owners: none

Lodash: replace truncate(), partition(), maxBy() and minBy() (#111901)
  client/blocks/conversations/list.jsx
  client/blocks/importer/components/uploading-pane/uploading-pane.tsx
  client/blocks/reader-post-card/index.jsx
  client/components/pie-chart/legend-placeholder.jsx
  client/lib/path-to-section/index.js
  client/lib/post-normalizer/rule-pick-primary-tag.js
  client/me/purchases/manage-purchase/notices.tsx
  client/my-sites/importer/newsletter/content/uploading-pane.jsx
  client/reader/utils.ts
  client/state/comments/selectors/get-post-comments-tree.js
  client/state/posts/actions/delete-post.js
  client/state/posts/actions/restore-post.js
  client/state/selectors/get-sites.js
  client/state/selectors/get-undeleted-sites.js
  packages/calypso-eslint-overrides/lodash-restricted-imports.js
  packages/components/src/suggestions/index.tsx
  packages/js-utils/src/base-extremum.ts
  packages/js-utils/src/index.ts
  packages/js-utils/src/is-symbol.ts
  packages/js-utils/src/max-by.ts
  packages/js-utils/src/min-by.ts
  packages/js-utils/src/partition.ts
  packages/js-utils/src/test/max-by.ts
  packages/js-utils/src/test/min-by.ts
  packages/js-utils/src/test/partition.ts
  packages/js-utils/src/test/truncate.ts
  packages/js-utils/src/to-finite.ts
  packages/js-utils/src/truncate.ts
Owners: @Automattic/loop, @Automattic/shilling

Refactor: Move acheivements tab visibility to settings tab (#111757)
  client/reader/components/achievements/test/use-achievements-visibility.test.ts
  client/reader/components/achievements/use-achievements-visibility.ts
  client/reader/data/user-profile/test/use-profile-tab-visibility.test.ts
  client/reader/data/user-profile/use-profile-tab-visibility.ts
  client/reader/data/user-profile/use-set-profile-tab-visibility.ts
  client/reader/user-profile/components/private-tab-notice/index.tsx
  client/reader/user-profile/components/private-tab-notice/style.scss
  client/reader/user-profile/components/private-tab-notice/test/index.test.tsx
  client/reader/user-profile/components/user-profile-header/index.tsx
  client/reader/user-profile/components/user-profile-header/style.scss
  client/reader/user-profile/views/achievements/achievements-privacy-notice/index.tsx
  client/reader/user-profile/views/achievements/achievements-privacy-notice/style.scss
  client/reader/user-profile/views/achievements/achievements-privacy-notice/test/index.test.tsx
  client/reader/user-profile/views/achievements/achievements-settings/index.tsx
  client/reader/user-profile/views/achievements/index.tsx
  client/reader/user-profile/views/achievements/test/index.test.tsx
  client/reader/user-profile/views/posts.tsx
  client/reader/user-profile/views/settings/index.tsx
  client/reader/user-profile/views/settings/profile-visibility-card.tsx
  client/reader/user-profile/views/settings/test/index.test.tsx
  client/reader/user-profile/views/settings/test/profile-visibility-card.test.tsx
  client/reader/user-profile/views/sites/index.tsx
  client/reader/user-profile/views/sites/test/sites.test.tsx
  client/reader/user-profile/views/test/posts.test.tsx
Owners: @Automattic/loop

My Home: replace Built by WordPress.com logo on DIFM card (#111904)
  client/assets/images/marketplace/built-by-wp-hori-blue.svg
  client/my-sites/customer-home/cards/tasks/use-built-by/index.jsx
  client/my-sites/customer-home/cards/tasks/use-built-by/style.scss
Owners: none

Reader: Migrate seen posts from Redux to TS Query (#111811)
  client/blocks/reader-feed-header/follow.tsx
  client/blocks/reader-full-post/index.jsx
  client/blocks/reader-post-options-menu/reader-post-ellipsis-menu.jsx
  client/reader/a8c/main.jsx
  client/reader/data/post/middleware/index.ts
  client/reader/data/post/middleware/test/index.test.ts
  client/reader/data/seen-posts/index.ts
  client/reader/data/seen-posts/use-mutations.ts
  client/reader/data/seen-posts/with-seen-posts-mutations.tsx
  client/reader/p2/main.jsx
  client/reader/sidebar/reader-sidebar-lists/index.jsx
  client/reader/sidebar/reader-sidebar-tags/index.jsx
  client/state/data-layer/wpcom/seen-posts/feed-cache.js
  client/state/data-layer/wpcom/seen-posts/seen/all/new/index.js
  client/state/data-layer/wpcom/seen-posts/seen/all/new/test/index.js
  client/state/data-layer/wpcom/seen-posts/seen/blog/delete/index.js
  client/state/data-layer/wpcom/seen-posts/seen/blog/new/index.js
  client/state/data-layer/wpcom/seen-posts/seen/delete/index.js
  client/state/data-layer/wpcom/seen-posts/seen/delete/test/index.js
  client/state/data-layer/wpcom/seen-posts/seen/new/index.js
  client/state/data-layer/wpcom/seen-posts/seen/new/test/index.js
  client/state/reader/action-types.ts
  client/state/reader/seen-posts/actions.js
  client/state/reader/seen-posts/constants.js
  packages/api-core/src/index.ts
  packages/api-core/src/read-seen-posts/index.ts
  packages/api-core/src/read-seen-posts/mutators.ts
  packages/api-core/src/read-seen-posts/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/read-seen-posts.ts
Owners: @Automattic/loop

Calypso E2E: fix test-account/site cleanup harness gaps (TESTOPS-124) (#111844)
  .teamcity/_self/CalypsoE2ETestsBuildTemplate.kt
  packages/calypso-e2e/src/index.ts
  packages/calypso-e2e/src/rest-api-client.ts
  packages/calypso-e2e/src/teardown-markers.ts
  packages/calypso-e2e/src/test/rest-api-client.deleteSite.test.ts
  packages/calypso-e2e/src/test/teardown-markers.test.ts
  packages/eslint-plugin-wpcalypso/lib/rules/e2e-require-account-teardown.js
  packages/eslint-plugin-wpcalypso/lib/rules/index.js
  packages/eslint-plugin-wpcalypso/lib/rules/test/e2e-require-account-teardown.js
  test/e2e/.eslintrc.js
  test/e2e/specs/shared/api-close-account.ts
  test/e2e/specs/users/invite__new-user.spec.ts
Owners: none

Reuse existing escalation chats (#111893)
  packages/agents-manager/src/components/__tests__/escalation-button.test.tsx
  packages/agents-manager/src/components/escalation-button/index.tsx
  packages/agents-manager/src/components/escalation-button/style.scss
  packages/agents-manager/src/utils/__tests__/convert-tool-messages-to-components.test.ts
Owners: none

Reader Spaces: wire the posts feed to the space:<id> stream endpoint (#111883)
  client/reader/AGENTS.md
  client/reader/data/stream/build-query-params.js
  client/reader/data/stream/test/build-query-params.test.js
  client/reader/sidebar/spaces/menu-item.tsx
  client/reader/sidebar/spaces/test/menu-item.test.tsx
  client/reader/spaces/README.md
  client/reader/spaces/feed/index.tsx
  client/reader/spaces/feed/test/index.test.tsx
  packages/api-core/src/read-streams/fetchers.ts
  packages/api-queries/src/__tests__/read-streams.test.tsx
  packages/api-queries/src/read-streams.ts
Owners: @Automattic/loop

Global Nav 2026: point Calypso at the live experiment (#111879)
  client/layout/use-nav-2026-props.ts
Owners: none

Fix Zendesk chat transfer link (#111913)
  packages/zendesk-client/src/use-managed-zendesk-chat.tsx
Owners: none

Global Nav 2026: drop the "New" badge from AI website builder (#111916)
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/taxonomy.ts
Owners: none

Calypso E2E: navigate to post edit URL instead of clicking row title in PostsPage (#111918)
  packages/calypso-e2e/src/lib/pages/posts-page.ts
Owners: none

Global Nav 2026: add reason to mobile menu open Tracks events (#111919)
  packages/wpcom-template-parts/src/universal-header-navigation/index.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/mobile-menu.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/test/tracks.ts
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/tracks.ts
Owners: none

AI Sidebar: read jetpackAiSidebar contract; lean gate and reader (#111814)
  apps/agents-manager/__tests__/agents-manager-gutenberg.test.js
  apps/agents-manager/__tests__/jetpack-ai-sidebar-preview-gate.test.js
  apps/agents-manager/jetpack-ai-sidebar-preview-gate.js
  packages/jetpack-ai-sidebar/src/global.d.ts
  packages/jetpack-ai-sidebar/src/index.test.ts
  packages/jetpack-ai-sidebar/src/index.ts
Owners: none

add reader onboarding dismissal option (#111888)
  client/reader/onboarding-rsm/constants.tsx
  client/reader/onboarding-rsm/index.tsx
  client/reader/onboarding-rsm/style.scss
  client/reader/onboarding-rsm/test/index.test.tsx
Owners: @Automattic/loop

add big_sky__open_help_center to DISPLAYABLE_TOOL_MESSAGE_TOOL_IDS (#111896)
  packages/agents-manager/src/utils/tool-message-utils.ts
Owners: none

Checkout: align "Secure checkout" baseline with WordPress.com wordmark (#111667)
  client/layout/masterbar/style.scss
Owners: none

Run Build Calypso Apps only on trunk (#111928)
  .teamcity/_self/projects/WPComPlugins.kt
Owners: none

Write On: create sites as Coming Soon (private by default) (#111892)
  client/landing/stepper/declarative-flow/internals/steps-repository/create-site/index.tsx
  packages/onboarding/src/utils/flows.ts
  packages/onboarding/src/utils/test/flows.ts
Owners: none

add key to reader onboarding discover site steam preview subscribe button (#111933)
  client/reader/onboarding-rsm/subscribe-modal/index.tsx
  client/reader/onboarding-rsm/subscribe-modal/test/index.test.tsx
Owners: @Automattic/loop

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
