Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Domains: add breadcrumbs to the Transfer page (#111688)
  client/dashboard/domains/domain-transfer/index.tsx
Owners: @Automattic/lego

MSD: percentage-based forced rollout behind dashboard/enable-percentage-rollout (#111604)
  client/dashboard/app/router/me.tsx
  client/dashboard/app/router/root.tsx
  client/dashboard/me/preferences-new-hosting-dashboard/index.tsx
  client/dashboard/sites/welcome-modal/opt-in-welcome-modal.tsx
  client/dashboard/utils/hosting-dashboard-enrollment.ts
  client/dashboard/utils/test/hosting-dashboard-enrollment.ts
  client/state/dashboard/selectors/has-dashboard-forced-opt-in.ts
  client/state/dashboard/selectors/has-dashboard-opt-in.ts
  client/state/dashboard/selectors/is-dashboard-toggle-enabled.ts
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: @Automattic/lego

Domains: prevent default DNS record warnings from flashing while loading (#111687)
  client/dashboard/domains/domain-dns/index.tsx
  client/dashboard/domains/domain-dns/test/index.test.tsx
Owners: @Automattic/lego

Desktop: Build unsigned Windows Store appx on Buildkite (#111214)
  .buildkite/commands/build-desktop-windows.ps1
  .buildkite/pipeline.yml
Owners: none

Image Studio: fix post editor crash when the Jetpack Social store is unregistered (#111706)
  packages/image-studio/src/hooks/use-reel-share/index.test.ts
  packages/image-studio/src/hooks/use-reel-share/index.ts
Owners: none

Notifications: enable redesign in the desktop app (#111707)
  client/notifications/index.jsx
Owners: none

Remove lodash keyBy and shuffle in favor of @automattic/js-utils (#111708)
  client/.eslintrc.js
  client/blocks/conversation-caterpillar/docs/fixtures.js
  client/blocks/conversations/list.jsx
  client/blocks/user-avatar/user-hovercard/recommended-blogs/index.tsx
  client/components/happiness-engineers-tray/index.tsx
  client/components/marketing-survey/cancel-auto-renewal-form/index.jsx
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/components/multiple-choice-question/index.jsx
  client/state/comments/selectors/get-hidden-comments-for-post.js
  client/state/comments/selectors/get-post-comments-tree.js
  client/state/post-types/reducer.js
  client/state/sharing/keyring/reducer.js
  client/state/sharing/publicize/reducer.js
  client/state/signup/progress/reducer.js
Owners: none

Remove lodash uniqBy in favor of @automattic/js-utils (#111709)
  client/.eslintrc.js
  client/blocks/conversation-caterpillar/index.jsx
  client/components/gravatar-caterpillar/index.jsx
  client/my-sites/plugins/notices.jsx
  client/my-sites/plugins/plugin-item/plugin-item.jsx
  client/reader/stream/x-post.jsx
  packages/js-utils/src/index.ts
  packages/js-utils/src/test/uniq-by.ts
  packages/js-utils/src/uniq-by.ts
Owners: @Automattic/loop

v1 solution (#111524)
  client/reader/components/quick-post/lazy.tsx
  client/reader/components/quick-post/test/lazy.test.tsx
  client/reader/following/main.tsx
  client/reader/on-this-day/main.tsx
Owners: @Automattic/loop

Checkout: success toast for plan + domain purchases (#110926)
  client/my-sites/checkout/checkout-thank-you/pending/index.tsx
  client/my-sites/checkout/checkout-thank-you/purchase-notice-constants.ts
  client/my-sites/customer-home/main.tsx
  packages/api-core/src/me-billing-history/types.ts
Owners: none

Handle logged out users in Calypso home (#111311)
  client/root.js
Owners: none

Site Launch: ship semi-gated flow as default after gating experiment (#111638)
  client/dashboard/.eslintrc.js
  client/dashboard/app/interim-omnibar/test/omnibar-launch-button.test.tsx
  client/dashboard/sites/site-launch-button/use-site-launch.tsx
  client/hosting/performance/site-performance.tsx
  client/layout/masterbar/masterbar-launch-button.tsx
  client/lib/use-site-launch-gating-variant.ts
  client/my-sites/customer-home/cards/launchpad/pre-launch.tsx
Owners: @Automattic/lego

Remove lodash compact and times (#111711)
  client/.eslintrc.js
  client/blocks/conversation-caterpillar/index.jsx
  client/blocks/conversations/docs/example.jsx
  client/components/checklist/checklist.jsx
  client/components/rating/index.jsx
  client/components/related-posts/index.jsx
  client/components/seo-preview-pane/index.jsx
  client/components/theme-collection/theme-collection-placeholder.tsx
  client/components/themes-list/index.jsx
  client/components/title-format-editor/parser.js
  client/components/wizard/index.jsx
  client/lib/checkout/validation.js
  client/lib/highlight/index.js
  client/lib/post-normalizer/rule-content-detect-media.js
  client/me/connected-applications/index.jsx
  client/me/site-blocks/main.jsx
  client/my-sites/earn/home.tsx
  client/my-sites/plugins/plugins-browser-list/index.jsx
  client/my-sites/themes/theme-showcase.jsx
  client/my-sites/themes/themes-selection.jsx
  client/post-editor/media-modal/gallery/fields.jsx
  client/reader/search-stream/suggestion-provider.jsx
  client/reader/stream/index.jsx
  client/sites/marketing/connections/services-group.jsx
  packages/js-utils/src/index.ts
  packages/js-utils/src/test/times.ts
  packages/js-utils/src/times.ts
Owners: @Automattic/shilling, @Automattic/loop

A4A Marketplace: load Products first for Pressable owners (#111677)
  client/a8c-for-agencies/components/sidebar-menu/hooks/use-main-menu-items.tsx
  client/a8c-for-agencies/sections/marketplace/controller.tsx
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hooks/use-pressable-ownership-type.ts
  client/a8c-for-agencies/sections/marketplace/lib/get-pressable-ownership-type.ts
  client/a8c-for-agencies/sections/marketplace/lib/test/get-pressable-ownership-type.test.ts
Owners: none

Support Calypso Live links for Dashboard (A4A) (#111713)
  .github/workflows/calypso-live.yml
  .teamcity/_self/projects/WebApp.kt
  client/dashboard/app-a4a/routing.ts
Owners: @Automattic/lego

Apps: React 19 forward-compatible codemod + odyssey-stats size limit (#111698)
  apps/notifications/src/app/note-icon/trophy-gridicon.tsx
  apps/notifications/src/app/note-list/hooks.ts
  apps/notifications/src/shared/pending-approval-badge.tsx
  apps/odyssey-stats/.size-limit.js
  apps/odyssey-stats/AGENTS.md
Owners: none

Client: split forward-compatible React 19 type updates (#111699)
  client/assets/icons/reader/reader-icon.tsx
  client/components/add-new-site/button.tsx
  client/components/add-new-site/index.tsx
  client/components/add-new-site/popover.tsx
  client/components/add-new-site/types.ts
  client/components/chart-uplot/hooks/use-resize.ts
  client/components/layout/column.jsx
  client/components/token-field/index.jsx
  client/hosting/performance/components/MobileHeader.tsx
  client/jetpack-connect/woo-loader.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-instructions/site-preview/hooks/use-site-preview-mshot-image-handler.ts
  client/me/account/account-email-field.tsx
  client/my-sites/plugins/marketplace-ai-experience/prompt-form.tsx
  client/oauth2/components/authorize.tsx
  client/performance-profiler/components/core-web-vitals-display/core-web-vitals-details.tsx
  client/performance-profiler/components/core-web-vitals-display/index.tsx
  client/performance-profiler/components/performance-score/index.tsx
  client/performance-profiler/components/status-section/index.tsx
  client/performance-profiler/controller.tsx
  client/post-editor/media-modal/markup.jsx
Owners: none

Revert limiting escalation for Woo AI (#111684)
  packages/agents-manager/src/components/agent-dock/index.tsx
Owners: none

Cancel survey: add "Plugin or theme conflicts" sub-option under Technical problems (#111064)
  client/components/marketing-survey/cancel-purchase-form/cancellation-reasons.ts
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/cancellation-reasons.tsx
Owners: @Automattic/lego

Checkout: convert lib/checkout/validation to TypeScript and remove dead validation API (#111725)
  client/declarations.d.ts
  client/lib/checkout/README.md
  client/lib/checkout/index.js
  client/lib/checkout/test/validation.js
  client/lib/checkout/validation.js
  client/lib/checkout/validation.ts
Owners: @Automattic/shilling

Scan: fix threat header layout wrapping (#111723)
  client/components/jetpack/scan-threats/index.tsx
  client/components/jetpack/scan-threats/style.scss
Owners: none

Checkout: update saved card submit label (#111346)
  client/my-sites/checkout/src/components/checkout-main-content.tsx
  client/my-sites/checkout/src/components/checkout-submit-button-content.tsx
  client/my-sites/checkout/src/components/wp-checkout-order-summary.tsx
  client/my-sites/checkout/src/hooks/use-create-payment-methods/index.tsx
  client/my-sites/checkout/src/hooks/use-create-payment-methods/use-create-existing-cards.ts
  client/my-sites/checkout/src/test/existing-credit-card.tsx
  packages/composite-checkout/src/components/checkout-steps.tsx
  packages/composite-checkout/test/checkout.tsx
Owners: @Automattic/shilling

Revert "Checkout: update saved card submit label (#111346)" (#111728)
  client/my-sites/checkout/src/components/checkout-main-content.tsx
  client/my-sites/checkout/src/components/checkout-submit-button-content.tsx
  client/my-sites/checkout/src/components/wp-checkout-order-summary.tsx
  client/my-sites/checkout/src/hooks/use-create-payment-methods/index.tsx
  client/my-sites/checkout/src/hooks/use-create-payment-methods/use-create-existing-cards.ts
  client/my-sites/checkout/src/test/existing-credit-card.tsx
  packages/composite-checkout/src/components/checkout-steps.tsx
  packages/composite-checkout/test/checkout.tsx
Owners: @Automattic/shilling

Add lead matching pilot agencies (#111730)
  client/a8c-for-agencies/sections/partner-directory/lib/lead-matching-visibility.ts
Owners: none

Domains: polish domain bundle cart displays (#111697)
  client/my-sites/checkout/src/components/cost-overrides-list.tsx
  client/my-sites/checkout/src/components/test/cost-overrides-list.test.tsx
  packages/api-core/src/domain-suggestions/types.ts
  packages/domain-search/src/components/bundle-card/index.tsx
  packages/domain-search/src/components/bundle-card/test/index.tsx
  packages/domain-search/src/components/cart/test/full-cart.tsx
  packages/domain-search/src/ui/domains-full-cart-items/bundle.tsx
  packages/domain-search/src/ui/domains-full-cart-items/style.scss
  packages/mini-cart/test/mini-cart-line-items.tsx
  packages/wpcom-checkout/src/checkout-line-items.tsx
  packages/wpcom-checkout/test/bundle-line-item.tsx
Owners: @Automattic/shilling

React 19: forward-compatible client/ changes (works on React 18 & 19) (#111727)
  client/blocks/time-mismatch-warning/test/index.jsx
  client/blocks/user-avatar/user-hovercard/primary-blog-card/test/index.test.tsx
  client/components/domains/contact-details-form-fields/test/index.js
  client/components/head/test/favicons.jsx
  client/components/head/test/index.jsx
  client/components/jetpack/daily-backup-status/action-buttons.jsx
  client/components/purchase-detail/test/index.jsx
  client/components/token-field/test/index.jsx
  client/data/promote-post/use-infinite-scroll.ts
  client/landing/subscriptions/components/feed-preview/test/index.test.tsx
  client/lib/react-pass-to-children/test/index.js
  client/my-sites/backup/backup-contents-page/index.tsx
  client/signup/steps/emails/test/index.tsx
Owners: @Automattic/quake

Downgrades: Adjustments for downgrade buttons (#111732)
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/unified-plans-step.tsx
  client/my-sites/plans-features-main/hooks/use-generate-action-callback.ts
  client/my-sites/plans-features-main/hooks/use-generate-action-hook.tsx
  client/my-sites/plans-features-main/index.tsx
Owners: @Automattic/lego

Plans: hide the upgrade-credit notice in the downgrade flow (#111733)
  client/my-sites/plans-features-main/components/plan-notice.tsx
Owners: none

Legacy contact: read contact from wpcom/v2/me/legacy-contacts in dashboard (#111600)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/security-legacy-contact/index.tsx
  packages/api-core/src/index.ts
  packages/api-core/src/me-legacy-contacts/fetchers.ts
  packages/api-core/src/me-legacy-contacts/index.ts
  packages/api-core/src/me-legacy-contacts/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/me-legacy-contacts.ts
Owners: @Automattic/lego

ui: Stepper warns about duplicate step values at registration time (#111567)
  packages/ui/src/stepper/root.tsx
  packages/ui/src/stepper/step.tsx
  packages/ui/src/stepper/test/index.tsx
  packages/ui/src/stepper/test/use-step-registration.ts
  packages/ui/src/stepper/types.ts
  packages/ui/src/stepper/use-step-registration.ts
Owners: none

Remove lodash keys, values, and size in favor of native JS (#111717)
  .eslintrc.js
  client/blocks/comments/post-comment-list.jsx
  client/blocks/conversation-caterpillar/docs/example.jsx
  client/blocks/conversation-caterpillar/index.jsx
  client/blocks/conversations/list.jsx
  client/blocks/image-editor/image-editor-toolbar.jsx
  client/blocks/reader-post-card/tags-list.jsx
  client/blocks/reader-post-options-menu/reader-post-ellipsis-menu.jsx
  client/blocks/signup-form/index.jsx
  client/components/banner/index.jsx
  client/components/domains/registrant-extra-info/ca-form.tsx
  client/components/domains/registrant-extra-info/uk-form.tsx
  client/components/gravatar-caterpillar/index.jsx
  client/components/multiple-choice-question/index.jsx
  client/components/payment-logo/index.jsx
  client/components/share-button/docs/example.jsx
  client/components/sorted-grid/index.jsx
  client/lib/importer/importer-config.tsx
  client/lib/post-normalizer/rule-pick-primary-tag.js
  client/lib/query-manager/index.js
  client/lib/signup/asserts.js
  client/lib/signup/flow-controller.ts
  client/lib/signup/test/flow-controller.js
  client/me/account/main.jsx
  client/me/notification-settings/settings-form/stream.jsx
  client/my-sites/media-library/content.jsx
  client/my-sites/site-settings/wrap-settings-form.jsx
  client/my-sites/stats/sections/posting-activity-section/index.jsx
  client/post-editor/media-modal/index.jsx
  client/reader/search-stream/search-stream-header.jsx
  client/signup/config/test/index.js
  client/signup/validation-fieldset/index.jsx
  client/sites/marketing/sharing/options.jsx
  client/state/plugins/premium/actions.js
  client/state/themes/selectors/get-theme-filter-terms-table.js
  client/state/themes/selectors/get-theme-filter-to-term-table.js
Owners: @Automattic/loop, @Automattic/quake

Dashboard: extract shared A4A route guards (#111705)
  client/dashboard/app/router/agency-client.tsx
  client/dashboard/app/router/agency.tsx
Owners: @Automattic/lego

Lodash: replace groupBy/mapKeys with @automattic/js-utils helpers (#111741)
  client/.eslintrc.js
  client/blocks/signup-form/index.jsx
  client/components/domains/wpcom-domain-search/analytics.ts
  client/components/phone-input/test/phone-number__misc.test.ts
  client/components/seo/meta-title-editor/mappings.js
  client/my-sites/media-library/content.jsx
  client/my-sites/people/invite-people/index.jsx
  client/server/middleware/assets.js
  client/state/comments/selectors/get-post-comments-tree.js
  client/state/comments/test/selectors.js
  client/state/data-layer/wpcom/sites/comments/index.js
  packages/js-utils/src/group-by.ts
  packages/js-utils/src/index.ts
  packages/js-utils/src/map-keys.ts
  packages/js-utils/src/test/group-by.ts
  packages/js-utils/src/test/map-keys.ts
Owners: @Automattic/quake

A4A Marketplace: fix category menu header flicker on load (#111720)
  client/a8c-for-agencies/components/a4a-carousel/index.tsx
Owners: none

A4A: Prevent assigning of the domain for the development site (#111433)
  client/a8c-for-agencies/sections/purchases/licenses/license-preview/use-license-actions.ts
  client/a8c-for-agencies/sections/sites/site-actions/use-site-actions.ts
  client/my-sites/controller.jsx
  client/my-sites/domains/index.js
  client/my-sites/test/a4a-dev-site-redirect.js
  client/state/selectors/is-site-a4a-dev-site.ts
Owners: none

Stepper: add accepts-props to goals step (pilot pattern) (#111083)
  client/landing/stepper/README.md
  client/landing/stepper/declarative-flow/internals/steps-repository/goals/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/goals/select-goals.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/goals/test/select-goals.tsx
Owners: none

PremiumBadge: use useIsomorphicLayoutEffect for SSR safety (#111564)
  packages/components/src/theme-type-badge/premium-badge/index.tsx
Owners: none

Desktop: Build signed Windows NSIS installer on Buildkite (#111455)
  .buildkite/commands/build-desktop-windows-nsis.ps1
  .buildkite/pipeline.yml
Owners: none

Theme Showcase: stabilize useThemeCollection per-theme getters (#111563)
  client/my-sites/themes/collections/use-theme-collection.ts
  client/state/themes/selectors/get-premium-theme-price.js
  client/state/themes/selectors/get-theme-details-url.js
  config/wpcalypso.json
Owners: none

Desktop: Document mac lanes with YARD instead of desc (#111700)
  desktop/fastlane/Fastfile
Owners: none
