Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Desktop: Build unsigned mac .app on Buildkite (#110182)
  .buildkite/commands/build-desktop-mac.sh
  .buildkite/pipeline.yml
Owners: none

Fix stepper devtools require() for Vite (#110567)
  client/landing/stepper/utils/devtools.ts
Owners: @Automattic/dotcom-stepper

Image Studio: thumbs up/down + feedback popover for generated video clips (#110573)
  packages/image-studio/src/components/generate-layout/index.tsx
  packages/image-studio/src/components/generate-layout/share-reel-action/style.scss
  packages/image-studio/src/components/generate-layout/style.scss
  packages/image-studio/src/components/generate-layout/video-feedback-buttons/index.test.tsx
  packages/image-studio/src/components/generate-layout/video-feedback-buttons/index.tsx
  packages/image-studio/src/components/generate-layout/video-feedback-buttons/style.scss
  packages/image-studio/src/components/index.tsx
Owners: none

Image Studio: shimmer share button while video downloads (#110540)
  packages/image-studio/src/components/generate-layout/share-reel-action/index.test.tsx
  packages/image-studio/src/components/generate-layout/share-reel-action/index.tsx
  packages/image-studio/src/hooks/use-generic-share/index.test.ts
  packages/image-studio/src/hooks/use-generic-share/index.ts
Owners: none

WPcom Smart dictation: Correct order of messages (#110577)
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/conversation-item-timestamps.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/transcript.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/use-realtime-session.ts
Owners: none

Dictation: Add better audio vis (#110559)
  packages/wpcom-smart-dictation/src/live-ai-assistant/components/audio-fft-blobs.scss
  packages/wpcom-smart-dictation/src/live-ai-assistant/components/audio-fft-blobs.tsx
  packages/wpcom-smart-dictation/src/live-ai-assistant/index.tsx
  packages/wpcom-smart-dictation/src/live-ai-assistant/style.scss
Owners: none

Reader Mastodon: follow / unfollow button on profile pages (#110531)
  client/reader/mastodon/author-profile-panel.tsx
  client/reader/mastodon/test/author-profile-panel.test.tsx
  client/reader/social/follow-button.tsx
  client/reader/social/test/follow-button.test.tsx
  packages/api-core/src/reader-mastodon/__tests__/fetchers.test.ts
  packages/api-core/src/reader-mastodon/__tests__/types.test.ts
  packages/api-core/src/reader-mastodon/fetchers.ts
  packages/api-core/src/reader-mastodon/types.ts
  packages/api-queries/src/__tests__/reader-mastodon.test.tsx
  packages/api-queries/src/reader-mastodon.ts
Owners: @Automattic/loop

Fix Social E2E tests for SIG menu (#110580)
  test/e2e/specs/jetpack/social__editor-features.ts
Owners: none

Replace cancel-flow snackbar with inline success notice (#110390)
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/me/purchases/cancel-purchase/index.tsx
Owners: @Automattic/lego

Pass email variant through cancel API for refund email A/B test (#110272)
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/me/purchases/cancel-purchase/index.tsx
  packages/api-core/src/upgrades/types.ts
Owners: @Automattic/lego

Revert "Pass email variant through cancel API for refund email A/B test (#110…" (#110581)
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/me/purchases/cancel-purchase/index.tsx
  packages/api-core/src/upgrades/types.ts
Owners: @Automattic/lego

Reader social: anchor section headers on service identity (#110582)
  client/reader/atmosphere/atmosphere-account-view.tsx
  client/reader/atmosphere/atmosphere-connect-view.tsx
  client/reader/atmosphere/style.scss
  client/reader/atmosphere/test/atmosphere-account-view.test.tsx
  client/reader/atmosphere/test/atmosphere-connect-view.test.tsx
  client/reader/mastodon/connect-form.tsx
  client/reader/mastodon/mastodon-account-view.tsx
  client/reader/mastodon/mastodon-connect-view.tsx
  client/reader/mastodon/style.scss
  client/reader/mastodon/test/mastodon-account-view.test.tsx
  client/reader/mastodon/test/mastodon-connect-view.test.tsx
  client/reader/social/utils/normalize-handle.ts
  client/reader/social/utils/test/normalize-handle.test.ts
Owners: @Automattic/loop

Unified Connection: features section on the connector authorize page (4/5) (#110494)
  client/components/connect-screen/features-section/index.tsx
  client/components/connect-screen/features-section/style.scss
  client/components/connect-screen/features-section/test/index.tsx
  client/components/connect-screen/user-card/style.scss
  client/jetpack-connect/authorize.jsx
  client/jetpack-connect/connection-content/copy.ts
  client/jetpack-connect/connection-content/family-features.ts
  client/jetpack-connect/connection-content/index.ts
  client/jetpack-connect/connection-content/plugin-registry.ts
  client/jetpack-connect/connection-content/selectors.ts
  client/jetpack-connect/connection-content/test/copy.test.ts
  client/jetpack-connect/connection-content/test/family-features.test.ts
  client/jetpack-connect/connection-content/test/plugin-registry.test.ts
  client/jetpack-connect/connection-content/test/selectors.test.ts
  client/jetpack-connect/connector-branding-config.jsx
  client/jetpack-connect/disclaimer.jsx
  client/jetpack-connect/feature-cards.tsx
  client/jetpack-connect/style.scss
  client/jetpack-connect/test/authorize.js
  client/my-sites/invites-unified/screens/style.scss
Owners: none

Theme Showcase: SSR modern logged-out cards; stabilize e2e theme-signup tests (#110544)
  client/my-sites/themes/controller.jsx
  client/my-sites/themes/index.node.js
  client/my-sites/themes/sections-modern/recommended-sections.tsx
  client/my-sites/themes/themes-selection.jsx
  packages/calypso-e2e/src/lib/flows/lohp-theme-signup-flow.ts
  packages/calypso-e2e/src/lib/pages/logged-out-themes-page.ts
  test/e2e/specs/onboarding/signup__with-theme-LOHP.spec.ts
  test/e2e/specs/onboarding/signup__with-theme-premium.ts
Owners: none

Revert "Theme Showcase: SSR modern logged-out cards; stabilize e2e theme-sign…" (#110586)
  client/my-sites/themes/controller.jsx
  client/my-sites/themes/index.node.js
  client/my-sites/themes/sections-modern/recommended-sections.tsx
  client/my-sites/themes/themes-selection.jsx
  packages/calypso-e2e/src/lib/flows/lohp-theme-signup-flow.ts
  packages/calypso-e2e/src/lib/pages/logged-out-themes-page.ts
  test/e2e/specs/onboarding/signup__with-theme-LOHP.spec.ts
  test/e2e/specs/onboarding/signup__with-theme-premium.ts
Owners: none

Enable dark mode in production (#110529)
  config/dashboard-production.json
Owners: none

Reader: more welcoming Bluesky and Mastodon connect screens (#110590)
  client/reader/atmosphere/connect-form.tsx
  client/reader/atmosphere/test/atmosphere-connect-view.test.tsx
  client/reader/atmosphere/test/connect-form.test.tsx
  client/reader/mastodon/connect-form.tsx
  client/reader/mastodon/test/connect-form.test.tsx
  client/reader/mastodon/test/mastodon-connect-view.test.tsx
Owners: @Automattic/loop

Reader Social composer: offer to publish on your own site when over char limit (#110584)
  client/reader/atmosphere/composer-config.tsx
  client/reader/mastodon/composer-config.tsx
  client/reader/social/AGENTS.md
  client/reader/social/composer/composer-config.tsx
  client/reader/social/composer/composer-footer.tsx
  client/reader/social/composer/composer-modal.tsx
  client/reader/social/composer/composer-overflow-handoff.scss
  client/reader/social/composer/composer-overflow-handoff.tsx
  client/reader/social/composer/composer-provider.tsx
  client/reader/social/composer/test-config.ts
  client/reader/social/composer/test/composer-footer.test.tsx
  client/reader/social/composer/test/composer-modal.test.tsx
  client/reader/social/composer/test/composer-overflow-handoff.test.tsx
  client/reader/social/composer/test/composer-provider.test.tsx
  client/reader/social/composer/use-save-draft-mutation.ts
Owners: @Automattic/loop

Unified Connection: signup parity, polish, and cleanup (5/5) (#110585)
  client/jetpack-connect/authorize.jsx
  client/jetpack-connect/connection-content/copy.ts
  client/jetpack-connect/connection-content/families.ts
  client/jetpack-connect/connection-content/plugin-registry.ts
  client/jetpack-connect/connection-content/scenarios.ts
  client/jetpack-connect/connection-content/selectors.ts
  client/jetpack-connect/connector-branding-config.jsx
  client/jetpack-connect/signup.jsx
  client/jetpack-connect/style.scss
  client/jetpack-connect/test/__snapshots__/signup.js.snap
  client/jetpack-connect/test/authorize.js
  client/jetpack-connect/test/signup.js
  client/lib/paths/login/index.js
  client/lib/paths/login/test/index.js
  client/login/wp-login/components/one-login-layout.tsx
  client/login/wp-login/hooks/get-header-text.tsx
  client/login/wp-login/index.jsx
Owners: none

Onboarding plans: align heading with the domains step (#110305)
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/unified-plans-step.tsx
  client/my-sites/plans-features-main/components/plans-page-subheader.tsx
  packages/onboarding/src/step-container-v2/wireframes/WideLayout/WideLayout.stories.tsx
  packages/onboarding/src/step-container-v2/wireframes/WideLayout/WideLayout.tsx
Owners: @Automattic/quake

Reader feature flags: graduate reader/social to stage; add reader/fediverse (#110593)
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: none

Reader onboarding rsm - remove previously subscribed blogs from subscriptions modal, update some styles. (#110547)
  client/reader/onboarding-rsm/curated-blogs/society.tsx
  client/reader/onboarding-rsm/interests-modal/index.tsx
  client/reader/onboarding-rsm/interests-modal/style.scss
  client/reader/onboarding-rsm/subscribe-modal/index.tsx
  client/reader/onboarding-rsm/subscribe-modal/selection.ts
  client/reader/onboarding-rsm/subscribe-modal/style.scss
  client/reader/onboarding-rsm/subscribe-modal/test/selection.test.ts
  client/reader/onboarding-rsm/subscribe-modal/test/use-subscribe-recommendations.test.tsx
  client/reader/onboarding-rsm/subscribe-modal/use-subscribe-recommendations.ts
Owners: @Automattic/loop

Dashboard: announce dark mode support (#110592)
  client/dashboard/app-ciab/index.tsx
  client/dashboard/app-dotcom/index.tsx
  client/dashboard/app/context.tsx
  client/dashboard/components/dark-mode-announcement/index.tsx
  client/dashboard/components/dark-mode-announcement/test/index.test.tsx
  client/dashboard/sites/index.tsx
  client/dashboard/sites/overview/index.tsx
  packages/api-core/src/me-preferences/types.ts
  packages/api-queries/src/me-preferences.ts
Owners: @Automattic/lego

Plans: Restore modal-backed free plan CTA (#110598)
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/unified-plans-step.tsx
  client/my-sites/plans-features-main/components/plans-page-subheader.tsx
  client/my-sites/plans-features-main/components/test/plans-page-subheader.tsx
  client/my-sites/plans-features-main/index.tsx
Owners: none

Reader social: link prominent timestamp to source instance (#110599)
  client/reader/social/components/post-card/post-card-timestamp.tsx
  client/reader/social/components/post-card/style.scss
  client/reader/social/components/post-card/test/post-card-timestamp.test.tsx
Owners: @Automattic/loop

E2E: Fix LOHP theme signup selection (#110561)
  packages/calypso-e2e/src/lib/flows/lohp-theme-signup-flow.ts
  packages/calypso-e2e/src/lib/pages/logged-out-home-page.ts
  packages/calypso-e2e/src/lib/pages/logged-out-themes-page.ts
  packages/calypso-e2e/src/lib/pages/themes-detail-page.ts
  packages/calypso-e2e/src/test/lib/pages/logged-out-themes-page.test.ts
  test/e2e/specs/onboarding/signup__with-theme-LOHP.spec.ts
Owners: none

Fix WooCommerce TOTP dashboard assertion (#110605)
  test/e2e/specs/authentication/authentication__totp.spec.ts
Owners: none

Reader social: tighten PostCardCounts (drop QuoteButton, add stats row) (#110601)
  client/reader/AGENTS.md
  client/reader/atmosphere/test/author-profile-panel.test.tsx
  client/reader/atmosphere/test/thread-panel.test.tsx
  client/reader/atmosphere/test/timeline-panel.test.tsx
  client/reader/atmosphere/use-atmosphere-like-action.ts
  client/reader/atmosphere/use-atmosphere-repost-action.ts
  client/reader/mastodon/use-mastodon-like-action.ts
  client/reader/mastodon/use-mastodon-repost-action.ts
  client/reader/social/AGENTS.md
  client/reader/social/components/post-card/analytics-context.tsx
  client/reader/social/components/post-card/index.tsx
  client/reader/social/components/post-card/like-button.scss
  client/reader/social/components/post-card/like-button.tsx
  client/reader/social/components/post-card/like-context.tsx
  client/reader/social/components/post-card/post-card-counts.tsx
  client/reader/social/components/post-card/quote-button.scss
  client/reader/social/components/post-card/quote-button.tsx
  client/reader/social/components/post-card/repost-button.scss
  client/reader/social/components/post-card/repost-button.tsx
  client/reader/social/components/post-card/repost-context.tsx
  client/reader/social/components/post-card/style.scss
  client/reader/social/components/post-card/test/index.test.tsx
  client/reader/social/components/post-card/test/like-button.test.tsx
  client/reader/social/components/post-card/test/post-card-counts.test.tsx
  client/reader/social/components/post-card/test/quote-button.test.tsx
  client/reader/social/components/post-card/test/repost-button.test.tsx
Owners: @Automattic/loop

Dashboard: add multisite guard to backup and scan cards (#109806)
  client/dashboard/sites/overview-backup-card/index.tsx
  client/dashboard/sites/overview-scan-card/index.tsx
  client/dashboard/utils/site-type-feature-support.ts
  packages/api-core/src/site/fetchers.ts
  packages/api-core/src/site/types.ts
Owners: @Automattic/lego

[RSM] Reader Chat: add public frontend bundle (#110226)
  apps/agents-manager/__tests__/reader-chat.test.js
  apps/agents-manager/jest.config.js
  apps/agents-manager/reader-chat-route-stub.js
  apps/agents-manager/reader-chat.js
  apps/agents-manager/webpack.config.js
  bin/did-calypso-app-change.mjs
  packages/agents-manager/src/components/agent-dock/style.scss
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/hooks/__tests__/use-conversation.test.ts
  packages/agents-manager/src/hooks/__tests__/use-empty-view-suggestions.test.ts
  packages/agents-manager/src/hooks/use-conversation.ts
  packages/agents-manager/src/hooks/use-empty-view-suggestions.ts
  packages/agents-manager/src/utils/__tests__/create-agent-config.test.ts
  packages/agents-manager/src/utils/__tests__/load-external-providers.test.ts
  packages/agents-manager/src/utils/__tests__/reader-followup-hook.test.tsx
  packages/agents-manager/src/utils/create-agent-config.ts
  packages/agents-manager/src/utils/load-external-providers.ts
Owners: none

Reader achievements: refresh on visit + UI polish (#110603)
  client/data/reader/use-achievements-query.ts
  client/reader/user-profile/views/achievements/achievements-grid/achievement-card.tsx
  client/reader/user-profile/views/achievements/achievements-grid/secret-achievement-card.tsx
  client/reader/user-profile/views/achievements/achievements-grid/style.scss
  client/reader/user-profile/views/achievements/achievements-grid/test/index.test.tsx
  client/reader/user-profile/views/achievements/index.tsx
Owners: @Automattic/loop

Reader onboarding-rsm - update curated blogs info (#110607)
  client/reader/onboarding-rsm/curated-blogs/creative-arts.tsx
  client/reader/onboarding-rsm/curated-blogs/index.tsx
  client/reader/onboarding-rsm/curated-blogs/industry.tsx
  client/reader/onboarding-rsm/curated-blogs/lifestyle.tsx
  client/reader/onboarding-rsm/curated-blogs/society.tsx
  client/reader/onboarding-rsm/curated-blogs/technology.tsx
  client/reader/onboarding-rsm/interests-modal/get-pack-blogs.ts
  client/reader/onboarding-rsm/interests-modal/index.tsx
  client/reader/onboarding-rsm/interests-modal/test/get-pack-blogs.test.ts
  client/reader/onboarding-rsm/interests-modal/test/topic-group-card.test.tsx
  client/reader/onboarding-rsm/subscribe-modal/index.tsx
  client/reader/onboarding-rsm/subscribe-modal/test/selection.test.ts
  client/reader/onboarding-rsm/subscribe-modal/test/use-subscribe-recommendations.test.tsx
  client/reader/onboarding-rsm/subscribe-modal/use-subscribe-recommendations.ts
Owners: @Automattic/loop

Reader ATmosphere: followers and following list views (frontend) (#110608)
  client/reader/AGENTS.md
  client/reader/atmosphere/author-profile-panel.tsx
  client/reader/atmosphere/controller.tsx
  client/reader/atmosphere/followers-view.tsx
  client/reader/atmosphere/following-view.tsx
  client/reader/atmosphere/index.tsx
  client/reader/atmosphere/profile-errors.ts
  client/reader/atmosphere/route.ts
  client/reader/social/AGENTS.md
  client/reader/social/account-list.scss
  client/reader/social/account-list.tsx
  client/reader/social/account-row.scss
  client/reader/social/account-row.tsx
  client/reader/social/index.ts
  client/reader/social/profile-card.tsx
  client/reader/social/style.scss
  client/reader/social/test/account-list.test.tsx
  client/reader/social/test/account-row.test.tsx
  client/reader/social/test/profile-card.test.tsx
  client/sections.js
  packages/api-core/src/reader-atmosphere/__tests__/fetchers.test.ts
  packages/api-core/src/reader-atmosphere/fetchers.ts
  packages/api-core/src/reader-atmosphere/query-keys.ts
  packages/api-core/src/reader-atmosphere/types.ts
  packages/api-queries/src/__tests__/reader-atmosphere.test.tsx
  packages/api-queries/src/reader-atmosphere.ts
Owners: @Automattic/loop

E2E: Harden Authentication test waits (#110612)
  test/e2e/specs/authentication/authentication__totp.spec.ts
Owners: none

calypso-build: bump sass to 1.77.8 and sass-loader to 14 (#110326)
  apps/blaze-dashboard/webpack.config.js
  apps/odyssey-stats/webpack.config.js
  bin/check-css-byte-equivalence.js
  bin/render-stylesheet.js
  client/webpack.config.js
  package.json
  packages/calypso-build/CHANGELOG.md
  packages/calypso-build/package.json
  packages/calypso-build/webpack/sass.js
  packages/calypso-color-schemes/package.json
  packages/calypso-storybook/package.json
  packages/calypso-storybook/src/index.js
  packages/onboarding/package.json
  yarn.lock
Owners: none

CSS: wrap global reset in @layer to enable @wordpress/ui adoption (#110579)
  client/assets/stylesheets/shared/_reset.scss
  client/assets/stylesheets/style.scss
Owners: none

lib/wp: remove dev-only offline mode (#110570)
  .gitignore
  client/lib/wp/browser.js
  client/lib/wp/offline-library/README.md
  client/lib/wp/offline-library/index.js
Owners: none

Reader ATmosphere: route bio hashtag clicks in-app (#110616)
  client/reader/social/AGENTS.md
  client/reader/social/profile-card.tsx
  client/reader/social/test/profile-card.test.tsx
Owners: @Automattic/loop

Reader social: link profile display name to source service (#110614)
  client/reader/atmosphere/author-profile-panel.tsx
  client/reader/social/mappers/mastodon.ts
  client/reader/social/mappers/test/mastodon.test.ts
  client/reader/social/profile-card.tsx
  client/reader/social/style.scss
  client/reader/social/test/profile-card.test.tsx
Owners: @Automattic/loop

Reader social: play videos inline on click in non-target thread nodes (#110613)
  client/reader/social/AGENTS.md
  client/reader/social/components/post-card/post-card-embed-video.tsx
  client/reader/social/components/post-card/style.scss
  client/reader/social/components/post-card/test/post-card-embed-video.test.tsx
Owners: @Automattic/loop

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
