Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Dashboard: enable wp-beta-program feature flag in remaining environments (#110041)
  config/dashboard-production.json
  config/dashboard-stage.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

E2E: Fix false-negative WooCommerce login assertion, remove dead Apple specs (#110012)
  packages/calypso-e2e/src/lib/components/domain-search-component.ts
  test/e2e/specs/authentication/authentication__apple.spec.ts
  test/e2e/specs/authentication/authentication__totp.spec.ts
  test/e2e/specs/onboarding/signup__woo-apple.ts
Owners: none

Help Center: prevent Smooch reinit on JWT rotation, fixing dropped chat messages (#109914)
  packages/help-center/src/components/help-center-smooch.tsx
Owners: @Automattic/t-rex

DOTMSD-1209 (#110045)
  client/components/social-buttons/social-login-button.tsx
  client/dashboard/me/security-social-logins/oauth2-login.tsx
  client/dashboard/sites/settings-repositories/use-install-github.ts
  client/sites/deployments/components/installations-dropdown/use-live-installations.ts
Owners: @Automattic/lego

Add image upload capabilities to external agents (#110026)
  apps/agents-manager/agents-manager-with-provider.js
  apps/agents-manager/agents-manager-wooai.js
  packages/agents-manager/package.json
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agents-manager.tsx
  packages/agents-manager/src/hooks/use-image-upload.ts
  packages/agents-manager/src/index.ts
  packages/agents-manager/src/utils/load-external-providers.ts
  yarn.lock
Owners: none

Happy Blocks: enable Odie search for logged-in users on support pages (#110048)
  apps/happy-blocks/block-library/search-card/includes.php
  apps/happy-blocks/block-library/search-card/index.php
Owners: none

Remove obsoleted Calypso newsletter settings UI (#109947)
  client/my-sites/importer/newsletter/summary/index.tsx
  client/my-sites/sidebar/static-data/fallback-menu.js
  client/my-sites/site-settings/settings-newsletter/BylinePreview.tsx
  client/my-sites/site-settings/settings-newsletter/BylineSettings.tsx
  client/my-sites/site-settings/settings-newsletter/EmailsTextSetting.tsx
  client/my-sites/site-settings/settings-newsletter/ExcerptSetting.tsx
  client/my-sites/site-settings/settings-newsletter/FeaturedImageEmailSetting.tsx
  client/my-sites/site-settings/settings-newsletter/PaidNewsletterSection.tsx
  client/my-sites/site-settings/settings-newsletter/ReplyToSetting.tsx
  client/my-sites/site-settings/settings-newsletter/SenderNameSetting.tsx
  client/my-sites/site-settings/settings-newsletter/SubscribeFloatingButtonSetting.tsx
  client/my-sites/site-settings/settings-newsletter/SubscribeModalOnCommentSetting.tsx
  client/my-sites/site-settings/settings-newsletter/SubscribeModalSetting.tsx
  client/my-sites/site-settings/settings-newsletter/SubscribeNavigationSetting.tsx
  client/my-sites/site-settings/settings-newsletter/SubscribeOverlaySetting.tsx
  client/my-sites/site-settings/settings-newsletter/SubscribePostEndSetting.tsx
  client/my-sites/site-settings/settings-newsletter/SubscriberLoginNavigationSetting.tsx
  client/my-sites/site-settings/settings-newsletter/main.tsx
  client/my-sites/site-settings/settings-newsletter/newsletter-categories-section/index.ts
  client/my-sites/site-settings/settings-newsletter/newsletter-categories-section/newsletter-categories-section.tsx
  client/my-sites/site-settings/settings-newsletter/newsletter-categories-section/newsletter-categories-toggle.tsx
  client/my-sites/site-settings/settings-newsletter/newsletter-categories-section/style.scss
  client/my-sites/site-settings/settings-newsletter/newsletter-categories-section/test/newsletter-categories-settings.test.tsx
  client/my-sites/site-settings/settings-newsletter/newsletter-categories-section/test/newsletter-categories-toggle.test.tsx
  client/my-sites/site-settings/settings-newsletter/style.scss
  client/my-sites/site-settings/wrap-settings-form.jsx
  client/my-sites/stats/features/modules/shared/stats-empty-action-email.tsx
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
  packages/launchpad/src/setup-actions.ts
  packages/subscriber/src/components/add-form/categories-section.tsx
Owners: none

Fix: Only show domain-only thank you page for actual domain-only flows (#109999)
  client/my-sites/checkout/checkout-thank-you/index.tsx
  client/my-sites/checkout/checkout-thank-you/test/index.js
Owners: none

Domain-only flow: skip site-or-domain step for experiment treatment variant (#110013)
  client/signup/steps/domains/index.tsx
  client/signup/steps/domains/test/index.tsx
Owners: @Automattic/quake

MSD: refactor omnibar current site logic + origin_site_id (#109912)
  client/dashboard/app/interim-omnibar/interim-omnibar-container.tsx
  client/dashboard/app/omnibar/current-site.ts
  client/dashboard/app/root/index.tsx
  client/dashboard/app/router/sites.tsx
  packages/api-queries/src/index.ts
  packages/api-queries/src/omnibar.ts
Owners: @Automattic/lego

Dashboard: Update sidebar sub-menu item styling (#109951)
  client/dashboard/app/responsive-sidebar/sidebar.tsx
  client/dashboard/components/sidebar/sidebar-expandable-menu-item.scss
  client/dashboard/components/sidebar/sidebar-menu-item.scss
  client/dashboard/sites/site-sidebar/index.tsx
Owners: @Automattic/lego

Add Studio Sync to lower plans (#110043)
  packages/calypso-products/src/plans-list.tsx
Owners: none

Reader: Add On This Day stream (#110023)
  client/reader/index.ts
  client/reader/on-this-day/controller.jsx
  client/reader/on-this-day/index.tsx
  client/reader/on-this-day/main.tsx
  client/reader/on-this-day/on-this-day-post-field.tsx
  client/reader/on-this-day/on-this-day-post-skeleton.tsx
  client/reader/on-this-day/style.scss
  client/state/data-layer/wpcom/read/streams/index.js
Owners: @Automattic/loop

Fix broken "create a new repository" docs link in Select repository flows (#110049)
  client/dashboard/sites/settings-repositories/connect-repository-form.tsx
  client/sites/deployments/deployment-creation/repository-selection-dialog.tsx
Owners: @Automattic/lego

A4A: Add manual migration verification review flow (#109933)
  client/a8c-for-agencies/sections/migrations/commissions-list/commission-columns.tsx
  client/a8c-for-agencies/sections/migrations/commissions-list/commission-list-actions.tsx
  client/a8c-for-agencies/sections/migrations/commissions-list/index.tsx
  client/a8c-for-agencies/sections/migrations/commissions-list/style.scss
  client/a8c-for-agencies/sections/migrations/hooks/use-fetch-tagged-sites-for-migration.ts
  client/a8c-for-agencies/sections/migrations/hooks/use-request-another-review-mutation.ts
  client/a8c-for-agencies/sections/migrations/request-review-modal/index.tsx
  client/a8c-for-agencies/sections/migrations/request-review-modal/style.scss
  client/a8c-for-agencies/sections/migrations/types.ts
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

A4A: Enable Site migration manual verification flow in staging and production. (#110056)
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

Fix: sort features before adding a new one (#110058)
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  config/development.json
  config/horizon.json
  config/jetpack-cloud-development.json
  config/jetpack-cloud-horizon.json
  config/jetpack-cloud-production.json
  config/jetpack-cloud-stage.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: none

Email forwarding: Resurface the email forwarding error when domain is used for Gravatar (#110050)
  client/dashboard/emails/dataviews/actions/edit-email-forward.tsx
  client/data/emails/use-update-email-forward-mutation.tsx
  client/my-sites/email/email-forwarding/actions-menu/index.tsx
Owners: @Automattic/lego, @Automattic/jetpack-avalon

Backup: fix getting-started card layout on desktop (#110063)
  client/components/jetpack/backup-getting-started/style.scss
Owners: none

reader following remove early return for only self subscriptions (#110060)
  client/reader/following/main.tsx
  client/reader/on-this-day/main.tsx
  client/reader/onboarding/index.tsx
Owners: @Automattic/loop

Reader: Fix flickering of primary blog on gravatar hovercard (#110072)
  client/components/gravatar-with-hovercards/hovercard-content.jsx
Owners: none

Reader: Use TanStack query in User Profile page (#109854)
  client/components/gravatar-with-hovercards/hovercard-content.jsx
  client/lib/user/user.d.ts
  client/reader/style.scss
  client/reader/user-profile/components/top-sites/index.tsx
  client/reader/user-profile/components/top-sites/test/index.test.tsx
  client/reader/user-profile/components/user-profile-header/index.tsx
  client/reader/user-profile/components/user-profile-header/test/index.test.tsx
  client/reader/user-profile/index.tsx
  client/reader/user-profile/queries/use-user-sites-query.ts
  client/reader/user-profile/test/index.test.tsx
  client/reader/user-profile/test/index.tsx
  client/reader/user-profile/views/lists.tsx
  client/reader/user-profile/views/posts.tsx
  client/reader/user-profile/views/recommended-blogs.tsx
  client/reader/user-profile/views/sites/index.tsx
  client/reader/user-profile/views/sites/test/sites.test.tsx
  client/reader/user-profile/views/test/lists.test.tsx
  client/reader/user-profile/views/test/posts.test.tsx
  client/reader/user-profile/views/test/recommended-blogs.test.tsx
  client/state/reader/action-types.ts
  client/state/reader/reducer.ts
  client/state/reader/users/actions.js
  client/state/reader/users/reducer.js
  client/state/selectors/get-reader-user.ts
  packages/api-core/src/index.ts
  packages/api-core/src/user-sites/fetchers.ts
  packages/api-core/src/user-sites/index.ts
  packages/api-core/src/user-sites/types.ts
  packages/api-core/src/users/fetchers.ts
  packages/api-core/src/users/index.ts
  packages/api-core/src/users/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/user-sites.ts
  packages/api-queries/src/user.ts
Owners: @Automattic/loop

Dashboard: Fix AI tools settings page — update support link and add reauth check (#110053)
  client/components/inline-support-link/context-links.js
  client/dashboard/app/router/sites.tsx
  client/sites/v2/site-settings/router.tsx
Owners: @Automattic/lego

Add dark-mode config variable (#110073)
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

Show Help Center on the editor for mobile devices (#109668)
  apps/help-center/help-center-gutenberg.js
Owners: none

Add reader/achievements feature flag (#110074)
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: none

Reader: Added sites tab on list view (#109972)
  client/reader/list-manage/index.jsx
  client/reader/list-stream/components/empty.tsx
  client/reader/list-stream/components/list-header/index.tsx
  client/reader/list-stream/components/list-header/style.scss
  client/reader/list-stream/components/list-header/test/index.test.tsx
  client/reader/list-stream/components/missing.tsx
  client/reader/list-stream/header.tsx
  client/reader/list-stream/index.jsx
  client/reader/list-stream/missing.jsx
  client/reader/list-stream/test/index.test.tsx
  client/reader/list-stream/views/sites.tsx
  client/reader/list-stream/views/test/sites.test.tsx
  client/reader/list/controller.js
  client/reader/list/index.ts
  client/reader/sites-list/style.scss
  client/reader/user-profile/views/lists.scss
  client/state/data-layer/wpcom/read/lists/feeds/delete/index.js
  client/state/data-layer/wpcom/read/lists/feeds/new/index.js
  client/state/data-layer/wpcom/read/lists/sites/delete/index.js
  client/state/data-layer/wpcom/read/lists/tags/delete/index.js
  client/state/data-layer/wpcom/read/lists/tags/new/index.js
  client/state/data-layer/wpcom/read/lists/utils.ts
  client/state/query-client.ts
  packages/api-core/src/index.ts
  packages/api-core/src/read-lists/fetchers.ts
  packages/api-core/src/read-lists/index.ts
  packages/api-core/src/read-lists/types.ts
  packages/api-core/src/site/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/read-list.ts
Owners: @Automattic/loop

Reader OTD: Switch to Streams (#110076)
  client/state/data-layer/wpcom/read/streams/index.js
Owners: none

Add dark-mode switcher (#110017)
  client/dashboard/app-ciab/index.tsx
  client/dashboard/app-dotcom/index.tsx
  client/dashboard/app-dotcom/style.scss
  client/dashboard/app/color-scheme/index.tsx
  client/dashboard/app/context.tsx
  client/dashboard/app/layout.tsx
  client/dashboard/app/responsive-sidebar/sidebar.tsx
  client/dashboard/app/responsive-sidebar/theme-switcher.scss
  client/dashboard/app/responsive-sidebar/theme-switcher.tsx
Owners: @Automattic/lego

Add params to calypso_studio_sync_connect_site event (#110057)
  client/my-sites/customer-home/components/home-content/index.jsx
Owners: none

Reader: Add achievements route to user profile (#110083)
  client/declarations.d.ts
  client/reader/user-profile/components/user-profile-header/index.tsx
  client/reader/user-profile/components/user-profile-header/test/index.test.tsx
  client/reader/user-profile/index.tsx
  client/reader/user-profile/views/achievements.tsx
Owners: @Automattic/loop

Account for Instagram blockquote fallback (#110090)
  packages/calypso-e2e/src/lib/blocks/block-flows/instagram.ts
Owners: none

Dashboard: simplify 100-year plan and domain purchase settings (#110059)
  client/dashboard/components/overview-card/index.tsx
  client/dashboard/components/purchase-expiry-status/index.tsx
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/utils/purchase.ts
Owners: @Automattic/lego

Purchase Settings: split Cancel and Remove into two buttons (#110046)
  client/dashboard/me/billing-purchases/purchase-settings/classify-purchase-for-copy.ts
  client/dashboard/me/billing-purchases/purchase-settings/get-cancel-remove-copy.ts
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/me/billing-purchases/purchase-settings/test/get-cancel-remove-copy.test.ts
  client/dashboard/utils/purchase.ts
  client/me/purchases/manage-purchase/classify-purchase-for-copy.ts
  client/me/purchases/manage-purchase/get-cancel-remove-copy.ts
  client/me/purchases/manage-purchase/index.tsx
  client/me/purchases/manage-purchase/test/cancel-remove-copy-parity.test.ts
  client/me/purchases/manage-purchase/test/get-cancel-remove-copy.test.ts
  client/me/purchases/manage-purchase/test/purchase-management-buttons.js
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: @Automattic/lego, @Automattic/shilling

Reader - RSM onboarding - initialize behind feature flag (#110087)
  client/reader/discover/components/header-and-navigation/index.tsx
  client/reader/following/main.tsx
  client/reader/on-this-day/main.tsx
  client/reader/onboarding-rsm/constants.tsx
  client/reader/onboarding-rsm/curated-blogs/creative-arts.tsx
  client/reader/onboarding-rsm/curated-blogs/index.tsx
  client/reader/onboarding-rsm/curated-blogs/industry.tsx
  client/reader/onboarding-rsm/curated-blogs/lifestyle.tsx
  client/reader/onboarding-rsm/curated-blogs/society.tsx
  client/reader/onboarding-rsm/curated-blogs/technology.tsx
  client/reader/onboarding-rsm/index.tsx
  client/reader/onboarding-rsm/interests-modal/index.tsx
  client/reader/onboarding-rsm/interests-modal/style.scss
  client/reader/onboarding-rsm/style.scss
  client/reader/onboarding-rsm/subscribe-modal/index.tsx
  client/reader/onboarding-rsm/subscribe-modal/style.scss
  client/reader/onboarding-rsm/subscribe-modal/verificationNudge.tsx
  client/reader/onboarding-rsm/welcome-modal/index.tsx
  client/reader/onboarding-rsm/welcome-modal/style.scss
  client/reader/onboarding/gate.tsx
  client/reader/onboarding/test/gate.test.tsx
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: @Automattic/loop

e2e: Add error handling in Story block test (#110093)
  test/e2e/specs/blocks/blocks__story.ts
Owners: none

MSD Purchase: remove stray semi-colon (#110095)
  client/dashboard/me/billing-purchases/purchase-settings/purchase-notice.tsx
Owners: @Automattic/lego

Reader: Add trophies data layer for achievements page (#110091)
  client/data/reader/use-trophies-query.ts
  client/reader/user-profile/style.scss
  client/reader/user-profile/views/achievements.tsx
  client/reader/user-profile/views/lists.scss
  client/reader/user-profile/views/lists.tsx
  client/reader/user-profile/views/test/lists.test.tsx
  packages/api-core/src/index.ts
  packages/api-core/src/me-trophies/fetchers.ts
  packages/api-core/src/me-trophies/index.ts
  packages/api-core/src/me-trophies/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/me-trophies.ts
Owners: @Automattic/loop

Add A/B/C experiment to de-emphasize current plan card on /plans page (#110016)
  client/my-sites/plans-features-main/index.tsx
  client/my-sites/plans/hooks/use-de-emphasized-plan-card-experiment.ts
  client/my-sites/plans/main.jsx
  client/my-sites/plans/style.scss
  client/sites/plan/test/index.tsx
  packages/plans-grid-next/src/components/features-grid/style.scss
Owners: @Automattic/martech

[RSM-155] Add dark mode support to dashboard account (#110088)
  client/dashboard/app-dotcom/style.scss
  client/dashboard/app/_dark-theme.scss
  client/dashboard/me/profile-gravatar/edit-gravatar.tsx
  client/dashboard/me/profile-gravatar/index.tsx
  client/dashboard/me/profile-gravatar/style.scss
  client/dashboard/me/profile-personal-details/style.scss
Owners: @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
