Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Reader Mastodon: quote-post composer (CM-664) (#110461)
  client/reader/AGENTS.md
  client/reader/mastodon/author-profile-panel.tsx
  client/reader/mastodon/composer-config.tsx
  client/reader/mastodon/test/composer-config.test.tsx
  client/reader/mastodon/test/quote-fallback.test.ts
  client/reader/mastodon/test/use-mastodon-repost-action.test.tsx
  client/reader/mastodon/thread-panel.tsx
  client/reader/mastodon/timeline-panel.tsx
  client/reader/mastodon/use-mastodon-repost-action.ts
  client/reader/social/AGENTS.md
  client/reader/social/author-profile-panel.tsx
  client/reader/social/composer/composer-provider.tsx
  packages/api-core/src/reader-mastodon/__tests__/fetchers.test.ts
  packages/api-core/src/reader-mastodon/fetchers.ts
  packages/api-core/src/reader-mastodon/types.ts
  packages/api-queries/src/reader-mastodon.ts
Owners: @Automattic/loop

Reader: show shimmer placeholder for tag stats while loading (#110496)
  client/reader/stream/reader-tag-sidebar/index.jsx
  client/reader/stream/style.scss
Owners: @Automattic/loop

AI Site Builder: Add Vega site-spec ExPlat experiment (#110102)
  client/components/sites-add-new-site/index.tsx
  client/dashboard/sites/add-new-site/index.tsx
  client/dashboard/sites/add-new-site/types.ts
  client/dashboard/sites/empty-sites-state/index.tsx
  client/dashboard/sites/index.tsx
  client/dashboard/sites/site-switcher/index.tsx
  client/dashboard/sites/use-ai-site-builder-path.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/site-spec/index.tsx
  client/lib/site-spec/index.ts
  client/lib/site-spec/test/vega.test.ts
  client/lib/site-spec/use-ai-site-builder-path.ts
  client/lib/site-spec/vega.ts
Owners: @Automattic/lego

APM: add Settings page and link (#110387)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/performance/backend-access.ts
  client/dashboard/sites/performance/backend/index.tsx
  client/dashboard/sites/settings-apm/index.tsx
  client/dashboard/sites/settings-apm/summary.tsx
  client/dashboard/sites/settings-apm/test/index.test.tsx
  client/dashboard/sites/settings/index.tsx
Owners: @Automattic/lego

Reader onboarding-rsm - unify modal sizes and fix scroll container issue. (#110492)
  client/reader/onboarding-rsm/interests-modal/index.tsx
  client/reader/onboarding-rsm/interests-modal/style.scss
  client/reader/onboarding-rsm/style.scss
  client/reader/onboarding-rsm/subscribe-modal/index.tsx
  client/reader/onboarding-rsm/subscribe-modal/style.scss
  client/reader/onboarding-rsm/welcome-modal/index.tsx
  client/reader/onboarding-rsm/welcome-modal/style.scss
Owners: @Automattic/loop

Podcast: gate Distribution submit on feed readiness (#110486)
  client/my-sites/podcast/components/distribution.tsx
  client/my-sites/podcast/components/readiness-banner.tsx
  client/my-sites/podcast/components/settings.tsx
  client/my-sites/podcast/hooks/test/use-submission-issues.test.ts
  client/my-sites/podcast/hooks/use-has-published-episode.ts
  client/my-sites/podcast/hooks/use-submission-issues.ts
  client/my-sites/podcast/main.tsx
Owners: none

Stepper: Promote commerce TLDs in domain search for Woo hosting solutions (#110232)
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
  client/lib/domains/suggestions/index.ts
  client/lib/domains/suggestions/test/index.ts
Owners: none

Reader Mastodon: connected-user profile shows feed/activities (#110497)
  client/reader/mastodon/author-profile-panel.tsx
  client/reader/mastodon/author-profile-tabs.tsx
  client/reader/mastodon/author-profile-view.tsx
  client/reader/mastodon/profile-panel.tsx
  client/reader/mastodon/test/author-profile-panel.test.tsx
  client/reader/mastodon/test/author-profile-tabs.test.tsx
  client/reader/mastodon/test/profile-panel.test.tsx
  client/reader/mastodon/test/verify-panel.test.tsx
  client/reader/mastodon/verify-panel.tsx
Owners: @Automattic/loop

initial refactor to shared modal (#110502)
  client/reader/onboarding-rsm/index.tsx
  client/reader/onboarding-rsm/interests-modal/index.tsx
  client/reader/onboarding-rsm/subscribe-modal/index.tsx
  client/reader/onboarding-rsm/welcome-modal/index.tsx
Owners: @Automattic/loop

Reader Social: dedupe React keys when the same post is reposted multiple times (#110513)
  client/reader/atmosphere/author-profile-panel.tsx
  client/reader/atmosphere/tag-feed-panel.tsx
  client/reader/atmosphere/timeline-panel.tsx
  client/reader/mastodon/tag-feed-panel.tsx
  client/reader/mastodon/timeline-panel.tsx
  client/reader/social/author-profile-panel.tsx
  client/reader/social/index.ts
  client/reader/social/utils/social-post-feed-item-key.ts
  client/reader/social/utils/test/social-post-feed-item-key.test.ts
Owners: @Automattic/loop

Implement WP.com Smart Dictation (#110149)
  apps/help-center/help-center-gutenberg.jsx
  apps/help-center/help-center-wpcom-transcription.js
  apps/help-center/package.json
  packages/calypso-build/webpack/file-loader.js
  packages/calypso-jest/README.md
  packages/calypso-jest/jest-preset.js
  packages/help-center/package.json
  packages/help-center/src/components/types.d.ts
  packages/help-center/src/index.ts
  packages/help-center/src/live-ai-assistant/assets/voice-control-gutenberg.mp4
  packages/help-center/src/live-ai-assistant/components/mic-icon.tsx
  packages/help-center/src/live-ai-assistant/image-picker-modal.tsx
  packages/help-center/src/live-ai-assistant/index.tsx
  packages/help-center/src/live-ai-assistant/style.scss
  packages/help-center/src/live-ai-assistant/tools/editor-blocks-tool/index.ts
  packages/help-center/src/live-ai-assistant/tools/editor-post-tool/index.ts
  packages/help-center/src/live-ai-assistant/tools/image-picker-tool.ts
  packages/help-center/src/live-ai-assistant/tools/youtube-oembed-tool/iframe-check.ts
  packages/help-center/src/live-ai-assistant/tools/youtube-oembed-tool/index.ts
  packages/help-center/src/live-ai-assistant/use-realtime-session.ts
  test/apps/jest-preset.js
  test/client/jest.config.js
  test/server/jest.config.js
  yarn.lock
Owners: @Automattic/t-rex

Reader onboarding RSM - update styles of subscriptions step article previews. (#110510)
  client/blocks/reader-post-card/byline.jsx
  client/blocks/reader-post-card/index.jsx
  client/reader/onboarding-rsm/subscribe-modal/index.tsx
  client/reader/onboarding-rsm/subscribe-modal/style.scss
  client/reader/stream/index.jsx
  client/reader/stream/post.jsx
Owners: @Automattic/loop

Substack Importer: Fix content step being stuck during import
  client/state/imports/reducer.js
  client/state/imports/selectors.js
Owners: none

Reader Mastodon: stop flag-gating the OAuth callback (CM-679) (#110520)
  client/reader/mastodon/controller.tsx
  client/reader/mastodon/test/controller.test.tsx
Owners: @Automattic/loop

Reader onboarding rsm - subscriptions preview - vertically center preview text content. (#110523)
  client/reader/onboarding-rsm/subscribe-modal/style.scss
Owners: @Automattic/loop

Backup: don't disable restore for invalid stored credentials when preflight is available (#110362)
  client/components/jetpack/daily-backup-status/action-buttons.jsx
  client/components/jetpack/daily-backup-status/test/action-buttons.jsx
  client/my-sites/backup/rewind-flow/granular-restore.tsx
  client/my-sites/backup/rewind-flow/restore.tsx
Owners: none

Reader Mastodon: image attachments composer (CM-676) (#110508)
  client/reader/atmosphere/composer-media/image-grid.tsx
  client/reader/atmosphere/composer-media/test/image-grid.test.tsx
  client/reader/atmosphere/use-atmosphere-composer-media.tsx
  client/reader/mastodon/composer-config.tsx
  client/reader/mastodon/composer-media/constants.ts
  client/reader/mastodon/composer-media/error-copy.ts
  client/reader/mastodon/composer-media/index.ts
  client/reader/mastodon/composer-media/sensitive-toggle.tsx
  client/reader/mastodon/composer-media/test/sensitive-toggle.test.tsx
  client/reader/mastodon/composer-media/test/use-staged-images.test.tsx
  client/reader/mastodon/composer-media/types.ts
  client/reader/mastodon/composer-media/use-staged-images.ts
  client/reader/mastodon/connect-form.tsx
  client/reader/mastodon/mastodon-oauth-callback-view.tsx
  client/reader/mastodon/style.scss
  client/reader/mastodon/test/composer-config.test.tsx
  client/reader/mastodon/test/mastodon-account-view.test.tsx
  client/reader/mastodon/test/use-mastodon-composer-media.test.tsx
  client/reader/mastodon/use-mastodon-composer-media.tsx
  client/reader/social/AGENTS.md
  client/reader/social/composer-media/alt-text-popover.tsx
  client/reader/social/composer-media/index.ts
  client/reader/social/composer-media/media-grid.tsx
  client/reader/social/composer-media/style.scss
  client/reader/social/composer-media/test/alt-text-popover.test.tsx
  client/reader/social/composer-media/test/media-grid.test.tsx
  client/reader/social/composer/composer-config.tsx
  client/reader/social/composer/composer-modal.tsx
  client/reader/social/composer/index.ts
  client/reader/social/composer/style.scss
  client/reader/social/composer/test/composer-modal.test.tsx
  packages/api-core/src/reader-mastodon/__tests__/errors.test.ts
  packages/api-core/src/reader-mastodon/__tests__/fetchers.test.ts
  packages/api-core/src/reader-mastodon/errors.ts
  packages/api-core/src/reader-mastodon/fetchers.ts
  packages/api-core/src/reader-mastodon/types.ts
  packages/api-queries/src/__tests__/reader-mastodon.test.tsx
  packages/api-queries/src/reader-mastodon.ts
Owners: @Automattic/loop

Reader Mastodon: dynamic composer character limit from instance config (CM-677) (#110505)
  client/reader/AGENTS.md
  client/reader/atmosphere/composer-config.tsx
  client/reader/atmosphere/test/composer-config.test.tsx
  client/reader/mastodon/composer-config.tsx
  client/reader/mastodon/test/composer-config.test.tsx
  client/reader/mastodon/use-mastodon-composer-limit.ts
  client/reader/social/AGENTS.md
  client/reader/social/composer/composer-config.tsx
  client/reader/social/composer/composer-modal.tsx
  client/reader/social/composer/test-config.ts
  client/reader/social/composer/test/composer-modal.test.tsx
  packages/api-core/src/reader-mastodon/__tests__/fetchers.test.ts
  packages/api-core/src/reader-mastodon/fetchers.ts
  packages/api-core/src/reader-mastodon/query-keys.ts
  packages/api-core/src/reader-mastodon/types.ts
  packages/api-queries/src/reader-mastodon.ts
Owners: @Automattic/loop

Update AGENTS.md and documentation (#110499)
  .github/PULL_REQUEST_TEMPLATE.md
  client/AGENTS.md
  docs/color.md
  docs/dark-mode.md
Owners: none

blackbox: Add challenge widget to login implementation (take 2) (#110069)
  client/blocks/login/blackbox-challenge.jsx
  client/blocks/login/login-form.jsx
  client/blocks/login/utils/blackbox-sdk.js
  client/blocks/login/utils/get-blackbox-session-id.js
  client/blocks/login/utils/test/blackbox-sdk.js
  client/blocks/login/utils/test/get-blackbox-session-id.js
  client/blocks/login/utils/test/use-blackbox.jsx
  client/blocks/login/utils/use-blackbox.js
  client/document/index.jsx
  client/types.ts
  packages/load-script/README.md
  packages/load-script/src/dom-operations.js
  packages/load-script/src/types/index.d.ts
  packages/load-script/test/dom-operations.js
Owners: @Automattic/type-review

Checkout: migrate leave-checkout modal to @wordpress/components (#110406)
  client/my-sites/checkout/src/components/leave-checkout-modal.tsx
Owners: @Automattic/shilling

Dictation: Add track events (#110532)
  apps/help-center/help-center-gutenberg.jsx
  apps/help-center/help-center-wpcom-dictation.js
  packages/help-center/src/live-ai-assistant/index.tsx
  packages/help-center/src/live-ai-assistant/use-realtime-session.ts
Owners: @Automattic/t-rex

Dashboard: Sync sidebar scroll with body for tall sidebars (#110489)
  client/dashboard/app/omnibar/style.scss
  client/dashboard/app/responsive-sidebar/index.tsx
  client/dashboard/app/responsive-sidebar/sidebar.scss
  client/dashboard/app/responsive-sidebar/sidebar.tsx
  client/dashboard/app/responsive-sidebar/use-sidebar-scroll-sync.ts
  client/dashboard/app/root/style.scss
  client/dashboard/components/sidebar-navigator/index.tsx
  client/dashboard/components/sidebar-navigator/style.scss
  packages/omnibar/src/components/omnibar.scss
Owners: @Automattic/lego

Add Codex Chrome DevTools MCP (#110533)
  .codex/config.toml
Owners: none

Image Studio: Share generated video as Instagram Reel (#110419)
  packages/image-studio/package.json
  packages/image-studio/src/components/generate-layout/index.tsx
  packages/image-studio/src/components/generate-layout/share-reel-action/index.test.tsx
  packages/image-studio/src/components/generate-layout/share-reel-action/index.tsx
  packages/image-studio/src/components/generate-layout/share-reel-action/style.scss
  packages/image-studio/src/components/generate-layout/style.scss
  packages/image-studio/src/hooks/use-generic-share/index.test.ts
  packages/image-studio/src/hooks/use-generic-share/index.ts
  packages/image-studio/src/hooks/use-reel-share/index.test.ts
  packages/image-studio/src/hooks/use-reel-share/index.ts
  packages/image-studio/src/utils/jetpack-script-data.test.ts
  packages/image-studio/src/utils/jetpack-script-data.ts
  packages/image-studio/src/utils/tracking.test.ts
  packages/image-studio/src/utils/tracking.ts
  yarn.lock
Owners: none

User Mentions: migrate UNSAFE_componentWillUpdate to componentDidUpdate (#110530)
  client/blocks/user-mentions/add.jsx
Owners: none

Refactor the dication tool and make a new separate app (#110538)
  apps/help-center/help-center-gutenberg.jsx
  apps/wpcom-smart-dictation/config.js
  apps/wpcom-smart-dictation/package.json
  apps/wpcom-smart-dictation/webpack.config.js
  apps/wpcom-smart-dictation/wpcom-smart-dictation.jsx
  packages/help-center/src/index.ts
  packages/help-center/src/live-ai-assistant/use-realtime-session.ts
  packages/tsconfig.json
  packages/wpcom-smart-dictation/package.json
  packages/wpcom-smart-dictation/src/index.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/assets/voice-control-gutenberg.mp4
  packages/wpcom-smart-dictation/src/live-ai-assistant/components/mic-icon.tsx
  packages/wpcom-smart-dictation/src/live-ai-assistant/image-picker-modal.tsx
  packages/wpcom-smart-dictation/src/live-ai-assistant/index.tsx
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/client-secret.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/constants.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/errors.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/index.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/tool-definitions.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/tool-labels.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/tool-runner.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/transcript.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/types.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/use-realtime-session.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/style.scss
  packages/wpcom-smart-dictation/src/live-ai-assistant/tools/editor-blocks-tool/index.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/tools/editor-post-tool/index.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/tools/image-picker-tool.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/tools/youtube-oembed-tool/iframe-check.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/tools/youtube-oembed-tool/index.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/use-realtime-session.ts
  packages/wpcom-smart-dictation/src/types.d.ts
  packages/wpcom-smart-dictation/tsconfig-cjs.json
  packages/wpcom-smart-dictation/tsconfig.json
  yarn.lock
Owners: @Automattic/t-rex

Reader Achievements: centralize feature gating in useAchievementsVisibility (RSM-1530) (#110507)
  client/reader/components/achievements/test/use-achievements-visibility.test.ts
  client/reader/components/achievements/use-achievements-visibility.ts
  client/reader/user-profile/components/user-profile-header/index.tsx
  client/reader/user-profile/components/user-profile-header/test/index.test.tsx
  client/reader/user-profile/views/achievements/index.tsx
  client/reader/user-profile/views/achievements/test/index.test.tsx
Owners: @Automattic/loop

Smart Dictation: Refactor more (#110541)
  apps/wpcom-smart-dictation/README.md
  apps/wpcom-smart-dictation/wpcom-smart-dictation.jsx
  packages/wpcom-smart-dictation/src/index.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/components/audio-fft-blobs.scss
  packages/wpcom-smart-dictation/src/live-ai-assistant/components/audio-fft-blobs.tsx
  packages/wpcom-smart-dictation/src/live-ai-assistant/components/mic-icon.tsx
  packages/wpcom-smart-dictation/src/live-ai-assistant/index.tsx
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/types.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/use-realtime-session.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/style.scss
Owners: none

Dictation: Fix TeamCity builds (#110543)
  .teamcity/_self/projects/WPComPlugins.kt
Owners: none

Charts: upgrade @automattic/charts to 1.3.0 (#110426)
  .yarn/patches/@base-ui-react-npm-1.4.1-fbb7347502.patch
  client/components/inline-support-link/use-support-doc-data.ts
  client/dashboard/app/chart-theme.ts
  client/dashboard/sites/monitoring-http-responses-card/index.tsx
  client/dashboard/sites/monitoring-performance-card/index.tsx
  client/dashboard/sites/monitoring-request-methods-card/index.tsx
  client/dashboard/sites/monitoring-response-types-card/index.tsx
  client/dashboard/sites/performance/core-metrics-chart.tsx
  client/my-sites/stats/components/line-chart/index.tsx
  client/my-sites/stats/pages/realtime/chart.tsx
  client/package.json
  package.json
  yarn.lock
Owners: @Automattic/lego

Plans grid: tighten mobile onboarding layout (#110297)
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/style.scss
  packages/plans-grid-next/src/components/features-grid/index.tsx
  packages/plans-grid-next/src/components/features-grid/mobile-free-domain.tsx
  packages/plans-grid-next/src/components/features-grid/style.scss
  packages/plans-grid-next/src/components/plan-button/style.scss
  packages/plans-grid-next/src/components/shared/header-price/style.scss
Owners: @Automattic/martech

Reader Mastodon: reconnect UX for expired tokens (#110555)
  client/reader/mastodon/mastodon-account-view.tsx
  client/reader/mastodon/mastodon-connect-view.tsx
  client/reader/mastodon/mastodon-oauth-callback-view.tsx
  client/reader/mastodon/oauth-state.ts
  client/reader/mastodon/test/mastodon-account-view-reauth.test.tsx
  client/reader/mastodon/test/mastodon-oauth-callback-view.test.tsx
  client/reader/mastodon/test/oauth-state.test.ts
  client/reader/mastodon/test/use-mastodon-auth-status-invalidator.test.tsx
  client/reader/mastodon/use-mastodon-auth-status-invalidator.ts
  client/reader/social/connection-reauth-gate.scss
  client/reader/social/connection-reauth-gate.tsx
  client/reader/social/connection-reauth-tag.scss
  client/reader/social/connection-reauth-tag.tsx
  client/reader/social/index.ts
  client/reader/social/test/connection-reauth-gate.test.tsx
  client/reader/social/test/connection-reauth-tag.test.tsx
  packages/api-core/src/reader-mastodon/__tests__/fetchers.test.ts
  packages/api-core/src/reader-mastodon/__tests__/query-keys.test.ts
  packages/api-core/src/reader-mastodon/fetchers.ts
  packages/api-core/src/reader-mastodon/query-keys.ts
  packages/api-core/src/reader-mastodon/types.ts
  packages/api-queries/src/__tests__/reader-mastodon.test.tsx
  packages/api-queries/src/reader-mastodon.ts
Owners: @Automattic/loop

Plans: Include Big Sky in Personal & Premium, update AI Tools upsell copy (DOTMSD-1221) (#110352)
  client/dashboard/sites/settings-ai-tools/index.tsx
  packages/calypso-products/src/plans-list.tsx
Owners: @Automattic/lego

Reader Mastodon: extend reauth gate to author, thread, and tag-feed views (#110556)
  client/reader/mastodon/author-profile-view.tsx
  client/reader/mastodon/mastodon-account-view.tsx
  client/reader/mastodon/mastodon-thread-view.tsx
  client/reader/mastodon/tag-feed-view.tsx
  client/reader/mastodon/test/author-profile-view-reauth.test.tsx
  client/reader/mastodon/test/mastodon-thread-view-reauth.test.tsx
  client/reader/mastodon/test/tag-feed-view-reauth.test.tsx
  client/reader/mastodon/use-mastodon-reauth-gate.tsx
Owners: @Automattic/loop

Reader Achievements: show progress bar on locked incremental achievements (RSM-2598) (#110553)
  client/reader/user-profile/views/achievements/achievements-grid/achievement-card.tsx
  client/reader/user-profile/views/achievements/achievements-grid/locked-achievement-card.tsx
  client/reader/user-profile/views/achievements/achievements-grid/style.scss
  client/reader/user-profile/views/achievements/achievements-grid/test/achievement-card.test.tsx
  packages/api-core/src/read-achievements/types.ts
Owners: @Automattic/loop

Dictation: Stop dictation tool (#110545)
  packages/wpcom-smart-dictation/src/live-ai-assistant/index.tsx
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/tool-definitions.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/tool-labels.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/tool-runner.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/use-realtime-session.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/tools/dictation-control-tool.ts
Owners: none

Live AI Assistant: image generation via /jetpack-ai-image (#110509)
  packages/wpcom-smart-dictation/src/live-ai-assistant/image-picker-modal.tsx
  packages/wpcom-smart-dictation/src/live-ai-assistant/index.tsx
  packages/wpcom-smart-dictation/src/live-ai-assistant/jetpack-ai-image.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/tool-definitions.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/tool-labels.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/tool-runner.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/types.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/use-realtime-session.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/request-jwt.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/style.scss
  packages/wpcom-smart-dictation/src/live-ai-assistant/tools/generate-image-tool/index.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/tools/image-picker-tool.ts
Owners: none

Fix dictation build in TC (#110560)
  .teamcity/_self/projects/WPComPlugins.kt
Owners: none

Rename Jetpack connector branding config to JSX (#110536)
  client/jetpack-connect/connector-branding-config.jsx
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
