Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

MSD: Enable paginated site list endpoint on wordpress.com (#108354)
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

AI Tools: Add AI tools page to site settings (#108331)
  client/components/inline-support-link/context-links.js
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/settings-ai-tools/index.tsx
  client/dashboard/sites/settings-ai-tools/upsell-illustration.svg
  client/dashboard/sites/settings/index.tsx
  client/dashboard/utils/site-type-feature-support.ts
  client/sites/v2/site-settings/router.tsx
  config/dashboard-stage.json
  config/horizon.json
  config/stage.json
  packages/api-core/src/constants.ts
  packages/calypso-products/src/constants/features.ts
  packages/calypso-products/src/plans-list.tsx
Owners: @Automattic/lego

A4A > Sites: Improve the 'Needs setup' sites loading UX (#108163)
  client/a8c-for-agencies/sections/sites/needs-setup-sites/table.tsx
Owners: none

A4A: Fix track event name for Pressable offer banner. (#108412)
  client/a8c-for-agencies/components/a4a-pressable-offer/index.tsx
Owners: none

MSD: Add Site List integration test (#108394)
  client/dashboard/me/preferences-primary-site/test/index.test.tsx
  client/dashboard/sites/backups/test/index.test.tsx
  client/dashboard/sites/logs-activity/dataviews/test/index.test.tsx
  client/dashboard/sites/logs/dataviews/test/index.test.tsx
  client/dashboard/sites/logs/test/index.test.tsx
  client/dashboard/sites/overview-backup-card/test/index.test.tsx
  client/dashboard/sites/test/index.test.tsx
  client/dashboard/test-utils.tsx
Owners: @Automattic/lego

AI Tools: Update the way to open the AI assistant chat (#108414)
  client/dashboard/sites/settings-ai-tools/index.tsx
Owners: @Automattic/lego

MSD: Hide opt-in toggle & redirect to v1 if the user is not available (#108383)
  client/components/email-verification/index.js
  client/controller/index.web.js
  client/dashboard/app/router/root.tsx
  client/dashboard/me/preferences-new-hosting-dashboard/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/unified-plans-step.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/use-my-domain/index.tsx
  client/layout/index.jsx
  client/layout/masterbar/logged-in.jsx
  client/me/account/hosting-dashboard-opt-in-form.tsx
  client/me/account/main.jsx
  client/me/controller.js
  client/my-sites/controller.js
  client/my-sites/customer-home/components/home-content/index.jsx
  client/my-sites/domains/controller.jsx
  client/my-sites/invites/controller.js
  client/my-sites/invites/invite-accept/index.jsx
  client/my-sites/navigation/index.jsx
  client/my-sites/plugins/controller.js
  client/my-sites/plugins/hooks/use-is-marketplace-redesign-enabled.ts
  client/my-sites/plugins/plugins-browser/index.jsx
  client/my-sites/plugins/plugins-list/use-actions.tsx
  client/my-sites/plugins/sidebar/index.tsx
  client/my-sites/sidebar/use-site-menu-items.js
  client/my-sites/themes/controller-logged-in.jsx
  client/my-sites/themes/theme-showcase-header.jsx
  client/root.js
  client/signup/steps/domains/index.tsx
  client/sites/components/sites-dashboard-banners/use-dashboard-opt-in-banner.tsx
  client/sites/controller.tsx
  client/sites/overview/controller.tsx
  client/sites/v2/router.tsx
  client/state/dashboard/selectors/has-dashboard-forced-opt-in.ts
  client/state/dashboard/selectors/index.ts
  client/state/dashboard/selectors/is-dashboard-enabled.ts
  client/state/dashboard/selectors/is-dashboard-toggle-enabled.ts
  client/state/reader-ui/selectors.js
  config/_shared.json
  packages/api-core/src/me-preferences/types.ts
Owners: @Automattic/lego, @Automattic/quake

Dashboard Site List v1: show pulsing dot then scroll when paginating (#108385)
  client/dashboard/components/dataviews/dataviews.tsx
  client/layout/loader.jsx
Owners: @Automattic/lego

Highlight the domain in variations where we have included in... (#108395)
  client/my-sites/plans-features-main/hooks/use-plan-differentiators-experiment.ts
  client/my-sites/plans-features-main/index.tsx
  packages/plans-grid-next/src/components/features-grid/index.tsx
  packages/plans-grid-next/src/components/features-grid/mobile-free-domain.tsx
  packages/plans-grid-next/src/components/features-grid/style.scss
  packages/plans-grid-next/src/components/features.tsx
  packages/plans-grid-next/src/grid-context.tsx
  packages/plans-grid-next/src/types.ts
Owners: @Automattic/martech

Ramp up PHP 8.4 to 25% of new Atomic transferred sites (#108372)
  client/data/php-versions/index.jsx
Owners: none

A4A: Add Pressable promo offer event on the Overview page. (#108415)
  client/a8c-for-agencies/components/upcoming-event/index.tsx
  client/a8c-for-agencies/components/upcoming-event/types.ts
  client/a8c-for-agencies/sections/overview/body/events/hooks/use-upcoming-events.tsx
Owners: none

Update feature gating to the latest copy (#108401)
  packages/calypso-products/src/features-list.tsx
  packages/calypso-products/src/plans-list.tsx
  packages/plans-grid-next/src/hooks/data-store/use-restructured-plan-features-for-comparison-grid.ts
Owners: @Automattic/martech

Help Center: Fix initiating a logged out chat (#108420)
  packages/data-stores/src/help-center/reducer.ts
  packages/data-stores/src/help-center/resolvers.ts
  packages/help-center/src/components/help-center-content.tsx
  packages/odie-client/src/hooks/use-get-combined-chat.ts
Owners: @Automattic/t-rex

MSD Domains: Update /start/domain and /setup/domain-transfer so it links back to the dashboard at the end of the flow (#108403)
  client/landing/stepper/declarative-flow/flows/domain-transfer/domain-transfer.ts
  client/signup/config/flows.js
  client/signup/main.jsx
  client/signup/steps/domains/index.tsx
Owners: @Automattic/quake

Setup site with AI: design changes (#108406)
  client/landing/stepper/declarative-flow/internals/steps-repository/setup-your-site-ai/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/setup-your-site-ai/style.scss
Owners: none

Adjust the tooltip height and fix widows (#108428)
  packages/plans-grid-next/src/components/plans-2023-tooltip.tsx
Owners: @Automattic/martech

MSD: Integrate EmptyState component with the sites/domains/emails. (#107909)
  client/dashboard/app/router/domains.ts
  client/dashboard/app/router/emails.tsx
  client/dashboard/app/router/sites.tsx
  client/dashboard/components/empty-state/index.tsx
  client/dashboard/components/offer-card/abstract-dots.svg
  client/dashboard/components/offer-card/dev-site-banner.svg
  client/dashboard/components/offer-card/index.tsx
  client/dashboard/components/offer-card/style.scss
  client/dashboard/domains/empty-domains-state/index.tsx
  client/dashboard/domains/index.tsx
  client/dashboard/emails/empty-domains-state/index.tsx
  client/dashboard/emails/empty-mailboxes-state/index.tsx
  client/dashboard/emails/index.tsx
  client/dashboard/emails/layout.tsx
  client/dashboard/sites/add-new-site/index.tsx
  client/dashboard/sites/empty-sites-state/index.tsx
  client/dashboard/sites/index.tsx
  client/sites/v2/sites-list/style.scss
Owners: @Automattic/lego

MSD: Update gated hosting callouts to use EmptyState.Wrapper. (#108294)
  client/dashboard/components/callout-overlay/index.stories.tsx
  client/dashboard/components/callout-overlay/index.tsx
  client/dashboard/components/callout-overlay/style.scss
  client/dashboard/components/empty-state/index.tsx
  client/dashboard/components/empty-state/style.scss
  client/dashboard/sites/backups/index.tsx
  client/dashboard/sites/deployments/index.tsx
  client/dashboard/sites/hosting-feature-gated-with-callout/activation.tsx
  client/dashboard/sites/hosting-feature-gated-with-callout/index.tsx
  client/dashboard/sites/monitoring/index.tsx
  client/dashboard/sites/performance/index.tsx
  client/dashboard/sites/scan/index.tsx
Owners: @Automattic/lego

MSD: update notices & modals for forced-opt-in users (#108240)
  client/dashboard/components/opt-in-survey/index.tsx
  client/dashboard/components/opt-in-welcome/index.tsx
  client/dashboard/sites/welcome-modal/opt-in-welcome-modal.tsx
Owners: @Automattic/lego

Storage dropdown appears to be misaligned (#108423)
  packages/plans-grid-next/src/_shared.scss
Owners: @Automattic/martech

Remove summer special banner (#108417)
  client/blocks/summer-special-banner/index.jsx
  client/blocks/summer-special-banner/style.scss
  client/my-sites/plans-features-main/index.tsx
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

Unified Chat: Add query string parameters to override agent ID and version (#108421)
  packages/agents-manager/src/components/unified-ai-agent/index.tsx
  packages/agents-manager/src/constants.ts
  packages/agents-manager/src/hooks/use-conversation-list.ts
  packages/agents-manager/src/hooks/use-conversation.ts
Owners: none

ADS-625: Dedicated Woo landing page and small dashboard fixes. (#108169)
  apps/blaze-dashboard/package.json
  apps/blaze-dashboard/src/pages/setup/components/connect-icon.jsx
  apps/blaze-dashboard/src/pages/setup/components/disconnected-site.jsx
  apps/blaze-dashboard/src/pages/setup/components/faq-accordion.jsx
  apps/blaze-dashboard/src/pages/setup/style.scss
  client/assets/images/blaze/get-started.png
  client/my-sites/promote-post-i2/components/campaign-item-details/index.tsx
  client/my-sites/promote-post-i2/components/campaigns-total-stats/index.tsx
  client/my-sites/promote-post-i2/utils/index.ts
  yarn.lock
Owners: none

Remove dependency with Help Center for Agents Manager app. (#108338)
  apps/agents-manager/agents-manager-with-provider.js
  packages/agents-manager/README.md
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/agents-manager.tsx
  packages/agents-manager/src/components/support-guides/index.tsx
  packages/agents-manager/src/components/test/AgentsManager.test.tsx
  packages/agents-manager/src/components/unified-ai-agent/index.tsx
  packages/agents-manager/src/contexts/AgentsManagerContext.tsx
  packages/agents-manager/src/contexts/index.ts
  packages/agents-manager/src/contexts/test/AgentsManagerContext.test.tsx
  packages/agents-manager/src/index.ts
  packages/agents-manager/src/utils/load-external-providers.ts
  packages/data-stores/src/agents-manager/types.ts
  packages/data-stores/src/index.ts
Owners: none

Show expiration notice in blaze credits if they expire in 1 month (#108083)
  client/data/promote-post/use-promote-post-credit-balance-query.ts
  client/my-sites/promote-post-i2/components/credits-notice/index.tsx
  client/my-sites/promote-post-i2/components/credits-notice/style.scss
  client/my-sites/promote-post-i2/components/promoted-post-filter/index.tsx
  client/my-sites/promote-post-i2/components/promoted-post-filter/style.scss
  client/my-sites/promote-post-i2/hooks/use-credit-expiration-lines.ts
  client/my-sites/promote-post-i2/main.tsx
  client/my-sites/promote-post-i2/style.scss
  client/my-sites/promote-post-i2/utils/index.ts
Owners: none

Fix blank site nav (#108436)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
Owners: none

Replace moment library (#108440)
  client/my-sites/promote-post-i2/hooks/use-credit-expiration-lines.ts
Owners: none

Fixup eligibility redirect (#108441)
  client/landing/stepper/declarative-flow/internals/steps-repository/launch-big-sky/index.tsx
Owners: none

Claude: try to improve how it review PRs (#108444)
  .claude/rules/calypso-client.mdc
  .claude/rules/dashboard.mdc
  .github/prompts/dashboard-pr-review.md
  CLAUDE.md
Owners: none

Dashboard: Add cron job management UI (#108103)
  client/dashboard/app/router/sites.tsx
  client/dashboard/components/confirm-modal/index.tsx
  client/dashboard/sites/settings-crontab/add-crontab.tsx
  client/dashboard/sites/settings-crontab/index.tsx
  client/dashboard/sites/settings-crontab/schedule-field.tsx
  client/dashboard/sites/settings-crontab/summary.tsx
  client/dashboard/sites/settings-repositories/dataviews/views.ts
  client/dashboard/sites/settings/index.tsx
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-stage.json
  config/development.json
  packages/api-core/src/index.ts
  packages/api-core/src/site-hosting-crontab/fetchers.ts
  packages/api-core/src/site-hosting-crontab/index.ts
  packages/api-core/src/site-hosting-crontab/mutators.ts
  packages/api-core/src/site-hosting-crontab/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/site-crontab.ts
Owners: @Automattic/lego

Purchase Management: Use payment_expiry_date for credit cards (#108426)
  client/dashboard/utils/purchase.ts
  client/lib/purchases/index.ts
  packages/api-core/src/upgrades/types.ts
  packages/data-stores/src/purchases/lib/assembler.ts
  packages/data-stores/src/purchases/types.ts
Owners: @Automattic/lego

Add/ciab invite branding (#108370)
  client/components/connect-screen/action-buttons/index.tsx
  client/components/connect-screen/action-buttons/style.scss
  client/components/connect-screen/brand-header/index.tsx
  client/components/connect-screen/brand-header/style.scss
  client/components/connect-screen/consent-text/index.tsx
  client/components/connect-screen/consent-text/style.scss
  client/components/connect-screen/loading-screen/index.tsx
  client/components/connect-screen/loading-screen/style.scss
  client/components/connect-screen/permissions-list/index.tsx
  client/components/connect-screen/permissions-list/style.scss
  client/components/connect-screen/screen-layout/index.tsx
  client/components/connect-screen/screen-layout/style.scss
  client/components/connect-screen/stories/index.stories.tsx
  client/components/connect-screen/user-card/index.tsx
  client/components/connect-screen/user-card/style.scss
Owners: none

Removed duplicate search button (#108391)
  client/reader/sidebar/index.jsx
  client/reader/sidebar/style.scss
Owners: @Automattic/loop

ConnectScreen: Improve type definitions for PermissionsList (#108449)
  .storybook/index.scss
  client/components/connect-screen/permissions-list/index.tsx
  client/components/connect-screen/stories/index.stories.tsx
Owners: none

Multi Site Dashboard: Add status badge to the "Domain connection setup" button (#108323)
  client/dashboard/domains/domain-connection-setup/summary.tsx
  client/dashboard/domains/domain-overview/index.tsx
  client/dashboard/domains/domain-overview/settings.tsx
Owners: @Automattic/lego

Dashboard Domains: Change MSD and CIAB domain operation URLs (#108424)
  client/dashboard/app-ciab/index.tsx
  client/dashboard/app-dotcom/index.tsx
  client/dashboard/domains-ciab/add-domain-button.tsx
  client/dashboard/domains-ciab/empty-domains-state/index.tsx
  client/dashboard/domains/empty-domains-state/index.tsx
  client/dashboard/domains/empty-domains-state/layout.tsx
  client/dashboard/domains/index.tsx
  client/dashboard/sites/domains/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/new-or-existing-site/index.tsx
  packages/domain-search/src/ui/domain-search-already-own-domain-cta/index.tsx
Owners: @Automattic/lego

CIAB domains: Fix "Transfer to WordPress.com" link in the MSD dahboard (#108427)
  client/dashboard/domains/dataviews/actions.tsx
  client/landing/stepper/declarative-flow/flows/domain/domain.ts
Owners: @Automattic/lego

Domain Search: Hide free subdomain if user searches for an FQDN (#108349)
  packages/domain-search/src/hooks/use-suggestions-list.ts
  packages/domain-search/src/page/test/results.tsx
Owners: none

AI Tools: Update the link of Image Studio (#108410)
  client/dashboard/sites/settings-ai-tools/index.tsx
Owners: @Automattic/lego

MSD: Add test for empty Site List (#108431)
  client/dashboard/sites/test/index.test.tsx
Owners: @Automattic/lego
