Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Desktop: Pin dual win.publisherName for Windows cert handover (#111456)
  desktop/electron-builder.json
Owners: none

[DOTMSD-1265] Remove embedded empty-state border in dark mode (#111437)
  client/dashboard/app/_dark-theme.scss
Owners: @Automattic/lego

A4A: land Migrations on commissions page when commissions exist (#111283)
  client/a8c-for-agencies/components/sidebar-menu/hooks/use-main-menu-items.tsx
  client/a8c-for-agencies/sections/migrations/controller.tsx
  client/a8c-for-agencies/sections/migrations/index.tsx
  client/a8c-for-agencies/sections/migrations/primary/migrations-landing/index.tsx
Owners: none

Agents Manager: remove the Jetpack AI Sidebar preview feature flag (#111314)
  packages/agents-manager/src/components/__tests__/agent-dock.test.tsx
  packages/agents-manager/src/components/__tests__/chat-header.test.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/chat-header/index.tsx
  packages/agents-manager/src/global.d.ts
  packages/agents-manager/src/utils/jetpack-ai-sidebar-preview.ts
Owners: none

Live Preview: remove dead notice CSS (#111462)
  apps/wpcom-block-editor/src/wpcom/features/live-preview/index.scss
Owners: none

Backup: cap in-progress page width to stop carousel scroll runaway (#111461)
  client/my-sites/backup/style.scss
Owners: none

Global Nav 2026: add Tracks events, fix dropdown height morph + hover (#111439)
  client/layout/use-nav-2026-props.ts
  packages/wpcom-template-parts/jest.config.js
  packages/wpcom-template-parts/src/types.ts
  packages/wpcom-template-parts/src/universal-header-navigation/index.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/menu-items.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/hooks.ts
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/mobile-menu.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/test/tracks.ts
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/tracks.ts
  packages/wpcom-template-parts/src/universal-header-navigation/style.scss
Owners: none

Bump @automattic/charts to 1.5.2 and enable zoom on backend perf chart (#111451)
  client/dashboard/sites/performance/backend/overview/chart-slot.tsx
  client/package.json
  package.json
  yarn.lock
Owners: @Automattic/lego

Global Nav 2026: slide the desktop dropdown open and closed (#111466)
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/hooks.ts
  packages/wpcom-template-parts/src/universal-header-navigation/style.scss
Owners: none

Plugin install: link error screen to WP Admin uploader (#111447)
  client/my-sites/marketplace/pages/marketplace-product-install/index.tsx
Owners: none

Reader Spaces: add feature flag and gated sidebar entry point (#111465)
  client/reader/sidebar/index.jsx
  client/reader/sidebar/menu/index.tsx
  client/reader/sidebar/spaces/index.tsx
  client/reader/sidebar/spaces/space-menu-item.tsx
  client/reader/sidebar/spaces/style.scss
  client/reader/sidebar/spaces/test/index.test.tsx
  client/reader/spaces/controller.tsx
  client/reader/spaces/index.tsx
  client/reader/spaces/spaces-data.ts
  client/reader/spaces/spaces-view.tsx
  client/reader/spaces/style.scss
  client/reader/spaces/test/controller.test.tsx
  client/sections.js
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: @Automattic/loop

Agents Manager: collapse chat to a FAB on pages without the admin bar trigger (#111471)
  packages/agents-manager/src/components/__tests__/agent-chat.test.tsx
  packages/agents-manager/src/components/__tests__/chat-header.test.tsx
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/agent-history/index.tsx
  packages/agents-manager/src/components/chat-header/index.tsx
  packages/agents-manager/src/components/support-guide/index.tsx
  packages/agents-manager/src/components/support-guides/index.tsx
  packages/agents-manager/src/hooks/use-admin-bar-integration/index.tsx
Owners: none

Image Studio: scope Feature Clip sidebar panel to the post post type (#111473)
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.test.tsx
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.tsx
Owners: none

Plans: allow instant downgrade within refund period (#111453)
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/utils/purchase.ts
  client/lib/purchases/index.ts
  client/me/purchases/manage-purchase/index.tsx
  client/my-sites/plans-features-main/components/downgrade-confirmation-modal/index.tsx
  client/my-sites/plans-features-main/components/downgrade-confirmation-modal/style.scss
  client/my-sites/plans-features-main/index.tsx
Owners: @Automattic/lego, @Automattic/shilling

MSD: Exclude staging sites from targeted dashboard surfaces (#111458)
  client/dashboard/app/omnibar/omnibar-site-switcher.tsx
  client/dashboard/sites/index.tsx
  client/dashboard/sites/site-switcher/base.tsx
  packages/api-core/src/me-sites/fetchers.ts
Owners: @Automattic/lego

A4A Referrals: standardized state dropdown for HubSpot-supported countries (A4AOPS-381) (#111293)
  client/a8c-for-agencies/sections/marketplace/refer-hosting/form.tsx
  client/a8c-for-agencies/sections/marketplace/refer-hosting/types.ts
Owners: none

Dashboard: prepare React 19-compatible types (#111363)
  client/dashboard/app/help-center/index.ts
  client/dashboard/components/callout/types.ts
  client/dashboard/components/confirm-modal/index.tsx
  client/dashboard/components/guided-tour/context.tsx
  client/dashboard/components/marked-lines/index.tsx
  client/dashboard/components/menu/index.tsx
  client/dashboard/components/responsive-menu/index.tsx
  client/dashboard/components/section-header/index.tsx
  client/dashboard/components/switcher/switcher-content.tsx
  client/dashboard/me/billing-history/dataviews.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/notifications-extras/extras-toggle-card/index.tsx
  client/dashboard/sites/add-new-site/menu-item.tsx
  client/dashboard/sites/deployments/deployments-callout.tsx
  client/dashboard/sites/logs-activity/activity-logs-callout.tsx
  client/dashboard/sites/logs/logs-callout.tsx
  client/dashboard/sites/logs/test/downloader.test.tsx
  client/dashboard/sites/monitoring/monitoring-callout.tsx
  client/dashboard/sites/performance/performance-callout.tsx
  client/dashboard/sites/settings-caching/index.tsx
Owners: @Automattic/lego

Dashboard: Remove unnecessary explicit return type in ResponsiveMenu (#111481)
  client/dashboard/components/responsive-menu/index.tsx
Owners: @Automattic/lego

Notifications: Center action button labels with flex-basis auto (#108642)
  apps/notifications/src/app/note/style.scss
Owners: none

Dashboard: fix unstable useQueries deps in deployments list (#111459)
  client/dashboard/sites/deployments-list/index.tsx
Owners: @Automattic/lego

Agents Manager: gate the Jetpack AI Sidebar preview on non-Simple sites (#111479)
  apps/agents-manager/__tests__/agents-manager-gutenberg.test.js
  apps/agents-manager/__tests__/jetpack-ai-sidebar-preview-gate.test.js
  apps/agents-manager/agents-manager-gutenberg.jsx
  apps/agents-manager/jetpack-ai-sidebar-preview-gate.js
Owners: none

Dashboard: fix prettier/prettier eslint warnings (#111483)
  client/dashboard/docs/links.md
Owners: @Automattic/lego

Dashboard: add missing translator comments (#111484)
  client/dashboard/app/header/index.tsx
  client/dashboard/components/domain-contact-details-form/contact-form.tsx
  client/dashboard/components/formatted-time/index.ts
  client/dashboard/components/purchase-expiry-status/index.tsx
  client/dashboard/components/site-preview-link/index.tsx
  client/dashboard/components/time-since/index.tsx
  client/dashboard/domains/dataviews/auto-renew-modal.tsx
  client/dashboard/domains/domain-diagnostics/index.tsx
  client/dashboard/domains/domain-overview/index.tsx
  client/dashboard/domains/domain-transfer/transfer-domain-to-any-user.tsx
  client/dashboard/domains/domains-contact-details/index.tsx
  client/dashboard/me/billing-payment-methods/index.tsx
  client/dashboard/me/billing-payment-methods/payment-method-delete-dialog.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/step-components/jetpack-cancellation-offer-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/get-confirmation-copy.ts
  client/dashboard/me/billing-purchases/purchase-product.tsx
  client/dashboard/me/billing-purchases/purchase-settings/purchase-expiring-notice.tsx
  client/dashboard/me/billing-purchases/purchase-settings/upcoming-renewals-dialog.tsx
  client/dashboard/me/billing-tax-details/user-tax-form.tsx
  client/dashboard/me/profile-gravatar/index.tsx
  client/dashboard/plugins/manage/components/action-render-modal.tsx
  client/dashboard/plugins/plugin/index.tsx
  client/dashboard/plugins/scheduled-updates/helpers.ts
  client/dashboard/sites/backup-download/index.tsx
  client/dashboard/sites/backup-restore/index.tsx
  client/dashboard/sites/overview-performance-card/index.tsx
  client/dashboard/sites/overview/storage-warning-banner.tsx
  client/dashboard/sites/scan/index.tsx
  client/dashboard/utils/domain-permissions.ts
Owners: @Automattic/lego

Notifications v2: source detail header from note.header (#111238)
  apps/notifications/src/app/note-icon/style.scss
  apps/notifications/src/app/note-list/dataviews-overrides.scss
  apps/notifications/src/app/note-list/style.scss
  apps/notifications/src/app/templates/note-summary.tsx
  apps/notifications/src/app/types.ts
Owners: none

Notifications: build app-based standalone entry alongside the panel (#111444)
  apps/notifications/package.json
  apps/notifications/src/app/note/index.tsx
  apps/notifications/src/app/note/style.scss
  apps/notifications/src/app/style.scss
  apps/notifications/src/standalone-app/index.jsx
  apps/notifications/src/standalone-app/style.scss
  apps/notifications/webpack.config.js
  yarn.lock
Owners: none

Dashboard: fix empty object type (#111491)
  client/dashboard/emails/entities/types.ts
Owners: @Automattic/lego

desktop: Bump version to 8.2.0-beta1 (#111501)
  desktop/package.json
Owners: none

A4A Agent Studio: Replace chat-first refinement with annotate mode on the one-pager detail (#111498)
  client/a8c-for-agencies/sections/agent-studio/data/use-agent-studio-run.ts
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/annotation-inspector.ts
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/annotation-viewer.scss
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/annotation-viewer.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/format-annotation-instructions.ts
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/output-detail-content.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/pdf-viewer.scss
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/pdf-viewer.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/refine-launcher.scss
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/refine-launcher.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/refine-with-ai-dock.scss
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/refine-with-ai-dock.tsx
Owners: none

A4A: Switch agency image uploads to the dedicated /media endpoint (#111505)
  client/a8c-for-agencies/sections/agent-studio/data/use-upload-agent-media.ts
  client/a8c-for-agencies/sections/marketplace/checkout/request-client-payment.tsx
  client/a8c-for-agencies/sections/partner-directory/agency-details/hooks/use-submit-form.ts
  client/a8c-for-agencies/sections/partner-directory/agency-details/hooks/use-upload-logo.ts
Owners: none

chore: pin third-party GitHub Actions to commit SHAs (#111431)
  .github/workflows/apply-stale-closure-label.yml
  .github/workflows/claude.yml
  .github/workflows/gardening.yml
  .github/workflows/linear-release-creators.yml
  .github/workflows/renovate.yml
  .github/workflows/sentry-release.yml
Owners: none

ADS-1029 Sync Blaze campaign creation strings (#111391)
  client/lib/promote-post/string.ts
Owners: none

Gutenberg E2E: alert on all failures and first success after failure (#111511)
  .teamcity/_self/lib/utils/NotificationLibrary.kt
  .teamcity/_self/projects/WPComTests.kt
Owners: none

Circle CI: Restore Windows and Linux desktop release builds (#111514)
  .circleci/config.yml
Owners: none

Global Nav 2026: wire the A/B experiment into the logged-in layout (#111504)
  client/layout/index.jsx
  client/layout/style.scss
  client/layout/use-nav-2026-props.ts
  client/my-sites/patterns/style.scss
  client/my-sites/plugins/plugins-browser/style.scss
  client/my-sites/themes/theme-showcase.scss
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/app-banner.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/mobile-menu.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/style.scss
Owners: none

desktop: Bump version to 8.2.0-beta2 (#111515)
  desktop/package.json
Owners: none

Remove unreachable legacy podcast UI code (#111499)
  client/my-sites/podcast/components/distribution.tsx
  client/my-sites/podcast/components/episodes.tsx
  client/my-sites/podcast/components/logos.tsx
  client/my-sites/podcast/components/readiness-banner.tsx
  client/my-sites/podcast/components/settings.tsx
  client/my-sites/podcast/components/submit-modal.tsx
  client/my-sites/podcast/components/welcome.tsx
  client/my-sites/podcast/hooks/test/use-submission-issues.test.ts
  client/my-sites/podcast/hooks/use-access-gate.tsx
  client/my-sites/podcast/hooks/use-episode-stats-query.ts
  client/my-sites/podcast/hooks/use-episodes-query.ts
  client/my-sites/podcast/hooks/use-feed-url.ts
  client/my-sites/podcast/hooks/use-has-published-episode.ts
  client/my-sites/podcast/hooks/use-podcatcher-url.ts
  client/my-sites/podcast/hooks/use-submission-issues.ts
  client/my-sites/podcast/main.tsx
  client/my-sites/podcast/style.scss
  client/my-sites/site-settings/podcast-cover-image-setting/index.jsx
  client/my-sites/site-settings/podcast-cover-image-setting/style.scss
  client/my-sites/site-settings/podcasting-details/feed-url.jsx
  client/my-sites/site-settings/podcasting-details/index.jsx
  client/my-sites/site-settings/podcasting-details/no-permissions.jsx
  client/my-sites/site-settings/podcasting-details/not-supported.jsx
  client/my-sites/site-settings/podcasting-details/private-site.tsx
  client/my-sites/site-settings/podcasting-details/publish-notice.jsx
  client/my-sites/site-settings/podcasting-details/style.scss
  client/my-sites/site-settings/podcasting-details/topics-selector.jsx
  client/my-sites/site-settings/podcasting-details/use-topics.js
  client/sections.js
Owners: none

Image Studio: warn before closing Feature Clip modal during generation (#111435)
  packages/image-studio/src/components/confirmation-dialog/index.tsx
  packages/image-studio/src/components/index.tsx
  packages/image-studio/src/hooks/use-unsaved-changes-confirmation.test.js
  packages/image-studio/src/hooks/use-unsaved-changes-confirmation.ts
  packages/image-studio/src/utils/tracking.ts
Owners: none

Reader Spaces: add create-space form (#111525)
  client/reader/data/spaces/index.ts
  client/reader/sidebar/index.jsx
  client/reader/sidebar/menu/index.tsx
  client/reader/sidebar/menu/style.scss
  client/reader/sidebar/spaces/index.tsx
  client/reader/sidebar/spaces/menu-item.tsx
  client/reader/sidebar/spaces/test/index.test.tsx
  client/reader/sidebar/test/index.test.tsx
  client/reader/spaces/AGENTS.md
  client/reader/spaces/controller.tsx
  client/reader/spaces/create-modal/index.tsx
  client/reader/spaces/create-modal/style.scss
  client/reader/spaces/create-modal/test/index.test.tsx
  client/reader/spaces/icons.ts
  client/reader/spaces/index.tsx
  client/reader/spaces/routes.ts
  client/reader/spaces/spaces-data.ts
  client/reader/spaces/view.tsx
  packages/api-core/src/index.ts
  packages/api-core/src/read-spaces/constants.ts
  packages/api-core/src/read-spaces/fetchers.ts
  packages/api-core/src/read-spaces/index.ts
  packages/api-core/src/read-spaces/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/read-spaces.ts
Owners: @Automattic/loop

Plans: Remove getPathSlug (#111472)
  client/blocks/importer/wordpress/upgrade-plan/upgrade-plan-details.tsx
  client/components/theme-tier/theme-tier-badge/test/theme-tier-style-variation-badge.js
  client/components/theme-tier/theme-tier-badge/theme-tier-style-variation-badge.jsx
  client/landing/stepper/declarative-flow/flows/copy-site/copy-site.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-upgrade-plan/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-upgrade-plan/test/index.tsx
  client/me/purchases/manage-purchase/notices.tsx
  client/my-sites/checkout/src/hooks/use-prepare-products-for-cart.ts
  client/my-sites/checkout/src/test/util/index.ts
  client/my-sites/checkout/upsell-nudge/index.tsx
  client/my-sites/earn/home.tsx
  client/my-sites/plans-features-main/hooks/use-generate-action-callback.ts
  client/my-sites/plans-features-main/index.tsx
  client/my-sites/plans/ecommerce-trial/wooexpress-plans/index.tsx
  client/my-sites/plans/trials/business-trial-plans/index.tsx
  client/my-sites/plugins/plugins-discovery-page/upgrade-nudge.jsx
  client/my-sites/themes/banners-modern/plan-upgrade-banner.tsx
  client/my-sites/themes/banners-modern/test/plan-upgrade-banner.test.tsx
  client/my-sites/themes/theme-options.js
  client/state/selectors/get-upgrade-plan-slug-from-path.js
  client/state/selectors/test/get-upgrade-plan-slug-from-path.js
  packages/api-core/src/plans/types.ts
  packages/calypso-products/src/main.ts
  packages/calypso-products/src/plans-list.tsx
  packages/calypso-products/src/types.ts
  packages/data-stores/src/plans/resolvers.ts
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans.tsx
Owners: @Automattic/shilling, @Automattic/martech

Calypso Build and Start time improvements (#111509)
  build-tools/webpack/require-chunk-callback-plugin.js
  client/components/environment-badge/index.jsx
  client/components/environment-badge/style.scss
  client/document/index.jsx
  client/document/test/loading-placeholder.test.tsx
  client/lib/i18n-utils/switch-locale.js
  client/lib/i18n-utils/test/switch-locale.js
  client/server/bundler/index.js
  client/webpack.config.js
  package.json
  packages/calypso-build/webpack/sass.js
Owners: @Automattic/i18n

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
