Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

MSD: SSR omnibar user profile from bootstrapped data (#109594)
  client/dashboard/app/auth/index.tsx
  client/dashboard/app/interim-omnibar/index.tsx
  client/document/index.jsx
  client/layout/masterbar/logged-in.jsx
Owners: @Automattic/lego

Upgrade mini-css-extract-plugin from v1.6.2 to v2.10.2 (#109687)
  packages/calypso-build/package.json
  packages/calypso-build/webpack/sass.js
  packages/webpack-rtl-plugin/package.json
  yarn.lock
Owners: none

MSD: Render notifications and help center when omnibar is enabled (#109659)
  client/dashboard/app/interim-omnibar/click-handlers.ts
  client/dashboard/app/interim-omnibar/index.tsx
  client/dashboard/app/interim-omnibar/omnibar-help-center.tsx
  client/dashboard/app/notifications/index.tsx
  client/dashboard/app/root/index.tsx
Owners: @Automattic/lego

Disable Reader MSD when dashboard omnibar is enabled (#109694)
  client/state/reader-ui/selectors.js
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

Reader: Hide repost for RSS feed posts (#109600)
  client/reader/post/capabilities/index.ts
  client/reader/post/capabilities/test/index.ts
Owners: @Automattic/loop

Reader: Fix clicks tracking on sidebar (#109589)
  client/reader/sidebar/index.jsx
  client/reader/sidebar/test/index.test.tsx
Owners: @Automattic/loop

Reader: Fix reverse tabnabbing in QuickPost by adding noopener,noreferrer (#109559)
  client/reader/components/quick-post/index.tsx
Owners: @Automattic/loop

Reader: Filter subscribed blog from recommended follows dialog (#109499)
  client/blocks/reader-suggested-follows/hooks/use-recommend-or-related-sites-query/index.ts
  client/blocks/reader-suggested-follows/hooks/use-recommend-or-related-sites-query/test/index.test.ts
Owners: @Automattic/loop

Complimentary Subscriptions: remove gift memberships code and sticker gate (#109695)
  client/blocks/reader-site-subscription/details.tsx
  client/blocks/reader-site-subscription/helpers.tsx
  client/landing/subscriptions/components/site-subscriptions-list/site-subscription-row.tsx
  client/landing/subscriptions/components/site-subscriptions-list/styles/site-subscriptions-list.scss
  client/landing/subscriptions/styles/row-title-label.scss
  client/my-sites/subscribers/components/comp-modal/comp-modal.tsx
  client/my-sites/subscribers/components/comp-modal/style.scss
  client/my-sites/subscribers/components/remove-comp-modal/remove-comp-modal.tsx
  client/my-sites/subscribers/components/remove-comp-modal/test/remove-comp-modal.test.tsx
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
  client/my-sites/subscribers/components/subscriber-details/subscriber-details.tsx
  client/my-sites/subscribers/hooks/use-subscription-plans.ts
  client/my-sites/subscribers/main.tsx
  client/my-sites/subscribers/types/index.ts
  client/state/action-types.ts
  client/state/data-layer/wpcom/sites/memberships/index.js
  client/state/memberships/gifts/actions.js
  packages/data-stores/src/reader/types/index.ts
Owners: @Automattic/loop

A4A: Remove a4a-pressable-premium-plans feature flag (#109328)
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/premier-agency-hosting/pressable-plan-section/index.tsx
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/premier-agency-hosting/pressable-plan-section/premium-plan-section.tsx
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

@automattic/launchpad: bump version to 1.2.0 (#109698)
  packages/launchpad/CHANGELOG.md
  packages/launchpad/package.json
Owners: none

Jetpack Connect: add branded SSO flow and site-based partner trigger (#109586)
  client/jetpack-connect/sso-flow-primitives.js
  client/jetpack-connect/sso-partner-branded.jsx
  client/jetpack-connect/sso.jsx
  client/jetpack-connect/style.scss
  client/lib/partner-branding.tsx
  client/package.json
  client/state/jetpack-connect/actions/validate-sso-nonce.js
  yarn.lock
Owners: none

Checkout: Make sure siteId query param is set when creating new site (#109676)
  client/my-sites/checkout/checkout-thank-you/pending/index.tsx
  client/my-sites/checkout/get-thank-you-page-url/index.ts
  client/my-sites/checkout/get-thank-you-page-url/test/get-thank-you-page-url.ts
Owners: @Automattic/shilling

Cancel flow: hide "cancel bundled domain" option when domain is past its refund window (#109573)
  client/dashboard/me/billing-purchases/cancel-purchase/cancellation-main-content.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/domain-options.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/me/purchases/cancel-purchase/domain-options.tsx
  client/state/purchases/test/selectors.js
  packages/api-core/src/upgrades/types.ts
  packages/data-stores/src/purchases/lib/assembler.ts
  packages/data-stores/src/purchases/types.ts
Owners: @Automattic/lego

Domains: Clarify domain terminology consistency on 'Use a domain name I own' page (#108700)
  client/components/domains/use-my-domain/index.jsx
  client/components/domains/use-my-domain/utilities/option-info.js
  packages/calypso-e2e/src/lib/pages/use-a-domain-i-own-page.ts
Owners: @Automattic/quake

Update the rollout date (#109707)
  client/my-sites/plans-features-main/hooks/test/use-renewal-price-experiment.ts
  client/my-sites/plans-features-main/hooks/use-renewal-price-experiment.ts
Owners: none

Enhancement: Restrict site deletion to store owners for garden sites (#109345)
  client/dashboard/app-ciab/translations.ts
Owners: @Automattic/lego

Fetch site for new purchase on pending page after transaction complete (#109709)
  client/my-sites/checkout/checkout-thank-you/pending/index.tsx
Owners: none

Show pagination for sites list in CIAB dashboard (#109523)
  client/dashboard/sites-ciab/index.tsx
Owners: @Automattic/lego

Checkout pending: Refetch user in unified flow (#109711)
  client/my-sites/checkout/checkout-thank-you/pending/index.tsx
Owners: none

Privacy toolset: Add decline non-essentials option (#109701)
  packages/privacy-toolset/.storybook/preview.js
  packages/privacy-toolset/src/cookie-banner/consts.ts
  packages/privacy-toolset/src/cookie-banner/cookie-banner.stories.tsx
  packages/privacy-toolset/src/cookie-banner/customized-consent.tsx
  packages/privacy-toolset/src/cookie-banner/index.tsx
  packages/privacy-toolset/src/cookie-banner/simple-consent.tsx
  packages/privacy-toolset/src/cookie-banner/styles.scss
  packages/privacy-toolset/src/cookie-banner/test/__snapshots__/cookie-banner.tsx.snap
  packages/privacy-toolset/src/cookie-banner/types.d.ts
Owners: none

Fix double underline in stats usage meter (#109696)
  client/my-sites/stats/stats-plan-usage/style.scss
Owners: none

Activity Log v1 & v2: Migrate headers to admin-ui Page (#109629)
  client/components/jetpack-page-layout/_admin-ui-page.scss
  client/my-sites/activity/activity-log-v2/index.tsx
  client/my-sites/activity/activity-log-v2/style.scss
  client/my-sites/activity/activity-log/index.jsx
Owners: none

composite-checkout: Scroll next step into view when changing steps (#109715)
  client/my-sites/checkout/src/components/checkout-main-content.tsx
  packages/composite-checkout/README.md
  packages/composite-checkout/src/components/checkout-steps.tsx
Owners: @Automattic/shilling

Scan: Migrate all headers to admin-ui Page (#109625)
  client/my-sites/scan/history/index.tsx
  client/my-sites/scan/main.tsx
  client/my-sites/scan/style.scss
  client/my-sites/scan/wpcom-atomic-transfer.tsx
  client/my-sites/scan/wpcom-scan-upsell-placeholder.tsx
  client/my-sites/scan/wpcom-scan-upsell.tsx
  client/my-sites/scan/wpcom-upsell.tsx
Owners: none

Backup: Migrate all headers to admin-ui Page (#109626)
  client/components/jetpack/backup-getting-started/style.scss
  client/components/jetpack/backup-now-button/index.tsx
  client/components/jetpack/wpcom-business-at/index.tsx
  client/my-sites/backup/main.jsx
  client/my-sites/backup/style.scss
  client/my-sites/backup/wpcom-backup-upsell-placeholder.tsx
  client/my-sites/backup/wpcom-backup-upsell.tsx
  client/my-sites/backup/wpcom-upsell.tsx
Owners: none

MSD Sidebar: Add border-radius to external link menu items (#109645)
  client/dashboard/components/sidebar/sidebar-menu-item.scss
Owners: @Automattic/lego

Dashboard: Remove Privacy sidebar link and me.privacy config flag (#109686)
  client/dashboard/app-ciab/index.tsx
  client/dashboard/app-dotcom/index.tsx
  client/dashboard/app/context.tsx
  client/dashboard/app/router/me.tsx
  client/dashboard/me/me-sidebar/index.tsx
  client/dashboard/me/preferences/index.tsx
Owners: @Automattic/lego

MSD Sidebar: Remove MCP item from sidebar (#109722)
  client/dashboard/me/me-sidebar/index.tsx
Owners: @Automattic/lego

Fix "Resend email" on /me/account for unverified emails (#109723)
  client/me/email-verification-banner/index.tsx
Owners: none

Fix "Resend email" for unverified original emails on /me/account (#109724)
  client/me/email-verification-banner/index.tsx
Owners: none

Fix "Resend email" on /me/account by using send-verification-email endpoint (#109725)
  client/me/email-verification-banner/index.tsx
Owners: none

Fix Resend email on /me/account for pending email changes (#109726)
  client/me/email-verification-banner/index.tsx
Owners: none

MSD sidebar: don't show site menus for incoming migration (#109689)
  client/dashboard/sites/site-sidebar/index.tsx
Owners: @Automattic/lego

MSD Sidebar: Replace Navigator with custom SidebarScreen component (#109595)
  client/dashboard/app-dotcom/logo.tsx
  client/dashboard/app/responsive-sidebar/error.tsx
  client/dashboard/app/responsive-sidebar/navigator-route-sync.tsx
  client/dashboard/app/responsive-sidebar/sidebar.scss
  client/dashboard/app/responsive-sidebar/sidebar.tsx
  client/dashboard/app/responsive-sidebar/test/navigator-route-sync.test.ts
  client/dashboard/components/sidebar-navigator/context.ts
  client/dashboard/components/sidebar-navigator/index.tsx
  client/dashboard/components/sidebar-navigator/sidebar-navigator-screen.tsx
  client/dashboard/components/sidebar-navigator/style.scss
  client/dashboard/domains/domain-sidebar/index.tsx
  client/dashboard/sites/site-sidebar/index.tsx
Owners: @Automattic/lego

MSD: Redirect to reauth when AI tools settings require it (#109693)
  client/dashboard/app/router/sites.tsx
Owners: @Automattic/lego

MSD: Dismiss notifications panel when help center opens and vice versa (#109703)
  client/dashboard/app/notifications/index.tsx
Owners: @Automattic/lego

Fix recovery SMS rejecting valid 350 area code numbers (#109729)
  client/lib/phone-validation/test/index.jsx
  client/package.json
  yarn.lock
Owners: none

MSD: Handle reauthorization_required in global error component (#109728)
  client/dashboard/app/500/index.tsx
  client/dashboard/app/router/sites.tsx
Owners: @Automattic/lego

E2E: Support Central Form Management in Jetpack Forms tests (#109674)
  packages/calypso-e2e/src/lib/blocks/block-flows/contact-form.ts
  packages/calypso-e2e/src/lib/blocks/block-flows/form-patterns.ts
  packages/calypso-e2e/src/lib/blocks/block-flows/shared/block-helpers.ts
  packages/calypso-e2e/src/lib/pages/editor-page.ts
  packages/calypso-e2e/src/lib/pages/feedback-inbox-page.ts
  test/e2e/specs/published-content/forms__submissions.ts
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
