Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

APM: Migrate Transactions/Database/External/WordPress tabs to real aggregate data (#110851)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/performance/backend/aggregate.ts
  client/dashboard/sites/performance/backend/database/index.tsx
  client/dashboard/sites/performance/backend/external-requests/index.tsx
  client/dashboard/sites/performance/backend/mock-data.ts
  client/dashboard/sites/performance/backend/test/index.test.tsx
  client/dashboard/sites/performance/backend/transactions/index.tsx
  client/dashboard/sites/performance/backend/wordpress/index.tsx
Owners: @Automattic/lego

Fix Jetpack Search settings URL (#110799)
  client/state/sites/selectors/get-jetpack-search-customize-url.js
  client/state/sites/test/selectors.js
Owners: none

Reader onboarding rsm - update tracking events (#110875)
  client/reader/onboarding-rsm/curated-blogs/creative-arts.tsx
  client/reader/onboarding-rsm/index.tsx
  client/reader/onboarding-rsm/interests-modal/index.tsx
  client/reader/onboarding-rsm/interests-modal/test/index.test.tsx
  client/reader/onboarding-rsm/subscribe-modal/index.tsx
  client/reader/onboarding-rsm/subscribe-modal/test/index.test.tsx
  client/reader/onboarding-rsm/test/index.test.tsx
Owners: @Automattic/loop

Preserve Telegram bot on connect (#110876)
  client/telegram-connect/controller.js
  client/telegram-connect/main.jsx
Owners: none

Onboarding plans: redirect free plan selections to choose test (#110877)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
Owners: none

APM: Add timeframe selector and meaningful empty-state notices (#110873)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/performance/backend/backend-status.tsx
  client/dashboard/sites/performance/backend/database/index.tsx
  client/dashboard/sites/performance/backend/external-requests/index.tsx
  client/dashboard/sites/performance/backend/index.tsx
  client/dashboard/sites/performance/backend/overview/index.tsx
  client/dashboard/sites/performance/backend/test/index.test.tsx
  client/dashboard/sites/performance/backend/timeframe-selector.tsx
  client/dashboard/sites/performance/backend/timeframe.ts
  client/dashboard/sites/performance/backend/transactions/index.tsx
  client/dashboard/sites/performance/backend/wordpress/index.tsx
  packages/api-queries/src/site-apm.ts
Owners: @Automattic/lego

Dashboard: Opt SelectControl uses into __next40pxDefaultSize (#110883)
  client/dashboard/sites/performance/backend/timeframe-selector.tsx
  client/dashboard/sites/settings-crontab/schedule-field.tsx
Owners: @Automattic/lego

Cancel/refund: blend split-cancel-remove A/B test variants (#110879)
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/refund-eligibility-notice.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/test/refund-eligibility-notice.test.tsx
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/me/purchases/cancel-purchase/index.tsx
  client/me/purchases/cancel-purchase/refund-eligibility-notice.tsx
  client/me/purchases/cancel-purchase/style.scss
  client/me/purchases/manage-purchase/index.tsx
Owners: @Automattic/lego, @Automattic/shilling

Revert "Onboarding plans: redirect free plan selections to choose test (#110877)" (#110885)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
Owners: none

Podcast: redirect Calypso settings routes to wp-admin SPA (#110844)
  client/my-sites/podcast/controller.ts
  client/my-sites/sidebar/static-data/fallback-menu.js
  client/my-sites/site-settings/settings-podcast/controller.ts
Owners: none

Renewal pricing: display the monthly crossed-out price when the user is ineligible for intro offer (#110872)
  packages/plans-grid-next/src/components/shared/header-price/index.tsx
  packages/plans-grid-next/src/components/test/header-price.tsx
Owners: @Automattic/martech

Fix login locale boot race (#110888)
  client/landing/login/index.js
Owners: none

Fix date range picker hidden presets test (#110890)
  packages/date-range-picker/src/test/date-range-picker.test.tsx
Owners: none

Fix cancel mutation never firing for dialog products (#110892)
  client/me/purchases/cancel-purchase/index.tsx
Owners: none

Fix MarTech ToS screenshot target URL (#110894)
  .teamcity/_self/projects/MarTech.kt
Owners: none

Fix MarTech ToS screenshot uploads (#110895)
  test/e2e/lib/martech-tos-helper.js
Owners: none

Fix MarTech ToS signup screenshot readiness (#110896)
  test/e2e/specs/martech/tos-screenshots__signup.ts
Owners: none

Help Center: Enable logged-out FAB in stage and production (#110897)
  config/production.json
  config/stage.json
Owners: none

Reader: drop inaccurate "Reconnect" copy for Bluesky and Fediverse (#110884)
  client/reader/atmosphere/author-profile-panel.tsx
  client/reader/atmosphere/composer-config.tsx
  client/reader/atmosphere/followers-view.tsx
  client/reader/atmosphere/following-view.tsx
  client/reader/atmosphere/profile-errors.ts
  client/reader/atmosphere/tag-feed-panel.tsx
  client/reader/atmosphere/test/composer-config.test.tsx
  client/reader/atmosphere/test/standalone-compose.test.tsx
  client/reader/atmosphere/test/thread-panel.test.tsx
  client/reader/atmosphere/test/timeline-panel.test.tsx
  client/reader/atmosphere/thread-panel.tsx
  client/reader/atmosphere/timeline-panel.tsx
  client/reader/atmosphere/use-atmosphere-like-action.ts
  client/reader/atmosphere/use-atmosphere-repost-action.ts
  client/reader/fediverse/author-profile-panel.tsx
  client/reader/fediverse/composer-config.tsx
  client/reader/fediverse/followers-view.tsx
  client/reader/fediverse/following-view.tsx
  client/reader/fediverse/profile-errors.ts
  client/reader/fediverse/test/followers-view.test.tsx
  client/reader/fediverse/test/profile-errors.test.ts
  client/reader/fediverse/timeline-panel.tsx
  client/reader/social/account-list.tsx
  client/reader/social/author-profile-panel.tsx
  client/reader/social/components/feed-list/feed-list-empty.tsx
  client/reader/social/components/feed-list/index.tsx
  client/reader/social/components/feed-list/test/feed-list-empty.test.tsx
  client/reader/social/components/post-card/post-actions-menu.tsx
  client/reader/social/components/post-card/test/like-button.test.tsx
  client/reader/social/components/post-card/test/repost-button.test.tsx
Owners: @Automattic/loop

Migrate the #wpcom root to createRoot / hydrateRoot (#110857)
  client/controller/index.web.jsx
  client/controller/web-util.js
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

Reader social: extract shared SocialTagFeedHeader (#110881)
  client/reader/atmosphere/tag-feed-panel.tsx
  client/reader/mastodon/style.scss
  client/reader/mastodon/tag-feed-panel.tsx
  client/reader/social/index.ts
  client/reader/social/tag-feed-header.scss
  client/reader/social/tag-feed-header.tsx
  client/reader/social/test/tag-feed-header.test.tsx
Owners: @Automattic/loop

A4A Agent Studio: wire the one-pager flow to the real wpcom pipeline (#110900)
  client/a8c-for-agencies/lib/permission.ts
  client/a8c-for-agencies/sections/agent-studio/controller.tsx
  client/a8c-for-agencies/sections/agent-studio/data/agent-studio-service.ts
  client/a8c-for-agencies/sections/agent-studio/data/mock-agent-studio-service.ts
  client/a8c-for-agencies/sections/agent-studio/data/test/mock-agent-studio-service.test.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-agent-studio-collateral.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-agent-studio-output.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-agent-studio-outputs.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-agent-studio-run.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-agent-studio-variant-html.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-create-agent-studio-output.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-delete-agent-studio-output.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-prefetch-agent-studio-variant-html.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-suggest-one-pager-content.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-upload-agent-media.ts
  client/a8c-for-agencies/sections/agent-studio/data/wpcom-agent-studio-service.ts
  client/a8c-for-agencies/sections/agent-studio/lib/agents.ts
  client/a8c-for-agencies/sections/agent-studio/lib/paths.ts
  client/a8c-for-agencies/sections/agent-studio/primary/brief/generating-overlay.scss
  client/a8c-for-agencies/sections/agent-studio/primary/brief/generating-overlay.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/brief/logo-upload-field.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/brief/one-pager-brief-form.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/brief/style.scss
  client/a8c-for-agencies/sections/agent-studio/primary/brief/use-submit-one-pager-brief.ts
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/index.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/output-detail-content.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/pdf-viewer.scss
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/pdf-viewer.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/split-pages.ts
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/style.scss
  client/a8c-for-agencies/sections/agent-studio/primary/overview/deliverable-card.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/overview/style.scss
  client/a8c-for-agencies/sections/agent-studio/types.ts
  client/a8c-for-agencies/sections/learn/index.ts
Owners: none

Centralize shared dark mode tokens (#110818)
  client/blocks/reader-full-post/style.scss
  client/dashboard/AGENTS.md
  client/dashboard/app/_dark-theme.scss
  client/dashboard/app/dark-theme/utils/_mixins.scss
  client/lib/color-scheme/dark-theme.scss
  client/lib/color-scheme/test/classic-provider.test.jsx
  client/lib/color-scheme/test/query-provider.test.tsx
  client/my-sites/theme/theme-download-card/style.scss
  client/my-sites/theme/theme-support-tab/style.scss
  client/my-sites/themes/_dark-mode.scss
  client/reader/color-scheme/dark-mode.scss
  client/reader/components/quick-post/style.scss
  test/e2e/specs/color-scheme/dark-mode-surfaces.spec.ts
Owners: @Automattic/loop, @Automattic/lego

Gate themes dark mode behind dashboard opt-in (#110825)
  client/my-sites/theme/main.jsx
  client/my-sites/themes/helpers.js
  client/my-sites/themes/test/helpers.js
  client/my-sites/themes/theme-showcase.jsx
Owners: none

Reader quick post: drop duplicate .site-selector .site.is-selected rule (#110906)
  client/reader/components/quick-post/style.scss
Owners: @Automattic/loop

Fix dictation countdown (#110910)
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/client-secret.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/use-realtime-session.ts
Owners: none

Admin sidebar redesign: groupMenuItems() utility + grouped section component (A.3 Phase 1 tasks 1.3 + 1.4) (#110578)
  client/layout/sidebar/item.jsx
  client/my-sites/sidebar/body.jsx
  client/my-sites/sidebar/item.jsx
  client/my-sites/sidebar/sidebar-group.jsx
  client/my-sites/sidebar/sidebar-group.scss
  client/my-sites/sidebar/sidebar-group.stories.tsx
  client/my-sites/sidebar/signal-badge.scss
  client/my-sites/sidebar/signal-badge.stories.tsx
  client/my-sites/sidebar/signal-badge.tsx
  client/my-sites/sidebar/style.scss
  client/my-sites/sidebar/test/sidebar-group.jsx
  client/my-sites/sidebar/test/signal-badge.tsx
  client/my-sites/sidebar/utils/group-menu-items.ts
  client/my-sites/sidebar/utils/resolve-item-signal.ts
  client/my-sites/sidebar/utils/test/fixtures/grouped-menu-fixture.ts
  client/my-sites/sidebar/utils/test/group-menu-items.ts
  client/my-sites/sidebar/utils/test/resolve-item-signal.ts
  client/state/action-types.ts
  client/state/admin-menu/actions/index.js
  client/state/admin-menu/reducer.js
  client/state/admin-menu/schema.js
  client/state/admin-menu/selectors/grouped.ts
  client/state/admin-menu/selectors/index.js
  client/state/admin-menu/test/actions.js
  client/state/admin-menu/test/fixture/menu-fixture.js
  client/state/admin-menu/test/grouped.ts
  client/state/admin-menu/test/reducer.js
  client/state/admin-menu/test/selectors.js
  client/state/admin-menu/types.ts
  client/state/admin-sidebar/expand-state/actions.ts
  client/state/admin-sidebar/expand-state/init.ts
  client/state/admin-sidebar/expand-state/package.json
  client/state/admin-sidebar/expand-state/reducer.ts
  client/state/admin-sidebar/expand-state/schema.ts
  client/state/admin-sidebar/expand-state/selectors.ts
  client/state/admin-sidebar/expand-state/test/reducer.ts
  client/state/admin-sidebar/expand-state/test/selectors.ts
  client/state/data-layer/wpcom/sites/admin-menu/index.js
  client/types/deep-freeze.d.ts
Owners: none

Bump Site Spec widget to v1.6.0 (#110908)
  config/_shared.json
Owners: none

A4A Agent Studio: upload media via existing endpoint (#110905)
  client/a8c-for-agencies/sections/agent-studio/data/use-upload-agent-media.ts
Owners: none

Skip flaky dark mode surfaces spec (#110914)
  test/e2e/specs/color-scheme/dark-mode-surfaces.spec.ts
Owners: none

AI Site Builder: enable Vega site-spec for all /sites Create with AI (#110901)
  client/components/sites-add-new-site/index.tsx
  client/dashboard/sites/add-new-site/index.tsx
  client/dashboard/sites/ai-site-builder-spec-flow.ts
  client/dashboard/sites/empty-sites-state/index.tsx
  client/dashboard/sites/index.tsx
  client/dashboard/sites/site-switcher/index.tsx
  client/dashboard/sites/use-ai-site-builder-path.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/site-spec/index.tsx
  client/lib/site-spec/index.ts
  client/lib/site-spec/test/vega.test.ts
  client/lib/site-spec/use-ai-site-builder-path.ts
  client/lib/site-spec/vega.ts
Owners: @Automattic/lego

Remove the calypso/react-18-create-root feature flag (#110904)
  client/controller/web-util.js
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

Fix toggle group dark mode colors (#110907)
  client/lib/color-scheme/dark-theme.scss
Owners: none

Dark mode E2E: satisfy themes opt-in gate, unskip Themes suite (#110918)
  test/e2e/specs/color-scheme/dark-mode-surfaces.spec.ts
Owners: none

QR Code App Login: add /me/security/qr-login page (#110490)
  client/blocks/qr-code-app-login/index.tsx
  client/blocks/qr-code-app-login/log-error.ts
  client/blocks/qr-code-app-login/qr-code.tsx
  client/blocks/qr-code-app-login/style.scss
  client/blocks/qr-code-app-login/test/index.test.tsx
  client/blocks/qr-code-app-login/test/use-countdown.test.ts
  client/blocks/qr-code-app-login/test/use-status.test.ts
  client/blocks/qr-code-app-login/timer-bar.tsx
  client/blocks/qr-code-app-login/types.ts
  client/blocks/qr-code-app-login/use-approve.ts
  client/blocks/qr-code-app-login/use-countdown.ts
  client/blocks/qr-code-app-login/use-create-token.ts
  client/blocks/qr-code-app-login/use-document-visible.ts
  client/blocks/qr-code-app-login/use-status.ts
  client/controller/index.web.jsx
  client/controller/test/controller.js
  client/document/index.jsx
  client/document/test/loading-placeholder.test.tsx
  client/layout/logged-out.jsx
  client/layout/test/index.js
  client/me/qr-code-app-login/index.tsx
  client/me/qr-code-app-login/style.scss
  client/me/security/controller.jsx
  client/me/security/index.js
  client/server/pages/index.js
  client/server/pages/test/index.js
Owners: none

APM: Remove total-time headline from WordPress tab sections (#110899)
  client/dashboard/sites/performance/backend/wordpress/index.tsx
Owners: @Automattic/lego

Onboarding plans: redirect free plan selections to the choose page (#110916)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
Owners: none

Jetpack Connect: add area AGENTS.md and connection-content README (#110821)
  client/jetpack-connect/AGENTS.md
  client/jetpack-connect/connection-content/README.md
Owners: none

Revert "Onboarding plans: redirect free plan selections to the choose page (#…" (#110924)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
Owners: none

Desktop: guard menu handlers against null window/view on macOS (#110923)
  desktop/app/lib/menu/app-menu.js
  desktop/app/lib/menu/help-menu.js
  desktop/app/lib/menu/view-menu.js
Owners: none
