Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

MSD Sites: Fix the actions position on grid view (#108591)
  client/dashboard/sites/dataviews/sites-dataviews.tsx
  client/dashboard/sites/site-fields/index.tsx
Owners: @Automattic/lego

MSD Plugins: Fix the position of Plugin up to update text (#108593)
  client/dashboard/plugins/manage/components/plugins-header-actions.tsx
Owners: @Automattic/lego

MSD: Use DataViewsEmptyStateLayout for scan empty states (#108551)
  client/dashboard/sites/scan-active/index.tsx
  client/dashboard/sites/scan-active/no-threats-illustration.svg
  client/dashboard/sites/scan-history/index.tsx
Owners: @Automattic/lego

MSD: add tests for Site Overview screen (#108486)
  client/dashboard/components/callout/index.tsx
  client/dashboard/components/overview-card/index.tsx
  client/dashboard/sites/overview-flex-usage-card/index.tsx
  client/dashboard/sites/overview-latest-activity-card/index.tsx
  client/dashboard/sites/overview/test/index.test.tsx
  client/dashboard/sites/test/index.test.tsx
Owners: @Automattic/lego

Dashboard: keep delete button spinning after successful site deletion (#108615)
  client/dashboard/sites/site-delete-modal/index.tsx
Owners: @Automattic/lego

MSD Profile: Display error message when the user fails to save email (#108613)
  client/dashboard/me/profile-personal-details/index.tsx
Owners: @Automattic/lego

A4A Referrals: Add CSV download for commissions (#108217)
  client/a8c-for-agencies/components/consolidated-stats-card/index.tsx
  client/a8c-for-agencies/sections/referrals/consolidated-view/index.tsx
  client/a8c-for-agencies/sections/referrals/consolidated-view/payout-cards.tsx
  client/a8c-for-agencies/sections/referrals/hooks/use-download-commissions-csv.ts
  client/a8c-for-agencies/sections/referrals/hooks/use-get-referral-commission-payout.ts
  client/a8c-for-agencies/sections/referrals/lib/generate-commissions-csv.ts
  client/a8c-for-agencies/sections/referrals/primary/referrals-overview/index.tsx
  client/a8c-for-agencies/sections/referrals/primary/referrals-overview/layout-body-content.tsx
  client/a8c-for-agencies/sections/referrals/referral-details/commissions.tsx
  client/a8c-for-agencies/sections/referrals/referral-details/index.tsx
  client/a8c-for-agencies/sections/referrals/types.ts
Owners: none

Agents Manager: fix persistent route load order (#108587)
  packages/agents-manager/src/components/unified-ai-agent/index.tsx
Owners: none

Agents Manager: fix border radius in admin tool corners (#108595)
  packages/agents-manager/src/hooks/use-admin-bar-integration/style.scss
Owners: none

Refactor isTestModeEnvironment (#108165)
  packages/zendesk-client/jest.config.js
  packages/zendesk-client/src/util.tsx
  packages/zendesk-client/test/util.test.tsx
Owners: none

Agents Manager: fixes for Jetpack (#108556)
  packages/agents-manager/src/hooks/use-agent-layout-manager/fixes-jetpack.scss
  packages/agents-manager/src/hooks/use-agent-layout-manager/style.scss
Owners: none

Reader: Adds "New Subscription" page (#108559)
  client/reader/controller.js
  client/reader/discover/components/navigation/index.tsx
  client/reader/discover/components/navigation/style.scss
  client/reader/discover/index.node.js
  client/reader/discover/index.web.js
  client/reader/discover/routes/index.ts
  client/reader/discover/routes/test/index.test.ts
  client/reader/index.ts
  client/reader/new-subscription/index.tsx
  client/reader/test/utils.ts
  client/reader/utils.ts
Owners: @Automattic/loop

Add A4A-2071 payout error notice (#108588)
  client/a8c-for-agencies/sections/migrations/primary/migrations-commissions/index.tsx
  client/a8c-for-agencies/sections/referrals/common/missing-payment-settings-notice/index.tsx
  client/a8c-for-agencies/sections/referrals/primary/referrals-overview/index.tsx
  client/a8c-for-agencies/sections/woopayments/missing-payment-settings-notice/index.tsx
  client/a8c-for-agencies/sections/woopayments/missing-payment-settings-notice/style.scss
  client/a8c-for-agencies/sections/woopayments/primary/woopayments-dashboard/index.tsx
Owners: none

Forums: Add different resource at the bottom when on forums (#108604)
  apps/happy-blocks/block-library/support-content-footer/index.php
Owners: none

Agents Manager: Add more custom events (#108558)
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/global.d.ts
  packages/agents-manager/src/hooks/use-custom-event-handler/README.md
  packages/agents-manager/src/hooks/use-custom-event-handler/index.ts
  packages/agents-manager/src/hooks/use-setup-custom-actions/README.md
  packages/agents-manager/src/hooks/use-setup-custom-actions/index.ts
Owners: none

Newsletter Settings: Fix toggle control spacing (#108617)
  client/my-sites/site-settings/settings-newsletter/style.scss
Owners: none

Add missing config for hc app (#108619)
  apps/help-center/config.js
Owners: none

Fix untranslated "Have an account?" text on signup form (#108620)
  client/blocks/signup-form/signup-form-social-first.tsx
Owners: none

Suggested follows dialog - consider isLoading in check to close modal. (#108610)
  client/blocks/reader-suggested-follows/dialog.jsx
Owners: @Automattic/loop

Processing Step: Remove text-center alignment so the animation from the start (#108622)
  client/landing/stepper/declarative-flow/internals/steps-repository/processing-step/style.scss
Owners: none

Search Card: Remove loading state (#108592)
  apps/happy-blocks/block-library/search-card/index.php
  apps/happy-blocks/block-library/search-card/view-odie.js
Owners: none

Reader: Update Freshly Pressed RSS feed url (#108597)
  client/reader/discover/discover-document-head.js
Owners: @Automattic/loop

Remove border and padding for reader post actions (#108566)
  client/blocks/reader-post-actions/style.scss
Owners: @Automattic/loop

Support search card: Fixing wrong CSS selector (#108632)
  apps/happy-blocks/block-library/search-card/index.php
  apps/happy-blocks/block-library/search-card/style.scss
  apps/happy-blocks/block-library/search-card/view-odie.js
Owners: none

Claude: update denied paths to focus on secrets (#108579)
  .claude/settings.json
Owners: none

Fix CIAB social login redirecting to my.wordpress.com/wp-login.php (#108633)
  client/signup/wpcom-login-form/index.jsx
  client/signup/wpcom-login-form/test/index.jsx
Owners: none

Dashboard: add multi-hostname support via hostname_allowlist (#108583)
  client/server/render/index.js
  config/_shared.json
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  config/development.json
Owners: none

Checkout: Add existing PayPal PPCP payment method (#108571)
  client/dashboard/components/paypal-logo.tsx
  client/dashboard/me/billing-purchases/payment-methods/paypal-payment-method.tsx
  client/my-sites/checkout/src/components/checkout-main.tsx
  client/my-sites/checkout/src/hooks/use-create-payment-methods/index.tsx
  client/my-sites/checkout/src/hooks/use-create-payment-methods/use-create-existing-paypal-ppcp.ts
  client/my-sites/checkout/src/lib/existing-paypal-ppcp-processor.ts
  client/my-sites/checkout/src/payment-methods/existing-paypal-ppcp/index.tsx
  client/my-sites/checkout/src/payment-methods/paypal-js.tsx
  client/my-sites/checkout/src/payment-methods/paypal.tsx
  packages/api-core/src/me-payment-methods/types.ts
  packages/wpcom-checkout/src/is-payment-method-enabled.ts
  packages/wpcom-checkout/src/stored-payment-method-util.tsx
  packages/wpcom-checkout/src/translate-payment-method-names.ts
  packages/wpcom-checkout/src/types.ts
Owners: @Automattic/lego, @Automattic/shilling

Fix Delete Site "Manage Purchases" link to navigate to site-specific purchases (#108569)
  client/sites/settings/administration/tools/delete-site/delete-site-warnings.jsx
  client/sites/settings/administration/tools/delete-site/index.jsx
Owners: none

Dashboard: Hide opt-in survey for CIAB (#108616)
  client/dashboard/components/opt-in-survey/index.tsx
Owners: @Automattic/lego

Dashboard: Fix untranslated strings in domain and account settings (#108640)
  client/dashboard/domains/domain-forwarding/form.tsx
  client/dashboard/domains/domain-security/dnssec.tsx
  client/dashboard/domains/domain-transfer/select-ips-tag.tsx
  client/dashboard/domains/domain-transfer/select-site.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/notifications-emails/subscription-settings/form.tsx
Owners: @Automattic/lego

Agents Manager: Fix chat history list ordering (#108605)
  packages/agents-manager/src/components/conversation-history-view/index.tsx
  packages/agents-manager/src/hooks/use-conversation-list.ts
  packages/agents-manager/src/utils/conversation-history-formatters.ts
Owners: none

Fix `Insert Hero block and enter heading` e2e test (#108626)
  packages/calypso-e2e/src/lib/blocks/hero-block.ts
  test/e2e/specs/blocks/blocks__coblocks__blocks.ts
Owners: none

Fix `Expected content is in published post` e2e test (#108628)
  packages/calypso-e2e/src/lib/blocks/block-flows/form-ai.ts
Owners: none

Fix `Youtube Embed: Expected content is in published post` (#108608)
  packages/calypso-e2e/src/lib/blocks/block-flows/youtube.ts
Owners: none

MSD: add more unit test examples for form submission (#108602)
  .claude/rules/dashboard-testing.md
  .cursor/rules/dashboard-testing.mdc
  client/dashboard/sites/settings-php/test/index.test.tsx
  client/dashboard/sites/settings-site-visibility/test/index.test.tsx
  client/dashboard/sites/settings-wordpress/test/index.test.tsx
Owners: @Automattic/lego

Domains: show site name in detach domain action and modal (#108634)
  client/dashboard/domains/domain-overview/actions.tsx
  client/my-sites/domains/domain-management/components/domain/domain-info-card/disconnect/index.tsx
Owners: @Automattic/lego

Stepper: Skip rendering Help Center in CIAB flows (#108650)
  client/landing/stepper/index.tsx
Owners: @Automattic/dotcom-stepper

Fix orphan/runt in signup slider headlines (#108653)
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/style.scss
Owners: none

Show a loading animation while we wait for fetching playground client dynamically (#108618)
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/components/playground-iframe/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/components/playground-iframe/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/lib/initialize-playground.ts
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
