Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Hide Jetpack app promo for branded magic login flows (ARC-1607) (#109175)
  client/login/magic-login/index.jsx
  client/login/magic-login/test/index.test.jsx
Owners: none

Fix unified invite crash for logged-in accepts and constrain logged-out layout (#109185)
  client/my-sites/invites-unified/index.tsx
  client/my-sites/invites-unified/screens/test/accept-invite-screen.test.tsx
  client/my-sites/invites-unified/screens/test/already-member-screen.test.tsx
  client/my-sites/invites-unified/screens/test/email-mismatch-screen.test.tsx
  client/my-sites/invites-unified/style.scss
  client/my-sites/invites-unified/test/index.test.tsx
Owners: none

Revert Woo dashboard to cookie-based auth (#109187)
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
Owners: none

A4A: Fix referral commissions data accuracy (#109078)
  client/a8c-for-agencies/sections/referrals/lib/generate-commissions-csv.ts
  client/a8c-for-agencies/sections/referrals/referrals-list/commissions-column.tsx
Owners: none

Billing: Fix purchase item icon sizing and remove stray semicolons (#109189)
  client/me/purchases/purchase-item/index.tsx
  client/me/purchases/style.scss
Owners: none

Reader: Support arrow keys to navigate posts (#109130)
  client/blocks/reader-full-post/index.jsx
  client/reader/stream/index.jsx
Owners: @Automattic/loop

Reader: Improve display of posts having no title (#109106)
  client/blocks/reader-full-post/index.jsx
  client/blocks/reader-full-post/post-navigation.scss
  client/blocks/reader-full-post/post-navigation.tsx
  client/reader/recent/index.tsx
  client/reader/recent/recent-post-field.tsx
  client/reader/recent/style.scss
  client/reader/test/utils.ts
  client/reader/utils.ts
Owners: @Automattic/loop

A4A: Remove 'a4a-dev-sites' feature flag and conditional flows. (#108793)
  client/a8c-for-agencies/components/add-new-site-button/index.tsx
  client/a8c-for-agencies/components/sidebar-menu/hooks/use-sites-menu-items.ts
  client/components/add-new-site/menu-items/a4a.tsx
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: none

Update `@types/smooch` (#109171)
  packages/help-center/package.json
  packages/help-center/src/components/help-center-smooch.tsx
  packages/odie-client/package.json
  packages/odie-client/src/hooks/use-zendesk-message-listener.ts
  packages/zendesk-client/src/use-managed-zendesk-chat.tsx
  yarn.lock
Owners: @Automattic/t-rex

Partner Branding: add CIAB consent copy to login ToS (ARC-1608) (#109178)
  client/lib/partner-branding.tsx
  client/lib/test/partner-branding.tsx
  client/login/wp-login/hooks/get-heading-subtext.tsx
  client/login/wp-login/hooks/test/get-heading-subtext.test.tsx
  client/login/wp-login/index.jsx
Owners: none

Initial attempt to add Stripe UPI (#108956)
  client/my-sites/checkout/src/components/checkout-main.tsx
  client/my-sites/checkout/src/hooks/use-create-payment-methods/index.tsx
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
  packages/wpcom-checkout/src/index.ts
  packages/wpcom-checkout/src/payment-methods/stripe-upi.tsx
  packages/wpcom-checkout/src/translate-payment-method-names.ts
  packages/wpcom-checkout/src/types.ts
Owners: @Automattic/shilling

Theme Showcase: Fix missing padding in the modern filter bar (#109193)
  client/my-sites/themes/filter-bar-modern/style.scss
Owners: none

Theme Showcase: Add modern SearchMoreOptions component (#109192)
  client/my-sites/themes/search-results-modern/empty-search-ai.png
  client/my-sites/themes/search-results-modern/empty-search-difm.png
  client/my-sites/themes/search-results-modern/empty-search-upload.png
  client/my-sites/themes/search-results-modern/search-more-options.tsx
  client/my-sites/themes/search-results-modern/style.scss
  client/my-sites/themes/search-results-modern/test/search-more-options.test.tsx
Owners: none

Parallelize wp-babel-makepot via worker threads (#109188)
  package.json
  packages/wp-babel-makepot/Dockerfile
  packages/wp-babel-makepot/README.md
  packages/wp-babel-makepot/cli.js
  packages/wp-babel-makepot/index.js
  packages/wp-babel-makepot/process-files.js
  packages/wp-babel-makepot/test/index.js
  packages/wp-babel-makepot/utils/concat-pot.js
  packages/wp-babel-makepot/worker.js
Owners: none

Add supported plans to the big sky free trial redirect on home (#109201)
  client/state/sites/plans/selectors/is-site-big-sky-trial.ts
Owners: none

TeamCity: harden ci-wpcom base image package fetches against transient network failures (#109110)
  Dockerfile.base
Owners: none

Replace PayPal references with WooPayments in CIAB plans comparison table (#109176)
  packages/calypso-products/src/feature-group-plan-map.ts
  packages/calypso-products/src/plans-list.tsx
Owners: none

Replace PayPal references with WooPayments in CIAB plans summary table (#109181)
  packages/calypso-products/src/features-list.tsx
Owners: none

odyssey-stats: translate: Add --jobs 4 argument to wp-babel-makepot (#109205)
  apps/odyssey-stats/package.json
Owners: none

Update CIAB plans page description copy (#109182)
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/unified-plans-step.tsx
Owners: none

Remove Smart CSV importer from CIAB plans comparison table (#109184)
  packages/calypso-products/src/constants/features.ts
  packages/calypso-products/src/feature-group-plan-map.ts
  packages/calypso-products/src/features-list.tsx
  packages/calypso-products/src/plans-list.tsx
Owners: none

help-center: translate: Add --jobs 4 argument to wp-babel-makepot (#109206)
  apps/help-center/package.json
Owners: none

Align `Dockerfile.base` build args across `Build base images` targets (#109147)
  .teamcity/settings.kts
Owners: none

Stats Images: Optimize (#109211)
  client/assets/images/stats/paid-features-2.png
  client/assets/images/stats/paid-features.png
  client/assets/images/stats/purchase-preview.png
  client/assets/images/stats/purchase-preview@2x.png
  client/components/app-promo-card/images/qr-code-woo.png
Owners: none

Fix cancellation offer bugs in multisite dashboard (#108989)
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-header-title.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/step-components/jetpack-cancellation-offer-accepted-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/step-components/jetpack-cancellation-offer-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/steps.ts
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/jetpack-decorative-card/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/style.scss
  client/dashboard/me/billing-purchases/purchase-settings/cancellation-offer-notice.tsx
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/me/billing-purchases/purchase-settings/purchase-notice.tsx
  packages/api-core/src/cancellation-offers/mutators.ts
  packages/api-core/src/me-preferences/types.ts
  packages/api-core/src/upgrades/types.ts
  packages/api-queries/src/cancellation-offers.ts
Owners: @Automattic/lego

Theme Showcase: Trigger Survicate event on theme activation (#109203)
  client/state/themes/actions/theme-activated.js
  client/state/themes/test/actions.js
Owners: none

Dashboard: Add disconnect site modal for Jetpack sites (#108646)
  client/dashboard/sites/dataviews/actions.tsx
  client/dashboard/sites/features.ts
  client/dashboard/sites/jetpack-site-disconnect/index.tsx
  client/dashboard/sites/jetpack-site-disconnect/test/index.test.tsx
  packages/api-core/src/site-jetpack-connection/index.ts
  packages/api-core/src/site-jetpack-connection/mutators.ts
  packages/api-queries/src/site-jetpack-connection.ts
Owners: @Automattic/lego

Dashboard: enable bilmur (#109202)
  config/dashboard-production.json
Owners: none

wpcom-gutenberg-rtc: Clean up app (#109219)
  .teamcity/_self/projects/WPComPlugins.kt
  apps/wpcom-gutenberg-rtc/README.md
  apps/wpcom-gutenberg-rtc/package.json
  apps/wpcom-gutenberg-rtc/src/index.ts
  apps/wpcom-gutenberg-rtc/src/providers/pinghub/README.md
  apps/wpcom-gutenberg-rtc/src/providers/pinghub/index.ts
  apps/wpcom-gutenberg-rtc/src/providers/pinghub/pinghub-bridge.ts
  apps/wpcom-gutenberg-rtc/src/providers/pinghub/pinghub-manager.ts
  apps/wpcom-gutenberg-rtc/src/providers/pinghub/pinghub-provider.ts
  apps/wpcom-gutenberg-rtc/src/sync-types.ts
  apps/wpcom-gutenberg-rtc/src/types.d.ts
  apps/wpcom-gutenberg-rtc/tsconfig.json
  apps/wpcom-gutenberg-rtc/webpack.config.js
  yarn.lock
Owners: none

A4A: Remove a4a-vip-partner-opportunity-referrals feature flag (#109223)
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/enterprise-agency-hosting/index.tsx
  client/a8c-for-agencies/sections/marketplace/index.tsx
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

A4A: Remove a4a-help-center feature flag (#109222)
  client/a8c-for-agencies/components/sidebar/header/profile-dropdown.tsx
  client/a8c-for-agencies/components/sidebar/header/style.scss
  client/a8c-for-agencies/components/sidebar/index.tsx
  client/a8c-for-agencies/hooks/use-help-center.ts
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

A4A: Remove dead code with hardcoded boolean variables (#109224)
  client/a8c-for-agencies/sections/partner-directory/dashboard/index.tsx
  client/a8c-for-agencies/sections/purchases/billing/billing-dashboard.tsx
  client/a8c-for-agencies/sections/purchases/licenses/license-list/empty.tsx
  client/a8c-for-agencies/sections/purchases/licenses/licenses-overview/index.tsx
  client/a8c-for-agencies/sections/purchases/licenses/revoke-license-dialog/index.tsx
Owners: none

Fix notification tab labels untranslated in standalone widget (#109218)
  apps/notifications/src/app/note-panel/index.tsx
  apps/notifications/src/app/note-panel/test/index.tsx
  apps/notifications/src/standalone/index.jsx
Owners: none

MSD > Security: Update two-step auth copy and enable enhanced security in production (#109137)
  client/dashboard/me/security-two-step-auth/main-page/application-passwords/index.tsx
  client/dashboard/me/security-two-step-auth/main-page/security-keys/index.tsx
  config/dashboard-production.json
  config/production.json
Owners: @Automattic/lego

Agents Manager: Handle disabled picker-related components (#109098)
  packages/agents-manager/jest.config.js
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/hooks/use-conversation.ts
  packages/agents-manager/src/utils/__tests__/convert-tool-message-to-component.test.ts
  packages/agents-manager/src/utils/__tests__/process-tool-messages.test.ts
  packages/agents-manager/src/utils/process-tool-messages.ts
Owners: none

Agents Manager: Implement the undo action for pickers (#109139)
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/agents-manager.tsx
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/hooks/__tests__/use-feedback-action.test.ts
  packages/agents-manager/src/hooks/use-checkpoint-action.ts
  packages/agents-manager/src/hooks/use-copy-action.ts
  packages/agents-manager/src/hooks/use-feedback-action.ts
  packages/agents-manager/src/index.ts
  packages/agents-manager/src/utils/load-external-providers.ts
Owners: none

Theme Showcase: Add modern search results layout with community collection support (#109204)
  client/my-sites/themes/collections/collection-definitions.tsx
  client/my-sites/themes/collections/theme-collection-view-header.jsx
  client/my-sites/themes/collections/theme-collection-view-header.scss
  client/my-sites/themes/search-results-modern/index.tsx
  client/my-sites/themes/search-results-modern/style.scss
  client/my-sites/themes/search-results-modern/test/search-results-modern.test.tsx
  client/my-sites/themes/sections-modern/theme-section-header.tsx
  client/my-sites/themes/theme-showcase.jsx
  client/state/themes/selectors/get-themes-for-query-ignoring-page.js
  client/state/themes/selectors/is-requesting-themes-for-query-ignoring-page.js
  client/state/themes/selectors/is-requesting-themes-for-query.js
Owners: none

Agents Manager: Optimize chat rendering performance (#109227)
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/components/zendesk-chat/index.tsx
Owners: none

Fix timeouts in fse__temp-smoke-test.ts (#109209)
  packages/calypso-e2e/src/lib/components/sidebar-component.ts
Owners: none

fix: remove hover style and increase padding (#109210)
  packages/agents-manager/src/components/feedback-input/style.scss
  packages/image-studio/src/components/image-actions-menu/style.scss
Owners: none
