Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Fix VaultPress Backup activation UI stuck on loading (#108493)
  client/components/jetpack/wpcom-business-at/index.tsx
Owners: none

Site Performance tool: improve error messages for timed out requests (#108564)
  client/dashboard/sites/performance/report-error-notice.tsx
  client/hosting/performance/components/ReportError.tsx
Owners: @Automattic/lego

GitHub Deployments: Update deployment CTA label to reflect site environment (#108629)
  client/dashboard/sites/deployments-list/index.tsx
  client/dashboard/sites/deployments-list/trigger-deployment-modal-form.tsx
  client/dashboard/sites/settings-repositories/index.tsx
Owners: @Automattic/lego

Fix console message typos in getCountryTaxRequirements (#108635)
  packages/wpcom-checkout/src/get-country-tax-requirements.ts
Owners: @Automattic/shilling

Domain-only Thank You Page: Redirect to correct existing page instead of the generic outdated one (#108654)
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only.tsx
  client/signup/config/flows.js
Owners: none

Cancel: fix decision to display refund options for plan with bundled domain (#108657)
  client/dashboard/me/billing-purchases/cancel-purchase/cancellation-main-content.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/domain-options.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/me/purchases/cancel-purchase/domain-options.tsx
Owners: @Automattic/lego

Checkout: validate any active step before submit (#108504)
  packages/composite-checkout/README.md
  packages/composite-checkout/src/components/checkout-steps.tsx
  packages/composite-checkout/src/components/default-steps.tsx
  packages/composite-checkout/src/types.ts
  packages/composite-checkout/test/checkout.tsx
Owners: @Automattic/shilling

Checkout: Fix empty cart redirect to /setup/ routes (#108631)
  client/my-sites/checkout/src/lib/leave-checkout.ts
  client/my-sites/checkout/src/test/leave-checkout.ts
Owners: @Automattic/shilling

MSD: support CIAB routes at my.woo.localhost and my.woo.com (#108550)
  client/dashboard/app-ciab/index.tsx
  client/dashboard/app-ciab/routing.ts
  client/dashboard/app-ciab/section.ts
  client/dashboard/app-dotcom/routing.ts
  client/dashboard/app-dotcom/section.ts
  client/dashboard/app/routing.ts
  client/dashboard/section.ts
  client/dashboard/utils/is-dashboard-backport.ts
  client/dashboard/utils/link.ts
  client/my-sites/checkout/get-thank-you-page-url/index.ts
  client/my-sites/checkout/src/lib/pending-page.ts
  client/server/pages/index.js
  packages/wpcom-proxy-request/src/index.js
Owners: @Automattic/lego, @Automattic/shilling

Dashboard: Fix domain transfer site search to also filter by URL (#108643)
  client/dashboard/domains/domain-transfer/select-site.tsx
  client/dashboard/domains/domain-transfer/test/select-site.test.tsx
Owners: @Automattic/lego

MSD Sites: Update the default fields to visibility and plan (#108651)
  client/dashboard/sites/dataviews/views.ts
  client/dashboard/sites/test/index.test.tsx
Owners: @Automattic/lego

MSD: refactor to support my.woo.com in dashboardLink() (#108625)
  client/components/domains/connect-domain-step/transfer-domain-step-start.tsx
  client/components/domains/connect-domain-step/types/index.tsx
  client/components/domains/map-domain-step/index.jsx
  client/components/domains/transfer-domain-step/index.jsx
  client/components/domains/use-my-domain/index.jsx
  client/components/domains/use-my-domain/transfer-or-connect/index.jsx
  client/dashboard/app-ciab/routing.ts
  client/dashboard/app-dotcom/routing.ts
  client/dashboard/app/routing.ts
  client/dashboard/app/types.ts
  client/dashboard/domains/add-domain-button.tsx
  client/dashboard/domains/dataviews/actions.tsx
  client/dashboard/domains/empty-domains-state/actions.tsx
  client/dashboard/emails/components/no-domains-available-empty-state.tsx
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/me/billing-purchases/purchase-settings/purchase-notice.tsx
  client/dashboard/sites/hosting-feature-gated-with-callout/activation.tsx
  client/dashboard/sites/hosting-feature-gated-with-callout/upsell.tsx
  client/dashboard/sites/overview-domain-transfer-upsell-card/index.tsx
  client/dashboard/sites/overview-domain-upsell-card/index.tsx
  client/dashboard/sites/settings-redirect/create-site-redirect.tsx
  client/dashboard/sites/site-launch-button/index.tsx
  client/dashboard/sites/storage/add-storage-modal.tsx
  client/dashboard/sites/trial-ended/index.tsx
  client/dashboard/utils/domain-url.ts
  client/dashboard/utils/link.ts
  client/dashboard/utils/site-plan.ts
  client/lib/site-spec/utils.ts
Owners: @Automattic/quake, @Automattic/lego

A4A > Migrations: Add commission tagging improvements for migrations (#108649)
  client/a8c-for-agencies/components/agency-site-tags/index.tsx
  client/a8c-for-agencies/hooks/use-tag-sites-for-commission.ts
  client/a8c-for-agencies/sections/migrations/commissions-list/commission-list-actions.tsx
  client/a8c-for-agencies/sections/migrations/commissions-list/index.tsx
  client/a8c-for-agencies/sections/migrations/hooks/test/use-can-tag-sites-for-commission.test.ts
  client/a8c-for-agencies/sections/migrations/hooks/use-can-tag-sites-for-commission.ts
  client/a8c-for-agencies/sections/migrations/lib/constants.ts
  client/a8c-for-agencies/sections/migrations/primary/migrations-commissions/empty-state.tsx
  client/a8c-for-agencies/sections/migrations/primary/migrations-commissions/index.tsx
  client/a8c-for-agencies/sections/migrations/tag-sites-modal/add-sites-table.tsx
  client/a8c-for-agencies/sections/migrations/tag-sites-modal/index.tsx
Owners: none

Reader: Load and display the new mobile header only for users who have opted in to the MSD experience (#108500)
  client/reader/components/mobile-header/index.tsx
  client/reader/controller.js
Owners: @Automattic/loop

Reader: Fix browser focus when user is backing from a post (#108600)
  client/reader/components/quick-post/index.tsx
  packages/verbum-block-editor/src/editor/editor-style.scss
  packages/verbum-block-editor/src/editor/index.tsx
Owners: @Automattic/loop

Domain-only Thank You Redesign: Add feature flag and placeholder page (#108627)
  client/my-sites/checkout/checkout-thank-you/index.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only-new.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/utils/domain-thank-you-feature-flag.ts
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

Fix back button on domains step when coming from playground (#108656)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
Owners: none

Split cancel from refund on me/purchases (#108541)
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/me/purchases/cancel-purchase/button.tsx
  client/me/purchases/cancel-purchase/feature-list.tsx
  client/me/purchases/cancel-purchase/index.tsx
  client/me/purchases/cancel-purchase/refund-eligibility-notice.tsx
  client/me/purchases/cancel-purchase/refund-information.tsx
  client/me/purchases/cancel-purchase/style.scss
  config/development.json
Owners: none

100-year domain: show appropriate domain purchase thank you page (#108665)
  client/lib/domains/types.ts
  client/my-sites/checkout/checkout-thank-you/hundred-year-thank-you/index.tsx
  client/my-sites/checkout/checkout-thank-you/index.tsx
  client/my-sites/checkout/index.js
  client/my-sites/controller.js
  packages/calypso-e2e/src/lib/pages/cart-checkout-page.ts
  test/e2e/specs/flows/setup-hundred-year-domain.spec.ts
Owners: none

Integrate OAuth2 components with `connect-screen` components for unification (#108609)
  client/components/connect-screen/action-buttons/index.tsx
  client/components/connect-screen/action-buttons/test/index.tsx
  client/components/connect-screen/permissions-list/index.tsx
  client/components/connect-screen/permissions-list/test/index.tsx
  client/components/connect-screen/stories/index.stories.tsx
  client/components/connect-screen/user-card/index.tsx
  client/components/connect-screen/user-card/style.scss
  client/components/connect-screen/user-card/test/index.tsx
  client/login/login-context.tsx
  client/oauth2/components/authorize-actions.tsx
  client/oauth2/components/authorize.tsx
  client/oauth2/components/permissions-list.tsx
  client/oauth2/components/user-card.tsx
  client/oauth2/style.scss
Owners: none

e2e: invert 100-year domain flow to create account first, then navigate (#108676)
  test/e2e/specs/flows/setup-hundred-year-domain.spec.ts
Owners: none

e2e: Update SEO test to use document sidebar instead of Jetpack sidebar (#108673)
  packages/calypso-e2e/src/lib/pages/editor-page.ts
  test/e2e/specs/editor/editor__post-basic-flow.ts
Owners: none

A4A: Update Pressable incentives banners. (#108670)
  client/a8c-for-agencies/components/a4a-pressable-offer/index.tsx
  client/a8c-for-agencies/components/upcoming-event/index.tsx
  client/a8c-for-agencies/components/upcoming-event/style.scss
  client/a8c-for-agencies/components/upcoming-event/types.ts
  client/a8c-for-agencies/sections/overview/body/events/hooks/use-upcoming-events.tsx
Owners: none

Wrong variable name (#108682)
  apps/help-center/help-center-gutenberg.js
Owners: none

CIAB: Add unified Accept Invite page (#108404)
  client/lib/partner-branding.tsx
  client/my-sites/invites-unified/controller.tsx
  client/my-sites/invites-unified/index.tsx
  client/my-sites/invites-unified/screens/accept-invite-screen.tsx
  client/my-sites/invites-unified/screens/email-mismatch-screen.tsx
  client/my-sites/invites-unified/screens/style.scss
  client/my-sites/invites-unified/screens/test/accept-invite-screen.test.tsx
  client/my-sites/invites-unified/test/controller.test.tsx
  client/my-sites/invites-unified/test/index.test.tsx
  client/my-sites/invites-unified/types.ts
  client/my-sites/invites/controller.js
  client/my-sites/invites/index.js
  client/my-sites/invites/invite-accept/index.jsx
  client/my-sites/invites/utils.tsx
Owners: none

Update "other purchases" grace period notices for auto-renew (#108507)
  client/dashboard/me/billing-purchases/purchase-settings/other-renewable-purchases-notice.tsx
  client/dashboard/me/billing-purchases/purchase-settings/purchase-notice.tsx
  client/dashboard/utils/purchase.ts
  client/lib/purchases/index.ts
  client/me/purchases/manage-purchase/notices.tsx
Owners: @Automattic/lego, @Automattic/shilling

Add Survicate survey support to the Multi-site Dashboard (#108607)
  client/dashboard/.eslintrc.js
  client/dashboard/app/layout.tsx
  client/dashboard/app/survicate/index.tsx
  client/dashboard/app/survicate/test/index.test.tsx
  client/lib/analytics/survicate.js
  client/lib/analytics/test/survicate.js
  client/package.json
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  packages/load-script/test/load-script-promise.js
  packages/survicate/README.md
  packages/survicate/jest.config.js
  packages/survicate/package.json
  packages/survicate/src/conditions.ts
  packages/survicate/src/index.ts
  packages/survicate/src/load-script.ts
  packages/survicate/src/test/conditions.test.ts
  packages/survicate/src/test/load-script.test.ts
  packages/survicate/src/test/visitor-traits.test.ts
  packages/survicate/src/visitor-traits.ts
  packages/survicate/tsconfig-cjs.json
  packages/survicate/tsconfig.json
  packages/tsconfig.json
  yarn.lock
Owners: @Automattic/lego

Domain Search: Prepend domain when adding it to the cart (#108672)
  client/components/domains/wpcom-domain-search/test/use-wpcom-domain-search-props.ts
  client/components/domains/wpcom-domain-search/use-wpcom-domain-search-cart.ts
Owners: @Automattic/quake

Dashboard: Fix domain expiry sort crash when expiry is undefined (#108645)
  client/dashboard/domains/dataviews/fields.tsx
  client/dashboard/domains/dataviews/sort-nullable-strings.ts
  client/dashboard/domains/dataviews/test/fields.test.ts
Owners: @Automattic/lego

A4A: Add Pressable Premium plans. (#108485)
  client/a8c-for-agencies/data/client/use-fetch-client-products.ts
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/premier-agency-hosting/pressable-plan-section/index.tsx
  client/a8c-for-agencies/sections/marketplace/pressable-overview/lib/get-pressable-plan.ts
  client/a8c-for-agencies/sections/marketplace/pressable-overview/lib/get-slider-options.ts
  client/a8c-for-agencies/sections/marketplace/pressable-overview/plan-selection/filter.tsx
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

Switch to DropdownMenu (#108668)
  packages/help-center/src/components/help-center-header.tsx
Owners: @Automattic/t-rex

Help Center - CIAB - Editor: Missing CSS (#108690)
  apps/help-center/help-center-gutenberg.js
Owners: none

A4A: Enable Pressable Premium plans in the staging environment. (#108701)
  config/a8c-for-agencies-stage.json
Owners: none

Checkout: Use only TopBar for CIAB flows (#108702)
  client/layout/logged-out.jsx
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/logged-out.jsx
  client/my-sites/checkout/src/components/checkout-main-content.tsx
Owners: @Automattic/shilling

Domain-only Thank You Page: Use loading progress bar instead of placeholders (#108697)
  client/assets/stylesheets/_main.scss
  client/layout/style.scss
  client/my-sites/checkout/checkout-thank-you/index.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/placeholder/index.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/placeholder/style.scss
  client/my-sites/checkout/checkout-thank-you/style.scss
Owners: none

Reader: Redirect to the new subscription page based on the feature flag (#108662)
  client/landing/subscriptions/components/add-sites-button/add-sites-button.tsx
  client/landing/subscriptions/components/add-sites-button/test/index.test.tsx
Owners: none

e2e: Fix form pattern test (#108708)
  packages/calypso-e2e/src/lib/blocks/block-flows/form-patterns.ts
Owners: none

Woo Hosted Plans: update feature list (#108703)
  packages/calypso-products/src/constants/feature-group.ts
  packages/calypso-products/src/constants/features.ts
  packages/calypso-products/src/feature-group-plan-map.ts
  packages/calypso-products/src/features-list.tsx
  packages/calypso-products/src/plans-list.tsx
  packages/calypso-products/src/types.ts
  packages/plans-grid-next/src/components/shared/storage/hooks/use-plan-storage.ts
Owners: @Automattic/martech

E2E: merge dashboard pre-release tests into main pre-release job (#108658)
  .teamcity/_self/projects/WebApp.kt
  test/e2e/lib/pw-base.ts
  test/e2e/package.json
  test/e2e/specs/dashboard/dashboard__basic-and-routing.spec.ts
Owners: none

Add state dropdown for TaxLocationForm in dashboard (#108705)
  client/dashboard/components/tax-location-form.tsx
Owners: @Automattic/lego
