Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Mark packages/calypso-products as deprecated/avoid for AI agents (#111330)
  AGENTS.md
  packages/calypso-products/AGENTS.md
  packages/calypso-products/CLAUDE.md
Owners: none

Fix: show direct forum/support search on mobile nav (DOTCOM-17217) (#111261)
  apps/happy-blocks/block-library/search-card/index.php
Owners: none

Dashboard: enable interim omnibar in all environments (#111332)
  client/document/index.jsx
  config/dashboard-production.json
  config/dashboard-stage.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

Image Studio: Add site context to tracks events (#111074)
  packages/image-studio/src/index.tsx
  packages/image-studio/src/utils/tracking.test.ts
  packages/image-studio/src/utils/tracking.ts
Owners: none

Dashboard: fix notifications popover positioned wrong on load (#111338)
  client/dashboard/app/notifications/index.tsx
Owners: @Automattic/lego

MSD Omnibar: Add LaunchSite button. (#111034)
  client/dashboard/app/interim-omnibar/interim-omnibar.tsx
  client/dashboard/app/interim-omnibar/omnibar-launch-button.tsx
  client/dashboard/app/interim-omnibar/style.scss
  client/dashboard/app/interim-omnibar/test/omnibar-launch-button.test.tsx
  client/dashboard/app/omnibar/site.ts
  client/dashboard/sites/site-launch-button/index.tsx
  client/dashboard/sites/site-launch-button/use-site-launch.tsx
  client/layout/masterbar/logged-in.jsx
Owners: @Automattic/lego

Omnibar: Fix Help Center icon size (#111339)
  client/layout/masterbar/style.scss
Owners: none

Stats: fix navigation tab padding broken by admin-ui 2.x bump (#111340)
  client/my-sites/stats/components/stats-main/index.tsx
  client/my-sites/stats/stats-download-csv/style.scss
  client/my-sites/stats/style.scss
Owners: none

Agent Studio: Load Inter as a webfont so PNG stat numbers don't clip (#111322)
  client/a8c-for-agencies/sections/agent-studio/social-design/brandPacks/default-pack.ts
  client/a8c-for-agencies/sections/agent-studio/social-design/services/googleFonts.ts
Owners: none

Get Apps: add Linux download for WordPress Studio (#110798)
  client/blocks/get-apps/apps-config.tsx
  client/blocks/get-apps/desktop-download-card.tsx
Owners: none

Desktop: guard debug-menu handlers against null window/view (DOTAPP-1) (#110927)
  desktop/app/lib/menu/debug-menu.js
Owners: none

Fix experiment name: update mobile layout experiment to 202606 (#111344)
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/use-mobile-layout-experiment.ts
Owners: none

A4A Agent Studio: clean up deliverable cards (titles, clickable, placeholder) (#111317)
  client/a8c-for-agencies/sections/agent-studio/data/use-deliverable-title.ts
  client/a8c-for-agencies/sections/agent-studio/primary/overview/deliverable-card.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/overview/style.scss
Owners: none

E2E: add setup-domain cart diagnostics (#111060)
  packages/calypso-e2e/src/lib/components/domain-search-component.ts
Owners: none

OpenAI Pixel: Add order tracking events (#111326)
  client/lib/analytics/ad-tracking/ad-track-signup-complete.js
  client/lib/analytics/ad-tracking/record-add-to-cart.js
  client/lib/analytics/ad-tracking/record-order.ts
Owners: none

Revert "OpenAI Pixel: Add order tracking events" (#111348)
  client/lib/analytics/ad-tracking/ad-track-signup-complete.js
  client/lib/analytics/ad-tracking/record-add-to-cart.js
  client/lib/analytics/ad-tracking/record-order.ts
Owners: none

A4A Agency Tier: translate the emerging-partner tier description (#111331)
  client/a8c-for-agencies/sections/agency-tier/overview-content/constants.ts
Owners: none

OpenAI Pixel: Add order tracking events (#111352)
  client/lib/analytics/ad-tracking/ad-track-signup-complete.js
  client/lib/analytics/ad-tracking/record-add-to-cart.js
  client/lib/analytics/ad-tracking/record-order.ts
Owners: none

Commissions: Increase column spacing and dim empty placeholders (#111061)
  client/a8c-for-agencies/sections/woopayments/dashboard-content/sites-with-woopayments.tsx
  client/a8c-for-agencies/sections/woopayments/dashboard-content/style.scss
Owners: none

Purchases: Add types for expiry and downgrade (#111356)
  client/dashboard/utils/purchase.ts
  packages/api-core/src/upgrades/types.ts
Owners: @Automattic/lego

Remove experimental label from appearance/dark mode settings (#111357)
  client/dashboard/me/appearance/index.tsx
  client/dashboard/me/preferences-appearance/index.tsx
  client/dashboard/me/preferences-appearance/test/index.test.tsx
Owners: @Automattic/lego

Dashboard: restore deleted-sites filter and empty state (#111233)
  client/dashboard/app/hooks/test/use-persistent-view.test.tsx
  client/dashboard/app/hooks/use-persistent-view.ts
  client/dashboard/sites/dataviews/actions.tsx
  client/dashboard/sites/index.tsx
Owners: @Automattic/lego

Dashboard: Reduce content area spacing and heading size (#109949)
  client/dashboard/app-dotcom/style.scss
  client/dashboard/components/page-layout/index.tsx
  client/dashboard/components/page-layout/style.scss
Owners: @Automattic/lego

Dashboard: Preload Recoleta font and improve fallback to avoid heading FOUT (#111291)
  client/dashboard/app-dotcom/section.ts
  client/dashboard/app-dotcom/style.scss
Owners: @Automattic/lego

Dashboard: Scale dotcom sidebar logo variant (#111361)
  client/dashboard/app-dotcom/logo.tsx
  client/dashboard/app/responsive-sidebar/sidebar.scss
Owners: @Automattic/lego

Dashboard: Lighten sidebar back button via default Button size (#111362)
  client/dashboard/components/sidebar/sidebar-back-button.tsx
Owners: @Automattic/lego

Sites: show generic empty state when deleted filter combines with other filters (#111360)
  client/dashboard/sites/index.tsx
Owners: @Automattic/lego

Calypso Apps: externalize react/jsx-runtime to fix React 19 (#111341)
  apps/blaze-dashboard/webpack.config.js
  apps/odyssey-stats/webpack.config.js
  apps/wpcom-block-editor/webpack.config.js
Owners: none

Move constructor side effects to componentDidMount (#111321)
  client/blocks/get-apps/apps-badge.tsx
  client/me/account/main.jsx
  client/my-sites/domains/domain-management/edit-contact-info/form-card.jsx
Owners: none

A4A Agent Studio: render deliverable thumbnails from HTML (#111345)
  client/a8c-for-agencies/sections/agent-studio/data/build-thumbnail-frames.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-deliverable-thumbnail.ts
  client/a8c-for-agencies/sections/agent-studio/primary/overview/deliverable-card.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/overview/deliverable-thumbnail-frame.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/overview/style.scss
Owners: none

Agents Manager: show recommended guides in Support Guides (#111312)
  packages/agents-manager/src/components/__tests__/chat-header.test.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/chat-header/index.tsx
  packages/agents-manager/src/components/chat-header/style.scss
  packages/agents-manager/src/components/support-guides/index.tsx
  packages/agents-manager/src/components/support-guides/style.scss
  packages/agents-manager/src/hooks/use-help-search-query.ts
  packages/agents-manager/src/hooks/use-reader-chat-persistence.ts
Owners: none

Revert AI builder entry points from Vega flow (#111382)
  client/components/sites-add-new-site/index.tsx
  client/dashboard/sites/add-new-site/index.tsx
  client/dashboard/sites/ai-site-builder-spec-flow.ts
  client/dashboard/sites/empty-sites-state/index.tsx
  client/dashboard/sites/index.tsx
  client/dashboard/sites/site-switcher/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-spec/index.tsx
  client/lib/site-spec/index.ts
Owners: @Automattic/lego

Reader: show all organization sites in the sidebar (#111347)
  client/reader/AGENTS.md
  packages/api-queries/src/__tests__/read-follows.test.tsx
  packages/api-queries/src/read-follows.ts
  packages/data-stores/src/reader/queries/test/use-site-subscriptions-query.tsx
  packages/data-stores/src/reader/queries/use-site-subscriptions-query.ts
Owners: @Automattic/loop

A4A: Allow Pressable add-on referrals for legacy billing (#111359)
  client/a8c-for-agencies/sections/marketplace/hooks/test/use-pressable-addon-visibility.test.ts
  client/a8c-for-agencies/sections/marketplace/hooks/use-pressable-addon-visibility.ts
  client/a8c-for-agencies/sections/marketplace/products-overview/product-filter/hooks/use-product-filter-options.tsx
  client/a8c-for-agencies/sections/marketplace/products-overview/product-listing/index.tsx
Owners: none

generate-password: bump version to 0.2.0 for npm release (#111381)
  packages/generate-password/package.json
Owners: none

A4A Exclusive Offers: add Avalara Partner Program offer card (#111388)
  client/a8c-for-agencies/sections/exclusive-offers/overview-content/constants.tsx
  client/a8c-for-agencies/sections/exclusive-offers/overview-content/images/avalara.svg
  client/a8c-for-agencies/sections/exclusive-offers/overview-content/index.tsx
  client/a8c-for-agencies/sections/exclusive-offers/overview-content/types.ts
Owners: none

A4A Agent Studio: render the server-resolved title everywhere (#111389)
  client/a8c-for-agencies/sections/agent-studio/data/use-deliverable-thumbnail.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-deliverable-title.ts
  client/a8c-for-agencies/sections/agent-studio/primary/overview/deliverable-card.tsx
Owners: none

Backup: restore internal scroll on contents file browser + clone flow (regression from #109899) (#111108)
  client/components/jetpack-page-layout/_admin-ui-page.scss
  client/my-sites/backup/backup-contents-page/style.scss
Owners: none

A4A Agent Studio: Add page-scoped refine chat dock (#110921)
  client/a8c-for-agencies/sections/agent-studio/data/use-agent-studio-variant-html.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-refine-collateral-page.ts
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/output-detail-content.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/pdf-viewer.scss
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/pdf-viewer.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/refine-launcher.scss
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/refine-launcher.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/refine-with-ai-dock.scss
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/refine-with-ai-dock.tsx
Owners: none

Subscribers: fix layout gap and add SidebarNavigation on JP Cloud (#109971)
  client/my-sites/sidebar/style.scss
  client/my-sites/subscribers/components/subscriber-data-views/style.scss
  client/my-sites/subscribers/main.tsx
Owners: none
