Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

my-sites (scattered): typed-@wordpress/i18n migration (#111182)
  client/my-sites/customer-home/cards/features/site-preview/site-preview-ellipsis-menu.tsx
  client/my-sites/domains/domain-management/settings/cards/domain-diagnostics-card.tsx
  client/my-sites/email/email-forwards-add/add-new-form/utils.tsx
  client/my-sites/importer/newsletter/subscribers/paid-subscribers/no-plans.tsx
  client/my-sites/importer/newsletter/summary/index.tsx
  client/my-sites/promote-post-i2/components/campaign-item/index.tsx
  client/my-sites/promote-post-i2/components/debt-notifier/index.tsx
Owners: @Automattic/jetpack-avalon

dashboard/emails: typed-`@wordpress/i18n` migration (#111152)
  client/dashboard/emails/add-forwarder/index.tsx
  client/dashboard/emails/add-mailbox/components/cart.tsx
  client/dashboard/emails/add-mailbox/components/mailbox-form.tsx
  client/dashboard/emails/components/email-non-domain-owner-notice.tsx
  client/dashboard/emails/dataviews/actions/delete-email-forward.tsx
  client/dashboard/emails/dataviews/actions/resend-verification.ts
  client/dashboard/emails/dataviews/fields/email-address.tsx
  client/dashboard/emails/entities/validators.ts
  client/dashboard/emails/mappers/mailbox-to-email-mapper.ts
  client/dashboard/emails/utils/get-mailbox-cost.ts
Owners: @Automattic/lego

Classic Calypso (scattered): typed-@wordpress/i18n migration (#111184)
  client/a8c-for-agencies/sections/benchmarks/lib/format-quarter.ts
  client/blocks/import/ready/platform-details.tsx
  client/components/activity-card/activity-actor.tsx
  client/components/calypso-i18n-provider/index.tsx
  client/components/eligibility-warnings/domain-warning/index.tsx
  client/components/site-selector/sites-list.tsx
  client/hosting/performance/components/PerformanceReportLoading.tsx
  client/me/security-ssh-key/security-ssh-key.tsx
  client/reader/onboarding-rsm/interests-modal/topic-group-card/index.tsx
  client/signup/steps/woocommerce-install/transfer/progress.tsx
Owners: @Automattic/i18n, @Automattic/loop

sites/transfer-site: typed-`@wordpress/i18n` migration (#111150)
  client/sites/settings/administration/tools/transfer-site/pending-domain-transfer.tsx
  client/sites/settings/administration/tools/transfer-site/start-site-owner-transfer.tsx
Owners: none

AI Editorial Review: Add Jetpack AI show component tool id (#111026)
  packages/agents-manager/src/hooks/use-zoom-action.ts
  packages/agents-manager/src/utils/__tests__/convert-tool-messages-to-components.test.ts
  packages/agents-manager/src/utils/convert-tool-messages-to-components.ts
  packages/agents-manager/src/utils/show-component-tools.ts
  packages/jetpack-ai-sidebar/AGENTS.md
  packages/jetpack-ai-sidebar/src/components/review-mediation.tsx
  packages/jetpack-ai-sidebar/src/components/title-picker.tsx
  packages/jetpack-ai-sidebar/src/index.test.ts
  packages/jetpack-ai-sidebar/src/index.ts
  packages/jetpack-ai-sidebar/src/utils/tool-provider.ts
Owners: none

Add sidebar drop hint parity (#111113)
  client/my-sites/sidebar/customize/customize-mode.scss
Owners: none

domain-search: typed-`@wordpress/i18n` migration (#111240)
  packages/domain-search/src/helpers/get-availability-notice.tsx
  packages/domain-search/src/helpers/parse-match-reasons.ts
  packages/domain-search/src/ui/domain-search-controls/filter-button.tsx
  packages/domain-search/src/ui/domain-search-skip-suggestion/index.tsx
  packages/domain-search/src/ui/domains-full-cart-summary/index.tsx
  packages/domain-search/src/ui/domains-mini-cart/summary.tsx
Owners: none

help-center: typed-`@wordpress/i18n` migration (#111243)
  packages/help-center/src/components/help-center-notice.tsx
Owners: @Automattic/t-rex

jetpack-ai-calypso: typed-`@wordpress/i18n` migration (#111244)
  packages/jetpack-ai-calypso/src/logo-generator/components/prompt.tsx
Owners: none

domains-table: typed-`@wordpress/i18n` migration (#111242)
  packages/domains-table/src/utils/get-domain-type-text.tsx
Owners: none

subscriber: typed-`@wordpress/i18n` migration (#111245)
  packages/subscriber/src/components/add-form/index.tsx
Owners: none

i18n-utils: typed-`@wordpress/i18n` migration (#111246)
  packages/i18n-utils/src/locale-context.tsx
Owners: @Automattic/i18n

Jetpack Connect: rebalance connector feature cards for A4A audience (#111095)
  client/components/connect-screen/features-section/index.tsx
  client/components/connect-screen/features-section/style.scss
  client/components/connect-screen/features-section/test/index.tsx
  client/jetpack-connect/authorize.jsx
  client/jetpack-connect/connection-content/README.md
  client/jetpack-connect/connection-content/family-features.ts
  client/jetpack-connect/connection-content/test/family-features.test.ts
  client/jetpack-connect/feature-cards.tsx
  client/jetpack-connect/test/authorize.js
  client/jetpack-connect/test/feature-cards.test.tsx
Owners: none

Update desktop Electron runtime (#111229)
  desktop/package.json
  yarn.lock
Owners: none

Replace desktop electron rebuild package (#111231)
  desktop/package.json
  yarn.lock
Owners: none

Override Storybook uuid dependency (#111232)
  package.json
  yarn.lock
Owners: none

Replace vulnerable showdown transitive dependency (#111235)
  .yarn/patches/@wordpress-blocks-npm-15.19.0-e7e40905cf.patch
  package.json
  yarn.lock
Owners: none

Fix Reader Chat theme style leakage (#111192)
  apps/agents-manager/__tests__/reader-chat.test.js
  apps/agents-manager/reader-chat.js
  packages/agents-manager/src/components/chat-header/index.tsx
Owners: none

Fix Reader profile header entity decoding (#110948)
  client/reader/user-profile/components/user-profile-header/index.tsx
  client/reader/user-profile/components/user-profile-header/test/index.test.tsx
Owners: @Automattic/loop

Dashboard cancellations: add site-level action interstitial for multi-purchase sites (#110572)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/billing-purchases/site-level-actions/constants.ts
  client/dashboard/me/billing-purchases/site-level-actions/index.tsx
Owners: @Automattic/lego

Revert "Choose plans: enable upgrades to Personal/Premium/Business/eCommerce …" (#111247)
  packages/calypso-products/src/constants/wpcom.ts
  packages/calypso-products/src/plans-list.tsx
Owners: none

Override number-formatters currency decimal places with endpoint response (#110886)
  apps/blaze-dashboard/package.json
  apps/happy-blocks/package.json
  client/boot/locale.js
  client/components/calypso-i18n-provider/index.tsx
  client/lib/i18n-utils/load-currency-overrides.ts
  client/lib/i18n-utils/switch-locale.js
  package.json
  packages/api-core/src/currency-overrides/fetchers.ts
  packages/api-core/src/currency-overrides/index.ts
  packages/api-core/src/currency-overrides/types.ts
  packages/api-core/src/index.ts
  packages/calypso-products/package.json
  packages/components/package.json
  packages/data-stores/package.json
  packages/mini-cart/package.json
  packages/plans-grid-next/package.json
  packages/wpcom-checkout/package.json
  yarn.lock
Owners: @Automattic/i18n, @Automattic/martech, @Automattic/shilling

Checkout: ship rsm_better_checkout treatment to all users (#111193)
  client/my-sites/checkout/src/components/checkout-main-content.tsx
  client/my-sites/checkout/src/components/wp-checkout-order-summary.tsx
  client/my-sites/checkout/src/hooks/test/use-rsm-better-checkout-experiment.ts
  client/my-sites/checkout/src/hooks/use-rsm-better-checkout-experiment.ts
Owners: @Automattic/shilling

Domain bundle: add domain_bundle_* fields to shopping-cart extra types (#111097)
  packages/shopping-cart/src/types.ts
Owners: @Automattic/shilling

Domain bundle: add presentational BundleCard component with Storybook (#111098)
  packages/api-core/src/domain-suggestions/types.ts
  packages/domain-search/src/components/bundle-card/bundle-card.stories.tsx
  packages/domain-search/src/components/bundle-card/index.tsx
  packages/domain-search/src/components/bundle-card/style.scss
  packages/domain-search/src/components/bundle-card/test/index.tsx
Owners: none

Add advanced CodeQL workflow (#111253)
  .github/codeql/actions.yml
  .github/codeql/js-apps-tools-tests.yml
  .github/codeql/js-client-components-lib.yml
  .github/codeql/js-client-dashboard.yml
  .github/codeql/js-client-my-sites.yml
  .github/codeql/js-client-other.yml
  .github/codeql/js-client-product-surfaces.yml
  .github/codeql/js-client-state.yml
  .github/codeql/js-packages.yml
  .github/codeql/ruby.yml
  .github/workflows/codeql-analysis.yml
Owners: none

Revert "calypso-products: register Choose $12/$24/$36 yearly plans (#110747)" (#111250)
  client/state/selectors/test/get-upgrade-plan-slug-from-path.js
  packages/calypso-products/src/constants/types.ts
  packages/calypso-products/src/constants/wpcom.ts
  packages/calypso-products/src/plans-list.tsx
  packages/calypso-products/test/is-plan.js
  packages/calypso-products/test/plan-lookups.js
Owners: none

Cancel flow: skip atomic-revert step under split flag (both surfaces) (#111215)
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
Owners: @Automattic/lego

chore(deps): update dependency msw-storybook-addon to v2.0.7 (#107543)
  packages/launchpad/package.json
  packages/plans-grid-next/package.json
  yarn.lock
Owners: @Automattic/martech

chore(deps): update dependency @ariakit/test to v0.4.15 (#106732)
  packages/components/package.json
  yarn.lock
Owners: none

Agent Studio: make one-pager images optional and fix shadow-root font rendering (#111256)
  client/a8c-for-agencies/sections/agent-studio/primary/brief/one-pager-brief-form.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/pdf-viewer.tsx
  client/a8c-for-agencies/sections/agent-studio/social-design/services/renderBeaPng.ts
Owners: none

Add site-level action interstitial for the legacy purchases surface (#110542)
  client/me/purchases/controller.jsx
  client/me/purchases/index.js
  client/me/purchases/manage-purchase/index.tsx
  client/me/purchases/paths.js
  client/me/purchases/site-level-actions/index.tsx
  client/me/purchases/site-level-actions/style.scss
Owners: @Automattic/shilling

Fix domain search mini cart showing wrong price for plan users (#109751)
  client/components/domains/wpcom-domain-search/use-wpcom-domain-search-cart.ts
Owners: @Automattic/quake

Add Tracks events for cancel-flow solution card views and clicks (#111109)
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/components/marketing-survey/cancel-purchase-form/step-components/solutions-cards-upsell-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/step-components/solutions-cards-upsell-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/step-components/test/solutions-cards-upsell-step.test.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
Owners: @Automattic/lego

Renewal pricing: display the Auto-renews at.. text for the current monthly plan (#111271)
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-upgrade-plan/migration-plans-grid.tsx
  client/my-sites/plans-features-main/hooks/use-generate-action-hook.tsx
  client/my-sites/plans-features-main/hooks/use-renewal-pricing-post-button-text.tsx
  client/my-sites/plans-features-main/index.tsx
Owners: none

E2E: stabilize pattern insertion wait (#111270)
  packages/calypso-e2e/src/lib/pages/editor-page.ts
Owners: none

Add admin sidebar move menu affordance parity (#111272)
  client/my-sites/sidebar/customize/customize-mode.scss
  client/my-sites/sidebar/customize/move-menu.tsx
  client/my-sites/sidebar/customize/test/item-keyboard.tsx
  client/my-sites/sidebar/customize/test/menu-keyboard.tsx
  client/my-sites/sidebar/item.jsx
  client/my-sites/sidebar/menu.jsx
Owners: none

E2E: click selected page template locator (#111275)
  packages/calypso-e2e/src/lib/pages/editor-page.ts
  test/e2e/specs/editor-tracking/editor-tracking__block-inserted-event.ts
  test/e2e/specs/editor/editor__page-basic-flow.ts
Owners: none

E2E: update Gutenberg navigator API check (#111276)
  test/e2e/specs/infrastructure/infrastructure__experimental-gutenberg.ts
Owners: none

Notifications v2: open detail side-by-side without Navigator (#111077)
  apps/notifications/src/app/index.tsx
  apps/notifications/src/app/note-list/index.tsx
  apps/notifications/src/app/note-list/style.scss
  apps/notifications/src/app/note-panel/index.tsx
  apps/notifications/src/app/note-panel/test/index.tsx
  apps/notifications/src/app/note/hooks.ts
  apps/notifications/src/app/note/index.tsx
  apps/notifications/src/app/style.scss
  apps/notifications/src/app/types.ts
  client/dashboard/app/notifications/index.tsx
  client/dashboard/app/notifications/style.scss
  client/reader/components/header/notifications/index.tsx
  client/reader/components/header/notifications/style.scss
Owners: @Automattic/lego, @Automattic/loop
