Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Fix log viewer line wrapping in GitHub Deployments (#108753)
  client/dashboard/sites/deployments-list/deployment-logs/deployment-logs-entry.tsx
Owners: @Automattic/lego

Agents Manager: Fix sidebar on more flows (#107816)
  packages/agents-manager/src/hooks/use-agent-layout-manager/style.scss
Owners: none

Restore jetpack scan (#108756)
  client/blocks/disconnect-jetpack/index.jsx
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/overview-scan-card/index.tsx
  client/dashboard/sites/overview-scan-card/test/index.test.tsx
  client/dashboard/sites/overview/test/index.test.tsx
  client/dashboard/sites/scan/index.tsx
  client/jetpack-cloud/sections/landing/selectors.ts
  client/jetpack-cloud/sections/landing/test/selectors.js
  client/jetpack-cloud/sections/sidebar-navigation/manage-selected-site.tsx
  client/my-sites/plans/current-plan/jetpack-checklist/index.tsx
  client/my-sites/plugins/use-atomic-site-has-equivalent-feature-to-plugin/index.ts
  client/my-sites/scan/controller.js
  client/my-sites/scan/wpcom-atomic-transfer.tsx
  client/my-sites/scan/wpcom-scan-upsell.tsx
  client/my-sites/site-settings/firewall.jsx
  client/my-sites/site-settings/navigation.jsx
  client/my-sites/site-settings/settings-jetpack/main.jsx
  client/my-sites/site-settings/settings-security/main.jsx
  packages/api-core/src/constants.ts
  packages/calypso-products/src/constants/features.ts
  packages/calypso-products/src/plans-list.tsx
Owners: @Automattic/lego

A4A: Enable Pressable Premium plans in production. (#108767)
  config/a8c-for-agencies-production.json
Owners: none

Jetpack Connect: Refactor Woo authorize step to shared connect-screen components (#108731)
  client/assets/images/woocommerce/woo_icon_small.svg
  client/components/connect-screen/consent-text/style.scss
  client/jetpack-connect/authorize.js
  client/jetpack-connect/disclaimer.jsx
  client/jetpack-connect/main-wrapper.jsx
  client/jetpack-connect/style.scss
Owners: none

Agents Manager: Support image upload (#108506)
  client/package.json
  package.json
  packages/agents-manager/package.json
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/unified-ai-agent/index.tsx
  packages/agents-manager/src/utils/load-external-providers.ts
  packages/image-studio/package.json
  packages/odie-client/package.json
  yarn.lock
Owners: none

A4A: Use isPressableAddonLicense to render the correct CTAs (#108734)
  client/a8c-for-agencies/sections/purchases/licenses/license-details/actions.tsx
  client/a8c-for-agencies/sections/purchases/licenses/license-details/index.tsx
  client/a8c-for-agencies/sections/purchases/licenses/license-details/style.scss
  client/a8c-for-agencies/sections/purchases/licenses/license-preview/index.tsx
Owners: none

Reader: Add "Add a feed" navigation item (#108746)
  client/reader/components/icons/add-icon.jsx
  client/reader/sidebar/reader-sidebar-lists/list-item-create-link.jsx
  client/reader/sidebar/reader-sidebar-lists/list.jsx
  client/reader/sidebar/reader-sidebar-lists/style.scss
  client/reader/sidebar/reader-sidebar-recent/index.tsx
Owners: @Automattic/loop

Agents Manager: Add feedback buttons to agent messages (#108680)
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/feedback-input/index.tsx
  packages/agents-manager/src/components/feedback-input/style.scss
  packages/agents-manager/src/components/test/FeedbackInput.test.tsx
  packages/agents-manager/src/hooks/use-feedback/index.ts
  packages/agents-manager/src/hooks/use-feedback/test/index.test.ts
Owners: none

HC: fix typography (#108704)
  packages/help-center/src/components/_mixins.scss
  packages/help-center/src/components/_variables.scss
  packages/help-center/src/components/back-button.scss
  packages/help-center/src/components/help-center-closure-notice.scss
  packages/help-center/src/components/help-center-contact-form.scss
  packages/help-center/src/components/help-center-header.scss
  packages/help-center/src/components/help-center-launchpad.scss
  packages/help-center/src/components/help-center-notice.scss
  packages/help-center/src/components/help-center-search-results.scss
  packages/help-center/src/components/help-center-support-chat-message.scss
  packages/help-center/src/components/help-center-third-party-cookies-notice.scss
  packages/help-center/src/components/notices.scss
  packages/help-center/src/components/ticket-success-screen.scss
  packages/help-center/src/styles.scss
Owners: @Automattic/t-rex

SummerSpecial cleanup (#108492)
  client/blocks/product-purchase-features-list/index.jsx
  client/blocks/product-purchase-features-list/test/product-purchase-features-list.jsx
  client/components/jetpack/upsell-switch/index.tsx
  client/my-sites/plans-features-main/index.tsx
  client/state/sites/constants.js
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
  packages/api-core/src/site/fetchers.ts
  packages/api-core/src/site/types.ts
  packages/calypso-products/src/feature-group-plan-map.ts
  packages/calypso-products/src/index.ts
  packages/calypso-products/src/is-summer-special-enabled.ts
  packages/calypso-products/src/main.ts
  packages/calypso-products/src/plans-list.tsx
  packages/calypso-products/src/types.ts
  packages/calypso-products/test/get-feature-difference.ts
  packages/data-stores/src/site/types.ts
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans-for-comparison-grid.ts
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans-for-features-grid.ts
  packages/plans-grid-next/src/hooks/data-store/use-plan-features-for-grid-plans.ts
  packages/plans-grid-next/src/hooks/data-store/use-restructured-plan-features-for-comparison-grid.ts
  packages/plans-grid-next/src/hooks/data-store/use-summer-special-status.ts
  packages/plans-grid-next/src/index.tsx
Owners: @Automattic/martech

Domain-Only Thank You Page Redesign: Add action buttons (#108755)
  client/assets/stylesheets/shared/functions/_z-index.scss
  client/components/option-content/index.tsx
  client/components/option-content/style.scss
  client/my-sites/checkout/checkout-thank-you/index.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only-new.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only-new/icons/attach-to-site.svg
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only-new/icons/domain-only.svg
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only-new/icons/mailbox.svg
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only-new/icons/start-site.svg
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only-new/index.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only-new/style.scss
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only-new/test/index.tsx
  client/my-sites/checkout/checkout-thank-you/utils.ts
  client/my-sites/controller.js
  client/my-sites/customer-home/index.js
Owners: none

Domain-Only Thank You Page Redesign: Enable feature flag globally (#108768)
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

Theme Showcase: Hide the WooCommerce theme tier as it is now empty (#108779)
  client/components/theme-tier/constants.js
Owners: none

Hundred-Year Domain: Fix E2E test (#108781)
  client/my-sites/checkout/checkout-thank-you/hundred-year-thank-you/index.tsx
  client/my-sites/checkout/checkout-thank-you/index.tsx
Owners: none

Fix paid subscriptions column spacing and alignment (#108771)
  client/my-sites/earn/memberships/style.scss
Owners: none

Fix chat effect (#108774)
  packages/odie-client/src/hooks/use-get-combined-chat.ts
Owners: none

Dashboard tests: add QueryClient builder to test-utils (#108641)
  client/dashboard/components/time-mismatch-notice/test/index.tsx
  client/dashboard/docs/testing.md
  client/dashboard/sites/logs/dataviews/test/index.test.tsx
  client/dashboard/sites/site/test/environment-switcher.test.tsx
  client/dashboard/sites/staging-site-delete-modal/index.tsx
  client/dashboard/sites/staging-site-delete-modal/test/index.test.tsx
  client/dashboard/sites/staging-site-sync-dropdown/test/index.test.tsx
  client/dashboard/sites/staging-site-sync-modal/test/index.test.tsx
  client/dashboard/test-utils.tsx
Owners: @Automattic/lego

Image Studio: Add frontend `wp-abilities` for self-hosted sites (#108684)
  apps/agents-manager/webpack.config.js
Owners: none

Updated floor price for Codeable (#108709)
  client/components/jetpack/threat-item/index.tsx
Owners: none

Update domain registration display in purchase lists (#108639)
  client/dashboard/me/billing-purchases/dataviews.tsx
  client/dashboard/me/billing-purchases/purchase-product.tsx
  client/dashboard/utils/purchase.ts
  client/me/purchases/purchase-item/index.tsx
  client/me/purchases/purchases-list-in-dataviews/purchases-data-field.tsx
Owners: @Automattic/lego

AI: Consolidate Claude and Cursor rules into AGENTS.md (#108787)
  .claude/rules/e2e-testing.md
  .cursor/rules/a4a.mdc
  .cursor/rules/calypso-client.mdc
  .cursor/rules/dashboard.mdc
  CLAUDE.md
  client/AGENTS.md
  client/CLAUDE.md
  client/a8c-for-agencies/AGENTS.md
  client/a8c-for-agencies/CLAUDE.md
  client/dashboard/AGENTS.md
  client/dashboard/CLAUDE.md
  test/e2e/AGENTS.md
  test/e2e/CLAUDE.md
Owners: @Automattic/lego

Agents Manager: fix sidebar on new posts (#108743)
  packages/agents-manager/src/hooks/use-agent-layout-manager/style.scss
Owners: none

Agents Manager: fix publish panel (#108750)
  packages/agents-manager/src/hooks/use-agent-layout-manager/style.scss
Owners: none

Update the copy for free to paid modal (#108790)
  client/my-sites/plans-features-main/components/plan-upsell-modal/components/paid-domain-suggested-plan-section.tsx
Owners: none

SummerSpecial cleanup: Remove unused type parameters (#108775)
  packages/calypso-products/src/types.ts
  packages/plans-grid-next/src/hooks/data-store/use-restructured-plan-features-for-comparison-grid.ts
Owners: @Automattic/martech

Activity Log: Hide backup/scan events for sites without self-serve access (#108740)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/logs-activity/dataviews/index.tsx
  client/dashboard/sites/overview-latest-activity-card/index.tsx
  client/dashboard/utils/site-features.ts
  client/dashboard/utils/test/site-features.ts
  client/my-sites/activity/activity-log-v2/index.tsx
  client/my-sites/activity/activity-log/index.jsx
  client/state/selectors/get-activity-log-hidden-groups.ts
  client/state/selectors/test/get-activity-log-hidden-groups.ts
  packages/api-core/src/site-activity-log/types.ts
  packages/api-queries/src/site-activity-log.ts
Owners: @Automattic/lego

CIAB: Apply partner font style to signup page (#108681)
  client/signup/steps/user/style.scss
Owners: none

Scan: Gate Jetpack Cloud scan page behind scan-self-serve feature (#108797)
  client/components/jetpack/no-feature-switch/index.tsx
  client/components/jetpack/upsell-product-wpcom-plan-card/index.tsx
  client/my-sites/backup/controller.js
  client/my-sites/scan/controller.js
  client/my-sites/scan/index.js
  client/my-sites/scan/scan-upsell/index.jsx
Owners: none

A4A: fix Pressable usage panel plan selection (#108798)
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/premier-agency-hosting/index.tsx
Owners: none

DNS: Hide email setup when not using WordPress.com nameservers (#108448)
  client/dashboard/domains/domain-dns/index.tsx
  client/dashboard/domains/domain-dns/test/index.test.tsx
  client/my-sites/domains/domain-management/dns/dns-records.jsx
Owners: @Automattic/lego

Fix e2e tests timing out on site picker (#108766)
  test/e2e/specs/blocks/blocks__coblocks__extensions__cover-styles.ts
  test/e2e/specs/blocks/blocks__coblocks__extensions__gutter-control.ts
  test/e2e/specs/blocks/blocks__coblocks__extensions__replace-image.ts
  test/e2e/specs/infrastructure/infrastructure__experimental-gutenberg.ts
Owners: none

Don't set first-domain-free for the Gravatar flow (#108799)
  client/signup/steps/domains/index.tsx
Owners: @Automattic/quake

Help Center: Filter CIAB chats (#108776)
  packages/help-center/src/hooks/use-get-history-chats.ts
Owners: @Automattic/t-rex

Fix Cover block e2e test using wrong editor scope for block elements (#108807)
  packages/calypso-e2e/src/lib/blocks/cover-block.ts
Owners: none

A4A-2136: add Pressable add-on descriptions for Storage and Visits (#108802)
  client/a8c-for-agencies/sections/marketplace/products-overview/hocs/with-product-lightbox.tsx
  client/a8c-for-agencies/sections/marketplace/products-overview/product-card/pressable-addons-custom-description/index.tsx
  client/jetpack-cloud/sections/partner-portal/hooks/index.tsx
Owners: none

Enable a4a-pressable-addons on stage and horizon (#108800)
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-stage.json
Owners: none

Domain-Only Flow: Preserve dashboard parameter until the user gets to the thank-you page (#108803)
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only-new/index.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only-new/test/index.tsx
  client/my-sites/checkout/get-thank-you-page-url/index.ts
  client/my-sites/checkout/get-thank-you-page-url/test/get-thank-you-page-url.ts
  client/signup/config/flows.js
Owners: @Automattic/shilling

Domain-Only Thank You Page: Remove domains/new-thank-you-page feature flag (#108806)
  client/assets/stylesheets/shared/functions/_z-index.scss
  client/layout/style.scss
  client/my-sites/checkout/checkout-thank-you/index.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only/icons/attach-to-site.svg
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only/icons/domain-only.svg
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only/icons/mailbox.svg
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only/icons/start-site.svg
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only/index.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only/style.scss
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only/test/index.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/utils/domain-thank-you-feature-flag.ts
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

A4A-1558: Update Pressable usage capacity with add-ons (#108810)
  client/a8c-for-agencies/components/pressable-usage-details/capacity.ts
  client/a8c-for-agencies/components/pressable-usage-details/index.tsx
  client/a8c-for-agencies/components/pressable-usage-details/test/capacity.test.ts
  client/a8c-for-agencies/sections/marketplace/pressable-overview/lib/get-pressable-plan.ts
  client/a8c-for-agencies/sections/marketplace/pressable-overview/lib/test/get-pressable-plan.test.ts
  client/a8c-for-agencies/sections/purchases/licenses/license-details/index.tsx
Owners: none
