Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

MCP: update tool categories (#108719)
  client/dashboard/me/mcp/categories.ts
  client/dashboard/me/mcp/index.tsx
  packages/api-core/src/me-settings/types.ts
Owners: @Automattic/lego

MCP: add claude code config (#108721)
  client/dashboard/me/mcp/setup/index.tsx
  client/me/mcp/setup.jsx
Owners: @Automattic/lego

Reader: Fix subscribe button hidden when only subscribe_URL available (#108713)
  client/reader/stream/index.jsx
  client/state/reader/feeds/reducer.js
  client/state/reader/feeds/test/reducer.js
Owners: @Automattic/loop

Fix gift subscription guard to reject non-numeric user IDs (#108723)
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
Owners: none

Personal Plan Trial: add product definition (#108611)
  client/me/purchases/manage-purchase/notices.tsx
  packages/calypso-products/src/constants/wpcom.ts
  packages/calypso-products/src/plans-list.tsx
  packages/calypso-products/test/plan-lookups.js
  packages/data-stores/src/plans/constants.ts
Owners: @Automattic/shilling

override the default spec preview checkbox styling (#108711)
  client/lib/site-spec/utils.ts
Owners: none

Update calypso-client rules with complete lint/test commands (#108716)
  .claude/rules/calypso-client.md
Owners: none

Upgrade i18n-no-flanking-whitespace and i18n-hyphenated-range to errors (#108728)
  .eslintrc.js
Owners: none

Dashboard: fix lint rules (#108730)
  client/dashboard/.eslintrc.js
  client/dashboard/README.md
  client/dashboard/components/akismet-icon/README.md
  client/dashboard/components/akismet-logo/README.md
  client/dashboard/components/domain-contact-details-form/contact-form-fields.tsx
  client/dashboard/docs/i18n.md
  client/dashboard/docs/testing.md
  client/dashboard/docs/typography-and-copy.md
  client/dashboard/docs/ui-components.md
  client/dashboard/domains/dataviews/actions.tsx
  client/dashboard/domains/dataviews/fields.tsx
  client/dashboard/domains/name-servers/form.tsx
  client/dashboard/me/mcp/index.tsx
  client/dashboard/me/profile-gravatar/test/notifications.test.tsx
  client/dashboard/me/profile-gravatar/test/validation.test.tsx
  client/dashboard/sites/backups/backups-list.tsx
  client/dashboard/sites/deployments-list/dataviews/fields.tsx
  client/dashboard/sites/logs-activity/dataviews/index.tsx
  client/dashboard/sites/logs/dataviews/index.tsx
Owners: @Automattic/lego

fix the playground mounts (#108706)
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/lib/blueprint.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/lib/initialize-playground.ts
Owners: none

Reader: Move "Add New" and "Reddit" tabs from /discover to /reader/new (#108601)
  client/reader/discover/components/navigation/index.tsx
  client/reader/discover/discover-stream.js
  client/reader/new-subscription/components/add-new/index.tsx
  client/reader/new-subscription/components/add-new/style.scss
  client/reader/new-subscription/components/add-reddit/index.tsx
  client/reader/new-subscription/components/add-reddit/style.scss
  client/reader/new-subscription/index.tsx
Owners: @Automattic/loop

Reader: Add YouTube tab in new subscriptions page (#108718)
  client/reader/components/icons/youtube-icon.tsx
  client/reader/index.ts
  client/reader/new-subscription/components/add-youtube/index.tsx
  client/reader/new-subscription/components/add-youtube/style.scss
  client/reader/new-subscription/index.tsx
Owners: @Automattic/loop

Reader: Add tumblr tab on new subscription page (#108693)
  client/reader/components/icons/tumblr-icon.tsx
  client/reader/index.ts
  client/reader/new-subscription/components/add-tumblr/index.tsx
  client/reader/new-subscription/components/add-tumblr/style.scss
  client/reader/new-subscription/components/add-tumblr/test/index.test.tsx
  client/reader/new-subscription/index.tsx
Owners: @Automattic/loop

Reader: Add substack tab on new subscription page (#108694)
  client/reader/components/icons/substack-icon.tsx
  client/reader/index.ts
  client/reader/new-subscription/components/add-substack/index.tsx
  client/reader/new-subscription/components/add-substack/style.scss
  client/reader/new-subscription/index.tsx
Owners: @Automattic/loop

Change experiment name (#108739)x5
  apps/happy-blocks/block-library/search-card/includes.php
  apps/happy-blocks/block-library/search-card/index.php
  apps/happy-blocks/block-library/support-content-footer/includes.php
Owners: none

A4A: Add WordCamp Asia 2026 upcoming event. (#108744)
  client/a8c-for-agencies/sections/overview/body/events/hooks/use-upcoming-events.tsx
  client/a8c-for-agencies/sections/overview/body/events/styles.scss
  client/assets/images/a8c-for-agencies/events/wordcamp-asia2026-compliment-image.svg
  client/assets/images/a8c-for-agencies/events/wordcamp-asia2026-image.svg
Owners: none

Update spec subtitle for CIAB (#108729)
  client/lib/site-spec/utils.ts
Owners: none

Fix blank Settings content when entering from legacy `/sites/settings/site/:site` URL (#108733)
  client/sites/index.tsx
Owners: none

Fix domain-only purchase detail page in billing (#108742)
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
Owners: @Automattic/lego

Apply selected style variation on `Preview with your content` (#108474)
  client/components/web-preview/content.jsx
  client/components/web-preview/toolbar.jsx
  client/my-sites/theme/main.jsx
Owners: none

Remove Summer Special: Gated Backups restore and scan to Business plans (#108443)
  client/components/jetpack/wpcom-business-at/index.tsx
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/backups/index.tsx
  client/dashboard/sites/backups/test/index.test.tsx
  client/dashboard/sites/hosting-feature-list/index.tsx
  client/dashboard/sites/overview-backup-card/index.tsx
  client/dashboard/sites/overview-backup-card/test/index.test.tsx
  client/dashboard/sites/overview/test/index.test.tsx
  client/dashboard/sites/site-fields/index.tsx
  client/dashboard/utils/test/site-features.ts
  client/my-sites/backup/controller.js
  client/my-sites/backup/index.js
  client/my-sites/backup/no-backup-restore-feature-switch.tsx
  packages/api-core/src/constants.ts
  packages/calypso-products/src/constants/features.ts
Owners: @Automattic/lego

Domain Flow: Add items to cart if picking the free plan through the escape hatch (#108749)
  client/landing/stepper/declarative-flow/flows/domain/domain.ts
  packages/calypso-e2e/src/lib/pages/plans-page.ts
  packages/calypso-e2e/src/lib/pages/signup/signup-pick-plan-page.ts
  test/e2e/specs/flows/setup-domain__flows.spec.ts
Owners: none

Purchase Management: Support existing PayPal payment methods (#108725)
  client/dashboard/me/billing-purchases/change-payment-method.tsx
  client/dashboard/me/billing-purchases/payment-method-selector/get-payment-method-id-from-payment.ts
  client/dashboard/me/billing-purchases/payment-method-selector/index.tsx
  client/dashboard/me/billing-purchases/payment-method-selector/use-create-assignable-payment-methods.tsx
  client/dashboard/me/billing-purchases/payment-methods/assignment-processor-functions.ts
  client/dashboard/me/billing-purchases/payment-methods/existing-paypal-ppcp-payment-method.tsx
  client/dashboard/me/billing-purchases/payment-methods/index.ts
  client/dashboard/me/billing-purchases/payment-methods/translate-payment-method-names.ts
  client/dashboard/me/billing-purchases/payment-methods/types.ts
  client/dashboard/me/billing-purchases/payment-methods/use-create-existing-paypal-ppcp.tsx
  client/me/purchases/manage-purchase/change-payment-method/use-create-assignable-payment-methods.tsx
  client/me/purchases/manage-purchase/payment-method-selector/assignment-processor-functions.ts
  client/me/purchases/manage-purchase/payment-method-selector/get-payment-method-id-from-payment.ts
  client/me/purchases/manage-purchase/payment-method-selector/index.tsx
  client/my-sites/checkout/src/hooks/use-stored-payment-methods.tsx
  packages/api-core/src/me-payment-methods/types.ts
Owners: @Automattic/lego, @Automattic/shilling

Domain Flow: Allow purchasing only one domain if coming from CIAB (#108747)
  client/landing/stepper/declarative-flow/flows/domain/domain.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
Owners: none

Domain-Only Thank You Page: Redirect to domain management if purchasing more than one domain (#108720)
  client/my-sites/checkout/checkout-thank-you/index.tsx
  client/my-sites/checkout/checkout-thank-you/test/index.js
  client/my-sites/checkout/checkout-thank-you/utils.ts
Owners: none

Domain-only Thank You Page Redesign: Use CenteredColumnLayout in the new domain only page (#108727)
  client/components/domains/use-my-domain/transfer-or-connect/icons/connect.tsx
  client/components/domains/use-my-domain/transfer-or-connect/icons/transfer.tsx
  client/components/domains/use-my-domain/transfer-or-connect/index.jsx
  client/components/domains/use-my-domain/transfer-or-connect/style.scss
  client/components/option-content/index.tsx
  client/components/option-content/style.scss
  client/components/option-content/test/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/use-my-domain/style.scss
  client/layout/style.scss
  client/my-sites/checkout/checkout-thank-you/index.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/masterbar-styled/style.scss
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only-new.tsx
  client/my-sites/checkout/checkout-thank-you/style.scss
Owners: @Automattic/quake

Fix cancel purchase flow type for expired/grace-period purchases (#108691)
  client/dashboard/utils/purchase.ts
Owners: @Automattic/lego

CIAB: Early create sites (#108754)
  client/landing/stepper/declarative-flow/internals/steps-repository/create-site/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-spec/index.tsx
  client/lib/site-spec/use-site-spec.ts
Owners: none

Revert "Domain Flow: Add items to cart if picking the free plan through the e…" (#108760)
  client/landing/stepper/declarative-flow/flows/domain/domain.ts
  packages/calypso-e2e/src/lib/pages/plans-page.ts
  packages/calypso-e2e/src/lib/pages/signup/signup-pick-plan-page.ts
  test/e2e/specs/flows/setup-domain__flows.spec.ts
Owners: none

Fix ValidateTaxContactInfoParams (#108758)
  packages/api-core/src/me-tax-contact-information.ts
Owners: none

Fix siteless domain purchases showing wrong status and hidden payment method in Dashboard billing (#108726)
  client/dashboard/components/purchase-expiry-status/index.tsx
  client/dashboard/me/billing-purchases/dataviews.tsx
  client/dashboard/me/billing-purchases/purchase-payment-method.tsx
Owners: @Automattic/lego

Replace my.woo.com with my.woo.ai for CIAB MSD domain migration (#108761)
  client/dashboard/app-ciab/routing.ts
  client/dashboard/app/command-palette/README.md
  client/dashboard/docs/entry-points.md
  client/dashboard/utils/link.ts
  client/my-sites/checkout/get-thank-you-page-url/index.ts
  client/my-sites/checkout/src/lib/pending-page.ts
  client/reauth-required/component.jsx
  client/signup/wpcom-login-form/index.jsx
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  packages/wpcom-proxy-request/src/index.js
Owners: @Automattic/lego, @Automattic/shilling

Fix duplicate cancellation survey in Dashboard billing (#108687)
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
Owners: @Automattic/lego

MSD CIAB: update the default link for dev env (#108762)
  client/dashboard/app-ciab/routing.ts
Owners: @Automattic/lego

MSD CIAB: add direct link to Calypso Live for MSD-CIAB (#108763)
  .github/workflows/calypso-live.yml
  .teamcity/_self/projects/WebApp.kt
Owners: none

A4A: UX Improvement with Pressable Premium plan referral links. (#108741)
  client/a8c-for-agencies/components/sidebar-menu/lib/constants.ts
  client/a8c-for-agencies/sections/client/primary/subscriptions-list/field-content.tsx
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/premier-agency-hosting/pressable-plan-section/premium-plan-section.tsx
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/premier-agency-hosting/pressable-plan-section/regular-plan-card-content.tsx
  client/a8c-for-agencies/sections/marketplace/pressable-overview/plan-selection/details.tsx
  client/a8c-for-agencies/sections/overview/body/hosting/pressable-offering.tsx
  client/a8c-for-agencies/sections/purchases/licenses/license-details/actions.tsx
  client/a8c-for-agencies/sections/purchases/licenses/license-preview/index.tsx
  client/a8c-for-agencies/sections/referrals/common/referral-details-table/index.tsx
  client/a8c-for-agencies/sections/referrals/referral-details/mobile/purchases-mobile.tsx
  client/a8c-for-agencies/sections/referrals/referral-details/purchases.tsx
  client/a8c-for-agencies/sections/sites/features/hosting/overview.tsx
  client/components/add-new-site/menu-items/a4a.tsx
Owners: none

A4A: Standardized Button component for external link and update KB link to use Help center. (#108317)
  client/a8c-for-agencies/components/site-configurations-modal/index.tsx
  client/a8c-for-agencies/data/guided-tours/tours/use-marketplace-walkthrough-tour.tsx
  client/a8c-for-agencies/sections/marketplace/checkout/notice-summary.tsx
  client/a8c-for-agencies/sections/partner-directory/agency-details/index.tsx
  client/a8c-for-agencies/sections/purchases/licenses/license-preview/index.tsx
  client/a8c-for-agencies/sections/sites/features/a4a/site-error-preview/index.tsx
  client/a8c-for-agencies/sections/team/primary/team-accept-invite/no-multi-agency-message.tsx
Owners: none

Reader: Fix focus & scroll on Quick Post editor (#108683)
  client/reader/components/quick-post/index.tsx
  package.json
  packages/verbum-block-editor/src/editor/components/InitialBlockSelector.tsx
  packages/verbum-block-editor/src/editor/editor-style.scss
  packages/verbum-block-editor/src/editor/editor-types.ts
  packages/verbum-block-editor/src/editor/index.tsx
  packages/verbum-block-editor/src/text-area-injector.tsx
Owners: @Automattic/loop

CIAB: Use garden_site_count for default ciab sites view (#108692)
  client/dashboard/sites-ciab/index.tsx
  client/dashboard/sites/dataviews/views.ts
  client/dashboard/sites/index.tsx
  packages/api-core/src/me/types.ts
  packages/help-center/src/contexts/HelpCenterContext.tsx
Owners: @Automattic/lego, @Automattic/t-rex

MSD: add documentation on how to run the dev server (#108765)
  client/dashboard/README.md
  client/dashboard/docs/dev-server.md
Owners: @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
