Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Fix notification mention suggestion styles (#111808)
  apps/notifications/src/panel/suggestions/index.jsx
  apps/notifications/src/panel/suggestions/styles.scss
Owners: none

add restore checkpoint to enum (#111807)
  packages/agents-manager/src/utils/tool-message-utils.ts
Owners: none

Downgrade modal: stop focus refetch wiping the lost-features list (#111806)
  client/my-sites/plans-features-main/components/downgrade-confirmation-modal/index.tsx
Owners: none

Legacy contact: show setup status in security list (#111770)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/security-legacy-contact/summary.tsx
Owners: @Automattic/lego

Update age-gated vulnerable dependencies (#111813)
  client/package.json
  desktop/package.json
  package.json
  packages/agents-manager/package.json
  packages/components/package.json
  packages/design-picker/package.json
  packages/odie-client/package.json
  packages/onboarding/package.json
  yarn.lock
Owners: none

Overview card: drop icon background for warning and error intents (#111787)
  client/dashboard/components/overview-card/style.scss
Owners: @Automattic/lego

Dashboard: A4A Marketplace > Exclusive offers (shared with a8c-for-agencies) (#111367)
  client/a8c-for-agencies/sections/exclusive-offers/overview-content/index.tsx
  client/a8c-for-agencies/sections/exclusive-offers/overview-content/style.scss
  client/a8c-for-agencies/sections/exclusive-offers/overview-content/types.ts
  client/a8c-for-agencies/sections/learn/format-agency-resources.tsx
  client/dashboard/agency/marketplace/exclusive-offers/constants.tsx
  client/dashboard/agency/marketplace/exclusive-offers/images/avalara.svg
  client/dashboard/agency/marketplace/exclusive-offers/images/jetpack.svg
  client/dashboard/agency/marketplace/exclusive-offers/images/pressable.svg
  client/dashboard/agency/marketplace/exclusive-offers/images/vip.svg
  client/dashboard/agency/marketplace/exclusive-offers/images/woo.svg
  client/dashboard/agency/marketplace/exclusive-offers/images/woopayments.svg
  client/dashboard/agency/marketplace/exclusive-offers/images/wordpressdotcom.svg
  client/dashboard/agency/marketplace/exclusive-offers/index.tsx
  client/dashboard/agency/marketplace/exclusive-offers/partner-offers.tsx
  client/dashboard/agency/marketplace/exclusive-offers/types.ts
  client/dashboard/app-a4a/index.tsx
  client/dashboard/app-a4a/section.ts
  client/dashboard/app/context.tsx
  client/dashboard/app/responsive-sidebar/agency.tsx
  client/dashboard/app/router/agency.tsx
Owners: @Automattic/lego

Name servers: stop upsell illustration flickering on keystroke (#111786)
  client/dashboard/domains/name-servers/form.tsx
Owners: @Automattic/lego

Dashboard: add A4A Resources > Learn screen, shared with a8c-for-agencies (#111370)
  client/a8c-for-agencies/sections/learn/format-agency-resources.tsx
  client/a8c-for-agencies/sections/learn/resource-center/overview-content/index.tsx
  client/a8c-for-agencies/sections/learn/resource-center/overview-content/style.scss
  client/a8c-for-agencies/sections/learn/resource-center/overview-content/types.ts
  client/a8c-for-agencies/sections/learn/resource-center/style.scss
  client/dashboard/agency/resources/learn/browse-all-resources.tsx
  client/dashboard/agency/resources/learn/format-resources.tsx
  client/dashboard/agency/resources/learn/index.tsx
  client/dashboard/agency/resources/learn/resource-card.tsx
  client/dashboard/agency/resources/learn/resource-center.tsx
  client/dashboard/agency/resources/learn/resource-section.tsx
  client/dashboard/agency/resources/learn/types.ts
  client/dashboard/agency/resources/learn/use-filter-resources.ts
  client/dashboard/agency/resources/learn/use-resource-cta-label.ts
  client/dashboard/agency/resources/learn/youtube-embed.ts
  client/dashboard/app-a4a/index.tsx
  client/dashboard/app-a4a/section.ts
  client/dashboard/app/context.tsx
  client/dashboard/app/responsive-sidebar/agency.tsx
  client/dashboard/app/router/agency.tsx
  packages/api-core/src/agency/fetchers.ts
  packages/api-core/src/agency/types.ts
  packages/api-queries/src/agency.ts
Owners: @Automattic/lego

Lodash: replace defer() with native setTimeout( fn, 0 ) (#111822)
  client/blocks/login/login-form.jsx
  client/blocks/login/two-factor-authentication/verification-code-form.jsx
  client/blocks/reader-share/index.jsx
  client/components/data/query-site-stats/index.jsx
  client/components/domains/trademark-claims-notice/index.jsx
  client/components/infinite-scroll/index.jsx
  client/components/sticky-panel/index.jsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-picker/index.tsx
  client/layout/guided-tours/component.jsx
  client/layout/guided-tours/config-elements/step.tsx
  client/lib/analytics/test/mocks/lib/load-script/index.js
  client/lib/signup/flow-controller.ts
  client/lib/signup/step-actions/index.js
  client/lib/signup/test/mocks/signup/config/steps.js
  client/my-sites/importer/author-mapping-item.jsx
  client/my-sites/people/edit-team-member-form/edit-user-form.jsx
  client/reader/full-post/controller.jsx
  client/reader/sidebar/index.jsx
  client/signup/main.jsx
  client/signup/steps/emails/index.jsx
  client/state/lib/middleware.js
  client/state/login/actions/auth-account-type.js
  packages/calypso-eslint-overrides/lodash-restricted-imports.js
  packages/components/src/popover/index.jsx
Owners: @Automattic/loop, @Automattic/quake

Revert "Notifications: enable notifications/redesign flag in horizon, stage, and production (#111683)" (#111831)
  config/horizon.json
  config/production.json
  config/stage.json
Owners: none

Global Nav 2026: green "New" badge + keep mobile menu above sticky bars (#111828)
  client/layout/style.scss
  client/my-sites/patterns/components/pattern-library/style.scss
  client/my-sites/plugins/search-box-header/style.scss
  client/my-sites/plugins/search-categories/style.scss
  client/my-sites/themes/filter-bar-modern/style.scss
  packages/wpcom-template-parts/src/universal-header-navigation/index.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/style.scss
Owners: none

Help Center: refine course lesson navigation and header (#111796)
  packages/support-articles/src/components/help-center-article/article-lesson-navigation.tsx
  packages/support-articles/src/components/help-center-article/help-center-article-content.tsx
  packages/support-articles/src/components/help-center-article/help-center-article.scss
  packages/support-articles/src/components/help-center-article/help-center-support-article-header.tsx
Owners: none

Global Nav 2026: mixed-case "New" badge in gray + drop dead link_click name (#111837)
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/tracks.ts
  packages/wpcom-template-parts/src/universal-header-navigation/style.scss
Owners: none

Add newsletter free tier settings (#111630)
  client/my-sites/earn/components/free-plan-modal/index.tsx
  client/my-sites/earn/components/free-plan-modal/style.scss
  client/my-sites/earn/components/free-plan-modal/test/index.tsx
  client/my-sites/earn/memberships/products-list.tsx
  client/my-sites/earn/memberships/test/products-list.tsx
  client/state/memberships/settings/actions.js
  client/state/site-settings/actions.js
  client/state/site-settings/selectors.js
  client/state/site-settings/test/actions.js
Owners: none

Onboarding: shorten domain-step help label to "Help" on mobile (#111839)
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/use-my-domain/index.tsx
Owners: none

Desktop: fix Invalid URL crash when relaunching on Windows (DOTAPP-8) (#111833)
  desktop/app/window-handlers/incoming-urls/index.js
Owners: none

Onboarding: tighten divider→help-icon spacing on the domains step (#111841)
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/style.scss
Owners: none

Skip REST proxy prefetch in Firefox (#111842)
  client/components/head/index.jsx
  client/components/head/test/index.jsx
  client/document/index.jsx
  client/server/pages/index.js
Owners: none

Feature differentiation: change the backups feature title in comparison grid (#111810)
  packages/plans-grid-next/src/components/comparison-grid/index.tsx
Owners: @Automattic/martech

Migrate Generate Feedback to Jetpack AI Sidebar (#111403)
  packages/jetpack-ai-sidebar/package.json
  packages/jetpack-ai-sidebar/src/components/block-ref.tsx
  packages/jetpack-ai-sidebar/src/components/post-feedback.scss
  packages/jetpack-ai-sidebar/src/components/post-feedback.tsx
  packages/jetpack-ai-sidebar/src/components/review-mediation.test.tsx
  packages/jetpack-ai-sidebar/src/components/review-mediation.tsx
  packages/jetpack-ai-sidebar/src/global.d.ts
  packages/jetpack-ai-sidebar/src/index.test.ts
  packages/jetpack-ai-sidebar/src/index.ts
  packages/jetpack-ai-sidebar/src/utils/block-actions.ts
  yarn.lock
Owners: none

Help Center: stop showing "Happiness Engineer" on automated messages (#111827)
  packages/odie-client/src/components/message/messages-cluster/messages-cluster.tsx
  packages/odie-client/src/components/message/messages-cluster/style.scss
  packages/odie-client/src/components/message/test/messages-cluster.tsx
  packages/odie-client/src/types.ts
  packages/odie-client/src/utils/csat.ts
  packages/zendesk-client/src/types.ts
  packages/zendesk-client/src/zendesk-message-converter.tsx
Owners: none

update copy for free tier description setting description (#111847)
  client/my-sites/earn/components/free-plan-modal/index.tsx
Owners: none

Agents Manager: Introduce onMessagesChange event (#111756)
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/hooks/__tests__/use-broadcast-conversation-activity.test.ts
  packages/agents-manager/src/hooks/custom-actions/README.md
  packages/agents-manager/src/hooks/use-broadcast-conversation-activity.ts
Owners: none

Stepper: add write-on flow at /setup/write-on (#111804)
  client/landing/stepper/declarative-flow/flows/write-on/README.md
  client/landing/stepper/declarative-flow/flows/write-on/test/write-on.test.ts
  client/landing/stepper/declarative-flow/flows/write-on/write-on.ts
  client/landing/stepper/declarative-flow/registered-flows.ts
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
  packages/onboarding/src/utils/flows.ts
Owners: none

SEO tools: display the correct plan name in the SEO upsell (#111849)
  client/my-sites/site-settings/seo-settings/form.jsx
  client/my-sites/site-settings/seo-settings/test/form.jsx
Owners: none

move newsletter description after toggle, split copy for markdown hint (#111852)
  client/my-sites/earn/components/add-edit-plan-modal/index.tsx
  client/my-sites/earn/components/free-plan-modal/index.tsx
Owners: none

Lodash: replace delay() with native setTimeout( fn, wait ) (#111829)
  client/blocks/comments/post-comment-list.jsx
  client/state/data-layer/wpcom/sites/automated-transfer/status/index.js
  client/state/data-layer/wpcom/sites/transfers/latest.js
  client/state/themes/actions/theme-transfer.js
  packages/calypso-eslint-overrides/lodash-restricted-imports.js
Owners: none

Lodash: replace without() and difference() with native array methods (#111854)
  client/blocks/term-tree-selector/terms.jsx
  client/components/domains/registrant-extra-info/ca-form.tsx
  client/components/domains/registrant-extra-info/uk-form.tsx
  client/components/drop-zone/index.jsx
  client/components/token-field/index.jsx
  client/landing/stepper/declarative-flow/internals/steps-repository/business-info/index.tsx
  client/lib/query-manager/index.js
  client/lib/signup/asserts.js
  client/lib/signup/flow-controller.ts
  client/lib/signup/step-actions/index.js
  client/me/concierge/reschedule/calendar-step.jsx
  client/signup/steps/woocommerce-install/step-business-info/index.tsx
  client/state/comments/ui/reducer.js
  client/state/comments/ui/test/reducer.js
  client/state/domains/dns/reducer.js
  client/state/jetpack-sync/test/reducer.js
  client/state/media/reducer.js
  client/state/sharing/keyring/reducer.js
  packages/calypso-eslint-overrides/lodash-restricted-imports.js
Owners: @Automattic/quake, @Automattic/nomado

Reader: hide own Recommended Blogs list from profile lists (#111258)
  client/reader/user-profile/views/lists.tsx
  client/reader/user-profile/views/test/lists.test.tsx
Owners: @Automattic/loop

Lodash: replace capitalize() with @automattic/js-utils (#111856)
  client/blocks/import/util.ts
  client/blocks/login/login-form.jsx
  client/blocks/login/social-connect-prompt.jsx
  client/components/stats-interval-dropdown/index.jsx
  client/login/wp-login/hooks/get-header-text.tsx
  client/me/purchases/upcoming-renewals/upcoming-renewals-dialog.tsx
  client/my-sites/earn/main.tsx
  client/my-sites/plugins/main.jsx
  client/my-sites/promote-post-i2/components/campaign-stats-line-chart/index.tsx/campaign-stats-line-chart.tsx
  client/my-sites/promote-post-i2/components/payments-receipt/Receipt.tsx
  client/my-sites/site-settings/date-time-format/index.jsx
  client/my-sites/stats/stats-chart-tabs/utility.jsx
  client/my-sites/stats/stats-email-chart-tabs/utility.jsx
  client/state/stats/lists/utils.js
  packages/calypso-eslint-overrides/lodash-restricted-imports.js
  packages/js-utils/src/capitalize.ts
  packages/js-utils/src/index.ts
  packages/js-utils/src/test/capitalize.ts
Owners: none

Lodash: replace intersection() and noop() with native equivalents (#111859)
  client/my-sites/domains/components/domain-warnings/index.jsx
  client/signup/config/test/index.js
  client/signup/steps/design-picker/design-picker.tsx
  client/state/themes/selectors/is-theme-gutenberg-first.ts
  packages/calypso-eslint-overrides/lodash-restricted-imports.js
  packages/components/src/select-dropdown/index.jsx
Owners: none

Plugins: show Manage sites CTA for paid non-Atomic sites (#111862)
  client/my-sites/plugins/plugin-details-CTA/index.jsx
Owners: none

Lodash: replace escapeRegExp(), once() and isError() (#111861)
  apps/odyssey-stats/package.json
  apps/odyssey-stats/src/components/odyssey-query-products.ts
  apps/odyssey-stats/src/components/odyssey-query-site-purchases.ts
  client/blocks/reader-excerpt/index.jsx
  client/blocks/user-mentions/add.jsx
  client/my-sites/importer/section-import.jsx
  client/reader/follow-helpers.tsx
  client/state/lib/middleware.js
  packages/calypso-eslint-overrides/lodash-restricted-imports.js
  packages/components/src/suggestions/item.tsx
  packages/js-utils/src/escape-reg-exp.ts
  packages/js-utils/src/index.ts
  packages/js-utils/src/is-error.ts
  packages/js-utils/src/once.ts
  packages/js-utils/src/test/escape-reg-exp.ts
  packages/js-utils/src/test/is-error.ts
  packages/js-utils/src/test/once.ts
  yarn.lock
Owners: @Automattic/loop

Logs: fill the dashboard logs card height with a proper empty state (#111836)
  client/dashboard/sites/logs/dataviews/index.tsx
Owners: @Automattic/lego

Update Site Spec to v1.11.0 (#111682)
  config/_shared.json
Owners: none

Onboarding: fire unified help-click event on plans and checkout steps (#111870)
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/unified-plans-step.tsx
  client/my-sites/checkout/src/hooks/use-checkout-help-center.ts
Owners: @Automattic/shilling

Checkout: align contact-info field focus indicator with VAT field (#111666)
  client/my-sites/checkout/src/components/wp-contact-form.tsx
Owners: @Automattic/shilling

desktop: Bump version to 8.2.2-beta1 (#111872)
  desktop/package.json
Owners: none

Reader: remove header click navigation from Spaces sidebar menu (#111873)
  client/reader/sidebar/spaces/index.tsx
Owners: @Automattic/loop

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
