Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Reader: Implements product feedback on new subscriptions page (#109050)
  client/landing/subscriptions/components/add-sites-button/add-sites-button.tsx
  client/landing/subscriptions/components/add-sites-button/styles.scss
  client/landing/subscriptions/components/add-sites-form/add-sites-form.tsx
  client/landing/subscriptions/components/add-sites-form/styles.scss
  client/landing/subscriptions/components/add-sites-form/test/add-sites-form.test.tsx
  client/landing/subscriptions/components/feed-preview/index.tsx
  client/landing/subscriptions/components/site-subscriptions-list/styles/site-subscriptions-list.scss
  client/landing/subscriptions/styles/list-actions-bar.scss
  client/reader/new-subscription/components/add-subscription-form/style.scss
  client/reader/site-subscriptions-manager/style.scss
  client/reader/site-subscriptions-manager/subscriptions-manager-wrapper.tsx
  client/reader/stream/index.jsx
Owners: @Automattic/loop

Agents Manager: use same HC logic for loading (#108907)
  client/layout/agents-manager-loader.tsx
  client/layout/index.jsx
Owners: none

Agents manager: apply some fixes for Jetpack social page (#108946)
  packages/agents-manager/src/components/agent-dock/fixes-jetpack.scss
Owners: none

Reader: Show Related sites on the `/reader/new` page (#108974)
  client/blocks/reader-feed-item/index.tsx
  client/landing/subscriptions/components/add-sites-form/add-sites-form.tsx
  client/landing/subscriptions/components/add-sites-form/test/add-sites-form.test.tsx
  client/landing/subscriptions/components/feed-preview/index.tsx
  client/landing/subscriptions/components/feed-preview/test/index.test.tsx
  client/reader/discover/discover-stream.js
  client/reader/new-subscription/components/add-subscription-form/index.tsx
  client/reader/new-subscription/components/add-subscription-form/test/index.test.tsx
  client/reader/new-subscription/index.tsx
  client/reader/site-subscriptions-manager/not-found-site-subscriptions.tsx
  client/reader/site-subscriptions-manager/reader-site-subscriptions.tsx
  client/reader/site-subscriptions-manager/style.scss
  client/reader/site-subscriptions-manager/unsubscribed-feeds-search-list/index.tsx
  client/reader/site-subscriptions-manager/unsubscribed-feeds-search-list/style.scss
  client/reader/site-subscriptions-manager/unsubscribed-feeds-search-list/test/index.test.tsx
  packages/data-stores/src/reader/contexts/index.ts
  packages/data-stores/src/reader/contexts/unsubscribed-feeds-search.tsx
  packages/data-stores/src/reader/index.ts
  packages/data-stores/src/reader/queries/index.ts
  packages/data-stores/src/reader/queries/test/use-read-feed-search-query.tsx
  packages/data-stores/src/reader/queries/use-read-feed-query.ts
  packages/data-stores/src/reader/queries/use-read-feed-search-query.ts
  packages/data-stores/src/reader/types/index.ts
Owners: @Automattic/loop

Allow users to select plan before going to checkout (#109006)
  client/my-sites/plans-features-main/hooks/use-generate-action-callback.ts
  client/my-sites/plans-features-main/hooks/use-generate-action-hook.tsx
  client/my-sites/plans-features-main/hooks/use-plan-type-destination-callback.ts
  client/my-sites/plans-features-main/index.tsx
  client/my-sites/plugins/plugin-details-CTA/CTA-button.jsx
  client/my-sites/plugins/plugin-details-CTA/index.jsx
  client/my-sites/plugins/plugin-details-CTA/usps.tsx
Owners: none

Help Center: Wait for DOM ready before mounting in wp-admin (#109081)
  apps/help-center/help-center-wp-admin.js
Owners: none

Quora pixel: Add page view and user matching (#109083)
  client/lib/analytics/ad-tracking/load-tracking-scripts.js
  client/lib/analytics/ad-tracking/setup.js
Owners: none

Themes: Add ThemeSectionHeader component (#109082)
  client/my-sites/themes/sections-modern/style.scss
  client/my-sites/themes/sections-modern/test/theme-section-header.test.tsx
  client/my-sites/themes/sections-modern/theme-section-header.tsx
Owners: none

Reader: Enable reader/discover-v3 flag on all envs (#108973)
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

TeamCity: restore git mtimes before Build base images (#109088)
  .teamcity/settings.kts
Owners: none

Quora pixel: Track cart events (#109093)
  client/lib/analytics/ad-tracking/ad-track-signup-complete.js
  client/lib/analytics/ad-tracking/record-add-to-cart.js
  client/lib/analytics/ad-tracking/record-order.ts
Owners: none

Invites: fix social signup callback handling on accept-invite (#109087)
  client/my-sites/invites-unified/index.tsx
  client/my-sites/invites-unified/test/controller.test.tsx
  client/my-sites/invites-unified/test/index.test.tsx
  client/my-sites/invites/invite-accept-logged-out/index.jsx
  client/state/invites/actions.js
Owners: none

TeamCity: Remove unused e2e Slack notification step (#109095)
  .teamcity/_self/projects/WebApp.kt
Owners: none

Dashboard: OAuth-aware auth for Woo hostnames (#109038)
  client/dashboard/app/auth/index.tsx
  client/server/render/index.js
  config/_shared.json
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  config/development.json
Owners: @Automattic/lego

Revert "Dashboard: OAuth-aware auth for Woo hostnames" (#109096)
  client/dashboard/app/auth/index.tsx
  client/server/render/index.js
  config/_shared.json
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  config/development.json
Owners: @Automattic/lego

Image Studio: Use progressPhase to disable abort button (#109016)
  client/package.json
  packages/agents-manager/package.json
  packages/block-notes/package.json
  packages/image-studio/package.json
  packages/image-studio/src/components/index.tsx
  packages/odie-client/package.json
  yarn.lock
Owners: none

Agents Manager: Implement back navigation for the history view (#109042)
  packages/agents-manager/src/components/__tests__/AgentsManager.test.tsx
  packages/agents-manager/src/components/__tests__/FeedbackInput.test.tsx
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-history/index.tsx
  packages/agents-manager/src/components/chat-header/index.tsx
  packages/agents-manager/src/components/chat-header/style.scss
  packages/agents-manager/src/components/escalation-button/index.tsx
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/contexts/AgentsManagerContext.tsx
  packages/agents-manager/src/contexts/__tests__/AgentsManagerContext.test.tsx
  packages/agents-manager/src/hooks/__tests__/use-feedback.test.ts
  packages/agents-manager/src/hooks/use-conversation.ts
  packages/agents-manager/src/hooks/use-copy-message.ts
  packages/agents-manager/src/hooks/use-feedback.ts
  packages/agents-manager/src/utils/__tests__/convert-tool-message-to-component.test.ts
  packages/agents-manager/src/utils/__tests__/is-editor-page.test.ts
  packages/agents-manager/tsconfig.json
Owners: none

Themes: Add AI Builder banner component (#109103)
  client/assets/images/icons/big-sky.svg
  client/my-sites/themes/banners-modern/ai-builder-banner.tsx
  client/my-sites/themes/banners-modern/background-mobile.png
  client/my-sites/themes/banners-modern/background.png
  client/my-sites/themes/banners-modern/style.scss
  client/my-sites/themes/banners-modern/test/ai-builder-banner.test.tsx
Owners: none

Fix large plugin upload handling and update size limit messages (#109077)
  client/blocks/upload-drop-zone/index.jsx
  client/my-sites/plugins/plugin-upload/index.jsx
  client/state/data-layer/wpcom/sites/plugins/new/index.js
  client/state/data-layer/wpcom/sites/plugins/new/test/index.js
Owners: none

ARC-1516: refactor /log-in/link with connect-screen primitives (#109024)
  client/components/connect-screen/login-page-wrapper/index.tsx
  client/components/connect-screen/login-page-wrapper/test/index.tsx
  client/components/connect-screen/permissions-list/index.tsx
  client/components/connect-screen/permissions-list/test/index.tsx
  client/lib/partner-branding.tsx
  client/login/magic-login/index.jsx
  client/login/magic-login/request-login-email-form.jsx
  client/login/magic-login/test/index.test.jsx
  client/login/magic-login/test/request-login-email-form.test.jsx
Owners: none

CIAB: Enumerate valid options for allowedSocialServices (#108674)
  client/blocks/signup-form/signup-form-social-first.tsx
  client/blocks/signup-form/test/signup-form-social-first.tsx
  client/components/social-buttons/utils.ts
  client/lib/partner-branding.tsx
Owners: none

Theme Showcase: Add modern theme card styling with hover overlay (#109053)
  client/components/theme/index.jsx
  client/components/theme/style.scss
  client/components/theme/test/index.jsx
  client/my-sites/themes/theme-showcase.jsx
  client/my-sites/themes/theme-showcase.scss
  packages/design-picker/src/components/theme-card/index.tsx
  packages/design-picker/src/components/theme-card/style.scss
Owners: none

add: sentiel guard to prevent double init of Image Studio (#109091)
  packages/image-studio/src/index.tsx
Owners: none

CIAB: use front-end build for the animation (#109025)
  client/landing/stepper/declarative-flow/internals/steps-repository/site-spec/index.tsx
  client/lib/site-spec/utils.ts
  packages/onboarding/src/cart/index.tsx
Owners: none

A4A: Remove 'a4a-pressable-addons' feature flag (#108995)
  client/a8c-for-agencies/sections/marketplace/hooks/use-product-and-plans.tsx
  client/a8c-for-agencies/sections/marketplace/products-overview/product-filter/hooks/use-product-filter-options.tsx
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

Reader: Fix left/right aligned images struggling paragraphs (#109104)
  client/assets/stylesheets/shared/_rendered-blocks.scss
Owners: none

set feed_item_id when there is an error (#109105)
  client/state/reader/posts/actions.js
  client/state/reader/posts/test/actions.js
Owners: @Automattic/loop

Themes: Fix eligibility warnings dialog stuck after Atomic transfer (#109092)
  client/my-sites/themes/atomic-transfer-dialog.tsx
  client/state/sites/actions.js
Owners: none

Reader: Fix missing translation on the FeedPreview component (#109049)
  client/landing/subscriptions/components/feed-preview/index.tsx
  client/landing/subscriptions/components/feed-preview/test/index.test.tsx
Owners: none

Revert "TeamCity: restore git mtimes before Build base images (#109088)" (#109115)
  .teamcity/settings.kts
Owners: none

ARC-1570: Persist CIAB branding across session navigation (#109109)
  client/blocks/login/login-form.jsx
  client/lib/partner-branding.tsx
  client/lib/test/partner-branding.tsx
  client/login/magic-login/index.jsx
  client/login/magic-login/test/index.test.jsx
  client/login/wp-login/index.jsx
  client/my-sites/invites-unified/screens/accept-invite-screen.tsx
  client/my-sites/invites-unified/screens/already-member-screen.tsx
  client/my-sites/invites/invite-accept-logged-out/index.jsx
  client/my-sites/invites/test/invite-accept-logged-out.jsx
  client/signup/steps/user/index.jsx
Owners: none

A4A: Show renewal and change payment method options (#109032)
  client/me/purchases/manage-purchase/index.tsx
  client/me/purchases/manage-purchase/purchase-meta-expiration.tsx
  client/me/purchases/manage-purchase/purchase-meta-payment-details.tsx
  client/me/purchases/manage-purchase/purchase-meta.tsx
  client/me/purchases/manage-purchase/test/purchase-management-buttons.js
  client/me/purchases/purchase-item/index.tsx
  client/me/purchases/utils.ts
Owners: @Automattic/shilling

Revert "A4A: Show renewal and change payment method options (#109032)" (#109125)
  client/me/purchases/manage-purchase/index.tsx
  client/me/purchases/manage-purchase/purchase-meta-expiration.tsx
  client/me/purchases/manage-purchase/purchase-meta-payment-details.tsx
  client/me/purchases/manage-purchase/purchase-meta.tsx
  client/me/purchases/manage-purchase/test/purchase-management-buttons.js
  client/me/purchases/purchase-item/index.tsx
  client/me/purchases/utils.ts
Owners: @Automattic/shilling

TeamCity: remove git-restore-mtime from Docker image build (#109126)
  .teamcity/_self/projects/WebApp.kt
Owners: none

A4A: Show renewal and change payment method options - RETRY #109032 (#109127)
  client/me/purchases/manage-purchase/index.tsx
  client/me/purchases/manage-purchase/purchase-meta-expiration.tsx
  client/me/purchases/manage-purchase/purchase-meta-payment-details.tsx
  client/me/purchases/manage-purchase/purchase-meta.tsx
  client/me/purchases/manage-purchase/test/purchase-management-buttons.js
  client/me/purchases/purchase-item/index.tsx
  client/me/purchases/utils.ts
Owners: @Automattic/shilling

A4A: Hosting dash - update purchase details pages (#109094)
  client/dashboard/components/purchase-expiry-status/index.tsx
  client/dashboard/me/billing-purchases/purchase-payment-method.tsx
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/utils/purchase.ts
Owners: @Automattic/lego

Activity Log: Surface MCP client attribution in actor display (#109022)
  client/components/activity-card/activity-actor.tsx
  client/components/activity-card/style.scss
  client/components/activity-card/types.ts
  client/dashboard/components/logs-activity/activity-actor.scss
  client/dashboard/components/logs-activity/activity-actor.tsx
  client/dashboard/components/logs-activity/types.ts
  client/dashboard/sites/logs-activity/activity-transformer.ts
  client/dashboard/sites/logs-activity/test/activity-transformer.test.ts
  client/my-sites/activity/activity-log-item/activity-actor.jsx
  client/my-sites/activity/activity-log-item/aggregated.jsx
  client/my-sites/activity/activity-log-item/index.jsx
  client/my-sites/activity/activity-log-item/style.scss
  client/state/activity-log/types.ts
  client/state/data-layer/wpcom/sites/activity/from-api.js
  client/state/data-layer/wpcom/sites/activity/schema.json
  packages/api-core/src/site-activity-log/types.ts
Owners: @Automattic/lego

MSD > Security: Enable 'Enhanced Security' for Two-step authentication (#108539)
  client/dashboard/me/security-two-step-auth/main-page/application-passwords/index.tsx
  client/dashboard/me/security-two-step-auth/main-page/backup-codes/index.tsx
  client/dashboard/me/security-two-step-auth/main-page/enhanced-security/index.tsx
  client/dashboard/me/security-two-step-auth/main-page/index.tsx
  client/dashboard/me/security-two-step-auth/main-page/security-keys/index.tsx
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
Owners: @Automattic/lego

Email Forwards: Add the ability to edit an email forward (#108952)
  client/dashboard/emails/dataviews/actions/edit-email-forward.tsx
  client/dashboard/emails/dataviews/actions/index.ts
  client/dashboard/emails/dataviews/actions/resend-verification.ts
  client/data/emails/use-update-email-forward-mutation.tsx
  client/my-sites/email/email-forwarding/actions-menu/index.tsx
  client/my-sites/email/email-forwarding/hooks.ts
  packages/api-core/src/domain/mutators.ts
  packages/api-core/src/domain/types.ts
  packages/api-queries/src/domain.ts
Owners: @Automattic/lego, @Automattic/jetpack-avalon

Theme Showcase: Add DIFM banner and shared banner-modern styles (#109117)
  client/my-sites/themes/banners-modern/ai-builder-background-mobile.png
  client/my-sites/themes/banners-modern/ai-builder-background.png
  client/my-sites/themes/banners-modern/ai-builder-banner.tsx
  client/my-sites/themes/banners-modern/difm-background-mobile.png
  client/my-sites/themes/banners-modern/difm-background.png
  client/my-sites/themes/banners-modern/difm-banner.tsx
  client/my-sites/themes/banners-modern/style.scss
  client/my-sites/themes/banners-modern/test/difm-banner.test.tsx
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
