Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Fix Dashboard visited link color (#110958)
  client/dashboard/components/dataviews/styles.scss
  client/lib/color-scheme/dark-theme.scss
Owners: @Automattic/lego

Fix dark mode surface regressions (#110965)
  client/my-sites/themes/_dark-mode.scss
  packages/wpcom-template-parts/package.json
  test/e2e/specs/color-scheme/dark-mode-surfaces.spec.ts
  yarn.lock
Owners: none

Reader achievements: add status labels + adopt endpoint v2 fields (#110966)
  client/reader/user-profile/views/achievements/achievements-grid/achievement-card.tsx
  client/reader/user-profile/views/achievements/achievements-grid/anniversary-achievement.tsx
  client/reader/user-profile/views/achievements/achievements-grid/generic-achievement.tsx
  client/reader/user-profile/views/achievements/achievements-grid/index.tsx
  client/reader/user-profile/views/achievements/achievements-grid/locked-achievement-card.tsx
  client/reader/user-profile/views/achievements/achievements-grid/style.scss
  client/reader/user-profile/views/achievements/achievements-grid/test/achievement-card.test.tsx
  client/reader/user-profile/views/achievements/achievements-grid/test/index.test.tsx
  client/reader/user-profile/views/achievements/test/utils.test.ts
  client/reader/user-profile/views/achievements/utils.ts
  packages/api-core/src/read-achievements/types.ts
Owners: @Automattic/loop

Reader Social: fix compose FAB hover/active contrast (#110968)
  client/reader/social/composer/style.scss
  client/reader/social/composer/triggers/compose-fab.tsx
Owners: @Automattic/loop

webpack: resolve .mjs extensions (#110969)
  apps/blaze-dashboard/webpack.config.js
  apps/odyssey-stats/webpack.config.js
  client/webpack.config.desktop.js
  client/webpack.config.js
  client/webpack.config.node.js
  desktop/webpack.config.js
  packages/calypso-build/webpack.config.js
Owners: none

Reader onboarding RSM - final bug fixes and enable feature. (#110963)
  client/reader/onboarding-rsm/curated-blogs/lifestyle.tsx
  client/reader/onboarding-rsm/curated-blogs/technology.tsx
  client/reader/onboarding-rsm/index.tsx
  client/reader/onboarding-rsm/interests-modal/index.tsx
  client/reader/onboarding-rsm/interests-modal/test/index.test.tsx
  client/reader/onboarding-rsm/subscribe-modal/index.tsx
  client/reader/onboarding-rsm/subscribe-modal/use-subscribe-recommendations.ts
  client/reader/onboarding-rsm/test/index.test.tsx
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: @Automattic/loop

data-stores: make types forward-compatible with the @wordpress/* bump (#110972)
  packages/api-core/src/users/fetchers.ts
  packages/data-stores/src/contextual-help/admin-sections.ts
  packages/data-stores/src/help-center/utils.ts
  packages/data-stores/src/plans/selectors.ts
  packages/data-stores/src/products-list/selectors.ts
  packages/data-stores/src/queries/use-all-domains-query.ts
  packages/data-stores/src/reader/helpers/index.ts
  packages/data-stores/src/site/selectors.ts
Owners: none

agents-manager, onboarding: forward-compatible select() casts (#110974)
  packages/agents-manager/src/hooks/use-persisted-history.ts
  packages/agents-manager/src/hooks/use-save-new-chat-route.ts
  packages/agents-manager/src/utils/persist-last-activity.ts
  packages/onboarding/src/setup-tailored-site-after-creation.ts
  packages/onboarding/src/step-container-v2/helpers/decorateButtonWithTracksEventRecording.ts
Owners: @Automattic/quake

icons: use non-deprecated @wordpress/icons export names (#110973)
  apps/notifications/src/app/templates/button-edit.jsx
  client/a8c-for-agencies/components/sidebar-menu/hooks/use-sites-menu-items.ts
  client/a8c-for-agencies/sections/agent-studio/primary/overview/deliverable-card.tsx
  client/a8c-for-agencies/sections/marketplace/checkout/request-client-payment.tsx
  client/blocks/post-edit-button/index.jsx
  client/blocks/reader-post-options-menu/reader-post-ellipsis-menu.jsx
  client/components/connect-screen/stories/index.stories.tsx
  client/dashboard/domains/domain-dns/actions.tsx
  client/dashboard/me/billing-payment-methods/index.tsx
  client/dashboard/me/security-ssh-key/ssh-key.tsx
  client/dashboard/sites/deployments-list/deployment-logs/deployment-logs-status.tsx
  client/dashboard/sites/scan/utils.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-ssh-share-access/steps/step-share-ssh-access.tsx
  client/me/purchases/manage-purchase/payment-info-block.tsx
  client/me/purchases/purchase-item/index.tsx
  client/my-sites/domains/domain-management/dns/dns-records-list.jsx
  client/my-sites/importer/newsletter/subscribers/import-subscribers-error.tsx
  client/my-sites/stats/stats-list/action-spam.jsx
  client/my-sites/stats/stats-list/stats-list-actions.jsx
  client/my-sites/stats/stats-list/stats-list-item.jsx
  client/reader/social/composer/triggers/compose-fab.tsx
  packages/components/src/notice-banner/index.tsx
  packages/content-research/src/components/ai-summary/index.tsx
  packages/domain-search/src/ui/domain-suggestion-cta/error.tsx
  packages/jetpack-ai-calypso/src/logo-generator/components/upgrade-nudge.tsx
Owners: @Automattic/loop, @Automattic/lego, @Automattic/shilling

APM: Live-poll the Backend aggregate while capturing is on (#110952)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/performance/backend/aggregate.ts
  client/dashboard/sites/performance/backend/index.tsx
  client/dashboard/sites/performance/backend/timeframe.ts
  packages/api-queries/src/site-apm.ts
Owners: @Automattic/lego

[codex] Limit smart dictation mic shimmer (#110976)
  packages/wpcom-smart-dictation/src/live-ai-assistant/components/mic-icon.tsx
Owners: none

Purchases: Add switch to yearly intervention (#110463)
  client/components/marketing-survey/cancel-purchase-form/step-components/solution-cards-config.ts
  client/components/marketing-survey/cancel-purchase-form/step-components/solutions-cards-upsell-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/step-components/solutions-cards-upsell-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/get-solutions-for-reason.ts
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
Owners: @Automattic/lego

Cancel flow: Wire speak-with-support intervention to direct Zendesk chat (#110491)
  client/components/marketing-survey/cancel-purchase-form/step-components/solution-cards-config.ts
  client/components/marketing-survey/cancel-purchase-form/step-components/solutions-cards-upsell-step.tsx
  client/components/marketing-survey/cancel-purchase-form/step-components/test/solutions-cards-upsell-step.test.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/step-components/solutions-cards-upsell-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/step-components/test/solutions-cards-upsell-step.test.tsx
Owners: @Automattic/lego

Fix notification dark mode contrast (#110979)
  apps/notifications/src/app/note-list/style.scss
Owners: none

APM: Enable performance/apm feature flag on staging (#110977)
  config/stage.json
Owners: none

Enable Woo Hosting Big Sky flow in production (#110983)
  config/production.json
Owners: none

APM: Enable performance/apm feature flag on dashboard staging (#110984)
  config/dashboard-stage.json
Owners: none

dashboard/me: widen i18n result variables to string (#110985)
  client/dashboard/me/billing-history/receipt.tsx
  client/dashboard/me/security-ssh-key/index.tsx
  client/dashboard/me/security-two-step-auth/main-page/security-keys/index.tsx
  client/dashboard/me/security-two-step-auth/main-page/security-keys/register-key.tsx
Owners: @Automattic/lego

api-fetch, sprintf: forward-compatible option/argument typing (#110975)
  packages/agents-manager/src/hooks/use-help-search-query.ts
  packages/calypso-e2e/src/lib/components/me/me-sidebar-component.ts
  packages/calypso-e2e/src/lib/flows/cancel-purchase-flow.ts
  packages/calypso-e2e/src/lib/utils/validate-translations.ts
  packages/help-center/src/data/use-support-activity.ts
  test/e2e/specs/flows/setup-domain__flows.spec.ts
Owners: @Automattic/t-rex

Plugin Compass: Add support for the redesigned/site-less plugin marketplace (#110987)
  client/my-sites/plugins/categories/index.tsx
  client/my-sites/plugins/categories/use-categories.tsx
  client/my-sites/plugins/marketplace-ai-experience/agent-provider.ts
  client/my-sites/plugins/marketplace-ai-experience/banner/index.tsx
  client/my-sites/plugins/marketplace-ai-experience/banner/style.scss
  client/my-sites/plugins/marketplace-ai-experience/index.tsx
  client/my-sites/plugins/marketplace-ai-experience/picks-store.ts
  client/my-sites/plugins/marketplace-ai-experience/sparkle-icon.tsx
  client/my-sites/plugins/marketplace-ai-experience/style.scss
  client/my-sites/plugins/plugin-compass-agent-loader.tsx
  client/my-sites/plugins/plugins-browser-item/index.jsx
  client/my-sites/plugins/plugins-browser-item/style.scss
  client/my-sites/plugins/plugins-browser-list/index.jsx
  client/my-sites/plugins/plugins-browser/index.jsx
  client/my-sites/plugins/plugins-search-results-page/index.jsx
Owners: none

Theme activation modal: Fix minor browser quirks (#110991)
  client/my-sites/themes/activation-modal.scss
  client/my-sites/themes/iframe-preview-card.scss
  client/my-sites/themes/iframe-preview-card.tsx
Owners: none

Update @wordpress/theme, dedupe @wordpress/ui, migrate to @wordpress/dataviews 14 (#110933)
  .yarn/patches/@base-ui-react-npm-1.4.1-fbb7347502.patch
  apps/notifications/package.json
  apps/notifications/src/app/note-list/index.tsx
  apps/notifications/src/app/note-panel/index.tsx
  apps/notifications/src/app/types.ts
  apps/notifications/src/panel/rest-client/index.js
  apps/wpcom-smart-dictation/package.json
  client/dashboard/components/domain-contact-details-form/region-address-fieldsets.tsx
  client/dashboard/domains/domain-transfer/select-site.tsx
  client/dashboard/me/billing-tax-details/user-tax-form.tsx
  client/dashboard/me/blocked-sites/index.tsx
  client/dashboard/me/security-account-recovery/recovery-email.tsx
  client/dashboard/me/security-account-recovery/recovery-sms.tsx
  client/dashboard/me/security-ssh-key/ssh-key-form.tsx
  client/dashboard/me/security-two-step-auth-sms/setup-phone-number.tsx
  client/dashboard/me/security-two-step-auth/common/verify-code-form.tsx
  client/dashboard/me/security-two-step-auth/main-page/actions/disable-two-step-dialog.tsx
  client/dashboard/me/security-two-step-auth/main-page/application-passwords/register-application-password.tsx
  client/dashboard/me/security-two-step-auth/main-page/security-keys/register-key.tsx
  client/dashboard/sites/dataviews/views.ts
  client/dashboard/sites/logs/dataviews/views.ts
  client/dashboard/sites/site-reset-modal/index.tsx
  client/dashboard/sites/staging-site-sync-modal/index.tsx
  client/me/purchases/vat-info/types.ts
  client/me/purchases/vat-info/vat-form.tsx
  client/package.json
  package.json
  packages/api-core/package.json
  packages/api-core/src/me-tax-details/types.ts
  packages/content-research/package.json
  packages/omnibar/package.json
  packages/wpcom-smart-dictation/package.json
  test/client/setup-dashboard-test-framework.js
  test/client/setup-test-framework.js
  yarn.lock
Owners: @Automattic/lego

Staging site sync modal: point support link to sync-staging-site guide (#110996)
  client/components/inline-support-link/context-links.js
  client/dashboard/sites/staging-site-sync-modal/index.tsx
  client/sites/staging-site/components/staging-site-sync-modal/index.tsx
Owners: @Automattic/lego, @Automattic/yolo

Marketplace: Fix infinite render loop on plugin install page (#110997)
  client/my-sites/marketplace/components/progressbar/index.tsx
  client/my-sites/marketplace/pages/marketplace-product-install/index.tsx
Owners: none

Reader onboarding, memberships redirect: Fix render-phase dispatches (#111000)
  client/me/memberships/cancelled-subscription-redirect-return.jsx
  client/reader/onboarding/index.tsx
Owners: @Automattic/loop

Licensing thank-you: Fix latent auto-activate re-entry under React 18 (#110999)
  client/my-sites/checkout/checkout-thank-you/licensing-thank-you-auto-activation.tsx
Owners: none

Dashboard: disable radical omnibar in dev envs (#110998)
  client/dashboard/app/omnibar/style.scss
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/development.json
  test/e2e/specs/dashboard/dashboard__rum-tracking.spec.ts
Owners: @Automattic/lego

CI: remove Dashboard Live (CIAB) entry (#111002)
  .github/workflows/calypso-live.yml
  .teamcity/_self/projects/WebApp.kt
Owners: none

Dashboard: fix Latest Activity card not loading required CSS (#111001)
  client/dashboard/sites/overview-latest-activity-card/index.tsx
Owners: @Automattic/lego

Revert "Dashboard: fix Latest Activity card not loading required CSS (#111001)" (#111004)
  client/dashboard/sites/overview-latest-activity-card/index.tsx
Owners: @Automattic/lego

Reader composer FAB: prepend profile handle when opened on a profile page (#111003)
  client/reader/atmosphere/author-profile-view.tsx
  client/reader/atmosphere/test/author-profile-view.test.tsx
  client/reader/mastodon/author-profile-view.tsx
  client/reader/social/composer/composer-modal.tsx
  client/reader/social/composer/composer-provider.tsx
  client/reader/social/composer/test/composer-modal.test.tsx
  client/reader/social/composer/triggers/compose-fab.tsx
  client/reader/social/composer/triggers/test/compose-fab.test.tsx
Owners: @Automattic/loop

Add On This Day notification setting (#111006)
  client/me/notification-settings/main.jsx
  client/me/notification-settings/on-this-day-notification-settings/index.jsx
  client/me/notification-settings/on-this-day-notification-settings/style.scss
  client/me/notification-settings/push-notification-settings/style.scss
  packages/api-core/src/me-notification-settings/types.ts
Owners: none

Dashboard DataViews: Restore CardBody padding override after v14 upgrade (#111014)
  client/dashboard/components/dataviews/styles.scss
Owners: @Automattic/lego

Plans step: hold loading state until grid data is ready (#110177)
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/unified-plans-step.tsx
  client/my-sites/plans-features-main/index.tsx
Owners: none

Importer: Update getting started video and add courses link (#111029)
  client/blocks/importer/components/getting-started-video/index.tsx
Owners: none

Dashboard: fix Latest Activity card not loading required CSS (alt 2) (#111009)
  client/dashboard/app/dataviews-overrides.scss
  client/dashboard/app/style.scss
  client/dashboard/components/dataviews/styles.scss
Owners: @Automattic/lego

A4A > Team: use DataViews actions API, fix actions alignment and side padding (#111007)
  client/a8c-for-agencies/sections/team/primary/team-list/columns.tsx
  client/a8c-for-agencies/sections/team/primary/team-list/invite-table.tsx
  client/a8c-for-agencies/sections/team/primary/team-list/member-table.tsx
  client/a8c-for-agencies/sections/team/primary/team-list/style.scss
  client/a8c-for-agencies/sections/team/primary/team-list/team-action-dialog.tsx
  client/a8c-for-agencies/sections/team/primary/team-list/use-team-actions.ts
Owners: none

Dashboard: clarify latest and stable WP versions in settings (#111032)
  client/dashboard/sites/settings-wordpress/test/index.test.tsx
  client/dashboard/utils/wp-version.ts
Owners: @Automattic/lego

Dashboard: import DataViews overrides on backported site overview and list (#111039)
  client/sites/v2/site-overview/style.scss
  client/sites/v2/sites-list/style.scss
Owners: none

Reader Social: route notifications to the in-app thread (#111043)
  client/reader/atmosphere/notifications-panel.tsx
  client/reader/atmosphere/test/notifications-panel.test.tsx
  client/reader/mastodon/notifications-panel.tsx
  client/reader/mastodon/test/notifications-panel.test.tsx
  client/reader/social/components/notifications-list/index.tsx
  client/reader/social/components/notifications-list/notification-item.tsx
  client/reader/social/components/notifications-list/stacked-notification.tsx
  client/reader/social/components/notifications-list/test/notification-item.test.tsx
  client/reader/social/components/notifications-list/test/stacked-notification.test.tsx
  client/reader/social/index.ts
  client/reader/social/social-notifications-panel.tsx
Owners: @Automattic/loop
