Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Partner Branding: detect partner from client_id and remove oauth2_redirect check (#109170)
  client/blocks/login/login-form.jsx
  client/lib/oauth2-clients.js
  client/lib/partner-branding.tsx
  client/lib/test/partner-branding.tsx
  client/login/magic-login/index.jsx
  client/login/wp-login/index.jsx
  client/signup/steps/user/index.jsx
  client/state/oauth2-clients/reducer.js
  client/state/oauth2-clients/selectors.js
  client/state/oauth2-clients/ui/selectors.js
Owners: none

Image Studio: Support additional Jetpack AI entry points (#109166)
  packages/image-studio/src/extensions/image-generation-handler-extension.ts
  packages/image-studio/src/extensions/index.test.ts
  packages/image-studio/src/extensions/index.ts
  packages/image-studio/src/store/index.ts
Owners: none

Add/paid plugin plan selection before checkout (#109157)
  client/my-sites/plans-features-main/hooks/use-generate-action-callback.ts
  client/my-sites/plans-features-main/hooks/use-generate-action-hook.tsx
  client/my-sites/plans-features-main/hooks/use-plan-type-destination-callback.ts
  client/my-sites/plans-features-main/index.tsx
  client/my-sites/plans/controller.jsx
  client/my-sites/plans/main.jsx
  client/my-sites/plugins/plugin-details-CTA/CTA-button.jsx
  client/my-sites/plugins/plugin-details-CTA/usps.tsx
  test/e2e/specs/plugins/plugins__purchase.ts
Owners: none

Help Center: Document API endpoints in AGENTS.md (#109230)
  packages/help-center/AGENTS.md
Owners: @Automattic/t-rex

notifications: translate: Add --jobs 4 argument to wp-babel-makepot (#109212)
  apps/notifications/package.json
Owners: none

Theme Showcase: Add FAQ accordion section (#109237)
  client/my-sites/themes/sections-modern/style.scss
  client/my-sites/themes/theme-showcase.jsx
  client/my-sites/themes/themes-faq/index.tsx
  client/my-sites/themes/themes-faq/style.scss
Owners: none

Theme Showcase: Adapt modern styles to single theme pages (#109238)
  client/layout/logged-out.jsx
  client/my-sites/theme/style.scss
  client/my-sites/theme/theme-support-tab/style.scss
  client/my-sites/themes/hero-modern/style.scss
  packages/wpcom-template-parts/src/universal-header-navigation/style.scss
Owners: none

Survicate: Add account_age_in_days parameter and update its usage on MSD (#109213)
  client/dashboard/app/survicate/index.tsx
  client/dashboard/app/survicate/test/index.test.tsx
  packages/survicate/src/index.ts
  packages/survicate/src/test/visitor-traits.test.ts
  packages/survicate/src/visitor-traits.ts
Owners: @Automattic/lego

agents-manager: translate: Add --jobs 4 argument to wp-babel-makepot (#109247)
  apps/agents-manager/package.json
Owners: none

blaze-dashboard: translate: Add --jobs 4 argument to wp-babel-makepot (#109248)
  apps/blaze-dashboard/package.json
Owners: none

CIAB: Enable privacy page (#109225)
  client/dashboard/app-ciab/index.tsx
Owners: @Automattic/lego

Dashboard: Re-enable OAuth for Woo dashboard hostnames (#109220)
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
Owners: none

happy-blocks: translate: Add --jobs 4 argument to wp-babel-makepot (#109249)
  apps/happy-blocks/package.json
Owners: none

Marketplace: Fix plugin install redirect for non-wporg plugins (#109242)
  client/my-sites/marketplace/pages/marketplace-product-install/index.tsx
Owners: none

Dashboard: Log inaccessible Jetpack errors to Logstash (#109191)
  client/dashboard/sites/site/notices.tsx
  client/dashboard/sites/site/test/notices.test.tsx
Owners: @Automattic/lego

Fix Jetpack connection banner spacing in backport overview (#109136)
  client/sites/v2/site-overview/style.scss
Owners: none

A4A: Sort Pressable products correctly. (#109232)
  client/a8c-for-agencies/sections/marketplace/lib/product-filter.ts
Owners: none

A4A Marketplace: Polish checkout notice summary typography and styles (#109099)
  client/a8c-for-agencies/sections/marketplace/checkout/notice-summary.tsx
  client/a8c-for-agencies/sections/marketplace/checkout/style-v1.scss
  client/a8c-for-agencies/style.scss
Owners: none

Theme Showcase: Fix style variation ribbon overflowing on small screens (#109241)
  client/my-sites/theme/style.scss
  packages/global-styles/src/components/global-styles-variations/style.scss
Owners: none

Theme Showcase: Restore the "Contact support" card for partner themes (#109262)
  client/my-sites/theme/theme-support-tab/index.jsx
Owners: none

Add Blackbox JS to WordPress.com login (#108801)
  client/blocks/login/utils/get-blackbox-session-id.js
  client/document/index.jsx
  client/server/pages/index.js
  client/state/login/actions/login-user.js
  config/_shared.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
  packages/calypso-config/src/desktop.ts
Owners: none

Partner Branding: make featureFlag optional so partners without one are always active (#109234)
  client/lib/partner-branding.tsx
  client/lib/test/partner-branding.tsx
Owners: none

A4A: Add Plan data for the new Pressable storage addons. (#109264)
  client/a8c-for-agencies/sections/marketplace/pressable-overview/lib/get-pressable-plan.ts
Owners: none

Agents Manager: Handle apply block editing tool messages (#109226)
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/hooks/use-checkpoint-action.ts
  packages/agents-manager/src/hooks/use-copy-action.ts
  packages/agents-manager/src/utils/__tests__/process-tool-messages.test.ts
  packages/agents-manager/src/utils/process-tool-messages.ts
Owners: none

Agents Manager: Add `can_access_zendesk` context value (#109235)
  packages/agents-manager/src/components/agents-manager.tsx
  packages/agents-manager/src/components/headless-agent-initializer.tsx
  packages/agents-manager/src/utils/agent-config.ts
  packages/agents-manager/src/utils/can-connect-to-zendesk.ts
Owners: none

Dockerfile.base: cache stage skips downloading PLAYWRIGHT (#109269)
  Dockerfile.base
Owners: none

Zendesk chat: add file attachment support (#109054)
  client/package.json
  packages/agents-manager/package.json
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/zendesk-chat/index.tsx
  packages/image-studio/package.json
  packages/odie-client/package.json
  packages/zendesk-client/src/components/attachment-message.scss
  packages/zendesk-client/src/components/attachment-message.tsx
  packages/zendesk-client/src/use-managed-zendesk-chat.tsx
  yarn.lock
Owners: none

Email forwarding: Replace any types in email forward mutation hooks (#109263)
  client/data/emails/types.ts
  client/data/emails/use-add-email-forward-mutation.tsx
  client/data/emails/use-remove-email-forward-mutation.tsx
  client/data/emails/use-update-email-forward-mutation.tsx
Owners: none

Docker: Make profiling opt-in (#109270)
  .teamcity/_self/projects/WebApp.kt
  .teamcity/settings.kts
  Dockerfile
  Dockerfile.base
  client/webpack.config.js
Owners: none

Login: route Woo signups to CIAB setup redirect (#109243)
  client/lib/login/index.js
  client/lib/login/test/index.js
Owners: none

docker: Fix FROM/AS casing warnings (#109273)
  Dockerfile
  Dockerfile.base
Owners: none

build-packages: Pass --topological (#109272)
  bin/build-packages-if-needed.sh
  package.json
Owners: none

UnitTests CI: Increase timeout, skip Playwright browsers, make trunk check more efficient (#109275)
  .teamcity/_self/projects/WebApp.kt
Owners: none

dockerfile: Use -delete instead of -exec rm for sourcemaps (#109274)
  Dockerfile
Owners: none

Enable Akismet cancellation offers in MSD (#109215)
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
Owners: @Automattic/lego

Add InvalidInviteScreen and extract shared InviteScreenLayout (#108866)
  client/my-sites/invites-unified/controller.tsx
  client/my-sites/invites-unified/index.tsx
  client/my-sites/invites-unified/screens/already-member-screen.tsx
  client/my-sites/invites-unified/screens/invalid-invite-screen.tsx
  client/my-sites/invites-unified/screens/invite-screen-layout.tsx
  client/my-sites/invites-unified/screens/style.scss
  client/my-sites/invites-unified/test/controller.test.tsx
  client/my-sites/invites-unified/test/index.test.tsx
  client/my-sites/invites-unified/utils.ts
Owners: none

Add @automattic/design-types to break circular dependency between data-stores and design-picker (#109278)
  packages/data-stores/package.json
  packages/data-stores/src/onboard/actions.ts
  packages/data-stores/src/onboard/reducer.ts
  packages/data-stores/src/site/actions.ts
  packages/data-stores/src/starter-designs-queries/types.ts
  packages/data-stores/src/starter-designs-queries/use-starter-design-by-slug.ts
  packages/data-stores/src/starter-designs-queries/use-starter-designs-query.ts
  packages/data-stores/tsconfig.json
  packages/design-picker/package.json
  packages/design-picker/src/types.ts
  packages/design-picker/src/utils/__tests__/designs.test.ts
  packages/design-picker/src/utils/is-locked-style-variation.ts
  packages/design-picker/tsconfig.json
  packages/design-types/package.json
  packages/design-types/src/index.ts
  packages/design-types/tsconfig-cjs.json
  packages/design-types/tsconfig.json
  packages/global-styles/package.json
  packages/global-styles/src/types.ts
  packages/global-styles/tsconfig.json
  packages/tsconfig.json
  yarn.lock
Owners: none

MSD Purchases: fix cancellation offer thank you notice for auto-renew… (#109277)
  client/dashboard/me/billing-purchases/purchase-settings/purchase-notice.tsx
Owners: @Automattic/lego

Dashboard: re-enable user bootstrap (#109254)
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
Owners: none

CIAB MSD: drop /ciab base path by using different live link container name (#109229)
  .github/workflows/calypso-live.yml
  .teamcity/_self/projects/WebApp.kt
  client/dashboard/app-ciab/index.tsx
  client/dashboard/app-ciab/routing.ts
  client/dashboard/app-dotcom/routing.ts
  client/dashboard/app/routing.ts
  client/server/pages/index.js
Owners: @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
