Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Secure AI editorial review avatar URLs (#111129)
  packages/jetpack-ai-sidebar/package.json
  packages/jetpack-ai-sidebar/src/components/reviewer-chip.test.tsx
  packages/jetpack-ai-sidebar/src/components/reviewer-chip.tsx
  yarn.lock
Owners: none

Domain Connection: open support documentation in Help Center (#110989)
  client/components/domains/connect-domain-step/connect-domain-step-support-info-link.jsx
Owners: @Automattic/quake

Add OpenAI advertising base tracking pixel (#111279)
  client/lib/analytics/ad-tracking/constants.js
  client/lib/analytics/ad-tracking/load-tracking-scripts.js
  client/lib/analytics/ad-tracking/setup.js
  client/lib/analytics/tracker-buckets.ts
  client/lib/analytics/utils/get-exceptions.ts
  client/server/pages/index.js
Owners: none

A4A: align Migrations, WooPayments, and Reports overview headers with marketplace pattern (#111085)
  client/a8c-for-agencies/hooks/use-banner-parallax.ts
  client/a8c-for-agencies/sections/marketplace/hosting-overview/style.scss
  client/a8c-for-agencies/sections/marketplace/products-overview/style.scss
  client/a8c-for-agencies/sections/marketplace/refer-hosting/style.scss
  client/a8c-for-agencies/sections/migrations/primary/migrations-overview-v2/index.tsx
  client/a8c-for-agencies/sections/migrations/primary/migrations-overview-v2/sections/migrations-banner/index.tsx
  client/a8c-for-agencies/sections/migrations/primary/migrations-overview-v2/sections/migrations-banner/style.scss
  client/a8c-for-agencies/sections/migrations/primary/migrations-overview-v2/style.scss
  client/a8c-for-agencies/sections/reports/primary/overview/index.tsx
  client/a8c-for-agencies/sections/reports/primary/overview/sections/reports-banner/index.tsx
  client/a8c-for-agencies/sections/reports/primary/overview/sections/reports-banner/style.scss
  client/a8c-for-agencies/sections/reports/primary/overview/style.scss
  client/a8c-for-agencies/sections/woopayments/primary/woopayments-overview/index.tsx
  client/a8c-for-agencies/sections/woopayments/primary/woopayments-overview/sections/woopayments-banner/index.tsx
  client/a8c-for-agencies/sections/woopayments/primary/woopayments-overview/sections/woopayments-banner/style.scss
  client/a8c-for-agencies/sections/woopayments/primary/woopayments-overview/style.scss
  client/a8c-for-agencies/style.scss
Owners: none

Migrate reader recommended sites to React Query (#111257)
  client/reader/data/recommended-sites/index.ts
  client/reader/data/recommended-sites/test/index.test.tsx
  client/reader/recommended-sites/constants.ts
  client/reader/recommended-sites/index.ts
  client/reader/recommended-sites/index.tsx
  client/reader/recommended-sites/placeholder/index.tsx
  client/reader/recommended-sites/site/index.tsx
  client/reader/recommended-sites/site/test/index.test.tsx
  client/reader/recommended-sites/test/index.test.tsx
  client/reader/stream/recommended-posts.jsx
  client/reader/stream/test/recommended-posts.test.jsx
  client/state/data-layer/wpcom/me/dismiss/sites/new/index.js
  client/state/data-layer/wpcom/me/dismiss/sites/new/test/index.js
  client/state/data-layer/wpcom/read/following/mine/new/index.js
  client/state/data-layer/wpcom/read/following/mine/new/test/index.js
  client/state/data-layer/wpcom/read/recommendations/sites/index.ts
  client/state/data-layer/wpcom/read/recommendations/sites/test/index.ts
  client/state/reader/action-types.ts
  client/state/reader/recommended-sites/actions.ts
  client/state/reader/recommended-sites/reducer.ts
  client/state/reader/recommended-sites/selectors/get-reader-recommended-sites-paging-offset.ts
  client/state/reader/recommended-sites/selectors/get-reader-recommended-sites.ts
  client/state/reader/recommended-sites/selectors/index.ts
  client/state/reader/recommended-sites/test/reducer.js
  client/state/reader/reducer.ts
  client/state/reader/site-dismissals/actions.js
  client/state/reader/site-dismissals/test/actions.js
  packages/api-core/src/index.ts
  packages/api-core/src/read-site-recommendations/__tests__/fetchers.test.ts
  packages/api-core/src/read-site-recommendations/adapters.ts
  packages/api-core/src/read-site-recommendations/fetchers.ts
  packages/api-core/src/read-site-recommendations/index.ts
  packages/api-core/src/read-site-recommendations/mutators.ts
  packages/api-core/src/read-site-recommendations/types.ts
  packages/api-queries/src/__tests__/read-site-recommendations.test.tsx
  packages/api-queries/src/index.ts
  packages/api-queries/src/read-site-recommendations.ts
Owners: @Automattic/loop

Drop redundant observe-typing hunk from @wordpress/block-editor patch (#111280)
  .yarn/patches/@wordpress-block-editor-npm-15.20.0-2d52fc5cc4.patch
  yarn.lock
Owners: none

chore(deps): bump Storybook v8 → v9 across all workspaces (#111169)
  .storybook/main.js
  client/dashboard/domains/name-servers/form.stories.tsx
  client/package.json
  package.json
  packages/calypso-storybook/package.json
  packages/calypso-storybook/src/index.js
  packages/components/.storybook/overview.mdx
  packages/components/.storybook/unaudited.mdx
  packages/components/package.json
  packages/components/src/button/index.stories.tsx
  packages/components/src/experience-control/index.stories.tsx
  packages/components/src/horizontal-bar-list/stories/index.stories.jsx
  packages/components/src/tabs/stories/best-practices.mdx
  packages/components/src/tabs/stories/index.stories.tsx
  packages/composite-checkout/package.json
  packages/domain-search/package.json
  packages/grid/package.json
  packages/launchpad/package.json
  packages/onboarding/package.json
  packages/plans-grid-next/package.json
  packages/privacy-toolset/package.json
  packages/privacy-toolset/src/cookie-banner/cookie-banner.stories.tsx
  packages/privacy-toolset/src/do-not-sell-dialog/do-not-sell-dialog.stories.tsx
  packages/search/package.json
  packages/search/src/search.stories.jsx
  packages/site-admin/.storybook/mock-registry/index.ts
  packages/site-admin/package.json
  packages/site-admin/src/components/sidebar-navigation-item/stories/index.stories.tsx
  packages/site-admin/src/components/site-hub/stories/index.stories.tsx
  packages/site-admin/src/router/components/link/stories/index.stories.tsx
  packages/ui/.storybook/overview.mdx
  packages/ui/.storybook/wp-core.mdx
  packages/ui/package.json
  packages/ui/src/calendar/date-calendar/index.stories.tsx
  packages/ui/src/calendar/date-range-calendar/index.stories.tsx
  yarn.lock
Owners: @Automattic/lego, @Automattic/shilling, @youknowriad, @Automattic/martech

A4A Sites: replace gradient avatar fallback with first-grapheme (#111079)
  client/a8c-for-agencies/sections/sites/sites-dashboard/sites-dataviews-style.scss
  client/a8c-for-agencies/sections/sites/sites-dataviews/site-data-field.tsx
  client/blocks/site-favicon/index.tsx
Owners: none

A4A Migrations: handle new 'ineligible' commission status (#111282)
  client/a8c-for-agencies/sections/migrations/commissions-list/commission-columns.tsx
  client/a8c-for-agencies/sections/migrations/commissions-list/index.tsx
  client/a8c-for-agencies/sections/migrations/commissions-list/mobile-view.tsx
  client/a8c-for-agencies/sections/migrations/commissions-list/test/commission-columns.test.tsx
  client/a8c-for-agencies/sections/migrations/commissions-list/use-commission-list-actions.ts
  client/a8c-for-agencies/sections/migrations/hooks/use-fetch-tagged-sites-for-migration.ts
  client/a8c-for-agencies/sections/migrations/primary/migrations-commissions/index.tsx
Owners: none

Subscriptions list: confirm before unsubscribing paid subscribers (#111179)
  client/landing/subscriptions/components/site-subscriptions-list/site-subscription-row.tsx
  client/landing/subscriptions/components/site-subscriptions-list/unsubscribe-paid-confirm-modal.tsx
Owners: none

[DOTMSD-1254] Fix dark mode contrast across Reader and Dashboard (#111239)
  client/dashboard/app/_dark-theme.scss
  client/lib/color-scheme/dark-theme.scss
  client/reader/color-scheme/dark-mode.scss
  packages/help-center/src/components/help-center-support-chat-message.scss
  packages/odie-client/src/components/message/style.scss
Owners: @Automattic/lego, @Automattic/loop, @Automattic/t-rex

Subscribers: allow site picker page to scroll vertically (#111285)
  client/my-sites/subscribers/components/subscriber-data-views/style.scss
Owners: none

Keep sidebar image icons steady in customize mode (#111241)
  client/my-sites/sidebar/customize/customize-mode.scss
  client/my-sites/sidebar/style.scss
Owners: none

Site purchases: bump useSitePurchases to API v1.2 (#111288)
  packages/data-stores/src/purchases/queries/use-site-purchases.ts
Owners: none

A4A Pressable: bring back promo banners for Q2 2026 migration offer (#111287)
  client/a8c-for-agencies/components/a4a-pressable-offer/index.tsx
  client/a8c-for-agencies/components/a4a-pressable-offer/style.scss
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hero-section/index.tsx
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hero-section/style.scss
  client/a8c-for-agencies/sections/overview/body/events/hooks/use-upcoming-events.tsx
Owners: none

Agents Manager: extract `useRegisterCustomActions` primitive (#111121)
  packages/agents-manager/src/components/__tests__/agent-dock.test.tsx
  packages/agents-manager/src/components/__tests__/orchestrator-chat.test.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/hooks/__tests__/custom-actions.test.ts
  packages/agents-manager/src/hooks/__tests__/use-setup-custom-actions.test.ts
  packages/agents-manager/src/hooks/custom-actions/README.md
  packages/agents-manager/src/hooks/custom-actions/index.ts
  packages/agents-manager/src/hooks/use-setup-custom-actions/README.md
Owners: none

CSS: only declare the reset layer, let @wordpress/ui control its own layer order (#111292)
  client/assets/stylesheets/style.scss
Owners: none

Onboarding: mobile layout experiment for user step (3 arms) (#110802)
  client/blocks/signup-form/signup-form-social-first.tsx
  client/blocks/signup-form/test/signup-form-social-first.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/test/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/test/use-mobile-layout-experiment.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/use-mobile-layout-experiment.ts
Owners: none

Add variant property to calypso_notification_note_open event (#111286)
  apps/notifications/src/panel/rest-client/index.js
  apps/notifications/src/panel/templates/summary-in-list.jsx
Owners: none

Dashboard: hide domain upsell card for A4A dev-license sites (#111294)
  client/dashboard/sites/overview-domains-card/index.tsx
  client/dashboard/sites/overview/test/index.test.tsx
Owners: @Automattic/lego

Stepper: add AGENTS.md and /stepper-flow Claude Code skill (#110534)
  .claude/skills/stepper-flow/SKILL.md
  client/landing/stepper/AGENTS.md
Owners: none

Reader: show custom domain instead of free subdomain in sidebar (#111263)
  client/reader/sidebar/reader-sidebar-recent/index.tsx
  client/reader/sidebar/reader-sidebar-recent/test/index.tsx
Owners: @Automattic/loop

A4A Hosting: hide free domain benefit for BD monthly WPCOM plans (#111296)
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/common/hosting-features.tsx
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hosting-content/standard-agency-hosting/index.tsx
Owners: none

A4A Signup: prefill agency country from phone country code (#111284)
  client/a8c-for-agencies/sections/signup/signup-v2/components/multi-step-form/contact-form/index.tsx
Owners: none

Fix chat inactivity time logic (#111298)
  packages/agents-manager/src/hooks/__tests__/use-persisted-history.test.ts
  packages/agents-manager/src/hooks/use-persisted-history.ts
Owners: none

Agents Manager: add persisted minimized state for the floating chat (#111297)
  client/package.json
  packages/agents-manager/README.md
  packages/agents-manager/package.json
  packages/agents-manager/src/components/__tests__/agent-dock.test.tsx
  packages/agents-manager/src/components/__tests__/chat-header.test.tsx
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/agent-history/index.tsx
  packages/agents-manager/src/components/chat-header/index.tsx
  packages/agents-manager/src/components/support-guide/index.tsx
  packages/agents-manager/src/components/support-guides/index.tsx
  packages/agents-manager/src/components/zendesk-chat/index.tsx
  packages/agents-manager/src/hooks/use-admin-bar-integration/index.tsx
  packages/agents-manager/src/hooks/use-reader-chat-persistence.ts
  packages/block-notes/package.json
  packages/data-stores/src/agents-manager/actions.ts
  packages/data-stores/src/agents-manager/reducer.ts
  packages/data-stores/src/agents-manager/resolvers.ts
  packages/data-stores/src/agents-manager/selectors.ts
  packages/data-stores/src/agents-manager/test/reducer.test.ts
  packages/image-studio/package.json
  packages/jetpack-ai-sidebar/package.json
  packages/odie-client/package.json
  yarn.lock
Owners: none

E2E: Use Blackbox test key in auth tests (#111290)
  test/e2e/lib/blackbox-test-key.ts
  test/e2e/lib/pw-base.ts
Owners: none

OpenAI pixel: Add page view event tracking (#111300)
  client/lib/analytics/ad-tracking/load-tracking-scripts.js
  client/lib/analytics/ad-tracking/retarget.js
  client/server/pages/index.js
Owners: none

Survicate: close survey on display when Help Center is open (#111304)
  packages/survicate/AGENTS.md
  packages/survicate/src/close-survey.ts
  packages/survicate/src/index.ts
  packages/survicate/src/invoke-event.ts
  packages/survicate/src/load-script.ts
  packages/survicate/src/test/close-survey.test.ts
  packages/survicate/src/test/load-script.test.ts
Owners: none

Plugins: noindex uncurated /plugins/browse/<term> pages (#111308)
  client/my-sites/plugins/controller-logged-out.js
  client/my-sites/plugins/index.node.js
  client/my-sites/plugins/test/controller-logged-out.js
Owners: none

Notifications: create the REST client in componentDidMount, not the constructor (#111309)
  apps/notifications/src/panel/Notifications.jsx
Owners: none

Blaze Dashboard: preserve host-provided Stripe publishable key (#111174)
  apps/blaze-dashboard/src/load-config.js
Owners: none

Update account-step experiment slug to 202606_v2 (#111315)
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/use-account-creation-experiment.ts
Owners: none

Global Styles on Personal: remove rolled-out experiment scaffolding (Calypso) (#111313)
  client/components/premium-global-styles-upgrade-modal/index.tsx
  client/components/premium-global-styles-upgrade-modal/use-global-styles-upgrade-translations.tsx
  client/components/theme-tier/theme-tier-badge/theme-tier-style-variation-badge.jsx
  client/jetpack-cloud/sections/partner-portal/primary/wpcom-atomic-hosting/card-content.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/design-setup/unified-design-picker-preview.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/sidebar.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/unified-plans-step.tsx
  client/my-sites/plans/main.jsx
  client/my-sites/theme/main.jsx
  client/my-sites/theme/theme-style-variations/index.tsx
  client/my-sites/themes/theme-options.js
  client/sites/settings/site/privacy/notice.tsx
  client/state/sites/hooks/use-site-global-styles-on-personal.ts
  client/state/sites/hooks/use-site-global-styles-status.ts
  client/state/sites/hooks/with-site-global-styles-on-personal.tsx
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
  packages/calypso-products/src/is-global-styles-on-personal-enabled.ts
  packages/calypso-products/src/plans-list.tsx
  packages/calypso-products/test/get-feature-difference.ts
  packages/global-styles/src/components/color-palette-variations/index.tsx
  packages/global-styles/src/components/global-styles-variations/index.tsx
Owners: none

apply VStack to advanced options list in edit plan modal (#111249)
  client/my-sites/earn/components/add-edit-plan-modal/index.tsx
Owners: none

Notifications day/time pickers - convert to/from UTC to show local time in UI (#111251)
  client/dashboard/me/notifications-emails/subscription-settings/form.tsx
  client/dashboard/me/notifications-emails/subscription-settings/test/index.test.tsx
  client/landing/subscriptions/components/fields/delivery-window-input/delivery-window-input.tsx
  client/me/notification-settings/reader-subscriptions/index.jsx
  packages/i18n-utils/src/delivery-window/conversion.ts
  packages/i18n-utils/src/delivery-window/index.ts
  packages/i18n-utils/src/delivery-window/test/conversion.test.ts
  packages/i18n-utils/src/delivery-window/use-delivery-window-timezone.ts
  packages/i18n-utils/src/index.ts
Owners: @Automattic/lego, @Automattic/i18n

Billing History: surface receipt type/amount/date inline at narrow widths (#111306)
  client/dashboard/me/billing-history/dataviews.tsx
  client/dashboard/me/billing-history/index.tsx
  client/dashboard/me/billing-history/styles.scss
  client/dashboard/me/billing-history/test/dataviews.test.tsx
  client/me/purchases/billing-history/billing-history-list-data-view.tsx
  client/me/purchases/billing-history/field-definitions.tsx
  client/me/purchases/billing-history/hooks/use-field-definitions.ts
  client/me/purchases/billing-history/style-data-view.scss
  client/me/purchases/billing-history/test/field-definitions.test.tsx
Owners: @Automattic/lego, @Automattic/shilling

Renewal pricing: fix UI alignment on current plan card. (#111307)
  packages/plans-grid-next/src/components/shared/header-price/index.tsx
  packages/plans-grid-next/src/components/test/header-price.tsx
Owners: @Automattic/martech

Checkout: replace disabled Pay button with a Continue CTA that scrolls to the next incomplete step (#111328)
  client/my-sites/checkout/src/components/checkout-main-content.tsx
  client/my-sites/checkout/src/components/wp-checkout-order-summary.tsx
  packages/composite-checkout/src/components/checkout-steps.tsx
  packages/composite-checkout/test/checkout.tsx
Owners: @Automattic/shilling

OpenAI Pixel: Update page view event (#111327)
  client/lib/analytics/ad-tracking/retarget.js
Owners: none
