Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Active upgrades: use product-specific icons (#110061)
  client/dashboard/me/billing-purchases/dataviews.tsx
  client/dashboard/utils/purchase.ts
Owners: @Automattic/lego

Dashboard: rename cancel survey Submit button to Continue (#110075)
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/index.tsx
Owners: @Automattic/lego

Dashboard: fix expiry notice copy for domain-only purchases (#110065)
  client/dashboard/me/billing-purchases/purchase-settings/purchase-expiring-notice.tsx
  client/dashboard/me/billing-purchases/purchase-settings/purchase-notice.tsx
Owners: @Automattic/lego

Add CTA click tracking to plan upsell modal (#110085)
  client/my-sites/plans-features-main/components/plan-upsell-modal/free-plan-free-domain-dialog.tsx
  client/my-sites/plans-features-main/components/plan-upsell-modal/free-plan-paid-domain-dialog.tsx
  client/my-sites/plans-features-main/components/plan-upsell-modal/index.tsx
  client/my-sites/plans-features-main/components/plan-upsell-modal/paid-plan-is-required-dialog.tsx
  client/my-sites/plans-features-main/components/plan-upsell-modal/paid-plan-paid-domain-dialog.tsx
Owners: none

Reader: Add basic achievement grid to user profile (#110104)
  client/reader/user-profile/index.tsx
  client/reader/user-profile/views/achievements.tsx
  client/reader/user-profile/views/achievements/achievements-grid/achievement-card.tsx
  client/reader/user-profile/views/achievements/achievements-grid/anniversary-achievement.tsx
  client/reader/user-profile/views/achievements/achievements-grid/index.tsx
  client/reader/user-profile/views/achievements/achievements-grid/site-based-achievement.tsx
  client/reader/user-profile/views/achievements/achievements-grid/style.scss
  client/reader/user-profile/views/achievements/achievements-grid/user-based-achievement.tsx
  client/reader/user-profile/views/achievements/index.tsx
  client/reader/user-profile/views/achievements/utils.ts
Owners: @Automattic/loop

Add DataViews dark mode (#110103)
  client/dashboard/app/_dark-theme.scss
Owners: @Automattic/lego

[RSM-533] Add dark mode to the Account/Preferences section (#110106)
  client/dashboard/app/_dark-theme.scss
Owners: @Automattic/lego

Add badges dark mode (#110111)
  packages/ui/src/badge/style.module.scss
  packages/ui/src/utils/_mixins.scss
Owners: none

Reader: Add achievement settings and visibility controls (#110110)
  client/data/reader/use-trophies-query.ts
  client/reader/user-profile/components/user-profile-header/index.tsx
  client/reader/user-profile/components/user-profile-header/test/index.test.tsx
  client/reader/user-profile/index.tsx
  client/reader/user-profile/views/achievements/achievements-settings/index.tsx
  client/reader/user-profile/views/achievements/achievements-settings/style.scss
  client/reader/user-profile/views/achievements/index.tsx
  client/reader/user-profile/views/achievements/style.scss
  client/reader/user-profile/views/achievements/test/index.test.tsx
  client/reader/user-profile/views/achievements/use-achievements-visibility.ts
  packages/api-core/src/me-preferences/types.ts
  packages/api-queries/src/me-preferences.ts
Owners: @Automattic/loop

Reader - RSM Onboarding - initialize welcome page design. (#110120)
  client/reader/onboarding-rsm/interests-modal/index.tsx
  client/reader/onboarding-rsm/step-indicator/index.tsx
  client/reader/onboarding-rsm/step-indicator/style.scss
  client/reader/onboarding-rsm/style.scss
  client/reader/onboarding-rsm/subscribe-modal/index.tsx
  client/reader/onboarding-rsm/welcome-modal/index.tsx
  client/reader/onboarding-rsm/welcome-modal/style.scss
Owners: @Automattic/loop

Account settings: Warn when email uses a custom domain owned by the user (#109930)
  client/me/account/account-email-field.tsx
  client/me/account/test/account-email-field.tsx
Owners: none

Omnibar: initial construction of home and user nodes from backend response (#110113)
  client/dashboard/.eslintrc.js
  client/dashboard/app/boot.tsx
  client/dashboard/app/omnibar/home.tsx
  client/dashboard/app/omnibar/index.tsx
  client/dashboard/app/omnibar/style.scss
  client/document/index.jsx
  client/package.json
  config/dashboard-development.json
  config/development.json
  package.json
  packages/api-core/src/admin-bar/index.ts
  packages/api-core/src/admin-bar/types.ts
  packages/api-core/src/dashboard-admin-bar/fetchers.ts
  packages/api-core/src/dashboard-admin-bar/index.ts
  packages/api-core/src/index.ts
  packages/api-queries/src/dashboard-admin-bar.ts
  packages/api-queries/src/index.ts
  packages/omnibar/README.md
  packages/omnibar/package.json
  packages/omnibar/src/components/omnibar/index.scss
  packages/omnibar/src/components/omnibar/index.tsx
  packages/omnibar/src/index.ts
  packages/omnibar/src/types/admin-bar.ts
  packages/omnibar/src/types/index.ts
  packages/omnibar/src/types/omnibar.ts
  packages/omnibar/src/utils/admin-bar.ts
  packages/omnibar/tsconfig-cjs.json
  packages/omnibar/tsconfig.json
  yarn.lock
Owners: @Automattic/lego

Reader: Refactor List index and tabs component (#110064)
  client/reader/index.ts
  client/reader/list-manage/index.jsx
  client/reader/list-stream/README.md
  client/reader/list-stream/index.jsx
  client/reader/list/components/empty.tsx
  client/reader/list/components/list-header/index.tsx
  client/reader/list/components/list-header/style.scss
  client/reader/list/components/list-header/test/index.test.tsx
  client/reader/list/components/missing.tsx
  client/reader/list/controller.js
  client/reader/list/index.ts
  client/reader/list/index.tsx
  client/reader/list/test/index.test.tsx
  client/reader/list/views/posts.tsx
  client/reader/list/views/sites.tsx
  client/reader/list/views/test/sites.test.tsx
  client/sections.js
Owners: @Automattic/loop

➖ REMOVE: gravatar-com/hovercards package (#109898)
  client/package.json
  yarn.lock
Owners: none

Dashboard: full-page critical-error screen for Jetpack sites (#110098)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/critical-error/index.tsx
  client/dashboard/sites/site/notices.tsx
  client/sites/overview/components/critical-error/index.tsx
  client/sites/overview/components/critical-error/style.scss
  client/sites/v2/site-overview/router.tsx
  packages/api-core/src/site/fetchers.ts
  packages/api-core/src/site/types.ts
Owners: @Automattic/lego

Fix locale-dependent test in reader-site-subscription (#110128)
  client/blocks/reader-site-subscription/test/index.tsx
Owners: @Automattic/loop

Move dashboard dark theme to shared app (#110112)
  client/dashboard/app-dotcom/style.scss
  client/dashboard/app/style.scss
Owners: @Automattic/lego

Reader: Include view fragment in user profile page view tracking (#110144)
  client/reader/user-profile/controller.tsx
Owners: @Automattic/loop

Add /domains dark mode (#110121)
  client/dashboard/app/_dark-theme.scss
Owners: @Automattic/lego

Dashboard: auto-redirect from critical-error screen when site recovers (#110142)
  client/dashboard/sites/critical-error/index.tsx
Owners: @Automattic/lego

Fix: hardcoded color values (#110137)
  client/dashboard/app/_dark-theme.scss
  client/dashboard/components/callout/styles.scss
  client/dashboard/components/logs-activity/activity-actor.scss
  client/dashboard/components/logs-activity/activity-event.scss
  client/dashboard/sites/trial-ended/style.scss
Owners: @Automattic/lego

Omnibar: set the flag to false by default in development (#110147)
  config/dashboard-development.json
  config/development.json
Owners: none

Omnibar: construct site node from new site-specific admin bar endpoint (#110148)
  client/dashboard/app/interim-omnibar/interim-omnibar-container.tsx
  client/dashboard/app/omnibar/home.tsx
  client/dashboard/app/omnibar/index.tsx
  client/dashboard/app/omnibar/site.ts
  client/dashboard/app/root/index.tsx
  packages/api-core/src/index.ts
  packages/api-core/src/site-admin-bar/fetchers.ts
  packages/api-core/src/site-admin-bar/index.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/omnibar.ts
  packages/api-queries/src/site-admin-bar.ts
  packages/omnibar/src/components/omnibar/index.tsx
  packages/omnibar/src/types/omnibar.ts
  packages/omnibar/src/utils/admin-bar.ts
Owners: @Automattic/lego

[RSM-549] Fix dashboard muted text in dark mode (#110138)
  client/dashboard/app-dotcom/style.scss
  client/dashboard/app/_dark-theme.scss
  client/dashboard/components/text/index.tsx
  client/dashboard/me/mcp/setup/style.scss
Owners: @Automattic/lego

Add dashboard dark mode selected states (#110146)
  client/dashboard/app/_dark-theme.scss
Owners: @Automattic/lego

A4A-2521: Add Pressable memory add-on descriptions (#110114)
  client/a8c-for-agencies/sections/marketplace/pressable-overview/lib/get-pressable-plan.ts
  client/a8c-for-agencies/sections/marketplace/pressable-overview/lib/test/get-pressable-plan.test.ts
  client/a8c-for-agencies/sections/marketplace/products-overview/product-card/pressable-addons-custom-description/index.tsx
  client/a8c-for-agencies/sections/marketplace/products-overview/product-card/pressable-addons-custom-description/lib/capacity-copy.ts
  client/a8c-for-agencies/sections/marketplace/products-overview/product-card/pressable-addons-custom-description/lib/test/capacity-copy.test.ts
  client/jetpack-cloud/sections/partner-portal/hooks/index.tsx
Owners: none

Preferences: polish tweaks and PR feedback fixes (#109805)
  client/dashboard/app/router/me.tsx
  client/dashboard/components/summary-button/style.scss
  client/dashboard/me/mcp/setup/index.tsx
  client/dashboard/me/preferences-blocked-sites/index.tsx
  client/dashboard/me/preferences-defaults/index.tsx
  client/dashboard/me/wordpress-defaults/index.tsx
  client/me/account/hosting-dashboard-opt-in-form.tsx
Owners: @Automattic/lego

Omnibar: construct site action nodes (#110150)
  packages/omnibar/src/components/omnibar-home.tsx
  packages/omnibar/src/components/omnibar-item.tsx
  packages/omnibar/src/components/omnibar-site.tsx
  packages/omnibar/src/components/omnibar-user.tsx
  packages/omnibar/src/components/omnibar.scss
  packages/omnibar/src/components/omnibar.tsx
  packages/omnibar/src/types/omnibar.ts
  packages/omnibar/src/utils/admin-bar.ts
Owners: none

Dashboard: gate WP version switch on Atomic plan feature (#110155)
  client/dashboard/sites/features.ts
Owners: @Automattic/lego

Omnibar: show avatar in user node (#110156)
  client/dashboard/app/omnibar/index.tsx
  packages/omnibar/src/components/omnibar-user.scss
  packages/omnibar/src/components/omnibar-user.tsx
  packages/omnibar/src/utils/admin-bar.ts
  packages/omnibar/src/utils/admin-bar.tsx
Owners: @Automattic/lego

Reader: Achievements settings API and visibility gating (#110152)
  client/reader/user-profile/components/user-profile-header/index.tsx
  client/reader/user-profile/components/user-profile-header/test/index.test.tsx
  client/reader/user-profile/views/achievements/achievements-settings/index.tsx
  client/reader/user-profile/views/achievements/index.tsx
  client/reader/user-profile/views/achievements/test/index.test.tsx
  client/reader/user-profile/views/achievements/test/use-achievements-visibility.test.ts
  client/reader/user-profile/views/achievements/use-achievements-visibility.ts
  packages/api-core/src/index.ts
  packages/api-core/src/me-preferences/types.ts
  packages/api-core/src/read-achievements-settings/fetchers.ts
  packages/api-core/src/read-achievements-settings/index.ts
  packages/api-core/src/read-achievements-settings/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/me-preferences.ts
  packages/api-queries/src/read-achievements-settings.ts
Owners: @Automattic/loop

Environment badge dark mode (#110154)
  client/components/environment-badge/style.scss
  client/dashboard/app/_dark-theme.scss
  client/lib/auth-helper/style.scss
  client/lib/store-sandbox-helper/style.scss
Owners: @Automattic/lego

Reader - onboarding RSM - update welcome screen styles and images (#110158)
  client/reader/onboarding-rsm/welcome-modal/index.tsx
  client/reader/onboarding-rsm/welcome-modal/style.scss
Owners: @Automattic/loop

Billing Ticket Buster: replace auto-renew text link with ToggleControl on legacy (#110135)
  client/me/purchases/manage-purchase/auto-renew-toggle/index.tsx
  client/me/purchases/manage-purchase/purchase-meta-expiration.tsx
  client/me/purchases/manage-purchase/style.scss
Owners: @Automattic/shilling

Add performance page dark mode (#110162)
  client/dashboard/app/_dark-theme.scss
  client/dashboard/sites/performance/llm-notice.scss
  client/dashboard/sites/performance/llm-notice.tsx
  client/dashboard/sites/performance/performance-insight.scss
Owners: @Automattic/lego

[RSM-1106] Add dark mode to Emails (#110160)
  client/dashboard/app-ciab/style.scss
  client/dashboard/app-dotcom/style.scss
  client/dashboard/app/_dark-theme.scss
  client/dashboard/emails/choose-domain/styles.css
  client/dashboard/emails/choose-email-solution/style.scss
  client/dashboard/emails/components/add-new-domain.css
  client/dashboard/emails/mailboxes-ready/styles.scss
  client/dashboard/emails/style.scss
Owners: @Automattic/lego

remove copilot suggested default styles that break image position (#110166)
  client/reader/onboarding-rsm/welcome-modal/style.scss
Owners: @Automattic/loop

Refresh/retry newsletter subscriber search (#110161)
  packages/calypso-e2e/src/lib/pages/subscribers-page.ts
Owners: none

Reader: Improve comment author urls (#110173)
  client/blocks/comments/post-comment.jsx
  client/blocks/user-avatar/index.tsx
  client/blocks/user-avatar/user-hovercard/user-hovercard-header/index.tsx
  client/components/preloaded-image/index.tsx
  client/components/preloaded-image/test/index.test.tsx
Owners: none

Add walking skeleton Buildkite pipeline for desktop build (#110071)
  .buildkite/pipeline.yml
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
