Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Agent Studio: Make the refine dock an inset panel and pin the actions bar (#111531)
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/output-detail-content.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/refine-with-ai-dock.scss
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/style.scss
Owners: none

api-core: Add missing types for SiteContextualPlan (#111529)
  packages/api-core/src/site-plans/types.ts
Owners: none

Domain bundles: wire bundle suggestion to live with_bundles=1 API (#111449)
  packages/api-core/src/domain-suggestions/__tests__/fetchers.test.ts
  packages/api-core/src/domain-suggestions/fetchers.ts
  packages/domain-search/src/hooks/test/use-suggestions-list.tsx
  packages/domain-search/src/test-helpers/queries/suggestions.ts
Owners: none

Domain bundles: add bundle_shown / accepted / removed Tracks events (#111470)
  client/components/domains/wpcom-domain-search/use-wpcom-domain-search-events.ts
  client/layout/masterbar/masterbar-cart/masterbar-cart-button.tsx
  client/my-sites/checkout/src/components/wp-order-review-line-items.tsx
  packages/domain-search/src/page/context.ts
  packages/domain-search/src/page/results.tsx
  packages/domain-search/src/page/test/results.tsx
  packages/domain-search/src/page/types.ts
  packages/mini-cart/src/mini-cart-line-items.tsx
  packages/mini-cart/src/mini-cart.tsx
  packages/wpcom-checkout/src/checkout-line-items.tsx
  packages/wpcom-checkout/test/bundle-line-item.tsx
Owners: @Automattic/quake, @Automattic/shilling

Domain bundles: mock the live with_bundles fetch in bundle tracking tests (#111538)
  packages/domain-search/src/page/test/results.tsx
Owners: none

Dashboard: fix unused expressions (#111489)
  client/dashboard/domains/domain-connection-setup/legacy-transfer-setup.tsx
  client/dashboard/domains/domain-transfer/select-site.tsx
  client/dashboard/domains/domain-transfer/transfer-domain-to-other-site.tsx
  client/dashboard/emails/add-mailbox/index.tsx
  client/dashboard/me/billing-history/utils.tsx
  client/dashboard/sites/monitoring-http-responses-card/index.tsx
Owners: @Automattic/lego

Legacy Contact: add /me/legacy-contact view behind feature flag (#111493)
  client/me/legacy-contact/controller.js
  client/me/legacy-contact/index.js
  client/me/legacy-contact/main.jsx
  client/me/legacy-contact/style.scss
  client/me/sidebar/index.jsx
  client/sections.js
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

client/blocks: React 19 forward-compatible (behavior-preserving) (#111506)
  client/blocks/app-banner/index.jsx
  client/blocks/comments/post-trackback.tsx
  client/blocks/dismissible-card/index.jsx
  client/blocks/follow-button/index.tsx
  client/blocks/import/capture/capture-input.tsx
  client/blocks/importer/wordpress/upgrade-plan/types.ts
  client/blocks/inline-help/inline-help-search-card.tsx
  client/blocks/login/login-form.jsx
  client/blocks/login/stories/shared.tsx
  client/blocks/plugin-scheduled-updates-common/error-utils.tsx
  client/blocks/reader-author-link/docs/example.tsx
  client/blocks/reader-featured-video/index.jsx
  client/blocks/reader-feed-header/badge.tsx
  client/blocks/reader-feed-header/follow.tsx
  client/blocks/reader-feed-item/index.tsx
  client/blocks/reader-full-post/content-processor.tsx
  client/blocks/reader-full-post/link-preview.tsx
  client/blocks/reader-post-actions/index.jsx
  client/blocks/reader-post-card/index.jsx
  client/blocks/reader-subscription-list-item/placeholder.tsx
  client/blocks/signup-form/signup-form-social-first.tsx
  client/blocks/signup-form/stories/shared.tsx
  client/blocks/site-icon/index.tsx
  client/blocks/stats-navigation/constants.ts
  client/blocks/stats-sparkline/index.jsx
  client/blocks/time-mismatch-warning/test/__snapshots__/index.jsx.snap
  client/blocks/time-mismatch-warning/test/index.jsx
  client/blocks/user-avatar/docs/example.tsx
  client/blocks/user-avatar/user-hovercard/index.tsx
  client/blocks/user-avatar/user-hovercard/primary-blog-card/index.tsx
  client/blocks/user-avatar/user-hovercard/recommended-blogs/index.tsx
  client/blocks/user-avatar/user-hovercard/user-hovercard-header/index.tsx
Owners: @Automattic/loop

Dashboard: replace require() with ES imports (#111486)
  client/dashboard/AGENTS.md
  client/dashboard/docs/testing.md
  client/dashboard/domains/domain-forwarding/test/notice.test.tsx
  client/dashboard/me/preferences-default-landing/test/index.test.tsx
  client/dashboard/me/preferences-primary-site/test/index.test.tsx
  client/dashboard/sites/staging-site-sync-modal/test/index.test.tsx
Owners: @Automattic/lego

Reader: guard PostCommentList initial fetches against an update-depth loop (#111547)
  client/blocks/comments/post-comment-list.jsx
Owners: none

Dashboard: fix hook dependency arrays (#111490)
  client/dashboard/app/auth/index.tsx
  client/dashboard/app/responsive-sidebar/use-sidebar-scroll-sync.ts
Owners: @Automattic/lego

Reader: make withFullPostNavigation test assertions React 18/19 compatible (#111548)
  client/blocks/reader-full-post/test/index.jsx
Owners: @Automattic/loop

Dashboard: add A4A entrypoint and routing (#109357)
  client/a8c-for-agencies/sections/signup/index.ts
  client/boot/common.js
  client/dashboard/agency-client/subscriptions/index.tsx
  client/dashboard/agency/overview/index.tsx
  client/dashboard/app-a4a/index.tsx
  client/dashboard/app-a4a/logo.tsx
  client/dashboard/app-a4a/routing.ts
  client/dashboard/app-a4a/section.ts
  client/dashboard/app-a4a/style.scss
  client/dashboard/app-ciab/index.tsx
  client/dashboard/app/context.tsx
  client/dashboard/app/responsive-sidebar/agency-client.tsx
  client/dashboard/app/responsive-sidebar/agency.tsx
  client/dashboard/app/responsive-sidebar/sidebar.tsx
  client/dashboard/app/router/agency-client.tsx
  client/dashboard/app/router/agency.tsx
  client/dashboard/app/router/index.tsx
  client/dashboard/app/router/root.tsx
  client/dashboard/app/routing.ts
  client/dashboard/app/types.ts
  client/dashboard/docs/dev-server.md
  client/dashboard/docs/entry-points.md
  client/dashboard/section.ts
  client/dashboard/utils/is-dashboard-backport.ts
  client/dashboard/utils/link.ts
  client/my-sites/checkout/get-thank-you-page-url/index.ts
  client/my-sites/checkout/src/lib/pending-page.ts
  client/server/pages/index.js
  client/webpack.config.js
  config/dashboard-development.json
  package.json
  packages/api-core/src/agency/fetchers.ts
  packages/api-core/src/agency/types.ts
  packages/api-queries/src/agency.ts
  packages/api-queries/src/index.ts
Owners: @Automattic/lego, @Automattic/shilling

Notifications: close standalone app on outside click (#111507)
  apps/notifications/src/standalone-app/index.jsx
  apps/notifications/src/standalone-app/style.scss
Owners: none

Notifications: stop profile pics re-downloading on click (#111541)
  apps/notifications/src/app/note-list/index.tsx
Owners: none

InfiniteList: expose container node so author-selector can drop findDOMNode (#111549)
  client/blocks/author-selector/switcher-shell.jsx
  client/components/infinite-list/index.jsx
Owners: none

Dashboard: add is_staging_site to calypso_dashboard_sites_item_click (#111544)
  client/dashboard/sites/dataviews/sites-dataviews.tsx
  client/sites/components/sites-dashboard.tsx
  client/sites/components/types.ts
Owners: @Automattic/lego

E2E: skip 100-year domain flow test pending DOMENG-694 (#111527)
  test/e2e/specs/flows/setup-hundred-year-domain.spec.ts
Owners: none

feat(ui): add Stepper component to @automattic/ui (#111036)
  packages/ui/.storybook/preview.js
  packages/ui/.storybook/style.scss
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/ui/src/horizontal-stepper/horizontal-stepper-step.tsx
  packages/ui/src/horizontal-stepper/horizontal-stepper.tsx
  packages/ui/src/horizontal-stepper/index.ts
  packages/ui/src/horizontal-stepper/stories/index.stories.tsx
  packages/ui/src/horizontal-stepper/style.module.scss
  packages/ui/src/horizontal-stepper/test/index.tsx
  packages/ui/src/index.ts
  packages/ui/src/stepper/context.tsx
  packages/ui/src/stepper/description.tsx
  packages/ui/src/stepper/index.ts
  packages/ui/src/stepper/indicator.tsx
  packages/ui/src/stepper/list.tsx
  packages/ui/src/stepper/panel.tsx
  packages/ui/src/stepper/root.tsx
  packages/ui/src/stepper/step.tsx
  packages/ui/src/stepper/stories/index.stories.tsx
  packages/ui/src/stepper/style.module.scss
  packages/ui/src/stepper/test/index.tsx
  packages/ui/src/stepper/title.tsx
  packages/ui/src/stepper/trigger.tsx
  packages/ui/src/stepper/types.ts
  packages/ui/src/stepper/use-step-registration.ts
  packages/ui/src/utils/warning.ts
  packages/ui/src/vertical-stepper/index.ts
  packages/ui/src/vertical-stepper/stories/index.stories.tsx
  packages/ui/src/vertical-stepper/style.module.scss
  packages/ui/src/vertical-stepper/test/index.tsx
  packages/ui/src/vertical-stepper/vertical-stepper-step.tsx
  packages/ui/src/vertical-stepper/vertical-stepper.tsx
  yarn.lock
Owners: none

Global Nav 2026: baton-pass the subnav over the fixed nav (#111528)
  client/layout/style.scss
  client/my-sites/patterns/components/pattern-library/style.scss
  client/my-sites/plugins/search-box-header/style.scss
  client/my-sites/plugins/search-categories/style.scss
  client/my-sites/plugins/style.scss
  client/my-sites/themes/filter-bar-modern/style.scss
  client/my-sites/themes/hero-modern/style.scss
  packages/wpcom-template-parts/src/universal-header-navigation/index.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/style.scss
Owners: none

A4A Agency Tier: update influenced revenue tooltip copy (#111553)
  client/a8c-for-agencies/sections/agency-tier/overview-content/influenced-revenue.tsx
Owners: none

desktop: Bump version to 8.2.0 (#111554)
  desktop/package.json
Owners: none

Reader: add space sources management (#111533)
  client/reader/data/site-subscriptions/use-site-subscriptions.ts
  client/reader/data/spaces/index.ts
  client/reader/sidebar/spaces/index.tsx
  client/reader/sidebar/spaces/menu-item.tsx
  client/reader/sidebar/spaces/test/index.test.tsx
  client/reader/spaces/AGENTS.md
  client/reader/spaces/README.md
  client/reader/spaces/create-modal/index.tsx
  client/reader/spaces/create-modal/test/index.test.tsx
  client/reader/spaces/routes.ts
  client/reader/spaces/sources-modal/index.tsx
  client/reader/spaces/sources-modal/style.scss
  client/reader/spaces/sources-modal/subscription.tsx
  client/reader/spaces/sources-modal/test/index.test.tsx
  client/reader/spaces/test/view.test.tsx
  client/reader/spaces/view.tsx
  packages/api-core/src/read-spaces/__tests__/fetchers.test.ts
  packages/api-core/src/read-spaces/__tests__/mutators.test.ts
  packages/api-core/src/read-spaces/__tests__/source-keys.test.ts
  packages/api-core/src/read-spaces/constants.ts
  packages/api-core/src/read-spaces/fetchers.ts
  packages/api-core/src/read-spaces/index.ts
  packages/api-core/src/read-spaces/mutators.ts
  packages/api-core/src/read-spaces/source-keys.ts
  packages/api-core/src/read-spaces/types.ts
  packages/api-queries/src/__tests__/read-spaces.test.tsx
  packages/api-queries/src/read-spaces.ts
Owners: @Automattic/loop

feat(onboarding): add experiment-gated progress indicator to onboarding purchase flow (#111248)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  client/landing/stepper/declarative-flow/helpers/get-onboarding-post-checkout-destination.ts
  client/landing/stepper/declarative-flow/helpers/test/get-onboarding-post-checkout-destination.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/components/onboarding-progress/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/components/onboarding-progress/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/components/onboarding-progress/test/onboarding-progress.test.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/components/onboarding-progress/test/use-show-onboarding-progress.test.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/components/onboarding-progress/use-show-onboarding-progress.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/unified-plans-step.tsx
  client/my-sites/checkout/src/components/checkout-main-content.tsx
  client/my-sites/checkout/src/components/handle-progress-step-select.ts
  client/my-sites/checkout/src/components/leave-checkout-modal.tsx
  client/my-sites/checkout/src/components/test/handle-progress-step-select.test.ts
  client/my-sites/checkout/src/components/test/leave-checkout-modal.test.tsx
  client/my-sites/checkout/src/hooks/use-valid-checkout-back-url.ts
  packages/ui/src/stepper/indicator.tsx
Owners: @Automattic/dotcom-stepper, @Automattic/shilling

Image Studio: skeleton, self-healing meta, and load-error notice for the Feature Clip panel (#111436)
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.test.tsx
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.tsx
  packages/image-studio/src/extensions/feature-clip-sidebar.scss
Owners: none

A4A: Wire A4A payment notice API (#111517)
  client/a8c-for-agencies/components/payment-risk-notice-banner/constants.ts
  client/a8c-for-agencies/components/payment-risk-notice-banner/index.tsx
  client/a8c-for-agencies/components/payment-risk-notice-banner/test/index.test.tsx
  client/a8c-for-agencies/components/payment-risk-notice-banner/use-payment-risk-notice.ts
  client/a8c-for-agencies/components/sidebar-menu/hooks/use-main-menu-items.tsx
  client/state/a8c-for-agencies/types.ts
Owners: none

A4A: show user and agency name in the profile dropdown (#111512)
  client/a8c-for-agencies/components/sidebar/header/profile-dropdown.tsx
  client/a8c-for-agencies/components/sidebar/header/style.scss
Owners: none

Pull Request template: update default to "Fixes" instead of "Part of" (#111168)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Agents Manager: fix Calypso masterbar menu and minimized-state persistence (#111393)
  client/layout/masterbar/item.tsx
  client/layout/masterbar/masterbar-agents-manager/index.jsx
  packages/agents-manager/src/components/__tests__/agent-dock.test.tsx
  packages/agents-manager/src/components/__tests__/chat-header.test.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/chat-header/index.tsx
  packages/agents-manager/src/hooks/__tests__/custom-actions.test.ts
  packages/agents-manager/src/hooks/__tests__/use-persisted-history.test.ts
  packages/agents-manager/src/hooks/custom-actions/README.md
  packages/agents-manager/src/hooks/custom-actions/index.ts
  packages/agents-manager/src/hooks/use-admin-bar-integration/index.tsx
  packages/agents-manager/src/hooks/use-persisted-history.ts
  packages/agents-manager/src/hooks/use-save-new-chat-route.ts
  packages/agents-manager/src/stores.ts
  packages/agents-manager/src/utils/persist-agents-manager-state.ts
  packages/agents-manager/src/utils/persist-last-activity.ts
  packages/data-stores/src/agents-manager/actions.ts
  packages/data-stores/src/agents-manager/index.ts
  packages/data-stores/src/agents-manager/persist-state.ts
  packages/data-stores/src/agents-manager/test/persist-state.test.ts
Owners: none

client/components: React 19 forward-compatible (behavior-preserving) (#111556)
  client/components/add-new-site/menu-item.tsx
  client/components/backup-storage-space/usage-warning/action-button.tsx
  client/components/connect-screen/action-buttons/index.tsx
  client/components/connect-screen/brand-header/index.tsx
  client/components/connect-screen/consent-text/index.tsx
  client/components/connect-screen/features-section/index.tsx
  client/components/connect-screen/loading-screen/index.tsx
  client/components/connect-screen/login-page-wrapper/index.tsx
  client/components/connect-screen/permissions-list/index.tsx
  client/components/connect-screen/screen-layout/index.tsx
  client/components/connect-screen/user-card/index.tsx
  client/components/date-control/types.d.ts
  client/components/domains/connect-domain-step/types/index.tsx
  client/components/domains/layout/types.ts
  client/components/drop-zone/index.jsx
  client/components/empty-content/index.tsx
  client/components/forms/form-currency-input/index.tsx
  client/components/forms/form-text-input/stories/index.stories.tsx
  client/components/guided-tour/data/guided-tour-context.tsx
  client/components/guided-tour/step/index.tsx
  client/components/jetpack/add-new-site-button/index.tsx
  client/components/jetpack/intro-pricing-banner/hooks/use-previous.ts
  client/components/language-picker/modal.tsx
  client/components/marketing-survey/cancel-jetpack-form/jetpack-cancellation-survey.tsx
  client/components/phone-input/index.tsx
  client/components/promo-section/promo-card/cta.tsx
  client/components/site-selector/index.jsx
  client/components/social-buttons/stories/shared.tsx
  client/components/stats-date-control/index.tsx
  client/components/thank-you/types.ts
  client/components/theme-upgrade-modal/index.tsx
Owners: @Automattic/quake, @Automattic/i18n

Help Center: re-fetch chat history on Smooch re-init to recover dropped messages (#111559)
  packages/odie-client/src/hooks/test/use-get-combined-chat.test.tsx
  packages/odie-client/src/hooks/use-get-combined-chat.ts
Owners: none

Domain bundles: test multi-bundle carts in groupBundleLineItems (#111450)
  packages/wpcom-checkout/test/fixtures/bundle-cart.ts
  packages/wpcom-checkout/test/group-bundle-line-items.ts
Owners: @Automattic/shilling

Remove packages/ui/AGENTS.md (#111520)
  packages/ui/AGENTS.md
Owners: none

Theme Showcase: SSR modern logged-out cards (#111562)
  client/my-sites/themes/controller.jsx
  client/my-sites/themes/index.node.js
  client/my-sites/themes/sections-modern/recommended-sections.tsx
  client/my-sites/themes/themes-selection.jsx
Owners: none

Fix dev server boot crash when a8c-for-agencies-signup section is disabled (#111565)
  client/server/pages/index.js
Owners: none

MSD Emails: Add emails/titan-tiers feature flag (#111535)
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: none

Subscribers: source total counts from the list response (#111539)
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
  client/my-sites/subscribers/components/subscriber-totals/test/subscriber-totals.test.tsx
  client/my-sites/subscribers/types/index.ts
Owners: none

Components & UI: remove Icon component (#111387)
  packages/components/CHANGELOG.md
  packages/components/src/icon/index.stories.tsx
  packages/components/src/icon/index.tsx
  packages/components/src/icon/test/index.tsx
  packages/components/src/tabs/stories/index.stories.tsx
  packages/components/src/tabs/tab.tsx
  packages/ui/CHANGELOG.md
  packages/ui/src/badge/index.tsx
  packages/ui/src/icon/index.stories.tsx
  packages/ui/src/icon/index.tsx
  packages/ui/src/icon/test/index.tsx
Owners: none

A4A WooPayments: left-align link in commission-eligibility tooltip (#111569)
  client/a8c-for-agencies/sections/woopayments/dashboard-content/style.scss
Owners: none

Agents Manager: add standalone AI chat button to the masterbar and admin bar (#111434)
  client/layout/index.jsx
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/masterbar-agents-manager/agents-manager-icon.tsx
  client/layout/masterbar/masterbar-agents-manager/big-sky-icon.tsx
  client/layout/masterbar/masterbar-agents-manager/chat-actions.ts
  client/layout/masterbar/masterbar-agents-manager/help-icon.tsx
  client/layout/masterbar/masterbar-agents-manager/index.jsx
  client/layout/masterbar/masterbar-agents-manager/style.scss
  packages/agents-manager/src/components/__tests__/agent-chat.test.tsx
  packages/agents-manager/src/components/__tests__/agent-dock.test.tsx
  packages/agents-manager/src/components/__tests__/agents-manager.test.tsx
  packages/agents-manager/src/components/__tests__/chat-header.test.tsx
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/agent-history/index.tsx
  packages/agents-manager/src/components/agents-manager.tsx
  packages/agents-manager/src/components/chat-header/index.tsx
  packages/agents-manager/src/components/support-guide/index.tsx
  packages/agents-manager/src/components/support-guides/index.tsx
  packages/agents-manager/src/contexts/AgentsManagerContext.tsx
  packages/agents-manager/src/contexts/__tests__/AgentsManagerContext.test.tsx
  packages/agents-manager/src/global.d.ts
  packages/agents-manager/src/hooks/__tests__/custom-actions.test.ts
  packages/agents-manager/src/hooks/custom-actions/README.md
  packages/agents-manager/src/hooks/custom-actions/index.ts
  packages/agents-manager/src/hooks/use-admin-bar-integration/index.tsx
  packages/agents-manager/src/hooks/use-admin-bar-integration/style.scss
Owners: none
