Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

MSD: Enable AI Tools on production (#108409)
  config/dashboard-production.json
  config/production.json
Owners: none

Upgrade @wordpress/components to 32.1.0 (#108301)
  apps/design-system-docs/package.json
  apps/happy-blocks/package.json
  apps/help-center/package.json
  apps/notifications/package.json
  apps/o2-blocks/package.json
  apps/wpcom-block-editor/package.json
  client/components/domains/contact-details-form-fields/test/__snapshots__/index.js.snap
  client/my-sites/marketing/do-it-for-me/site-build-showcase.tsx
  client/package.json
  package.json
  packages/agents-manager/package.json
  packages/components/package.json
  packages/design-picker/package.json
  packages/design-preview/package.json
  packages/domain-search/package.json
  packages/domains-table/package.json
  packages/global-styles/package.json
  packages/help-center/package.json
  packages/language-picker/package.json
  packages/launchpad/package.json
  packages/onboarding/package.json
  packages/search/package.json
  packages/site-admin/package.json
  packages/state-utils/package.json
  packages/subscriber/package.json
  packages/verbum-block-editor/package.json
  yarn.lock
Owners: @Automattic/quake, @Automattic/t-rex, @Automattic/i18n

MSD: guard missing site.slug when current user can't manage site (#108438)
  client/dashboard/sites/features.ts
  client/dashboard/sites/overview-domain-upsell-card/index.tsx
Owners: @Automattic/lego

Upgrade @wordpress/dataviews to 11.3.0 (#108432)
  apps/design-system-docs/package.json
  apps/help-center/package.json
  apps/notifications/package.json
  apps/wpcom-block-editor/package.json
  client/dashboard/app/hooks/use-persistent-view.ts
  client/dashboard/components/dataviews/sanitize-view.ts
  client/dashboard/components/dataviews/test/sanitize-view.test.ts
  client/dashboard/plugins/scheduled-updates/index.tsx
  client/dashboard/sites/performance/performance-insight-table.tsx
  client/my-sites/domains/domain-management/dataviews/use-actions.tsx
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
  client/package.json
  client/sites/components/sites-dataviews/actions.tsx
  client/sites/components/sites-dataviews/site-icon.tsx
  package.json
  packages/api-core/package.json
  packages/global-styles/package.json
  yarn.lock
Owners: @Automattic/lego

Reader: Add hideDeleted prop on SitesDropdown component (#108413)
  client/components/sites-dropdown/index.jsx
  client/components/sites-dropdown/test/index.js
Owners: none

Playwright Test: convert "Importer: Site Setup" spec (#108359)
  packages/calypso-e2e/src/lib/flows/start-import-flow.ts
  test/e2e/lib/pw-base.ts
  test/e2e/specs/importer/importer__site-setup.spec.ts
  test/e2e/specs/importer/importer__site-setup.ts
Owners: none

Agent manager: add a canDock (#108276)
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/hooks/use-agent-layout-manager/README.md
  packages/agents-manager/src/hooks/use-agent-layout-manager/index.tsx
Owners: none

MCP: Fix the sites dropdown is empty on v1 (#108464)
  client/me/mcp/main.jsx
Owners: none

MCP: update config steps for cursor and claude (#108445)
  client/dashboard/me/mcp/setup/index.tsx
  client/me/mcp/setup.jsx
Owners: @Automattic/lego

Pricing Differentiation: load the experiment based on the site sticker (#108456)
  client/my-sites/plans-features-main/hooks/use-plan-differentiators-experiment.ts
  client/my-sites/plans-features-main/index.tsx
  client/state/sites/constants.js
  packages/api-core/src/site/fetchers.ts
  packages/api-core/src/site/types.ts
  packages/data-stores/src/site/types.ts
Owners: none

prevent event loop (#108466)
  packages/help-center/src/components/help-center-content.tsx
Owners: @Automattic/t-rex

E2E: Remove blob reporter to fix TeamCity artifact size limit (#108468)
  .teamcity/_self/CalypsoE2ETestsBuildTemplate.kt
  test/e2e/playwright.config.ts
Owners: none

Add missing string change (#108469)
  client/me/mcp/setup.jsx
Owners: none

Remove chat re render after like (#108446)
  packages/odie-client/README.md
  packages/odie-client/src/components/message/bot-message-actions.tsx
  packages/odie-client/src/context/index.tsx
  packages/odie-client/src/types.ts
Owners: none

Cron tab: Improve UI for rendering scheduled crons (#108447)
  client/dashboard/sites/settings-crontab/add-crontab.tsx
  client/dashboard/sites/settings-crontab/index.tsx
  client/dashboard/sites/settings-crontab/schedule-field.tsx
  client/package.json
  packages/api-core/src/site-hosting-crontab/mutators.ts
  packages/api-queries/src/site-crontab.ts
  yarn.lock
Owners: @Automattic/lego

Fix Claude rules so that they are actually used (#108470)
  .claude/rules/a4a.md
  .claude/rules/calypso-client.md
  .claude/rules/dashboard.md
  .claude/rules/e2e-testing.md
  .claude/rules/pr.md
  .claude/rules/wordpress-imports.md
  .cursor/rules/a4a.mdc
  .cursor/rules/calypso-client.mdc
  .cursor/rules/dashboard.mdc
  .cursor/rules/e2e-test-rules.mdc
  .cursor/rules/e2e-testing.mdc
  .github/prompts/dashboard-pr-review.md
  .rules/pr-rules.mdc
  AGENTS.md
  CLAUDE.md
Owners: none

Remove the AI tools MSD setting from prod (#108478)
  config/dashboard-production.json
  config/production.json
Owners: none

prevent router loop (#108475)
  packages/help-center/src/components/help-center-content.tsx
  packages/help-center/src/hooks/use-persisted-history.ts
Owners: @Automattic/t-rex

Reader: Update SitesDropdown UI (#108376)
  client/blocks/site/index.jsx
  client/blocks/site/style.scss
  client/components/site-selector/index.jsx
  client/components/site-selector/style.scss
  client/components/sites-dropdown/index.jsx
  client/components/sites-dropdown/style.scss
  client/reader/components/quick-post/index.tsx
  client/reader/components/quick-post/skeleton/index.tsx
  client/reader/components/quick-post/skeleton/style.scss
  client/reader/components/quick-post/stats/index.ts
  client/reader/components/quick-post/style.scss
  client/reader/components/quick-post/test/index.test.tsx
  client/reader/components/quick-post/utils.ts
  client/reader/following/main.tsx
  client/reader/following/style.scss
Owners: @Automattic/loop

Checkout: Move domain refund notice out of Read more section (#108480)
  client/my-sites/checkout/src/components/checkout-terms.tsx
Owners: @Automattic/shilling

Reader: Remove title from quick post. (#108434)
  client/reader/components/quick-post/hooks/use-post-mutation.ts
  client/reader/components/quick-post/test/index.test.tsx
Owners: @Automattic/loop

Update to use `woo` as default partner for CIAB site creation (#108467)
  client/landing/stepper/declarative-flow/flows/ai-site-builder/ai-site-builder.ts
Owners: none

Fix Woo hosted plans back navigation (#108482)
  client/landing/stepper/declarative-flow/flows/woo-hosted-plans/test/woo-hosted-plans.test.ts
  client/landing/stepper/declarative-flow/flows/woo-hosted-plans/woo-hosted-plans.ts
Owners: none

Fix chart rendering for initialization (#108278)
  client/my-sites/stats/stats-chart-tabs/index.jsx
Owners: none

MSD: Fix scan card showing incorrect auto-fix availability message (#108483)
  client/dashboard/sites/overview-scan-card/index.tsx
  client/dashboard/sites/overview-scan-card/test/index.test.tsx
Owners: @Automattic/lego

Improve calypso-client AI tool rules (#108484)
  .claude/rules/calypso-client.md
  .claude/rules/wordpress-imports.md
  .cursor/rules/calypso-client.mdc
  .cursor/rules/wordpress-imports.mdc
Owners: none

Reader: When adding sites to the list, display the custom error message returned by the API (#108200)
  client/state/data-layer/wpcom/read/lists/feeds/new/index.js
Owners: none

Fix flaky domains-table unit tests (#108471)
  packages/domains-table/src/domains-table/__tests__/domains-table-row-actions.tsx
  packages/domains-table/src/domains-table/__tests__/domains-table-row.tsx
Owners: none

Fix flaky checkout VAT form tests by awaiting load state (#108489)
  client/my-sites/checkout/src/test/checkout-vat-form.tsx
Owners: @Automattic/shilling

Fix webpack-rtl-plugin test timeout (#108490)
  packages/webpack-rtl-plugin/test/index.js
Owners: none

Fix userSettingsMutation mock in profile-gravatar tests (#108488)
  client/dashboard/me/profile-gravatar/test/notifications.test.tsx
Owners: @Automattic/lego

Fix flaky staging-site-sync-dropdown unit test (#108491)
  client/dashboard/sites/staging-site-sync-dropdown/test/index.test.tsx
Owners: @Automattic/lego

Reader: Add RSS feed autodiscovery link to Discover page (#108425)
  client/reader/discover/discover-document-head.js
Owners: @Automattic/loop

Add mechanism to expose Agents Manager actions (#108453)
  packages/agents-manager/README.md
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/hooks/use-custom-event-handler/README.md
  packages/agents-manager/src/hooks/use-custom-event-handler/index.ts
Owners: none

Domain Only Search: Move Use Domain I Own link to the top right (#108494)
  client/signup/step-wrapper/style.scss
  client/signup/steps/domains/index.tsx
Owners: @Automattic/quake

Agents Manager: Show site build progress (#108352)
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/unified-ai-agent/index.tsx
  packages/agents-manager/src/utils/load-external-providers.ts
Owners: none

e2e: After publish, treat a 404 page as an error page (#108499)
  packages/calypso-e2e/src/lib/pages/editor-page.ts
Owners: none

Performance Profiler: Fix date translation (#108505)
  client/performance-profiler/components/header/index.tsx
Owners: none

Turn on the AI Tools setting. (#108496)
  config/dashboard-production.json
  config/production.json
Owners: none

MSD: add view persistence to Site Backups DataViews (#108497)
  client/dashboard/sites/backups/backups-list.tsx
  client/dashboard/sites/backups/test/index.test.tsx
Owners: @Automattic/lego
