Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

A4A WooPayments: compact density and hide view options in add-site modal (#111104)
  client/a8c-for-agencies/sections/woopayments/add-woopayments-to-site/add-site-table.tsx
Owners: none

Agent Studio: run content fitter in one-pager preview (#111091)
  client/a8c-for-agencies/sections/agent-studio/data/use-agent-studio-output.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-agent-studio-outputs.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-agent-studio-variant-html.ts
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/pdf-viewer.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/output-detail/split-pages.ts
Owners: none

try: bump @wordpress/eslint-plugin to ^25.2.0 (ESLint 9 migration) (#111096)
  .eslintrc.js
  bin/eslint-branch.js
  bin/pre-commit-hook.js
  package.json
  packages/eslint-plugin-package-json/src/rules/npm-package-json-lint-factory.js
  packages/eslint-plugin-wpcalypso/lib/configs/recommended.js
  packages/eslint-plugin-wpcalypso/lib/rules/index.js
  packages/eslint-plugin-wpcalypso/package.json
  packages/verbum-block-editor/package.json
  yarn.lock
Owners: none

Bump @wordpress/block-editor, format-library, block-library (intermediate step) (#111100)
  apps/happy-blocks/package.json
  apps/o2-blocks/package.json
  apps/wpcom-block-editor/package.json
  package.json
  packages/agents-manager/package.json
  packages/block-notes/package.json
  packages/block-renderer/package.json
  packages/global-styles/package.json
  packages/verbum-block-editor/package.json
  packages/verbum-block-editor/src/editor/editor-settings.ts
  packages/verbum-block-editor/src/editor/index.tsx
  yarn.lock
Owners: none

Fix eslint 9.0 lack of files to lint (#111110)
  .teamcity/_self/projects/WebApp.kt
Owners: none

Fix collision with the agents manager (#111107)
  .stylelintrc
  packages/wpcom-smart-dictation/src/live-ai-assistant/style.scss
Owners: none

Use advertised storage in purchase feature list (#110934)
  client/blocks/product-purchase-features-list/index.jsx
  client/blocks/product-purchase-features-list/test/product-purchase-features-list.jsx
  client/blocks/product-purchase-features-list/test/video-audio-posts.jsx
  client/blocks/product-purchase-features-list/video-audio-posts.jsx
  client/dashboard/me/billing-purchases/cancel-purchase/get-confirmation-copy.ts
  client/me/purchases/cancel-purchase/to-purchase-for-copy.ts
  client/state/purchases/test/selectors.js
  packages/api-core/src/upgrades/types.ts
  packages/data-stores/src/purchases/lib/assembler.ts
  packages/data-stores/src/purchases/types.ts
Owners: @Automattic/lego

Update plugin marketplace suggestion prompts (#111114)
  client/my-sites/plugins/marketplace-ai-experience/prompt-form.tsx
  client/my-sites/plugins/plugin-compass-agent-loader.tsx
Owners: none

A4A Client Checkout: Show price for legacy referral (#111024)
  client/a8c-for-agencies/sections/marketplace/hooks/test/use-products-by-id.test.tsx
  client/a8c-for-agencies/sections/marketplace/hooks/use-products-by-id.ts
Owners: none

E2E: tolerate slow LOHP theme document response (#111117)
  packages/calypso-e2e/.eslintrc.js
  packages/calypso-e2e/src/lib/pages/logged-out-home-page.ts
Owners: none

My Home: drop support center from subtitle when card is absent (#111119)
  client/my-sites/customer-home/components/home-content/index.jsx
  packages/eslint-plugin-wpcalypso/lib/rules/redux-no-bound-selectors.js
Owners: none

A4A > Tiers: fix locked-tier text contrast and non-link hover color (#111088)
  client/a8c-for-agencies/sections/agency-tier/overview-content/style.scss
  client/a8c-for-agencies/sections/agency-tier/overview-content/tier-benefits.tsx
Owners: none

Fix A4A FAQ breadcrumb spacing (#111103)
  client/a8c-for-agencies/sections/referrals/primary/commission-overview/style.scss
Owners: none

RSM: AI Editorial Review - Add block transform tracking (#111027)
  packages/agents-manager/src/components/__tests__/agent-chat.test.tsx
  packages/agents-manager/src/components/__tests__/orchestrator-chat.test.tsx
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/components/selected-block/index.tsx
  packages/agents-manager/src/utils/__tests__/load-external-providers.test.ts
  packages/agents-manager/src/utils/load-external-providers.ts
  packages/jetpack-ai-sidebar/src/components/review-mediation.scss
  packages/jetpack-ai-sidebar/src/index.test.ts
  packages/jetpack-ai-sidebar/src/index.ts
  packages/jetpack-ai-sidebar/src/utils/block-actions.ts
  packages/jetpack-ai-sidebar/src/utils/tracking.test.ts
  packages/jetpack-ai-sidebar/src/utils/tracking.ts
Owners: none

Temporary hide Zendesk chat button (#111102)
  packages/agents-manager/src/components/agent-dock/index.tsx
Owners: none

Site logs tests: remove many many mocks (#111112)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/logs/index.tsx
  client/dashboard/sites/logs/test/index.test.tsx
Owners: @Automattic/lego

Reader Achievements: display daily post streaks (#111105)
  client/data/reader/test/use-achievements-query.test.tsx
  client/data/reader/use-achievements-query.ts
  client/reader/user-profile/views/achievements/achievements-grid/daily-post-streak-card.tsx
  client/reader/user-profile/views/achievements/achievements-grid/index.tsx
  client/reader/user-profile/views/achievements/achievements-grid/style.scss
  client/reader/user-profile/views/achievements/achievements-grid/test/daily-post-streak-card.test.tsx
  client/reader/user-profile/views/achievements/achievements-grid/test/index.test.tsx
  packages/api-core/src/read-achievements/types.ts
Owners: @Automattic/loop

A4A: dim empty-state placeholder across portal tables (#111087)
  client/a8c-for-agencies/components/add-new-site-button/import-from-wpcom-modal/wpcom-sites-table.tsx
  client/a8c-for-agencies/components/empty-value-indicator/index.tsx
  client/a8c-for-agencies/components/empty-value-indicator/style.scss
  client/a8c-for-agencies/sections/client/primary/subscriptions-list/index.tsx
  client/a8c-for-agencies/sections/client/primary/subscriptions-list/mobile-view/index.tsx
  client/a8c-for-agencies/sections/purchases/billing/billing-details/index.tsx
  client/a8c-for-agencies/sections/purchases/billing/billing-summary/index.tsx
  client/a8c-for-agencies/sections/purchases/invoices/invoices-list-card/index.tsx
  client/a8c-for-agencies/sections/purchases/licenses/license-details/index.tsx
  client/a8c-for-agencies/sections/purchases/licenses/license-preview/index.tsx
  client/a8c-for-agencies/sections/referrals/referral-details/components/date.tsx
  client/a8c-for-agencies/sections/referrals/referral-details/components/total-amount.tsx
  client/a8c-for-agencies/sections/reports/primary/dashboard/report-columns.tsx
  client/a8c-for-agencies/sections/team/primary/team-list/columns.tsx
  client/a8c-for-agencies/sections/woopayments/dashboard-content/site-columns.tsx
Owners: none

SiteLogs test: wait for the URL normalization specifically (#111128)
  client/dashboard/sites/logs/test/index.test.tsx
Owners: @Automattic/lego

Add smart dictation apiFetch fallback (Atomic support) (#111124)
  packages/wpcom-smart-dictation/package.json
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/client-secret.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/use-realtime-session.ts
  yarn.lock
Owners: none

Agents Manager: localize Jetpack AI usage-limit error in chat banner (#111040)
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/utils/__tests__/orchestrator-error-message.test.ts
  packages/agents-manager/src/utils/orchestrator-error-message.ts
Owners: none

Reader: match social account card hover ring to brand accent (#111132)
  client/reader/connections/style.scss
Owners: @Automattic/loop

Reader social: swap WordPress logomark on Blog About button for curved-arrow glyph (#111133)
  client/reader/social/components/post-card/blog-about-button.tsx
Owners: @Automattic/loop

Reader Social composer: show destination account in modal header (#111145)
  client/reader/atmosphere/composer-config.tsx
  client/reader/atmosphere/test/composer-config.test.tsx
  client/reader/atmosphere/test/standalone-compose.test.tsx
  client/reader/fediverse/composer-config.tsx
  client/reader/fediverse/test/use-fediverse-author-handle.test.tsx
  client/reader/mastodon/composer-config.tsx
  client/reader/mastodon/test/composer-config.test.tsx
  client/reader/social/AGENTS.md
  client/reader/social/composer/composer-config.tsx
  client/reader/social/composer/composer-modal.tsx
  client/reader/social/composer/style.scss
  client/reader/social/composer/test/composer-modal.test.tsx
Owners: @Automattic/loop

Reader: open social-setup "Learn more" links in the Help Center (#111135)
  client/reader/atmosphere/atmosphere-connect-view.tsx
  client/reader/connections/connections-new-view.tsx
  client/reader/connections/social-overview-view.tsx
  client/reader/connections/style.scss
  client/reader/mastodon/mastodon-connect-view.tsx
Owners: @Automattic/loop

Fix P2 default block readiness in E2E (#111155)
  packages/calypso-e2e/src/lib/components/isolated-block-editor-component.ts
Owners: none

Update critical vulnerable dependencies (#111154)
  package.json
  yarn.lock
Owners: none

Remove orphaned desktop logger package lock (#111158)
  desktop/app/lib/logger/package-lock.json
Owners: none

Add AI assistant email address settings (#111134)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/settings-ai-tools/index.tsx
  client/dashboard/sites/settings-ai-tools/test/index.test.tsx
  client/my-sites/site-settings/index.js
  packages/api-core/src/index.ts
  packages/api-core/src/me-settings/types.ts
  packages/api-core/src/site-jetpack-settings/types.ts
  packages/api-core/src/site-post-by-email/fetchers.ts
  packages/api-core/src/site-post-by-email/index.ts
  packages/api-core/src/site-post-by-email/mutators.ts
  packages/api-core/src/site-post-by-email/types.ts
  packages/api-core/src/site-post-by-email/utils.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/site-jetpack-settings.ts
  packages/api-queries/src/site-post-by-email.ts
Owners: @Automattic/lego

Refresh vulnerable transitive npm locks (#111163)
  yarn.lock
Owners: none

Add smart dictation quota upgrade action (#111148)
  packages/wpcom-smart-dictation/src/live-ai-assistant/index.tsx
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/client-secret.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/types.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/use-realtime-session.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/style.scss
Owners: none

Update desktop Ruby dependencies (#111171)
  desktop/Gemfile.lock
Owners: none

Reader: Rename sidebar item from Social to Social Feeds (#111177)
  client/reader/sidebar/reader-sidebar-connections/index.tsx
Owners: @Automattic/loop

Reader Social Spotlight: render Mastodon/Fediverse card body from HTML (#111162)
  client/reader/connections/social-spotlight.tsx
  client/reader/connections/test/social-spotlight.test.tsx
Owners: @Automattic/loop

Refresh lodash and API Extractor locks (#111181)
  packages/ui/package.json
  yarn.lock
Owners: none

Refresh PHPUnit lockfile dependencies (#111183)
  composer.lock
Owners: none

Refresh minimatch and glob locks (#111186)
  yarn.lock
Owners: none

Refresh Express family dependencies (#111187)
  packages/wpcom.js/examples/browser-cors/package.json
  packages/wpcom.js/examples/server/package.json
  yarn.lock
Owners: none

Refresh range-movable transitive locks (#111188)
  yarn.lock
Owners: none

Fix Reader Chat UUID fallback (#111131)
  packages/agents-manager/src/hooks/use-persisted-history.ts
  packages/agents-manager/src/hooks/use-save-new-chat-route.ts
  packages/agents-manager/src/utils/__tests__/generate-uuid.test.ts
  packages/agents-manager/src/utils/agent-session.ts
  packages/agents-manager/src/utils/generate-uuid.ts
Owners: none
