Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Umbrella PR: Calypso Performance Improvements (#109599)
  client/blocks/importer/wordpress/upgrade-plan/style.scss
  client/blocks/reader-feed-header/style.scss
  client/components/bloganuary-header/style.scss
  client/components/empty-content/no-sites-message/style.scss
  client/components/head/index.jsx
  client/components/help-center/async-help-center-app.tsx
  client/components/help-center/help-center-app.tsx
  client/components/jetpack/wpcom-upsell-placeholder/style.scss
  client/hosting/server-settings/style.scss
  client/landing/stepper/README.md
  client/landing/stepper/declarative-flow/internals/hooks/use-preload-steps/index.ts
  client/landing/stepper/declarative-flow/internals/hooks/use-preload-steps/test/index.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/plans/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util/build-upgrade-function.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util/get-interval-type.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util/get-visual-split-plans-intent.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util/index.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util/package.json
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util/supported-interval-types.ts
  client/landing/stepper/index.tsx
  client/landing/stepper/stores.ts
  client/lib/wp/handlers/fingerprint.js
  client/lib/wp/handlers/test/fingerprint.test.ts
  client/my-sites/customer-home/components/celebrate-launch-modal.scss
  client/my-sites/stats/videopress-stats-module/style.scss
  client/my-sites/themes/theme-showcase.scss
  client/reader/tag-stream/style.scss
  client/reader/tags/style.scss
  client/site-profiler/components/domain-analyzer/styles.scss
  client/site-profiler/components/styles.scss
  packages/api-core/src/me/fetchers.ts
Owners: @Automattic/loop, @Automattic/dotcom-stepper

Revert "Umbrella PR: Calypso Performance Improvements" (#109733)
  client/blocks/importer/wordpress/upgrade-plan/style.scss
  client/blocks/reader-feed-header/style.scss
  client/components/bloganuary-header/style.scss
  client/components/empty-content/no-sites-message/style.scss
  client/components/head/index.jsx
  client/components/help-center/async-help-center-app.tsx
  client/components/help-center/help-center-app.tsx
  client/components/jetpack/wpcom-upsell-placeholder/style.scss
  client/hosting/server-settings/style.scss
  client/landing/stepper/README.md
  client/landing/stepper/declarative-flow/internals/hooks/use-preload-steps/index.ts
  client/landing/stepper/declarative-flow/internals/hooks/use-preload-steps/test/index.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/plans/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util/get-interval-type.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util/get-visual-split-plans-intent.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util/index.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util/package.json
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util/supported-interval-types.ts
  client/landing/stepper/index.tsx
  client/landing/stepper/stores.ts
  client/lib/wp/handlers/fingerprint.js
  client/lib/wp/handlers/test/fingerprint.test.ts
  client/my-sites/customer-home/components/celebrate-launch-modal.scss
  client/my-sites/stats/videopress-stats-module/style.scss
  client/my-sites/themes/theme-showcase.scss
  client/reader/tag-stream/style.scss
  client/reader/tags/style.scss
  client/site-profiler/components/domain-analyzer/styles.scss
  client/site-profiler/components/styles.scss
  packages/api-core/src/me/fetchers.ts
Owners: @Automattic/loop, @Automattic/dotcom-stepper

A4A: Fix Partner Directory form not able to save Language spoken. (#109737)
  client/a8c-for-agencies/data/partner-directory/use-submit-agency-details.ts
  client/a8c-for-agencies/sections/partner-directory/utils/map-application-form-data.ts
Owners: none

E2E: Use exact match for Jetpack menuitemcheckbox locator (#109736)
  test/e2e/specs/editor/editor__post-basic-flow.ts
Owners: none

Create a feature gating experiment based on var4 (#109466)
  client/my-sites/plans-features-main/hooks/use-generate-action-callback.ts
  client/my-sites/plans-features-main/hooks/use-generate-action-hook.tsx
  client/my-sites/plans-features-main/hooks/use-plan-differentiators-experiment.ts
  client/my-sites/plans-features-main/index.tsx
  packages/calypso-products/src/constants/features.ts
  packages/calypso-products/src/feature-group-plan-map.ts
  packages/calypso-products/src/features-list.tsx
  packages/calypso-products/src/plans-list.tsx
  packages/calypso-products/src/types.ts
  packages/plans-grid-next/src/_shared.scss
  packages/plans-grid-next/src/components/features-grid/index.tsx
  packages/plans-grid-next/src/components/features-grid/mobile-free-domain.tsx
  packages/plans-grid-next/src/components/features-grid/style.scss
  packages/plans-grid-next/src/components/features.tsx
  packages/plans-grid-next/src/components/shared/header-price/index.tsx
  packages/plans-grid-next/src/components/shared/header-price/style.scss
  packages/plans-grid-next/src/components/shared/storage/components/plan-storage.tsx
  packages/plans-grid-next/src/grid-context.tsx
  packages/plans-grid-next/src/hooks/data-store/types.ts
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans-for-comparison-grid.ts
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans-for-features-grid.ts
  packages/plans-grid-next/src/hooks/data-store/use-plan-features-for-grid-plans.ts
  packages/plans-grid-next/src/hooks/data-store/use-restructured-plan-features-for-comparison-grid.ts
  packages/plans-grid-next/src/types.ts
  packages/shopping-cart/src/types.ts
Owners: @Automattic/martech, @Automattic/shilling

E2E: Use exact match in EditorToolbarComponent openSettings (#109739)
  packages/calypso-e2e/src/lib/components/editor-toolbar-component.ts
Owners: none

Umbrella PR: Calypso Performance Improvements - Take II (#109735)
  client/blocks/importer/wordpress/upgrade-plan/style.scss
  client/blocks/reader-feed-header/style.scss
  client/components/bloganuary-header/style.scss
  client/components/empty-content/no-sites-message/style.scss
  client/components/head/index.jsx
  client/components/help-center/async-help-center-app.tsx
  client/components/help-center/help-center-app.tsx
  client/components/jetpack/wpcom-upsell-placeholder/style.scss
  client/hosting/server-settings/style.scss
  client/landing/stepper/README.md
  client/landing/stepper/declarative-flow/internals/hooks/use-preload-steps/index.ts
  client/landing/stepper/declarative-flow/internals/hooks/use-preload-steps/test/index.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/plans/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util/build-upgrade-function.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util/get-interval-type.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util/get-visual-split-plans-intent.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util/index.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util/package.json
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/util/supported-interval-types.ts
  client/landing/stepper/index.tsx
  client/landing/stepper/stores.ts
  client/lib/wp/handlers/fingerprint.js
  client/lib/wp/handlers/test/fingerprint.test.ts
  client/my-sites/customer-home/components/celebrate-launch-modal.scss
  client/my-sites/stats/videopress-stats-module/style.scss
  client/my-sites/themes/theme-showcase.scss
  client/reader/tag-stream/style.scss
  client/reader/tags/style.scss
  client/site-profiler/components/domain-analyzer/styles.scss
  client/site-profiler/components/styles.scss
  packages/api-core/src/me/fetchers.ts
Owners: @Automattic/loop, @Automattic/dotcom-stepper

TeamCity: BuildCacheSeedImages: Auto rebuild on lock file changes (#109720)
  .teamcity/settings.kts
Owners: none

Update Akismet quantity display in Billing History (#109677)
  client/dashboard/me/billing-history/dataviews.tsx
  client/dashboard/me/billing-history/receipt.tsx
  client/dashboard/me/billing-history/utils.tsx
  client/me/purchases/billing-history/field-definitions.tsx
  client/me/purchases/billing-history/receipt.tsx
  client/me/purchases/billing-history/utils.tsx
Owners: @Automattic/lego, @Automattic/shilling

Cookie banner: Enable the Decline non-essential button (#109741)
  client/blocks/cookie-banner/use-cookie-banner-content.tsx
Owners: none

Comp modal: hide already-comped plan options (#109712)
  client/my-sites/earn/components/add-edit-coupon-modal/products-selector.tsx
  client/my-sites/earn/components/add-edit-coupon-modal/test/products-selector.tsx
  client/my-sites/subscribers/components/comp-modal/comp-modal.tsx
  client/my-sites/subscribers/components/comp-modal/test/comp-modal.test.tsx
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
  client/my-sites/subscribers/main.tsx
  client/my-sites/subscribers/types/index.ts
Owners: none

Stats: Replace newsletter empty state CTA with settings deep link (#109672)
  client/my-sites/stats/const.js
  client/my-sites/stats/features/modules/shared/stats-empty-action-email.tsx
Owners: none

Dolly UI updates (#109473)
  client/components/social-logo/index.tsx
  client/me/ai-assistant/style.scss
  client/me/ai-assistant/telegram-connection.tsx
  client/me/developer/features/dolly-card.tsx
  client/me/dolly/index.jsx
  client/me/dolly/style.scss
  client/me/dolly/telegram-connection.tsx
  client/me/dolly/telegram-logo.svg
  client/me/security-checkup/ai-assistant.jsx
  client/me/security-checkup/dolly.jsx
  client/me/security-checkup/index.jsx
  client/me/security-checkup/navigation-item.jsx
  client/me/security-section-nav/index.jsx
  client/me/security/controller.js
  client/me/security/index.js
  client/me/telegram/get-telegram-connection-description.tsx
  client/me/telegram/use-telegram-bot-widget.tsx
  client/telegram-connect/main.jsx
  client/telegram-connect/style.scss
  config/_shared.json
  config/development.json
Owners: none

Add URL protocol validation to checkout redirect allowlists (#109403)
  client/dashboard/.eslintrc.js
  client/dashboard/me/billing-purchases/change-payment-method.tsx
  client/my-sites/checkout/src/hooks/use-valid-checkout-back-url.ts
  client/my-sites/checkout/src/lib/pending-page.ts
  packages/calypso-url/src/index.ts
  packages/calypso-url/src/is-allowed-redirect-url.ts
  packages/calypso-url/test/is-allowed-redirect-url.js
Owners: @Automattic/lego, @Automattic/shilling

MSD OAuth: Support sending users straight to signup for some flows (#109582)
  client/dashboard/app/auth/index.tsx
  client/lib/login/index.js
  client/lib/login/test/index.js
Owners: @Automattic/lego

fix bot username (#109748)
  config/_shared.json
Owners: none

Allow webp format (#109746)
  packages/calypso-build/typings/calypso-assets/index.d.ts
  packages/calypso-build/webpack/file-loader.js
Owners: none

Fix Jest WebP support (#109754)
  packages/calypso-jest/README.md
  packages/calypso-jest/jest-preset.js
  test/apps/jest-preset.js
  test/client/jest.config.js
  test/server/jest.config.js
Owners: none

Subscribers: Fix layout shift when opening actions dropdown (#109749)
  client/my-sites/subscribers/components/subscriber-data-views/style.scss
Owners: none

Checkout: Add user email to header under domain (#109753)
  client/my-sites/checkout/src/components/wp-checkout-order-review.tsx
Owners: @Automattic/shilling

Checkout: tweak UI for redesign experiment (#109710)
  client/my-sites/checkout/src/components/checkout-main-content.tsx
  client/my-sites/checkout/src/components/item-variation-picker/variant-radio-price.tsx
  client/my-sites/checkout/src/components/wp-checkout-order-summary.tsx
Owners: @Automattic/shilling

Reader: Show notice on interaction with subscribe button (#109671)
  client/blocks/reader-feed-header/badge.tsx
  client/blocks/reader-feed-header/follow.tsx
  client/reader/get-helpers.ts
Owners: @Automattic/loop

Reader: Add last published time on Recent menu (#109614)
  client/layout/global-sidebar/style.scss
  client/reader/sidebar/reader-sidebar-organizations/list-item.jsx
  client/reader/sidebar/reader-sidebar-organizations/list.jsx
  client/reader/sidebar/reader-sidebar-recent/index.tsx
  client/reader/sidebar/reader-sidebar-recent/style.scss
  client/reader/sidebar/style.scss
Owners: @Automattic/loop

Reader: Fix stream error on user profile posts tab (#109670)
  client/reader/stream/error.tsx
  client/reader/stream/index.jsx
  client/state/data-layer/wpcom/read/streams/index.js
Owners: @Automattic/loop

Reader: Add sites tab on user profile (#109544)
  client/reader/recommended-feeds-list/recommended-feed-item.tsx
  client/reader/recommended-feeds-list/test/recommended-feed-item.test.tsx
  client/reader/stats/index.ts
  client/reader/stats/test/index.test.ts
  client/reader/style.scss
  client/reader/user-profile/components/user-profile-header/index.tsx
  client/reader/user-profile/components/user-profile-header/test/index.tsx
  client/reader/user-profile/index.tsx
  client/reader/user-profile/views/sites/index.tsx
  client/reader/user-profile/views/sites/test/sites.test.tsx
  client/reader/user-profile/views/sites/use-user-sites-query.ts
Owners: @Automattic/loop

MSD: Rename /me/profile route to /me/account (#109691)
  client/dashboard/app/command-palette/commands.tsx
  client/dashboard/app/router/me.tsx
  client/dashboard/app/secondary-menu/index.tsx
  client/dashboard/components/purchase-dialogs/remove-domain-dialog.tsx
  client/dashboard/me/account/index.tsx
  client/dashboard/me/me-menu/index.tsx
  client/dashboard/me/me-sidebar/index.tsx
  client/dashboard/me/profile-deletion/alternatives-modal.tsx
Owners: @Automattic/lego

A4A: Add checkout/stripe-upi feature flag to A4A configs (#109652)
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

Add taglines to experiment (#109760)
  client/my-sites/plans-features-main/hooks/use-plan-differentiators-experiment.ts
  client/my-sites/plans-features-main/index.tsx
  packages/calypso-products/src/features-list.tsx
  packages/plans-grid-next/src/hooks/data-store/types.ts
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans-for-comparison-grid.ts
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans-for-features-grid.ts
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans.tsx
Owners: @Automattic/martech

Server cron jobs: Add username and time of the cron job requester (#109705)
  client/dashboard/sites/settings-crontab/index.tsx
  packages/api-core/src/site-hosting-crontab/types.ts
Owners: @Automattic/lego

The AI feature has no line break on mobile (#109761)
  packages/plans-grid-next/src/components/features-grid/style.scss
  packages/plans-grid-next/src/components/features.tsx
Owners: @Automattic/martech

fix(e2e): reduce Mailosaur quota by using Gmail aliasing for non-email tests (#109692)
  packages/calypso-e2e/src/data-helper.ts
  packages/calypso-e2e/src/rest-api-client.ts
  packages/calypso-e2e/src/secrets/encrypted.enc
  packages/calypso-e2e/src/secrets/secrets-manager.ts
  packages/calypso-e2e/src/secrets/types.ts
  test/e2e/lib/pw-base.ts
  test/e2e/specs/onboarding/onboarding__double-login.ts
  test/e2e/specs/onboarding/signup__woo-email.ts
  test/e2e/specs/onboarding/signup__wpcc.ts
  test/e2e/specs/users/invite__new-user.spec.ts
  test/e2e/specs/users/invite__revoke.spec.ts
Owners: none

Restrict PNG and JPG imports (#109743)
  .eslintrc.js
  client/.eslintrc.js
Owners: none

Revert "fix(e2e): reduce Mailosaur quota by using Gmail aliasing for non-emai…" (#109770)
  packages/calypso-e2e/src/data-helper.ts
  packages/calypso-e2e/src/rest-api-client.ts
  packages/calypso-e2e/src/secrets/encrypted.enc
  packages/calypso-e2e/src/secrets/secrets-manager.ts
  packages/calypso-e2e/src/secrets/types.ts
  test/e2e/lib/pw-base.ts
  test/e2e/specs/onboarding/onboarding__double-login.ts
  test/e2e/specs/onboarding/signup__woo-email.ts
  test/e2e/specs/onboarding/signup__wpcc.ts
  test/e2e/specs/users/invite__new-user.spec.ts
  test/e2e/specs/users/invite__revoke.spec.ts
Owners: none

Rename the highlight labels (#109771)
  packages/plans-grid-next/src/hooks/data-store/use-highlight-labels.ts
Owners: @Automattic/martech

Fix CHE-39: Incorrect renewal labels for 2-year and 3-year plans (#108967)
  client/me/purchases/manage-purchase/index.tsx
Owners: @Automattic/shilling

Fix woo-hosted plan downgrade routing to checkout instead of support chat (#109379)
  client/landing/stepper/index.tsx
  client/my-sites/plans-features-main/hooks/use-generate-action-callback.ts
Owners: @Automattic/dotcom-stepper

Billing: Tweak purchase table column widths (#109778)
  client/me/purchases/purchases-list-in-dataviews/style.scss
Owners: none

Checkout: Switch pending page to use receiptQuery for receipt (#109780)
  client/my-sites/checkout/checkout-thank-you/pending/index.tsx
  packages/api-core/src/me-billing-history/types.ts
Owners: none

Remove `calypso_account_step_improvement_202601` experiment code (#109781)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/use-account-creation-experiment.ts
Owners: none

Fix TimeMismatchWarning placement on Activity Log pages (#109773)
  client/my-sites/activity/activity-log-v2/index.tsx
  client/my-sites/activity/activity-log/index.jsx
  client/my-sites/backup/style.scss
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
