Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Global Nav 2026: polish assignment and badge (#111710)
  packages/wpcom-template-parts/src/types.ts
  packages/wpcom-template-parts/src/universal-header-navigation/index.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/menu-items.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/desktop-dropdown.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/hooks.ts
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/mobile-menu.tsx
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/taxonomy.ts
  packages/wpcom-template-parts/src/universal-header-navigation/nav-2026/types.ts
  packages/wpcom-template-parts/src/universal-header-navigation/style.scss
Owners: none

Reader: Add profile settings tab to edit identity and tabs visibility (#111734)
  client/blocks/edit-gravatar/index.jsx
  client/components/section-nav/tabs.scss
  client/reader/data/user-profile/index.ts
  client/reader/data/user-profile/test/use-profile-tab-visibility.test.ts
  client/reader/data/user-profile/test/use-set-profile-tab-visibility.test.ts
  client/reader/data/user-profile/use-profile-tab-visibility.ts
  client/reader/data/user-profile/use-set-hidden-sites.ts
  client/reader/data/user-profile/use-set-profile-tab-visibility.ts
  client/reader/sidebar/reader-sidebar-recent/index.tsx
  client/reader/user-profile/components/top-sites/index.tsx
  client/reader/user-profile/components/top-sites/test/index.test.tsx
  client/reader/user-profile/components/user-profile-header/index.tsx
  client/reader/user-profile/components/user-profile-header/test/index.test.tsx
  client/reader/user-profile/index.tsx
  client/reader/user-profile/test/index.test.tsx
  client/reader/user-profile/views/settings/index.tsx
  client/reader/user-profile/views/settings/profile-identity-card.tsx
  client/reader/user-profile/views/settings/profile-visibility-card.tsx
  client/reader/user-profile/views/settings/sites-visibility-card.tsx
  client/reader/user-profile/views/settings/style.scss
  client/reader/user-profile/views/settings/test/index.test.tsx
  client/reader/user-profile/views/settings/test/profile-visibility-card.test.tsx
  client/reader/user-profile/views/settings/test/sites-visibility-card.test.tsx
  client/reader/user-profile/views/sites/index.tsx
  client/reader/user-profile/views/sites/test/sites.test.tsx
  packages/api-core/src/index.ts
  packages/api-core/src/me-preferences/types.ts
  packages/api-core/src/read-profile-settings/fetchers.ts
  packages/api-core/src/read-profile-settings/index.ts
  packages/api-core/src/read-profile-settings/types.ts
  packages/api-core/src/user-sites/fetchers.ts
  packages/api-core/src/user-sites/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/me-preferences.ts
  packages/api-queries/src/read-profile-settings.ts
  packages/api-queries/src/user-sites.ts
Owners: @Automattic/loop

api-queries: remove URLSearchParams from plansQuery queryKey (#111747)
  packages/api-queries/src/plans.ts
Owners: none

Help Center: cross-check open conversation count with SupportInteraction status (#110647)
  packages/odie-client/src/components/message/get-support.tsx
  packages/odie-client/src/components/message/messages-container.tsx
  packages/odie-client/src/components/message/user-message.tsx
  packages/odie-client/src/components/notices/get-most-recent-open-live-interaction.tsx
  packages/odie-client/src/data/use-send-odie-message.ts
  packages/odie-client/src/hooks/use-create-zendesk-conversation.ts
  packages/odie-client/src/hooks/use-open-interaction-status-map.ts
  packages/odie-client/src/types.ts
  packages/odie-client/src/utils/get-open-live-interactions.ts
  packages/odie-client/src/utils/test/get-open-live-interactions.test.ts
Owners: none

Lodash: replace flatMap/flatten with native array methods (#111743)
  client/.eslintrc.js
  client/blocks/comments/post-comment.jsx
  client/lib/embed-frame-markup/index.jsx
  client/lib/signup/flow-controller.ts
  client/my-sites/domains/domain-management/dns/dns-add-new.jsx
  client/reader/search-stream/index.jsx
  client/reader/stream/utils.js
  client/state/analytics/actions/compose-analytics.js
  client/state/comments/selectors/get-comment-by-id.js
  client/state/comments/test/selectors.js
Owners: @Automattic/loop

Speed Test: fix results-page header for the 2026 nav (#111744)
  client/performance-profiler/style.scss
Owners: none

Checkout: fix off-by-one issue with dates in renewal terms (#111754)
  client/my-sites/checkout/src/components/additional-terms-of-service-in-cart.tsx
  client/my-sites/checkout/src/components/test/additional-terms-of-service-in-cart.test.ts
Owners: @Automattic/shilling

Gate current-plan intro price headline behind the renewal-pricing experiment (#111635)
  client/my-sites/plans-features-main/index.tsx
  packages/data-stores/src/plans/hooks/test/use-pricing-meta-for-grid-plans.ts
  packages/data-stores/src/plans/hooks/use-pricing-meta-for-grid-plans.ts
  packages/plans-grid-next/src/hooks/data-store/types.ts
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans-for-comparison-grid.ts
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans-for-features-grid.ts
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans.tsx
Owners: @Automattic/martech

Checkout: Localize the start/end/renewal dates in terms and conditions (#111761)
  client/my-sites/checkout/src/components/additional-terms-of-service-in-cart.tsx
  client/my-sites/checkout/src/components/test/additional-terms-of-service-in-cart.test.ts
Owners: @Automattic/shilling

Legacy contact: add a printable contact view (#111736)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/security-legacy-contact/index.tsx
  client/dashboard/me/security-legacy-contact/print.tsx
  client/dashboard/me/security-legacy-contact/style.scss
Owners: @Automattic/lego

Dashboard: remove decorative icons from backup detail and download/restore headers (#111497)
  client/dashboard/sites/backup-download/form.tsx
  client/dashboard/sites/backup-download/index.tsx
  client/dashboard/sites/backup-restore/form.tsx
  client/dashboard/sites/backup-restore/granular-form.tsx
  client/dashboard/sites/backup-restore/index.tsx
  client/dashboard/sites/backups/backup-details.tsx
Owners: @Automattic/lego

Notifications: Fetch unread notes only for Unread tab. (#111543)
  apps/notifications/src/app/note-list/index.tsx
  apps/notifications/src/app/note-list/test/index.test.tsx
  apps/notifications/src/app/types.ts
  apps/notifications/src/panel/rest-client/index.js
  apps/notifications/src/panel/rest-client/test/index.test.js
  apps/notifications/src/panel/state/action-types.js
  apps/notifications/src/panel/state/notes/actions.js
  apps/notifications/src/panel/state/notes/reducer.js
  apps/notifications/src/panel/state/selectors/get-unread-note-ids.js
Owners: none

Lodash: make js-utils/native guards repo-wide and clear packages stragglers (#111749)
  .eslintrc.js
  apps/notifications/.eslintrc.js
  client/.eslintrc.js
  client/server/.eslintrc.js
  packages/calypso-eslint-overrides/index.js
  packages/calypso-eslint-overrides/lodash-restricted-imports.js
  packages/components/package.json
  packages/components/src/dot-pager/index.tsx
  packages/components/src/suggestions/index.tsx
  packages/components/tsconfig.json
  packages/domain-search/.eslintrc.js
  packages/domain-search/package.json
  packages/domains-table/package.json
  packages/domains-table/src/utils/assembler.ts
  packages/domains-table/tsconfig.json
  yarn.lock
Owners: none

Notifications: fix Pending Approval badge layout in the dashboard (#111767)
  apps/notifications/src/shared/pending-approval-badge.scss
Owners: none

Notifications: dark mode support for the redesigned panel (#111690)
  apps/notifications/src/app/note-list/dataviews-overrides.scss
  apps/notifications/src/app/note/style.scss
  apps/notifications/src/app/style.scss
Owners: none

Notifications: add prev/next navigation to mobile detail header (#111712)
  apps/notifications/src/app/index.tsx
  apps/notifications/src/app/note/hooks.ts
  apps/notifications/src/app/note/index.tsx
  apps/notifications/src/app/note/style.scss
  apps/notifications/src/app/templates/action-dropdown.tsx
Owners: none

Notifications: fix Pending Approval badge colors in dark mode (#111771)
  apps/notifications/src/shared/pending-approval-badge.scss
Owners: none

Dashboard: A4A agency Tiers screen (shared with a8c-for-agencies) (#111342)
  client/a8c-for-agencies/sections/agency-tier/overview-content/index.tsx
  client/a8c-for-agencies/sections/agency-tier/overview-content/influenced-revenue.tsx
  client/a8c-for-agencies/sections/agency-tier/overview-content/tier-benefits.tsx
  client/a8c-for-agencies/sections/agency-tier/overview-content/types.ts
  client/a8c-for-agencies/sections/agency-tier/progress-card/index.tsx
  client/dashboard/agency/tiers/constants.ts
  client/dashboard/agency/tiers/get-current-agency-tier.ts
  client/dashboard/agency/tiers/index.tsx
  client/dashboard/agency/tiers/influenced-revenue.tsx
  client/dashboard/agency/tiers/style.scss
  client/dashboard/agency/tiers/tier-benefits.tsx
  client/dashboard/agency/tiers/tier-cards.tsx
  client/dashboard/agency/tiers/types.ts
  client/dashboard/agency/tiers/use-schedule-call.ts
  client/dashboard/app-a4a/index.tsx
  client/dashboard/app-a4a/section.ts
  client/dashboard/app-ciab/section.ts
  client/dashboard/app-dotcom/section.ts
  client/dashboard/app/context.tsx
  client/dashboard/app/responsive-sidebar/agency.tsx
  client/dashboard/app/router/agency.tsx
  client/dashboard/docs/entry-points.md
  client/dashboard/section.ts
  client/server/pages/index.js
  packages/api-core/src/agency/fetchers.ts
  packages/api-core/src/agency/types.ts
  packages/api-queries/src/agency.ts
Owners: @Automattic/lego

Lodash: replace camelCase/snakeCase/kebabCase with @automattic/js-utils (#111773)
  bin/codemods/src/unglobalize-selectors.js
  client/blocks/signup-form/index.jsx
  client/components/domains/contact-details-form-fields/index.jsx
  client/components/domains/contact-details-form-fields/managed-contact-details-form-fields.tsx
  client/components/domains/registrant-extra-info/ca-form.tsx
  client/components/domains/registrant-extra-info/uk-form.tsx
  client/components/domains/wpcom-domain-search/analytics.ts
  client/components/seo/meta-title-editor/mappings.js
  client/components/theme/more-button.jsx
  client/landing/stepper/declarative-flow/internals/analytics/record-step-navigation.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/import/helper.ts
  client/lib/browser-storage/index.ts
  client/lib/form-state/index.js
  client/my-sites/domains/domain-management/edit-contact-info/form-card.jsx
  client/my-sites/themes/events/theme-showcase-tracks.ts
  client/server/pages/csp-report.js
  client/signup/main.jsx
  client/state/data-layer/test/utils.js
  client/state/data-layer/utils.js
  client/state/data-layer/wpcom/sites/rewind/api-transformer.js
  client/state/signup/progress/actions.js
  client/state/sites/domains/assembler.js
  client/state/stats/lists/utils.js
  packages/calypso-eslint-overrides/lodash-restricted-imports.js
  packages/domains-table/src/utils/assembler.ts
  packages/js-utils/src/camel-case.ts
  packages/js-utils/src/index.ts
  packages/js-utils/src/kebab-case.ts
  packages/js-utils/src/snake-case.ts
  packages/js-utils/src/test/camel-case.ts
  packages/js-utils/src/test/kebab-case.ts
  packages/js-utils/src/test/snake-case.ts
  packages/js-utils/src/words.ts
Owners: @Automattic/quake, @Automattic/dotcom-stepper, @Automattic/nomado

Notifications: enable notifications/redesign flag in horizon, stage, and production (#111683)
  config/horizon.json
  config/production.json
  config/stage.json
Owners: none

Odie: change Zendesk transfer label to "Support request started" (#111777)
  packages/odie-client/src/components/message/messages-cluster/messages-cluster.tsx
Owners: none

Notifications: keep the in-frame panel open when clicking Settings / Keyboard shortcuts (#111778)
  apps/notifications/src/standalone-app/index.jsx
Owners: none

Notifications: improve contrast of read-state note icon badge (#111779)
  apps/notifications/src/app/note-list/style.scss
Owners: none

Notifications: fix infinite scroll on the Unread tab and the All tab after visiting Unread (#111776)
  apps/notifications/src/app/note-list/index.tsx
  apps/notifications/src/app/note-list/test/index.test.tsx
  apps/notifications/src/panel/rest-client/index.js
  apps/notifications/src/panel/rest-client/test/index.test.js
Owners: none

Global Nav 2026: hide logged-in nav while assignment loads (#111745)
  client/landing/subscriptions/components/subscription-manager-page/styles.scss
  client/landing/subscriptions/components/subscription-manager-page/subscription-manager-page.tsx
  client/layout/index.jsx
  client/layout/logged-out.jsx
  client/layout/nav-2026-universal-header.tsx
  client/layout/style.scss
  client/layout/use-nav-2026-props.ts
  client/my-sites/patterns/wrapper.tsx
  client/performance-profiler/controller.tsx
  client/performance-profiler/style.scss
Owners: none

Upgrade @stripe/stripe-js to v9.8.0 and @stripe/react-stripe-js to v6.6.0 (#111724)
  client/package.json
  packages/calypso-stripe/package.json
  packages/wpcom-checkout/package.json
  yarn.lock
Owners: @Automattic/shilling

MCP: add 'Learn more' link to /me/mcp subheader (#111758)
  client/components/inline-support-link/context-links.js
  client/me/mcp/mcp-page-header.jsx
Owners: none

Agents Manager: frame Jetpack admin content; use $admin-content-top (#111752)
  packages/agents-manager/src/components/agent-dock/fixes-jetpack.scss
  packages/agents-manager/src/components/agent-dock/style.scss
Owners: none

Agents Manager: toggle chat from entry points, preserve minimize view, store cleanups (#111631)
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/masterbar-agents-manager/chat-actions.ts
  client/layout/masterbar/masterbar-agents-manager/index.jsx
  packages/agents-manager/README.md
  packages/agents-manager/src/components/__tests__/agent-dock.test.tsx
  packages/agents-manager/src/components/__tests__/chat-header.test.tsx
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/agent-history/index.tsx
  packages/agents-manager/src/components/chat-header/index.tsx
  packages/agents-manager/src/components/support-guide/index.tsx
  packages/agents-manager/src/components/support-guides/index.tsx
  packages/agents-manager/src/global.d.ts
  packages/agents-manager/src/hooks/__tests__/custom-actions.test.ts
  packages/agents-manager/src/hooks/__tests__/use-agent-layout-manager.test.tsx
  packages/agents-manager/src/hooks/custom-actions/README.md
  packages/agents-manager/src/hooks/custom-actions/index.ts
  packages/agents-manager/src/hooks/use-admin-bar-integration/index.tsx
  packages/agents-manager/src/hooks/use-agent-layout-manager/index.tsx
  packages/data-stores/src/agents-manager/reducer.ts
  packages/data-stores/src/agents-manager/test/reducer.test.ts
Owners: none

Improve Tracks events (#111542)
  packages/agents-manager/src/components/__tests__/agent-chat.test.tsx
  packages/agents-manager/src/components/__tests__/agent-dock.test.tsx
  packages/agents-manager/src/components/__tests__/chat-header.test.tsx
  packages/agents-manager/src/components/__tests__/orchestrator-chat.test.tsx
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/chat-header/index.tsx
  packages/agents-manager/src/components/custom-a-link/index.tsx
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/components/sources-display/index.tsx
  packages/agents-manager/src/contexts/AgentsManagerContext.tsx
  packages/agents-manager/src/global.d.ts
  packages/agents-manager/src/hooks/__tests__/use-feedback-action.test.ts
  packages/agents-manager/src/hooks/use-checkpoint-action.ts
  packages/agents-manager/src/hooks/use-feedback-action.ts
  packages/agents-manager/src/hooks/use-help-search-query.ts
  packages/agents-manager/src/utils/__tests__/resolved-agent-id.test.ts
  packages/agents-manager/src/utils/__tests__/tracks.test.ts
  packages/agents-manager/src/utils/resolved-agent-id.ts
  packages/agents-manager/src/utils/tracks.ts
Owners: none

Reader: show Automattician hire date on the automattician achievement card (#111748)
  client/reader/user-profile/views/achievements/achievements-grid/generic-achievement.tsx
  client/reader/user-profile/views/achievements/achievements-grid/test/generic-achievement.test.tsx
  packages/api-core/src/read-achievements/types.ts
Owners: @Automattic/loop

Notifications: reflect in-app read state in the note list immediately (#111782)
  apps/notifications/src/app/note-list/index.tsx
  apps/notifications/src/app/note-list/test/index.test.tsx
Owners: none

Help Center: retry Zendesk conversation creation until Smooch is ready (#111760)
  packages/odie-client/src/hooks/test/use-create-zendesk-conversation.test.tsx
  packages/odie-client/src/hooks/use-create-zendesk-conversation.ts
Owners: none

A4A-2603: Require target context for Pressable memory add-on (#110728)
  client/a8c-for-agencies/sections/marketplace/billing-dragon-checkout/index.tsx
  client/a8c-for-agencies/sections/marketplace/hooks/use-shopping-cart.ts
  client/a8c-for-agencies/sections/marketplace/lib/pressable-memory-addon.ts
  client/a8c-for-agencies/sections/marketplace/lib/test/pressable-memory-addon.test.ts
  client/a8c-for-agencies/sections/marketplace/products-overview/hocs/with-product-lightbox.tsx
  client/a8c-for-agencies/sections/marketplace/products-overview/product-card/index.tsx
  client/a8c-for-agencies/sections/marketplace/products-overview/product-card/pressable-addons-custom-description/index.tsx
  client/a8c-for-agencies/sections/marketplace/products-overview/product-card/style.scss
  client/a8c-for-agencies/types/products.ts
  client/jetpack-cloud/sections/partner-portal/hooks/index.tsx
  packages/shopping-cart/src/types.ts
Owners: @Automattic/shilling

Reader Spaces: wire the data layer to the real wpcom/v2 feeds/tags API (#111589)
  client/reader/data/spaces/index.ts
  client/reader/sidebar/spaces/test/index.test.tsx
  client/reader/spaces/AGENTS.md
  client/reader/spaces/README.md
  client/reader/spaces/create-modal/index.tsx
  client/reader/spaces/create-modal/test/index.test.tsx
  client/reader/spaces/sources-modal/test/index.test.tsx
  packages/api-core/src/read-spaces/__tests__/adapters.test.ts
  packages/api-core/src/read-spaces/__tests__/fetchers.test.ts
  packages/api-core/src/read-spaces/__tests__/mutators.test.ts
  packages/api-core/src/read-spaces/adapters.ts
  packages/api-core/src/read-spaces/fetchers.ts
  packages/api-core/src/read-spaces/mutators.ts
  packages/api-core/src/read-spaces/source-keys.ts
  packages/api-core/src/read-spaces/types.ts
  packages/api-queries/src/__tests__/read-spaces.test.tsx
  packages/api-queries/src/read-spaces.ts
Owners: @Automattic/loop

Onboarding: A/B-gate a Help Center entry on the domain steps (#111750)
  client/landing/stepper/declarative-flow/internals/steps-repository/components/use-onboarding-help-experiment.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/use-my-domain/index.tsx
Owners: none

Checkout: add card to submit label and add change payment method button (#111729)
  client/my-sites/checkout/src/components/checkout-main-content.tsx
  client/my-sites/checkout/src/components/checkout-submit-button-content.tsx
  client/my-sites/checkout/src/components/wp-checkout-order-summary.tsx
  client/my-sites/checkout/src/hooks/use-create-payment-methods/index.tsx
  client/my-sites/checkout/src/hooks/use-create-payment-methods/use-create-existing-cards.ts
  client/my-sites/checkout/src/test/change-payment-method-footer.tsx
  client/my-sites/checkout/src/test/existing-credit-card.tsx
  packages/calypso-e2e/src/lib/pages/cart-checkout-page.ts
  packages/composite-checkout/src/components/checkout-steps.tsx
  packages/composite-checkout/src/public-api.ts
  packages/composite-checkout/test/checkout.tsx
Owners: @Automattic/shilling

Notifications: move the note excerpt into a DataViews description field (#111784)
  apps/notifications/src/app/note-list/dataviews-overrides.scss
  apps/notifications/src/app/note-list/dataviews.tsx
  apps/notifications/src/app/note-list/index.tsx
  apps/notifications/src/app/note-list/style.scss
  apps/notifications/src/app/note-list/test/index.test.tsx
  apps/notifications/src/app/note-panel/index.tsx
  apps/notifications/src/app/note/style.scss
  apps/notifications/src/app/templates/block-user.tsx
Owners: none

Purchases: route classic Change plan to Stepper plan-upgrade flow (#111799)
  client/me/purchases/manage-purchase/index.tsx
Owners: @Automattic/shilling

Domains: clear stale bundle suggestions after permanent add failures (#111726)
  client/components/domains/wpcom-domain-search/test/use-wpcom-domain-search-props.ts
  client/components/domains/wpcom-domain-search/use-wpcom-domain-search-cart.ts
  packages/domain-search/src/page/constants.ts
  packages/domain-search/src/page/index.tsx
  packages/domain-search/src/page/results.tsx
  packages/domain-search/src/page/test/results.tsx
Owners: @Automattic/quake

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
