Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Agents Manager: Add CIAB connected variant entry point (#108896)
  apps/agents-manager/agents-manager-ciab.js
  apps/agents-manager/agents-manager-wp-admin.js
  apps/agents-manager/webpack.config.js
Owners: none

Support: Open Help Center on "Contact us" click for logged-in users (#108916)
  apps/happy-blocks/block-library/support-content-footer/includes.php
  apps/happy-blocks/block-library/support-content-footer/view.js
Owners: none

Update a8c-for-agencies AGENTS.md with code and style guidelines (#108931)
  client/a8c-for-agencies/AGENTS.md
Owners: none

MSD: Clean up dashboard/v2/paginated-site-list flag (#108850)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/index.tsx
  client/dashboard/sites/test/index.test.tsx
  client/sites/components/sites-dataviews/default-sites.tsx
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: @Automattic/lego

Refund button color shouldn't be red (#108913)
  client/dashboard/me/billing-purchases/cancel-purchase/refund-eligibility-notice.tsx
Owners: @Automattic/lego

A4A: Add PR review workflow (#108932)
  .github/prompts/a4a-pr-review.md
  .github/workflows/a4a-pr-review.yml
Owners: none

Agents Manager: WP.com support tools not working on editors (#108911)
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/hooks/use-copy-message/index.ts
  packages/agents-manager/src/utils/convert-tool-message-to-component.ts
  packages/agents-manager/src/utils/test/convert-tool-message-to-component.test.ts
Owners: none

FORNO-209: Image Studio – Show feedback input on thumbs down (#108847)
  packages/agents-manager/package.json
  packages/agents-manager/src/hooks/use-feedback/index.ts
  packages/agents-manager/src/index.ts
  packages/image-studio/package.json
  packages/image-studio/src/components/canvas-controls/index.tsx
  packages/image-studio/src/components/canvas-controls/style.scss
  packages/image-studio/src/components/index.tsx
  packages/image-studio/src/components/styles/_mixins.scss
  packages/image-studio/src/hooks/use-image-studio-feedback.ts
  packages/image-studio/src/utils/tracking.ts
  yarn.lock
Owners: none

MSD: Display site overview with warning for the disconnected jetpack (#108871)
  client/dashboard/sites/overview/index.tsx
  client/dashboard/sites/site/error.tsx
  client/dashboard/sites/site/notices.tsx
  packages/api-core/src/site/fetchers.ts
  packages/api-core/src/site/types.ts
  packages/api-queries/src/site.ts
Owners: @Automattic/lego

Domain-Only Thank You Page: Refine mailbox CTA copy (#108904)
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only/index.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only/test/index.tsx
Owners: none

Jetpack Cloud: Remove connections UI from Social tab (#108873)
  client/jetpack-cloud/sections/jetpack-social/connections.jsx
  client/jetpack-cloud/sections/jetpack-social/controller.tsx
  client/jetpack-cloud/sections/jetpack-social/index.js
  client/jetpack-cloud/sections/jetpack-social/promo.jsx
  client/jetpack-cloud/sections/jetpack-social/style.scss
Owners: none

Help Center: Skip persisted history when navigateToRoute is pending (#108919)
  packages/help-center/src/hooks/use-persisted-history.ts
Owners: @Automattic/t-rex

A4A-2156: clarify Pressable add-on capacity impact in Marketplace lightbox (#108906)
  client/a8c-for-agencies/sections/marketplace/products-overview/product-card/pressable-addons-custom-description/index.tsx
  client/a8c-for-agencies/sections/marketplace/products-overview/product-card/pressable-addons-custom-description/lib/capacity-copy.ts
  client/a8c-for-agencies/sections/marketplace/products-overview/product-card/pressable-addons-custom-description/lib/test/capacity-copy.test.ts
  client/a8c-for-agencies/sections/marketplace/products-overview/product-card/pressable-addons-custom-description/style.scss
Owners: none

Move Pressable Add-on to production (#108942)
  config/a8c-for-agencies-production.json
Owners: none

Update post-refund message in MSD (#108948)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/billing-purchases/purchase-settings/purchase-notice.tsx
Owners: @Automattic/lego

Add base agents guidelines (#108950)
  apps/blaze-dashboard/AGENTS.md
  apps/blaze-dashboard/CLAUDE.md
Owners: none

Remove refunded when not needed (#108953)
  client/dashboard/app/router/me.tsx
Owners: @Automattic/lego

Add themes/showcase-modern feature flag to config files (#108954)
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: none

Invites: apply CIAB branding in logged-out accept flow (#108922)
  client/lib/partner-branding.tsx
  client/lib/test/partner-branding.tsx
  client/my-sites/invites-unified/screens/accept-invite-screen.tsx
  client/my-sites/invites-unified/screens/already-member-screen.tsx
  client/my-sites/invites-unified/screens/test/accept-invite-screen.test.tsx
  client/my-sites/invites-unified/screens/test/already-member-screen.test.tsx
  client/my-sites/invites/invite-accept-logged-out/index.jsx
  client/my-sites/invites/invite-accept-logged-out/wp-logo.tsx
  client/my-sites/invites/invite-form-header-logged-out/index.jsx
  client/my-sites/invites/test/invite-accept-logged-out.jsx
  client/my-sites/invites/test/invite-form-header-logged-out.jsx
Owners: none

Agents Manager: Fix chat header buttons invisible in dark mode (#108945)
  packages/agents-manager/src/components/chat-header/style.scss
Owners: none

Add useIsThemeShowcaseModernEnabled hook (#108957)
  client/my-sites/themes/hooks/test/use-is-theme-showcase-modern-enabled.test.tsx
  client/my-sites/themes/hooks/use-is-theme-showcase-modern-enabled.ts
Owners: none

Analytics: Enable Quora tracking pixel (#108921)
  client/lib/analytics/ad-tracking/constants.js
  client/lib/analytics/tracker-buckets.ts
  client/lib/analytics/utils/get-exceptions.ts
  client/server/pages/index.js
Owners: none

Revert "Analytics: Enable Quora tracking pixel (#108921)" (#108960)
  client/lib/analytics/ad-tracking/constants.js
  client/lib/analytics/tracker-buckets.ts
  client/lib/analytics/utils/get-exceptions.ts
  client/server/pages/index.js
Owners: none

Bump Site Spec to 1.4.8 (#108961)
  config/_shared.json
Owners: none

MSD: Add i18n context to billing-purchases (#108927)
  client/dashboard/me/billing-purchases/cancel-purchase/backup-retention-management/retention-confirmation-dialog/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/domain-removal-confirmation-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/domain-removal-warning-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/marketplace-subscriptions-dialog.tsx
  client/dashboard/me/billing-purchases/purchase-payment-method.tsx
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
Owners: @Automattic/lego

Remove social connections UI from marketing/connections (#108943)
  client/components/data/query-publicize-connections/README.md
  client/components/data/query-publicize-connections/index.jsx
  client/my-sites/customer-home/cards/tasks/connect-accounts/index.jsx
  client/sites/marketing/connections/connections.jsx
  client/sites/marketing/connections/service-description.jsx
  client/sites/marketing/connections/service-examples.jsx
  client/sites/marketing/connections/services-group.jsx
  client/sites/marketing/connections/services/bluesky.jsx
  client/sites/marketing/connections/services/facebook.js
  client/sites/marketing/connections/services/index.js
  client/sites/marketing/connections/services/instagram-business.jsx
  client/sites/marketing/connections/services/mastodon.jsx
  client/sites/marketing/connections/services/nextdoor.jsx
  client/sites/marketing/connections/services/threads.jsx
  client/sites/marketing/connections/social-placeholder.jsx
  client/sites/marketing/connections/social-placeholder.scss
  client/sites/marketing/connections/test/mastodon.jsx
Owners: none

A4A > Checkout: Mobile CTA labels and scroll fix (#108737)
  client/a8c-for-agencies/sections/marketplace/checkout/request-client-payment.tsx
  client/a8c-for-agencies/sections/marketplace/checkout/style-v1.scss
Owners: none

Reader: Show feed preview on subscriptions page (#108935)
  client/blocks/reader-feed-item/index.tsx
  client/blocks/reader-unsubscribed-feeds-search-list/index.ts
  client/components/infinite-list/index.jsx
  client/landing/subscriptions/components/add-sites-form/add-sites-form.tsx
  client/landing/subscriptions/components/add-sites-form/feed-preview/feed-preview.styles.scss
  client/landing/subscriptions/components/feed-preview/index.tsx
  client/landing/subscriptions/components/feed-preview/styles.scss
  client/landing/subscriptions/components/feed-preview/test/index.test.tsx
  client/reader/site-subscriptions-manager/not-found-site-subscriptions.tsx
  client/reader/site-subscriptions-manager/reader-site-subscriptions.tsx
  client/reader/site-subscriptions-manager/unsubscribed-feeds-search-list/index.tsx
  client/reader/site-subscriptions-manager/unsubscribed-feeds-search-list/style.scss
  client/reader/site-subscriptions-manager/unsubscribed-feeds-search-list/test/index.test.tsx
  client/reader/stream/index.jsx
Owners: @Automattic/loop

Agents Manager: fix Jetpack subscriber page (#108912)
  packages/agents-manager/src/components/agent-dock/fixes-jetpack.scss
  packages/agents-manager/src/styles/mixins.scss
Owners: none

Free Domain Promo: Update banner copy for CIAB context (#108951)
  client/components/domains/wpcom-domain-search/free-domain-for-a-year-promo/graphic-ciab.svg
  client/components/domains/wpcom-domain-search/free-domain-for-a-year-promo/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
Owners: @Automattic/quake

Domain search: show CIAB-specific header and subheader text (#108917)
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
Owners: none

Add "calypso_purchases_cancel_form_start" to msd cancel flow (#108955)
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
Owners: @Automattic/lego

Agents Manager: fix some style issues on me page (#108915)
  packages/agents-manager/src/components/agent-dock/style.scss
Owners: none

A4A: Fix checkout layout at large breakpoint (#108968)
  client/a8c-for-agencies/sections/marketplace/checkout/style-v1.scss
Owners: none

The Resurrected Modal - Manual Variation Won (#108966)
  client/components/resurrected-welcome-modal/index.tsx
  client/components/resurrected-welcome-modal/style.scss
  client/lib/resurrected-users/README.md
  client/lib/resurrected-users/constants.ts
  client/lib/resurrected-users/test/use-resurrected-free-user-eligibility.test.tsx
  client/lib/resurrected-users/use-resurrected-free-user-eligibility.ts
Owners: none

Playground: Remove onHover calculation of suggesting a plan (#108910)
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/lib/calculate-plan-intent-php-script.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/lib/constants.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/lib/plans.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/test/index.tsx
Owners: none

Add Developer tools page under Resources and tools (#108902)
  client/a8c-for-agencies/components/sidebar-menu/hooks/use-learn-menu-items.ts
  client/a8c-for-agencies/components/sidebar-menu/hooks/use-main-menu-items.tsx
  client/a8c-for-agencies/components/sidebar-menu/learn.tsx
  client/a8c-for-agencies/components/sidebar-menu/lib/constants.ts
  client/a8c-for-agencies/lib/permission.ts
  client/a8c-for-agencies/sections/dev-tools/controller.tsx
  client/a8c-for-agencies/sections/dev-tools/primary/dev-tools-overview/dev-tool-section.tsx
  client/a8c-for-agencies/sections/dev-tools/primary/dev-tools-overview/dev-tools-content.tsx
  client/a8c-for-agencies/sections/dev-tools/primary/dev-tools-overview/index.tsx
  client/a8c-for-agencies/sections/dev-tools/primary/dev-tools-overview/style.scss
  client/a8c-for-agencies/sections/learn/index.ts
  client/a8c-for-agencies/sections/learn/resource-center/overview-content/browse-all-resources.tsx
  client/a8c-for-agencies/sections/learn/resource-center/overview-content/index.tsx
  client/assets/images/a8c-for-agencies/dev-tools/github-deployments.png
  client/assets/images/a8c-for-agencies/dev-tools/jurassic-ninja.png
  client/assets/images/a8c-for-agencies/dev-tools/studio.png
  client/assets/images/a8c-for-agencies/dev-tools/telex.png
  client/assets/images/a8c-for-agencies/dev-tools/wordpress-playground.png
  client/my-sites/sidebar/utils.js
  client/sections.js
  config/_shared.json
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

FORNO-213: Create Block Notes Calypso app (#108805)
  AGENTS.md
  apps/agents-manager/block-notes.js
  apps/agents-manager/package.json
  apps/agents-manager/webpack.config.js
  packages/block-notes/AGENTS.md
  packages/block-notes/CLAUDE.md
  packages/block-notes/__mocks__/@automattic/agenttic-client.js
  packages/block-notes/jest.config.js
  packages/block-notes/package.json
  packages/block-notes/src/abilities/index.test.ts
  packages/block-notes/src/abilities/index.ts
  packages/block-notes/src/abilities/utils.test.ts
  packages/block-notes/src/abilities/utils.ts
  packages/block-notes/src/agent-config.test.ts
  packages/block-notes/src/agent-config.ts
  packages/block-notes/src/components/mention-autocomplete/index.test.tsx
  packages/block-notes/src/components/mention-autocomplete/index.tsx
  packages/block-notes/src/components/subscriptions/index.test.tsx
  packages/block-notes/src/components/subscriptions/index.tsx
  packages/block-notes/src/components/thinking-indicator/index.test.tsx
  packages/block-notes/src/components/thinking-indicator/index.tsx
  packages/block-notes/src/hooks/use-agent-config.ts
  packages/block-notes/src/index.test.tsx
  packages/block-notes/src/index.tsx
  packages/block-notes/src/store/index.ts
  packages/block-notes/src/utils/content.test.ts
  packages/block-notes/src/utils/content.ts
  packages/block-notes/src/utils/feature-flag.test.ts
  packages/block-notes/src/utils/feature-flag.ts
  packages/block-notes/src/utils/session.test.ts
  packages/block-notes/src/utils/session.ts
  packages/block-notes/src/utils/tool-provider.ts
  packages/block-notes/src/utils/tracking.test.ts
  packages/block-notes/src/utils/tracking.ts
  packages/block-notes/tsconfig-cjs.json
  packages/block-notes/tsconfig.json
  packages/block-notes/types/wordpress.d.ts
  yarn.lock
Owners: none

Theme Showcase: Add HeroModern component (#108976)
  client/my-sites/themes/hero-modern/illustration.svg
  client/my-sites/themes/hero-modern/index.tsx
  client/my-sites/themes/hero-modern/style.scss
  client/my-sites/themes/hero-modern/test/index.test.tsx
Owners: none

Checkout: Clarify siteless checkout flows and user creation (#108962)
  client/my-sites/checkout/controller.jsx
  client/my-sites/checkout/src/components/checkout-main.tsx
  client/my-sites/checkout/src/components/prepurchase-notices/index.tsx
  client/my-sites/checkout/src/hooks/use-prepare-products-for-cart.ts
  client/my-sites/checkout/src/lib/paypal-express-processor.ts
  client/my-sites/checkout/src/lib/submit-wpcom-transaction.ts
  packages/shopping-cart/src/types.ts
  packages/wpcom-checkout/src/types.ts
Owners: @Automattic/shilling

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
