Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Remove extra space in README (#109370)
  client/data/README.md
Owners: none

Launch Site Flow: Annotate automatically skipped domain step within launch site flow with was_skipped property (#109387)
  client/lib/signup/step-actions/index.js
  client/lib/signup/test/step-actions.js
Owners: none

Fix Reader search posts disappearing due to missing site.posts (#109363)
  client/state/data-layer/wpcom/read/streams/index.js
  client/state/data-layer/wpcom/read/streams/test/index.js
Owners: none

Clean up created P2 posts (#109378)
  packages/calypso-e2e/src/rest-api-client.ts
  test/e2e/specs/p2/p2__post.spec.ts
Owners: none

Clear shopping cart after authenticating user (#109380)
  test/e2e/specs/flows/setup-domain-and-plan__skip-plan.spec.ts
Owners: none

Launch Site Flow: Do not treat is as a site management flow (#109389)
  client/signup/config/flows-pure.js
Owners: none

Add AI Tips to user notification settings (#109391)
  client/me/notification-settings/wpcom-settings/index.jsx
Owners: none

Theme Showcase: Post design review polish (modern version) (#109388)
  client/components/theme-tier/theme-tier-badge/style.scss
  client/my-sites/themes/banners-modern/difm-banner.tsx
  client/my-sites/themes/banners-modern/style.scss
  client/my-sites/themes/banners-modern/test/difm-banner.test.tsx
  client/my-sites/themes/filter-bar-modern/style.scss
  client/my-sites/themes/hero-modern/style.scss
  client/my-sites/themes/sections-modern/style.scss
  client/my-sites/themes/theme-showcase.scss
  client/my-sites/themes/themes-faq/index.tsx
  client/my-sites/themes/themes-faq/style.scss
Owners: none

Dockerfile: delete sourcemaps in the build layer (#109392)
  Dockerfile
Owners: none

Dolly: Connect Telegram (#109350)
  client/me/ai-assistant/index.jsx
  client/me/ai-assistant/style.scss
  client/me/ai-assistant/telegram-connection.tsx
  client/me/developer/features/dolly-card.tsx
  client/me/developer/features/index.tsx
  client/me/developer/features/style.scss
  client/me/security-checkup/ai-assistant.jsx
  client/me/security-checkup/index.jsx
  client/me/security-section-nav/index.jsx
  client/me/security/controller.js
  client/me/security/index.js
  client/me/telegram/use-telegram-dolly-widget.tsx
  client/sections.js
  client/telegram-connect/controller.js
  client/telegram-connect/index.js
  client/telegram-connect/main.jsx
  config/_shared.json
  config/client.json
  config/production.json
  config/stage.json
  config/wpcalypso.json
Owners: none

Fix redirect_to XSS by validating URL protocol in change-payment-method (#109402)
  client/dashboard/me/billing-purchases/change-payment-method.tsx
Owners: @Automattic/lego

Fix site overview card links when going into stepper (#109395)
  client/dashboard/components/overview-card/index.tsx
Owners: @Automattic/lego

don't need to run the backend site build anymore (#109406)
  client/landing/stepper/declarative-flow/internals/steps-repository/create-site/index.tsx
Owners: none

WordPress Settings: Show actual beta version from wp.org API (#109386)
  client/dashboard/sites/settings-wordpress/index.tsx
  packages/api-core/src/index.ts
  packages/api-core/src/wp-org/fetchers.ts
  packages/api-core/src/wp-org/index.ts
  packages/api-core/src/wp-org/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/wp-org-core-version.ts
Owners: @Automattic/lego

Stats: Fix likes heading to say "Page likes" for pages (#109407)
  client/my-sites/stats/post-detail-highlights-section/index.tsx
Owners: none

Upgrade DataViews to 13.1.0 (#109190)
  apps/notifications/package.json
  client/a8c-for-agencies/sections/agency-tier/primary/agency-tier-overview/style.scss
  client/a8c-for-agencies/sections/exclusive-offers/overview-content/style.scss
  client/a8c-for-agencies/sections/learn/resource-center/overview-content/style.scss
  client/components/dataviews/style.scss
  client/dashboard/app/style.scss
  client/dashboard/domains/domain-forwarding/form.tsx
  client/dashboard/domains/domain-forwarding/test/add.test.tsx
  client/dashboard/domains/domain-forwarding/test/edit.test.tsx
  client/my-sites/domains/domain-management/dataviews/style.scss
  client/my-sites/subscribers/components/subscriber-data-views/style.scss
  client/package.json
  client/reader/recent/style.scss
  client/sites/components/sites-dataviews/dataview-style.scss
  package.json
  packages/api-core/package.json
  yarn.lock
Owners: @Automattic/lego, @Automattic/loop

Fix free-trial disable confirmation modal in AI tools settings (#109409)
  client/dashboard/sites/settings-ai-tools/index.tsx
Owners: @Automattic/lego

Dashboard: Add OAuth state parameter to prevent login CSRF (#109411)
  client/dashboard/app/auth/index.tsx
  client/dashboard/app/auth/oauth-callback.ts
Owners: @Automattic/lego

Dashboard: Validate OAuth callback redirect to prevent DOM XSS (#109412)
  client/dashboard/app/auth/oauth-callback.ts
Owners: @Automattic/lego

MSD: correctly go back to previous steps when cancelling /setup/domain's checkout (#109393)
  client/dashboard/domains/add-domain-button.tsx
  client/landing/stepper/declarative-flow/flows/domain/domain.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
Owners: @Automattic/lego

Add OAuth state parameter and validate redirects across all clients (#109414)
  client/a8c-for-agencies/sections/auth/controller.tsx
  client/auth/controller.js
  client/boot/common.js
  client/jetpack-cloud/sections/auth/controller.tsx
Owners: none

Agens Manager: Implement custom and support doc links (#109354)
  packages/agents-manager/package.json
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/agent-dock/style.scss
  packages/agents-manager/src/components/agent-history/index.tsx
  packages/agents-manager/src/components/conversation-history-view/index.tsx
  packages/agents-manager/src/components/conversation-history-view/style.scss
  packages/agents-manager/src/components/custom-a-link/index.tsx
  packages/agents-manager/src/components/selected-block/style.scss
  packages/agents-manager/src/components/support-guide/index.tsx
  packages/agents-manager/src/components/support-guide/style.scss
  packages/agents-manager/src/components/support-guides/index.tsx
  packages/agents-manager/src/components/support-guides/style.scss
  packages/agents-manager/src/utils/uri-transformer.ts
  yarn.lock
Owners: none

Add concluded conversation footer with Start a new chat button (#109301)
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/concluded-conversation-footer/index.tsx
  packages/agents-manager/src/components/concluded-conversation-footer/style.scss
  packages/agents-manager/src/components/zendesk-chat/index.tsx
  packages/agents-manager/src/components/zendesk-chat/style.scss
  packages/zendesk-client/src/components/csat-form.scss
  packages/zendesk-client/src/components/csat-form.tsx
  packages/zendesk-client/src/types.ts
  packages/zendesk-client/src/use-managed-zendesk-chat.tsx
  packages/zendesk-client/src/util.tsx
Owners: none

Minor fix to not break word-break in advertising action buttons (#109415)
  apps/blaze-dashboard/src/app.scss
  client/my-sites/promote-post-i2/components/campaign-item/style.scss
  client/my-sites/promote-post-i2/components/payments-list/style.scss
Owners: none

Active chat expiration (#109385)
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/hooks/use-persisted-history.ts
  packages/agents-manager/src/utils/persist-last-activity.ts
  packages/data-stores/src/agents-manager/actions.ts
  packages/data-stores/src/agents-manager/reducer.ts
  packages/data-stores/src/agents-manager/resolvers.ts
  packages/data-stores/src/agents-manager/selectors.ts
  packages/data-stores/src/agents-manager/types.ts
Owners: none

Add new style of interventions (#109085)
  client/components/marketing-survey/cancel-purchase-form/get-solutions-for-reason.ts
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/components/marketing-survey/cancel-purchase-form/step-components/solution-cards-config.ts
  client/components/marketing-survey/cancel-purchase-form/step-components/solutions-cards-upsell-step.tsx
  client/components/marketing-survey/cancel-purchase-form/step-components/upsell-step.tsx
  client/components/marketing-survey/cancel-purchase-form/style.scss
  client/dashboard/app/help-center/index.ts
  client/dashboard/components/summary-button-list/index.tsx
  client/dashboard/components/summary-button-list/style.scss
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/step-components/solutions-cards-upsell-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/step-components/upsell-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/get-solutions-for-reason.ts
  client/dashboard/me/billing-purchases/cancel-purchase/get-upsell-type.ts
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/style.scss
  config/dashboard-development.json
  config/development.json
  packages/components/src/summary-button/index.stories.tsx
  packages/components/src/summary-button/index.tsx
  packages/components/src/summary-button/style.scss
  packages/components/src/summary-button/test/index.tsx
  packages/components/src/summary-button/types.ts
  packages/data-stores/src/help-center/actions.ts
Owners: @Automattic/lego

TikTok Pixel: Ensure current user exists (#109423)
  client/lib/analytics/ad-tracking/load-tracking-scripts.js
Owners: none

Help Center: Add Claude Code UI test skill (#109252)
  .claude/skills/help-center-ui-test/SKILL.md
Owners: none

Mailing List: Add AI Tips to Notifications Extras Dashboard (#109421)
  client/dashboard/me/notifications-extras/extras-config.ts
  client/dashboard/me/notifications-extras/extras-toggle-card/test/index.test.tsx
  client/dashboard/me/notifications-extras/test/index.test.tsx
  packages/api-core/src/me-notification-settings/types.ts
Owners: @Automattic/lego

Theme Showcase: Add modern plan upgrade banners (#109394)
  client/my-sites/themes/banners-modern/plan-upgrade-banner.tsx
  client/my-sites/themes/banners-modern/style.scss
  client/my-sites/themes/banners-modern/test/plan-upgrade-banner.test.tsx
  client/my-sites/themes/sections-modern/recommended-sections.tsx
  client/my-sites/themes/sections-modern/style.scss
  client/my-sites/themes/sections-modern/theme-section.tsx
  client/my-sites/themes/theme-showcase.jsx
  client/my-sites/themes/theme-showcase.scss
Owners: none

MSD Billing: Fix atomic plan revert confirmation checkbox (#109400)
  client/dashboard/me/billing-purchases/cancel-purchase/cancellation-main-content.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancellation-pre-survey-content.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/confirm-checkbox.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/plan-product-revert-content.tsx
Owners: @Automattic/lego

Add editButtonElement to CheckoutStep (#109430)
  packages/composite-checkout/README.md
  packages/composite-checkout/src/components/checkout-steps.tsx
  packages/composite-checkout/src/types.ts
Owners: @Automattic/shilling

Attempt at implementing the stripe upi checkout using an iframe. (#109419)
  client/my-sites/checkout/src/components/checkout-main.tsx
  client/my-sites/checkout/src/lib/upi-confirmation.tsx
  client/my-sites/checkout/src/lib/upi-processor.ts
  client/my-sites/checkout/src/test/upi-processor.ts
  packages/wpcom-checkout/src/payment-methods/stripe-upi.tsx
Owners: @Automattic/shilling

Stats: Add tooltip note to clarify visitors aggregate counting (#109408)
  client/my-sites/stats/site.jsx
  client/my-sites/stats/stats-tabs/index.jsx
  client/my-sites/stats/stats-tabs/tab.jsx
Owners: none

Image Studio: Add domain allowlist to error URL parser (#109413)
  packages/image-studio/src/hooks/use-error-notice.test.ts
  packages/image-studio/src/utils/parse-error-url.test.ts
  packages/image-studio/src/utils/parse-error-url.ts
Owners: none

Made link to view original post an explicit button (#109339)
  client/blocks/reader-full-post/action-bar.jsx
  client/blocks/reader-full-post/index.jsx
  client/blocks/reader-full-post/style.scss
Owners: @Automattic/loop

Agents Manager: Fix admin bar menu not working in docked mode (#109417)
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/hooks/use-admin-bar-integration/index.tsx
Owners: none

Fix full-width flash on Discover tags navigation initial load (#109362)
  client/reader/discover/components/tags-navigation/index.tsx
Owners: @Automattic/loop

Freshly Pressed: update the tab's name (#109455)
  client/reader/discover/components/header-and-navigation/index.tsx
Owners: @Automattic/loop

Reader: Remove Discover "First posts" tab (#109456)
  client/my-sites/customer-home/cards/constants.js
  client/my-sites/customer-home/cards/notices/reader-first-posts/index.jsx
  client/my-sites/customer-home/cards/notices/reader-first-posts/style.scss
  client/my-sites/customer-home/locations/card-components.ts
  client/reader/discover/components/header-and-navigation/index.tsx
  client/reader/discover/components/navigation/index.tsx
  client/reader/discover/helper/index.ts
  client/reader/discover/routes/index.ts
  client/reader/stats/index.ts
  client/reader/stats/test/index.test.ts
  client/reader/test/utils.ts
  client/state/data-layer/wpcom/read/streams/index.js
Owners: @Automattic/loop
