Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Refresh webpack lock (#111190)
  build-tools/webpack/generate-chunks-map-plugin.js
  build-tools/webpack/test/generate-chunks-map-plugin.js
  packages/webpack-config-flag-plugin/test/__snapshots__/index.js.snap
  packages/webpack-inline-constant-exports-plugin/test/__snapshots__/index.js.snap
  yarn.lock
Owners: @Automattic/i18n

Update vulnerable js-yaml and cookie locks (#111194)
  yarn.lock
Owners: none

Update Sentry v7 lockfile entries (#111196)
  yarn.lock
Owners: none

Update onboarding css-loader (#111197)
  packages/onboarding/package.json
  yarn.lock
Owners: none

Update React Router v6 lockfile entries (#111198)
  yarn.lock
Owners: none

Update PostCSS lockfile entry (#111201)
  yarn.lock
Owners: none

Big Sky post-checkout: roll out treatment to all eligible users (#111122)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/post-checkout/post-checkout-onboarding.tsx
Owners: none

Update client d3 scale (#111200)
  client/package.json
  test/client/jest.config.js
  yarn.lock
Owners: none

Update desktop Playwright (#111202)
  desktop/package.json
  yarn.lock
Owners: none

Update material design icon sprite tooling (#111199)
  packages/material-design-icons/package.json
  yarn.lock
Owners: none

Revert "Big Sky post-checkout: roll out treatment to all eligible users (#111…" (#111208)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/post-checkout/post-checkout-onboarding.tsx
Owners: none

Update wpcom block editor TinyMCE (#111207)
  apps/wpcom-block-editor/package.json
  yarn.lock
Owners: none

Refresh socks lockfile entry (#111209)
  yarn.lock
Owners: none

Override pinned minimatch (#111213)
  package.json
  yarn.lock
Owners: none

Update html-loader (#111212)
  client/package.json
  yarn.lock
Owners: none

Logged-out Help Center FAB: remove from account-creation and login routes (#111211)
  client/landing/stepper/index.tsx
  client/layout/logged-out.jsx
Owners: @Automattic/dotcom-stepper

Override draft-js immutable (#111216)
  package.json
  yarn.lock
Owners: none

Override external-editor tmp (#111217)
  package.json
  yarn.lock
Owners: none

Override http-proxy-agent once (#111218)
  package.json
  yarn.lock
Owners: none

Override pinned Babel runtime (#111219)
  package.json
  yarn.lock
Owners: none

Override old flatted pin (#111220)
  package.json
  yarn.lock
Owners: none

Override old uuid range (#111221)
  package.json
  yarn.lock
Owners: none

Override serialize-javascript (#111223)
  package.json
  yarn.lock
Owners: none

Fix generate-password Node crypto access (#110621)
  packages/generate-password/src/index.ts
  packages/generate-password/src/test/node.ts
Owners: none

Override tar (#111224)
  package.json
  yarn.lock
Owners: none

Update desktop updater and builder (#111226)
  desktop/package.json
  package.json
  yarn.lock
Owners: none

Big Sky post-checkout: roll out treatment to all eligible users (with E2E fixes) (#111225)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/post-checkout/post-checkout-onboarding.tsx
  packages/calypso-e2e/src/lib/pages/signup/index.ts
  packages/calypso-e2e/src/lib/pages/signup/post-checkout-setup-site-page.ts
  test/e2e/specs/flows/setup-domain__flows.spec.ts
  test/e2e/specs/onboarding/lifecycle__signup-onboarding-launch-cancel.ts
  test/e2e/specs/plans/plans__signup-business.spec.ts
Owners: none

Fix theme plan badge dark mode (#111127)
  client/my-sites/themes/_dark-mode.scss
Owners: none

[DOTMSD-1253] Improve Help Center dark guide link contrast (#111126)
  packages/support-articles/src/components/help-center-article/help-center-article.scss
Owners: none

Fix themes empty-state dark mode (#111153)
  client/my-sites/themes/_dark-mode.scss
Owners: none

E2E: register PostCheckoutSetupSitePage as a pw-base fixture (#111236)
  test/e2e/lib/pw-base.ts
  test/e2e/specs/flows/setup-domain__flows.spec.ts
  test/e2e/specs/plans/plans__signup-business.spec.ts
Owners: none

Agents Manager: deduplicate split-screen handling in AgentDock (#111130)
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/hooks/__tests__/use-agent-layout-manager.test.tsx
  packages/agents-manager/src/hooks/use-agent-layout-manager/README.md
Owners: none

dashboard/me: finish typed-@wordpress/i18n migration (#111147)
  client/dashboard/me/billing-purchases/cancel-purchase/backup-retention-management/retention-confirmation-dialog/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/step-components/upsell-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancellation-main-content.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/domain-options.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/domain-removal-warning-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/gsuite-access-message.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/billing-purchases/dataviews.tsx
  client/dashboard/me/billing-purchases/purchase-payment-method.tsx
  client/dashboard/me/billing-purchases/purchase-settings/cancellation-offer-notice.tsx
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/me/billing-purchases/purchase-settings/other-renewable-purchases-notice.tsx
  client/dashboard/me/billing-purchases/purchase-settings/purchase-notice.tsx
  client/dashboard/me/language/index.tsx
  client/dashboard/me/notifications-emails/subscription-settings/form.tsx
  client/dashboard/me/notifications-sites/site-list-settings/index.tsx
  client/dashboard/me/profile-personal-details/update-username/confirmation-modal.tsx
  client/dashboard/me/security-account-recovery/recovery-email.tsx
Owners: @Automattic/lego

MSD Notifications: normal font-weight for comment excerpt (#111237)
  apps/notifications/src/app/note-list/style.scss
Owners: none

landing/stepper: typed-`@wordpress/i18n` migration (#111149)
  client/landing/stepper/declarative-flow/internals/hooks/use-purchase-plan-notification/index.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-transfer-domains/domains.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/import-verify-email/verify-email.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/components/playground-error/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-picker/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/trial-acknowledge/migration-trial-acknowledge.tsx
  client/landing/stepper/utils/window-locale-effect-manager.tsx
Owners: @Automattic/dotcom-stepper

dashboard/utils,components,domains: typed-@wordpress/i18n migration (#111156)
  client/dashboard/components/clipboard-input-control/index.tsx
  client/dashboard/components/guided-tour/step/index.tsx
  client/dashboard/components/logs-activity/activity-actor.tsx
  client/dashboard/components/pending-primary-domain-notice/index.tsx
  client/dashboard/components/purchase-dialogs/remove-domain-dialog.tsx
  client/dashboard/domains/domain-connection-setup/steps/login.tsx
  client/dashboard/domains/domain-overview/featured-card-renew.tsx
  client/dashboard/domains/domain-transfer/transfer-domain-to-other-user.tsx
  client/dashboard/domains/name-servers/form.tsx
  client/dashboard/utils/datetime.ts
  client/dashboard/utils/purchase.ts
Owners: @Automattic/lego

my-sites/plans/trials: typed-@wordpress/i18n migration (#111178)
  client/my-sites/plans/trials/trial-acknowledge/entrepreneur-acknowledge.tsx
  client/my-sites/plans/trials/trial-acknowledge/hosting-acknowledge.tsx
Owners: none

my-sites/earn: typed-@wordpress/i18n migration (#111180)
  client/my-sites/earn/components/add-edit-coupon-modal/products-selector.tsx
Owners: none

dashboard/sites: forward-compatible @wordpress/i18n 6.x typed migration (#111151)
  client/dashboard/sites-ciab/index.tsx
  client/dashboard/sites/jetpack-site-disconnect/index.tsx
  client/dashboard/sites/logs/downloader.tsx
  client/dashboard/sites/logs/utils.ts
  client/dashboard/sites/overview-flex-usage-card/index.tsx
  client/dashboard/sites/overview-plan-card/index.tsx
  client/dashboard/sites/performance/core-metrics-chart.tsx
  client/dashboard/sites/scan-active/index.tsx
  client/dashboard/sites/scan-history/index.tsx
  client/dashboard/sites/settings-repositories/configure-repository.tsx
  client/dashboard/sites/settings-repositories/connect-repository-form.tsx
  client/dashboard/sites/settings-repositories/connect-repository.tsx
  client/dashboard/sites/settings-sftp-ssh/sftp-card.tsx
  client/dashboard/sites/settings-sftp-ssh/ssh-card.tsx
  client/dashboard/sites/site-change-address-modal/content.tsx
  client/dashboard/sites/staging-site-sync-modal/index.tsx
  client/sites-dashboard/components/sites-site-coming-soon.tsx
  client/sites-dashboard/components/sites-sorting-dropdown.tsx
Owners: @Automattic/lego

my-sites/checkout: typed-@wordpress/i18n migration (#111161)
  client/my-sites/checkout/checkout-thank-you/akismet-checkout-thank-you.tsx
  client/my-sites/checkout/purchase-modal/content.tsx
  client/my-sites/checkout/src/components/checkout-sidebar-plan-upsell/index.tsx
Owners: @Automattic/shilling

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
