Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

MSD: add view persistence to Site Settings Repositories DataViews (#108498)
  client/dashboard/sites/settings-repositories/dataviews/views.ts
  client/dashboard/sites/settings-repositories/index.tsx
Owners: @Automattic/lego

Reader: Fix embeds on Quick Post (#108422)
  client/reader/components/quick-post/index.tsx
  client/reader/components/quick-post/test/index.test.tsx
Owners: @Automattic/loop

A4A: Add clarity when revoking a license from bundle. (#108313)
  client/a8c-for-agencies/components/a4a-feedback/churn-mechanism/cancel-license-feedback-modal.tsx
  client/a8c-for-agencies/sections/purchases/licenses/license-details/actions.tsx
  client/a8c-for-agencies/sections/purchases/licenses/license-preview/license-actions.tsx
Owners: none

A4A: Enable Resources Center on production (#108477)
  config/a8c-for-agencies-production.json
Owners: none

Agents Manager: Display the show-component ability relevant components for the past conversations (#108303)
  client/package.json
  package.json
  packages/agents-manager/package.json
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/unified-ai-agent/index.tsx
  packages/agents-manager/src/hooks/use-conversation.ts
  packages/agents-manager/src/utils/convert-tool-message-to-component.ts
  packages/agents-manager/src/utils/load-external-providers.ts
  packages/odie-client/package.json
  yarn.lock
Owners: none

Fix flaky dashboard tests by adding getQueryCache to mock QueryClient (#108511)
  client/dashboard/components/time-mismatch-notice/test/index.tsx
  client/dashboard/sites/staging-site-delete-modal/test/index.test.tsx
  client/dashboard/sites/staging-site-sync-dropdown/test/index.test.tsx
  client/dashboard/sites/staging-site-sync-modal/test/index.test.tsx
Owners: @Automattic/lego

Remove legacy 200gb notice (#108514)
  client/my-sites/plans-features-main/components/plan-notice.tsx
  client/my-sites/plans-features-main/index.tsx
  packages/calypso-products/src/plans-list.tsx
Owners: none

Fix odie query handling (#108479)
  packages/odie-client/src/components/send-message-input/index.tsx
  packages/odie-client/src/hooks/use-get-combined-chat.ts
Owners: none

Help Center: Lazy load A4A and deps (#108503)
  apps/help-center/webpack.config.js
  packages/help-center/src/components/help-center-content.tsx
Owners: @Automattic/t-rex

Composite checkout: add completeAllSteps (#108518)
  client/my-sites/checkout/src/hooks/use-prefill-checkout-contact-form.ts
  packages/composite-checkout/README.md
  packages/composite-checkout/src/components/checkout-steps.tsx
  packages/composite-checkout/src/public-api.ts
  packages/composite-checkout/src/types.ts
  packages/composite-checkout/test/checkout.tsx
Owners: @Automattic/shilling

Verbum Block Editor: Clean dependencies
  packages/verbum-block-editor/package.json
  yarn.lock
Owners: none

Cron Jobs: remove Custom schedule (#108516)
  client/dashboard/sites/settings-crontab/schedule-field.tsx
Owners: @Automattic/lego

Add RUM performance tracking to Dashboard (#108353)
  client/dashboard/.eslintrc.js
  client/dashboard/app/analytics/super-props.ts
  client/dashboard/app/performance-tracking.ts
  client/dashboard/app/router/domains.ts
  client/dashboard/app/router/first-load-tracker.ts
  client/dashboard/app/router/root.tsx
  client/dashboard/app/router/sites.tsx
  client/dashboard/domains/index.tsx
  client/dashboard/sites/dataviews/sites-dataviews.tsx
  client/dashboard/sites/overview/index.tsx
  client/sites/v2/router.tsx
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  packages/browser-data-collector/src/index.ts
Owners: @Automattic/lego

Odyssey Stats: fix layout content padding-top in wp-admin (#108530)
  apps/odyssey-stats/src/styles/wp-admin.scss
Owners: none

Stats: Add 'Last 12 months' subtitle to Posting Activity section (#108532)
  client/my-sites/stats/sections/posting-activity-section/index.jsx
  client/my-sites/stats/sections/posting-activity-section/style.scss
Owners: none

Stats: Fix misleading 'Upload videos with VideoPress' button text (#108533)
  client/my-sites/stats/features/modules/shared/stats-empty-action-video.tsx
Owners: none

Split WooPayments Status column into two separate columns (#108227)
  client/a8c-for-agencies/sections/woopayments/dashboard-content/mobile-view.tsx
  client/a8c-for-agencies/sections/woopayments/dashboard-content/site-columns.tsx
  client/a8c-for-agencies/sections/woopayments/dashboard-content/sites-with-woopayments.tsx
Owners: none

Reader: Fix text overflow on Reader full post view (#108515)
  client/reader/recent/style.scss
Owners: @Automattic/loop

Agents manager: fix font size undocked (#108513)
  packages/agents-manager/src/hooks/use-agent-layout-manager/style.scss
Owners: none

Agents manager: fix marketplace floating header (#108512)
  packages/agents-manager/src/hooks/use-agent-layout-manager/style.scss
Owners: none

Fix CIAB back link to dashboard (#108520)
  client/lib/site-spec/utils.ts
Owners: none

Fixup fetching, dupe messages (#108523)
  packages/odie-client/src/hooks/use-get-combined-chat.ts
Owners: none

Cron Jobs: add twice daily option (#108521)
  client/dashboard/sites/settings-crontab/schedule-field.tsx
Owners: @Automattic/lego

Agent manager: handle suggestions from Big Sky (#108387)
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/unified-ai-agent/index.tsx
  packages/agents-manager/src/hooks/use-empty-view-suggestions.ts
  packages/agents-manager/src/utils/load-external-providers.ts
Owners: none

Hide VideoPress upsell on Business sites (#108537)
  client/my-sites/stats/features/modules/shared/stats-empty-action-video.tsx
Owners: none

A4A: Change behavior of Marketplace on header collapse. (#108411)
  client/a8c-for-agencies/sections/marketplace/hosting-overview/hooks/use-compact-on-scroll.ts
Owners: none

remove upload plugins summer special feature (#108419)
  packages/calypso-products/src/constants/features.ts
  packages/calypso-products/src/feature-group-plan-map.ts
  packages/calypso-products/src/features-list.tsx
  packages/calypso-products/src/plans-list.tsx
Owners: none

Help Center Logged Out: Use the experiment assignment (#108476)
  apps/happy-blocks/block-library/search-card/includes.php
  apps/happy-blocks/block-library/search-card/index.php
  apps/happy-blocks/block-library/support-content-footer/includes.php
Owners: none

Update ToS in the login form (#108487)
  client/login/wp-login/hooks/get-heading-subtext.tsx
  client/signup/steps/user/test/index.js
  test/e2e/specs/authentication/authentication__tos.spec.ts
Owners: none

Connect Screen: Update text props to accept ReactNode for translations (#108525)
  client/components/connect-screen/action-buttons/index.tsx
  client/components/connect-screen/brand-header/index.tsx
  client/components/connect-screen/loading-screen/index.tsx
  client/components/connect-screen/permissions-list/index.tsx
Owners: none

Cron Jobs: parse raw cron jobs schedule and render it to dom (#108524)
  client/dashboard/sites/settings-crontab/add-crontab.tsx
  client/dashboard/sites/settings-crontab/crontab-form.tsx
  client/dashboard/sites/settings-crontab/index.tsx
  client/dashboard/sites/settings-crontab/schedule-field.tsx
  packages/api-core/src/site-hosting-crontab/mutators.ts
  packages/api-core/src/site-hosting-crontab/types.ts
  packages/api-queries/src/site-crontab.ts
Owners: @Automattic/lego

Verbum Block Editor: stub unused dependencies (#108522)
  packages/verbum-block-editor/README.md
  packages/verbum-block-editor/src/stubs/index.js
  packages/verbum-block-editor/webpack.config.js
Owners: none

Remove extra unnecessary padding (#108527)
  apps/notifications/src/panel/boot/stylesheets/main.scss
Owners: none

Agents Manager: Support headless mode (#108229)
  apps/agents-manager/agents-manager-wp-admin.js
  apps/agents-manager/headless-agent-with-provider.js
  packages/agents-manager/src/components/headless-agent-initializer.tsx
  packages/agents-manager/src/components/unified-ai-agent/index.tsx
  packages/agents-manager/src/global.d.ts
  packages/agents-manager/src/index.ts
  packages/agents-manager/src/utils/create-agent-config.ts
Owners: none

Help Center: Add course navigation if it is a course (#108535)
  packages/support-articles/src/components/help-center-article/article-lesson-navigation.tsx
  packages/support-articles/src/components/help-center-article/help-center-article-content.tsx
  packages/support-articles/src/components/help-center-article/help-center-article.scss
  packages/support-articles/src/types.ts
Owners: none

bump site spec to v1.4.0 (#108544)
  config/_shared.json
Owners: none

MSD: Update empty states/domain button for sites and domains. (#108508)
  client/dashboard/app-ciab/index.tsx
  client/dashboard/app-dotcom/index.tsx
  client/dashboard/app/context.tsx
  client/dashboard/components/dataviews/dataviews-empty-state-layout.tsx
  client/dashboard/components/dataviews/index.tsx
  client/dashboard/components/empty-state/index.tsx
  client/dashboard/components/empty-state/style.scss
  client/dashboard/domains-ciab/add-domain-button.tsx
  client/dashboard/domains-ciab/empty-domains-state/index.tsx
  client/dashboard/domains/add-domain-button.tsx
  client/dashboard/domains/empty-domains-state/actions.tsx
  client/dashboard/domains/empty-domains-state/index.tsx
  client/dashboard/domains/empty-domains-state/layout.tsx
  client/dashboard/domains/empty-domains-state/upsell.tsx
  client/dashboard/domains/index.tsx
  client/dashboard/sites/domains/index.tsx
  client/dashboard/sites/empty-sites-state/index.tsx
  client/dashboard/sites/index.tsx
  client/dashboard/sites/test/index.test.tsx
Owners: @Automattic/lego

Implement Account creation step improvement experiment code (#108159)
  client/blocks/signup-form/signup-form-social-first.tsx
  client/blocks/signup-form/social.jsx
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-01.png
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-01@2x.png
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-02.png
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-02@2x.png
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-03.png
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-03@2x.png
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-04.png
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/img-04@2x.png
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/pattern-01.png
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/pattern-02.png
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/slide1.svg
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/slide2.jpg
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/images/slide3.svg
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/signup-slider/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/use-account-creation-experiment.ts
  packages/onboarding/src/step-container-v2/components/ContentWrapper/ContentWrapper.tsx
  packages/onboarding/src/step-container-v2/components/ContentWrapper/style.scss
  packages/onboarding/src/step-container-v2/components/StickyBottomBar/StickyBottomBar.tsx
  packages/onboarding/src/step-container-v2/components/StickyBottomBar/style.scss
  packages/onboarding/src/step-container-v2/wireframes/CenteredColumnLayout/CenteredColumnLayout.tsx
  packages/onboarding/src/step-container-v2/wireframes/TwoColumnLayout/TwoColumnLayout.tsx
Owners: @Automattic/quake

Fix size of image when deleting default payment_method (#108543)
  client/me/purchases/payment-methods/payment-method-delete-dialog.tsx
  client/me/purchases/payment-methods/style.scss
Owners: @Automattic/shilling

Agents Manager: Handle unavailable tool messages cases (#108519)
  packages/agents-manager/src/components/unavailable-tool-message/index.tsx
  packages/agents-manager/src/contexts/AgentsManagerContext.tsx
  packages/agents-manager/src/utils/convert-tool-message-to-component.ts
  packages/agents-manager/src/utils/is-editor-page.ts
  packages/agents-manager/src/utils/test/convert-tool-message-to-component.test.ts
  packages/agents-manager/src/utils/test/is-editor-page.test.ts
  packages/data-stores/src/agents-manager/types.ts
Owners: none
