Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Domain search: improve CIAB domain purchase flow (#108920)
  client/dashboard/domains/add-domain-button.tsx
  client/landing/stepper/declarative-flow/flows/domain/domain.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
Owners: @Automattic/lego

Config: enable ciab custom branding on stage (#108985)
  config/stage.json
Owners: none

Checkout: Fix post-checkout redirect for logged-in unified checkout (#108984)
  client/my-sites/checkout/checkout-thank-you/pending/index.tsx
Owners: none

Checkout: Add renewal URL without site or product (#108870)
  client/my-sites/checkout/controller.jsx
  client/my-sites/checkout/index.js
  client/my-sites/checkout/src/hooks/use-prepare-products-for-cart.ts
  packages/shopping-cart/README.md
  packages/shopping-cart/src/create-request-cart-product.ts
  packages/shopping-cart/src/types.ts
Owners: @Automattic/shilling

MSD: hide site visibility settings for CIAB sites (#108930)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/features.ts
  client/dashboard/sites/overview-visibility-card-ciab/index.tsx
  client/dashboard/sites/overview/index.tsx
  client/dashboard/sites/settings-site-visibility/summary.tsx
  client/dashboard/sites/settings/index.tsx
  client/dashboard/utils/site-type-feature-support.ts
Owners: @Automattic/lego

Image Studio: Don't persist content aware suggestion prompt (#108852)
  packages/image-studio/src/hooks/use-async-suggestions-loader.ts
  packages/image-studio/src/utils/client-context.ts
Owners: none

FORNO-196: Differentiate Image Studio tracking events by platform prefix (#108884)
  packages/image-studio/src/utils/tracking.test.ts
  packages/image-studio/src/utils/tracking.ts
Owners: none

MSD: refactor `/me/profile` tests to remove excessive mocking (#108971)
  client/dashboard/docs/testing.md
  client/dashboard/me/profile-deletion/test/account-deletion-modal.test.tsx
  client/dashboard/me/profile-deletion/test/index.test.tsx
  client/dashboard/me/profile-gravatar/test/index.test.tsx
  client/dashboard/me/profile-gravatar/test/notifications.test.tsx
  client/dashboard/me/profile-gravatar/test/validation.test.tsx
  client/dashboard/me/profile-personal-details/test/email-section.test.tsx
  client/dashboard/me/profile-personal-details/test/index.test.tsx
  client/dashboard/me/profile-personal-details/update-email/test/email-verification-banner.test.tsx
  client/dashboard/me/profile-personal-details/update-username/test/confirmation-modal.test.tsx
  client/dashboard/me/profile-personal-details/update-username/test/index.test.tsx
  client/dashboard/me/profile-personal-details/update-username/test/username-validation-utils.test.ts
  client/dashboard/me/profile-personal-details/update-username/username-validation-utils.ts
  client/dashboard/me/profile/__mocks__/user-settings.ts
Owners: @Automattic/lego

Theme Showcase: Integrate HeroModern into ThemeShowcaseHeader (#108982)
  client/layout/logged-out.jsx
  client/my-sites/themes/hero-modern/style.scss
  client/my-sites/themes/theme-showcase-header.jsx
  client/my-sites/themes/theme-showcase.jsx
Owners: none

Image Studio: Feature parity with Big Sky (#108710)
  packages/image-studio/.agents/skills/ui-testing/SKILL.md
  packages/image-studio/AGENTS.md
  packages/image-studio/README.md
  packages/image-studio/src/components/canvas/style.scss
  packages/image-studio/src/components/edit-layout/index.tsx
  packages/image-studio/src/components/edit-layout/style.scss
  packages/image-studio/src/components/header/index.tsx
  packages/image-studio/src/components/header/style.scss
  packages/image-studio/src/components/index.tsx
  packages/image-studio/src/components/notice/index.tsx
  packages/image-studio/src/components/notice/style.scss
  packages/image-studio/src/components/sidebar/editable-field.tsx
  packages/image-studio/src/components/sidebar/index.tsx
  packages/image-studio/src/components/sidebar/style.scss
  packages/image-studio/src/components/style-picker/index.tsx
  packages/image-studio/src/components/style.scss
  packages/image-studio/src/extensions/external-media-source-extension.tsx
  packages/image-studio/src/extensions/generate-button-extension.tsx
  packages/image-studio/src/extensions/image-toolbar-extension.tsx
  packages/image-studio/src/extensions/utils.ts
  packages/image-studio/src/hooks/use-annotation.test.ts
  packages/image-studio/src/hooks/use-annotation.ts
  packages/image-studio/src/hooks/use-delete-permanently.test.ts
  packages/image-studio/src/hooks/use-delete-permanently.ts
  packages/image-studio/src/hooks/use-draft-cleanup.test.js
  packages/image-studio/src/hooks/use-draft-cleanup.ts
  packages/image-studio/src/hooks/use-error-notice.test.ts
  packages/image-studio/src/hooks/use-error-notice.ts
  packages/image-studio/src/hooks/use-image-file-navigation.ts
  packages/image-studio/src/hooks/use-image-studio-suggestions.ts
  packages/image-studio/src/hooks/use-unsaved-changes-confirmation.ts
  packages/image-studio/src/index.tsx
  packages/image-studio/src/provider/index.ts
  packages/image-studio/src/store/index.ts
  packages/image-studio/src/types/index.ts
  packages/image-studio/src/utils/client-context.ts
  packages/image-studio/src/utils/parse-error-url.test.ts
  packages/image-studio/src/utils/parse-error-url.ts
  packages/image-studio/src/utils/tracking.ts
Owners: none

MCP Settings: Use static toggle labels matching codebase conventions (#108990)
  client/me/mcp/main.jsx
Owners: none

Theme Showcase: Add FilterBarModern component (#109011)
  client/components/category-pill-navigation/index.tsx
  client/my-sites/themes/filter-bar-modern/index.tsx
  client/my-sites/themes/filter-bar-modern/style.scss
  client/my-sites/themes/filter-bar-modern/test/index.test.tsx
Owners: none

Migration flow: Support all paid plans and remove 50% discount messaging (#108655)
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-how-to-migrate/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-how-to-migrate/test/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-import-or-migrate/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-import-or-migrate/test/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-upgrade-plan/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-upgrade-plan/migration-plans-grid.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-upgrade-plan/style.scss
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-upgrade-plan/test/index.tsx
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans.tsx
  packages/plans-grid-next/src/types.ts
Owners: @Automattic/martech

e2e: Skip tiled gallery block on private sites (#109012)
  test/e2e/specs/blocks/blocks__jetpack-media.ts
Owners: none

MSD: update CIAB visibility card copy (#108997)
  client/dashboard/sites/overview-visibility-card-ciab/index.tsx
Owners: @Automattic/lego

Revert "A4A: Update Pressable incentives banners. (#108670)" (#109007)
  client/a8c-for-agencies/components/a4a-pressable-offer/index.tsx
  client/a8c-for-agencies/components/upcoming-event/index.tsx
  client/a8c-for-agencies/components/upcoming-event/style.scss
  client/a8c-for-agencies/components/upcoming-event/types.ts
  client/a8c-for-agencies/sections/overview/body/events/hooks/use-upcoming-events.tsx
Owners: none

A4A > Referrals: add referral logo picker and shared logo validation (#108715)
  client/a8c-for-agencies/components/logo-file-upload/index.tsx
  client/a8c-for-agencies/components/logo-file-upload/style.scss
  client/a8c-for-agencies/lib/logo-file-validation.ts
  client/a8c-for-agencies/sections/marketplace/checkout/referral-logo.tsx
  client/a8c-for-agencies/sections/marketplace/checkout/request-client-payment.tsx
  client/a8c-for-agencies/sections/marketplace/checkout/style-v1.scss
  client/a8c-for-agencies/sections/partner-directory/agency-details/logo-picker.tsx
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

Add Jetpack logo to Jetpack page headers (#108987)
  client/components/jetpack-title/index.tsx
  client/my-sites/activity/activity-log/index.jsx
  client/my-sites/backup/main.jsx
  client/my-sites/backup/wpcom-backup-upsell-placeholder.tsx
  client/my-sites/backup/wpcom-backup-upsell.tsx
  client/my-sites/backup/wpcom-upsell.tsx
  client/my-sites/earn/main.tsx
  client/my-sites/scan/history/index.tsx
  client/my-sites/scan/main.tsx
  client/my-sites/scan/wpcom-scan-upsell.tsx
  client/my-sites/scan/wpcom-upsell.tsx
  client/my-sites/site-settings/podcasting-details/index.jsx
  client/my-sites/site-settings/settings-newsletter/main.tsx
  client/my-sites/subscribers/components/subscribers-header/subscribers-header.tsx
  client/sites/marketing/traffic/traffic.js
Owners: none

Reader: Update sites sidebar on search page to show same results like subscriptions page (#108970)
  client/blocks/reader-subscription-list-item/connected.jsx
  client/blocks/reader-subscription-list-item/index.jsx
  client/blocks/reader-subscription-list-item/test/index.tsx
  client/reader/search-stream/index.jsx
  client/reader/search-stream/search-follow-button.jsx
  client/reader/search-stream/style.scss
Owners: @Automattic/loop

Reader: Disable AddSitesForm submit button if input is invalid (#108979)
  client/landing/subscriptions/components/add-sites-form/add-sites-form.tsx
  client/landing/subscriptions/components/add-sites-form/styles.scss
  client/landing/subscriptions/components/add-sites-form/test/add-sites-form.test.tsx
  client/landing/subscriptions/hooks/use-add-sites-modal-notices.ts
  packages/data-stores/src/reader/mutations/use-site-subscribe-mutation.ts
Owners: none

Reader: Fix misalignments and width inconsistencies on all pages (#108903)
  client/blocks/reader-feed-header/follow.jsx
  client/blocks/reader-feed-header/style.scss
  client/blocks/reader-full-post/style.scss
  client/blocks/reader-post-card/style.scss
  client/blocks/reader-site-subscription/site-subscription-subheader.tsx
  client/blocks/reader-site-subscription/styles.scss
  client/blocks/reader-subscription-list-item/connected.jsx
  client/landing/subscriptions/components/site-subscriptions-list/styles/site-subscriptions-list.scss
  client/reader/discover/discover-stream.js
  client/reader/feed-stream/index.jsx
  client/reader/list-manage/index.jsx
  client/reader/new-subscription/components/add-subscription-form/style.scss
  client/reader/onboarding/subscribe-modal/index.tsx
  client/reader/search-stream/style.scss
  client/reader/site-stream/index.jsx
  client/reader/site-subscriptions-manager/style.scss
  client/reader/site-subscriptions-manager/subscriptions-manager-wrapper.tsx
  client/reader/stream/error.tsx
  client/reader/stream/index.jsx
  client/reader/stream/reader-popular-sites-sidebar/index.tsx
  client/reader/stream/style.scss
  client/reader/style.scss
  client/reader/tag-stream/main.jsx
  client/reader/tag-stream/style.scss
  client/reader/tags/alphabetic-tags.tsx
  client/reader/tags/main.tsx
  client/reader/tags/style.scss
  client/reader/user-profile/components/user-profile-header/index.tsx
  client/reader/user-profile/components/user-profile-header/style.scss
  client/reader/user-profile/index.tsx
  client/reader/user-profile/style.scss
  client/reader/user-profile/test/index.tsx
  client/reader/user-profile/views/posts.tsx
  client/reader/user-profile/views/test/posts.tsx
Owners: @Automattic/loop

Bump agenttic package to v0.1.49 (#109008)
  client/package.json
  package.json
  packages/agents-manager/package.json
  packages/image-studio/package.json
  packages/odie-client/package.json
  yarn.lock
Owners: none

Agents manager: Fix the sidebar opened in a narrow viewport on CIAB admin (#108980)
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/global.d.ts
  packages/agents-manager/src/hooks/use-agent-layout-manager/index.tsx
  packages/agents-manager/src/hooks/use-setup-custom-actions/README.md
  packages/agents-manager/src/hooks/use-setup-custom-actions/index.ts
Owners: none

Adjust synchronization notice (#108908)
  client/dashboard/sites/site-delete-modal/index.tsx
  client/dashboard/sites/staging-site-delete-modal/index.tsx
  client/dashboard/sites/staging-site-delete-modal/test/index.test.tsx
Owners: @Automattic/lego

Agents Manager: Pass dropZoneRef to ImageUploader (#108963)
  packages/agents-manager/src/components/agent-chat/index.tsx
Owners: none

Agents Manager: Fix chat content overlap issue during site editor transition (#109000)
  packages/agents-manager/src/components/agent-dock/style.scss
Owners: none

Reader - Fix full page consistency across web & native mobile (#108707)
  client/blocks/reader-full-post/header-meta.jsx
  client/blocks/reader-full-post/style.scss
Owners: @Automattic/loop

Show custom thinking messages while processing (#108983)
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
Owners: none

ThemesList: Replace defaultProps with JS default parameters (#109021)
  client/components/themes-list/index.jsx
Owners: none

Agents Manager: Handle inline suggestion click events from Big Sky (#108977)
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
Owners: none

Remove presales zendesk code (#108177)
  client/components/chat-button/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/hundred-year-plan-step-wrapper/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/site-migration-how-to-migrate/index.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-bulk-transfer.tsx
  client/my-sites/checkout/src/components/checkout-main-content.tsx
  packages/help-center/src/hooks/use-chat-status.ts
  packages/help-center/src/types.ts
Owners: @Automattic/shilling, @Automattic/t-rex

Update Agents Manager app README (#109020)
  apps/agents-manager/README.md
Owners: none

Monetize: clarify paid subscriptions copy and links (#108860)
  client/my-sites/earn/main.tsx
  client/my-sites/earn/paid-subscriptions/index.tsx
Owners: none

Domain-Only Thank You Page: Add Tracks events (#108978)
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only/index.tsx
  client/my-sites/checkout/checkout-thank-you/redesign-v2/pages/domain-only/test/index.tsx
Owners: none

Prevent multiple requests to the shopping cart when purchasing more than one domain (#108872)
  client/landing/stepper/declarative-flow/flows/ai-site-builder/ai-site-builder.ts
  client/landing/stepper/declarative-flow/flows/domain-and-plan/domain-and-plan.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/create-site/index.tsx
  client/landing/stepper/hooks/use-create-site-hook.ts
  packages/onboarding/src/cart/index.tsx
  packages/onboarding/src/index.ts
Owners: none

Theme Showcase: Integrate FilterBarModern into ThemeShowcase (#109019)
  client/components/category-pill-navigation/index.tsx
  client/components/theme-tier/constants.js
  client/my-sites/themes/filter-bar-modern/index.tsx
  client/my-sites/themes/filter-bar-modern/style.scss
  client/my-sites/themes/helpers.js
  client/my-sites/themes/hero-modern/style.scss
  client/my-sites/themes/test/logged-out.jsx
  client/my-sites/themes/theme-showcase.jsx
Owners: none

Use generic renewal route for all renewal links (#109026)
  client/my-sites/checkout/controller.jsx
  client/my-sites/checkout/index.js
Owners: none

Help Center: Add configurable support guides link to More Resources (#109010)
  packages/help-center/src/components/help-center-more-resources.tsx
  packages/help-center/src/feature-config/presets.ts
  packages/help-center/src/feature-config/types.ts
Owners: @Automattic/t-rex

Forno-226: Block notes register abilities fix (#109009)
  apps/agents-manager/webpack.config.js
  packages/block-notes/src/abilities/index.test.ts
  packages/block-notes/src/abilities/index.ts
  packages/block-notes/src/assets/big-sky.svg
  packages/block-notes/src/components/thinking-indicator/index.tsx
  packages/block-notes/types/assets.d.ts
Owners: none

Analytics: Enable Quora tracking pixel (#108921) (#108994)
  client/lib/analytics/ad-tracking/constants.js
  client/lib/analytics/ad-tracking/record-order.ts
  client/lib/analytics/ad-tracking/retarget.js
  client/lib/analytics/tracker-buckets.ts
  client/lib/analytics/utils/get-exceptions.ts
  client/server/pages/index.js
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
