Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Help Center: extend logged-out FAB to /checkout (#110784)
  client/layout/logged-out.jsx
Owners: none

Renewal pricing: use full term discount calculation (#110687)
  client/my-sites/checkout/src/components/checkout-sidebar-plan-upsell/index.tsx
  client/my-sites/checkout/src/components/item-variation-picker/item-variation-button-row.tsx
  client/my-sites/checkout/src/components/item-variation-picker/variant-dropdown-price.tsx
  client/my-sites/checkout/src/components/item-variation-picker/variant-radio-price.tsx
  packages/plans-grid-next/src/components/plan-type-selector/hooks/use-max-discount.ts
  packages/plans-grid-next/src/components/plan-type-selector/hooks/use-max-discounts-for-plan-terms.ts
  packages/plans-grid-next/src/components/shared/header-price/index.tsx
  packages/plans-grid-next/src/components/test/header-price.tsx
  packages/plans-grid-next/src/hooks/data-store/use-plan-billing-description.tsx
Owners: @Automattic/shilling, @Automattic/martech

Desktop: Build unsigned linux app on Buildkite (#110569)
  .buildkite/commands/build-desktop-linux.sh
  .buildkite/pipeline.yml
Owners: none

Fix email clicks fallback display (#110760)
  client/my-sites/stats/features/modules/stats-emails/stats-emails.tsx
  client/my-sites/stats/features/modules/stats-emails/test/tooltips.tsx
  client/my-sites/stats/features/modules/stats-emails/tooltips.tsx
Owners: none

Help Center: extend logged-out FAB to /reader (#110789)
  client/layout/logged-out.jsx
Owners: none

Image Studio: remove dev-mode gate on the Feature Clip sidebar (#110695)
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.test.tsx
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.tsx
Owners: none

Image Studio: richer video chip suggestions exercising palette, medium, and closer-direction (#110775)
  packages/image-studio/src/hooks/use-video-clip-suggestions.test.ts
  packages/image-studio/src/hooks/use-video-clip-suggestions.ts
Owners: none

Help Center: extend logged-out FAB to /log-in (#110788)
  client/landing/login/index.js
  client/layout/logged-out.jsx
  client/login/index.web.jsx
Owners: none

wpcom-block-editor: Track Classic block deprecation notice actions (#110730)
  apps/wpcom-block-editor/src/wpcom/features/tracking/delegate-event-tracking.js
  apps/wpcom-block-editor/src/wpcom/features/tracking/wpcom-block-editor-classic-block-deprecation-action-click.js
Owners: none

Help Center: extend logged-out FAB to /start and /setup (#110791)
  client/components/help-center-fab/index.tsx
  client/landing/stepper/index.tsx
  client/layout/logged-out.jsx
Owners: @Automattic/dotcom-stepper

Domain search: refine skip-suggestion card for mobile (#110786)
  packages/domain-search/src/components/skip-suggestion/test/index.tsx
  packages/domain-search/src/ui/domain-search-skip-suggestion/index.placeholder.tsx
  packages/domain-search/src/ui/domain-search-skip-suggestion/index.skeleton.tsx
  packages/domain-search/src/ui/domain-search-skip-suggestion/index.tsx
  packages/domain-search/src/ui/domain-search-skip-suggestion/style.scss
Owners: none

Reader Mastodon: normalize instance input on the connect form (#110792)
  client/reader/mastodon/connect-form.tsx
  client/reader/mastodon/test/connect-form.test.tsx
  client/reader/mastodon/utils/normalize-instance.ts
  client/reader/mastodon/utils/test/normalize-instance.test.ts
Owners: @Automattic/loop

e2e: fix "Switch to draft" flake (#110795)
  packages/calypso-e2e/src/lib/pages/editor-page.ts
  test/e2e/specs/onboarding/signup__start-writing-tailored.spec.ts
Owners: none

Reader: unified social-accounts section + Pulse overview (#110696)
  client/reader/AGENTS.md
  client/reader/atmosphere/atmosphere-landing-view.tsx
  client/reader/atmosphere/controller.tsx
  client/reader/atmosphere/test/atmosphere-landing-view.test.tsx
  client/reader/atmosphere/test/controller.test.tsx
  client/reader/components/icons/bluesky-icon.tsx
  client/reader/components/icons/fediverse-icon.tsx
  client/reader/connections/connections-new-view.tsx
  client/reader/connections/controller.tsx
  client/reader/connections/index.tsx
  client/reader/connections/social-overview-view.tsx
  client/reader/connections/social-spotlight.tsx
  client/reader/connections/style.scss
  client/reader/fediverse/controller.tsx
  client/reader/fediverse/fediverse-landing-view.tsx
  client/reader/fediverse/test/fediverse-landing-view.test.tsx
  client/reader/mastodon/controller.tsx
  client/reader/mastodon/mastodon-landing-view.tsx
  client/reader/mastodon/test/controller.test.tsx
  client/reader/mastodon/test/mastodon-landing-view.test.tsx
  client/reader/sidebar/index.jsx
  client/reader/sidebar/reader-sidebar-atmosphere/index.tsx
  client/reader/sidebar/reader-sidebar-atmosphere/test/index.test.tsx
  client/reader/sidebar/reader-sidebar-connections/connection-menu-item.tsx
  client/reader/sidebar/reader-sidebar-connections/index.tsx
  client/reader/sidebar/reader-sidebar-connections/style.scss
  client/reader/sidebar/reader-sidebar-connections/types.tsx
  client/reader/sidebar/reader-sidebar-fediverse/index.tsx
  client/reader/sidebar/reader-sidebar-mastodon/index.tsx
  client/reader/sidebar/reader-sidebar-mastodon/test/index.test.tsx
  client/sections.js
Owners: @Automattic/loop

e2e: harden mobile inserter close against mid-animation detach (#110797)
  packages/calypso-e2e/src/lib/components/editor-sidebar-block-inserter-component.ts
Owners: none

Image Studio: close Feature Clip telemetry gaps (#110790)
  packages/image-studio/src/components/generate-layout/share-reel-action/index.test.tsx
  packages/image-studio/src/components/generate-layout/share-reel-action/index.tsx
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.test.tsx
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.tsx
  packages/image-studio/src/hooks/use-generic-share/index.test.ts
  packages/image-studio/src/hooks/use-generic-share/index.ts
  packages/image-studio/src/hooks/use-reel-share/index.test.ts
  packages/image-studio/src/hooks/use-reel-share/index.ts
  packages/image-studio/src/utils/tracking.test.ts
  packages/image-studio/src/utils/tracking.ts
Owners: none

Reader: cap Social Spotlight grid at 2 columns (#110800)
  client/reader/connections/style.scss
Owners: @Automattic/loop

Calypso: connect auto-renew toggle to new cancel flow (#110204)
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/components/marketing-survey/cancel-purchase-form/step-components/feedback-step.tsx
  client/components/marketing-survey/cancel-purchase-form/step-components/next-adventure-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/step-components/feedback-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/get-confirmation-copy.ts
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/keep-subscription-button.tsx
  client/dashboard/me/billing-purchases/index.tsx
  client/dashboard/utils/purchase.ts
  client/lib/purchases/utils.ts
  client/me/purchases/cancel-purchase/button.tsx
  client/me/purchases/cancel-purchase/index.tsx
  client/me/purchases/manage-purchase/auto-renew-toggle/index.tsx
  client/me/purchases/manage-purchase/notices.tsx
  client/me/purchases/purchases-list-in-dataviews/index.tsx
  client/my-sites/purchases/subscriptions/subscriptions-content.tsx
Owners: @Automattic/lego, @Automattic/shilling

MSD: connect auto-renew toggle to new cancel flow (#110213)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-button.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-header-title.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/cancel-purchase-form/step-components/feedback-step.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/confirm-checkbox.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/test/get-confirmation-copy.ts
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/me/billing-purchases/purchase-settings/purchase-cancelled-notice.tsx
  client/dashboard/me/billing-purchases/purchase-settings/purchase-notice.tsx
Owners: @Automattic/lego

Plugin Compass: Introduce Marketplace AI Experience (#110779)
  client/data/marketplace/use-wporg-plugin-query.ts
  client/layout/index.jsx
  client/my-sites/plugins/categories/use-categories.tsx
  client/my-sites/plugins/marketplace-ai-experience/agent-provider.ts
  client/my-sites/plugins/marketplace-ai-experience/banner/index.tsx
  client/my-sites/plugins/marketplace-ai-experience/banner/style.scss
  client/my-sites/plugins/marketplace-ai-experience/chat-actions.ts
  client/my-sites/plugins/marketplace-ai-experience/constants.ts
  client/my-sites/plugins/marketplace-ai-experience/hydrated-pick.tsx
  client/my-sites/plugins/marketplace-ai-experience/index.tsx
  client/my-sites/plugins/marketplace-ai-experience/picks-store.ts
  client/my-sites/plugins/marketplace-ai-experience/prompt-form.scss
  client/my-sites/plugins/marketplace-ai-experience/prompt-form.tsx
  client/my-sites/plugins/marketplace-ai-experience/style.scss
  client/my-sites/plugins/plugin-compass-agent-loader.tsx
  client/my-sites/plugins/plugins-browser-item/index.jsx
  client/my-sites/plugins/plugins-browser-item/style.scss
  client/my-sites/plugins/plugins-browser/index.jsx
  client/package.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
  packages/agents-manager/src/global.d.ts
  packages/agents-manager/src/utils/load-external-providers.ts
  yarn.lock
Owners: none

Reader: Add a Reader Profile link to the sidebar (#110643)
  client/reader/sidebar/index.jsx
Owners: @Automattic/loop

Reader: clarify activity streak wording (#110810)
  client/reader/user-profile/views/achievements/activity-streak/index.tsx
  client/reader/user-profile/views/achievements/activity-streak/test/index.test.tsx
Owners: @Automattic/loop

Help Center: relax /log-in FAB gate to a token-bearing deny-list (#110794)
  client/layout/logged-out.jsx
Owners: none

Help Center: track FAB impressions and tidy click location (#110811)
  client/components/help-center-fab/index.tsx
Owners: none

Explat-client: add getFeatureValue() with beacon (#110516)
  packages/explat-client/src/create-explat-client.ts
  packages/explat-client/src/index.ts
  packages/explat-client/src/internal/flag-payload.ts
  packages/explat-client/src/internal/runtime.ts
  packages/explat-client/src/internal/test/get-feature-value.ts
  packages/explat-client/src/sdk/index.ts
  packages/explat-client/src/sdk/types.ts
  packages/explat-client/src/types.ts
Owners: @Automattic/experimentation-platform

Help Center: suppress FAB tooltip and tidy keyboard tab order (#110812)
  client/components/help-center-fab/index.tsx
  client/layout/logged-out.jsx
Owners: none

A4A: Add Enterprise method to Claude Desktop MCP setup (#110793)
  client/a8c-for-agencies/sections/ai-mcp/primary/connect-agent/agent-configs.tsx
  client/a8c-for-agencies/sections/ai-mcp/primary/connect-agent/connect-agent-content.tsx
Owners: none

Image Studio: render the Feature Clip panel in the Jetpack sidebar too (#110804)
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.test.tsx
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.tsx
Owners: none

Reader ATmosphere: surface PDS hostname on the connection card (#110808)
  client/reader/atmosphere/atmosphere-connect-view.tsx
  client/reader/atmosphere/test/atmosphere-connect-view.test.tsx
  client/reader/connections/connections-new-view.tsx
  client/reader/sidebar/reader-sidebar-connections/types.tsx
  packages/api-core/src/reader-atmosphere/__tests__/types.test.ts
  packages/api-core/src/reader-atmosphere/types.ts
Owners: @Automattic/loop

Fix Reader quick post dark mode badges (#110806)
  client/reader/components/quick-post/style.scss
Owners: @Automattic/loop

RSM-3325 fix unified chat themes dark mode (#110809)
  packages/agents-manager/src/components/agent-dock/style.scss
Owners: none

Omnibar: truncate long site titles with ellipsis (#110814)
  packages/omnibar/src/components/omnibar-menu.tsx
  packages/omnibar/src/components/omnibar-node.tsx
  packages/omnibar/src/components/omnibar-site.tsx
Owners: none

Image Studio: keep 9:16 aspect ratio when the Feature Clip preview goes fullscreen (#110817)
  packages/image-studio/src/extensions/feature-clip-sidebar.scss
Owners: none

Onboarding: add mobile step counter to header (#110733)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  client/landing/stepper/declarative-flow/flows/onboarding/step-counter-config.ts
  client/landing/stepper/declarative-flow/flows/onboarding/use-onboarding-step-counter.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/unified-plans-step.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/use-my-domain/index.tsx
  client/my-sites/checkout/src/components/checkout-main-content.tsx
  packages/onboarding/src/step-container-v2/components/StepCounter/StepCounter.tsx
  packages/onboarding/src/step-container-v2/components/StepCounter/style.scss
  packages/onboarding/src/step-container-v2/index.tsx
Owners: @Automattic/shilling, @Automattic/quake

Reader: fold reader/fediverse flag into reader/social (#110819)
  client/reader/connections/connections-new-view.tsx
  client/reader/connections/social-overview-view.tsx
  client/reader/fediverse/controller.tsx
  client/reader/fediverse/helper.ts
  client/reader/sidebar/reader-sidebar-connections/index.tsx
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: @Automattic/loop

Jetpack Connect: allow secondary user connections in the connector flow (#110763)
  client/jetpack-connect/authorize.jsx
  client/jetpack-connect/connection-content/copy.ts
  client/jetpack-connect/connection-content/family-features.ts
  client/jetpack-connect/connection-content/index.ts
  client/jetpack-connect/connection-content/test/copy.test.ts
  client/jetpack-connect/feature-cards.tsx
  client/jetpack-connect/schema.js
  client/jetpack-connect/test/__snapshots__/utils.js.snap
  client/jetpack-connect/test/authorize.js
  client/jetpack-connect/test/feature-cards.test.tsx
  client/jetpack-connect/utils.js
Owners: none

Domain Search: mobile sticky search bar with compact promo banner (#110765)
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/style.scss
  packages/domain-search/src/page/results.tsx
  packages/domain-search/src/page/style.scss
  packages/domain-search/src/page/test/results.tsx
Owners: none

Plugin directory: canonicalize localized pages to English equivalent (#110657)
  client/controller/localized-links.js
  client/my-sites/plugins/index.node.js
Owners: none

[A4A-2655] @wordpress/components: restore Menu popover visibility (#110823)
  client/a8c-for-agencies/style.scss
Owners: none

Reader connections: polish empty CTA, Fediverse copy, sidebar hint (#110822)
  client/reader/connections/connections-new-view.tsx
  client/reader/connections/social-overview-view.tsx
  client/reader/connections/style.scss
  client/reader/sidebar/reader-sidebar-connections/index.tsx
Owners: @Automattic/loop
