Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Performance: scaffold Frontend/Backend submenu behind performance/apm flag (#110222)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/performance/backend-callout.tsx
  client/dashboard/sites/performance/backend/index.tsx
  client/dashboard/sites/performance/backend/test/index.test.tsx
  client/dashboard/sites/performance/frontend/index.tsx
  client/dashboard/sites/performance/index.tsx
  client/dashboard/sites/site-sidebar/index.tsx
  packages/api-core/src/constants.ts
Owners: @Automattic/lego

Reader: display Years of Service achievement badge (#110229)
  client/assets/images/achievements/years-of-service-badge.svg
  client/blocks/reader-full-post/header-meta.jsx
  client/blocks/reader-full-post/test/header-meta.jsx
  client/data/reader/test/use-achievements-query.test.tsx
  client/data/reader/use-achievements-query.ts
  client/reader/components/achievements/author-achievement-badges/index.tsx
  client/reader/components/achievements/author-achievement-badges/style.scss
  client/reader/components/achievements/author-achievement-badges/test/index.test.tsx
  client/reader/components/achievements/test/use-achievements-visibility.test.ts
  client/reader/components/achievements/use-achievements-visibility.ts
  client/reader/components/achievements/years-of-service-badge/index.tsx
  client/reader/components/achievements/years-of-service-badge/style.scss
  client/reader/components/achievements/years-of-service-badge/test/index.test.tsx
  client/reader/user-profile/components/user-profile-header/index.tsx
  client/reader/user-profile/components/user-profile-header/style.scss
  client/reader/user-profile/components/user-profile-header/test/index.test.tsx
  client/reader/user-profile/views/achievements/achievements-grid/index.tsx
  client/reader/user-profile/views/achievements/index.tsx
  client/reader/user-profile/views/achievements/style.scss
  client/reader/user-profile/views/achievements/test/index.test.tsx
  packages/api-core/src/read-achievements/types.ts
  packages/api-queries/src/read-achievements-settings.ts
  packages/api-queries/src/read-achievements.ts
Owners: @Automattic/loop

Update plugins FAQ answers for plan availability (#109973)
  client/my-sites/plugins/plugins-faq/index.tsx
Owners: none

[RSM-985] Add dark mode support for dashboard modals and deployment views (#110247)
  client/dashboard/app/_dark-theme.scss
  client/dashboard/components/offer-card/style.scss
  client/dashboard/sites/add-new-site/style.scss
  client/dashboard/sites/deployments-list/dataviews/fields.tsx
  client/dashboard/sites/deployments-list/deployment-logs/deployment-logs-entry.tsx
  client/dashboard/sites/deployments-list/deployment-logs/deployment-logs-modal-content.tsx
  client/dashboard/sites/deployments-list/deployment-logs/deployment-logs-status.tsx
  client/dashboard/sites/deployments-list/deployment-logs/style.scss
  client/dashboard/sites/site-launch-celebration-modal/styles.scss
  packages/ui/src/badge/style.module.scss
Owners: @Automattic/lego

Help Center: redirect /support/contact links to Odie (#110258)
  packages/support-articles/src/hooks/use-content-filter.ts
Owners: none

AsyncLoad: add key props when used in a router controller (#110261)
  client/blocks/jitm/index.jsx
  client/components/jetpack-header/index.jsx
  client/devdocs/controller.js
  client/my-sites/stats/controller.jsx
  client/my-sites/stats/pages/insights/controller.tsx
  client/my-sites/stats/pages/purchase/controller.tsx
  client/my-sites/stats/pages/realtime/controller.tsx
  client/my-sites/stats/pages/subscribers/controller.tsx
  client/my-sites/store/app/store-stats/controller.js
  client/reader/atmosphere/controller.tsx
  client/reader/controller.js
  client/reader/conversations/controller.js
  client/reader/full-post/controller.js
  client/reader/list/controller.js
  client/reader/mastodon/controller.tsx
  client/reader/notifications/controller.jsx
  client/reader/on-this-day/controller.jsx
Owners: @Automattic/loop

E2E failure comment: clearer step-by-step instructions (#110259)
  .github/workflows/e2e-failure-comment.yml
Owners: none

fix-e2e-tests: add baseline-failures.sh (#110260)
  .claude/skills/fix-e2e-tests/baseline-failures.sh
Owners: none

Disable cache-seed image by default for Calypso Docker builds (#110265)
  .teamcity/_self/projects/WebApp.kt
Owners: none

e2e-failure-comment: tighten the call-to-action wording (#110266)
  .github/workflows/e2e-failure-comment.yml
Owners: none

Return to Purchase Settings after upgrade checkout (#110175)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/me/billing-purchases/purchase-settings/purchase-notice.tsx
  client/dashboard/utils/site-url.ts
  client/my-sites/checkout/checkout-thank-you/pending/index.tsx
  client/my-sites/checkout/src/lib/pending-page.ts
  client/my-sites/checkout/src/test/pending-page.ts
  client/my-sites/purchases/styles.scss
  packages/api-core/src/me-billing-history/types.ts
Owners: @Automattic/lego, @Automattic/shilling

Reader: migrate QueryReaderLists to React Query (#109954)
  .claude/skills/calypso-react-query-migration/SKILL.md
  .eslintrc.js
  client/components/data/query-reader-list/README.md
  client/components/data/query-reader-list/index.jsx
  client/components/data/query-reader-lists/README.md
  client/components/data/query-reader-lists/index.jsx
  client/data/reader/use-feed-recommendations-mutation/index.ts
  client/data/reader/use-feed-recommendations-mutation/test/index.test.ts
  client/reader/AGENTS.md
  client/reader/list-manage/index.jsx
  client/reader/list-manage/list-delete.jsx
  client/reader/list/components/list-header/index.tsx
  client/reader/list/index.tsx
  client/reader/list/test/index.test.tsx
  client/reader/sidebar/index.jsx
  client/reader/user-profile/views/lists.tsx
  client/reader/user-profile/views/test/lists.test.tsx
  client/state/data-layer/wpcom/read/lists/delete/index.js
  client/state/data-layer/wpcom/read/lists/index.js
  client/state/data-layer/wpcom/read/lists/utils.ts
  client/state/reader/action-types.ts
  client/state/reader/lists/actions.ts
  client/state/reader/lists/reducer.js
  client/state/reader/lists/schema.js
  client/state/reader/lists/selectors.js
  client/state/reader/lists/test/actions.js
  client/state/reader/lists/test/reducer.js
  client/state/reader/lists/test/selectors.js
  packages/api-core/src/read-lists/fetchers.ts
  packages/api-core/src/read-lists/index.ts
  packages/api-core/src/read-lists/mutators.ts
  packages/api-core/src/read-lists/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/read-list.ts
  packages/api-queries/src/read-lists.ts
Owners: @Automattic/loop

Podcasting: combined prototype at /podcast with Episodes, Distribution, Settings (#110164)
  client/my-sites/podcast/components/distribution.tsx
  client/my-sites/podcast/components/episodes.tsx
  client/my-sites/podcast/components/logos.tsx
  client/my-sites/podcast/components/welcome.tsx
  client/my-sites/podcast/controller.ts
  client/my-sites/podcast/hooks/use-access-gate.tsx
  client/my-sites/podcast/hooks/use-episode-stats-query.ts
  client/my-sites/podcast/hooks/use-episodes-query.ts
  client/my-sites/podcast/hooks/use-feed-url.ts
  client/my-sites/podcast/index.ts
  client/my-sites/podcast/main.tsx
  client/my-sites/podcast/style.scss
  client/sections.js
Owners: none

Replace hardcoded port 3000 with dynamic port in dev URLs (#110002)
  client/blocks/jetpack-connect-site-only/index.js
  client/dashboard/app-ciab/routing.ts
  client/dashboard/app-dotcom/routing.ts
  client/dashboard/utils/link.ts
  client/jetpack-connect/authorize.js
  client/my-sites/plans/jetpack-plans/get-purchase-url-callback.ts
  client/server/config/index.js
  config/dashboard-development.json
  config/development.json
  packages/calypso-url/src/get-calypso-url.ts
  packages/create-calypso-config/src/index.ts
  packages/create-calypso-config/src/test/index.js
  packages/wpcom-proxy-request/src/index.js
Owners: @Automattic/lego

Omnibar: implement mobile styles (#110263)
  client/dashboard/app/boot.tsx
  client/dashboard/app/interim-omnibar/index.tsx
  client/dashboard/app/interim-omnibar/interim-omnibar-container.tsx
  client/dashboard/app/interim-omnibar/interim-omnibar.tsx
  client/dashboard/app/notifications/index.tsx
  client/dashboard/app/omnibar/events.ts
  client/dashboard/app/omnibar/omnibar.tsx
  client/dashboard/app/root/index.tsx
  packages/omnibar/package.json
  packages/omnibar/src/components/omnibar-responsive-menu.scss
  packages/omnibar/src/components/omnibar-responsive-menu.tsx
  packages/omnibar/src/components/omnibar-site.tsx
  packages/omnibar/src/components/omnibar-user.scss
  packages/omnibar/src/components/omnibar-user.tsx
  packages/omnibar/src/components/omnibar.scss
  packages/omnibar/src/components/omnibar.tsx
  packages/omnibar/src/style.scss
  packages/omnibar/src/types/omnibar.ts
  yarn.lock
Owners: @Automattic/lego

Omnibar: add Jetpack icon to WP logo (#110283)
  client/dashboard/app/omnibar/home.tsx
  client/dashboard/app/omnibar/omnibar.tsx
Owners: @Automattic/lego

Omnibar: add Help Center node (#110286)
  client/dashboard/app/omnibar/omnibar.tsx
  packages/omnibar/src/components/omnibar-menu.tsx
  packages/omnibar/src/components/omnibar-plugins.tsx
  packages/omnibar/src/components/omnibar.tsx
  packages/omnibar/src/types/omnibar.ts
Owners: @Automattic/lego

Jetpack Connection - unified flow (#110180)
  client/assets/stylesheets/_wp-base-styles-overrides.scss
  client/assets/stylesheets/_wp-components-overrides.scss
  client/components/connect-screen/brand-header/style.scss
  client/jetpack-connect/authorize.js
  client/jetpack-connect/colors.scss
  client/jetpack-connect/connector-branding-config.js
  client/jetpack-connect/images/jetpack-connect-a8c.svg
  client/jetpack-connect/images/jetpack-connect-all.svg
  client/jetpack-connect/images/jetpack-connect-woo.svg
  client/jetpack-connect/images/jetpack-connect.svg
  client/jetpack-connect/main-wrapper.jsx
  client/jetpack-connect/schema.js
  client/jetpack-connect/style.scss
  client/jetpack-connect/test/__snapshots__/utils.js.snap
  client/jetpack-connect/test/authorize.js
  client/jetpack-connect/test/connector-branding-config.js
  client/jetpack-connect/test/utils.js
  client/jetpack-connect/utils.js
  client/layout/logged-out.jsx
  client/login/magic-login/index.jsx
  client/login/magic-login/request-login-email-form.jsx
  client/login/wp-login/components/heading-logo.tsx
  client/login/wp-login/components/one-login-layout.tsx
  client/login/wp-login/hooks/get-header-text.tsx
  client/login/wp-login/index.jsx
  client/login/wp-login/style.scss
Owners: none

Reader: hide x-post hovercard during j/k navigation (#110277)
  client/reader/stream/index.jsx
Owners: @Automattic/loop

Add monitoring page charts dark mode (#110253)
  client/dashboard/app/chart-theme.ts
  client/dashboard/app/layout.tsx
  client/dashboard/app/style.scss
  client/dashboard/sites/monitoring-card/style.scss
Owners: @Automattic/lego

Omnibar: introduce label prop and simplify default rendering (#110288)
  client/dashboard/app/omnibar/omnibar.tsx
  packages/omnibar/src/components/omnibar-home.tsx
  packages/omnibar/src/components/omnibar-menu.tsx
  packages/omnibar/src/components/omnibar-node.tsx
  packages/omnibar/src/components/omnibar-plugins.tsx
  packages/omnibar/src/components/omnibar-site.tsx
  packages/omnibar/src/types/omnibar.ts
  packages/omnibar/src/utils/admin-bar.tsx
Owners: @Automattic/lego

Omnibar: add Notifications node (#110294)
  client/dashboard/app/omnibar/omnibar.tsx
  client/dashboard/app/omnibar/plugin-help-center.tsx
  client/dashboard/app/omnibar/plugin-notifications.tsx
  client/dashboard/app/root/index.tsx
Owners: @Automattic/lego

Plans: roll out no-AI + new-copy mix from differentiation experiment (#110284)
  client/my-sites/plans-features-main/hooks/use-generate-action-callback.ts
  client/my-sites/plans-features-main/hooks/use-generate-action-hook.tsx
  client/my-sites/plans-features-main/hooks/use-plan-differentiators-experiment.ts
  client/my-sites/plans-features-main/index.tsx
  packages/calypso-products/src/plans-list.tsx
  packages/calypso-products/src/types.ts
  packages/plans-grid-next/src/components/features-grid/index.tsx
  packages/plans-grid-next/src/components/features-grid/mobile-free-domain.tsx
  packages/plans-grid-next/src/components/features.tsx
  packages/plans-grid-next/src/grid-context.tsx
  packages/plans-grid-next/src/hooks/data-store/types.ts
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans-for-comparison-grid.ts
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans-for-features-grid.ts
  packages/plans-grid-next/src/hooks/data-store/use-plan-features-for-grid-plans.ts
  packages/plans-grid-next/src/hooks/data-store/use-restructured-plan-features-for-comparison-grid.ts
  packages/plans-grid-next/src/types.ts
  packages/shopping-cart/src/types.ts
Owners: @Automattic/martech, @Automattic/shilling

Reader ATmosphere: in-app author profile + author feed (slice 6) (#110287)
  client/reader/AGENTS.md
  client/reader/atmosphere/author-profile-header.tsx
  client/reader/atmosphere/author-profile-panel.tsx
  client/reader/atmosphere/author-profile-view.tsx
  client/reader/atmosphere/controller.tsx
  client/reader/atmosphere/error-projection.ts
  client/reader/atmosphere/index.tsx
  client/reader/atmosphere/profile-errors.ts
  client/reader/atmosphere/profile-panel.tsx
  client/reader/atmosphere/route.ts
  client/reader/atmosphere/test/atmosphere-account-view.test.tsx
  client/reader/atmosphere/test/author-profile-header.test.tsx
  client/reader/atmosphere/test/author-profile-panel.test.tsx
  client/reader/atmosphere/test/author-profile-view.test.tsx
  client/reader/atmosphere/test/controller.test.tsx
  client/reader/atmosphere/test/profile-panel.test.tsx
  client/reader/atmosphere/test/route.test.ts
  client/reader/atmosphere/test/thread-panel.test.tsx
  client/reader/atmosphere/test/timeline-panel.test.tsx
  client/reader/atmosphere/test/verify-panel.test.tsx
  client/reader/atmosphere/thread-panel.tsx
  client/reader/atmosphere/timeline-panel.tsx
  client/reader/atmosphere/verify-panel.tsx
  client/reader/sidebar/reader-sidebar-atmosphere/test/index.test.tsx
  client/reader/social/AGENTS.md
  client/reader/social/components/post-card/analytics-context.tsx
  client/reader/social/components/post-card/post-card-header.tsx
  client/reader/social/components/post-card/style.scss
  client/reader/social/components/post-card/test/post-card-header.test.tsx
  client/reader/social/profile-card.tsx
  client/reader/social/style.scss
  client/reader/social/test/profile-card.test.tsx
  packages/api-core/src/reader-atmosphere/__tests__/fetchers.test.ts
  packages/api-core/src/reader-atmosphere/__tests__/query-keys.test.ts
  packages/api-core/src/reader-atmosphere/__tests__/types.test.ts
  packages/api-core/src/reader-atmosphere/fetchers.ts
  packages/api-core/src/reader-atmosphere/query-keys.ts
  packages/api-core/src/reader-atmosphere/types.ts
  packages/api-queries/src/__tests__/reader-atmosphere.test.tsx
  packages/api-queries/src/reader-atmosphere.ts
Owners: @Automattic/loop

Reader Mastodon: in-app thread view (CM-630) (#110295)
  client/reader/mastodon/controller.tsx
  client/reader/mastodon/index.tsx
  client/reader/mastodon/mastodon-thread-view.tsx
  client/reader/mastodon/route.ts
  client/reader/mastodon/test/timeline-panel.test.tsx
  client/reader/mastodon/thread-header.tsx
  client/reader/mastodon/thread-panel.tsx
  client/reader/mastodon/thread-tree/index.tsx
  client/reader/mastodon/thread-tree/style.scss
  client/reader/mastodon/thread-tree/thread-node.tsx
  client/reader/mastodon/thread-tree/thread-tombstone.tsx
  client/reader/mastodon/thread-tree/thread-tree-skeleton.tsx
  client/reader/mastodon/timeline-panel.tsx
  client/reader/social/components/post-card/index.tsx
  client/reader/social/components/post-card/post-card-embed.tsx
  client/reader/social/components/post-card/style.scss
  client/reader/social/components/post-card/test/index.test.tsx
  client/reader/social/components/post-card/test/post-card-embed-quote-tombstone.test.tsx
  client/reader/social/components/post-card/test/post-card-embed-quote.test.tsx
  client/reader/social/components/post-card/test/post-card-embed.test.tsx
  client/reader/social/index.ts
  client/reader/social/mappers/mastodon.ts
  client/reader/social/types.ts
  packages/api-core/src/reader-mastodon/__tests__/fetchers.test.ts
  packages/api-core/src/reader-mastodon/errors.ts
  packages/api-core/src/reader-mastodon/fetchers.ts
  packages/api-core/src/reader-mastodon/query-keys.ts
  packages/api-core/src/reader-mastodon/types.ts
  packages/api-queries/src/reader-mastodon.ts
Owners: @Automattic/loop

Reader: migrate list items to React Query and drop state.reader.lists (#110299)
  client/blocks/reader-feed-header/follow.tsx
  client/components/data/query-reader-list-items/index.jsx
  client/data/reader/use-feed-recommendations-mutation/README.md
  client/data/reader/use-feed-recommendations-mutation/index.ts
  client/data/reader/use-feed-recommendations-mutation/test/index.test.ts
  client/data/reader/use-feed-recommendations-query/index.tsx
  client/data/reader/use-feed-recommendations-query/test/index.test.ts
  client/landing/subscriptions/components/site-subscriptions-list/site-subscriptions-list.tsx
  client/reader/list-manage/feed-item.tsx
  client/reader/list-manage/index.jsx
  client/reader/list-manage/site-item.tsx
  client/reader/list-manage/tag-item.tsx
  client/reader/list/components/empty.tsx
  client/reader/list/test/index.test.tsx
  client/state/data-layer/wpcom/read/lists/feeds/delete/index.js
  client/state/data-layer/wpcom/read/lists/feeds/new/index.js
  client/state/data-layer/wpcom/read/lists/items/index.js
  client/state/data-layer/wpcom/read/lists/sites/delete/index.js
  client/state/data-layer/wpcom/read/lists/tags/delete/index.js
  client/state/data-layer/wpcom/read/lists/tags/new/index.js
  client/state/data-layer/wpcom/read/lists/utils.ts
  client/state/reader/action-types.ts
  client/state/reader/lists/actions.ts
  client/state/reader/lists/reducer.js
  client/state/reader/lists/selectors.js
  client/state/reader/lists/test/actions.js
  client/state/reader/lists/test/reducer.js
  client/state/reader/lists/test/selectors.js
  client/state/reader/reducer.ts
  packages/api-core/src/index.ts
  packages/api-core/src/read-list-items/fetchers.ts
  packages/api-core/src/read-list-items/index.ts
  packages/api-core/src/read-list-items/mutators.ts
  packages/api-core/src/read-list-items/types.ts
  packages/api-core/src/read-lists/fetchers.ts
  packages/api-core/src/read-lists/types.ts
  packages/api-queries/src/__tests__/read-list-items.test.tsx
  packages/api-queries/src/index.ts
  packages/api-queries/src/read-list-items.ts
  packages/api-queries/src/read-lists.ts
Owners: @Automattic/loop

[RSM-981] Fix dashboard dark mode bugs (#110267)
  client/dashboard/app/_dark-theme.scss
  client/dashboard/app/notifications/style.scss
  client/dashboard/me/billing-purchases/payment-methods/credit-card-fields.scss
  client/dashboard/me/billing-purchases/payment-methods/credit-card-fields.tsx
  client/dashboard/me/billing-purchases/style.scss
  client/dashboard/sites/overview-site-preview-card/index.tsx
  client/dashboard/sites/settings-ai-tools/index.tsx
  client/dashboard/sites/settings-ai-tools/style.scss
Owners: @Automattic/lego

Agents Manager: support Reader Chat hosts (#110225)
  packages/agents-manager/src/components/__tests__/agent-dock.test.tsx
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/agents-manager.tsx
  packages/agents-manager/src/components/chat-header/index.tsx
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/hooks/__tests__/use-agent-config.test.ts
  packages/agents-manager/src/hooks/__tests__/use-setup-custom-actions.test.ts
  packages/agents-manager/src/hooks/use-agent-config.ts
  packages/agents-manager/src/hooks/use-conversation-list.ts
  packages/agents-manager/src/hooks/use-conversation.ts
  packages/agents-manager/src/hooks/use-empty-view-suggestions.ts
  packages/agents-manager/src/hooks/use-setup-custom-actions/index.ts
  packages/agents-manager/src/hooks/use-sources-action.ts
  packages/agents-manager/src/utils/__tests__/agent-session.test.ts
  packages/agents-manager/src/utils/__tests__/conversation-bot-id.test.ts
  packages/agents-manager/src/utils/__tests__/create-agent-config.test.ts
  packages/agents-manager/src/utils/__tests__/is-reader-chat-agent.test.ts
  packages/agents-manager/src/utils/__tests__/reader-followup-hook.test.tsx
  packages/agents-manager/src/utils/agent-session.ts
  packages/agents-manager/src/utils/conversation-bot-id.ts
  packages/agents-manager/src/utils/create-agent-config.ts
  packages/agents-manager/src/utils/is-reader-chat-agent.ts
  packages/agents-manager/src/utils/load-external-providers.ts
  packages/agents-manager/src/utils/reader-followup-hook.ts
Owners: none

Reader: Migrate organizations data fetching to React Query (READ-378) (#110303)
  client/components/data/query-reader-organizations/index.jsx
  client/components/data/with-reader-organizations/index.tsx
  client/components/data/with-reader-organizations/test/index.test.tsx
  client/reader/sidebar/index.jsx
  client/reader/stream/index.jsx
  client/state/data-layer/wpcom/read/organizations/index.js
  client/state/reader/action-types.ts
  client/state/reader/organizations/actions.js
  client/state/reader/organizations/reducer.js
  client/state/reader/organizations/schema.js
  client/state/reader/organizations/selectors/get-reader-organizations.js
  client/state/reader/organizations/selectors/index.js
  client/state/reader/organizations/selectors/is-requesting-reader-organizations.js
  client/state/reader/reducer.ts
  client/state/test/initial-state.js
  packages/api-core/src/index.ts
  packages/api-core/src/read-organizations/fetchers.ts
  packages/api-core/src/read-organizations/index.ts
  packages/api-core/src/read-organizations/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/read-organizations.ts
Owners: @Automattic/loop

Calypso Purchases: add intent plumbing + removePurchase helpers (#110169)
  client/me/purchases/controller.jsx
  client/my-sites/purchases/controller.js
  client/my-sites/purchases/main.tsx
  client/state/purchases/actions.js
  client/state/purchases/test/actions.js
Owners: @Automattic/shilling

Checkout: refactor payment methods to drop @wordpress/data stores (CHE-295) (#110317)
  client/a8c-for-agencies/sections/purchases/payment-methods/payment-method-add/credit-card-fields/index.tsx
  client/jetpack-cloud/sections/partner-portal/credit-card-fields/index.tsx
  client/my-sites/checkout/src/hooks/use-create-payment-methods/index.tsx
  client/my-sites/checkout/src/payment-methods/credit-card/store.ts
  client/my-sites/checkout/src/payment-methods/credit-card/types.ts
  client/my-sites/checkout/src/payment-methods/netbanking.tsx
  client/my-sites/checkout/src/payment-methods/paypal.tsx
  client/my-sites/checkout/src/payment-methods/wechat/index.tsx
  client/my-sites/checkout/src/test/netbanking.tsx
  packages/wpcom-checkout/src/index.ts
  packages/wpcom-checkout/src/payment-method-store.ts
  packages/wpcom-checkout/src/payment-methods/alipay.tsx
  packages/wpcom-checkout/src/payment-methods/eps.tsx
  packages/wpcom-checkout/src/payment-methods/ideal.tsx
  packages/wpcom-checkout/src/payment-methods/sofort.tsx
Owners: @Automattic/shilling

Reader: Migrate teams data fetching to React Query (READ-384, READ-403) (#110313)
  client/a8c-for-agencies/sections/sites/sites-dashboard/index.tsx
  client/blocks/blog-stickers/index.jsx
  client/blocks/blog-stickers/use-blog-stickers-query.js
  client/blocks/reader-post-actions/index.jsx
  client/blocks/reader-post-actions/test/index.jsx
  client/blocks/reader-post-card/index.jsx
  client/blocks/reader-post-options-menu/index.jsx
  client/components/data/query-reader-teams/README.md
  client/components/data/query-reader-teams/index.jsx
  client/components/data/with-reader-teams/index.tsx
  client/components/data/with-reader-teams/test/index.test.tsx
  client/hosting/server-settings/main.tsx
  client/jetpack-cloud/sections/agency-dashboard/sites-overview/site-table/test/site-table.tsx
  client/me/account/main.jsx
  client/me/notification-settings/reader-subscriptions/index.jsx
  client/reader/components/crowdsignal-poll/index.tsx
  client/reader/controller.js
  client/reader/sidebar/index.jsx
  client/reader/stream/customer-council-banner.jsx
  client/sites/components/sites-dataviews/p2-sites.tsx
  client/state/data-layer/wpcom/read/teams/index.js
  client/state/data-layer/wpcom/read/teams/test/index.js
  client/state/selectors/test/is-requesting-reader-teams.js
  client/state/teams/action-types.js
  client/state/teams/actions.js
  client/state/teams/init.js
  client/state/teams/package.json
  client/state/teams/reducer.js
  client/state/teams/schema.js
  client/state/teams/selectors/get-reader-teams.js
  client/state/teams/selectors/index.js
  client/state/teams/selectors/is-a8c-team-member.js
  client/state/teams/selectors/is-requesting-reader-teams.js
  client/state/teams/test/reducer.js
  packages/api-queries/src/index.ts
  packages/api-queries/src/read-teams.ts
Owners: @Automattic/loop

Reader: migrate QueryReaderThumbnails to React Query (READ-376) (#110321)
  client/blocks/reader-featured-video/index.jsx
  client/components/data/query-reader-thumbnails/README.md
  client/components/data/query-reader-thumbnails/index.jsx
  client/state/reader/action-types.ts
  client/state/reader/reducer.ts
  client/state/reader/thumbnails/actions.js
  client/state/reader/thumbnails/reducer.js
  client/state/reader/thumbnails/selectors.js
  client/state/reader/thumbnails/test/actions.js
  client/state/reader/thumbnails/test/fixtures/sample-videopress-response.js
  client/state/reader/thumbnails/test/fixtures/sample-vimeo-response.js
  client/state/reader/thumbnails/test/reducer.js
  client/state/reader/thumbnails/test/selectors.js
  packages/api-core/src/index.ts
  packages/api-core/src/read-thumbnails/__tests__/fetchers.test.ts
  packages/api-core/src/read-thumbnails/fetchers.ts
  packages/api-core/src/read-thumbnails/index.ts
  packages/api-core/src/read-thumbnails/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/read-thumbnails.ts
Owners: @Automattic/loop

Purchase Settings: transient success notice + expired-state polish (#110170)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/billing-purchases/purchase-settings/classify-purchase-for-copy.ts
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/me/billing-purchases/purchase-settings/purchase-cancelled-notice.tsx
  client/dashboard/me/billing-purchases/purchase-settings/purchase-notice.tsx
  client/me/purchases/manage-purchase/index.tsx
  client/me/purchases/manage-purchase/notices.tsx
Owners: @Automattic/lego, @Automattic/shilling

Stepper: Domain search header copy for Woo hosting solutions (#110231)
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
Owners: none

Podcast: rename route from /podcast to /podcasting (#110324)
  client/my-sites/podcast/components/welcome.tsx
  client/my-sites/podcast/controller.ts
  client/my-sites/podcast/hooks/use-access-gate.tsx
  client/my-sites/podcast/index.ts
  client/my-sites/podcast/main.tsx
  client/my-sites/podcast/style.scss
  client/sections.js
Owners: none

Podcast: add submit modal to distribution page (#110292)
  client/my-sites/podcast/components/distribution.tsx
  client/my-sites/podcast/components/submit-modal.tsx
  client/my-sites/podcast/hooks/use-podcatcher-url.ts
  client/my-sites/podcast/style.scss
Owners: none

Podcast: add Settings tab (#110291)
  client/my-sites/podcast/components/settings.tsx
  client/my-sites/podcast/components/welcome.tsx
  client/my-sites/podcast/index.ts
  client/my-sites/podcast/main.tsx
  client/my-sites/podcast/style.scss
  client/my-sites/site-settings/podcast-cover-image-setting/index.jsx
Owners: none

Omnibar: add site switcher node (#110300)
  client/dashboard/app/omnibar/events.ts
  client/dashboard/app/omnibar/omnibar-site-switcher.tsx
  client/dashboard/app/omnibar/omnibar.tsx
  client/dashboard/app/omnibar/plugin-site-switcher.tsx
  client/dashboard/app/root/index.tsx
  packages/omnibar/src/components/omnibar-site.tsx
  packages/omnibar/src/components/omnibar.tsx
  packages/omnibar/src/types/omnibar.ts
Owners: @Automattic/lego

Cancel survey: intent-aware button copy + next-adventure test coverage (#110171)
  client/components/marketing-survey/cancel-purchase-form/domain-cancellation-survey.tsx
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/components/marketing-survey/cancel-purchase-form/step-components/next-adventure-step.tsx
  client/components/marketing-survey/cancel-purchase-form/step-components/test/next-adventure-step.test.tsx
  client/me/purchases/cancel-purchase/button.tsx
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
