Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Onboarding E2E: Fix visibility settings launch redirect URL (#109876)
  test/e2e/specs/onboarding/lifecycle__signup-onboarding-launch-cancel.ts
Owners: none

Launch Site Flow: Add more permissive WP Admin redirects (#109874)
  client/signup/config/flows.js
Owners: none

Typo in CIAB theme variables file (#109879)
  client/dashboard/app-ciab/style.scss
Owners: @Automattic/lego

Dashboard: Anchor notifications popover when toggled via 'n' shortcut (#109826)
  client/dashboard/app/interim-omnibar/click-handlers.ts
  client/dashboard/app/interim-omnibar/index.tsx
  client/dashboard/app/interim-omnibar/interim-omnibar.tsx
  client/dashboard/app/notifications/index.tsx
Owners: @Automattic/lego

MSD: Implement logout in interim omnibar (#109852)
  client/dashboard/app/interim-omnibar/interim-omnibar.tsx
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
Owners: @Automattic/lego

Fix: Prevent wp-admin redirect on Calypso Live (#109697)
  client/root.js
Owners: none

Subscribers: Fix comp subscribers redirecting to /earn on removal (#109875)
  client/my-sites/subscribers/components/unsubscribe-modal/unsubscribe-modal.tsx
  client/my-sites/subscribers/mutations/use-subscriber-remove-mutation.ts
Owners: none

fix(e2e): reduce Mailosaur quota via Gmail aliasing (#109777)
  packages/calypso-e2e/src/data-helper.ts
  packages/calypso-e2e/src/lib/pages/signup/user-signup-page.ts
  packages/calypso-e2e/src/rest-api-client.ts
  packages/calypso-e2e/src/secrets/encrypted.enc
  packages/calypso-e2e/src/secrets/secrets-manager.ts
  packages/calypso-e2e/src/secrets/types.ts
  test/e2e/lib/pw-base.ts
  test/e2e/specs/onboarding/onboarding__double-login.ts
  test/e2e/specs/onboarding/onboarding__write.ts
  test/e2e/specs/onboarding/signup__woo-email.ts
  test/e2e/specs/onboarding/signup__wpcc.ts
  test/e2e/specs/users/invite__new-user.spec.ts
  test/e2e/specs/users/invite__revoke.spec.ts
Owners: none

A4A-2371: Align lead matching form to source-truth contract (#109866)
  client/a8c-for-agencies/sections/partner-directory/components/hooks/use-form-selectors.ts
  client/a8c-for-agencies/sections/partner-directory/components/service-level-selector.tsx
  client/a8c-for-agencies/sections/partner-directory/lead-matching/hooks/use-lead-matching-save-state.ts
  client/a8c-for-agencies/sections/partner-directory/lead-matching/hooks/use-submit-form.ts
  client/a8c-for-agencies/sections/partner-directory/lead-matching/index.tsx
  client/a8c-for-agencies/sections/partner-directory/lead-matching/options.ts
  client/a8c-for-agencies/sections/partner-directory/lead-matching/test/use-lead-matching-save-state.test.ts
  client/a8c-for-agencies/sections/partner-directory/lead-matching/test/validation.test.ts
  client/a8c-for-agencies/sections/partner-directory/types.ts
  client/a8c-for-agencies/sections/partner-directory/utils/map-application-form-data.ts
  client/a8c-for-agencies/sections/partner-directory/utils/test/map-lead-matching-form-data.test.ts
  client/state/a8c-for-agencies/agency/test/actions.ts
Owners: none

A4A: Fix bug with WPCOM owned sites count. (#109889)
  client/a8c-for-agencies/hooks/use-wpcom-owned-sites.ts
Owners: none

Subscribers: add Remove comp action to actions menu (#109873)
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
Owners: none

fix: prevent comp modal product dropdown from rendering reversed (#109872)
  client/my-sites/subscribers/components/comp-modal/style.scss
Owners: none

Fix next step button sending messages with wrong agent (#109887)
  packages/agents-manager/src/components/agent-dock/style.scss
  packages/agents-manager/src/components/next-step-button/index.tsx
  packages/agents-manager/src/components/next-step-button/style.scss
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/utils/__tests__/convert-tool-messages-to-components.test.ts
  packages/agents-manager/src/utils/convert-tool-messages-to-components.ts
Owners: none

MSD: Site Performance: Standardize site launch (#109815)
  client/dashboard/sites/performance/index.tsx
Owners: @Automattic/lego

Subscribers: add comp filter for subscription type (#109892)
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
  client/my-sites/subscribers/constants.ts
Owners: none

Consolidate SiteLaunchCelebrationModal trigger logic at site level (#109823)
  client/dashboard/sites/performance/index.tsx
  client/dashboard/sites/settings-site-visibility/index.tsx
  client/dashboard/sites/site-launch-celebration-modal/index.tsx
  client/dashboard/sites/site-launch-celebration-modal/test/index.test.tsx
  client/dashboard/sites/site/index.tsx
  client/hosting/performance/site-performance.tsx
Owners: @Automattic/lego

Configure session recording in PostHog package (#109471)
  client/dashboard/app-ciab/index.tsx
  client/dashboard/app-ciab/posthog.ts
  client/dashboard/app/context.tsx
  client/dashboard/app/layout.tsx
  client/landing/stepper/declarative-flow/flows/ai-site-builder-spec/ai-site-builder-spec.ts
  packages/posthog/README.md
  packages/posthog/src/index.ts
Owners: @Automattic/lego

Add woo-hosted storage to plan card group and priority support feature (#109893)
  packages/calypso-products/src/constants/features.ts
  packages/calypso-products/src/feature-group-plan-map.ts
  packages/calypso-products/src/features-list.tsx
  packages/calypso-products/src/plans-list.tsx
Owners: none

Unify site launch celebration modal (#109896)
  client/dashboard/sites/site-launch-celebration-modal/index.tsx
  client/dashboard/sites/site-launch-celebration-modal/test/index.test.tsx
  client/layout/index.jsx
  client/layout/masterbar/item.tsx
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/masterbar-launch-button.tsx
  client/my-sites/customer-home/cards/launchpad/intent-newsletter.tsx
  client/my-sites/customer-home/cards/launchpad/pre-launch.tsx
  client/my-sites/customer-home/cards/launchpad/use-celebrate-launch-modal.ts
  client/my-sites/customer-home/celebrate-site-launch-modal/index.tsx
  client/my-sites/customer-home/celebrate-site-launch-modal/use-side-effects.ts
  client/my-sites/customer-home/components/celebrate-launch-modal.jsx
  client/my-sites/customer-home/components/celebrate-launch-modal.scss
  client/my-sites/customer-home/components/full-screen-launchpad.tsx
  client/my-sites/customer-home/components/home-content/index.jsx
  client/my-sites/customer-home/components/home-content/test/home-content.tsx
  client/my-sites/customer-home/test/celebrate-launch-modal.tsx
  client/state/action-types.ts
  client/state/sites/launch/actions.js
  client/state/sites/launch/reducers.ts
  client/state/sites/launch/selectors.ts
Owners: @Automattic/lego

MSD: Add sidebar top padding when no logo (#109880)
  client/dashboard/app/responsive-sidebar/sidebar.scss
Owners: @Automattic/lego

Enable dashboard/omnibar in development and horizon (#109900)
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/development.json
  config/horizon.json
  test/e2e/specs/dashboard/dashboard__rum-tracking.spec.ts
Owners: none

Analytics: Add source field to calypso_masterbar_launch_site event (#109838)
  client/layout/masterbar/masterbar-launch-button.tsx
Owners: none

Fix: Disable dashboard/omnibar on horizon (#109901)
  config/horizon.json
Owners: none

ExPlat: Downgrade SSR anon-id messages to info (#109849)
  client/lib/explat/internals/anon-id.ts
  client/lib/explat/internals/log-error.ts
  client/lib/explat/internals/test/anon-id.ts
Owners: @Automattic/experimentation-platform

MSD: Refactor interim omnibar to hooks-based data flow (#109881)
  client/dashboard/app/interim-omnibar/index.tsx
  client/dashboard/app/interim-omnibar/interim-omnibar-container.tsx
Owners: @Automattic/lego

Improve version switch UI copy (#109903)
  client/dashboard/sites/settings-wordpress/beta-program-notice.tsx
  client/dashboard/sites/settings-wordpress/version-switch-notice.tsx
Owners: @Automattic/lego

Image Studio: Improve CIAB compatibility (#109382)
  packages/image-studio/src/components/canvas-controls/style.scss
  packages/image-studio/src/components/header/style.scss
  packages/image-studio/src/components/sidebar/editable-field.scss
  packages/image-studio/src/components/style.scss
  packages/image-studio/src/components/styles/_variables.scss
  packages/image-studio/src/index.tsx
Owners: none

Fix: Masterbar Horizon crash from string icon in createInterpolateElement (#109905)
  client/layout/masterbar/logged-in.jsx
Owners: none

MSD: refactor interim omnibar: extract store and events (#109906)
  client/dashboard/app/boot.tsx
  client/dashboard/app/interim-omnibar/index.tsx
  client/dashboard/app/interim-omnibar/interim-omnibar-container.tsx
  client/dashboard/app/interim-omnibar/interim-omnibar.tsx
  client/dashboard/app/interim-omnibar/omnibar-events.ts
  client/dashboard/app/interim-omnibar/omnibar-store.ts
  client/dashboard/app/notifications/index.tsx
  client/dashboard/app/root/index.tsx
Owners: @Automattic/lego

fix: Guard against `null` `currentUser` in `HelpCenterContactForm` (#109526)
  packages/help-center/jest.config.js
  packages/help-center/src/components/help-center-contact-form.tsx
  packages/help-center/src/components/test/help-center-contact-form.tsx
  packages/help-center/src/test/__mocks__/automattic-calypso-products.js
  packages/help-center/src/test/__mocks__/automattic-components.js
  packages/help-center/src/test/__mocks__/automattic-data-stores.js
  packages/help-center/src/test/__mocks__/automattic-onboarding.js
  packages/help-center/src/test/__mocks__/automattic-zendesk-client.js
  packages/help-center/src/test/__mocks__/wordpress-components.js
Owners: @Automattic/t-rex

Rename styles for count component to a8c-count so it wont leak and af… (#109824)
  apps/blaze-dashboard/src/app.scss
  client/blocks/all-sites/style.scss
  client/blocks/reader-suggested-follows/style.scss
  client/blocks/stats-navigation/style.scss
  client/components/bulk-select/style.scss
  client/components/section-header/style.scss
  client/components/section-nav/item.scss
  client/components/site-selector/style.scss
  client/jetpack-cloud/components/layout/style.scss
  client/jetpack-cloud/sections/agency-dashboard/sites-overview/site-bulk-select/style.scss
  client/jetpack-cloud/sections/partner-portal/license-state-filter/style.scss
  client/landing/subscriptions/components/tabs-switcher/styles.scss
  client/layout/hosting-dashboard/style.scss
  client/layout/sidebar/style.scss
  client/layout/style.scss
  client/my-sites/plugins/plugin-item/style.scss
  client/my-sites/promote-post-i2/components/campaign-item-page/style.scss
  client/my-sites/promote-post-i2/components/promoted-post-filter/index.tsx
  client/my-sites/promote-post-i2/style.scss
  client/my-sites/sidebar/style.scss
  client/my-sites/stats/post-detail-highlights-section/style.scss
  client/my-sites/stats/stats-post-likes/style.scss
  client/reader/sidebar/style.scss
  client/reader/site-subscriptions-manager/style.scss
  client/reader/stream/style.scss
  packages/components/src/count/index.jsx
  packages/components/src/count/style.scss
  packages/components/src/select-dropdown/style.scss
Owners: @Automattic/loop

Fix flaky E2E TimeoutErrors in checkout and signup plan pages (#109422)
  packages/calypso-e2e/src/lib/components/domain-search-component.ts
  packages/calypso-e2e/src/lib/pages/cart-checkout-page.ts
  packages/calypso-e2e/src/lib/pages/signup/signup-pick-plan-page.ts
Owners: none

Launch Site Standardization: Update experiment name and variants (#109902)
  client/dashboard/sites/site-launch-button/index.tsx
  client/hosting/performance/site-performance.tsx
  client/layout/masterbar/masterbar-launch-button.tsx
  client/my-sites/customer-home/cards/launchpad/pre-launch.tsx
Owners: @Automattic/lego

Agents Manager: Restrict zoom action to editor pages (#109908)
  packages/agents-manager/src/hooks/use-sources-action.ts
  packages/agents-manager/src/hooks/use-zoom-action.ts
Owners: none

Newsletter Settings: Redirect to wp-admin Jetpack Newsletter settings (#109195)
  client/my-sites/site-settings/settings-controller.js
  client/my-sites/site-settings/settings-newsletter/controller.ts
  client/my-sites/site-settings/settings-newsletter/index.ts
Owners: none

Reader: Show login-required message when comments need registration (#109658)
  client/blocks/comments/comment-actions.jsx
  client/blocks/comments/form.jsx
  client/blocks/comments/test/form.jsx
  client/blocks/reader-full-post/index.jsx
  client/blocks/reader-post-actions/index.jsx
  client/blocks/reader-post-card/post-card-comments.jsx
  client/reader/post/capabilities/index.ts
  client/reader/post/capabilities/test/index.ts
Owners: @Automattic/loop

Enable reset option for staging sites (#108969)
  client/dashboard/sites/features.ts
  client/dashboard/sites/settings/danger-zone.tsx
Owners: @Automattic/lego

Dashboard: Open launch celebration modal when launch_status is false (#109919)
  client/dashboard/sites/site-launch-celebration-modal/index.tsx
  client/dashboard/sites/site-launch-celebration-modal/test/index.test.tsx
Owners: @Automattic/lego

A4A: keep lead-matching business type Other option (#109918)
  client/a8c-for-agencies/sections/partner-directory/components/hooks/use-form-selectors.ts
  client/a8c-for-agencies/sections/partner-directory/lead-matching/index.tsx
  client/a8c-for-agencies/sections/partner-directory/lead-matching/options.ts
  client/a8c-for-agencies/sections/partner-directory/lead-matching/test/validation.test.ts
  client/a8c-for-agencies/sections/partner-directory/utils/map-application-form-data.ts
  client/a8c-for-agencies/sections/partner-directory/utils/test/map-lead-matching-form-data.test.ts
Owners: none

Launch Site Standardization: Refetch site data after launching within Calypso Dashboard site visibility settings (#109920)
  client/dashboard/sites/settings-site-visibility/index.tsx
  client/dashboard/sites/settings-site-visibility/launch-form.tsx
  client/dashboard/sites/site-launch-button/index.tsx
  client/sites/v2/site-settings/router.tsx
Owners: @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
