Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Remove LogRocket integration related code (#111895)
  client/components/jetpack/backup-now-button/index.tsx
  client/components/jetpack/daily-backup-status/status-card/backup-in-progress.tsx
  client/components/jetpack/daily-backup-status/status-card/backup-just-completed.tsx
  client/jetpack-cloud/components/sidebar/index.tsx
  client/lib/analytics/ad-tracking/constants.js
  client/lib/analytics/logrocket.js
  client/lib/analytics/tracker-buckets.ts
  client/my-sites/backup/backup-upsell/index.tsx
  client/state/analytics/middleware.js
  config/jetpack-cloud-production.json
Owners: none

Stats: link subscriber names to individual details page (#111716)
  client/my-sites/stats/hooks/use-subscribers-totals-query.tsx
  client/my-sites/stats/stats-followers/index.jsx
  client/my-sites/stats/stats-list/stats-list-card.jsx
Owners: none

Plans: Add delayed downgrade flow (#111637)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/me/billing-purchases/purchase-settings/purchase-notice.tsx
  client/me/purchases/manage-purchase/index.tsx
  client/me/purchases/manage-purchase/notices.tsx
  client/me/purchases/manage-purchase/test/notices.js
  client/my-sites/plans-features-main/components/downgrade-confirmation-modal/index.tsx
  client/my-sites/plans-features-main/components/downgrade-confirmation-modal/style.scss
  client/my-sites/plans-features-main/index.tsx
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  config/development.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
  packages/api-core/src/constants.ts
  packages/api-core/src/upgrades/mutators.ts
  packages/api-core/src/upgrades/types.ts
  packages/api-queries/src/upgrades.ts
  packages/data-stores/src/purchases/lib/assembler.ts
  packages/data-stores/src/purchases/types.ts
Owners: @Automattic/lego, @Automattic/shilling

Minor refactor: Use helper to order suggestions (#111936)
  packages/jetpack-ai-sidebar/src/index.ts
Owners: none

Lodash: replace sortBy() and orderBy() (#111908)
  client/components/payment-logo/docs/example.jsx
  client/components/pie-chart/legend.jsx
  client/data/emails/use-add-email-forward-mutation.tsx
  client/jetpack-cloud/sections/partner-portal/lib/select-alphabetically-sorted-product-options.ts
  client/lib/importer/importer-config.tsx
  client/lib/plugins/utils.js
  client/lib/query-manager/key.js
  client/my-sites/earn/paid-subscriptions/index.tsx
  client/my-sites/importer/site-importer/site-importer-input-pane.jsx
  client/post-editor/media-modal/gallery/edit.jsx
  client/signup/utils.js
  client/state/automated-transfer/eligibility/reducer.js
  client/state/comments/reducer.js
  client/state/comments/selectors/get-date-sorted-post-comments.js
  client/state/comments/selectors/get-site-comments.js
  client/state/data-layer/wpcom-http/pipeline/remove-duplicate-gets/index.js
  client/state/plugins/installed/selectors.js
  client/state/selectors/get-sites.js
  client/state/selectors/get-undeleted-sites.js
  client/state/stats/email-chart-tabs/selectors.js
  client/state/stats/lists/utils.js
  packages/calypso-eslint-overrides/lodash-restricted-imports.js
  packages/js-utils/src/base-order-by.ts
  packages/js-utils/src/index.ts
  packages/js-utils/src/order-by.ts
  packages/js-utils/src/sort-by.ts
  packages/js-utils/src/test/order-by.ts
  packages/js-utils/src/test/sort-by.ts
Owners: none

Fix masterbar submenu group spacing (#111864)
  client/layout/masterbar/style.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_aquatic.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_blue.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_classic-blue.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_classic-bright.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_classic-dark.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_coffee.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_contrast.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_default.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_ectoplasm.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_light.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_midnight.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_modern.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_nightfall.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_ocean.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_powder-snow.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_sakura.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_sunrise.scss
  packages/calypso-color-schemes/src/shared/color-schemes/_sunset.scss
Owners: none

Dashboard: remove Blocked Sites from me-sidebar (#111915)
  client/dashboard/me/me-sidebar/index.tsx
Owners: @Automattic/lego

Notifications: enlarge notification type icons (#111900)
  apps/notifications/src/app/note-list/dataviews.tsx
  apps/notifications/src/app/note-list/style.scss
Owners: none

Notifications: increase unread row background contrast (#111905)
  apps/notifications/src/app/note-list/dataviews-overrides.scss
  apps/notifications/src/app/note-list/dataviews.tsx
  apps/notifications/src/app/note-list/index.tsx
  apps/notifications/src/app/note-list/test/index.test.tsx
Owners: none

Notifications: restore time-grouped sections via DataViews groupBy (#111867)
  apps/notifications/src/app/note-list/dataviews-overrides.scss
  apps/notifications/src/app/note-list/dataviews.tsx
  apps/notifications/src/app/note-list/index.tsx
  apps/notifications/src/app/note-list/style.scss
  apps/notifications/src/app/note-list/test/index.test.tsx
Owners: none

WOOAI-659 expose loaded provider IDs (#111876)
  apps/agents-manager/__tests__/agents-manager-gutenberg.test.js
  apps/agents-manager/__tests__/jetpack-ai-sidebar-preview-gate.test.js
  apps/agents-manager/jetpack-ai-sidebar-preview-gate.js
  apps/agents-manager/jetpack-ai-sidebar.js
  apps/agents-manager/jetpack-ai-sidebar.provider.mjs
  packages/agents-manager/src/components/agents-manager.tsx
  packages/agents-manager/src/components/headless-agent-initializer.tsx
  packages/agents-manager/src/global.d.ts
  packages/agents-manager/src/utils/__tests__/create-agent-config.test.ts
  packages/agents-manager/src/utils/__tests__/load-external-providers.test.ts
  packages/agents-manager/src/utils/create-agent-config.ts
  packages/agents-manager/src/utils/load-external-providers.ts
Owners: none

Lodash: replace reject(), flow(), defaults() and concat() (#111937)
  client/components/domains/registrant-extra-info/fr-form.tsx
  client/components/line-chart/index.jsx
  client/components/payment-logo/docs/example.jsx
  client/components/site-selector/index.jsx
  client/lib/post-normalizer/test/index.js
  client/lib/signup/flow-controller.ts
  client/my-sites/plugins/main.jsx
  client/post-editor/media-modal/gallery/remove-button.jsx
  client/post-editor/media-modal/index.jsx
  client/reader/data/post/normalization/index.js
  client/server/middleware/assets.js
  client/signup/config/flows.js
  client/state/comments/reducer.js
  client/state/connected-applications/reducer.js
  client/state/domains/dns/reducer.js
  client/state/posts/utils/apply-post-edits.js
  client/state/posts/utils/merge-post-edits.js
  client/state/posts/utils/normalize-post-for-display.js
  packages/calypso-eslint-overrides/lodash-restricted-imports.js
  packages/js-utils/src/defaults.ts
  packages/js-utils/src/flow.ts
  packages/js-utils/src/index.ts
  packages/js-utils/src/test/defaults.ts
  packages/js-utils/src/test/flow.ts
Owners: @Automattic/quake, @Automattic/loop, @Automattic/nomado

Notifications: lighten note titles in dark mode (#111941)
  apps/notifications/src/app/note-list/dataviews-overrides.scss
Owners: none

Lodash: replace set() (#111942)
  client/components/domains/registrant-extra-info/fr-form.tsx
  client/state/analytics/actions/enhance-with-global-site-view-enabled.ts
  client/state/analytics/actions/enhance-with-site-type.js
  client/state/analytics/actions/enhance-with-user-is-dev-account.ts
  client/state/analytics/actions/record-with-client-id.js
  client/state/analytics/test/helpers/analytics-mock.js
  client/state/data-layer/utils.js
  client/state/posts/reducer.js
  client/state/stats/chart-tabs/reducer.js
  packages/calypso-eslint-overrides/lodash-restricted-imports.js
  packages/js-utils/src/base-order-by.ts
  packages/js-utils/src/index.ts
  packages/js-utils/src/set.ts
  packages/js-utils/src/test/set.ts
  packages/js-utils/src/to-path.ts
Owners: @Automattic/quake

MSD Plugins: show "No plugins found." empty state for no-results search (DOTMSD-1343) (#111943)
  client/dashboard/components/switcher/switcher-content.scss
  client/dashboard/components/switcher/switcher-content.tsx
  client/dashboard/plugins/manage/components/plugin-switcher.scss
  client/dashboard/plugins/manage/components/plugin-switcher.tsx
  client/dashboard/plugins/manage/components/test/plugin-switcher.test.tsx
Owners: @Automattic/lego

Calypso E2E: fix sidebar init and test stability for Global Nav 2026 (#111920)
  packages/calypso-e2e/src/lib/components/sidebar-component.ts
  test/e2e/specs/color-scheme/dark-mode-surfaces.spec.ts
  test/e2e/specs/i18n/i18n__editor.spec.ts
Owners: none

E2E: measure post-publish 404 availability window (#111845)
  packages/calypso-e2e/src/element-helper.ts
  packages/calypso-e2e/src/lib/pages/editor-page.ts
  packages/calypso-e2e/src/test/element-helper.test.ts
Owners: none

Update Site Spec to v1.12.0 (#111946)
  config/_shared.json
Owners: none

Reader Spaces: reload the space feed after tag/feed edits (#111947)
  packages/api-queries/src/__tests__/read-spaces.test.tsx
  packages/api-queries/src/read-spaces.ts
Owners: none

Plugins: keep tab underline aligned when switching plugins (DOTMSD-1335) (#111948)
  client/dashboard/plugins/plugin/index.tsx
Owners: @Automattic/lego

Reader Spaces: redirect to /reader after deleting a space (#111949)
  client/reader/spaces/customize-modal/index.tsx
  client/reader/spaces/customize-modal/test/index.test.tsx
Owners: @Automattic/loop

Reader Spaces: Persist list data in cache (#111931)
  client/reader/spaces/README.md
  packages/api-queries/src/__tests__/read-spaces.test.tsx
  packages/api-queries/src/read-spaces.ts
Owners: @Automattic/loop

E2E: verify Jetpack sidebar activation in editor openSettings (#111912)
  packages/calypso-e2e/src/lib/components/editor-toolbar-component.ts
  test/e2e/specs/editor/editor__post-basic-flow.ts
Owners: none

Reader: wrap Recent feed list titles to two lines (READ-128) (#110498)
  client/reader/recent/style.scss
Owners: @Automattic/loop

Reader: fix tag-stream sidebar counters for users on regional locales (READ-484) (#110501)
  client/data/reader/test/use-tag-stats.test.ts
  client/data/reader/use-tag-stats.ts
Owners: none

Reader: clear the floating 2026 nav on the logged-out hero (#111950)
  client/reader/style.scss
Owners: @Automattic/loop

Plans: Prevent showing "Change plan" for non-downgradable plans (#111939)
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/utils/purchase.ts
  client/me/purchases/manage-purchase/index.tsx
Owners: @Automattic/lego, @Automattic/shilling

Reader Spaces: prefetch a space's feed on sidebar hover (#111952)
  client/reader/sidebar/spaces/index.tsx
  client/reader/sidebar/spaces/menu-item.tsx
  client/reader/sidebar/spaces/test/index.test.tsx
  client/reader/sidebar/spaces/test/menu-item.test.tsx
Owners: @Automattic/loop

E2E: retry UI signup on transient upstream 5xx (#111846)
  packages/calypso-e2e/src/lib/pages/signup/user-signup-page.ts
Owners: none

Reader: render standard.site long-form posts inline in the Atmosphere stream (CM-790) (#111054)
  client/reader/social/components/post-card/post-card-embed-external.tsx
  client/reader/social/components/post-card/style.scss
  client/reader/social/components/post-card/test/post-card-embed-external.test.tsx
  client/reader/social/types.ts
  packages/api-core/src/reader-atmosphere/types.ts
Owners: @Automattic/loop

Reader: fix wide unread count badges overflowing sidebar column (#111662)
  client/reader/sidebar/style.scss
Owners: @Automattic/loop

Reader: replace Quick Post with a Write button (#111935)
  client/reader/components/quick-post/hooks/use-post-mutation.ts
  client/reader/components/quick-post/index.tsx
  client/reader/components/quick-post/lazy.tsx
  client/reader/components/quick-post/skeleton/index.tsx
  client/reader/components/quick-post/skeleton/style.scss
  client/reader/components/quick-post/stats/index.ts
  client/reader/components/quick-post/style.scss
  client/reader/components/quick-post/test/index.test.tsx
  client/reader/components/quick-post/test/lazy.test.tsx
  client/reader/components/quick-post/utils.ts
  client/reader/following/main.tsx
  client/reader/following/style.scss
  client/reader/following/test/write-button.test.tsx
  client/reader/following/write-button.tsx
  client/reader/on-this-day/main.tsx
  client/reader/stream/index.jsx
Owners: @Automattic/loop

Raise Agents Manager or Help Center panels on focus (#111790)
  client/assets/stylesheets/shared/functions/_z-index.scss
  client/package.json
  packages/agents-manager/package.json
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/agent-dock/style.scss
  packages/agents-manager/src/components/agent-history/index.tsx
  packages/agents-manager/src/components/chat-header/index.tsx
  packages/agents-manager/src/components/support-guide/index.tsx
  packages/agents-manager/src/components/support-guides/index.tsx
  packages/agents-manager/src/hooks/use-agent-layout-manager/index.tsx
  packages/agents-manager/src/styles/variables.scss
  packages/agents-manager/src/utils/__tests__/observe-editor-canvas-pointerdown.test.ts
  packages/agents-manager/src/utils/observe-editor-canvas-pointerdown.ts
  packages/block-notes/package.json
  packages/data-stores/src/agents-manager/actions.ts
  packages/data-stores/src/agents-manager/reducer.ts
  packages/data-stores/src/agents-manager/selectors.ts
  packages/help-center/src/components/_variables.scss
  packages/help-center/src/components/help-center-container.tsx
  packages/help-center/src/components/help-center-header.tsx
  packages/help-center/src/styles.scss
  packages/image-studio/package.json
  packages/jetpack-ai-sidebar/package.json
  packages/odie-client/package.json
  yarn.lock
Owners: @Automattic/t-rex

fix response actions (#111930)
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/hooks/__tests__/use-feedback-action.test.ts
  packages/agents-manager/src/hooks/use-copy-action.ts
  packages/agents-manager/src/hooks/use-feedback-action.ts
Owners: none

Pricing grid: add missing comparison features (#111963)
  packages/calypso-products/src/feature-group-plan-map.ts
  packages/calypso-products/src/plans-list.tsx
  packages/plans-grid-next/src/components/comparison-grid/index.tsx
Owners: @Automattic/martech

Update the experiment id (#111922)
  client/my-sites/plans-features-main/hooks/test/use-renewal-price-experiment.ts
  client/my-sites/plans-features-main/hooks/use-renewal-price-experiment.ts
Owners: none

Fix two tree-wide calypso-pr e2e failures (SEO category + audio upload) (#111959)
  packages/calypso-e2e/src/lib/blocks/audio-block.ts
  packages/calypso-e2e/src/lib/pages/plugins-page.ts
  test/e2e/specs/plugins/plugins__browse.ts
Owners: none

client/site-profiler: React-18-safe cleanups extracted from the React 19 spike (#111966)
  client/site-profiler/components/basic-metrics/index.tsx
  client/site-profiler/components/metrics-section/index.tsx
  client/site-profiler/components/site-profiler-v2.tsx
  client/site-profiler/components/site-profiler.tsx
  client/site-profiler/hooks/use-is-menu-section-visible.ts
Owners: none

Update age-gated vulnerable dependencies (#111967)
  client/package.json
  package.json
  packages/calypso-e2e/package.json
  packages/odie-client/package.json
  test/e2e/package.json
  yarn.lock
Owners: none

Plans: gate Downgrade button on available_for_downgrade (#111968)
  client/my-sites/plans-features-main/hooks/test/use-generate-action-hook.ts
  client/my-sites/plans-features-main/hooks/use-generate-action-hook.tsx
  packages/plans-grid-next/src/components/shared/action-button/index.tsx
Owners: @Automattic/martech

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
