Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Stepper: Add round-2 account-step improvement experiment (#110757)
  client/blocks/signup-form/signup-form-social-first.tsx
  client/blocks/signup-form/style.scss
  client/blocks/signup-form/test/signup-form-social-first.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/test/use-account-creation-experiment.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/__user/use-account-creation-experiment.ts
Owners: none

Reader Fediverse: add Notifications tab (CM-744) (#110820)
  client/reader/atmosphere/notifications-panel.tsx
  client/reader/fediverse/fediverse-account-view.tsx
  client/reader/fediverse/fediverse-navigation.tsx
  client/reader/fediverse/helper.ts
  client/reader/fediverse/notifications-panel.tsx
  client/reader/fediverse/test/fediverse-navigation.test.tsx
  client/reader/fediverse/test/notifications-panel.test.tsx
  client/reader/mastodon/notifications-panel.tsx
  client/reader/social/AGENTS.md
  client/reader/social/components/notifications-list/group-notifications.ts
  client/reader/social/components/notifications-list/index.tsx
  client/reader/social/components/notifications-list/notification-item.tsx
  client/reader/social/components/notifications-list/test/group-notifications.test.ts
  client/reader/social/components/notifications-list/test/index.test.tsx
  client/reader/social/index.ts
  client/reader/social/social-notifications-panel.tsx
  client/reader/social/test/social-notifications-panel.test.tsx
  packages/api-core/src/reader-fediverse/__tests__/fetchers.test.ts
  packages/api-core/src/reader-fediverse/fetchers.ts
  packages/api-core/src/reader-fediverse/query-keys.ts
  packages/api-core/src/reader-fediverse/types.ts
  packages/api-queries/src/__tests__/reader-fediverse.test.tsx
  packages/api-queries/src/reader-fediverse.ts
Owners: @Automattic/loop

Fix split-screen publish button clipping (#110774)
  packages/agents-manager/src/components/agent-dock/style.scss
Owners: none

Reader Fediverse: keep timeline avatars square for non-square sources (#110831)
  client/reader/social/components/post-card/style.scss
Owners: @Automattic/loop

Layout: restore universal header on /themes and /plugins (#110832)
  client/layout/index.jsx
Owners: none

Fix DataViews popover invisibility & filter row layout in classic Calypso (#110829)
  client/assets/stylesheets/_wp-components-overrides.scss
  client/sites/logs/components/style.scss
Owners: none

Reader: release achievements page to all users (#110828)
  client/data/reader/test/use-achievements-query.test.tsx
  client/data/reader/use-achievements-query.ts
  client/reader/components/achievements/test/use-achievements-visibility.test.ts
  client/reader/components/achievements/use-achievements-visibility.ts
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: @Automattic/loop

Displayed the correct billing text for monthly intro offers (#110842)
  packages/plans-grid-next/src/hooks/data-store/get-renewal-pricing-text.ts
Owners: @Automattic/martech

A4A Agent Studio: replace project creation with an agent brief flow (#110840)
  client/a8c-for-agencies/components/a4a-intro-video-strip/style.scss
  client/a8c-for-agencies/components/sidebar-menu/hooks/use-learn-menu-items.tsx
  client/a8c-for-agencies/components/sidebar-menu/hooks/use-main-menu-items.tsx
  client/a8c-for-agencies/lib/permission.ts
  client/a8c-for-agencies/sections/agent-studio/assets/agent-previews/event-assets.webp
  client/a8c-for-agencies/sections/agent-studio/assets/agent-previews/one-pager.webp
  client/a8c-for-agencies/sections/agent-studio/assets/agent-previews/social-assets.webp
  client/a8c-for-agencies/sections/agent-studio/components/agent-picker-modal/index.tsx
  client/a8c-for-agencies/sections/agent-studio/components/agent-picker-modal/style.scss
  client/a8c-for-agencies/sections/agent-studio/controller.tsx
  client/a8c-for-agencies/sections/agent-studio/data/mock-agent-studio-service.ts
  client/a8c-for-agencies/sections/agent-studio/data/test/mock-agent-studio-service.test.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-agent-studio-outputs.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-agent-studio-welcome-videos.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-create-agent-studio-output.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-delete-agent-studio-output.ts
  client/a8c-for-agencies/sections/agent-studio/data/use-suggest-one-pager-content.ts
  client/a8c-for-agencies/sections/agent-studio/lib/agents.ts
  client/a8c-for-agencies/sections/agent-studio/lib/paths.ts
  client/a8c-for-agencies/sections/agent-studio/primary/brief/brief-content.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/brief/brief-helpers.ts
  client/a8c-for-agencies/sections/agent-studio/primary/brief/image-upload-field.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/brief/index.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/brief/one-pager-brief-form.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/brief/social-assets-brief-form.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/brief/style.scss
  client/a8c-for-agencies/sections/agent-studio/primary/brief/test/brief-helpers.test.ts
  client/a8c-for-agencies/sections/agent-studio/primary/brief/use-submit-brief.ts
  client/a8c-for-agencies/sections/agent-studio/primary/overview/create-project-modal.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/overview/delete-deliverable-dialog.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/overview/deliverable-card.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/overview/index.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/overview/overview-content.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/overview/style.scss
  client/a8c-for-agencies/sections/agent-studio/primary/project-detail/index.tsx
  client/a8c-for-agencies/sections/agent-studio/primary/project-detail/project-detail-content.tsx
  client/a8c-for-agencies/sections/agent-studio/types.ts
  client/a8c-for-agencies/sections/learn/index.ts
Owners: none

Reader sidebar: cap social connections list and add View more link (#110843)
  client/reader/sidebar/reader-sidebar-connections/index.tsx
Owners: @Automattic/loop

Update @automattic/number-formatters to ^1.1.9 (#110845)
  apps/blaze-dashboard/package.json
  apps/happy-blocks/package.json
  package.json
  packages/calypso-products/package.json
  packages/components/package.json
  packages/data-stores/package.json
  packages/mini-cart/package.json
  packages/plans-grid-next/package.json
  packages/wpcom-checkout/package.json
  yarn.lock
Owners: @Automattic/martech, @Automattic/shilling

Add A4A payment-risk notice banner (#110785)
  client/a8c-for-agencies/components/payment-risk-notice-banner/constants.ts
  client/a8c-for-agencies/components/payment-risk-notice-banner/index.tsx
  client/a8c-for-agencies/components/payment-risk-notice-banner/menu-indicator.tsx
  client/a8c-for-agencies/components/payment-risk-notice-banner/style.scss
  client/a8c-for-agencies/components/payment-risk-notice-banner/test/index.test.tsx
  client/a8c-for-agencies/components/sidebar-menu/hooks/use-main-menu-items.tsx
  client/a8c-for-agencies/sections/overview/overview.tsx
  client/a8c-for-agencies/sections/purchases/billing/billing-dashboard.tsx
  client/a8c-for-agencies/sections/purchases/licenses/licenses-overview/index.tsx
  client/a8c-for-agencies/sections/purchases/payment-methods/payment-method-overview/index.tsx
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

DIFM: fix content form page-level saves on reload (#110847)
  client/signup/difm/page-instances.ts
  client/state/signup/steps/website-content/hooks/use-get-website-content-query.ts
  client/state/signup/steps/website-content/test/reducer.ts
  client/state/signup/steps/website-content/test/use-get-website-content-query.ts
Owners: none

APM: Add /hosting/apm/aggregate endpoint plumbing (#110849)
  packages/api-core/src/site-hosting-apm/fetchers.ts
  packages/api-core/src/site-hosting-apm/index.ts
  packages/api-core/src/site-hosting-apm/types.ts
  packages/api-queries/src/site-apm.ts
Owners: none

Dashboard: show comment text in notification list (#110853)
  apps/notifications/src/app/note-list/dataviews.tsx
  apps/notifications/src/app/note-list/style.scss
Owners: none

ExPlat: re-export getFeatureValue() from calypso/lib/explat (#110813)
  client/lib/explat/README.md
  client/lib/explat/index.ts
Owners: @Automattic/experimentation-platform

Invites: fix logged-out accept-invite layout issues (#110854)
  client/my-sites/invites/invite-accept-logged-out/style.scss
  client/my-sites/invites/invite-form-header-logged-out/index.jsx
Owners: none

A4A: Use @automattic/mcp-remote in MCP setup snippets (#110855)
  client/a8c-for-agencies/sections/ai-mcp/primary/connect-agent/agent-configs.tsx
Owners: none

Explat-client: add prefetchFlagPayload() to warm the /flags cache (#110815)
  client/lib/explat/index.ts
  packages/explat-client/src/create-explat-client.ts
  packages/explat-client/src/internal/test/get-feature-value.ts
Owners: @Automattic/experimentation-platform

Preferences language: simplify util, drop tautological tests (#110836)
  client/dashboard/me/preferences-language/languages.ts
  client/dashboard/me/preferences-language/test/languages.test.ts
Owners: @Automattic/lego

Logs: Fix indented chip row (#110839)
  client/sites/logs/components/style.scss
Owners: none

Revert "[A4A-2655] @wordpress/components: restore Menu popover visibility (#1…" (#110859)
  client/a8c-for-agencies/style.scss
Owners: none

Magic Login: forward redirectTo in the code variant (#110861)
  client/login/magic-login/request-login-code.jsx
  client/login/magic-login/test/request-login-code.test.jsx
Owners: none

A4A: Hide MCP tool cards until access is enabled (#110856)
  client/a8c-for-agencies/sections/ai-mcp/primary/overview/overview-content.tsx
Owners: none

A4A: Reports: restore site list panel after selecting a report (#110862)
  client/a8c-for-agencies/sections/reports/primary/dashboard/index.tsx
  client/a8c-for-agencies/sections/reports/primary/dashboard/reports-list.tsx
Owners: none

Help Center: fix WSOD when navigating back from a course article (#110783)
  packages/components/src/embed-container/index.jsx
  packages/help-center/src/components/back-button.tsx
  packages/help-center/src/components/help-center-content.tsx
  packages/help-center/src/hooks/use-help-center-search.ts
Owners: @Automattic/t-rex

Help Center: add scrim behind mobile sheet (#110834)
  packages/help-center/src/styles.scss
Owners: @Automattic/t-rex

Dictation: add usage tracking and limiting (#110837)
  packages/wpcom-smart-dictation/src/live-ai-assistant/index.tsx
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/client-secret.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/constants.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/errors.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/index.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/types.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/realtime-session/use-realtime-session.ts
  packages/wpcom-smart-dictation/src/live-ai-assistant/style.scss
  packages/wpcom-smart-dictation/src/live-ai-assistant/use-realtime-session.ts
Owners: none

Fix stale .rules/*.mdc reference in playwright agent descriptions (#110863)
  .claude/agents/playwright-test-generator.md
  .claude/agents/playwright-test-healer.md
  .claude/agents/playwright-test-planner.md
Owners: none

Dashboard: mount agents-manager in MSD when unified AI chat is enabled (#110803)
  client/dashboard/app/interim-omnibar/omnibar-agents-manager.tsx
  client/dashboard/app/interim-omnibar/test/omnibar-agents-manager.test.tsx
  client/dashboard/app/root/index.tsx
  packages/agents-manager/src/components/agent-dock/style.scss
Owners: @Automattic/lego

APM: Wire Overview tab and dashboard shell to real aggregate data (#110850)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/performance/backend/aggregate.ts
  client/dashboard/sites/performance/backend/index.tsx
  client/dashboard/sites/performance/backend/overview/chart-slot.tsx
  client/dashboard/sites/performance/backend/overview/index.tsx
  client/dashboard/sites/performance/backend/overview/slow-requests-list.tsx
  client/dashboard/sites/performance/backend/test/index.test.tsx
Owners: @Automattic/lego

Fix dictation icon rendering (#110866)
  apps/wpcom-smart-dictation/wpcom-smart-dictation.jsx
Owners: none

A4A: Refresh MCP setup snippets for the agencies-mcp endpoint (#110858)
  client/a8c-for-agencies/sections/ai-mcp/primary/connect-agent/agent-configs.tsx
  client/a8c-for-agencies/sections/ai-mcp/primary/connect-agent/connect-agent-content.tsx
Owners: none

Dashboard: remove tautological setEnqueued typeof test (#110867)
  client/dashboard/sites/backups/test/use-backup-state.test.tsx
Owners: @Automattic/lego

Activity Log: add Performed by filter to the wordpress.com filterbar (#110769)
  client/data/activity-log/use-activity-log-actors-query.js
  client/data/activity-log/utils.js
  client/my-sites/activity/filterbar/actor-selector.jsx
  client/my-sites/activity/filterbar/index.jsx
  client/state/activity-log/utils.js
Owners: none

Fix Reader Chat globals on P2 sites (#110826)
  apps/agents-manager/__tests__/disable-lodash-amd-loader.test.js
  apps/agents-manager/disable-lodash-amd-loader.js
  apps/agents-manager/webpack.config.js
Owners: none

Arcade Mode: bump MC stat on activation (#110869)
  client/layout/arcade-mode/activate.ts
Owners: none

Reader onboarding RSM - update eligibility and completion criteria. (#110827)
  client/reader/following/test/use-site-subscriptions.test.ts
  client/reader/following/use-site-subscriptions.ts
  client/reader/onboarding-rsm/constants.tsx
  client/reader/onboarding-rsm/index.tsx
  client/reader/onboarding-rsm/interests-modal/index.tsx
  client/reader/onboarding-rsm/interests-modal/test/index.test.tsx
  client/reader/onboarding-rsm/style.scss
  client/reader/onboarding-rsm/subscribe-modal/index.tsx
  client/reader/onboarding-rsm/subscribe-modal/test/index.test.tsx
  client/reader/onboarding-rsm/test/index.test.tsx
  packages/data-stores/src/reader/index.ts
  packages/data-stores/src/reader/queries/index.ts
Owners: @Automattic/loop

Reader achievements: add an informational privacy notice for private own profiles (#110870)
  client/reader/components/achievements/use-set-achievements-visibility.ts
  client/reader/user-profile/views/achievements/achievements-privacy-notice/index.tsx
  client/reader/user-profile/views/achievements/achievements-privacy-notice/style.scss
  client/reader/user-profile/views/achievements/achievements-privacy-notice/test/index.test.tsx
  client/reader/user-profile/views/achievements/achievements-settings/index.tsx
  client/reader/user-profile/views/achievements/achievements-settings/style.scss
  client/reader/user-profile/views/achievements/index.tsx
  client/reader/user-profile/views/achievements/test/index.test.tsx
Owners: @Automattic/loop

Omnibar: Add missing key props on OmnibarSiteNode siblings (#110868)
  packages/omnibar/src/components/omnibar-site.tsx
Owners: none
