Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Account Recovery: add login interstitial modal in the Dashboard (#111546)
  client/dashboard/app/account-recovery-interstitial/copy.ts
  client/dashboard/app/account-recovery-interstitial/hero-illustration.png
  client/dashboard/app/account-recovery-interstitial/index.tsx
  client/dashboard/app/account-recovery-interstitial/style.scss
  client/dashboard/app/account-recovery-interstitial/test/index.test.tsx
  client/dashboard/app/root/index.tsx
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-stage.json
  packages/api-core/src/me-preferences/types.ts
  packages/api-queries/src/me-preferences.ts
Owners: @Automattic/lego

Masterbar: white grouped submenu background in global-sidebar context (#111969)
  client/my-sites/sidebar/style.scss
Owners: none

Legacy contact: fetch access key from view contact endpoint (#111906)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/security-legacy-contact/index.tsx
  client/dashboard/me/security-legacy-contact/print.tsx
  packages/api-core/src/me-legacy-contacts/fetchers.ts
  packages/api-core/src/me-legacy-contacts/types.ts
  packages/api-queries/src/me-legacy-contacts.ts
Owners: @Automattic/lego

MSD: force-redirect rollout users away from old hosting dashboard (#111944)
  client/dashboard/utils/hosting-dashboard-enrollment.ts
  client/me/controller.jsx
  client/me/index.js
Owners: @Automattic/lego

Notifications: restore code block styling in v3 panel (#111960)
  apps/notifications/src/app/note/style.scss
  apps/notifications/src/panel/indices-to-html/test/index.test.js
Owners: none

Launchpad: drop unused and trivially-replaceable dependencies (#111976)
  packages/launchpad/package.json
  packages/launchpad/src/setup-actions.ts
  packages/launchpad/src/test/setup-actions.ts
  yarn.lock
Owners: none

A4A: Move AI MCP resources screens into the Dashboard client (#111380)
  client/a8c-for-agencies/sections/ai-mcp/primary/available-tools/available-tools-content.tsx
  client/a8c-for-agencies/sections/ai-mcp/primary/connect-agent/connect-agent-content.tsx
  client/a8c-for-agencies/sections/ai-mcp/primary/overview/overview-content.tsx
  client/a8c-for-agencies/sections/ai-mcp/primary/style.scss
  client/dashboard/agency/resources/mcp/agent-configs.tsx
  client/dashboard/agency/resources/mcp/available-tools-content.tsx
  client/dashboard/agency/resources/mcp/available-tools.tsx
  client/dashboard/agency/resources/mcp/connect-agent-content.tsx
  client/dashboard/agency/resources/mcp/connect-agent.tsx
  client/dashboard/agency/resources/mcp/index.tsx
  client/dashboard/agency/resources/mcp/overview-content.tsx
  client/dashboard/agency/resources/mcp/style.scss
  client/dashboard/agency/resources/mcp/types.ts
  client/dashboard/agency/resources/mcp/use-mcp-settings.ts
  client/dashboard/app-a4a/index.tsx
  client/dashboard/app-a4a/section.ts
  client/dashboard/app/context.tsx
  client/dashboard/app/responsive-sidebar/agency.tsx
  client/dashboard/app/router/agency.tsx
  packages/api-core/src/agency/fetchers.ts
  packages/api-core/src/agency/types.ts
  packages/api-queries/src/agency.ts
Owners: @Automattic/lego

Lodash: replace cloneDeep() with structuredClone (#111973)
  apps/wpcom-block-editor/src/wpcom/features/tracking.js
  client/lib/analytics/ad-tracking/criteo.js
  client/lib/query-manager/paginated/index.js
  client/reader/discover/test/fixtures/index.js
  client/server/pages/test/index.js
  client/state/posts/utils/apply-post-edits.js
  client/state/posts/utils/merge-post-edits.js
  client/state/posts/utils/normalize-post-for-display.js
  client/state/posts/utils/normalize-post-for-state.js
  client/state/selectors/test/is-requesting-billing-transaction.js
  packages/calypso-eslint-overrides/lodash-restricted-imports.js
Owners: @Automattic/loop

Plugins: allow deleting managed plugins (DOTMSD-1304) (#111956)
  client/dashboard/plugins/plugin/sites-with-this-plugin.tsx
  client/dashboard/plugins/plugin/utils/get-allowed-plugin-actions.ts
  client/dashboard/plugins/plugin/utils/test/get-allowed-plugin-actions.test.ts
Owners: @Automattic/lego

Nav 2026: hide the nav from SSR until the assignment resolves (#111955)
  client/layout/style.scss
  client/layout/use-nav-2026-props.ts
Owners: none

Launchpad: drop @automattic/components dependency (#111979)
  packages/launchpad/package.json
  packages/launchpad/src/action-components/share-site-modal/index.tsx
  packages/launchpad/src/action-components/share-site-modal/style.scss
  packages/launchpad/src/checklist-item/index.tsx
  yarn.lock
Owners: none

Render A4A payment notice CTAs (#111851)
  client/a8c-for-agencies/components/payment-risk-notice-banner/index.tsx
  client/a8c-for-agencies/components/payment-risk-notice-banner/test/index.test.tsx
  client/state/a8c-for-agencies/types.ts
Owners: none

Plugins: resolve the detail panel immediately for an empty search (DOTMSD-1301) (#111970)
  client/dashboard/plugins/plugin/use-plugin.ts
Owners: @Automattic/lego

Plugins: explain why core managed plugins can't be deleted (DOTMSD-1304) (#111982)
  client/dashboard/plugins/manage/components/plugin-sites.scss
  client/dashboard/plugins/manage/components/plugin-sites.tsx
  client/dashboard/plugins/plugin/utils/get-allowed-plugin-actions.ts
  client/dashboard/plugins/plugin/utils/test/get-allowed-plugin-actions.test.ts
Owners: @Automattic/lego

Lodash: replace reduce() with native reduce (#111983)
  client/blocks/app-banner/utils.js
  client/blocks/term-tree-selector/terms.jsx
  client/components/domains/registrant-extra-info/fr-validate-contact-details.js
  client/components/seo/meta-title-editor/mappings.js
  client/components/sorted-grid/index.jsx
  client/components/title-format-editor/parser.js
  client/lib/post-normalizer/rule-with-content-dom.js
  client/lib/query-manager/index.js
  client/lib/signup/flow-controller.ts
  client/my-sites/stats/stats-reach/index.jsx
  client/state/data-layer/utils.js
  client/state/jetpack-sync/selectors.js
  client/state/notices/reducer.js
  client/state/plugins/installed/selectors.js
  client/state/posts/reducer.js
  client/state/posts/utils/apply-post-edits.js
  client/state/posts/utils/get-term-ids-from-edits.js
  client/state/posts/utils/merge-post-edits.js
  client/state/posts/utils/normalize-post-for-state.js
  client/state/reader/site-blocks/reducer.js
  client/state/signup/progress/actions.js
  client/state/sites/reducer.js
  client/state/utils/keyed-reducer.ts
  client/state/utils/reducer-utils.ts
  packages/calypso-eslint-overrides/lodash-restricted-imports.js
Owners: @Automattic/quake, @Automattic/loop

Reader: fall back to post_thumbnail when featured image URL is unsafe (#111987)
  client/lib/post-normalizer/rule-safe-image-properties.js
  client/lib/post-normalizer/test/index.js
Owners: none

Emails: validate the Add email forwarder form (DOTMSD-1342) (#111984)
  client/dashboard/emails/add-forwarder/index.tsx
  client/dashboard/emails/add-forwarder/test/index.test.tsx
Owners: @Automattic/lego

Ensure env badge does not obstruct pagination controls (#111980)
  client/components/environment-badge/style.scss
  client/lib/store-sandbox-helper/style.scss
Owners: none

Agents Manager: Preserve empty view suggestions after clearing the input (#111932)
  client/package.json
  packages/agents-manager/package.json
  packages/agents-manager/src/components/__tests__/orchestrator-chat.test.tsx
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/block-notes/package.json
  packages/image-studio/package.json
  packages/jetpack-ai-sidebar/package.json
  packages/odie-client/package.json
  yarn.lock
Owners: none

Use @wordpress/compose 8.2.0 (#112001)
  .yarn/patches/@wordpress-compose-npm-8.1.0-ea108e3129.patch
  apps/agents-manager/package.json
  apps/content-research/package.json
  apps/help-center/package.json
  apps/notifications/package.json
  apps/wpcom-block-editor/package.json
  client/dashboard/sites/overview/index.tsx
  client/dashboard/sites/performance/constants.ts
  client/package.json
  client/sites/v2/site-overview/router.tsx
  package.json
  packages/agents-manager/package.json
  packages/block-renderer/package.json
  packages/components/package.json
  packages/date-range-picker/package.json
  packages/domain-search/package.json
  packages/global-styles/package.json
  packages/grid/package.json
  packages/help-center/package.json
  packages/i18n-calypso/package.json
  packages/i18n-utils/package.json
  packages/image-studio/package.json
  packages/omnibar/package.json
  packages/search/package.json
  packages/site-admin/package.json
  packages/ui/package.json
  packages/viewport-react/package.json
  yarn.lock
Owners: @Automattic/lego, @youknowriad, @Automattic/t-rex, @Automattic/i18n

Dashboard: Show global loading bar for in-flight mutations (#111890)
  client/dashboard/app/root/index.tsx
Owners: @Automattic/lego

Reader: fix 2026 global nav chrome over the dark hero (#112000)
  client/reader/style.scss
Owners: @Automattic/loop

A4A: clarify launch permissions for team members without site access (#111626)
  client/a8c-for-agencies/components/launch-permission-modal/index.tsx
  client/a8c-for-agencies/components/launch-permission-modal/test/index.test.tsx
  client/a8c-for-agencies/hooks/test/use-wp-admin-access-control.ts
  client/a8c-for-agencies/hooks/use-wp-admin-access-control.ts
  client/a8c-for-agencies/sections/purchases/licenses/license-preview/index.tsx
  client/a8c-for-agencies/sections/purchases/licenses/license-preview/license-actions.tsx
  client/a8c-for-agencies/sections/purchases/licenses/license-preview/use-license-actions.ts
  client/a8c-for-agencies/sections/sites/site-actions/launch-permission-action-modal.tsx
  client/a8c-for-agencies/sections/sites/site-actions/use-site-actions.ts
Owners: none

Handle multi step requests from Dolly agent (#111972)
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/utils/__tests__/convert-tool-messages-to-components.test.ts
  packages/agents-manager/src/utils/convert-tool-messages-to-components.ts
Owners: none

Fix viewport-react npm dependency metadata (#111989)
  packages/viewport-react/CHANGELOG.md
  packages/viewport-react/package.json
Owners: none

Fix i18n-calypso packed artifacts (#111997)
  packages/i18n-calypso/CHANGELOG.md
  packages/i18n-calypso/package.json
Owners: @Automattic/i18n

Fix site-admin npm dependency metadata (#111991)
  packages/site-admin/CHANGELOG.md
  packages/site-admin/package.json
Owners: none

Fix components npm dependency metadata (#111998)
  packages/components/CHANGELOG.md
  packages/components/package.json
Owners: none

Fix i18n-utils npm dependency metadata (#111995)
  packages/i18n-utils/CHANGELOG.md
  packages/i18n-utils/package.json
Owners: @Automattic/i18n

Fix search npm package metadata (#111994)
  packages/search/CHANGELOG.md
  packages/search/package.json
  yarn.lock
Owners: none

Fix grid npm dependency metadata (#111992)
  packages/grid/CHANGELOG.md
  packages/grid/package.json
Owners: @youknowriad

Fix ui npm package metadata (#111996)
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  yarn.lock
Owners: none

Declare date range picker sass dependency (#112002)
  packages/date-range-picker/CHANGELOG.md
  packages/date-range-picker/package.json
Owners: none

Reader: restore legacy nav white ink over the dark hero (#112009)
  client/reader/style.scss
Owners: @Automattic/loop

Remove A4A payment notice feature flag (#111990)
  client/a8c-for-agencies/components/payment-risk-notice-banner/constants.ts
  client/a8c-for-agencies/components/payment-risk-notice-banner/menu-indicator.tsx
  client/a8c-for-agencies/components/payment-risk-notice-banner/test/index.test.tsx
  client/a8c-for-agencies/components/payment-risk-notice-banner/use-payment-risk-notice.ts
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

Reader: whiten 2026 nav chevron over the dark hero regardless of flag (#112012)
  client/reader/style.scss
Owners: @Automattic/loop

Reader onboarding - add custom source + call new endpoint to flush welcome email on finish. (#111805)
  client/blocks/follow-button/index.tsx
  client/blocks/reader-subscription-list-item/connected.jsx
  client/blocks/reader-subscription-list-item/index.jsx
  client/reader/follow-button/index.tsx
  client/reader/onboarding-rsm/constants.tsx
  client/reader/onboarding-rsm/index.tsx
  client/reader/onboarding-rsm/interests-modal/index.tsx
  client/reader/onboarding-rsm/interests-modal/test/index.test.tsx
  client/reader/onboarding-rsm/subscribe-modal/index.tsx
  client/reader/onboarding-rsm/test/index.test.tsx
  packages/api-core/src/read-follows/__tests__/mutators.test.ts
  packages/api-core/src/read-follows/mutators.ts
  packages/api-core/src/read-follows/types.ts
Owners: @Automattic/loop

Help Center: link to open chat when current chat is closed due to merge (#111923)
  packages/odie-client/src/components/closed-conversation-footer/index.tsx
  packages/odie-client/src/hooks/use-open-interaction-status-map.ts
  packages/odie-client/src/index.tsx
  packages/odie-client/src/utils/get-open-live-interactions.ts
  packages/odie-client/src/utils/test/get-open-live-interactions.test.ts
Owners: none

Logs: notice when PHP errors go to a custom error log path (#111835)
  client/dashboard/sites/logs/dataviews/index.tsx
  client/dashboard/sites/logs/test/index.test.tsx
  client/sites/logs/components/site-logs.tsx
  client/sites/logs/components/style.scss
Owners: @Automattic/lego

Plans page: permanently de-emphasize the current plan (#112018)
  client/my-sites/plans/hooks/use-de-emphasized-plan-card-experiment.ts
  client/my-sites/plans/main.jsx
  client/sites/plan/test/index.tsx
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
