Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Add CHANGELOG.md to @automattic/date-range-picker (#110726)
  packages/date-range-picker/CHANGELOG.md
Owners: none

Reader achievements: move Years of Service from the header into a hero card (#110713)
  client/reader/components/achievements/years-of-service-badge/index.tsx
  client/reader/components/achievements/years-of-service-badge/style.scss
  client/reader/components/achievements/years-of-service-badge/test/index.test.tsx
  client/reader/user-profile/views/achievements/achievements-grid/achievement-card.tsx
  client/reader/user-profile/views/achievements/achievements-grid/index.tsx
  client/reader/user-profile/views/achievements/achievements-grid/style.scss
  client/reader/user-profile/views/achievements/achievements-grid/test/index.test.tsx
  client/reader/user-profile/views/achievements/achievements-grid/years-of-service-achievement-card.tsx
  client/reader/user-profile/views/achievements/index.tsx
  client/reader/user-profile/views/achievements/style.scss
  client/reader/user-profile/views/achievements/test/index.test.tsx
Owners: @Automattic/loop

Editor: Add Content Research (#110055)
  .teamcity/_self/projects/WPComPlugins.kt
  apps/content-research/content-research-gutenberg.js
  apps/content-research/content-research.scss
  apps/content-research/package.json
  apps/content-research/webpack.config.js
  packages/content-research/jest.config.js
  packages/content-research/package.json
  packages/content-research/src/components/ai-summary/index.tsx
  packages/content-research/src/components/ai-summary/style.scss
  packages/content-research/src/components/empty-state/index.tsx
  packages/content-research/src/components/empty-state/style.scss
  packages/content-research/src/components/result-card/index.tsx
  packages/content-research/src/components/result-card/style.scss
  packages/content-research/src/components/search-input/index.tsx
  packages/content-research/src/components/search-input/style.scss
  packages/content-research/src/components/source-filter/index.tsx
  packages/content-research/src/components/source-icon/index.tsx
  packages/content-research/src/data/use-content-research.ts
  packages/content-research/src/data/use-research-summary.ts
  packages/content-research/src/index.tsx
  packages/content-research/src/styles.scss
  packages/content-research/src/types.ts
  packages/content-research/src/utils/feature-flag.ts
  packages/content-research/src/utils/tracking.ts
  packages/content-research/tsconfig-cjs.json
  packages/content-research/tsconfig.json
  packages/content-research/types/wordpress.d.ts
  yarn.lock
Owners: none

Payment Methods: pre-emptive retire-tolerance for stored-method display surfaces (#110549)
  client/dashboard/me/billing-payment-methods/payment-method-details.tsx
  client/dashboard/me/billing-payment-methods/test/payment-method-details.test.tsx
  client/me/purchases/payment-methods/payment-method.tsx
  packages/api-core/src/me-payment-methods/types.ts
  packages/wpcom-checkout/src/stored-payment-method-util.tsx
Owners: @Automattic/lego, @Automattic/shilling

Move plugins page images to client/assets/images (#110722)
  client/assets/images/plugins/business-plan-illustration.webp
  client/assets/images/plugins/dithered-illustration-m.webp
  client/assets/images/plugins/dithered-illustration.webp
  client/assets/images/plugins/how-to-find-plugins.webp
  client/assets/images/plugins/how-to-install-plugins.webp
  client/assets/images/plugins/plugins-dot-pattern.webp
  client/assets/images/plugins/plugins_hero.svg
  client/assets/images/plugins/plugins_hero_2.svg
  client/assets/images/plugins/plugins_hero_2_m.svg
  client/assets/images/plugins/prompt-input-box.webp
  client/assets/images/plugins/what-are-plugins.webp
  client/my-sites/plugins/education-footer/index.tsx
  client/my-sites/plugins/plugins-banners/business-plan-banner/index.tsx
  client/my-sites/plugins/plugins-banners/business-plan-banner/style.scss
  client/my-sites/plugins/plugins-banners/telex-banner/index.jsx
  client/my-sites/plugins/plugins-banners/telex-banner/style.scss
  client/my-sites/plugins/plugins-browser/style.scss
Owners: none

Fix dashboard dark mode icons (#110724)
  client/dashboard/app/_dark-theme.scss
  client/dashboard/images/apple-logo.svg
  client/dashboard/images/github-logo.svg
  client/dashboard/me/security-social-logins/index.tsx
Owners: @Automattic/lego

[RSM-3218] Refactor color scheme providers (#110723)
  client/dashboard/.eslintrc.js
  client/dashboard/app/color-scheme/index.tsx
  client/dashboard/app/layout.tsx
  client/dashboard/components/dark-mode-announcement/index.tsx
  client/dashboard/components/dark-mode-announcement/test/index.test.tsx
  client/dashboard/me/appearance/index.tsx
  client/dashboard/me/preferences-appearance/index.tsx
  client/dashboard/me/preferences-appearance/test/index.test.tsx
  client/lib/color-scheme/classic-provider.tsx
  client/lib/color-scheme/index.tsx
  client/lib/color-scheme/query-provider.tsx
  client/lib/color-scheme/shared.tsx
  client/lib/color-scheme/test/query-provider.test.tsx
  client/lib/color-scheme/with-color-scheme.tsx
  client/my-sites/theme/main.jsx
  client/my-sites/themes/color-scheme-provider.jsx
  client/my-sites/themes/test/color-scheme-provider.test.jsx
  client/my-sites/themes/theme-showcase.jsx
Owners: @Automattic/lego

@automattic/date-range-picker: ship stylesheet in dist (#110727)
  packages/date-range-picker/CHANGELOG.md
  packages/date-range-picker/package.json
  yarn.lock
Owners: none

Layout: add Konami code Arcade Mode easter egg (#110422)
  client/layout/arcade-mode/activate.ts
  client/layout/arcade-mode/detect.ts
  client/layout/arcade-mode/style.scss
  client/layout/arcade-mode/test/index.test.tsx
  client/layout/index.jsx
Owners: none

feat(stepper): add direct-to-cart flow for partner integrations (#110686)
  client/landing/stepper/declarative-flow/flows/direct-to-cart/README.md
  client/landing/stepper/declarative-flow/flows/direct-to-cart/build-checkout-url.ts
  client/landing/stepper/declarative-flow/flows/direct-to-cart/direct-to-cart.ts
  client/landing/stepper/declarative-flow/flows/direct-to-cart/resolve-resumability.ts
  client/landing/stepper/declarative-flow/flows/direct-to-cart/resume-storage.ts
  client/landing/stepper/declarative-flow/flows/direct-to-cart/sanitize-redirect.ts
  client/landing/stepper/declarative-flow/flows/direct-to-cart/test/build-checkout-url.ts
  client/landing/stepper/declarative-flow/flows/direct-to-cart/test/direct-to-cart.tsx
  client/landing/stepper/declarative-flow/flows/direct-to-cart/test/resolve-resumability.ts
  client/landing/stepper/declarative-flow/flows/direct-to-cart/test/resume-storage.ts
  client/landing/stepper/declarative-flow/flows/direct-to-cart/test/sanitize-redirect.ts
  client/landing/stepper/declarative-flow/flows/direct-to-cart/test/validate-params.ts
  client/landing/stepper/declarative-flow/flows/direct-to-cart/validate-params.ts
  client/landing/stepper/declarative-flow/registered-flows.ts
  client/my-sites/checkout/get-thank-you-page-url/index.ts
  client/my-sites/checkout/get-thank-you-page-url/test/get-thank-you-page-url.ts
  config/_shared.json
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  packages/onboarding/src/utils/flows.ts
Owners: @Automattic/shilling

Reader achievements: show daily activity streak info (#110731)
  client/assets/images/achievements/streak-badge-inactive.svg
  client/assets/images/achievements/streak-day-extended.svg
  client/assets/images/achievements/streak-day-freeze-used.svg
  client/assets/images/achievements/streak-day-missed.svg
  client/assets/images/achievements/streak-record.svg
  client/reader/user-profile/views/achievements/activity-streak/daily-info.scss
  client/reader/user-profile/views/achievements/activity-streak/daily-info.tsx
  client/reader/user-profile/views/achievements/activity-streak/index.tsx
  client/reader/user-profile/views/achievements/activity-streak/style.scss
  client/reader/user-profile/views/achievements/activity-streak/test/index.test.tsx
  packages/api-core/src/read-achievements/types.ts
Owners: @Automattic/loop

A4A: enable a4a-ai-mcp feature flag on Stage (#110720)
  config/a8c-for-agencies-stage.json
Owners: none

@automattic/date-range-picker: 1.0.2 packaging cleanup (#110738)
  packages/date-range-picker/CHANGELOG.md
  packages/date-range-picker/README.md
  packages/date-range-picker/bin/build-styles.js
  packages/date-range-picker/package.json
  packages/date-range-picker/src/style.scss
  packages/date-range-picker/src/types.d.ts
  yarn.lock
Owners: none

Add feature list to purchase settings on new dashboard (#110527)
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/me/billing-purchases/purchase-settings/style.scss
Owners: @Automattic/lego

Add feature list to purchase settings on legacy Calypso (#110528)
  client/me/purchases/manage-purchase/index.tsx
  client/me/purchases/manage-purchase/style.scss
Owners: @Automattic/shilling

Dashboard: Clean up upcoming renewals dialog (#110571)
  client/dashboard/me/billing-purchases/purchase-settings/style.scss
  client/dashboard/me/billing-purchases/purchase-settings/upcoming-renewals-dialog.tsx
Owners: @Automattic/lego

Reader onboarding RSM - misc bug fixes (#110732)
  client/assets/images/reader/onboarding/welcome-atavist.webp
  client/assets/images/reader/onboarding/welcome-hugh.webp
  client/assets/images/reader/onboarding/welcome-longreads.webp
  client/assets/images/reader/onboarding/welcome-matt.webp
  client/assets/images/reader/onboarding/welcome-om.webp
  client/assets/images/reader/onboarding/welcome-rolling-stone.webp
  client/assets/images/reader/onboarding/welcome-seth.webp
  client/assets/images/reader/onboarding/welcome-tim.webp
  client/assets/images/reader/onboarding/welcome-time.webp
  client/assets/images/reader/onboarding/welcome-variety.webp
  client/assets/images/reader/onboarding/welcome-wired.webp
  client/reader/onboarding-rsm/index.tsx
  client/reader/onboarding-rsm/subscribe-modal/index.tsx
  client/reader/onboarding-rsm/subscribe-modal/test/index.test.tsx
  client/reader/onboarding-rsm/subscribe-modal/test/use-subscribe-recommendations.test.tsx
  client/reader/onboarding-rsm/subscribe-modal/use-subscribe-recommendations.ts
  client/reader/onboarding-rsm/test/index.test.tsx
  client/reader/onboarding-rsm/test/use-refresh-following-streams.test.ts
  client/reader/onboarding-rsm/use-refresh-following-streams.ts
  client/reader/onboarding-rsm/welcome-modal/index.tsx
Owners: @Automattic/loop

calypso-products: register Choose $12/$24/$36 yearly plans (#110747)
  client/state/selectors/test/get-upgrade-plan-slug-from-path.js
  packages/calypso-products/src/constants/types.ts
  packages/calypso-products/src/constants/wpcom.ts
  packages/calypso-products/src/plans-list.tsx
  packages/calypso-products/test/is-plan.js
  packages/calypso-products/test/plan-lookups.js
Owners: none

Clean up host-managed purchase detail: remove redundant cards, move partner contact to subtitle (#110566)
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
Owners: @Automattic/lego

@automattic/date-range-picker: restore *.scss in sideEffects (#110740)
  packages/date-range-picker/CHANGELOG.md
  packages/date-range-picker/package.json
Owners: none

A4A: Update Claude Desktop MCP instructions to use Connectors flow (#110749)
  client/a8c-for-agencies/sections/ai-mcp/primary/connect-agent/agent-configs.tsx
Owners: none

Help Center: add logged-out FAB launcher on /themes and /plugins (#110752)
  client/assets/stylesheets/shared/functions/_z-index.scss
  client/components/help-center-fab/async.tsx
  client/components/help-center-fab/index.tsx
  client/components/help-center-fab/style.scss
  client/layout/logged-out.jsx
  config/development.json
Owners: none

Plans: match Step.Heading subText styling on the modal-backed subheader (#110746)
  client/my-sites/plans-features-main/components/plans-page-subheader.tsx
Owners: none

Jetpack Connect signup: forward from and plugins to the activation email (#110754)
  client/jetpack-connect/signup.jsx
  client/jetpack-connect/test/signup.js
Owners: none

Image Studio: useGenericShare memoization + Experimental Preview badge polish (#110698)
  packages/image-studio/src/components/experimental-badge/index.tsx
  packages/image-studio/src/components/experimental-badge/style.scss
  packages/image-studio/src/extensions/feature-clip-sidebar.scss
  packages/image-studio/src/hooks/use-generic-share/index.ts
Owners: none

Jetpack Connect: keep 'Use a different account' link visible during auth (#110755)
  client/jetpack-connect/authorize.jsx
  client/jetpack-connect/style.scss
Owners: none

Fix Reader Chat suggestions auth (#110709)
  apps/agents-manager/__tests__/reader-chat.test.js
  apps/agents-manager/reader-chat.js
  apps/agents-manager/webpack.config.js
Owners: none

Standardize ManageSubscription card states (#110564)
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/me/billing-purchases/purchase-settings/style.scss
Owners: @Automattic/lego

[RSM-3193] Fix receipt print styling (#110734)
  client/dashboard/app/root/style.scss
  client/dashboard/app/style.scss
  packages/ui/src/utils/_mixins.scss
Owners: @Automattic/lego

E2E: keep shared page objects runner-neutral (#110743)
  packages/calypso-e2e/src/element-helper.ts
  packages/calypso-e2e/src/lib/pages/cart-checkout-page.ts
  packages/calypso-e2e/src/lib/pages/logged-out-home-page.ts
  packages/calypso-e2e/src/lib/pages/logged-out-themes-page.ts
  packages/calypso-e2e/src/lib/pages/plans-page.ts
  packages/calypso-e2e/src/test/runner-neutral-imports.test.ts
Owners: none

E2E: stabilize Squarespace importer setup test (#110770)
  packages/calypso-e2e/src/lib/flows/start-import-flow.ts
  test/e2e/specs/importer/importer__site-setup.spec.ts
Owners: none

Arcade mode: unlock achievement on Konami code activation (#110762)
  client/layout/arcade-mode/activate.ts
  client/layout/arcade-mode/test/index.test.tsx
  packages/api-core/src/index.ts
  packages/api-core/src/me-achieve/index.ts
  packages/api-core/src/me-achieve/mutators.ts
  packages/api-core/src/me-achieve/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/me-achieve.ts
Owners: none

Reader onboarding RSM - enable most subscribed pack (#110768)
  client/reader/onboarding-rsm/curated-blogs/index.tsx
  client/reader/onboarding-rsm/curated-blogs/popular.tsx
  client/reader/onboarding-rsm/interests-modal/get-pack-blogs.ts
  client/reader/onboarding-rsm/interests-modal/index.tsx
  client/reader/onboarding-rsm/interests-modal/test/get-pack-blogs.test.ts
  client/reader/onboarding-rsm/interests-modal/test/index.test.tsx
Owners: @Automattic/loop

Guard AI editorial reviews by post context (#110748)
  packages/jetpack-ai-sidebar/src/components/review-mediation.scss
  packages/jetpack-ai-sidebar/src/components/review-mediation.test.tsx
  packages/jetpack-ai-sidebar/src/components/review-mediation.tsx
  packages/jetpack-ai-sidebar/src/index.test.ts
  packages/jetpack-ai-sidebar/src/index.ts
  packages/jetpack-ai-sidebar/src/utils/block-actions.ts
Owners: none

Reader onboarding rsm - show subscribers counts on interest cards (#110773)
  client/reader/onboarding-rsm/interests-modal/test/topic-group-card.test.tsx
  client/reader/onboarding-rsm/interests-modal/topic-group-card/index.tsx
  client/reader/onboarding-rsm/interests-modal/topic-group-card/style.scss
Owners: @Automattic/loop

Onboarding: show AI/manual setup choice after woo-hosting-solutions-flow purchase (#110126)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/launch-big-sky/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/setup-your-site-ai/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/setup-your-site-ai/style.scss
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
  packages/api-core/src/big-sky-plugin/types.ts
Owners: none

Choose plans: enable upgrades to Personal/Premium/Business/eCommerce (#110766)
  packages/calypso-products/src/constants/wpcom.ts
  packages/calypso-products/src/plans-list.tsx
Owners: none

Help Center: extend logged-out FAB to /patterns, /site-profiler, /speed-test-tool (#110777)
  client/layout/logged-out.jsx
  config/horizon.json
  config/wpcalypso.json
Owners: none

Help Center: extend logged-out FAB to /accept-invite, /me/account/closed (#110778)
  client/layout/logged-out.jsx
Owners: none

Help Center: extend logged-out FAB to /mailing-lists/unsubscribe (#110782)
  client/layout/logged-out.jsx
Owners: none
