Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Dashboard: Fix OAuth logout redirect destination (#109251)
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
Owners: none

A4A: A4A-2205 remove co-branded referrals flag gating (#109101)
  client/a8c-for-agencies/sections/marketplace/checkout/request-client-payment.tsx
  config/a8c-for-agencies-development.json
  config/a8c-for-agencies-horizon.json
  config/a8c-for-agencies-production.json
  config/a8c-for-agencies-stage.json
Owners: none

image-studio: Add selector for supported MIME types in the store (#109258)
  packages/image-studio/src/store/index.ts
Owners: none

CIAB MSD: co-host signup, stepper, and checkout screens (#109199)
  client/dashboard/app/routing.ts
  client/dashboard/utils/link.ts
  client/lib/site-spec/utils.ts
  client/server/pages/index.js
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  package.json
Owners: @Automattic/lego

MSD: add missing calypso/ai-site-builder-flow flag in dashboard envs (#109285)
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
Owners: none

Agents Manager: Fix an infinitely re-rendering issue (#109286)
  packages/agents-manager/src/hooks/use-checkpoint-action.ts
Owners: none

Survicate: Fire migrationStarted and migrationCompleted events for site migrations (#109257)
  client/dashboard/sites/migration-overview/started-difm-content-info.tsx
  client/dashboard/sites/ssh-migration-complete/index.tsx
  client/sites/overview/components/migration-overview/components/migration-ssh-complete.tsx
  packages/survicate/src/invoke-event.ts
  packages/survicate/src/test/invoke-event.test.ts
Owners: @Automattic/lego

Refactor Calypso Survicate to use shared package and add account_age_in_days (#108689)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  client/landing/stepper/declarative-flow/test/onboarding-flow.tsx
  client/lib/analytics/survicate.js
  client/lib/analytics/test/survicate.js
  client/state/analytics/middleware.js
  packages/survicate/package.json
  packages/survicate/src/conditions.ts
  packages/survicate/src/debug.ts
  packages/survicate/src/load-script.ts
  packages/survicate/src/test/visitor-traits.test.ts
  packages/survicate/src/visitor-traits.ts
  yarn.lock
Owners: none

Add the experiment that splits cancellations from refunds (#109287)
  client/dashboard/me/billing-purchases/cancel-purchase/cancellation-full-text.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/refund-eligibility-notice.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/refund-information.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/use-show-refund-eligibility-notice.ts
  client/dashboard/utils/purchase.ts
  client/me/purchases/cancel-purchase/index.tsx
  config/development.json
Owners: @Automattic/lego

Theme Showcase: Add and update modern Theme Showcase events (#109288)
  client/components/theme/index.jsx
  client/components/theme/test/index.jsx
  client/my-sites/themes/filter-bar-modern/index.tsx
  client/my-sites/themes/search-results-modern/index.tsx
  client/my-sites/themes/sections-modern/test/theme-section.test.tsx
  client/my-sites/themes/sections-modern/theme-section-header.tsx
  client/my-sites/themes/sections-modern/theme-section.tsx
  client/my-sites/themes/themes-faq/index.tsx
Owners: none

Domains: Guard transfer links and redirect on permission failure (#109207)
  client/dashboard/app/router/domains.ts
  client/dashboard/components/purchase-dialogs/remove-domain-dialog.tsx
  client/dashboard/me/billing-purchases/cancel-purchase/domain-removal-warning-step.tsx
Owners: @Automattic/lego

Exclude .tsbuildinfo files from Docker context to fix local build failures (#109283)
  .dockerignore
Owners: none

Theme Showcase: Improve ThemeSectionHeader mobile styles (#109290)
  client/my-sites/themes/sections-modern/style.scss
Owners: none

Dockerfile: Comment out version debugging (#109292)
  Dockerfile
Owners: none

Update CIAB default site spec prompts (#109295)
  client/lib/site-spec/utils.ts
Owners: none

Theme Showcase: Integrate logged-out SEO content with HeroModern (#109296)
  client/my-sites/themes/hero-modern/index.tsx
  client/my-sites/themes/hero-modern/test/index.test.tsx
  client/my-sites/themes/theme-showcase-header.jsx
  client/my-sites/themes/use-theme-showcase-logged-out-seo-content.js
Owners: none

Help Center: Remove Survicate feedback survey integration (#109256)
  client/layout/help-center-loader.tsx
  client/lib/analytics/survicate.js
  client/lib/analytics/test/survicate.js
  config/_shared.json
  config/development.json
  config/horizon.json
  config/production.json
  config/wpcalypso.json
  packages/help-center/src/components/help-center-more-resources.tsx
  packages/help-center/src/components/types.d.ts
  packages/help-center/src/contexts/HelpCenterContext.tsx
  packages/help-center/src/feature-config/presets.ts
  packages/help-center/src/feature-config/types.ts
Owners: @Automattic/t-rex

Enable ciab/custom-branding feature flag across all environments (#109233)
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
  config/horizon.json
  config/production.json
  config/wpcalypso.json
Owners: none

Warn users when email forwarding will remove custom MX records (#109197)
  client/dashboard/emails/add-forwarder/index.tsx
  client/my-sites/email/email-forwarding/email-forwarding-add-new-compact-list.tsx
  client/my-sites/email/email-forwards-add/add-new-form/index.tsx
  client/my-sites/email/email-forwards-add/add-new-form/test/index.tsx
  client/my-sites/email/email-forwards-add/add-new-form/types.ts
  client/my-sites/email/email-forwards-add/index.tsx
Owners: @Automattic/lego, @Automattic/jetpack-avalon

Allow gifting subscriptions to email-only subscribers (#109183)
  client/my-sites/subscribers/components/gift-modal/gift-modal.tsx
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
  client/my-sites/subscribers/helpers/index.ts
  client/my-sites/subscribers/main.tsx
  client/my-sites/subscribers/tracks/use-record-subscriber-clicked.ts
  client/my-sites/subscribers/tracks/use-record-subscriber-removed.ts
  client/my-sites/subscribers/types/index.ts
  client/state/memberships/gifts/actions.js
Owners: none

Dockerfile: Non-e2e builds should skip downloading Playwright browsers (#109306)
  Dockerfile
Owners: none

Odyssey Stats: Replace Button from @automattic/components with @wordpress/components (#109311)
  apps/odyssey-stats/src/widget/modules.scss
  apps/odyssey-stats/src/widget/modules.tsx
Owners: none

Stats: Fix subscriber chart Y-axis to always start from zero (#109313)
  client/my-sites/stats/stats-subscribers-chart-section/index.tsx
Owners: none

Agents Manager: Fix unexpected conversation reloading issues (#109289)
  packages/agents-manager/src/components/__tests__/AgentsManager.test.tsx
  packages/agents-manager/src/components/agent-dock/index.tsx
  packages/agents-manager/src/components/agents-manager.tsx
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/contexts/AgentsManagerContext.tsx
  packages/agents-manager/src/hooks/use-save-new-chat-route.ts
  packages/agents-manager/src/utils/agent-session.ts
Owners: none

Dashboard: Show warning cards and limit navigation when Jetpack connection is broken (#109165)
  client/dashboard/app/router/index.tsx
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/overview-backup-card/index.tsx
  client/dashboard/sites/overview-jetpack-connection-warning-card/index.tsx
  client/dashboard/sites/overview-performance-card/index.tsx
  client/dashboard/sites/overview-scan-card/index.tsx
  client/dashboard/sites/overview-site-fields/index.tsx
  client/dashboard/sites/overview-visibility-card-ciab/index.tsx
  client/dashboard/sites/overview-visibility-card/index.tsx
  client/dashboard/sites/overview/index.tsx
  client/dashboard/sites/overview/test/index.test.tsx
  client/dashboard/sites/site-menu/index.tsx
Owners: @Automattic/lego

MSD: point primary domain selector upsell to distractionless plans grid (#109260)
  client/dashboard/sites/domains/primary-domain-selector.tsx
Owners: @Automattic/lego

A4A: Update Migration and Site Tagging copies to be more clear and concise. (#109319)
  client/a8c-for-agencies/sections/migrations/primary/migrations-commissions/empty-state.tsx
  client/a8c-for-agencies/sections/migrations/tag-sites-modal/index.tsx
Owners: none

Fix missing `env_id` value in the Agents Manager (#109268)
  apps/agents-manager/agents-manager-ciab.js
  apps/agents-manager/agents-manager-gutenberg.js
  apps/agents-manager/agents-manager-with-provider.js
  apps/agents-manager/agents-manager-wp-admin-disconnected.js
  apps/agents-manager/agents-manager-wp-admin.js
  apps/agents-manager/block-notes.js
  apps/agents-manager/config.js
Owners: none

Theme Showcase: Refine modern search field behaviours (#109304)
  client/components/search-themes/index.tsx
  client/components/themes-list/index.jsx
  client/my-sites/themes/filter-bar-modern/index.tsx
  client/my-sites/themes/test/logged-out.jsx
  client/my-sites/themes/theme-showcase.jsx
  client/my-sites/themes/themes-selection.jsx
Owners: none

Reader: Remove reader/discover-v3 feature flag (#108975)
  client/blocks/reader-post-card/compact.jsx
  client/landing/subscriptions/components/add-sites-button/add-sites-button.tsx
  client/landing/subscriptions/components/add-sites-button/test/index.test.tsx
  client/landing/subscriptions/components/add-sites-form/add-sites-form.tsx
  client/landing/subscriptions/components/add-sites-modal/add-sites-modal.tsx
  client/landing/subscriptions/components/add-sites-modal/index.ts
  client/landing/subscriptions/components/add-sites-modal/styles.scss
  client/landing/subscriptions/hooks/index.ts
  client/landing/subscriptions/hooks/use-add-sites-notices.ts
  client/landing/subscriptions/tracks/constants.ts
  client/reader/controller.js
  client/reader/discover/components/header-and-navigation/index.tsx
  client/reader/discover/components/navigation/index.tsx
  client/reader/discover/helper/index.ts
  client/reader/new-subscription/components/add-subscription-form/consts.tsx
  client/reader/new-subscription/components/add-subscription-form/index.tsx
  client/reader/sidebar/reader-sidebar-recent/index.tsx
  client/reader/utils.ts
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: @Automattic/loop

Dashboard Domains: Fix transfer page redirect loop and wrong transfer-in CTA link for domain connections (#109200)
  client/dashboard/domains/domain-overview/actions.tsx
  client/dashboard/domains/domain-transfer/outbound-transfer.tsx
Owners: @Automattic/lego

Revert "Dashboard Domains: Fix transfer page redirect loop and wrong transfer…" (#109325)
  client/dashboard/domains/domain-overview/actions.tsx
  client/dashboard/domains/domain-transfer/outbound-transfer.tsx
Owners: @Automattic/lego

Reader: Show subscription detail screen for RSS feeds (#109148)
  client/blocks/reader-site-subscription/details.tsx
  client/blocks/reader-site-subscription/subscribe-to-newsletter-categories.tsx
  client/landing/subscriptions/components/site-subscriptions-list/site-subscription-row.tsx
  packages/data-stores/src/reader/mutations/use-site-subscribe-mutation.ts
Owners: @Automattic/loop

Limit concurrent Help Center conversations per user (#109300)
  packages/odie-client/src/components/message/get-support.tsx
  packages/odie-client/src/components/message/messages-container.tsx
  packages/odie-client/src/components/message/user-message.tsx
  packages/odie-client/src/components/notices/get-most-recent-open-live-interaction.tsx
  packages/odie-client/src/constants.tsx
  packages/odie-client/src/data/use-send-odie-message.ts
  packages/odie-client/src/hooks/use-create-zendesk-conversation.ts
Owners: none

Theme Showcase: Update modern tier selector design (#109324)
  client/my-sites/themes/filter-bar-modern/index.tsx
  client/my-sites/themes/filter-bar-modern/style.scss
Owners: none

Add tracks events to Gift a Subscription modal (#109280)
  client/my-sites/subscribers/components/gift-modal/gift-modal.tsx
Owners: none

Billing: Sync behavior of Jetpack auto-renew with v1 (#109307)
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
Owners: @Automattic/lego

e2e: Update Jetpack Settings tab locators for new navigation (#109333)
  packages/calypso-e2e/src/lib/pages/wp-admin/jetpack-dashboard-page.ts
Owners: none

Plugins: Use plan from available features for upgrade nudge instead of hardcoded Business plan (#109293)
  client/my-sites/plugins/plugins-browser/test/index.jsx
  client/my-sites/plugins/plugins-discovery-page/test/upgrade-nudge.jsx
  client/my-sites/plugins/plugins-discovery-page/upgrade-nudge.jsx
Owners: none

Dashboard: respect optIn config before opt-in redirect (#109341)
  client/dashboard/app/router/root.tsx
Owners: @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
