Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Grid: add `fillWidth` layout property (#109236)
  packages/grid/CHANGELOG.md
  packages/grid/README.md
  packages/grid/jest.config.js
  packages/grid/src/grid.tsx
  packages/grid/src/resolve-fill-widths.ts
  packages/grid/src/stories/grid-benchmark.stories.tsx
  packages/grid/src/stories/grid.stories.tsx
  packages/grid/src/test/resolve-fill-widths.test.ts
  packages/grid/src/types.ts
  packages/grid/tsconfig.json
Owners: @youknowriad

MSD: Add dashboard/omnibar feature flag for sidebar (#109454)
  client/dashboard/app/omnibar-header/index.tsx
  client/dashboard/app/responsive-sidebar/index.tsx
  client/dashboard/app/responsive-sidebar/sidebar.scss
  client/dashboard/app/responsive-sidebar/sidebar.tsx
  client/dashboard/app/responsive-sidebar/style.scss
  client/dashboard/app/root/index.tsx
  client/dashboard/app/root/style.scss
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
Owners: @Automattic/lego

MCP: Update me/mcp settings design (#109435)
  client/me/controller.js
  client/me/index.js
  client/me/mcp/categories.js
  client/me/mcp/hub-helpers.js
  client/me/mcp/main.jsx
  client/me/mcp/mcp-add-site.jsx
  client/me/mcp/mcp-page-header.jsx
  client/me/mcp/mcp-site-combobox.jsx
  client/me/mcp/mcp-sites.jsx
  client/me/mcp/read-groups.js
  client/me/mcp/read.jsx
  client/me/mcp/setup.jsx
  client/me/mcp/style.scss
  client/me/mcp/test/categories.js
  client/me/mcp/tools-subpage.jsx
  client/me/mcp/utils.js
  client/me/mcp/write.jsx
  client/me/sidebar/index.jsx
  packages/api-core/src/me-settings/mutators.ts
  packages/api-core/src/me-settings/types.ts
  packages/api-core/src/site/fetchers.ts
  packages/api-core/src/site/types.ts
Owners: none

Fix Reader Discover signup URL to use /start/reader flow (#109368)
  packages/wpcom-template-parts/src/universal-header-navigation/index.tsx
Owners: none

Agents Manager show Sources component (#109436)
  client/package.json
  packages/agents-manager/package.json
  packages/agents-manager/src/components/agent-dock/style.scss
  packages/agents-manager/src/components/sources-display/index.tsx
  packages/agents-manager/src/components/sources-display/style.scss
  packages/agents-manager/src/utils/__tests__/process-tool-messages.test.ts
  packages/agents-manager/src/utils/process-tool-messages.ts
  packages/block-notes/package.json
  packages/image-studio/package.json
  packages/odie-client/package.json
  yarn.lock
Owners: none

Grid: add AI agent context (#109459)
  packages/grid/AGENTS.md
  packages/grid/CHANGELOG.md
  packages/grid/CLAUDE.md
  packages/grid/package.json
Owners: @youknowriad

MCP: Clear site lists when toggling MCP on or off (#109461)
  client/me/mcp/main.jsx
Owners: none

MCP: Fix connect panel hover border appearing bolder (#109462)
  client/me/mcp/main.jsx
  client/me/mcp/style.scss
Owners: none

Rename Gift to Complimentary/Comp in subscriber UI strings (#109335)
  client/blocks/reader-site-subscription/details.tsx
  client/landing/subscriptions/components/site-subscriptions-list/site-subscription-row.tsx
  client/my-sites/subscribers/components/gift-modal/gift-modal.tsx
  client/my-sites/subscribers/components/subscriber-data-views/subscriber-data-views.tsx
  client/my-sites/subscribers/components/subscriber-details/subscriber-details.tsx
  client/my-sites/subscribers/hooks/use-subscription-plans.ts
Owners: @Automattic/loop

bump @automattic/grid to 0.2.0 (#109464)
  packages/grid/package.json
Owners: @youknowriad

Reader: Migrate QueryReaderFeed to use react-query (#109154)
  client/components/data/query-reader-feed/index.jsx
  client/components/data/query-reader-feed/index.tsx
  client/components/data/query-reader-feed/test/index.test.tsx
  client/state/data-layer/wpcom/read/feed/index.js
  client/state/data-layer/wpcom/read/feed/test/index.js
  client/state/reader/action-types.ts
  client/state/reader/feeds/actions.js
  client/state/reader/feeds/reducer.js
  client/state/reader/feeds/selectors.js
  client/state/reader/feeds/test/actions.js
  client/state/reader/feeds/test/reducer.js
  client/state/reader/feeds/test/selectors.js
  client/test-helpers/testing-library/index.js
  packages/api-core/src/read-feeds/types.ts
  packages/api-queries/src/read-feed.ts
Owners: @Automattic/loop

Fix "Due today" price showing wrong amount with stacked cost overrides (#109228)
  client/my-sites/checkout/src/components/cost-overrides-list.tsx
Owners: @Automattic/shilling

fix width of developer cards at certain breakpoints (#109424)
  client/me/developer/features/style.scss
Owners: none

Dashboard Domains: Fix transfer page redirect loop and wrong transfer-in CTA link for domain connections (#109355)
  client/dashboard/domains/domain-overview/actions.tsx
  client/dashboard/domains/domain-transfer/outbound-transfer.tsx
Owners: @Automattic/lego

FORNO-261: Image Studio > Fix Aspect Ratio (#109431)
  packages/image-studio/src/utils/client-context.ts
Owners: none

Limit available dashboard routes for ciab (#109404)
  client/dashboard/app-ciab/routing.ts
  client/dashboard/app/routing.ts
  client/server/pages/index.js
Owners: @Automattic/lego

fix npm scope prefix in grid AGENTS.md (#109468)
  packages/grid/AGENTS.md
Owners: @youknowriad

Renewal pricing: deploy the winning treatment (#109027)
  client/my-sites/plans-features-main/hooks/test/use-renewal-price-experiment.ts
  client/my-sites/plans-features-main/hooks/use-renewal-price-experiment.ts
Owners: none

fix: Add missing space in magic login success message (#108603)
  client/login/magic-login/emailed-login-link-successfully.jsx
Owners: none

CIAB: Redirect accepted invites to store dashboard (#109405)
  client/my-sites/invites-unified/screens/accept-invite-screen.tsx
  client/my-sites/invites/test/utils.tsx
  client/my-sites/invites/utils.tsx
Owners: none

Image Studio: Adds block type to context sent to the backend (#109374)
  packages/image-studio/src/extensions/generate-button-extension.tsx
  packages/image-studio/src/extensions/image-toolbar-extension.tsx
  packages/image-studio/src/store/index.test.ts
  packages/image-studio/src/store/index.ts
  packages/image-studio/src/utils/client-context.ts
Owners: none

refresh baseline-browser-mapping data (#109427)
  yarn.lock
Owners: none

Split Base CI Images: New toolchain + cache-seed Dockerfiles (manual only) (#109478)
  .dockerignore
  .teamcity/settings.kts
  Dockerfile.cache-seed
  Dockerfile.toolchain
Owners: none

Fix entrypoint for teamcity BuildToolchainPreviewImages (#109483)
  .teamcity/settings.kts
Owners: none

Image Studio: Deduplicate notices by message content instead of type (#109448)
  packages/image-studio/src/store/index.test.ts
  packages/image-studio/src/store/index.ts
Owners: none

MSD: implement sidebar (#109437)
  client/dashboard/app/404/index.tsx
  client/dashboard/app/500/index.tsx
  client/dashboard/app/responsive-sidebar/_variables.scss
  client/dashboard/app/responsive-sidebar/error.tsx
  client/dashboard/app/responsive-sidebar/index.tsx
  client/dashboard/app/responsive-sidebar/navigator-route-sync.tsx
  client/dashboard/app/responsive-sidebar/sidebar.scss
  client/dashboard/app/responsive-sidebar/sidebar.tsx
  client/dashboard/app/responsive-sidebar/style.scss
  client/dashboard/app/responsive-sidebar/test/navigator-route-sync.test.ts
  client/dashboard/app/root/index.tsx
  client/dashboard/app/root/omnibar-style.scss
  client/dashboard/app/root/style.scss
  client/dashboard/components/sidebar/index.tsx
  client/dashboard/components/sidebar/sidebar-back-button.scss
  client/dashboard/components/sidebar/sidebar-back-button.tsx
  client/dashboard/components/sidebar/sidebar-expandable-menu-item.scss
  client/dashboard/components/sidebar/sidebar-expandable-menu-item.tsx
  client/dashboard/components/sidebar/sidebar-menu-item.scss
  client/dashboard/components/sidebar/sidebar-menu-item.tsx
  client/dashboard/components/sidebar/sidebar-menu.scss
  client/dashboard/components/sidebar/sidebar-menu.tsx
  client/dashboard/domains/domain-sidebar/index.tsx
  client/dashboard/domains/domain-switcher/index.tsx
  client/dashboard/domains/domain-switcher/style.scss
  client/dashboard/me/me-sidebar/index.tsx
  client/dashboard/me/me-sidebar/style.scss
  client/dashboard/sites/site-sidebar/index.tsx
  client/dashboard/sites/site/environment-switcher-v2.scss
  client/dashboard/sites/site/environment-switcher-v2.tsx
  test/e2e/specs/dashboard/dashboard__rum-tracking.spec.ts
Owners: @Automattic/lego

Masterbar: migrate from localize HOC to @wordpress/i18n (#109489)
  client/layout/masterbar/logged-in.jsx
Owners: none

Agents Manager: Fix race condition when setting the agent ID (#109432)
  packages/agents-manager/src/components/agents-manager.tsx
  packages/agents-manager/src/hooks/__tests__/use-agent-config.test.ts
  packages/agents-manager/src/hooks/use-agent-config.ts
Owners: none

SSR the legacy masterbar in MSD and async load it's JS (#109383)
  client/dashboard/app/boot.tsx
  client/dashboard/app/interim-omnibar/index.tsx
  client/dashboard/app/interim-omnibar/interim-omnibar.tsx
  client/dashboard/app/interim-omnibar/style.scss
  client/dashboard/app/routing.ts
  client/document/index.jsx
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/masterbar-notifications/notifications-button.jsx
Owners: @Automattic/lego

Fix: Set find_available_url to false for free .blog subdomains (#109496)
  packages/onboarding/src/cart/index.tsx
  packages/onboarding/src/cart/test/index.ts
Owners: none

MSD: Use feature flag to hide inner headers and tab panels (#109493)
  client/dashboard/app/root/omnibar-style.scss
  client/dashboard/app/root/style.scss
  client/dashboard/domains/domain/index.tsx
  client/dashboard/me/index.tsx
  client/dashboard/plugins/index.tsx
  client/dashboard/sites/logs/index.tsx
  client/dashboard/sites/scan/index.tsx
  client/dashboard/sites/site/index.tsx
Owners: @Automattic/lego

MSD Sidebar: Add site switcher v2 for sidebar (#109465)
  client/dashboard/app-ciab/index.tsx
  client/dashboard/app-dotcom/index.tsx
  client/dashboard/components/switcher/index.tsx
  client/dashboard/sites-ciab/site-switcher-v2/index.tsx
  client/dashboard/sites/site-sidebar/index.tsx
  client/dashboard/sites/site-switcher-v2/base.scss
  client/dashboard/sites/site-switcher-v2/base.tsx
  client/dashboard/sites/site-switcher-v2/index.tsx
Owners: @Automattic/lego

Dashboard: implement AI + MCP settings design updates (#109317)
  .gitignore
  client/dashboard/app/router/me.tsx
  client/dashboard/me/blocked-sites/index.tsx
  client/dashboard/me/mcp/categories.ts
  client/dashboard/me/mcp/index.tsx
  client/dashboard/me/mcp/mcp-sites/index.tsx
  client/dashboard/me/mcp/read/index.tsx
  client/dashboard/me/mcp/setup/index.tsx
  client/dashboard/me/mcp/write/index.tsx
  client/dashboard/me/me-menu/index.tsx
  client/dashboard/me/preferences-ai-mcp/index.tsx
  client/dashboard/me/preferences-blocked-sites/index.tsx
  client/dashboard/me/preferences-privacy/index.tsx
  client/dashboard/me/preferences/index.tsx
  client/dashboard/me/privacy/index.tsx
  client/dashboard/sites/settings-ai-tools/index.tsx
  client/my-sites/stats/features/modules/shared/stats-empty-action-ai.tsx
  packages/api-core/src/me-settings/types.ts
Owners: @Automattic/lego

Remove obsolete testarmada-magellan yarn patch (#109506)
  .patches/testarmada-magellan@11.0.10.diff
Owners: none

Plans: hide free domain feature for monthly Woo hosted plans in comparison grid (#109480)
  packages/calypso-products/src/plans-list.tsx
Owners: none

MCP: Default write permissions off when enabling MCP for the first time (#109500)
  client/me/mcp/main.jsx
Owners: none

Renewal pricing: fix UI issues in the pricing grid (#109401)
  packages/plans-grid-next/src/components/shared/action-button/index.tsx
  packages/plans-grid-next/src/components/shared/header-price/index.tsx
  packages/plans-grid-next/src/components/test/header-price.tsx
Owners: @Automattic/martech

Add scheduled cache-seed image build (#109519)
  .teamcity/settings.kts
Owners: none

Add a `/start-store` route (#109479)
  client/dashboard/app-ciab/index.tsx
  client/dashboard/app/context.tsx
  client/dashboard/app/router/index.tsx
  client/dashboard/app/router/start-store.ts
  client/lib/site-spec/utils.ts
  client/server/pages/index.js
Owners: @Automattic/lego

Add POS line items to CIAB plans comparison table (#109337)
  packages/calypso-products/src/constants/features.ts
  packages/calypso-products/src/feature-group-plan-map.ts
  packages/calypso-products/src/features-list.tsx
  packages/calypso-products/src/plans-list.tsx
Owners: none
