Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Reader ATmosphere: Quote post composer + delete-own-post kebab (#110423)
  client/reader/atmosphere/author-profile-panel.tsx
  client/reader/atmosphere/composer/composer-modal.tsx
  client/reader/atmosphere/composer/test/composer-modal.test.tsx
  client/reader/atmosphere/test/author-profile-panel.test.tsx
  client/reader/atmosphere/test/thread-panel.test.tsx
  client/reader/atmosphere/test/timeline-panel.test.tsx
  client/reader/atmosphere/thread-panel.tsx
  client/reader/atmosphere/timeline-panel.tsx
  client/reader/social/components/post-card/analytics-context.tsx
  client/reader/social/components/post-card/index.tsx
  client/reader/social/components/post-card/post-actions-menu.scss
  client/reader/social/components/post-card/post-actions-menu.tsx
  client/reader/social/components/post-card/post-card-counts.tsx
  client/reader/social/components/post-card/post-card-header.tsx
  client/reader/social/components/post-card/quote-button.scss
  client/reader/social/components/post-card/quote-button.tsx
  client/reader/social/components/post-card/repost-button.tsx
  client/reader/social/components/post-card/style.scss
  client/reader/social/components/post-card/test/index.test.tsx
  client/reader/social/components/post-card/test/post-actions-menu.test.tsx
  client/reader/social/components/post-card/test/post-card-counts.test.tsx
  client/reader/social/components/post-card/test/quote-button.test.tsx
  client/reader/social/components/post-card/test/repost-button.test.tsx
  packages/api-core/src/reader-atmosphere/__tests__/fetchers.test.ts
  packages/api-core/src/reader-atmosphere/fetchers.ts
  packages/api-core/src/reader-atmosphere/types.ts
  packages/api-queries/src/__tests__/reader-atmosphere.test.tsx
  packages/api-queries/src/reader-atmosphere.ts
Owners: @Automattic/loop

ai-review: apply Phase 1 evaluation findings to Calypso prompts (#110446)
  .github/workflows/pr-review.yml
Owners: none

Add BLIK as a checkout payment method (#110270)
  client/my-sites/checkout/src/components/checkout-main.tsx
  client/my-sites/checkout/src/hooks/use-create-payment-methods/index.tsx
  client/my-sites/checkout/src/lib/blik-confirmation.tsx
  client/my-sites/checkout/src/lib/blik-processor.ts
  client/my-sites/checkout/src/lib/translate-cart.ts
  packages/wpcom-checkout/src/index.ts
  packages/wpcom-checkout/src/payment-methods/blik.tsx
  packages/wpcom-checkout/src/translate-payment-method-names.ts
  packages/wpcom-checkout/src/types.ts
Owners: @Automattic/shilling

e2e tests: Add siteSlug to more tests (#110364)
  packages/calypso-e2e/src/lib/pages/pages-page.ts
  test/e2e/specs/editor-tracking/editor-tracking__block-inserted-event.ts
  test/e2e/specs/editor-tracking/editor-tracking__other-block-events.ts
  test/e2e/specs/editor-tracking/editor-tracking__pattern-events.ts
  test/e2e/specs/editor-tracking/editor-tracking__toolbar-events.ts
  test/e2e/specs/editor/editor__navbar.ts
  test/e2e/specs/editor/editor__page-basic-flow.ts
  test/e2e/specs/editor/editor__post-basic-flow.ts
  test/e2e/specs/editor/editor__schedule.ts
  test/e2e/specs/i18n/i18n__editor.spec.ts
Owners: none

Reader Mastodon: favourite (like) frontend (CM-658) (#110401)
  .claude/skills/reader-protocol-pr-review/SKILL.md
  .claude/skills/reader-protocol-pr-review/references/common-smells.md
  client/reader/AGENTS.md
  client/reader/atmosphere/author-profile-panel.tsx
  client/reader/atmosphere/tag-feed-panel.tsx
  client/reader/atmosphere/thread-panel.tsx
  client/reader/atmosphere/timeline-panel.tsx
  client/reader/atmosphere/use-atmosphere-like-action.ts
  client/reader/mastodon/author-profile-panel.tsx
  client/reader/mastodon/tag-feed-panel.tsx
  client/reader/mastodon/test/use-mastodon-like-action.test.tsx
  client/reader/mastodon/thread-panel.tsx
  client/reader/mastodon/thread-tree/index.tsx
  client/reader/mastodon/thread-tree/thread-node.tsx
  client/reader/mastodon/timeline-panel.tsx
  client/reader/mastodon/use-mastodon-like-action.ts
  client/reader/social/AGENTS.md
  client/reader/social/components/post-card/like-button.tsx
  client/reader/social/components/post-card/like-context.tsx
  client/reader/social/components/post-card/post-card-counts.tsx
  client/reader/social/components/post-card/test/like-button.test.tsx
  client/reader/social/components/post-card/test/post-card-counts.test.tsx
  client/reader/social/mappers/mastodon.ts
  client/reader/social/mappers/test/mastodon.test.ts
  packages/api-core/src/reader-mastodon/__tests__/fetchers.test.ts
  packages/api-core/src/reader-mastodon/fetchers.ts
  packages/api-core/src/reader-mastodon/types.ts
  packages/api-queries/src/__tests__/reader-mastodon.test.tsx
  packages/api-queries/src/reader-mastodon.ts
Owners: @Automattic/loop

Magic login: show the connector logo on Magic Link when coming from Connector Flow (#110308)
  client/login/magic-login/index.jsx
  client/login/magic-login/test/index.test.jsx
Owners: none

Generate Feature Clip: hero sidebar entry + experimental notices (#110412)
  packages/image-studio/src/abilities/update-canvas-video.test.ts
  packages/image-studio/src/abilities/update-canvas-video.ts
  packages/image-studio/src/components/experimental-badge/index.tsx
  packages/image-studio/src/components/experimental-badge/style.scss
  packages/image-studio/src/components/index.tsx
  packages/image-studio/src/components/style.scss
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.test.tsx
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.tsx
  packages/image-studio/src/extensions/feature-clip-sidebar.scss
  packages/image-studio/src/index.tsx
Owners: none

[RSM-2132] Improve dashboard dark mode plugin borders (#110418)
  client/dashboard/app/_dark-theme.scss
  client/dashboard/plugins/manage/components/plugin-sites.scss
  client/dashboard/plugins/manage/components/plugin-sites.tsx
  client/dashboard/plugins/manage/components/plugin-switcher.scss
  client/dashboard/plugins/manage/components/plugin-switcher.tsx
Owners: @Automattic/lego

Reader: Replace trendingUp WP Icon with trophy Gridicon without importing the whole set (#110448)
  apps/notifications/src/app/note-icon/trophy-gridicon.tsx
  apps/notifications/src/app/note-list/dataviews.tsx
Owners: none

e2e tests: Attempt to fix flaky likes__post test (#110450)
  packages/calypso-e2e/src/lib/pages/published/published-post-page.ts
  test/e2e/specs/published-content/likes__post.ts
Owners: none

Reader Mastodon: boost (repost) frontend (CM-660) (#110404)
  client/reader/AGENTS.md
  client/reader/atmosphere/author-profile-panel.tsx
  client/reader/atmosphere/tag-feed-panel.tsx
  client/reader/atmosphere/thread-panel.tsx
  client/reader/atmosphere/timeline-panel.tsx
  client/reader/atmosphere/use-atmosphere-repost-action.ts
  client/reader/mastodon/author-profile-panel.tsx
  client/reader/mastodon/tag-feed-panel.tsx
  client/reader/mastodon/test/use-mastodon-repost-action.test.tsx
  client/reader/mastodon/thread-panel.tsx
  client/reader/mastodon/thread-tree/thread-node.tsx
  client/reader/mastodon/timeline-panel.tsx
  client/reader/mastodon/use-mastodon-repost-action.ts
  client/reader/social/AGENTS.md
  client/reader/social/components/post-card/post-card-counts.tsx
  client/reader/social/components/post-card/repost-button.tsx
  client/reader/social/components/post-card/repost-context.tsx
  client/reader/social/components/post-card/test/post-card-counts.test.tsx
  client/reader/social/components/post-card/test/repost-button.test.tsx
  client/reader/social/mappers/mastodon.ts
  client/reader/social/mappers/test/mastodon.test.ts
  packages/api-core/src/reader-mastodon/__tests__/fetchers.test.ts
  packages/api-core/src/reader-mastodon/fetchers.ts
  packages/api-core/src/reader-mastodon/types.ts
  packages/api-queries/src/__tests__/reader-mastodon.test.tsx
  packages/api-queries/src/reader-mastodon.ts
Owners: @Automattic/loop

Unified Connection: foundation module for plugin family detection (1/5) (#110449)
  client/jetpack-connect/connection-content/families.ts
  client/jetpack-connect/connection-content/index.ts
  client/jetpack-connect/connection-content/plugin-registry.ts
  client/jetpack-connect/connection-content/selectors.ts
  client/jetpack-connect/connection-content/test/families.test.ts
  client/jetpack-connect/connection-content/test/plugin-registry.test.ts
  client/jetpack-connect/connection-content/test/selectors.test.ts
  client/jetpack-connect/connector-branding-config.js
Owners: none

Fix stale mini-css runtime hashes with webpack persistent cache, Enable cache (#110268)
  .teamcity/_self/projects/WebApp.kt
  client/webpack.config.js
  packages/calypso-build/webpack/mini-css-runtime-full-hash.js
  packages/calypso-build/webpack/mini-css-with-rtl.js
  packages/calypso-build/webpack/sass.js
Owners: none

AGENTS.md: document type_check_client pre-PR check (#110457)
  AGENTS.md
Owners: none

Podcast: drop redundant tab headings, cap settings at 680px (#110424)
  client/my-sites/podcast/components/distribution.tsx
  client/my-sites/podcast/components/episodes.tsx
  client/my-sites/podcast/components/settings.tsx
  client/my-sites/podcast/style.scss
Owners: none

E2E: Do not wait for load event for site selector detection (#110456)
  packages/calypso-e2e/src/lib/components/site-select-component.ts
Owners: none

APM: post-enable dashboard with tabs and request detail (#110388)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/performance/backend/database/index.tsx
  client/dashboard/sites/performance/backend/external-requests/index.tsx
  client/dashboard/sites/performance/backend/index.tsx
  client/dashboard/sites/performance/backend/mock-data.ts
  client/dashboard/sites/performance/backend/overview/chart-slot.tsx
  client/dashboard/sites/performance/backend/overview/index.tsx
  client/dashboard/sites/performance/backend/overview/slow-requests-list.tsx
  client/dashboard/sites/performance/backend/request-detail/index.tsx
  client/dashboard/sites/performance/backend/requests/index.tsx
  client/dashboard/sites/performance/backend/test/index.test.tsx
  client/dashboard/sites/performance/backend/transactions/index.tsx
  packages/api-core/src/site-hosting-apm/index.ts
  packages/api-core/src/site-hosting-apm/types.ts
Owners: @Automattic/lego

Checkout: parity cleanup for UPI, PIX, and PIX Automatico processors (#110453)
  client/my-sites/checkout/src/lib/pix-automatico-processor.ts
  client/my-sites/checkout/src/lib/pix-processor.ts
  client/my-sites/checkout/src/lib/upi-processor.ts
  client/my-sites/checkout/src/test/upi-processor.ts
Owners: @Automattic/shilling

[Take 2] Onboarding: header refinements + Plans back-nav + domain copy (#110464)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/domain-search/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/unified-plans-step.tsx
  packages/onboarding/src/step-container-v2/components/TopBar/TopBar.tsx
  packages/onboarding/src/step-container-v2/components/TopBar/style.scss
  packages/onboarding/src/step-container-v2/components/buttons/BackButton/style.scss
  packages/onboarding/src/step-container-v2/components/buttons/LinkButton/style.scss
Owners: @Automattic/quake

Reader ATmosphere: image attachments composer (CM-671) (#110452)
  client/reader/atmosphere/composer/composer-footer.tsx
  client/reader/atmosphere/composer/composer-modal.tsx
  client/reader/atmosphere/composer/composer-provider.tsx
  client/reader/atmosphere/composer/media/alt-text-popover.tsx
  client/reader/atmosphere/composer/media/compress-image.ts
  client/reader/atmosphere/composer/media/constants.ts
  client/reader/atmosphere/composer/media/error-copy.ts
  client/reader/atmosphere/composer/media/image-grid.tsx
  client/reader/atmosphere/composer/media/index.ts
  client/reader/atmosphere/composer/media/test/alt-text-popover.test.tsx
  client/reader/atmosphere/composer/media/test/compress-image.test.ts
  client/reader/atmosphere/composer/media/test/image-grid.test.tsx
  client/reader/atmosphere/composer/media/test/use-image-uploads.test.tsx
  client/reader/atmosphere/composer/media/types.ts
  client/reader/atmosphere/composer/media/use-image-uploads.ts
  client/reader/atmosphere/composer/style.scss
  client/reader/atmosphere/composer/test/composer-footer.test.tsx
  client/reader/atmosphere/composer/test/composer-modal.test.tsx
  client/reader/atmosphere/composer/test/composer-provider.test.tsx
  client/reader/atmosphere/composer/triggers/test/compose-fab.test.tsx
  client/reader/atmosphere/composer/triggers/test/timeline-compose-pill.test.tsx
  client/reader/atmosphere/connect-form.tsx
  client/reader/atmosphere/use-atmosphere-like-action.ts
  client/reader/atmosphere/use-atmosphere-repost-action.ts
  client/reader/social/components/post-card/post-actions-menu.tsx
  client/reader/social/components/post-card/post-card-embed-images.tsx
  client/reader/social/components/post-card/test/post-card-embed-images.test.tsx
  packages/api-core/src/reader-atmosphere/__tests__/errors.test.ts
  packages/api-core/src/reader-atmosphere/__tests__/fetchers.test.ts
  packages/api-core/src/reader-atmosphere/errors.ts
  packages/api-core/src/reader-atmosphere/fetchers.ts
  packages/api-core/src/reader-atmosphere/types.ts
  packages/api-queries/src/__tests__/reader-atmosphere.test.tsx
  packages/api-queries/src/reader-atmosphere.ts
Owners: @Automattic/loop

Reader ATmosphere: re-enable Quote post menu item in repost dropdown (#110469)
  client/reader/atmosphere/use-atmosphere-repost-action.ts
  client/reader/social/AGENTS.md
  client/reader/social/components/post-card/test/repost-button.test.tsx
Owners: @Automattic/loop

Checkout: desktop redesign — sticky summary, sidebar Pay CTA, trust footer, subscription tile picker (#110099)
  client/layout/style.scss
  client/my-sites/checkout/src/components/CheckoutMoneyBackGuarantee.tsx
  client/my-sites/checkout/src/components/checkout-main-content.tsx
  client/my-sites/checkout/src/components/checkout-pay-button-footer.tsx
  client/my-sites/checkout/src/components/checkout-processor-notice.tsx
  client/my-sites/checkout/src/components/checkout-sidebar-plan-upsell/style.scss
  client/my-sites/checkout/src/components/checkout-summary-refund-windows.tsx
  client/my-sites/checkout/src/components/checkout-terms-modal.tsx
  client/my-sites/checkout/src/components/checkout-terms.tsx
  client/my-sites/checkout/src/components/checkout-trust-cards.tsx
  client/my-sites/checkout/src/components/cost-overrides-list.tsx
  client/my-sites/checkout/src/components/item-variation-picker/index.tsx
  client/my-sites/checkout/src/components/item-variation-picker/item-variation-button-row.tsx
  client/my-sites/checkout/src/components/refund-policies.tsx
  client/my-sites/checkout/src/components/test/checkout-pay-button-footer.test.tsx
  client/my-sites/checkout/src/components/test/refund-policies.ts
  client/my-sites/checkout/src/components/wp-checkout-order-summary.tsx
  client/my-sites/checkout/src/hooks/use-rsm-better-checkout-experiment.ts
  client/my-sites/checkout/src/lib/submit-button-slot.ts
Owners: @Automattic/shilling

Reader onboarding rsm - initialize new subscriptions step design. (#110386)
  client/reader/follow-button/index.tsx
  client/reader/onboarding-rsm/subscribe-modal/index.tsx
  client/reader/onboarding-rsm/subscribe-modal/style.scss
Owners: @Automattic/loop

Podcasting: save podcast show URL (#110474)
  client/my-sites/podcast/components/distribution.tsx
  client/my-sites/podcast/components/submit-modal.tsx
  client/my-sites/podcast/hooks/use-podcatcher-url.ts
  client/my-sites/podcast/style.scss
Owners: none

E2E: match renamed "Use a domain I own" button (#110479)
  packages/calypso-e2e/src/lib/components/domain-search-component.ts
Owners: none

Remove CommonJS browser require usage (#110445)
  client/me/security/controller.jsx
  client/state/reader/posts/actions.js
  client/state/reader/posts/test/actions.js
Owners: @Automattic/loop

Dashboard: Surface recovery session errors as notices on critical error screen (#110366)
  client/dashboard/sites/critical-error/index.tsx
  client/dashboard/utils/site-jetpack-critical-error.ts
  client/sites/overview/components/critical-error/index.tsx
  client/sites/overview/components/critical-error/style.scss
  packages/api-core/src/site/types.ts
Owners: @Automattic/lego

Checkout: fix flaky 100-year domain E2E (#110481)
  packages/calypso-e2e/src/lib/pages/cart-checkout-page.ts
Owners: none

Unified Connection: account H1 + interim subtitle on auth/login/signup (2/5) (#110458)
  client/jetpack-connect/authorize.jsx
  client/jetpack-connect/connection-content/copy.ts
  client/jetpack-connect/connection-content/index.ts
  client/jetpack-connect/connection-content/test/copy.test.ts
  client/jetpack-connect/connector-branding-config.js
  client/jetpack-connect/signup.jsx
  client/jetpack-connect/style.scss
  client/jetpack-connect/test/__snapshots__/signup.js.snap
  client/jetpack-connect/test/authorize.js
  client/jetpack-connect/test/connector-branding-config.js
  client/login/wp-login/components/one-login-layout.scss
  client/login/wp-login/components/one-login-layout.tsx
  client/login/wp-login/hooks/get-header-text.tsx
  client/login/wp-login/hooks/get-heading-subtext.tsx
  client/login/wp-login/hooks/test/get-heading-subtext.test.tsx
  client/login/wp-login/index.jsx
Owners: none

BLIK: improve cancel copy and post-expiry UX (#110455)
  client/my-sites/checkout/src/lib/blik-confirmation.tsx
  client/my-sites/checkout/src/lib/blik-processor.ts
Owners: @Automattic/shilling

agents-manager: external-context bridge + context cards (#110400)
  packages/agents-manager/src/components/agent-chat/index.tsx
  packages/agents-manager/src/components/context-cards/index.tsx
  packages/agents-manager/src/components/context-cards/style.scss
  packages/agents-manager/src/components/orchestrator-chat/index.tsx
  packages/agents-manager/src/global.d.ts
  packages/agents-manager/src/hooks/use-setup-custom-actions/README.md
  packages/agents-manager/src/hooks/use-setup-custom-actions/index.ts
  packages/agents-manager/src/utils/create-agent-config.ts
  packages/agents-manager/src/utils/external-context.ts
Owners: none

Add headers support to `wpcomRequest` (#110485)
  packages/wpcom-proxy-request/types/index.d.ts
Owners: none

Image Studio: prompt suggestions for video (#110454)
  packages/image-studio/src/components/experimental-badge/index.tsx
  packages/image-studio/src/components/generate-layout/index.tsx
  packages/image-studio/src/components/generate-layout/style.scss
  packages/image-studio/src/components/index.tsx
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.test.tsx
  packages/image-studio/src/extensions/feature-clip-sidebar-extension.tsx
  packages/image-studio/src/hooks/use-async-suggestions-loader.ts
  packages/image-studio/src/hooks/use-video-clip-suggestions.test.ts
  packages/image-studio/src/hooks/use-video-clip-suggestions.ts
Owners: none

Unified Connection: dynamic family-driven subtitles (3/5) (#110484)
  client/jetpack-connect/connection-content/copy.ts
  client/jetpack-connect/connection-content/index.ts
  client/jetpack-connect/connection-content/scenarios.ts
  client/jetpack-connect/connection-content/test/copy.test.ts
  client/jetpack-connect/connection-content/test/scenarios.test.ts
  client/jetpack-connect/test/__snapshots__/signup.js.snap
  client/jetpack-connect/test/authorize.js
  client/login/wp-login/hooks/get-heading-subtext.tsx
  client/login/wp-login/hooks/test/get-heading-subtext.test.tsx
Owners: none

E2E: Skip extra click when possible, and tighten siteLink selector (#110472)
  packages/calypso-e2e/src/lib/pages/pages-page.ts
Owners: none

Dashboard: fix expired-domain UI inconsistencies (#110462)
  client/dashboard/domains/domain-overview/featured-card-renew.tsx
  client/dashboard/domains/domain-security/ssl-certificate.tsx
  client/dashboard/utils/domain.ts
Owners: @Automattic/lego

Update Blaze v3 ad preview options (#110460)
  client/my-sites/promote-post-i2/components/ad-preview/index.tsx
  client/my-sites/promote-post-i2/components/campaign-item-details/AdPreviewModal.tsx
  client/my-sites/promote-post-i2/components/campaign-item-details/index.tsx
  client/my-sites/promote-post-i2/components/campaign-item-details/style.scss
Owners: none

Reader Mastodon: switch UK spellings to American English (#110495)
  client/reader/AGENTS.md
  client/reader/mastodon/mastodon-oauth-callback-view.tsx
  client/reader/mastodon/tag-feed-panel.tsx
  client/reader/mastodon/test/mastodon-oauth-callback-view.test.tsx
  client/reader/mastodon/test/tag-feed-panel.test.tsx
  client/reader/mastodon/test/use-mastodon-like-action.test.tsx
  client/reader/mastodon/use-mastodon-like-action.ts
  client/reader/social/AGENTS.md
  client/reader/social/mappers/mastodon.ts
  client/reader/social/mappers/test/mastodon.test.ts
  packages/api-core/src/reader-mastodon/__tests__/errors.test.ts
  packages/api-core/src/reader-mastodon/types.ts
  packages/api-queries/src/reader-mastodon.ts
Owners: @Automattic/loop

[RSM-1784] Add dashboard color scheme preference (#110343)
  client/components/environment-badge/index.jsx
  client/dashboard/.eslintrc.js
  client/dashboard/app/color-scheme/index.tsx
  client/dashboard/app/color-scheme/test/index.test.tsx
  client/dashboard/app/layout.tsx
  client/dashboard/app/router/me.tsx
  client/dashboard/app/router/root.tsx
  client/dashboard/me/appearance/index.tsx
  client/dashboard/me/preferences-appearance/index.tsx
  client/dashboard/me/preferences/index.tsx
  client/document/index.jsx
  client/document/test/loading-placeholder.test.tsx
  client/lib/color-scheme/index.ts
  client/lib/color-scheme/test/index.test.ts
  client/lib/dark-mode-helper/index.tsx
  client/lib/dark-mode-helper/style.scss
  client/lib/load-dev-helpers/index.js
  client/lib/load-dev-helpers/test/index.test.js
  client/server/pages/index.js
  packages/api-core/src/me-preferences/types.ts
  packages/api-queries/src/me-preferences.ts
Owners: @Automattic/lego

Login: improve Lost Password link placement and Support link target (DOTOBRD-412) (#110367)
  client/blocks/login/lost-password-form.jsx
  client/blocks/login/style.scss
  client/blocks/login/test/lost-password-form.jsx
  client/login/wp-login/components/one-login-footer.scss
  client/login/wp-login/index.jsx
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
