Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Purchases: navigate away on survey close after cancellation (#110475)
  client/me/purchases/cancel-purchase/index.tsx
Owners: none

Login: fix oversized Last used badge (#111042)
  client/blocks/login/login-form.scss
  client/components/social-buttons/style.scss
Owners: none

calypso-build: trim sass includePaths to what each project actually needs (#110660)
  apps/blaze-dashboard/webpack.config.js
  apps/odyssey-stats/webpack.config.js
  client/assets/stylesheets/reader-mobile.scss
  client/blocks/reader-feed-item/style.scss
  client/blocks/reader-site-subscription/styles.scss
  client/components/jetpack/licensing-prompt-dialog/style.scss
  client/components/survey-container/components/style.scss
  client/landing/subscriptions/components/comment-list/styles.scss
  client/landing/subscriptions/components/site-subscriptions-list/styles/site-subscriptions-list-actions-bar.scss
  client/landing/subscriptions/components/site-subscriptions-list/styles/site-subscriptions-list.scss
  client/landing/subscriptions/components/tab-views/comments/styles.scss
  client/my-sites/store/app/store-stats/store-stats-chart/style.scss
  client/my-sites/store/style.scss
  client/my-sites/woocommerce/style.scss
  client/reader/site-subscriptions-manager/style.scss
  client/reader/stream/style.scss
  client/reader/style.scss
  client/signup/style.scss
  client/sites/deployments/components/repositories/style.scss
  client/sites/deployments/deployment-creation/style.scss
  client/sites/settings/server/style.scss
  client/webpack.config.js
Owners: @Automattic/loop

Reader Social: keep composer modal above the mobile keyboard (#111048)
  client/reader/social/composer/composer-modal.tsx
  client/reader/social/composer/style.scss
Owners: @Automattic/loop

APM: Add request detail page with span tree (#111025)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/performance/backend/bar-list.scss
  client/dashboard/sites/performance/backend/bar-list.tsx
  client/dashboard/sites/performance/backend/index.tsx
  client/dashboard/sites/performance/backend/mock-data.ts
  client/dashboard/sites/performance/backend/overview/index.tsx
  client/dashboard/sites/performance/backend/overview/slow-requests-list.tsx
  client/dashboard/sites/performance/backend/request-detail/index.tsx
  client/dashboard/sites/performance/backend/request-detail/span-tree.scss
  client/dashboard/sites/performance/backend/request-detail/span-tree.tsx
  client/dashboard/sites/performance/backend/slow-list.tsx
  client/dashboard/sites/performance/backend/transactions/index.tsx
  client/dashboard/sites/performance/backend/utils.ts
  packages/api-core/src/site-hosting-apm/fetchers.ts
  packages/api-core/src/site-hosting-apm/types.ts
  packages/api-queries/src/site-apm.ts
Owners: @Automattic/lego

Skip completed-survey shortcut under split-cancel-remove flag (#111023)
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
Owners: @Automattic/lego

Purchases: show skip button on auto-renew survey (#111021)
  client/components/marketing-survey/cancel-purchase-form/index.jsx
Owners: none

Reader: add Bluesky post interaction settings + unify composer extras surface (#111012)
  client/reader/atmosphere/composer-config.tsx
  client/reader/atmosphere/interaction-settings/atmosphere-interaction-settings.tsx
  client/reader/atmosphere/interaction-settings/index.ts
  client/reader/atmosphere/interaction-settings/pill-summary.ts
  client/reader/atmosphere/interaction-settings/serialize.ts
  client/reader/atmosphere/interaction-settings/state.ts
  client/reader/atmosphere/interaction-settings/style.scss
  client/reader/atmosphere/interaction-settings/test/atmosphere-interaction-settings.test.tsx
  client/reader/atmosphere/interaction-settings/test/serialize.test.ts
  client/reader/atmosphere/interaction-settings/test/state.test.ts
  client/reader/atmosphere/interaction-settings/test/use-atmosphere-interaction-settings.test.tsx
  client/reader/atmosphere/interaction-settings/use-atmosphere-interaction-settings.tsx
  client/reader/mastodon/composer-controls.tsx
  client/reader/mastodon/style.scss
  client/reader/mastodon/test/use-mastodon-composer-extras.test.tsx
  client/reader/mastodon/use-mastodon-composer-extras.tsx
  client/reader/social/AGENTS.md
  client/reader/social/composer/composer-config.tsx
  client/reader/social/composer/composer-extras-pill.tsx
  client/reader/social/composer/composer-modal.tsx
  client/reader/social/composer/composer-provider.tsx
  client/reader/social/composer/index.ts
  client/reader/social/composer/style.scss
  client/reader/social/composer/test/composer-extras-pill.test.tsx
  client/reader/social/composer/test/composer-modal.test.tsx
  client/reader/social/composer/visibility-cw-controls.tsx
  packages/api-core/src/reader-atmosphere/__tests__/fetchers.test.ts
  packages/api-core/src/reader-atmosphere/fetchers.ts
  packages/api-core/src/reader-atmosphere/types.ts
Owners: @Automattic/loop

Skip marketplace subscriptions confirmation modal under split flag (#111022)
  client/me/purchases/cancel-purchase/index.tsx
Owners: none

App Banner: hide on the social reader surfaces (#111052)
  client/state/selectors/should-display-app-banner.ts
  client/state/selectors/test/should-display-app-banner.js
Owners: none

fix(happy-blocks): clear search input after submitting support query (#111045)
  apps/happy-blocks/block-library/search-card/view-odie.js
Owners: none

Charts: bump @automattic/charts to 1.4.3 (#111047)
  .yarn/patches/@automattic-charts-npm-1.3.0-e188dc5003.patch
  client/package.json
  package.json
  yarn.lock
Owners: none

E2E: dismiss Jetpack podcast promo in social editor tests (#111058)
  test/e2e/specs/jetpack/social__editor-features.ts
Owners: none

Help Center: scope logged-out FAB to auth/account routes (#111065)
  client/landing/stepper/index.tsx
  client/layout/logged-out.jsx
Owners: @Automattic/dotcom-stepper

Dashboard WordPress settings: hide beta notice and skip backup when versions match (#111030)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/settings-wordpress/index.tsx
  client/dashboard/sites/settings-wordpress/test/index.test.tsx
  client/dashboard/sites/settings-wordpress/use-version-switch.ts
Owners: @Automattic/lego

Help Center FAB: redesign per Figma spec (#111069)
  client/components/help-center-fab/index.tsx
  client/components/help-center-fab/style.scss
Owners: none

A4A Migrations Commissions: use DataViews actions API and add mobile actions (#111005)
  client/a8c-for-agencies/sections/migrations/commissions-list/commission-list-actions.tsx
  client/a8c-for-agencies/sections/migrations/commissions-list/index.tsx
  client/a8c-for-agencies/sections/migrations/commissions-list/mobile-view.tsx
  client/a8c-for-agencies/sections/migrations/commissions-list/untag-site-dialog.tsx
  client/a8c-for-agencies/sections/migrations/commissions-list/use-commission-list-actions.ts
Owners: none

A4A DataViews: compose toolbar via children to hide layout switcher (#111035)
  client/a8c-for-agencies/components/items-dashboard/items-dataviews/index.tsx
  client/a8c-for-agencies/sections/migrations/commissions-list/index.tsx
  client/a8c-for-agencies/sections/referrals/referrals-list/index.tsx
  client/a8c-for-agencies/sections/reports/primary/dashboard/reports-list.tsx
  client/a8c-for-agencies/sections/sites/features/jetpack/jetpack-sites-dataviews.tsx
  client/a8c-for-agencies/sections/team/primary/team-list/invite-table.tsx
  client/a8c-for-agencies/sections/team/primary/team-list/member-table.tsx
  client/a8c-for-agencies/sections/woopayments/dashboard-content/sites-with-woopayments.tsx
Owners: none

MSD: Server-render the interim omnibar in the user's language (#109904)
  client/dashboard/app/i18n.tsx
  client/dashboard/app/interim-omnibar/index.tsx
  client/dashboard/app/interim-omnibar/interim-omnibar.tsx
  client/dashboard/app/shared-locale-loader.ts
  client/document/index.jsx
  client/layout/masterbar/logged-in.jsx
  client/server/dashboard-i18n.ts
  client/server/pages/index.js
  packages/i18n-calypso/src/types/index.d.ts
Owners: @Automattic/lego, @Automattic/i18n

Dashboard: show the loader back on the interim omnibar (#111041)
  client/dashboard/app/omnibar/style.scss
Owners: @Automattic/lego

Dashboard: pass onReset to DataViews as it's now supported upstream (#111037)
  client/dashboard/components/dataviews/dataviews.tsx
  client/dashboard/components/dataviews/readme.md
  client/dashboard/domains/index.tsx
  client/dashboard/emails/index.tsx
  client/dashboard/me/billing-history/index.tsx
  client/dashboard/me/billing-purchases/index.tsx
  client/dashboard/sites-ciab/index.tsx
  client/dashboard/sites/backups/backups-list.tsx
  client/dashboard/sites/dataviews/sites-dataviews.tsx
  client/dashboard/sites/deployments-list/index.tsx
  client/dashboard/sites/domains/index.tsx
  client/dashboard/sites/index.tsx
  client/dashboard/sites/logs-activity/dataviews/index.tsx
  client/dashboard/sites/logs/dataviews/index.tsx
  client/dashboard/sites/scan-active/index.tsx
  client/dashboard/sites/scan-history/index.tsx
  client/dashboard/sites/settings-repositories/index.tsx
  client/sites/components/sites-dataviews/default-sites.tsx
Owners: @Automattic/lego

Help Center FAB: clear persistent bottom bars via --bottom-bar-height (#111072)
  client/components/help-center-fab/style.scss
  packages/domain-search/src/ui/domains-mini-cart/index.tsx
  packages/domain-search/src/ui/domains-mini-cart/style.scss
Owners: none

ai-review: send per-run telemetry to wpcom (#111073)
  .github/workflows/a4a-pr-review.yml
  .github/workflows/dashboard-pr-review.yml
  .github/workflows/pr-review-on-ping.yml
  .github/workflows/pr-review.yml
Owners: none

Agents Manager: gate chat docking on fullscreen mode for editor screens (#111008)
  packages/agents-manager/src/hooks/__tests__/use-agent-layout-manager.test.tsx
  packages/agents-manager/src/hooks/use-agent-layout-manager/README.md
  packages/agents-manager/src/hooks/use-agent-layout-manager/index.tsx
Owners: none

A4A WooPayments: align overview section backgrounds to portal neutral (#111081)
  client/a8c-for-agencies/sections/woopayments/primary/woopayments-overview/index.tsx
  client/a8c-for-agencies/sections/woopayments/primary/woopayments-overview/style.scss
Owners: none

Reader: fix Full-post view click handling and blank stream (#111059)
  client/reader/data/stream/build-query-params.js
  client/reader/recent/index.tsx
  client/reader/recent/test/get-stream-item-key.test.ts
Owners: @Automattic/loop

Reader sidebar: only mark Social as selected when on a connections route (#111082)
  client/reader/sidebar/reader-sidebar-connections/index.tsx
Owners: @Automattic/loop

Remove A4A marketplace header squiggles (#111017)
  client/a8c-for-agencies/sections/marketplace/hosting-overview/style.scss
  client/a8c-for-agencies/sections/marketplace/products-overview/style.scss
  client/a8c-for-agencies/sections/marketplace/refer-hosting/style.scss
  client/assets/images/a8c-for-agencies/marketplace-hosting-page-bg.svg
Owners: none

Revert domains-mini-cart changes from #111072 (#111086)
  packages/domain-search/src/ui/domains-mini-cart/index.tsx
  packages/domain-search/src/ui/domains-mini-cart/style.scss
Owners: none

Add autosave customizer parity (#111090)
  client/my-sites/sidebar/customize/customize-mode.scss
  client/my-sites/sidebar/customize/draft-state.ts
  client/my-sites/sidebar/customize/drag-drop.ts
  client/my-sites/sidebar/customize/footer.tsx
  client/my-sites/sidebar/customize/index.tsx
  client/my-sites/sidebar/customize/keyboard-reorder.ts
  client/my-sites/sidebar/customize/move-menu.tsx
  client/my-sites/sidebar/customize/test/draft-state.ts
  client/my-sites/sidebar/customize/test/drag-drop.ts
  client/my-sites/sidebar/customize/test/footer.tsx
  client/my-sites/sidebar/customize/test/move-menu.tsx
  client/my-sites/sidebar/customize/test/provider.tsx
Owners: none

Revert "Onboarding plans: redirect free plan selections to the choose page (r…" (#111093)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  test/e2e/specs/onboarding/onboarding__write.ts
Owners: none

Dashboard: cover InaccessibleJetpackNotice error edge cases (#111089)
  client/dashboard/sites/site/test/notices.test.tsx
Owners: @Automattic/lego

chore(deps): update @wordpress/eslint-plugin to ^24.5.0 (#111092)
  package.json
  packages/verbum-block-editor/package.json
  yarn.lock
Owners: none

A4A Checkout: align client referral inputs with portal typography (#111019)
  client/a8c-for-agencies/sections/marketplace/checkout/request-client-payment.tsx
  client/a8c-for-agencies/sections/marketplace/checkout/style-v1.scss
Owners: none

A4A Plugins: tighten icon column border around the icon (#111057)
  client/a8c-for-agencies/sections/plugins/style.scss
Owners: none

A4A: standardize header CTA buttons on @wordpress/components (#111050)
  client/a8c-for-agencies/components/add-new-site-button/index.tsx
  client/a8c-for-agencies/sections/marketplace/assign-license/index.tsx
  client/a8c-for-agencies/sections/marketplace/assign-license/styles.scss
  client/a8c-for-agencies/sections/migrations/primary/migrations-overview-v2/migrate-site-button.tsx
  client/a8c-for-agencies/sections/overview/header-actions/index.tsx
  client/a8c-for-agencies/sections/overview/header-actions/style.scss
  client/a8c-for-agencies/sections/purchases/billing/billing-dashboard.tsx
  client/a8c-for-agencies/sections/purchases/billing/style.scss
  client/a8c-for-agencies/sections/purchases/licenses/licenses-overview/index.tsx
  client/a8c-for-agencies/sections/purchases/licenses/licenses-overview/style.scss
  client/a8c-for-agencies/sections/purchases/payment-methods/payment-method-overview/index.tsx
  client/a8c-for-agencies/sections/sites/sites-header-actions/index.tsx
  client/a8c-for-agencies/sections/sites/sites-header-actions/style.scss
Owners: none

A4A Agency Tier: add influenced revenue tooltip (#111013)
  client/a8c-for-agencies/components/a4a-popover/index.tsx
  client/a8c-for-agencies/components/stat/index.tsx
  client/a8c-for-agencies/sections/agency-tier/overview-content/influenced-revenue.scss
  client/a8c-for-agencies/sections/agency-tier/overview-content/influenced-revenue.tsx
Owners: none

A4A: extract A4APopoverTrigger with built-in keyboard a11y (#111038)
  client/a8c-for-agencies/components/a4a-popover/index.tsx
  client/a8c-for-agencies/components/a4a-popover/style.scss
  client/a8c-for-agencies/components/a4a-popover/trigger.tsx
  client/a8c-for-agencies/components/consolidated-stats-card/index.tsx
  client/a8c-for-agencies/components/consolidated-stats-card/style.scss
  client/a8c-for-agencies/sections/agency-tier/overview-content/influenced-revenue.scss
  client/a8c-for-agencies/sections/agency-tier/overview-content/influenced-revenue.tsx
  client/a8c-for-agencies/sections/purchases/licenses/license-preview/index.tsx
  client/a8c-for-agencies/sections/referrals/referral-details/components/assigned-to.tsx
  client/a8c-for-agencies/sections/woopayments/dashboard-content/site-columns.tsx
  client/a8c-for-agencies/sections/woopayments/dashboard-content/style.scss
Owners: none

Allow preloading Woo AI assistant before the page renders (#110062)
  apps/agents-manager/agents-manager-wooai.jsx
  packages/data-stores/src/utils.ts
Owners: none

APM: Read plugin span context from the nested `plugins` object (#111062)
  client/dashboard/sites/performance/backend/request-detail/span-tree.tsx
  packages/api-core/src/site-hosting-apm/types.ts
Owners: @Automattic/lego
