Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

Lib: forward-compatible React 19 changes (#111618)
  client/lib/detect-window-boundary/index.ts
  client/lib/partner-branding.tsx
  client/lib/purchases/types.ts
  client/lib/use-memo-compare/index.ts
Owners: none

Layout: migrate JSX.Element to React.JSX.Element for React 19 compat (#111617)
  client/layout/sidebar-v2/navigator/navigator-menu-item.tsx
  client/layout/sidebar-v2/navigator/navigator-menu.tsx
Owners: none

Domains: group bundle members into one row in the domain-search cart panel (#111575)
  client/components/domains/wpcom-domain-search/test/use-wpcom-domain-search-props.ts
  client/components/domains/wpcom-domain-search/use-wpcom-domain-search-cart.ts
  packages/domain-search/src/components/cart/full-cart.tsx
  packages/domain-search/src/components/cart/group-cart-items.ts
  packages/domain-search/src/components/cart/test/full-cart.tsx
  packages/domain-search/src/components/cart/test/group-cart-items.ts
  packages/domain-search/src/page/types.ts
  packages/domain-search/src/test-helpers/factories/cart.ts
  packages/domain-search/src/test-helpers/renderer.tsx
  packages/domain-search/src/ui/domains-full-cart-items/bundle.tsx
  packages/domain-search/src/ui/index.ts
Owners: @Automattic/quake

Domain bundles: disclose the full-price renewal aggregate on grouped rows (#111633)
  client/my-sites/checkout/src/components/cost-overrides-list.tsx
  client/my-sites/checkout/src/components/test/cost-overrides-list.test.tsx
  packages/mini-cart/test/mini-cart-line-items.tsx
  packages/wpcom-checkout/src/checkout-line-items.tsx
  packages/wpcom-checkout/test/bundle-line-item.tsx
Owners: @Automattic/shilling

Pricing differentiation: enable new features in all onboarding flows (#111621)
  client/my-sites/plans-features-main/hooks/test/use-plan-differentiators-experiment.test.ts
  client/my-sites/plans-features-main/hooks/use-generate-action-callback.ts
  client/my-sites/plans-features-main/hooks/use-generate-action-hook.tsx
  client/my-sites/plans-features-main/hooks/use-plan-differentiators-experiment.ts
  client/my-sites/plans-features-main/index.tsx
  packages/shopping-cart/src/types.ts
Owners: @Automattic/shilling

Reader: add profile settings tab to edit identity and tab/site visibility (#111316)
  client/blocks/edit-gravatar/index.jsx
  client/components/section-nav/tabs.scss
  client/reader/data/user-profile/index.ts
  client/reader/data/user-profile/test/use-profile-tab-visibility.test.ts
  client/reader/data/user-profile/test/use-set-profile-tab-visibility.test.ts
  client/reader/data/user-profile/use-profile-tab-visibility.ts
  client/reader/data/user-profile/use-set-hidden-sites.ts
  client/reader/data/user-profile/use-set-profile-tab-visibility.ts
  client/reader/user-profile/components/top-sites/index.tsx
  client/reader/user-profile/components/top-sites/test/index.test.tsx
  client/reader/user-profile/components/user-profile-header/index.tsx
  client/reader/user-profile/components/user-profile-header/test/index.test.tsx
  client/reader/user-profile/index.tsx
  client/reader/user-profile/test/index.test.tsx
  client/reader/user-profile/views/settings/index.tsx
  client/reader/user-profile/views/settings/profile-identity-card.tsx
  client/reader/user-profile/views/settings/profile-visibility-card.tsx
  client/reader/user-profile/views/settings/sites-visibility-card.tsx
  client/reader/user-profile/views/settings/style.scss
  client/reader/user-profile/views/settings/test/index.test.tsx
  client/reader/user-profile/views/settings/test/profile-visibility-card.test.tsx
  client/reader/user-profile/views/settings/test/sites-visibility-card.test.tsx
  client/reader/user-profile/views/sites/index.tsx
  client/reader/user-profile/views/sites/test/sites.test.tsx
  packages/api-core/src/index.ts
  packages/api-core/src/me-preferences/types.ts
  packages/api-core/src/read-profile-settings/fetchers.ts
  packages/api-core/src/read-profile-settings/index.ts
  packages/api-core/src/read-profile-settings/types.ts
  packages/api-core/src/user-sites/fetchers.ts
  packages/api-core/src/user-sites/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/me-preferences.ts
  packages/api-queries/src/read-profile-settings.ts
  packages/api-queries/src/user-sites.ts
Owners: @Automattic/loop

Revert "Reader: add profile settings tab to edit identity and tab/site visibi…" (#111636)
  client/blocks/edit-gravatar/index.jsx
  client/components/section-nav/tabs.scss
  client/reader/data/user-profile/index.ts
  client/reader/data/user-profile/test/use-profile-tab-visibility.test.ts
  client/reader/data/user-profile/test/use-set-profile-tab-visibility.test.ts
  client/reader/data/user-profile/use-profile-tab-visibility.ts
  client/reader/data/user-profile/use-set-hidden-sites.ts
  client/reader/data/user-profile/use-set-profile-tab-visibility.ts
  client/reader/user-profile/components/top-sites/index.tsx
  client/reader/user-profile/components/top-sites/test/index.test.tsx
  client/reader/user-profile/components/user-profile-header/index.tsx
  client/reader/user-profile/components/user-profile-header/test/index.test.tsx
  client/reader/user-profile/index.tsx
  client/reader/user-profile/test/index.test.tsx
  client/reader/user-profile/views/settings/index.tsx
  client/reader/user-profile/views/settings/profile-identity-card.tsx
  client/reader/user-profile/views/settings/profile-visibility-card.tsx
  client/reader/user-profile/views/settings/sites-visibility-card.tsx
  client/reader/user-profile/views/settings/style.scss
  client/reader/user-profile/views/settings/test/index.test.tsx
  client/reader/user-profile/views/settings/test/profile-visibility-card.test.tsx
  client/reader/user-profile/views/settings/test/sites-visibility-card.test.tsx
  client/reader/user-profile/views/sites/index.tsx
  client/reader/user-profile/views/sites/test/sites.test.tsx
  packages/api-core/src/index.ts
  packages/api-core/src/me-preferences/types.ts
  packages/api-core/src/read-profile-settings/fetchers.ts
  packages/api-core/src/read-profile-settings/index.ts
  packages/api-core/src/read-profile-settings/types.ts
  packages/api-core/src/user-sites/fetchers.ts
  packages/api-core/src/user-sites/types.ts
  packages/api-queries/src/index.ts
  packages/api-queries/src/me-preferences.ts
  packages/api-queries/src/read-profile-settings.ts
  packages/api-queries/src/user-sites.ts
Owners: @Automattic/loop

media-library: migrate InfiniteList measurement off string refs + findDOMNode (React 19) (#111643)
  client/components/infinite-list/index.jsx
  client/components/sorted-grid/index.jsx
  client/my-sites/media-library/list-item.tsx
  client/my-sites/media-library/list.jsx
Owners: none

client/blocks: migrate function-component defaultProps to default params (React 19) (#111651)
  client/blocks/comments/comment-approve-action.jsx
  client/blocks/eligibility-warnings/index.tsx
  client/blocks/like-button/icons.jsx
  client/blocks/reader-full-post/unavailable.jsx
  client/blocks/shortcode/index.jsx
  client/blocks/user-mentions/suggestion-list.jsx
  client/blocks/user-mentions/suggestion.jsx
Owners: @Automattic/loop

client/components: remove unused components (#111652)
  client/components/feature-moved/index.tsx
  client/components/feature-moved/style.scss
  client/components/masonry-grid/README.md
  client/components/masonry-grid/docs/example.scss
  client/components/masonry-grid/docs/example.tsx
  client/components/masonry-grid/index.tsx
  client/components/masonry-grid/style.scss
  client/components/publicize-message/index.jsx
  client/components/publicize-message/style.scss
  client/components/text-diff/README.md
  client/components/text-diff/docs/example.jsx
  client/components/text-diff/index.jsx
  client/components/text-diff/style.scss
Owners: none

InfiniteList: remove transitional findDOMNode + string-ref fallback (React 19) (#111657)
  client/components/infinite-list/index.jsx
Owners: none

React 19 forward-compat: function-component defaultProps → default params (#DOTCOM-17400) (#111658)
  client/jetpack-connect/example-components/jetpack-activate.jsx
  client/jetpack-connect/example-components/jetpack-connect.jsx
  client/jetpack-connect/example-components/jetpack-install.jsx
  client/post-editor/media-modal/detail/detail-fields.jsx
  client/signup/recaptcha/index.jsx
  client/sites-dashboard/components/sites-site-name.ts
  client/sites/marketing/connections/account-dialog-account.jsx
  client/sites/marketing/connections/service-action.jsx
  client/sites/marketing/connections/service-connected-accounts.jsx
  client/sites/marketing/connections/service-example.jsx
  client/sites/marketing/connections/services-group.jsx
  client/sites/marketing/sharing/preview-action.jsx
  client/sites/settings/site/toolbar.jsx
Owners: none

Legacy Contact: add dashboard /me/security/legacy-contact view behind feature flag (#111595)
  client/dashboard/app/router/me.tsx
  client/dashboard/me/security-legacy-contact/index.tsx
  client/dashboard/me/security-legacy-contact/summary.tsx
  client/dashboard/me/security/index.tsx
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/dashboard-production.json
  config/dashboard-stage.json
Owners: @Automattic/lego

Legacy contact: remove classic Calypso /me/legacy-contact view (#111596)
  client/me/legacy-contact/controller.js
  client/me/legacy-contact/index.js
  client/me/legacy-contact/main.jsx
  client/me/legacy-contact/style.scss
  client/me/sidebar/index.jsx
  client/sections.js
Owners: none

Fix Plan button navigation in the interim omnibar (#111668)
  client/dashboard/app/interim-omnibar/interim-omnibar.tsx
  client/dashboard/app/interim-omnibar/test/omnibar-plan-button.test.tsx
  client/layout/masterbar/logged-in.jsx
  client/layout/masterbar/style.scss
Owners: @Automattic/lego

lib/accept: migrate off ReactDom.render/unmountComponentAtNode (React 19) (#111663)
  client/lib/accept/index.js
  client/lib/accept/test/index.js
  client/my-sites/plugins/hooks/test/use-show-plugin-action-dialog.jsx
Owners: none

Logs: vertically center Auto-refresh toggle with sibling header buttons (#111671)
  client/dashboard/sites/logs/dataviews/style.scss
Owners: @Automattic/lego

guided-tours: migrate legacy Context API to createContext (React 19) (#111670)
  client/layout/guided-tours/config-elements/conditional-block.js
  client/layout/guided-tours/config-elements/continue.jsx
  client/layout/guided-tours/config-elements/link-quit.jsx
  client/layout/guided-tours/config-elements/make-tour.js
  client/layout/guided-tours/config-elements/next.jsx
  client/layout/guided-tours/config-elements/quit.jsx
  client/layout/guided-tours/config-elements/site-link.jsx
  client/layout/guided-tours/config-elements/step.tsx
  client/layout/guided-tours/config-elements/tour.js
  client/layout/guided-tours/context-types.js
  client/layout/guided-tours/context.ts
Owners: none

Dashboard: port modern platform/architecture detection to the Apps screen (#111572)
  client/dashboard/me/apps/apps-desktop-card.tsx
  client/dashboard/me/apps/platform-detection.ts
  client/dashboard/me/apps/test/apps-desktop-card.test.tsx
  client/dashboard/me/apps/test/platform-detection.test.ts
Owners: @Automattic/lego

Reader connections: fix featured card gradient in dark mode (#111674)
  client/reader/connections/style.scss
Owners: @Automattic/loop

Help Center: scope persisted open-state per app to stop app leaking into other apps. (#111502)
  packages/data-stores/src/help-center/index.ts
  packages/data-stores/src/help-center/test/utils.ts
  packages/data-stores/src/help-center/utils.ts
  packages/help-center/src/components/help-center.tsx
Owners: @Automattic/t-rex

Desktop: restore PNG assets for Microsoft Store packaging (DOTAPP-5) (#111675)
  desktop/app/lib/platform/windows/index.js
  desktop/app/mainWindow/index.js
  desktop/public_desktop/linux-icon.png
  desktop/public_desktop/linux-icon.webp
  desktop/public_desktop/windows-tray-bubble.png
  desktop/public_desktop/windows-tray-bubble.webp
  desktop/resource/appx/Square150x150Logo.png
  desktop/resource/appx/Square150x150Logo.targetsize-150_altform-unplated.png
  desktop/resource/appx/Square150x150Logo.targetsize-150_altform-unplated.webp
  desktop/resource/appx/Square150x150Logo.webp
  desktop/resource/appx/Square44x44Logo.png
  desktop/resource/appx/Square44x44Logo.targetsize-44_altform-unplated.png
  desktop/resource/appx/Square44x44Logo.targetsize-44_altform-unplated.webp
  desktop/resource/appx/Square44x44Logo.webp
  desktop/resource/appx/StoreLogo.png
  desktop/resource/appx/StoreLogo.webp
  desktop/resource/appx/Wide310x150Logo.png
  desktop/resource/appx/Wide310x150Logo.webp
Owners: none

desktop: Bump version to 8.2.1-beta1 (#111676)
  desktop/package.json
Owners: none

A4A MSD: add route guards blocking cross-access between agency and client. (#111430)
  client/dashboard/agency-client/subscriptions/index.tsx
  client/dashboard/agency/overview/index.tsx
  client/dashboard/app/router/agency-client.tsx
  client/dashboard/app/router/agency.tsx
  client/dashboard/app/router/redirect.ts
  client/dashboard/app/router/sites.tsx
Owners: @Automattic/lego

A4A Plugins: standardize description text size in update modal (#111678)
  client/a8c-for-agencies/sections/plugins/style.scss
Owners: none

Notifications: render new apps/notifications app behind notifications/redesign flag (#111608)
  apps/notifications/src/app/note-list/dataviews-overrides.scss
  apps/notifications/src/standalone-app/style.scss
  client/notifications/index.jsx
  client/notifications/style.scss
  config/development.json
  config/wpcalypso.json
  packages/calypso-e2e/src/lib/components/notifications-component.ts
  test/e2e/specs/infrastructure/notifications__general-interaction.ts
Owners: none

desktop: Bump version to 8.2.1 (#111679)
  desktop/package.json
Owners: none

[codex] Remove CIAB disconnected entrypoints (#109936)
  apps/agents-manager/AGENTS.md
  apps/agents-manager/agents-manager-ciab-disconnected.js
  apps/agents-manager/webpack.config.js
  apps/help-center/AGENTS.md
  apps/help-center/help-center-ciab-admin-disconnected.js
  apps/help-center/webpack.config.js
Owners: none

Onboarding/entrepreneur: publish Playground sandbox to WordPress.com (#111503)
  client/landing/stepper/declarative-flow/flows/entrepreneur-flow/entrepreneur-flow.ts
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/create-site/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/components/playground-setup/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/lib/constants.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/lib/import-playground.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/playground/test/index.tsx
  client/state/imports/actions.js
  packages/onboarding/src/cart/index.tsx
Owners: none

E2E: stabilise openSettings selector and auth-cookie writes (#111624)
  packages/calypso-e2e/src/lib/components/editor-toolbar-component.ts
  packages/calypso-e2e/src/lib/test-account.ts
Owners: none

Login: standardize React 19 JSX on the import style (#111620)
  client/login/magic-login/utils/heading-utils.tsx
  client/login/wp-login/components/one-login-footer.tsx
  client/login/wp-login/components/one-login-layout.tsx
Owners: none

Plugins: add Jetpack SEO hint to plugin search results (#111591)
  client/my-sites/plugins/plugins-banners/jetpack-seo-banner/index.tsx
  client/my-sites/plugins/plugins-banners/jetpack-seo-banner/style.scss
  client/my-sites/plugins/plugins-banners/jetpack-seo-banner/test/index.tsx
  client/my-sites/plugins/plugins-search-results-page/index.jsx
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: none

Achievements: link unlocked cards to their post or comment (#111692)
  client/reader/user-profile/views/achievements/achievements-grid/generic-achievement.tsx
  client/reader/user-profile/views/achievements/achievements-grid/index.tsx
  client/reader/user-profile/views/achievements/achievements-grid/style.scss
  client/reader/user-profile/views/achievements/achievements-grid/test/generic-achievement.test.tsx
  packages/api-core/src/read-achievements/types.ts
Owners: @Automattic/loop

Revert "Plugins: add Jetpack SEO hint to plugin search results (#111591)" (#111696)
  client/my-sites/plugins/plugins-banners/jetpack-seo-banner/index.tsx
  client/my-sites/plugins/plugins-banners/jetpack-seo-banner/style.scss
  client/my-sites/plugins/plugins-banners/jetpack-seo-banner/test/index.tsx
  client/my-sites/plugins/plugins-search-results-page/index.jsx
  config/development.json
  config/horizon.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
Owners: none

My Sites: split remaining React 19 updates (#111366)
  client/my-sites/checkout/src/components/checkout-main-content.tsx
  client/my-sites/checkout/src/components/wp-checkout-order-summary.tsx
  client/my-sites/checkout/src/test/checkout-contact-autocomplete.tsx
  client/my-sites/checkout/src/test/checkout-vat-form.tsx
  client/my-sites/customer-home/celebrate-site-launch-modal/use-redux-site-with-query-client-launch-status-sync.ts
  client/my-sites/domains/components/domain-warnings/test/index.js
  client/my-sites/earn/components/add-edit-coupon-modal/test/index.tsx
  client/my-sites/earn/memberships/test/coupons-list.tsx
  client/my-sites/media-library/list.jsx
  client/my-sites/people/team-invite/invite-form.tsx
  client/my-sites/plugins/plugin-management-v2/test/remove-plugin.test.tsx
  client/my-sites/promote-post-i2/components/campaigns-filter/index.tsx
  client/my-sites/promote-post-i2/components/payments-filter/index.tsx
  client/my-sites/promote-post-i2/components/promoted-post-filter/index.tsx
  client/my-sites/promote-post-i2/components/search-bar/index.tsx
  client/my-sites/site-settings/seo-settings/test/form.jsx
  client/my-sites/site-settings/test/form-google-analytics.jsx
  client/my-sites/stats/stats-module-utm-builder/stats-module-utm-builder-form.tsx
  client/my-sites/store/components/d3/sparkline/index.jsx
  client/my-sites/store/components/d3/sparkline/test/index.jsx
  packages/domain-search/src/components/unavailable-search-result/test/index.tsx
Owners: @Automattic/shilling

Stats: keep line chart tooltip inside the viewport (#110781)
  client/my-sites/stats/components/line-chart/styles.scss
Owners: none

ui: Stepper CSS cleanups from #111036 review feedback (#111616)
  packages/ui/src/stepper/style.module.scss
Owners: none

Agents Manager: Consolidate temporary undocking conditions into a single `useCanDock` hook (#111402)
  packages/agents-manager/src/hooks/use-agent-layout-manager/index.tsx
Owners: none

Desktop: Sign and notarize mac build on Buildkite (#110331)
  .buildkite/commands/build-desktop-mac.sh
  .buildkite/pipeline.yml
  desktop/Gemfile
  desktop/Gemfile.lock
  desktop/bin/after_sign_hook.js
  desktop/fastlane/Fastfile
  desktop/fastlane/lib/helpers.rb
Owners: none

Notifications: page load-more with a `before` cursor instead of a growing window (#111577)
  apps/notifications/src/app/note-list/index.tsx
  apps/notifications/src/panel/rest-client/index.js
  apps/notifications/src/panel/rest-client/test/index.test.js
Owners: none

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego
