Repository deepscan/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/serenity, @Automattic/jetpack-avalon, @Automattic/yolo, @Automattic/shilling, @Automattic/loop, @Automattic/type-review, @Automattic/experimentation-platform, @Automattic/i18n, @Automattic/nomado, @Automattic/quake, @Automattic/martech, @Automattic/t-rex, @Automattic/dotcom-stepper, @youknowriad, @Automattic/io, @Automattic/lego

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/gsuite @Automattic/jetpack-avalon
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/jetpack-avalon
/client/lib/domains/email-forwarding @Automattic/jetpack-avalon
/client/lib/gsuite @Automattic/jetpack-avalon
/client/lib/titan @Automattic/jetpack-avalon
/client/my-sites/domains/components/domain-warnings/pending-gsuite-tos-notice.jsx @Automattic/jetpack-avalon
/client/my-sites/domains/email-providers-upsell/index.tsx @Automattic/jetpack-avalon
/client/my-sites/email @Automattic/jetpack-avalon

# Staging sites - new dashboard
/packages/api-queries/src/site-staging-sync.ts @Automattic/yolo
/packages/api-queries/src/site-staging-sites.ts @Automattic/yolo
/packages/api-core/src/site-staging-site @Automattic/yolo
/client/dashboard/utils/site-staging-site.ts @Automattic/yolo
/client/dashboard/sites/staging-site-sync-dropdown @Automattic/yolo
/client/dashboard/sites/staging-site-sync-modal @Automattic/yolo
/client/dashboard/sites/staging-site-delete-modal @Automattic/yolo
/client/dashboard/sites/site/environment-switcher.tsx @Automattic/yolo
/client/dashboard/app/staging-site-sync-monitor @Automattic/yolo

# Staging sites - interim dashboard
/client/sites/staging-site @Automattic/yolo

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/loop
/client/blocks/reader-* @Automattic/loop
/client/state/reader @Automattic/loop

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/data/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado

# Domains entrypoints and UI components
/client/components/domains @Automattic/quake
/client/components/domain-search-v2 @Automattic/quake
/client/signup/steps/domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/unified-domains @Automattic/quake
/client/landing/stepper/declarative-flow/internals/steps-repository/domains @Automattic/quake

# Plans
/client/my-sites/plans-grid @Automattic/martech
/packages/plans-grid-next @Automattic/martech
/packages/data-stores/plans @Automattic/martech
/packages/data-stores/add-ons @Automattic/martech
/packages/data-stores/wpcom-plans-ui @Automattic/martech

# Support
/packages/help-center @Automattic/t-rex

# Onboarding
/client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
/client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
/client/landing/stepper/utils @Automattic/dotcom-stepper
/client/landing/stepper/*.ts @Automattic/dotcom-stepper
/client/landing/stepper/*.tsx @Automattic/dotcom-stepper
/packages/onboarding/src/step-container-v2 @Automattic/quake

# Exclude Stepper steps
/client/landing/stepper/declarative-flow/internals/steps-repository

# DataViews
/packages/dataviews @youknowriad @Automattic/io

# Grid package
/packages/grid @youknowriad

# V2 Dashboard
/client/dashboard @Automattic/lego

Image Studio: Rename Image Editor to Jetpack Image Editor (#109991)
  packages/image-studio/src/components/header/index.test.tsx
  packages/image-studio/src/components/header/index.tsx
  packages/image-studio/src/components/style.scss
Owners: none

MSD: Remove canPurchaseBeUpgraded (#109948)
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
Owners: @Automattic/lego

Fix plan term selector showing 99% off instead of actual savings for intro offer plans (#109957)
  packages/plans-grid-next/src/components/plan-type-selector/hooks/use-max-discount.ts
  packages/plans-grid-next/src/components/plan-type-selector/hooks/use-max-discounts-for-plan-terms.ts
Owners: @Automattic/martech

Add description to WooHosted Free Plan card (#109976)
  client/dashboard/sites/overview-plan-card/index.tsx
Owners: @Automattic/lego

Dashboard AGENTS.md: add rule against branching on appConfig.name (#109984)
  client/dashboard/AGENTS.md
Owners: @Automattic/lego

Reader: Use updated fields from rest/v1.1/users endpoint (#109846)
  client/lib/user/user.d.ts
  client/reader/user-profile/components/user-profile-header/index.tsx
  client/reader/user-profile/components/user-profile-header/test/index.tsx
  client/reader/user-profile/test/index.tsx
  client/reader/user-profile/views/sites/test/sites.test.tsx
  client/reader/user-profile/views/test/recommended-blogs.tsx
Owners: @Automattic/loop

Reader: For external RSS feeds use site avatar as author avatar (#109895)
  client/blocks/reader-full-post/header-meta.jsx
  client/blocks/reader-full-post/test/header-meta.jsx
Owners: @Automattic/loop

Reader: Adds caller param to users/sites endpoint (#109897)
  client/reader/user-profile/queries/use-user-sites-query.ts
Owners: @Automattic/loop

Reader: Fix user avatar inconsistent navigations (#109718)
  client/blocks/comments/form.jsx
  client/blocks/comments/post-comment.jsx
  client/blocks/comments/post-comment.scss
  client/blocks/comments/post-trackback.tsx
  client/blocks/reader-full-post/header-meta.jsx
  client/blocks/reader-subscription-list-item/placeholder.tsx
  client/blocks/reader-subscription-list-item/style.scss
  client/blocks/reader-suggested-follows/style.scss
  client/blocks/user-avatar/docs/example.tsx
  client/blocks/user-avatar/index.tsx
  client/blocks/user-avatar/style.scss
  client/blocks/user-avatar/test/index.tsx
  client/components/gravatar-with-hovercards/hovercard-content.jsx
  client/components/gravatar-with-hovercards/index.jsx
  client/reader/recommended-sites/recommended-site.tsx
  client/reader/stream/style.scss
  client/reader/stream/x-post.jsx
  client/reader/user-profile/components/user-profile-header/index.tsx
Owners: @Automattic/loop

Signup: Auto-install WooCommerce for woo-hosting-solutions-flow ref (#109981)
  client/landing/stepper/constants.ts
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/post-checkout/post-checkout-onboarding.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/wait-for-plugin-install/index.tsx
  client/landing/stepper/utils/wait-for-plugins-active.ts
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans.tsx
  packages/plans-grid-next/src/types.ts
Owners: @Automattic/dotcom-stepper, @Automattic/martech

Reader: Fix cannot read from null error (#109996)
  client/blocks/reader-full-post/header-meta.jsx
Owners: @Automattic/loop

Stripe UPI: Make available for free trials (#109438)
  client/my-sites/checkout/src/lib/upi-processor.ts
  packages/wpcom-checkout/src/types.ts
Owners: @Automattic/shilling

Social E2E: Update SIG locators for renamed popover labels (#109998)
  test/e2e/specs/jetpack/social__editor-features.ts
Owners: none

Signup: Fix woo-hosting-solutions-flow regressions (#109997)
  client/landing/stepper/declarative-flow/flows/onboarding/onboarding.ts
  client/landing/stepper/declarative-flow/internals/analytics/record-step-start.ts
  client/landing/stepper/declarative-flow/internals/steps-repository/unified-plans/index.tsx
  client/landing/stepper/declarative-flow/internals/steps-repository/wait-for-plugin-install/index.tsx
  client/landing/stepper/utils/wait-for-plugins-active.ts
Owners: @Automattic/dotcom-stepper

Fix Gravatar domain redirect after purchase (#109986)
  client/my-sites/checkout/get-thank-you-page-url/index.ts
  client/my-sites/checkout/src/lib/pending-page.ts
  client/signup/config/flows.js
Owners: @Automattic/shilling

Image Studio: fix missing is_test and post_type on track events (#109983)
  packages/image-studio/jest.config.js
  packages/image-studio/src/__mocks__/@automattic/calypso-analytics.ts
  packages/image-studio/src/index.tsx
  packages/image-studio/src/utils/tracking.test.ts
  packages/image-studio/src/utils/tracking.ts
Owners: none

Image Studio: Fix style_selected tracks event and default toolbar label (#109982)
  packages/image-studio/src/components/style-picker/index.test.tsx
  packages/image-studio/src/components/style-picker/index.tsx
  packages/image-studio/src/store/index.test.ts
  packages/image-studio/src/store/index.ts
  packages/image-studio/src/utils/client-context.ts
Owners: none

Image Studio: Scope nav pill to uploads page, fix header spacing (#109993)
  packages/image-studio/src/components/header/index.test.tsx
  packages/image-studio/src/components/header/index.tsx
  packages/image-studio/src/components/header/style.scss
Owners: none

Telegram Connect: Require explicit confirmation before linking account (#110001)
  client/telegram-connect/main.jsx
  client/telegram-connect/style.scss
Owners: none

e2e: Update Jetpack Settings tab locators for newer navigation (#110003)
  packages/calypso-e2e/src/lib/pages/wp-admin/jetpack-dashboard-page.ts
Owners: none

QAO-357: Fix flaky <SiteOverview> tests via async getCard helper (#109990)
  client/dashboard/sites/overview/test/index.test.tsx
Owners: @Automattic/lego

Remove `wpcom_ai_on_logged_out_support_pages_v3` experiment gating (#110004)
  apps/happy-blocks/block-library/search-card/includes.php
  apps/happy-blocks/block-library/search-card/index.php
  apps/happy-blocks/block-library/support-content-footer/includes.php
Owners: none

MSD: Use is_attached_to_holding_site instead of isTemporarySitePurchase (#109959)
  client/components/marketing-survey/cancel-jetpack-form/index.tsx
  client/dashboard/app/router/me.tsx
  client/dashboard/components/purchase-expiry-status/index.tsx
  client/dashboard/me/billing-purchases/AGENTS.md
  client/dashboard/me/billing-purchases/cancel-purchase/index.tsx
  client/dashboard/me/billing-purchases/dataviews.tsx
  client/dashboard/me/billing-purchases/purchase-product.tsx
  client/dashboard/me/billing-purchases/purchase-settings/index.tsx
  client/dashboard/me/billing-purchases/purchase-settings/purchase-expiring-notice.tsx
  client/dashboard/utils/purchase.ts
  client/lib/purchases/index.ts
  client/me/purchases/AGENTS.md
  client/me/purchases/cancel-purchase/cancellation-effect.tsx
  client/me/purchases/manage-purchase/auto-renew-toggle/auto-renew-disabling-dialog/index.tsx
  client/me/purchases/manage-purchase/index.tsx
  client/me/purchases/manage-purchase/notices.tsx
  client/me/purchases/manage-purchase/plan-details/billing-period.tsx
  client/me/purchases/manage-purchase/purchase-meta-expiration.tsx
  client/me/purchases/manage-purchase/purchase-meta.tsx
  client/me/purchases/purchase-item/index.tsx
  client/me/purchases/purchases-site/header.jsx
  client/me/purchases/remove-purchase/index.jsx
  client/me/purchases/utils.ts
  client/my-sites/checkout/AGENTS.md
  client/my-sites/checkout/checkout-thank-you/akismet-checkout-thank-you.tsx
  client/state/purchases/test/selectors.js
  packages/api-core/src/upgrades/types.ts
  packages/data-stores/src/purchases/lib/assembler.ts
  packages/data-stores/src/purchases/types.ts
Owners: @Automattic/lego, @Automattic/shilling

Suppress Survicate popups while Help Center is open (#109989)
  packages/data-stores/src/help-center/actions.ts
  packages/survicate/package.json
  packages/survicate/src/invoke-event.ts
  packages/survicate/src/test/invoke-event.test.ts
  packages/survicate/src/visitor-traits.ts
  yarn.lock
Owners: none

Add server controlled plans page to Multi Site Dashboard (#109871)
  client/dashboard/app/router/sites.tsx
  client/dashboard/sites/overview/test/index.test.tsx
  client/dashboard/sites/site-plans/index.tsx
  client/dashboard/sites/site-plans/style.scss
  config/dashboard-development.json
  config/dashboard-horizon.json
  config/development.json
  config/horizon.json
  config/wpcalypso.json
  packages/api-core/src/constants.ts
  packages/api-core/src/plans/fetchers.ts
  packages/api-core/src/plans/types.ts
  packages/api-core/src/site-plans/fetchers.ts
  packages/api-core/src/site-plans/types.ts
  packages/api-core/src/upgrades/types.ts
  packages/api-queries/src/site-plans.ts
Owners: @Automattic/lego

Checkout: Simplify and fix cost overrides before/after prices (#109974)
  client/my-sites/checkout/src/components/cost-overrides-list.tsx
  client/my-sites/checkout/src/components/wp-checkout-order-summary.tsx
  client/my-sites/checkout/utils/use-equivalent-monthly-totals.ts
  packages/wpcom-checkout/src/transformations.ts
Owners: @Automattic/shilling

Post-checkout: skip Atomic transfer init for Commerce plans on Woo ref (#110007)
  client/landing/stepper/declarative-flow/internals/steps-repository/post-checkout/post-checkout-onboarding.tsx
Owners: none

Woo hosting solutions flow: include Personal and Premium plans (#110006)
  packages/plans-grid-next/src/hooks/data-store/use-grid-plans.tsx
Owners: @Automattic/martech

Add performance and connection data to tracks (#109992)
  client/lib/analytics/super-props.js
  packages/calypso-analytics/src/index.ts
  packages/calypso-analytics/src/tracks.ts
  packages/calypso-analytics/src/utils/connection-speed-data.ts
Owners: none

HD v1: Redirect to reauth when route errors with reauthorization_required (#110009)
  client/sites/v2/components/500.tsx
Owners: none

Agents Manager: use new /ai/jwt endpoint for agent auth (#109656)
  client/landing/stepper/index.tsx
  packages/agents-manager/src/auth/calypso-auth-provider.ts
Owners: @Automattic/dotcom-stepper

CIAB: Use Woo logo for dashboard loading and skip SSR loader (#109978)
  client/dashboard/app-ciab/index.tsx
  client/document/index.jsx
Owners: @Automattic/lego

Image Studio: Disable nav pill while edits are in progress (#110021)
  packages/image-studio/src/components/header/index.test.tsx
  packages/image-studio/src/components/header/index.tsx
  packages/image-studio/src/components/style.scss
Owners: none

Image Studio: Persist each image rating for the session (FORNO-277) (#110020)
  packages/image-studio/src/components/canvas-controls/index.tsx
  packages/image-studio/src/components/canvas-controls/style.scss
  packages/image-studio/src/components/index.tsx
  packages/image-studio/src/store/index.test.ts
  packages/image-studio/src/store/index.ts
Owners: none

[Checkout] Support Pix Automático (#109231)
  client/dashboard/me/billing-purchases/payment-methods/translate-payment-method-names.ts
  client/my-sites/checkout/AGENTS.md
  client/my-sites/checkout/src/components/checkout-main.tsx
  client/my-sites/checkout/src/hooks/use-create-payment-methods/index.tsx
  client/my-sites/checkout/src/lib/pix-automatico-processor.ts
  client/my-sites/checkout/src/lib/pix-confirmation.tsx
  client/my-sites/checkout/src/payment-methods/pix.tsx
  config/development.json
  config/horizon.json
  config/jetpack-cloud-development.json
  config/jetpack-cloud-horizon.json
  config/jetpack-cloud-production.json
  config/jetpack-cloud-stage.json
  config/production.json
  config/stage.json
  config/test.json
  config/wpcalypso.json
  packages/wpcom-checkout/src/translate-payment-method-names.ts
  packages/wpcom-checkout/src/types.ts
Owners: @Automattic/lego, @Automattic/shilling

Profile Links: Cleanup unused state and components (#110022)
  client/components/data/query-profile-links/README.md
  client/components/data/query-profile-links/index.jsx
  client/lib/two-step-authorization/index.js
  client/me/profile-link/README.md
  client/me/profile-link/index.jsx
  client/me/profile-link/style.scss
  client/me/profile/style.scss
  client/state/action-types.ts
  client/state/data-layer/wpcom/me/settings/profile-links/delete/index.js
  client/state/data-layer/wpcom/me/settings/profile-links/delete/test/index.js
  client/state/data-layer/wpcom/me/settings/profile-links/index.js
  client/state/data-layer/wpcom/me/settings/profile-links/new/index.js
  client/state/data-layer/wpcom/me/settings/profile-links/new/test/index.js
  client/state/data-layer/wpcom/me/settings/profile-links/test/index.js
  client/state/profile-links/actions.js
  client/state/profile-links/init.js
  client/state/profile-links/package.json
  client/state/profile-links/reducer.js
  client/state/profile-links/test/actions.js
  client/state/profile-links/test/reducer.js
  client/state/selectors/get-profile-links-error-type.js
  client/state/selectors/get-profile-links.js
  client/state/selectors/get-public-sites.js
  client/state/selectors/is-site-in-profile-links.js
  client/state/selectors/test/get-profile-links-error-type.js
  client/state/selectors/test/get-profile-links.js
  client/state/selectors/test/get-public-sites.js
  client/state/selectors/test/is-site-in-profile-links.js
Owners: none

FORNO-304: Add @automattic/jetpack-ai-sidebar package (#109440)
  apps/agents-manager/jetpack-ai-sidebar.js
  apps/agents-manager/jetpack-ai-sidebar.provider.mjs
  apps/agents-manager/package.json
  apps/agents-manager/webpack.config.js
  packages/agents-manager/src/hooks/use-empty-view-suggestions.ts
  packages/agents-manager/src/hooks/use-zoom-action.ts
  packages/agents-manager/src/utils/load-external-providers.ts
  packages/jetpack-ai-sidebar/AGENTS.md
  packages/jetpack-ai-sidebar/CLAUDE.md
  packages/jetpack-ai-sidebar/jest.config.js
  packages/jetpack-ai-sidebar/package.json
  packages/jetpack-ai-sidebar/src/auto-scroll-fix.scss
  packages/jetpack-ai-sidebar/src/components/title-picker.scss
  packages/jetpack-ai-sidebar/src/components/title-picker.tsx
  packages/jetpack-ai-sidebar/src/index.test.ts
  packages/jetpack-ai-sidebar/src/index.ts
  packages/jetpack-ai-sidebar/src/utils/tool-provider.ts
  packages/jetpack-ai-sidebar/tsconfig-cjs.json
  packages/jetpack-ai-sidebar/tsconfig.json
  yarn.lock
Owners: none

Plans: fix pricing and upgrade credits for far-future proration discounts (#110019)
  client/my-sites/plans-features-main/hooks/test/use-max-plan-upgrade-credits.tsx
  client/my-sites/plans-features-main/hooks/use-max-plan-upgrade-credits.ts
  packages/data-stores/src/plans/hooks/test/use-pricing-meta-for-grid-plans.ts
  packages/data-stores/src/plans/hooks/use-pricing-meta-for-grid-plans.ts
Owners: none

Image Studio: guard canvas-controls against stale registered store (#110035)
  packages/image-studio/src/components/canvas-controls/index.tsx
Owners: none

Sticky Jetpack footer + fixed primary layout across admin pages (#109899)
  client/a8c-for-agencies/sections/sites/features/jetpack/style.scss
  client/a8c-for-agencies/sections/sites/sites-dashboard/style.scss
  client/components/jetpack-page-layout/_admin-ui-page.scss
  client/components/sidebar-navigation/style.scss
  client/jetpack-cloud/sections/jetpack-social/promo.jsx
  client/jetpack-cloud/sections/jetpack-social/promo.scss
  client/jetpack-cloud/style.scss
  client/my-sites/activity/activity-log-v2/index.tsx
  client/my-sites/activity/activity-log-v2/style.scss
  client/my-sites/activity/activity-log/style.scss
  client/my-sites/backup/main.jsx
  client/my-sites/backup/style.scss
  client/my-sites/earn/main.tsx
  client/my-sites/earn/style.scss
  client/my-sites/plugins/plugins-dashboard/style.scss
  client/my-sites/scan/history/index.tsx
  client/my-sites/scan/main.tsx
  client/my-sites/scan/style.scss
  client/my-sites/site-settings/podcasting-details/style.scss
  client/sites/components/style.scss
  client/sites/marketing/traffic/style.scss
Owners: none
